{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/azia.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <style>
            #wrapper {
                overflow-x: hidden;
            }
            #sidebar-wrapper {
                min-height: 240vh;
                height:max-content !important;
                margin-left: -15rem;
                -webkit-transition: margin .25s ease-out;
                -moz-transition: margin .25s ease-out;
                -o-transition: margin .25s ease-out;
                transition: margin .25s ease-out;
                background-color: #5627D8 !important;
            }
            #sidebar-wrapper .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
                background-color:#5627D8;
                border-bottom: 1px solid white;
                color:white;
            }
            #sidebar-wrapper .list-group {
                width: 15rem;
            }
            #page-content-wrapper {
                min-width: 100vw;
                background-color:rgb(175, 168, 168);
            }
            #wrapper.toggled #sidebar-wrapper {
                margin-left: 0;
            }
            @media (min-width: 768px) {
                #sidebar-wrapper {
                    margin-left: 0;
                }

                #page-content-wrapper {
                    min-width: 0;
                    width: 100%;
                }

                #wrapper.toggled #sidebar-wrapper {
                    margin-left: -15rem;
                }
            }

            .collapsible {
                background-color: transparent;
                color: white;
                cursor: pointer;
                padding: 10px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                /* border-bottom: 1px solid #5627D8; */

            }

            .active,
            .collapsible:hover,
            .active:hover {
                background-color: #eee;
                color:#5627D8;
            }

            .collapsible:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2212";
                color:#5627D8;
                
            }
            .active:after:hover {
                /* content: "\2212"; */
                color:#5627D8;
                
            }

            .content {
                padding: 0;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                background-color: #eee;
            }

            .section-gap {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                padding-top: 65px !important;
                padding-bottom: 0 !important;

            }
            .list-group-item {
                padding: 0.4rem 1.25rem !important;
                margin-bottom: -1px;
                background-color: #fff;
                border: none !important;
            }
            .list-group-item:hover{
                background-color: #eee;
                color:#5627D8 !important;
            }
            .list-group-item-action.subactive{
                background-color: #031b4e !important;
                color:white !important;
            }
            .table td{
                border:none !important;
                border-bottom: 1px solid #cdd4e0 !important;
            }
            .card{
                margin:20px 80px !important;
            }
            .fa-bars{
               font-size: 1.5rem !important;
           }
           input,textarea,select{
            width:100% !important;
            padding: 7px;
            color: #222;
            border: 1px solid #d3d3d3;
            border-radius: 3px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
            transition: border-color .15s linear,box-shadow .1s linear;
            -webkit-font-smoothing: antialiased;
            margin-bottom:10px !important;
           }
           .asteriskField{
               color:red
           }
           label{
               font-weight:500;
           }
           
        </style>
    </head>
    <body>
        <header id="header" class="base-header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40 /></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a  href="{% url 'account_logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </header>

        <section class="col-lg-12 section-gap">

            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class=" border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Menu</div>
                  <div class="list-group list-group-flush">
                    <button class="collapsible default">Total Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action">View</a>
                        <a href="{% url 'sendemailtoallusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideastoallusers' %}" class="list-group-item list-group-item-action">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action">Manage Accounts</a>
                    </div>
                    <button class="collapsible">Free Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action">View</a>
                        <a href="{% url 'sendemailfreeusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideasfreeusers' %}" class="list-group-item list-group-item-action subactive">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action">Manage Accounts</a>
                    </div>
                    <button class="collapsible">Gold Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action ">View</a>
                        <a href="{% url 'sendemailgoldusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideasgoldusers' %}" class="list-group-item list-group-item-action ">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action ">Manage Accounts</a>
                    </div>
                    <button class="collapsible">Diamond Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action ">View</a>
                        <a href="{% url 'sendemaildiamondusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideasdiamondusers' %}" class="list-group-item list-group-item-action ">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action ">Manage Accounts</a>
                    </div>
                
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button class="btn btn-primarys" id="menu-toggle"><i class="fa fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                   <div class="card">
                       <div class="card-header">
                           <h3 class="text-center">Send Ideas to all users</h3>
                       </div>
                       <div class="card-body">
                            <div>
                                <form action="#" method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    {{form|crispy}}
                                    <div class="text-right">
                                        <button class="btn  mg-t-30 btn-success">Submit</button>
                                    </div>
                                </form>
                            </div>
                       </div>
                   </div>
                </div>

            
        </section>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"> 
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });

        $( document ).ready(function() {
            var col2 = document.getElementsByClassName("default");
            var i;

            for (i = 0; i < coll.length; i++) {
                $( ".default" ).click();
            // coll[i].addEventListener("click", function() {
                // this.classList.toggle("active");
                console.log(this)
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                content.style.maxHeight = null;
                } else {
                content.style.maxHeight = content.scrollHeight + "px";
                } 
            // });
            }
        });

        

        var coll =$(".collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            // $('.collapsible').removeClass("show active");
            this.classList.toggle("active");
            // this.classList.toggle("show");

            console.log(this)
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
        $('.content a').click(function(){
            $('.content a').removeClass('subactive')
            $(this).addClass('subactive')
        })
        $("body").css({visibility:'visible'});
      </script>
</html>
{% endblock %}