
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/azia.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/SubscriptionAdmin.css' %}">
        <title>Subscription Admin - 72PI</title>
    </head>
    <body>
        <header id="header" class="base-header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40 /></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a  href="{% url 'account_logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </header>

        <section class="col-lg-12 section-gap">
            <div class="d-flex" id="wrapper">
                <!-- Sidebar -->
                <div class=" border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Menu</div>
                  <div class="list-group list-group-flush">
                    <a  href="{% url 'homeAdmin' %}" class="btns collapsible default subactive">Home</a>
                    <a  href="{% url 'sendEmailsAdmin' %}" class="btns collapsible">Send Emails</a>
                    <a  href="{% url 'sendIdeasAdmin' %}" class="btns collapsible">Send Ideas</a>
                    <a  href="{% url 'manageAccountsAdmin' %}" class="btns collapsible">Manage Accounts</a>
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button class="btn btn-primarys" id="menu-toggle"><i class="fa fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="mg-l-30 mg-r-30">
                        <div class="row mg-t-30">
                            <div class="col-lg-3 ">
                                <div class="card alert-primary">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Total Customers</h4>
                                        <h1 class="text-center">{{alluserscount}}</h1>
                                    </div>
                                    <hr>
                                    <div class="text-center mg-b-10">
                                        <a href="{% url 'viewallusers' %}" class="btn btn-outline-secondary">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 ">
                                <div class="card alert-danger">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Free Subscribers</h4>
                                        <h1 class="text-center">{{freeuserscount}}</h1>
                                    </div>
                                    <hr>
                                   <div class="text-center mg-b-10">
                                    <a href="{% url 'viewfreeusers' %}" class="btn btn-outline-secondary">View</a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card  alert-info">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Gold Subscribers</h4>
                                        <h1 class="text-center">{{golduserscount}}</h1>
                                    </div>
                                    <hr>
                                    <div class="text-center mg-b-10">
                                        <a href="{% url 'viewgoldusers' %}" class="btn btn-outline-secondary">View</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card  alert-success">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Diamond Subscribers</h4>
                                        <h1 class="text-center">{{diamonduserscount}}</h1>
                                    </div>
                                    <hr>
                                    <div class="text-center mg-b-10">
                                        <a href="{% url 'viewdiamondusers' %}" class="btn btn-outline-secondary">View</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="mg-t-40">
                            <table class="table table-bordered">
                                <thead>
                                <th>S.No</th>
                                <th>Customer Name</th>
                                <th>Email-Id</th>
                                <th>Last Login</th>
                                <th>Date Joined</th>
                                <th>Valid From</th>
                                <th>Valid Till</th>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.last_login}}</td>
                                        <td>{{user.date_joined}}</td>
                                        <td>{{user.valid_from}}</td>
                                        <td>{{user.valid_till}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            
              </div>
            </div>
            
        </section>
        <footer class="footer-section mainfooter">
            <div class="container pd-l-0 pd-r-0">
                <div class="footer-cta pt-3 pb-2">
                    <div class="row">
                        <div class="col-xl-4 col-md-4">
                            <div class="single-cta">
                                <!-- <i class="fas fa-map-marker-alt"></i> -->
                                <i class="fa fa-map-marker " aria-hidden="true"></i>
                                <div class="cta-text ">
                                    <h4>Find us</h4>
                                      
                                    <span>Khajaguda,Manikonda,Hyderabad</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4">
                            <div class="single-cta">
                                <i class="fa fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call us</h4>
                                    <span>+91-7207011234</span><br/>
                                    <span> +91-8919293838</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4">
                            <div class="single-cta">
                                <i class="fa fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <span>ghcadmin@goldenhillsindia.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-2 pb-2">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static 'homepage/img/logo3.png' %}" class="img-fluid" width='100' height='100' alt="logo"></a>
                                </div>
                                <div class="footer-text text-justify">
                                    <p>Welcome to 72PI, an online portal with curated content / information and analytical tools for the equity markets in India. We do not provide investment advisory services. We provide web content and analytics tools that are easily to understand and help increase your knowledge of markets.</p>
                                </div>
                             
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                  <li>
                                    <a href="{% url 'privacypolicy' %}" target="_blank">Privacy Policy</a>
                                  </li>
                                  <li>
                                    <a href="">Trust & Security</a>
                                  </li>
                                  <li>
                                    <a href="">Terms of Use</a>
                                    
                                  </li>
                                  <li>
                                    <a href="{% url 'aboutus' %}" target="_blank">About Us</a>
                                  </li>
                                  <li><a href="{% url 'customerContactUs' %}" class="contactus">Contact Us</a></li>
                                  <li><a href="#">FAQ</a></li>
                                  <li><a href="{% url 'customerFeedback' %}">Feedback</a></li>
                                  <li><a href="#">Report a bug</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Email Address">
                                        <button><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 text-center text-lg-left pd-l-0">
                            <div class="copyright-text text-white">
                              Powered </i> by <a href="https://goldenhillsindia.com" target="_blank">Golden Hills Capital India Pvt Ltd</a> | Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"> 
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        $( document ).ready(function() {
            var col2 = document.getElementsByClassName("default");
            var i;
            for (i = 0; i < col2.length; i++) {
                $( ".default" ).click();
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                content.style.maxHeight = null;
                } else {
                content.style.maxHeight = content.scrollHeight + "px";
                } 
            }
        });
        $('.content a').click(function(){
            $('.content a').removeClass('subactive')
            $(this).addClass('subactive')
        })
        $("body").css({visibility:'visible'});
      </script>
</html>