{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/azia.css' %}">
        <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <style>
            #wrapper {
                overflow-x: hidden;
            }
            #sidebar-wrapper {
                min-height: 100vh;
                height:max-content !important;
                margin-left: -15rem;
                -webkit-transition: margin .25s ease-out;
                -moz-transition: margin .25s ease-out;
                -o-transition: margin .25s ease-out;
                transition: margin .25s ease-out;
                background-color: #DADADA !important;
            }
            #sidebar-wrapper .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
                background-color:#5627D8;
                border-bottom: 1px solid white;
                color:white;
            }
            #sidebar-wrapper .list-group {
                width: 15rem;
            }
            #page-content-wrapper {
                min-width: 100vw;
            }
            #wrapper.toggled #sidebar-wrapper {
                margin-left: 0;
            }
            @media (min-width: 768px) {
                #sidebar-wrapper {
                    margin-left: 0;
                }

                #page-content-wrapper {
                    min-width: 0;
                    width: 100%;
                }

                #wrapper.toggled #sidebar-wrapper {
                    margin-left: -15rem;
                }
            }

            .collapsible {
                background-color: white;
                color: #5627D8;
                cursor: pointer;
                padding: 10px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                /* border-bottom: 1px solid #5627D8; */

            }

            .active,
            .collapsible:hover {
                background-color: #eee;
            }

            .collapsible:after {
                content: '\002B';
                color: #5627D8;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2212";
            }

            .content {
                padding: 0;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                background-color: #eee;
            }

            .section-gap {
                margin-top: 0px !important;
                padding-top: 65px !important
            }
            .list-group-item {
                padding: 0.4rem 1.25rem !important;
                margin-bottom: -1px;
                background-color: #fff;
                border: none !important;
            }
            .list-group-item:hover{
                background-color: #eee;
            }
            .list-group-item-action.subactive{
                background-color: #031b4e !important;
                color:white;
            }
            .table td{
                border:none !important;
                border-bottom: 1px solid #cdd4e0 !important;
            }
           
        </style>
    </head>
    <body>
        <header id="header" class="base-header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40 /></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a  href="{% url 'account_logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </header>

        <section class="col-lg-12 section-gap">

            <div class="d-flex" id="wrapper">

                <!-- Sidebar -->
                <div class=" border-right" id="sidebar-wrapper">
                  <div class="sidebar-heading">Menu</div>
                  <div class="list-group list-group-flush">
                    <button class="collapsible">Total Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action">View</a>
                        <a href="{% url 'sendemailtoallusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideastoallusers' %}" class="list-group-item list-group-item-action">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action">Manage Accounts</a>
                    </div>
                    <button class="collapsible default">Free Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action">View</a>
                        <a href="{% url 'sendemailfreeusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideasfreeusers' %}" class="list-group-item list-group-item-action">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action">Manage Accounts</a>
                    </div>
                    <button class="collapsible">Gold Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action ">View</a>
                        <a href="{% url 'sendemailgoldusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideasgoldusers' %}" class="list-group-item list-group-item-action ">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action ">Manage Accounts</a>
                    </div>
                    <button class="collapsible">Diamond Customers</button>
                    <div class="content">
                        <a href="#" class="list-group-item list-group-item-action ">View</a>
                        <a href="{% url 'sendemaildiamondusers' %}" class="list-group-item list-group-item-action">Send Emails</a>
                        <a href="{% url 'sendideasdiamondusers' %}" class="list-group-item list-group-item-action ">Send Ideas</a>
                        <a href="#" class="list-group-item list-group-item-action ">Manage Accounts</a>
                    </div>
                
                  </div>
                </div>
                <!-- /#sidebar-wrapper -->
            
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <button class="btn btn-primarys" id="menu-toggle"><i class="fa fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="mg-l-30 mg-r-30">
                        <div class="row mg-t-30">
                            <div class="col-lg-3 ">
                                <div class="card alert-primary">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Total Customers</h4>
                                        <h1 class="text-center">4</h1>
                                    </div>
                                    <hr>
                                    <div class="text-center mg-b-10">
                                        <button class="btn btn-outline-secondary">View</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 ">
                                <div class="card alert-danger">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Free Subscribers</h4>
                                        <h1 class="text-center">1</h1>
                                    </div>
                                    <hr>
                                   <div class="text-center mg-b-10">
                                        <button class="btn btn-outline-secondary">View</button>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card  alert-info">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Gold Subscribers</h4>
                                        <h1 class="text-center">2</h1>
                                    </div>
                                    <hr>
                                    <div class="text-center mg-b-10">
                                        <button class="btn btn-outline-secondary">View</button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card  alert-success">
                                    <div class="card-header pd-b-0">
                                        <h4 class="card-title text-center">Diamond Subscribers</h4>
                                        <h1 class="text-center">1</h1>
                                    </div>
                                    <hr>
                                    <div class="text-center mg-b-10">
                                        <button class="btn btn-outline-secondary">View</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="mg-t-40">
                            <table class="table table-bordered">
                                <thead>
                                <th>S.No</th>
                                <th>Customer Name</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email-Id</th>
                                <th>Last Login</th>
                                <th>Date Joined</th>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.first_name}}</td>
                                        <td>{{user.last_name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.last_login|date:"d-m-Y h:i:s"}}</td>
                                        <td>{{user.date_joined|date:"d-m-Y h:i:s"}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            
              </div>

            
        </section>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"> 
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });

        $( document ).ready(function() {
            var col2 = document.getElementsByClassName("default");
            var i;

            for (i = 0; i < coll.length; i++) {
                $( ".default" ).click();
            // coll[i].addEventListener("click", function() {
                // this.classList.toggle("active");
                console.log(this)
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                content.style.maxHeight = null;
                } else {
                content.style.maxHeight = content.scrollHeight + "px";
                } 
            // });
            }
        });

        

        var coll =$(".collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            // $('.collapsible').removeClass("show active");
            this.classList.toggle("active");
            // this.classList.toggle("show");

            console.log(this)
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
        $('.content a').click(function(){
            $('.content a').removeClass('subactive')
            $(this).addClass('subactive')
        })
      </script>
</html>