{% extends 'base.html' %}
{% load i18n %}
{% load static %}
 
{% block content %}
<html>
  <head>
    <style>
      .subnav-content{
                display:none !important
            }
      .basefooter,
      .analytics-header,
      .footer-area,
      .signals-header,
      .mainfooter {
        display: none;
      }
      body {
        /* background-color: #1A0C4B !important; */
        background-color: rgb(213, 212, 212) !important;
        visibility: visible !important;

      }
      .card{
        border-radius:5px;
        background-color: #1A0C4B !important;
        color:white !important;
        padding:10px 20px 20px 20px;

      }
      p{
        text-align: justify;
      }
      .card-body{
        padding:20px

      }
      /* If the screen size is 900px or less, set the font-size of <div> to 30px */

      @media only screen and (max-width: 1950px) {
        .card {
          width: 30vw !important;
        }
      }

      /* If the screen size is 900px or less, set the font-size of <div> to 30px */

      @media only screen and (max-width: 1550px) {

        .card {
          width: 25vw !important;
        }
      }

      /* If the screen size is 900px or less, set the font-size of <div> to 30px */

      @media only screen and (max-width: 1210px) {

        .card {
          width: 30vw !important;
        }
      }

      /* If the screen size is 900px or less, set the font-size of <div> to 30px */

      @media only screen and (max-width: 1050px) {

        .card {
          margin-top: 5vh !important;
          width: 40vw !important;
        }
      }

      /* If the screen size is 900px or less, set the font-size of <div> to 30px */

      @media only screen and (max-width: 901px) {

        .card {
          margin-top: 5vh !important;
          width: 40vw !important;
        }
      }

      /* If the screen size is 700px or less, set the font-size of <div> to 30px */

      @media only screen and (max-width: 751px) {

        .card {
          margin-top: 5vh !important;
          width: 50vw !important;
        }
      }

      /* If the screen size is 600px or less, set the font-size of <div> to 30px */
      @media only screen and (max-width: 600px) {

        .card {
          margin-top: 5vh !important;
          width: 60vw !important;
        }
      }

      /* If the screen size is 500px or less, set the font-size of <div> to 30px */
      @media only screen and (max-width: 500px) {

        .card {
          margin-top: 5vh !important;
          width: 80vw !important;
        }
      }
      .section-gap{
        padding:57px!important;
        margin: 6% auto 0 auto;
      }
      hr{
        border-top:1px solid white !important
      }
    </style>
  </head>
  <body>
    <div class="col-lg-12 section-gap">
      <div class="row">
        <div class="card" style="margin: 1px auto;">
          <div class="card-headers text-center">
            <h2 class="card-title tx-24 pd-t-10 text-white">{% trans "Admin Login" %}</h2>
            <hr class="mg-b-0 mg-t-0" />
          </div>
          <div class="card-body login-card-body mg-t-10">
            {% if messages or form.errors %}
            <div class="messages">
              <ul>
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            <form class="login mg-b-0" action="{% url 'wagtailadmin_login' %}" method="post" autocomplete="off"
              novalidate>
              {% block login_form %}
              {% csrf_token %}
              {% url 'wagtailadmin_home' as home_url %}
              <input type="hidden" name="next" value="{{ next|default:home_url }}" />

              {{form.as_p}}
              <button type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15"
                id="log-submit">{% trans "Login" %}</button><br>
              {% if show_password_reset %}
              <div class="float-right mg-t-15" style="width:100%">
                <a class="button secondaryAction float-right text-white"
                  href="{% url 'wagtailadmin_password_reset' %}">{% trans "Forgot Password?" %}</a>
              </div>
              {% endif %}
              {% endblock %}
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script>
    $('.login input').addClass('form-control')
    $('.login input').addClass('new-login-input')
    $("#id_remember").hide();
    $(".login label").hide();
    $('#id_username').attr('placeholder','Enter Username');
    $('#id_password').attr('placeholder','Enter Password');
    $('#id_username').focus();
    
  </script>
</html>

{% endblock %}