{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load i18n %}
{% block content %}

<html lang="en"><head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}">

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
    <link href="http://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"> 
  
<style>
   .analytics-header{
            display: none !important;
        }
        .base-header{
            display: block !important;
        }
        .section-gap{
          margin-top:8% !important;
          padding:50px !important
        }
         #id_email{
        width:100% !important;
        height:40px !important;
        padding: 7px;
        color: #222;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
        transition: border-color .15s linear,box-shadow .1s linear;
        -webkit-font-smoothing: antialiased;
        margin-bottom:10px !important
      }
</style>
  </head>
  <body translate="no">
    <div class="col-lg-12 contactusdiv section-gap">
			<div class="row">
        <div class="col-lg-8 section-1" style="margin:10px auto">
          <div class="container">
            <div class="card bg-light mx-3 p-4 shadow-sm">
              <div class="card-body row">
                <div class="col-lg-12 col-md-12 col-sm-12 p-1">
                  <div class="card" style="border:none;background-color:transparent">
                    <h3 class="text-center">
                      Please add email, to which you want to send invitation  </h3>
                    <div class="card-body text-center">

                    <!-- <img src='/static/homepage/img/logo3.png'  width="150px" class="rounded mx-auto mb-4 shadow" alt="org photo"> -->
                   
                    <form id="invite-form" method="POST" action="{% url 'invitations:send-invite' %}">
                      {% csrf_token %} 
                          
                            
                      <div>
                          <input type="text"  name="email" id="id_email" value="{{ form.email.value }}" class="validate-email" placeholder="{% trans 'Email' %}"  style="outline:none;margin-top:10px" >
                                  
                          <input type="submit" value="Invite" class="btn btn-primary rounded m-1 generic-ajax-submit">  
                        </div>
                  
                      {% if success_message  %}
                      <span style="color:green">{{ success_message }}</span>
                      {% else %}
                          {% for error in form.email.errors %}
                          <span style="color:red">{{ error }}</span>
                            {% endfor %}
                      {% endif %}
                    </form> 
                  </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
 
  
  
  
  </body></html>
  {% endblock %}