{% extends 'base.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="col-md-6 col-lg-6 col-xl-6 mg-t-70">
    <div class="card">
      <div class="card-title title text-center" >
          <h3 class="mg-t-15">Sign In</h3>
          <hr class="mg-b-0">
      </div>
      <div class="card-body login-card-body">
          {% if messages %}
          {% for msg in messages%}
              <span style="color:red">{{msg}}</span>
          {% endfor %}
        {% endif %}
        <form method="post" >
            {% csrf_token %}
            {{ form|crispy }}
           
            <div class="mg-t-30 mg-b-0" style="padding: 5px 0px;">
              <span >
                <span style="color:#EA4335;" class="tx-20 mg-l-0">{{captcha_qs}}</span><input type="text" name="captchans"  maxlength="4" size="4"
                 class="textinput textInput mg-l-10 tx-15 form-control col-sm-3" autocomplete="off" style="display:inline-block;height:30px;width:120px"
                 placeholder = "Enter answer">
                 <a href="{% url 'login' %}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
              </span>
              <a href="{% url 'password_reset' %}" class="btn-link float-right forgot mg-t-5 tx-13" style="color:#5B47FB">Forgot password?</a>
            </div>

            <p >
              <span class="btn  signup-acnt tx-15">Don't have an account?<a href="{% url 'signup' %}" class="btn-link tx-15" style="color:#5B47FB">Sign Up</a></span>

              <button type="submit" id="log-submit" class="btn btn-primary float-right">Sign In</button>
            </p >

            <span >
              <hr> 
              <p class="text-center tx-18">or connect with</p>
              <div class="text-center col-md-6 col-sm-6 col-xl-6"  style="display:flex;justify-content: center ;">
                <a href="{% provider_login_url 'google' %}" class="social-icon bg3"><i class="fa fa-google"></i></a>
                <a href="{% provider_login_url 'facebook' %}" class="social-icon bg1"><i class="fa fa-facebook"></i></a>
                <a href="******" class="social-icon bg2"><i class="fa fa-twitter" ></i></a>
              </div>
            </span>
            
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}
