{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 col-lg-6 col-xl-6 mg-t-70">
    <div class="card ">
        <div class="card-title title text-center" >
            
            <!-- <hr class="mg-b-0"> -->
        </div>
      <div class="card-body login-card-body">
        <h5 class="mg-t-15 text-center">Your password has been changed successfully!</h5>
        <p class="text-center tx-15">Click here <a href="{% url 'login' %}">login</a> again</p>
  
      </div>
    </div>
  </div>
{% endblock %}