{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-6 col-lg-6 col-xl-6 mg-t-70">
    <div class="card ">
      <div class="card-title text-center">
        <h3 class="mg-t-15">Reset your password</h3>
        <hr class="mg-b-0">
      </div>
      <div class="card-body login-card-body">
        <p class="tx-15 text-primary">Please enter your registered email address.<br></p>
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary float-right">Reset Password</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
