{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 col-lg-6 col-xl-6 mg-t-70">
  <div class="card ">
      <div class="card-title title text-center" >
          <h3 class="mg-t-15">Reset your password</h3>
          <hr class="mg-b-0">
      </div>
    <div class="card-body login-card-body">
      <p class="text-center">We have sent a password reset link to your registered email</p>
      <p class="text-center">Do check your spam folder if it doesn't arrive in your inbox</p>
      <p class="text-center mg-t-30"><a href="{% url 'login' %}" class="btn-lg btn-primary text-center tx-15">OK</a></p>

    </div>
  </div>
</div>
{% endblock %}