{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body login-card-body">
          <h3 class="card-title text-center">Set new password</h3>
          {% if validlink %}
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          {% else %}
            <p class="text-danger">Invalid token.</p>
            <p class="card-text">
              <a href="{% url 'password_reset' %}">Request a new password reset token</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
