{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="col-md-6 col-lg-6 col-xl-6 mg-t-70">
    <div class="card ">
        <div class="card-title title text-center" >
            <h3 class="mg-t-15">Sign Up</h3>
            <hr class="mg-b-0">
        </div>
      <div class="card-body login-card-body">
        {% if messages %}
          {% for msg in messages %}
          <span style="color:red">{{msg}}</span>
          {% endfor %}
        {% endif %}
        
        <form method="post" >
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" id="signup-submit" class="btn btn-primary">Sign Up</button>
   
           <span class="btn float-right login-acnt">Already a member?<a href="{% url 'login' %}" class="btn-link" style="color:#5B47FB">Signin </a></span>

        </form>         
      </div>
    </div>
  </div>

{% endblock %}
