::-moz-selection {
    background-color: #8a90ff;
    color: #fff
}

::selection {
    background-color: #8a90ff;
    color: #fff
}

::-webkit-input-placeholder {
    color: #777;
    font-weight: 300
}

:-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

::-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

body {
    color: #383838 !important;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    line-height: 1.625em;
    position: relative
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

select {
    display: block
}

figure {
    margin: 0
}

a {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

iframe {
    border: 0
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0
}

.card-panel {
    margin: 0;
    padding: 60px
}

.btn i,
.btn-flat i,
.btn-floating i,
.btn-large i {
    font-size: 1em;
    line-height: inherit
}

.gray-bg {
    background: #f9f9ff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    color: #222
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 16px
}

.h6,
h6 {
    font-size: 14px;
    color: #222
}

td,
th {
    border-radius: 0
}

.clear::after,
.clear::before {
    content: " ";
    display: table
}

.clear::after {
    clear: both
}

.fw100 {
    font-weight: 100
}

.fw300 {
    font-weight: 300
}

.fw400 {
    font-weight: 400 !important
}

.fw500 {
    font-weight: 500
}

.f700 {
    font-weight: 700
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.text-italic {
    font-style: italic
}

.text-white {
    color: #fff
}

.text-black {
    color: #000
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start
}

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end
}

.flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

.flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between
}

.space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around
}

.flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.display-table {
    display: table
}

.light {
    color: #fff
}

.dark {
    color: #222
}

.relative {
    position: relative
}

.overflow-hidden {
    overflow: hidden
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.container.fullwidth {
    width: 100%
}

.container.no-padding {
    padding-left: 0;
    padding-right: 0
}

.no-padding {
    padding: 0
}

.section-bg {
    background: #f9fafc
}

@media (max-width:767px) {
    .no-flex-xs {
        display: block !important
    }
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

b,
del,
sub,
sup,
u {
    color: #8a90ff
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: 0;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: 0
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: 0;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: 0
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: 0;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: 0;
    border: 1px solid #8a90ff
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: 0;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: 0;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: 0;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: 0;
    border: 1px solid #f09359
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #8a90ff;
    background: 0 0
}

.form-select .nice-select .list .option:hover {
    color: #8a90ff;
    background: 0 0
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.header-top {
    font-size: 13px;
    padding: 8px;
    background-color: #222
}

.header-top a {
    color: #fff
}

.header-top ul li {
    display: inline-block;
    margin-right: 30px
}

.header-top .header-top-left i {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.header-top .header-top-left a:hover {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.header-top .header-top-left a:hover i {
    color: #8a90ff
}

.header-top .header-top-right {
    text-align: right
}

.header-top .header-top-right a {
    margin-right: 10px
}

.header-top .lnr {
    display: none
}

@media (max-width:588px) {
    .header-top .lnr {
        display: block;
        font-weight: 700;
        font-size: 16px;
        color: #fff
    }

    .header-top .text {
        display: none
    }
}

@media (max-width:767px) {
    .header-top {
        display: none
    }
}

.top-head-btn {
    background: #8a90ff;
    padding: 9px 26px
}

.main-menu {
    padding-top: 10px
}

#header {
    padding: 5px 0 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all .5s;
    z-index: 997;
    background: #fff;
    border-bottom: 1px solid #989dbe;
    box-shadow: 0px 1px 40px 0px rgba(88, 73, 73, 0.2);
}

#header.header-scrolled {
    background: #fff;
    transition: all .5s
}

@media (max-width:673px) {
    #logo {
        margin-left: 20px
    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #8a90ff
}

#header #logo img {
    padding: 0;
    margin: 0;
    height: 45px !important;
    width: 90px !important
}

@media (max-width:768px) {
    #header #logo h1 {
        font-size: 28px
    }

    #header #logo img {
        max-height: 45px
    }
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
    background: rgba(255, 255, 255, .9)
}

.nav-menu li {
    position: relative;
    white-space: nowrap
}

.nav-menu li.sfHover>ul,
.nav-menu li:hover>ul {
    display: block
}

.nav-menu ul ul {
    top: 0;
    left: 100%
}

.nav-menu ul li {
    min-width: 180px;
    text-align: left
}

.sf-arrows .sf-with-ul {
    padding-right: 30px
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105"
}

#nav-menu-container {
    margin: 0
}

.nav-menu a {
    padding: 2px 10px;
    text-decoration: none;
    display: inline-block;
    color: #181a3e;
    font-weight: 450;
    font-size: 16px;
    text-transform: capitalize;
    outline: 0
}

.nav-menu a:hover {
    color: orange
}

.nav-menu>li {
    margin-left: 10px
}

.nav-menu ul {
    margin: 5px 0 0 0;
    padding: 10px;
    box-shadow: 0 0 30px rgba(127, 137, 161, .25);
    background: #fff
}

.nav-menu ul li {
    transition: .3s
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: .3s;
    display: block;
    font-size: 13px;
    text-transform: none
}

.nav-menu ul li:hover>a {
    color: orange
}

.nav-menu ul ul {
    margin: 0
}

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 22px;
    border: 0;
    background: 0 0;
    font-size: 24px;
    display: none;
    transition: all .4s;
    outline: 0;
    cursor: pointer
}

@media (max-width:767px) {
    #mobile-nav-toggle {
        top: 42px
    }
}

#mobile-nav-toggle i {
    font-weight: 900
}

@media (max-width:960px) {
    #mobile-nav-toggle {
        display: inline
    }

    #nav-menu-container {
        display: none
    }
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, .8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: .4s
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#mobile-nav ul li {
    position: relative
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: 0;
    font-weight: 700
}

#mobile-nav ul li a:hover {
    color: #fff
}

#mobile-nav ul li li {
    padding-left: 30px
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #8a90ff
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none
}

#mobile-nav ul .menu-item-active {
    color: orange
}

#mobile-nav ul .menu-item-active li {
    color: orange !important;
    background-color: transparent !important
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    display: none
}

body.mobile-nav-active {
    overflow: hidden
}

body.mobile-nav-active #mobile-nav {
    left: 0
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff
}

.section-title {
    padding-bottom: 30px
}

.section-title h2 {
    margin-bottom: 20px
}

.section-title p {
    font-size: 16px;
    margin-bottom: 0
}

@media (max-width:991.98px) {
    .section-title p br {
        display: none
    }
}

.alert-msg {
    color: green
}

.primary-btn {
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    position: relative
}

#home .primary-btn,
#home .get_started {
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    position: relative;
    font-size: 12px
}

#home .get_started {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff !important
}

.primary-btn:focus {
    outline: 0
}

.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.primary-btn:hover {
    background: 0 0;
    color: #8a90ff;
    border-color: #8a90ff
}

.primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.primary-btn.white span {
    color: #fff
}

.primary-btn.white:hover {
    background: #fff;
    color: #8a90ff
}

.primary-btn.white:hover span {
    color: #8a90ff
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.banner-area {
    background-image: linear-gradient(to bottom, rgba(75, 55, 55, .6) 0, rgba(73, 57, 57, .6) 10%), url(../img/home1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.banner-area .primary-btn {
    padding-left: 30px;
    padding-right: 30px
}

.banner-content h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    line-height: 1em
}

@media (max-width:991.98px) {
    .banner-content h1 {
        font-size: 36px
    }
}

@media (max-width:991.98px) {
    .banner-content h1 br {
        display: none
    }
}

@media (max-width:1199.98px) {
    .banner-content h1 {
        font-size: 35px
    }
}

@media (max-width:767px) {
    .banner-content h1 {
        margin-top: 50px
    }
}

.banner-content p {
    margin-bottom: 20px;
    margin-top: 5px
}

@media (max-width:960px) {
    .banner-content br {
        display: none
    }
}

.header-btn {
    background: #fff;
    border-radius: 0;
    color: #222 !important;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid transparent;
    color: #fff
}

.header-btn:hover {
    border: 1px solid #fff !important;
    background: 0 0;
    color: #fff !important
}

.single-product .thumb {
    padding: 25px 20px;
    border-bottom: 1px solid #eee
}

.single-product .details {
    padding: 20px
}

.single-product .details p {
    text-align: justify;
    line-height: 1.8rem;
    color: #000 !important;
    font-weight: 400;
    font-size: 20px !important
}

.single-product .details h3 {
    margin-bottom: 20px
}

.single-product .details .primary-btn {
    margin-top: 10px;
    border-radius: 0;
    background: #fff;
    color: #222 !important;
    font-weight: 600
}

.single-product .img {
    text-align: center;
    padding: 30px
}

.single-product:hover .details .primary-btn {
    color: #fff !important;
    background-color: #1a0c4b
}

@media (max-width:960px) {
    .single-product {
        margin-bottom: 30px
    }
}

.home-about-left img {
    width: 100%
}

.home-about-right {
    padding-right: 20%;
    padding-left: 4%
}

@media (max-width:1366px) {
    .home-about-right {
        padding-left: 15px;
        padding-right: 15px
    }
}

.home-about-right h1 {
    padding: 20px 0
}

@media (max-width:413px) {
    .home-about-right h1 br {
        display: none
    }
}

.home-about-right h5 {
    margin-bottom: 20px;
    font-weight: 300
}

.home-about-right .primary-btn {
    border-radius: 0
}

@media (max-width:960px) {
    .home-about-right {
        margin-top: 50px
    }
}

.about-video-left h6 {
    color: #8a90ff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 12px
}

.about-video-left h1 {
    padding: 20px 0
}

@media (max-width:413px) {
    .about-video-left h1 br {
        display: none
    }
}

.about-video-left p span {
    font-weight: 600;
    color: #222
}

.about-video-left p {
    font-size: 16px
}

.about-video-left .primary-btn {
    border-radius: 0
}

.about-video-right {
    background: url(../img/demoimg.png) no-repeat center;
    background-size: cover;
    height: 330px
}

.about-video-right .overlay-bg {
    opacity: .8
}

.about-video-right .play-btn {
    z-index: 2
}

@media (max-width:960px) {
    .about-video-right {
        margin-top: 100px
    }
}

h3 label,
h4 label {
    border-bottom: 2px solid orange;
    padding-bottom: 3px;
    color: #63c;
    margin-bottom: 0
}

.products-area .row2 .row {
    margin-left: 0;
    margin-right: 0
}

.sub-products1,
.sub-products3 {
    background: #fdb432;
    background-size: cover
}

.feature-area {
    background: #1a0c4b;
    background-size: cover;
    color: #fff
}

.feature-area .single-feature {
    padding: 0;
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: justify
}

.feature-area .single-feature h3 {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.feature-area .single-feature .title .lnr {
    color: #222;
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px
}

.feature-area .single-feature p {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 2rem !important
}

.feature-area .single-feature:hover {
    cursor: pointer
}

.feature-area .single-feature:hover .lnr,
.feature-area .single-feature:hover h3 {
    color: #8a90ff
}

.feature-area h3 {
    text-align: left;
    margin-bottom: 20px
}

.feature-area h3 label {
    color: #fff !important
}

.feature-area .img2 {
    height: 200px;
    text-align: center
}

.single-feature .img2 img {
    height: 200px !important;
    width: 500px !important
}

.footer-area {
    background: url(../img/footer-bg.jpg) center;
    background-size: cover;
    padding-top: 100px
}

.footer-area .footer-nav li {
    margin-top: 8px
}

.footer-area .footer-nav li a {
    color: #fff
}

.footer-area .footer-nav li a:hover {
    color: #8a90ff
}

.footer-area .primary-btn {
    background-color: #8a90ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative
}

.footer-area .primary-btn:focus {
    outline: 0
}

.footer-area .primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.footer-area .primary-btn:hover {
    background-color: #8a90ff;
    box-shadow: none;
    color: #fff
}

.footer-area .primary-btn:hover span {
    color: #fff;
    right: 20px
}

.footer-area .primary-btn.white {
    border: 1px solid #fff;
    color: #fff
}

.footer-area .primary-btn.white span {
    color: #fff
}

.footer-area .primary-btn.white:hover {
    background: #fff;
    color: #8a90ff
}

.footer-area .primary-btn.white:hover span {
    color: #8a90ff
}

.footer-area h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600
}

.copy-right-text a,
.copy-right-text i {
    color: #8a90ff
}

.footer-bottom {
    padding-top: 80px
}

.footer-text a,
.footer-text i {
    color: #8a90ff
}

.generic-content h1 {
    font-weight: 600
}

.about-generic-area {
    background: #fff
}

.about-generic-area p {
    margin-bottom: 20px
}

.white-bg {
    background: #fff
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.switch-wrap {
    margin-bottom: 10px
}

.switch-wrap p {
    margin: 0
}

.link-nav {
    margin-top: 10px
}

.about-content {
    margin-top: 120px;
    padding: 120px 0;
    text-align: center
}

.about-content h1 {
    font-size: 48px;
    font-weight: 600
}

.about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px
}

.about-content .lnr {
    margin: 0 10px;
    font-weight: 600
}

.aboutus-about {
    background: #fff !important
}

.aboutus-cat {
    background: #f9f9ff !important
}

.aboutus-feedback {
    background: #fff
}

.product-page .single-product {
    margin-bottom: 30px
}

.nav-area {
    border-bottom: 1px solid #eee
}

.nav-area a {
    color: #222
}

.nav-area .nav-left .thumb {
    padding-right: 20px
}

.nav-area .nav-right {
    text-align: right
}

.nav-area .nav-right .thumb {
    padding-left: 20px
}

@media (max-width:768px) {
    .nav-area .post-details h4 {
        font-size: 14px
    }
}

@media (max-width:466px) {
    .nav-area .nav-right {
        margin-top: 50px
    }
}

.comment-sec-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 50px
}

.input-colum {
    width: 100% !important;
    margin-left: 0
}

.search-main button,
.serch-mainfrm button {
    position: absolute;
    padding: 10.5px 12px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    font-size: 18px !important;
    margin-left: 0 !important;
    height: 40px !important;
    min-height: 40px !important;
    background: #5627d8;
    border: 1px solid #5627d8;
    color: #fff
}

.search-main input {
    -moz-border-radius: 5px !important;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset !important;
    -moz-transition: all .7s ease !important;
    -o-transition: all .7s ease !important;
    -webkit-border-radius: 20px !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset !important;
    -webkit-transition: all .7s ease !important;
    border: 1px solid #fff !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset !important;
    font: 400 14px Arial, Helvetica, Sans-serif !important;
    padding: 0 10px !important;
    transition: all .7s ease !important;
    background: #fff !important;
    width: 92% !important;
    height: 42px;
    color: #fff
}

datalist option {
    width: 90% !important
}

.foot-atozlinks ul li {
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 7px;
    padding-left: 4px
}

.stocklist li a {
    color: #1a0c4b !important;
    font-weight: 600 !important
}

.stocklist li {
    color: #1a0c4b !important;
    font-weight: 600 !important
}

.stocklist {
    background-color: #fff
}

.fullscreen {
    margin-top: 58px
}

.container {
    padding-bottom: 0
}

.home-about-area {
    background: #eeeff4
}

.single-feature h3,
.single-product h3 {
    font-size: 32px !important
}

@media (max-width:1900px) and (min-width:1200px) {
    .single-product .details p {
        font-size: 18px !important
    }

    .single-feature h3,
    .single-product h3 {
        font-size: 28px !important
    }
}

h3 .odd {
    border-bottom: 2px solid#63c;
    padding-bottom: 3px;
    margin-bottom: 0
}

@media only screen and (max-width:800px) {

    .feature-area h1,
    .products-area .single-product h3 {
        font-size: 30px !important
    }

    .feature-area h3 {
        font-size: 22px !important
    }

    .feature-area .single-feature {
        padding: 10px 0 !important
    }

    .feature-area .single-feature .col-lg-8 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .feature-area .single-feature p,
    .products-area .single-product p {
        font-size: 14px !important
    }
}

@media only screen and (max-width:991px) {
    .feature-area .col-lg-12 .col-lg-4 {
        flex: 0 0 33.33333% !important;
        max-width: 33.33333% !important
    }

    .feature-area .single-feature .col-lg-8 {
        flex: 0 0 66.66667% !important;
        max-width: 66.66667% !important;
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .feature-area .single-feature {
        padding: 10px 0 !important
    }

    .feature-area .container {
        max-width: 820px !important
    }
}

@media only screen and (max-width:600px) {
    .feature-area .col-lg-12:nth-child(2) .col-lg-8 {
        top: -200px !important
    }

    .feature-area .col-lg-12:nth-child(2) .col-lg-4 {
        top: 260px !important
    }

    .feature-area .col-lg-12:nth-child(4) .col-lg-8,
    .feature-area .col-lg-12:nth-child(6) .col-lg-8 {
        top: -200px !important
    }

    .feature-area .col-lg-12:nth-child(4) .col-lg-4,
    .feature-area .col-lg-12:nth-child(6) .col-lg-4 {
        top: 200px !important
    }

    .feature-area .col-lg-12:nth-child(1) .col-lg-4 img,
    .feature-area .col-lg-12:nth-child(3) .col-lg-4 img,
    .feature-area .col-lg-12:nth-child(5) .col-lg-4 img {
        padding-top: 20px !important
    }

    .feature-area .col-lg-12 .col-lg-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }

    .feature-area .single-feature .col-lg-8 {
        flex: 100% !important;
        max-width: 100% !important;
        padding-right: 0 !important;
        padding-left: 0 !important
    }
}

@media only screen and (max-width:600px) and (min-width:450px) {
    .feature-area .col-lg-12:nth-child(2) .col-lg-8 {
        top: -200px !important
    }

    .feature-area .col-lg-12:nth-child(2) .col-lg-4 {
        top: 200px !important
    }
}

@media only screen and (max-width:450px) and (min-width:250px) {
    .feature-area .col-lg-12:nth-child(2) .col-lg-8 {
        top: -200px !important
    }

    .feature-area .col-lg-12:nth-child(2) .col-lg-4 {
        top: 250px !important
    }
}

@media only screen and (max-width:1950px) and (min-width:990px) {
    .feature-area .single-feature .col-lg-8 {
        padding: 1px 20px !important
    }
}

.mfp-content {
    margin-top: 100px !important;
    vertical-align: top !important;
}