{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
  <head>
    <title>About Us - 72PI</title>
  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/Aboutus.css' %}?v=1.2">
    <!-- <style>
      .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}


.cards-div{
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  padding:50px 0px;
}
.section-3 .card{
  border-radius: .25rem!important;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;

}
    .desc-div{
      color:black !important;
    }
    </style> -->
  </head>
  <body>
    <div class="col-lg-12 aboutusdiv" style="padding:85px 15px">
			<div class="row">
        <div class="col-lg-12 section-1">
          <div class="container">
            <h1 class="text-center">About 72PI</h1>
            <p class="mg-t-20">
              72PI was built with the mission to be the one-stop resource to make the investing process smarter, more
              accessible, and transparent for individual investors. Help individuals invest like institutionally managed
              funds.

              72PI is an online software platform for stock signals, portfolio and investment analytics that enables
              subscribers to develop an understanding of how different components of the portfolio add up to meet their
              financial objectives. We provide our subscribers with the knowledge and tools they need to make more
              informed decisions to succeed in their financial lives.

              We are driven by our commitment to undertake independent research and build innovative tools to give our
              subscribers an advantage in their investing journey.

              Our mission is to coach investors to become process oriented, confident, and self-reliant in managing
              their wealth. We would like to UNLOCK the black box of tools used by institutional fund managers for
              individuals.
            </p>
          </div>
        </div>
         <div class="col-lg-12 section-2 mg-t-40">
          <div class="container mg-t-10">
            <div class="row">
              <div clas="col-lg-12">
                <h3 class="text-center">About Our Founder - Suresh Raju</h3>
                <p class="mg-t-20">
                Suresh Raju founded 72PI to provide insightful equity research ideas and bring institutional style
                portfolio analytics to the individual investor. Suresh and his team currently operate a SEBI registered
                Alternative Investment Fund, Category III, that invests in equities and derivatives market. Suresh has
                over 20 years of extensive experience in Investment Management, Capital Markets, Financial Structuring,
                Valuation, Corporate Finance and Due Diligence.</p>
    
               <p> Prior to launching 72PI, he founded and operated a company in the financial services space to provide
                equity research, predictive modeling, and analytics support to asset management clients, primarily fund
                managers and hedge funds, in Boston and New York City. He and his team have researched and delivered over
                1500+ company writeups across sectors and international markets to clients in USA. Suresh spent 4 years in
                the private equity market as a General Partner at TVS Capital Funds, evaluating over 600+ companies across
                consumer consumption sectors in India. In his earlier days, Suresh spent time in the Investment Banking
                practice at Deutsche Bank (Boston, USA) and led over 25 transactions from IPOs, private placements, debt
                financings, M&A transactions, LBOs across technology sector. Suresh started his career at ABAQUS Inc.
                (USA) a software company that focused on finite element technologies.</p>
    
                <p> Suresh received his bachelor’s from IIT Madras in 1993 and master’s in engineering from Ohio State
                University in 1995. He received his MBA from University of Chicago Booth School of Business in 2001.
                Suresh is currently a member of the Indian Angel Network and a Charter Member of TiE, Hyderabad.
              </p>
              </div>
              <div clas="col-lg-12">
              <hr style="border-top:1px solid #1A0C4B">
              <h3 class="mg-b-20 text-center">Board of Advisor(s)</h3>
                <div class="row mg-t-30">
                  <div class="col-lg-12">
                      <h4 >Madhusudan Subramanian (CFA, CAIA)</h4>
                        <p class="">
                        Madhusudan Subramanian is 72PI’s active advisor and is helping identify new analytics features that an
                        individual investor will find useful in managing wealth. He is a strategic and results-driven investment
                        management professional with over 20 years of experience in global investing, quant equities research,
                        risk analytics and niche fin-tech projects.</p>
          
                        <p>He has held senior investment research, product strategy and portfolio analytics roles developing and
                        launching innovative ETFs and actively managed funds at Morgan Stanley, MSCI and Principal Mutual Fund.
                        His responsibilities spanned across core Equity, Fixed Income and Hybrid Fund strategies. Steered key fund
                        strategy and product level decisions and enabled Principal PNB Asset Management to grow over INR 3500
                        Crores AUM over 2 years through select top-ranked Equity and Hybrid funds. He was Head of Quantitative
                        Equity Research team at MSCI, Morgan Stanley Capital International, an investment research firm that
                        provides stock indexes, portfolio risk and performance analytics, and governance tools to institutional
                        investors and hedge funds. He was responsible for co-leading New Product development.</p>
          
                        <p>Madhusudan graduated with a bachelor’s degree in Mechanical Engineering from the National Institute of
                        Technology, Trichy with distinction and received an MBA from the University of Chicago Booth School of
                        Business. He also holds the CFA and CAIA charter designations.
                        </p>
                  </div>

              
                </div>          
              </div>
            </div>
          </div>
        </div>
       
        <!-- <div class="col-lg-12 section-1 section-3">
          <div class="container">
           <div class="row">
            <div class="col-xl-12 col-sm-12">
              <div class="card">
                <div class="card-header d-flex">
                  <img src="{% static 'images/suresh.png' %}" alt="" width="200"
                  class="img-fluid rounded-circle mg-b-5 img-thumbnail shadow-sm">
                  <span class="pd-t-50 pd-l-50">
                    <h3 class="mb-0">Suresh Raju</h3>
                    <h3>CEO - Founder</h3>
                  </span>
                </div>
                <div class="card-body text-center">
                  
                  <div class="mg-t-10  desc-div">
                    <p class="mg-t-20">
                      Suresh Raju founded 72PI to provide insightful equity research ideas and bring institutional style
                      portfolio analytics to the individual investor. Suresh and his team currently operate a SEBI registered
                      Alternative Investment Fund, Category III, that invests in equities and derivatives market. Suresh has
                      over 20 years of extensive experience in Investment Management, Capital Markets, Financial Structuring,
                      Valuation, Corporate Finance and Due Diligence.</p>
          
                     <p> Prior to launching 72PI, he founded and operated a company in the financial services space to provide
                      equity research, predictive modeling, and analytics support to asset management clients, primarily fund
                      managers and hedge funds, in Boston and New York City. He and his team have researched and delivered over
                      1500+ company writeups across sectors and international markets to clients in USA. Suresh spent 4 years in
                      the private equity market as a General Partner at TVS Capital Funds, evaluating over 600+ companies across
                      consumer consumption sectors in India. In his earlier days, Suresh spent time in the Investment Banking
                      practice at Deutsche Bank (Boston, USA) and led over 25 transactions from IPOs, private placements, debt
                      financings, M&A transactions, LBOs across technology sector. Suresh started his career at ABAQUS Inc.
                      (USA) a software company that focused on finite element technologies.</p>
          
                      <p> Suresh received his bachelor’s from IIT Madras in 1993 and master’s in engineering from Ohio State
                      University in 1995. He received his MBA from University of Chicago Booth School of Business in 2001.
                      Suresh is currently a member of the Indian Angel Network and a Charter Member of TiE, Hyderabad.
                    </p>
                  </div>
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                </div>
              </div>
            </div>
           </div>
          </div>
        </div> -->
			</div>
		</div>
    
  <script>    $("body").css({visibility:'visible'})</script>
  </body>
</html>
{% endblock %}