{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Analyst Target Price - 72PI</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="keywords" content="72pianalysttargetprice, analysttargetprice, 72piuppotential, uppotential, 72pidownpotential, downpotential, 72pistockdownpotential, stockdownpotential, 72pistockuppotential, stockuppotential"/>
    <meta name="description" content="It helps the subscriber in evaluating the stocks in the portfolio against average up/down target prices by analyst" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2" />
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2" />
    <link rel="stylesheet" href="{% static 'css/Analyst_Target_Price.css' %}?v=1.2">
  </head>
  <body>
    <div class="row row-sm section-gap main" style="margin: 2% 0%">
      <div class="col-sm-12 row page-title  mg-t-60">
				<div class="col-sm-6">
					<p class="text-white tx-20">
            <a href="{% url 'home' %}" style="color: black"><i class="fa fa-home"></i></a>
            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
            Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
            X-Ray Analyzer
            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
            <a href="{% url 'analystTargetPrice' %}" class="nav-sub-link">Analyst Target Price</a>
          </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
				</div>
			</div>
      <div class="disclaimer-text">
        <p class="text-italic">
          Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
        </p>
      </div>
      <div class="col-sm-12 main-sub-div2">
        <div class="row">
          <div class="col-sm-6">
            <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
              <strong style="font-size: 18px" class="mg-l-0">Select Portfolio</strong>
              <select id="globalPortfolio" class="form-controls mg-l-20">
                {% for portfolio in portfolio_names %}
                <option value="{{portfolio}}">{{portfolio}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
        <div class="card" style="padding: 0% 2%">
          <div class="card-header pd-t-10 pd-b-5">
            <h4 class="card-title text-center">
              <label>Analyst Target Price</label>
            </h4>

          </div>
          <div class="card-body pd-t-10">
            <div class="analyst-table-div">
              <span id="error"></span>

              <div class="scroll-div table-responsive">
                <table class="table table-hover table-striped price-target sortable unselectable">
                  <thead>
                    <tr>
                      <th class="sticky-col first-col">Company</th>
                      <th class="non-sticky">Investment Amount (%)</th>
                      <th class="non-sticky">Current Price</th>
                      <th class="non-sticky">Avg Upside Target Price</th>
                      <th class="non-sticky">Avg Downside Target Price</th>
                      <th class="non-sticky">Up/Down Potential</th>
                      <th class="non-sticky">Upside/Downside Potential</th>
                      <th class="non-sticky">52 Wk L/H</th>
                    </tr>
                  </thead>
                  <tbody id="tbody"></tbody>
                </table>
              </div>
            </div>
            <!-- Notes section div -->
            <div class="col-sm-12 mg-t-20">
              <h4 class="card-title mg-b-0">Notes</h4>
              <div id="notes-section"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="description" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <h3 class="modal-title mg-t-10 text-center"><label>Analyst Target price</label></h3>
          <div class="modal-body">
            <p>
              A very useful tool that helps the subscriber in evaluating stocks in their portfolio against target prices
              issued by research analysts. Average UP and average DOWN target price comparisons for understanding
              risk-reward trade off. Plotting the current market price of the stock in the Upside/Downside potential and
              52 week low/high bars helps in understanding market perception of return potential of each stock in
              portfolio.
            </p>
            <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="{% static 'js/table_sort.js' %}"></script>
  <script>
    $(document).on("click", ".description_btn", function () {
      $('#description').modal('show');
    })
    $(document).ready(function () {
      var currentPortfolio = '{{current_portfolio}}';
      $('#globalPortfolio').val(currentPortfolio);
    })
    $(document).on("change", "#globalPortfolio", function () {
      var portfolioName = document.getElementById("globalPortfolio").value;
      window.location.href = "{% url 'analystTargetPrice' %}?portfoliochanged-to=" + portfolioName;
      return false;
    });
    $(document).on("click", ".company", function () {
      var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
      window.open(stockURL, '_blank');
      return false;
    });
 
    var data = {{ output| safe}}
    var data2 = {{ output2| safe}}
    var categories_data = {{ categories| safe}}
    var plot_line = {{ plot_line| safe}}
    if (data.length > 0) {
      $('#error').hide();
      $('.table-responsive').show();
      var tabledata = new Array();
      sort_data = {{ data | safe }}
      if ('{{symbol|safe}}' == '$')
        flag = 'en-US'
      else
        flag = 'hi-IN'
      for (i = 0; i < sort_data.length; i++) {
          if (isNaN(sort_data[i]['Downside Px']))
            sort_data[i]['Downside Px'] = ""
          else
            sort_data[i]['Downside Px'] = '{{symbol|safe}}' + parseFloat(sort_data[i]['Downside Px']).toLocaleString(flag, { maximumFractionDigits: 0 })

          if (isNaN(sort_data[i]['Upside Px']))
            sort_data[i]['Upside Px'] = ""
          else
            sort_data[i]['Upside Px'] = '{{symbol|safe}}' + parseFloat(sort_data[i]['Upside Px']).toLocaleString(flag, { maximumFractionDigits: 0 })

          if (isNaN(sort_data[i]['Up/Down Ratio']))
            sort_data[i]['Up/Down Ratio'] = ""
          else
            sort_data[i]['Up/Down Ratio'] = sort_data[i]['Up/Down Ratio'].toFixed(2)

          required_list = [sort_data[i]['Ticker Und'],(sort_data[i]['Weight'] * 100).toFixed(2) + '%','{{symbol|safe}}' + parseFloat(sort_data[i]['Current Price']).toLocaleString(flag, { maximumFractionDigits: 0 }),sort_data[i]['Upside Px'],sort_data[i]['Downside Px'],sort_data[i]['Up/Down Ratio'],'', '']
          tabledata.push(required_list)
    }
    // Creating dynamic table
    $("#tbody").empty();
    var table = document.getElementById("tbody");
    var columnCount = tabledata[0].length;
    var row = table.insertRow(0);
    for (var i = 0; i < tabledata.length; i++) {
      row = table.insertRow(-1);
      for (var j = 0; j < columnCount; j++) {
        var cell = row.insertCell(-1);
        cell.innerHTML = tabledata[i][j];
      }
      $(table).find('tr:eq(' + (i+1) + ') td:nth-child(1)').addClass('company sticky-col first-col')
      id = ("price_target" + (i+1))
      $(table).find('tr:eq(' + (i+1) + ') td:nth-child(7)').attr('id',id);
      graph1(data[i],id)
      id = ("price_target_" +(i+1))
      $(table).find('tr:eq(' + (i+1) + ') td:nth-child(8)').attr('id',id);
      graph2(data2[i],categories_data[i],plot_line[i],id)
    }
    $("#tbody tr:first-child").remove();
    function graph1(data_list,graphid)
    {
        maximum = {{ max_value | safe }}
        maximum = maximum + (maximum / 10)
        Highcharts.chart(graphid, {
          chart: {
            height: 40,
            width: 400,
            type: 'column',
            inverted: true,
            backgroundColor: "transparent"
          },
          credits: {
            enabled: false
          },
          exporting: {
            buttons: {
              contextButton: {
                enabled: false
              },

            }
          },
          title: {
            text: null
          },
          xAxis: {
            categories: '',
            lineColor: 'transparent',
            tickLength: 0,
            labels:
            {
              enabled: false,
            },
          },
          yAxis: {
            min: -({{ max_value| safe}}),
            max: maximum,
            gridLineWidth: 0,
            title: {
              text: null
            },
            lineColor: 'transparent',
            tickLength: 0,
            labels: {
                enabled: false
              },
          },
          tooltip: {
            pointFormat: '',
            headerFormat: "{series.name}:<b>{point.y:.1f}%</b>"
          },
          plotOptions: {
            series: {
              animation: false
            },
            column: {
              stacking: 'normal',
                threshold: 0,
                dataLabels: {
                enabled: true,
                  style: {
                    fontWeight: 'normal',
                    fontSize: '13px',

                },
                formatter: function() {
                  return (this.y).toFixed(1) + '%';
                },

              },
            },
          },
        legend: {
          enabled: false
        },
        series: data_list
      });
    }
    function graph2(data_list,cate,plot_lines,graphid){
      const color_grad1 = {
      linearGradient: { x1: 0, x2: 0, y1: 0, y2: 1 },
      stops: [
        [0, 'green'],
        [1, 'red']
      ]
    };
  maximum = {{ max_value2 | safe }}
  minimum = {{ min_value2 | safe }}
  min_length = (minimum + '').length
  x = min_length - (cate[0] + '').length
  str = (parseFloat(cate[0])).toFixed(1) + ''
  Highcharts.chart(graphid, {
      chart: {
        height: 40,
        width: 250,
        type: 'bar',
        inverted: true,
        marginLeft: 60,
        marginRight: 60,
        backgroundColor: "transparent"
      },

      credits: {
        enabled: false
      },
      exporting: {
        buttons: {
          contextButton: {
            enabled: false
          },

        }
      },
      title: {
        text: null
      },
      xAxis: {
        categories: cate,
        lineColor: 'transparent', tickLength: 0,
        offset: -10,
        labels:
        {
          enabled: true,
          style: {
            width: 180,
            paddingLeft: 0,
            fontWeight: 'normal',
            fontSize: '10px',
            color: 'black',
          },
          formatter: function () {
            return '{{symbol|safe}}' + parseFloat(this.value).toLocaleString(flag, { maximumFractionDigits: 0 })
          },
        },
      },
      yAxis: {
        min: parseFloat(cate[0]),
        max: data_list[0]['y'],
        startOnTick: false,
        endOnTick: false,
        allowDecimals: false,
        tickPositions: [parseFloat(cate[0]), data_list[0]['y']],
        gridLineWidth: 0,
        title: {
          text: null
        },
        lineColor: 'transparent', tickLength: 0,
        labels: {
          enabled: false
        },
        plotLines: [{
          color: 'black',
          width: 2,
          value: plot_lines[0],
          zIndex: 10,
          label: {
            rotation: 0,
            text: '{{symbol|safe}}' + parseFloat(plot_lines[0]).toLocaleString(flag, { maximumFractionDigits: 0 }),

            verticalAlign: 'top',
            textAlign: 'center',
            rotation: 0,
            y: -1,
            style: {
              fontWeight: 'normal',
              fontSize: '10px',
            }
          }
        },
        {
          color: 'black',
          width: 0,
          value: data_list[0]['y'],
          label: {
            rotation: 0,
            text: '{{symbol|safe}}' + parseFloat(data_list[0]['y']).toLocaleString(flag, { maximumFractionDigits: 0 }),
            x: 5,
            y: 12,
            style: {
              fontWeight: 'normal',
              fontSize: '10px',
            }
          }
        }
        ]
      },
    tooltip: {
      enabled: false,
    },

    plotOptions: {
      bar: {
        dataLabels: {
          enabled: false,

        }
      }
    },
    legend: {
      enabled: false
    },

    series: [{

      data: data_list,
      color: color_grad1
    }]
    });
    }
    max_up_return = {{ max_up_return | safe }}
    max_down_return = {{ max_down_return | safe }}

    text = "<p>As per Analyst target prices, maximum upside potential is provided by <b style='color:#006EB6'>" + max_up_return[0][0] + "</b> of <b class='number1'>" + (max_up_return[0][1] * 100).toFixed(1) + "%</b> and maximum downside potential is in <b style='color:#006EB6'>" + max_down_return[0][0] + "</b> of <b class='number2'>" + (max_down_return[0][1] * 100).toFixed(1) + "%</b></p>"
    document.getElementById('notes-section').innerHTML = text
    if ($('.number1').text().includes('-')) {
      $('.number1').css('color', 'red')
    }
    else {
      $('.number1').css('color', 'green')

    }
    if ($('.number2').text().includes('-')) {
      $('.number2').css('color', 'red')
    }
    else {
      $('.number2').css('color', 'green')
    }
    }
    else {
      $('.price-target').hide();
      document.getElementById('error').innerHTML = "No Data Available"
      $('#error').show();
      $('.table-responsive').hide();
    }
    if ($('.price-target').height() < 500) {
      $('.card-body').height($('.price-target').height() + 120);
      $('.card-body div').removeClass('scroll-div');

    }
    function checkWidth() {
   
   if ($(window).width() < 580) {
     $('.table thead th:nth-child(1)').removeClass('sticky-col first-col');
     $('.table tbody td:nth-child(1)').removeClass('sticky-col first-col');

   }
   else {
     $('.table thead th:nth-child(1)').addClass('sticky-col first-col');
     $('.table tbody td:nth-child(1)').addClass('sticky-col first-col');

   }
 }
 checkWidth();
 $(window).resize(checkWidth);
    $("body").css({visibility:'visible'})
  
  </script>
{% endblock %}
