{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <!-- Google analytics/Google Search Console/Google Tag Manager Configuration for https://www.72pi.ai -->
    {% block googleanalytics %}
    {% include "snippets/googleanalytics.html" %}
    {% endblock googleanalytics %}
    <!-- These are jquery files, should be mentioined before the use of '$' -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
    crossorigin="anonymous"></script>
    <script  src="{% static 'homepage/js/jquery.magnific-popup.min.js' %}"></script>

    <!-- End Google analytics/Google Search Console/Google Tag Manager Configuration -->
    <link rel="stylesheet" href="{% static 'css/azia.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'homepage/css/magnific-popup.css' %}?v=1.2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  </head>
 
  <body class="d-flex flex-column">
     <!-- Google Tag Manager (noscript) Configuration for https://www.72pi.ai -->
     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCC892B"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="dummydiv" style="display: none;">
      <ul class="postlogin-ul">
        <li><a href="{% url 'home' %}" class="home-li">Home</a></li>
        <li><a href="{% url 'macroview' %}" class='market-li'>Market</a></li>
        <li class='menu-has-children'><i class='fa fa-chevron-down' ></i>
          <!-- <a href='' class='nav-mobile-products'>Products</a> -->
          {% if user.is_authenticated %}
          <a href="{% url 'welcomepage' %}" class='nav-mobile-products'>Products</a>

          {% else %}
         <a href="{% url 'prelogin_products' %}" class='nav-mobile-products'>Products</a>

          {% endif %}
          <ul style='display: none;'>
            <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href=''
              class='nav-mobile-72pi_portfolio'>72PI Portfolio</a>
            <ul style='display: none;'>
              <li class="ourmarketview-li"><a href="{% url 'ourMarketView' %}" >Our Market View</a></li>
              <li class="ideas-li"><a href="{% url 'tradeSignals' %}">Our Portfolio</a></li>
              <li class="performance-li"><a href="{% url 'SignalsPerformance' %}" >Our Performance</a></li>
              <li class='modelport-li'><a href="{% url 'ModelPortfolio' %}" >Model Portfolios</a></li>
            </ul>
          </li>
          <li class="wizard-li"><a href="{% url 'portfolioCreationWizard' %}">Wizard</a></li>
            <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href=''
                class='nav-mobile-creator'>Portfolio Creator</a>
              <ul style='display: none;'>
                <li class='myport-li'><a href="{% url 'indexpage' %}" >My Portfolio</a></li>
                <li class='create-li'><a href="{% url 'createPortfolio' %}"  >Create Portfolio by selecting stocks</a></li>
                <li class='generate-li'><a href="{% url 'screener' %}" >Create Portfolio by usingfilters</a>
                </li>
                <li  class='visual-li'><a href="{% url 'createPortfolioVisually' %}">Create Portfolio Visually</a>
                <li class='import-lii'><a href="{% url 'import_portfolio' %}" >Import Portfolio</a></li>
              </ul>
            </li>
            <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href=''
                class='nav-mobile-analyzer'>X-Ray Analyzer</a>
              <ul style='display: none;'>
                <li  class='Equal_Weighted_Returns-li'><a href="{% url 'portfolio_returns' %}">Portfolio Returns</a></li>
                <li class='monthlyperformance-li'><a href="{% url 'monthlyPerformance' %}" >Performance</a></li>
                <li class='investment_sector_market-li'><a href="{% url 'investment_amount_sector_mktcap' %}" >By
                    Investment Amount</a></li>
                <li class='analyst_targetprice-li'><a href="{% url 'analystTargetPrice' %}" >Analyst Target Price</a></li>
                <li class='risk_overview-li'><a href="{% url 'risk_overview' %}" >Risk Overview</a></li>
                <li class="factor-li"><a href="{% url 'factorInfo' %}" >Factor Analysis</a></li>
                <li class='investment_amount_factors-li'><a href="{% url 'investment_amount_factors' %}" >Returns by
                    factors</a></li>
                <li class='historical_multiples-li'><a href="{% url 'historical_multiples' %}" >Valuation Multiples</a>
                </li>
                <li class='MacroImpact-li'><a href="{% url 'macroimpact' %}" >Macro Impact</a></li>
                <li class='Volume_Volatility-li'><a href="{% url 'volume_volatility' %}" >Stock Price vs Moving Average &
                    Volume</a></li>
                <li class='dashboards_summary-li'><a href="{% url 'dashboards_summary' %}" >Dashboard Summary</a></li>
              
              </ul>
            </li>
            <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href=''
                class='nav-mobile-optimized'>Optimizer</a>
              <ul style='display: none;'>
                <li class='Efficient_Frontier-li'><a href="{% url 'efficient_frontier' %}" >Efficient Frontier</a></li>
                <li class='target_return_model-li'><a href="{% url 'target_return_model' %}" >Target Return Model</a></li>
                <li  class='resultcomparision-li'><a href="{% url 'resultsComparision' %}">Results Comparison</a></li>
              </ul>
            </li>
            <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href=''
              class='nav-mobile-advanced_quant'>Advance Quant</a>
            <ul style='display: none;'>
    
                <li class="futures-li"><a href="{% url 'marketFutureOptions' %}" >Futures & Options</a></li>
                <li class="aiml-li"><a href="{% url 'AIMLSignals' %}" >ML Quant</a></li>
                <li class="technical-li"><a href="{% url 'technicalIndicators' %}" >Technical Indicators</a></li>

              </ul>
          </li>
          <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href=''
            class='nav-mobile-reports_insights'>Reports & Insights</a>
          <ul style='display: none;'>
            <li class="research-li"><a href="{% url 'researchview' %}" >Reports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="insights-li"><a href="{% url 'marketview' %}" >Insights&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                      
          </ul>
        </li>
          </ul>

        </li>
        <li><a href="{% url 'pricingDetails' %}" class="pricing-li">Pricing</a></li>
        <li><a href="{% url 'blogsview' %}" class="blogs-li">72PI Blog</a></li>
        <li><a href="{% url 'aboutus' %}" class="aboutus-li">About Us</a></li>
        <li><a href="{% url 'OffStreetBeat' %}" class="offbeatstreet-li">Offbeat</a></li>
        {% if user.is_authenticated %}
          <li class='menu-has-children'><i class='fa fa-chevron-down'></i><a href='#' class="myacc-li">{{user}}</a>
            <ul style='display: none;'>
              <li class="subscribe-li"><a href="{% url 'getCustomerSubscriptions' %}" >Subscriptions</a></li>
              <li class="alerts-li"><a href="{% url 'listAllWaitingAlerts' %}" >Alerts</a></li>
              <li class="risk-profile-li"><a href="{% url 'InvestorRiskPreferences' %}" >Risk Profile</a></li>
              <li class="changepwd-li"><a href="{% url 'account_set_password' %}" >Change Password</a></li>
              <li class="settings-li"><a href="{% url 'myprofileview' %}" class="a-settings">Settings</a></li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
            </li>
        {% else %}
          <li><a href="{% url 'account_login' %}" class="baselogin"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
        {% endif %}
        <li class="country_dropdowns ">
          <dl id='countries' class="dropdown">
            <dt>
              <a href="#"  onclick='$(".dropdown dt").click(function (e) {$(".dropdown dd ul").toggle();e.preventDefault();});'><span class="value" ><img src="{% static 'images/IndiaFlag.png' %}" alt="No Image">
                  India</span></a>
            </dt>
            <dd>
              <ul class="country-ul">
                <li onclick="countrychange('India')">
                  <img src="{% static 'images/IndiaFlag.png' %}" alt="No Image">
                  India</li>
                <li onclick="countrychange('US')">
                  <img
                    src="{% static 'images/USFlag.png' %}" alt="No Image">US
                </li>
              </ul>
            </dd>
          </dl>
         </li>
      </ul>
    </div>
  
    <header id="header" class="base-headers">
      <div class="topheader">
        <div class="container">
          <div class="row align-items-center justify-content-between d-flex">
            <div class="col-lg-12">
              <aside id="text-5" class="widget widget_text">
                <div class="textwidget">
                  <div class="content">
                    <div id="stock_update_tick" class="stock_updates ">
                      <ul id="stock_updates_data">
                      </ul>
                      <div style="clear: both;"></div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="container main-menu ">
        <div class="row align-items-center justify-content-between d-flexs">
          <div id="logo">
            <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70
                height=40  alt="No Image"/></a>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav nav-menu">
              <li><a href="{% url 'macroview' %}" class="signals main-tab">Market</a></li>
              <div class="subnav ">
                {% if user.is_authenticated %}
                <li><a href="{% url 'welcomepage' %}" class="products subnavbtns main-tab">Products</a></li>

                {% else %}
                <li><a href="{% url 'prelogin_products' %}" class="portanalytics main-tab">Products</a></li>

                {% endif %}
                <div class="mg-t-10 nav-menu subnav-content   center-block text-center">
                  <li class="menu-has-children mg-l-0"><a href="#"   class="sub-tab1 72_port">72PI Portfolio <i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li class="ourmarketview-li"><a href="{% url 'ourMarketView' %}" class='portfolios-li market-view'>Our Market View</a></li>

                      <li class="ideas-li"><a href="{% url 'tradeSignals' %}" class="ideas">Our Portfolio</a></li>
                      <li class="performance-li"><a href="{% url 'SignalsPerformance' %}" class="performance">Our Performance</a></li>
                      <li><a href="{% url 'ModelPortfolio' %}" class='modelport-li'>Model Portfolios</a></li>
                    </ul>
                  </li>
                  <li class="wizard-li"><a href="{% url 'portfolioCreationWizard' %}" class="sub-tab2">Wizard</a></li>
                  <li class="menu-has-children mg-l-0"><a  class="sub-tab3 portfoliomenu">Portfolio Creator <i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li><a href="{% url 'indexpage' %}" class="myport">My Portfolio</a></li>
                      <li><a href="{% url 'createPortfolio' %}" class="create">Create Portfolio by selecting stocks</a>
                      </li>
                      <li><a href="{% url 'screener' %}" class="generate">Create Portfolio by using
                          filters</a></li>
                <li><a href="{% url 'createPortfolioVisually' %}" class='visual-li'>Create Portfolio Visually</a>

                      <li><a href="{% url 'import_portfolio' %}" class="import">Import Portfolio</a></li>
  
                    </ul>
                  </li>
                  <li class="menu-has-children"><a href="#"   class="sub-tab4 analyzer">X-Ray Analyzer <i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li class="nav-sub-item"><a href="{% url 'portfolio_returns' %}"
                          class="nav-sub-link Equal_Weighted_Returns">Portfolio Returns</a> </li>
                      <li class="nav-sub-item"><a href="{% url 'monthlyPerformance' %}"
                          class="nav-sub-link monthlyperformance">Performance</a></li>
                      <li class="nav-sub-item"><a href="{% url 'investment_amount_sector_mktcap' %}"
                          class="nav-sub-link investment_sector_market">By Investment Amount</a></li>
                      <li class="nav-sub-item"><a href="{% url 'analystTargetPrice' %}"
                          class="nav-sub-link analyst_targetprice">Analyst Target Price</a></li>
                      <li class="nav-sub-item"><a href="{% url 'risk_overview' %}" class="nav-sub-link risk_overview">Risk
                          Overview<sub class="tx-10">This may take 6-10 sec</sub></a></li>
                      <li class="nav-sub-item"><a href="{% url 'factorInfo' %}" class="nav-sub-link factorinfo">Factor
                          Analysis</a></li>
                      <li class="nav-sub-item"><a href="{% url 'investment_amount_factors' %}"
                          class="nav-sub-link investment_amount_factors">Returns by factors</a></li>
  
                      <li class="nav-sub-item"><a href="{% url 'historical_multiples' %}"
                          class="nav-sub-link historical_multiples">Valuation Multiples</a> </li>
  
                      <li class="nav-sub-item"><a href="{% url 'macroimpact' %}" class="nav-sub-link MacroImpact">Macro
                          Impact</a></li>
  
                      <li class="nav-sub-item"><a href="{% url 'volume_volatility' %}"
                          class="nav-sub-link  Volume_Volatility">Stock Price vs Moving Average & Volume</a></li>
                      <li class="nav-sub-item"><a href="{% url 'dashboards_summary' %}"
                          class="nav-sub-link dashboards_summary">Dashboard Summary</a></li>
                    </ul>
                  </li>
                  <li class="menu-has-children portoptimized"><a href="#"   class="sub-tab5 optimized">Optimizer <i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li class="nav-sub-item"><a href="{% url 'efficient_frontier' %}"
                          class="nav-sub-link Efficient_Frontier">Efficient Frontier<sub class="tx-10">This may take 6-10
                            sec</sub></a></li>
                      <li class="nav-sub-item"><a href="{% url 'target_return_model' %}"
                          class="nav-sub-link target_return_model">Target Return Model</a></li>
                      <li class="nav-sub-item"><a href="{% url 'resultsComparision' %}"
                          class="nav-sub-link resultcomparision">Results Comparison</a></li>
                    </ul>
                  </li>
                  <li class="menu-has-children mg-l-0"><a href="#"    class="sub-tab6 adv_quant">Advance Quant <i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li class="futures-li"><a href="{% url 'marketFutureOptions' %}" class="futures">Futures & Options</a></li>
                      <li class="ai-ml-li"><a href="{% url 'AIMLSignals' %}" class="aiml">ML Quant</a></li>
                      <li class="technical-li"><a href="{% url 'technicalIndicators' %}" >Technical Indicators</a></li>
                    </ul>
                  </li>
                  <li class="menu-has-children mg-l-0"><a href="#"   class="sub-tab7 rep_insights">Reports & Insights <i class="fa fa-caret-down"></i></a>
                    <ul>
                      <li class="research-li"><a href="{% url 'researchview' %}" class="research">Reports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                      <li class="news-li"><a href="{% url 'marketview' %}" class="fundamentals news">Insights&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                  </li>
                </div>
              </div>

              <li><a href="{% url 'pricingDetails' %}" class="pricing main-tab">Pricing</a></li>
              <li><a href="{% url 'blogsview' %}" class="blogs-li main-tab">72PI Blog</a></li>
              <li><a href="{% url 'aboutus' %}" class="aboutus main-tab">About Us</a></li>
              <li><a href="{% url 'OffStreetBeat' %}" class="offbeatstreet main-tab">Offbeat</a></li>
              {% if user.is_authenticated %}
              <li class="menu-has-children"><a href="#" class="my_account main-tab"><b class="myaccount">{{user}}</b> <i class="fa fa-caret-down mg-l-10"></i></a>
                <ul class="submenu  myaccount-ul">
                  <li><label class="mg-b-0">Hi {{user}} {% if subscription %}<span
                        class="text-italic sub_type">({{subscription|capfirst}})</span>{%endif%}
                      <p class="pd-l-30 tx-10 lastlogin">Login at : {{user.last_login}} </p>
                    </label>
                  </li>
                  <hr />
                  <li><a href="{% url 'getCustomerSubscriptions' %}" class="a-subscribe">Subscriptions</a></li>
                  <li><a href="{% url 'listAllWaitingAlerts' %}" class="a-alerts">Alerts</a></li>
                  <li><a href="{% url 'InvestorRiskPreferences' %}" class="a-risk-profile">Risk Profile</a></li>
                  <li><a href="{% url 'account_set_password' %}" class="a-changepwd">Change Password</a></li>
                  <li class="settings-li"><a href="{% url 'myprofileview' %}" class="a-settings" >Settings</a></li>
                  <li><a href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
              </li>
              <li class="notif-bell">
                <a href="#" class="notification" onClick="customerNotifications();">
                  <span style="color:#5627d8" class="fa fa-bell"></span>
                  {% if count %}
                  <span class="badge badge1">{{count}}</span>
                  {% endif %}
                </a>
              </li>
                {% else %}
                <li><a href="{% url 'account_login' %}" class="baselogin"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a></li>
                {% endif %}
               <li class="country_dropdown">
                <dl id='countries' class="dropdown">
                  <dt>
                    <a href="#"><span class="value"> <img src="{% static 'images/IndiaFlag.png' %}" alt="No Image"> India</span></a>
                  </dt>
                  <dd>
                      <ul class="country-ul">
                        <li>
                          <img src="{% static 'images/IndiaFlag.png' %}" alt="No Image" >
                          India</li>
                        <li>
                          <img
                            src="{% static 'images/USFlag.png' %}" alt="No Image">US</li>
                      </ul>
                  </dd>
              </dl>
               </li>
               <script>
                $(".dropdown dt").click(function (e) {
                  $(".dropdown dd ul").toggle();
                  e.preventDefault();
                });
                function countrychange(country) {
                  console.log(country)
                  $.ajax({
                    url: "{% url 'countryChange' %}",
                    type: 'post',
                    data: { 'country': country },
                    dataType: 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    success: function (json) {
                      history.pushState(null, "", location.href.split("?")[0]);
                      window.location.reload(true);
                      localStorage.setItem("country-val", json.country);
                      return false;
                    },
                    error: function (json) {
                      console.log("error")
                    }
                  });
                }
                var localCountry = localStorage.getItem("country-val");
                if (localCountry === "India"){
                  $(".dropdown dt a span").html("<img src='{% static 'images/IndiaFlag.png' %}' alt='No Image'>").append(localCountry);
                }
                else
                {
                  $(".dropdown dt a span").html("<img src='{% static 'images/USFlag.png' %}' alt='No Image'>").append(localCountry);
                }
                $(".dropdown dd ul li").click(function () {
                  $(".dropdown dd ul").hide();
                  countrychange(($(this).text()).trim())
                }); 
                $(document).bind('click', function(e) {
                    var $clicked = $(e.target);
                    if (! $clicked.parents().hasClass("dropdown"))
                        $(".dropdown dd ul").hide();
                });
               </script>
            </ul>
          </nav>
        </div>
      </div>

    </header>
    {% block content %}
    
    {% endblock %}
        
    <!-- Floating Social Media bar Starts -->
    {% if user.is_authenticated %}
    {% else %}
      <div class="float-sm">
        <div class="fl-fl float-get">
          <a href="{% url 'customerFreeSubscription' %}"  style="writing-mode: vertical-lr; transform: rotate(180deg);">Get 30-Day Free Trial</a>
        </div>
      </div>

    {% endif %}
    
    <div class="float-sm">
      <div class="fl-fl float-fb">
        <a href="https://www.facebook.com/72pisignals/" target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="fl-fl float-tw">
        <a href="https://twitter.com/72pisignals" target="_blank"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="fl-fl float-insta">
        <a href="https://www.instagram.com/72pisignals/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="fl-fl float-in">
        <a href="https://www.linkedin.com/company/72pi/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="fl-fl float-yt">
        <a href="https://www.youtube.com/channel/UCGKP2GoOr2RTMpe9cPwr7WA" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
    <section class="flex-grow">

    </section>
<!-- Floating Social Media bar Ends -->
    <footer class="footer-section mainfooter">
      <div class="col-md-12 stocklist pd-t-10 pd-b-10" >
        <div class="foot-atozlinks" style="text-align:center !important;margin-bottom:0px;">
          <ul class="list14">
            <li class="title">Stock List</li>
            <li>
              <a href="" class="stock-name" target="_blank" title="A">A</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="B">B</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="C">C</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="D">D</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="E">E</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="F">F</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="G">G</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="H">H</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="I">I</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="J">J</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="K">K</a>
            </li>
            <li>
              <a href=" " class="stock-name" target="_blank" title="L">L</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="M">M</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="N">N</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="O">O</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="P">P</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="Q">Q</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="R">R</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="S">S</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="T">T</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="U">U</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="V">V</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="W">W</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="X">X</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="Y">Y</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank" title="Z">Z</a>
            </li>
            <li>
              <a href="" class="stock-name" target="_blank"
                title="Others">Others</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="footer-content pt-2 pb-2">
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <div class="footer-widget">
                
                <div class="footer-text text-justify">
                  <p class="text-italic tx-6  ">Disclaimer: Aishva Financial Services Private Limited is a company
                    incorporated under the
                    Companies Act 1956. Aishva Financial Services Private Limited is a registered investment
                    advisor with the Securities and Exchange Board of India and through its online product,
                    www.72pi.ai, intends to provide curated content about the capital markets and provide
                    financial modeling tools to its customers. The investments discussed or recommended through
                    www.72pi.ai may not be suitable for all investors and hence, you must rely on your own
                    examination and judgement of the stock and company before making investment decisions. Data
                    provided through www.72pi.ai is for information purposes only and should not be construed as
                    an offer or solicitation of an offer to buy or sell any securities. Information and
                    discussions made available through www.72pi.ai contain forward looking statements that
                    involve risks, uncertainties and assumptions that could cause actual results to differ
                    materially from those contemplated by the relevant forward-looking statement. Aishva
                    Financial Services Private Limited or www.72pi.ai or its employees / directors or any of its
                    affiliates are not responsible for any losses that may arise to any person who has made
                    investments based on the contents of the www.72pi.ai or information in emails or in
                    documents. Past Performance Is No Guarantee of Future Results.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-cta pt-3 pb-2">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-xl-3 col-md-3">
                    <div class="single-cta">
                      <div class="cta-text ">
                        <div class="d-flex">
                          <i class="fa fa-map-marker " aria-hidden="true"></i>
                          <h4 class="mg-t-10 mg-l-10">Find us</h4>
                        </div>
                        <div class="mg-l-30">
                          <span class="">1st Floor, TK House, Plot 11, Shilpa Hills,
                            Khanamet, HITEX Road, Hyderabad 500081</span>
                        </div>
                      </div>
                    </div>
                    <div class="single-cta">
                      <div class="cta-text">
                        <div class="d-flex">
                          <i class="fa fa-phone"></i>
                          <h4 class="mg-t-10 mg-l-10">Call us</h4>
                        </div>
                        <div class="mg-l-30">
                          <span> +91-8919293838</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3">
                    <div class="single-cta">
                      <div class="cta-text">
                        <div class="d-flex">
                          <i class="fa fa-envelope-open"></i>
                          <h4 class="mg-t-10 mg-l-10">Mail us</h4>
                        </div>
                        <div class="mg-l-40">
                          <div class="">
                            <span>For Investor queries :</span>
                            <span class="text-italic">
                              <a href="mailto:info@72pi.ai" class="mail-to">info@72pi.ai</a>
                            </span>
                          </div>
                          <div class="mg-t-10">
                            <span>For grievances :</span>
                            <span class="text-italic">
                              <a href="mailto:support@72pi.ai" class="mail-to">support@72pi.ai</a>
                            </span>
                          </div>
  
                        </div>
                      </div>
                    </div>
                    <div class="single-cta">
                      <div class="cta-text">
                        <div class="d-flex">
                          <i class="fa fa-globe"></i>
                          <h4 class="mg-t-10 mg-l-10">Website</h4>
                        </div>
                        <div class="mg-l-40">
                          <span class="text-italic"><a href="http://www.72pi.ai" class=""
                              target="_blank">http://www.72pi.ai</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3">
                    <div class="single-cta">
                      <div class="cta-text">
                        <div class="d-flex">
                          <i class="fa fa-link"></i>
                          <h4 class="mg-t-10 mg-l-10">Useful Links</h4>
                        </div>
                        <div class="mg-l-40">
                          <ul class="mg-t-0 useful-links-ul">
                            <li>
                              <a href="{% url 'privacypolicy' %}" target="_blank" class="privacypolicy">Privacy Policy</a>
                            </li>
                            <li>
                              <a href="{% url 'termsofuse' %}" target="_blank" class="terms">Terms & Conditions of Use</a>
                            </li>
                            <li>
                              <a href="{% url 'aboutus' %}" class="aboutus-footer">About Us</a>
                            </li>
                            <li><a href="{% url 'customerContactUs' %}" class="contactus">Contact Us</a></li>
                            <li><a href="{% url 'faq' %}" target="_blank" class="faq">FAQ</a></li>
                            <li><a href="{% url 'customerFeedback' %}" class="feedback">Feedback</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-3 pd-r-0 pd-l-0 my-auto">
                    <div class="newsletter-div my-auto">
                      <form>
                        <div class="d-flex justify-content-end my-auto">
                          <input type="text" class="form-control" id="newsletteremail" placeholder="Enter Email for free Newsletters">
                          <button class="subscribe-btn mg-l-5 newslettersubscribe">Subscribe</button>
                        </div>
                      </form>
                      <p class="mg-t-0 text-center newsletterres"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 text-center text-lg-left pd-l-0">
              <div class="copyright-text text-white pd-b-10">
                Powered </i> by <a href="https://goldenhillsindia.com" target="_blank" class="mail-tag">Aishva Financial
                  Services Private Limited</a> | Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
                | Investment Adviser SEBI Regn. Nos: INA200015103 | Data feed provided by C-MOTS Internet Technologies Pvt
                Ltd.
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </footer>
  
    <div id="notification_modal" class="modal">
      <div class="modal-dialog notification_modal_dialog">
        <div class="modal-content">
          <div class="note_head row ">
            <div class="col-lg-4 pd-l-0">
              <h5 class="mg-l-0">Notifications</h5>
            </div>
            <div class="col-lg-8 text-right pd-l-0 pd-r-0">
              <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                &nbsp;<span aria-hidden="true">&times;</span>
              </button>
              <a href="#" class="markread" style="font-size:12px;color:white;text-decoration:none;">Mark all as read</a>
            </div>
          </div>
          <div class="msgdiv">
            <div class="scroll-div">
              {% if notifications %}
              <div class="notif1">
                {% for item in notifications %}
                <div class="col-sm-12  pd-l-20 div-read-click">
                  <div class="font-weight-bold company_notif" style="font-size:13px;font-weight:500">{{item.company_name}}
                  </div>
                  <div class="tx-12" style="margin-top:-5px">Portfolio:<b
                      class="portfolio_notif">{{item.portfolio_name}}</b></div>
                  <div class="tx-12" style="margin-top:-5px">{{item.alert_type}} alert</div>
                  <div class="tx-12" style="margin-top:-5px">{{item.condition}}</div>
                  <div class="tx-10 text-muted text-italic" style="margin-top:-5px">{{item.triggeredat}}</div>
                  <div class="tx-10 text-muted read1" style="display:none">{{item.read}}</div>
                  <div class="tx-10 text-muted read2" style="display:none">{{item.id}}</div>
                  <div class="tx-10 text-muted alert_type" style="display:none">{{item.type}}</div>
                </div>
                <hr class="mg-t-0 mg-b-0">
                {% endfor %}
              </div>
              {% else %}
              <div class="col-sm-12  pd-20">
                <div class="tx-14">You don't have any notifications at this moment</div>
              </div>
              {% endif %}
              <script>
                var count = {{ notifications| length }}

                if (count < 3) {
                  $('.msgdiv').css('height', 'max-content');
                  $('.msgdiv div').removeClass('scroll-div')
                }

              </script>
            </div>
          </div>
          {% if notifications %}
          <a href="{% url 'allNotifications' %}" class="show-all">Show all notifications</a>
          {% endif %}
        </div>
      </div>
    </div>
    

  </body>
  <script src="{% static 'js/vTicker.js' %}"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script  src="{% static 'homepage/js/main.js' %}"></script>

  <script>
      function customerNotifications(){
            $("#notification_modal").modal("show");
            $('.badge1').html("");
            $('.badge2').html("");
            $('.badge3').html("");
            $.ajax({
            type: "POST",
            url: "{% url 'checkALLNotifications'%}",
            dataType : 'json',
            csrfmiddlewaretoken: "{{ csrf_token }}",
            success:function (response){console.log('success')},
            error:function(response){console.log('error')}
            });
          }
          $('.markread').click(function(){
            $('.msgdiv .scroll-div div').each(function(){
              $(this).addClass('read-div')
            })
          $('.notification .badge').hide();
          $.ajax({
            type: "POST",
            url: "{% url 'readALLNotifications'%}",
            dataType : 'json',
            csrfmiddlewaretoken: "{{ csrf_token }}",
            success:function (response){console.log('success')},
            error:function(response){console.log('error')}
          });
          })
          $('.div-read-click').click(function(){
              $(this).addClass('read-div');
              $(this).unbind('click');
              var company = ($(this).find('.company_notif').text()).trim();
              var portfolio = $(this).find('.portfolio_notif').text().trim();
              var alert_type = $(this).find('.alert_type').text().trim();
              var id = $(this).find('.read2').text();
              console.log({'portfolio':portfolio, 'company':company, 'type':alert_type,'id':id})
              $.ajax({
              type: "POST",
              url: "{% url 'readNotification' %}",
              dataType : 'json',
              data : {'portfolio':portfolio, 'company':company, 'type':alert_type,'id':id},
              csrfmiddlewaretoken: "{{ csrf_token }}",
              success:function (response){console.log('success')},
              error:function(response){console.log('error')}
          });
          })
          $(document).ready(function(){
            $('.notif1 > div').find('.read1').each(function(){
              if($(this).text() == 'Yes')
              {
                $(this).parent().addClass('read-div')
              }
            });
            $('.notif2 > div').find('.read1').each(function(){
              if($(this).text() == 'Yes')
              {
                $(this).parent().addClass('read-div')
              }
            });
          
          });
      var localCountry = localStorage.getItem("country-val");
      if (localCountry === "India"){
        $(".dropdown dt a span").html("<img src='{% static 'images/IndiaFlag.png' %}' alt='No Image'>").append(localCountry);
      }
      else
      {
        $(".dropdown dt a span").html("<img src='{% static 'images/USFlag.png' %}' alt='No Image'>").append(localCountry);
      }

    if(localStorage.getItem("country-val")===null)
    {
      // $('.country-select-').val('India');
      // $('.country-select-mobile').val('India');
      $('.country-select-mobile').empty();

      $('.country-select').empty();
      $('.country-select-mobile').append($('<option>', {
              value: 'India',
              text: 'India'
          }));
          $('.country-select').append($('<option>', {
              value: 'India',
              text: 'India'
          }));

          $('.country-select-mobile').append($('<option>', {
              value: 'US',
              text: 'US'
          }));
          $('.country-select').append($('<option>', {
              value: 'US',
              text: 'US'
          }));
      $('.us_flag').hide();
    }
    else
    {
      $('.country-select-mobile').empty();
      $('.country-select').empty();

      if(localStorage.getItem("country-val")=='US'){
        $('.india_flag').hide();
            $('.us_flag').show();
            $('.country-select-mobile').append($('<option>', {
              value: 'US',
              text: 'US'
          }));
          $('.country-select-mobile').append($('<option>', {
              value: 'India',
              text: 'India'
          }));
          $('.country-select').append($('<option>', {
              value: 'US',
              text: 'US'
          }));
          $('.country-select').append($('<option>', {
              value: 'India',
              text: 'India'
          }));
      }else{
        $('.india_flag').show();
            $('.us_flag').hide();
            
          $('.country-select-mobile').append($('<option>', {
              value: 'India',
              text: 'India'
          }));
          $('.country-select-mobile').append($('<option>', {
              value: 'US',
              text: 'US'
          }));
          $('.country-select').append($('<option>', {
              value: 'India',
              text: 'India'
          }));
          $('.country-select').append($('<option>', {
              value: 'US',
              text: 'US'
          }));
      }
    }
    

    $(document).on("click", ".stocklist .list14 li a", function () {
        var startswith = $(this).text();
        var state= $('.country-select').val();
        var country;
        if(state==='US')
        {
          country = "US";
        }
        else{
          country = "India";
        }
        var stockURL = "{% url 'getstocklist'  %}?startswith="+startswith+"&country="+country;
        window.open(stockURL, '_blank');
        return false; 
     });

      function checkWidth(){
      var a={{market_indices|safe}}
      var sym=''
        jQuery.each(a, function (a, e) {
         
         
          if(((e.CompanyName).toUpperCase()==('Gold').toUpperCase()))
          
            sym=' (₹/gm)';
          
  
            else
            sym=''
            e.PerChange < 0 ?
              jQuery("#stock_updates_data").append('<div style="float:left; padding-left:10px; padding-right:10px;" class="market_tab">' + e.CompanyName+sym + ' : <span class="ltp">' +
                (e.ClosePrice).toLocaleString('hi-IN', { maximumFractionDigits: 1 }) + '</span> <span class="mg-l-10 red_text text-danger"><span class="change">'+(e.Change).toLocaleString('hi-IN', { maximumFractionDigits: 1 })+' (' +
                (e.PerChange * 100).toFixed(2) + "%)</span> <i class='fa fa-arrow-down mg-l-5' aria-hidden='true'></i></span></div>") : jQuery("#stock_updates_data").append('<div class="market_tab" style="float:left; padding-left:10px; padding-right:10px; ">' +
                  e.CompanyName+sym + ' : <span class="ltp"> ' + (e.ClosePrice).toLocaleString('hi-IN', { maximumFractionDigits: 1 }) + '</span> &emsp;<span class="green_text text-success">+<span class="change">'+(e.Change).toLocaleString('hi-IN', { maximumFractionDigits: 1 })+' ( +' +
                  (e.PerChange * 100).toFixed(2) + "%)</span> <i class='fa fa-arrow-up mg-l-5 text-success' aria-hidden='true'></i></span></div>")
          }), ViewCount = 4;

          var e = jQuery("#stock_updates_data div"),
              t = jQuery(window).width();
            
              t < 1100 && (ViewCount = 3), t < 830 && (ViewCount = 2), t < 600 && (ViewCount = 1);
          for (var s = 0; s < e.length; s += ViewCount){
              e.slice(s, s + ViewCount).wrapAll("<li style='display:block; width:100%; clear:both;'></li>");
              
              $('.market_tab').css('width',''+(100/ViewCount)+'%')
            }
            jQuery("#stock_update_tick").vTicker({
              speed: 500,
              pause: 5e3,
              showItems: 1,
              animation: "fade",
              mousePause: !1,
              height: "30px",
              direction: "up"
            })
      }
      
      checkWidth();
      $(window).resize(checkWidth);

  

      $(document).on("click", ".newslettersubscribe", function () {
        var email = document.getElementById("newsletteremail");
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (filter.test(email.value)) {
        $.ajax({
                type: "POST",
                url: "{% url 'newsLetterSubscription' %}",
                dataType : 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                data: {'email': email.value},
                success:function (response) {
                  $('.newsletterres').css('color', 'yellow');
                  $('.newsletterres').html(response.msg);
                },
                error:function (response){
                  $('.newsletterres').css('color', 'red');
                  $('.newsletterres').html(response.msg);
                }
              });
        }else{
        email.focus;
        $('.newsletterres').css('color', 'red');
        $('.newsletterres').html("Please provide valid email!");
        return false;
        }
     });
  </script>
</html>