<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>72PI-Portfolio Intelligence</title>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
    crossorigin="anonymous"></script>
    <style>
        #load-modal .modal-dialog {
            max-width: 100%;
            height: 100%;
            padding: 0;
            margin:0;
        }
        #load-modal .modal-content {
            width:100%;
            height: 100%;
            border-radius: 0;
        }
        .loader-full-width {
            position: fixed;
            top: 0;
            left: 0px;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 20;
        }
        .loader-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            color: #3b4452;
            font-family: arial, sans-serif;
            font-weight: 600;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id='load-modal'  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
             <div class="loader-full-width">
              <div class="loader-wrapper">
                <img src="https://uas-ui.cdn.greytip.com/static-v6.3.0-prod-20/app-loading.gif">
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</body>
<script>
    $.ajax({
        type: "GET",
        url: "{% url 'daemonCreation'%}",
        dataType : 'json',
        csrfmiddlewaretoken: "{{ csrf_token }}",
        data: {},
        success:function (response) {
            window.location.href = response.redirect_url;
        },
        error:function (response){
        console.log("Error")
        }
    });
</script>
</html>

