{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Subscription - 72PI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/CannotTakeSubscription.css' %}?v=1.2">
  </head>
  <body>
    <div class="col-lg-12 section-gap">
        <div class="row">
          
            <div class="cards" style="margin:1px auto">

                <div class="card-header">
                    <!-- <div class="">
                      <h1 class="text-white">72PI</h1>
                    </div> -->
                    <h2>Hi, Thanks for having subscription in 72PI</h2>
                    <hr>
                </div>
                {% if subscription and endtime %}
                <div class="card-body">
                    {% ifequal subscription "free" %}
                    <h4>You have already subscribed to 14 Day Trial subscription</h4>
                    {% else %}
                    <h4>You have already subscribed to {{subscription|capfirst}} {{plan|capfirst}} premium</h4>
                    <!-- <p class="text-white mg-t-5">If you want to change your subscription plan to Diamond Annual Premium, please upgrade.</p> -->
                    {% endifequal %}
                    <p class="text-white mg-t-5">Validity ends on {{endtime}} </p>
                   <div class="mg-t-40">
                    <a href="{% url 'pricingDetails' %}" class="back-btn mg-t-20">Go Back</a>
                    {% if gqplanupgrade %}
                    <a href="{% url 'customerGoldAnnualUpgrade' %}" class="subscribe-btn mg-t-20 mg-l-50">Upgrade</a>
                    {% endif %}
                    {% if dqplanupgrade %}
                    <a href="{% url 'customerDiamondAnnualUpgrade' %}" class="subscribe-btn mg-t-20 mg-l-50">Upgrade</a>
                    {% endif %}
                    {% if premiumupgrade %}
                    <a href="{% url 'customerSubscriptionUpgrade' %}" class="subscribe-btn mg-t-20 mg-l-50">Upgrade</a>
                    {% endif %}
                    {% if goldpremium %}
                    <a href="{% url 'customerFreeToGoldSubscription' %}" class="subscribe-btn mg-t-20 mg-l-50">Gold Subscription</a>
                    {% endif %}
                    {% if diamondpremium %}
                    <a href="{% url 'customerFreeToDiamondSubscription' %}" class="subscribe-btn mg-t-20 mg-l-50">Diamond Subscription</a>
                    {% endif %}
                   </div>
                </div>
                {% else %}
                <div class="card-body">
                    <h4>You have already subscribed to 72PI services</h4>
                    <p class="text-white mg-t-5">You cannot get free subscription now</p>
                    <p class="text-white mg-t-5">Please check out our terms and conditions</p>
                   <div class="mg-t-40">
                    <a href="{% url 'pricingDetails' %}" class="subscribe-btn mg-t-20">Go Back</a>
                   </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
  <script>$("body").css({visibility:'visible'})</script>
  </body>
</html>
{% endblock %}