{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/ConfirmSubscription.css' %}?v=1.2">
    <title>Account registration form</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
  </head>
  <body>
    <div class="col-lg-12 section-gap confirmsubscribe-div">
      <div class="row">
        <div class="cards col-lg-6" style="margin:5px auto 0px auto">
          <form action="{% url 'payment_status' %}" method="POST">
            {% csrf_token %}
          <div class="text-center">
           
           <h2 class="text-center">Confirm your Order  <i class="fa fa-check-square mg-l-10 text-white"></i></h2> 
           <hr>
          </div>
          <div class="mg-t-20">
            <div class="form-inline">
              <h6>Subscription :</h6>
              <h4 class="mg-l-20">{{ product_id }}</h4>
            </div>
            <div class="form-inline mg-t-10">
              <h6>Subscription Payment Plan :</h6>
              <h4 class="mg-l-20">{{ payfor|capfirst}}</h4>
            </div>
            <div class="form-inline mg-t-10">
              <h6>Subscription Price:</h6>
              {% ifequal currency "USD" %}
              <h4 class="mg-l-20 price-div">$ {{ price }}</h4>
              {% else %}
              <h4 class="mg-l-20 price-div">₹ {{ price }}</h4>
              {% endifequal %}
            </div>
          </div>
          <div class="mg-t-20 personal-details">
            <div class="row">
              <div class="col-lg-12">
                <div><label>Name</label><input type="text" name="name" placeholder="{{ name }}" disabled></div>
                <div><label>Phone</label><input type="text" name="name" placeholder="{{ phone }}" disabled></div>
                <div><label>Email</label><input type="text" name="name" placeholder="{{ email }}" disabled></div>
              </div>
            </div>
         
          </div>
          
            <script src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_live_lbU8W1Qyi9zpKo"
                        data-amount="{{ price }}"
                        data-currency="{{currency}}"
                        data-order_id="{{ order_id }}"
                        data-buttontext="Make Payment "
                        data-name="72PI"
                        data-description="Subscription Transaction"
                        data-image="https://www.72pi.ai/static/homepage/img/Transparent1.png",
                        data-prefill.name="{{ name }}"
                        data-prefill.email="{{ email }}"
                        data-prefill.contact="{{ phone }}"
                        data-theme.color="#F37254"></script>
              <input type="hidden" custom="Hidden Element" name="hidden">
        </form>
        <div class="text-center mg-t-10">
        <img class="img-fluid" style="border-radius:0px !important" width="150" height="100" src="{% static 'images/razorpay2.png' %}" />
      </div>
        </div>
      </div>
     
     
    </div>
  </body>
  <script>
    $('.razorpay-payment-button').addClass('fa');
    // $('.price-div').html("₹ "+parseFloat($('.price-div').text()).toLocaleString('hi-IN', {maximumFractionDigits: 2}))
    $("body").css({visibility:'visible'})
  </script>
</html>
{% endblock %}
