{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}?v=1.2">
    <title>Contact Us - 72PI</title>
  </head>
  <body>
    <div class="col-lg-12 contactusdiv section-gap">
			<div class="row">
        <div class="col-lg-8 section-1" style="margin:10px auto">
          <div class="container">
            <div class="card">
              <div class="card-body row">
                <div class="col-sm-6 plandiv contact-info">
                  <h4>Company Information</h4>
                  <div class="mg-t-20">
                    <img src="{% static 'images/india.png' %}" width="60" height="90">
                    <br><br>
                    <p>1st Floor, TK House,</p>
                    <p>Plot 11, Shilpa Hills, </p>
                    <p>Khanamet, HITEX Road,</p>
                    <p>Hyderabad 500081</p>
                    <p>Telangana,India</p>
                    <li><i class="fa fa-phone"></i>
                      <span>+91-8919293838</span>
                     
                    <li><i class="fa fa-envelope mg-r-10"></i><a href="mailto:72pi@aishva.com " class="tx-20">72pi@aishva.com </a></li>
                </div>
               
                </div>
                <div class="col-sm-6 infodiv" >
                    <h4>Customer Contact Form</h4>
                    <div class="formdetails mg-t-20">
                      <form action="#" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{form|crispy}}
                        {% if msg1 %}
                        <p style="color: red;">{{msg1}}</p>
                        {% endif %}
                        {% if msg2 %}
                        <p style="color:green;">{{msg2}}</p>
                        {% endif %}
                      <button class="btn Subscribe mg-t-30">Submit</button>
                      </form>
                      <div class="mg-t-20">
                        <p class="tx-12">You agree to receive emails from 72PI on investing ideas, market updates and news. You can unsubscribe at anytime. By submitting this form, you agree to 72PI Terms of Service and Privacy Policy.</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
    </div>
    <script>$("body").css({visibility:'visible'})</script>
  </body>
</html>
{% endblock %}