{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Create Portfolio Visually - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" content="72pinewsflow, marketnewsflow, marketnews, stocknews, 72piinsights, 72pitastybyte, tastybyte, insights,marketindicators, 72pimarketindicators"/>
        <meta name="description" content="72pi team generates insights from the market using different market indicators and also from the news flow" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/CreatePortfolioVisually.css' %}?v=1.2">
    </head>
	<body>
        <div class="se-pre-con"></div>
        <div class="col-lg-12 section-gap main researchmain-div" >
            <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Portfolio Creator<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'createPortfolioVisually' %}" class="nav-sub-link">Create Portfolio Visually</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                </div>
			</div>
            <div class="page-title  mg-t-5">
                
            </div>  
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div> 
        
        <div class="card mg-t-20 bubble_div">
            <h3 class=" text-center mg-t-10"><label>Create Portfolio Visually</label></h3>
                
            <div class="card-body">
               
                <div class="row">
                    <div class="col-lg-6  table-responsive mg-t-60">
                     
                        <table class="table bubble-table" cellpadding="1" cellspacing="1">
                            <tbody>
                                <tr>
                                        
                                    <td><label>Size</label></td> 
                                      <td>
                                         <select id="size">
                                             <option value="market_cap">Market Cap</option>
                                             <option value="sales">Sales</option>
                                             <option value="pe">PE</option>
                                         </select>
                                      </td>   
                                    
                                         <td><label>Index</label></td>
                                         <td> <select id="quant_index">
                                             {% for option in quant_index %}
                                                 <option value='{{option}}'>{{option}}</option>
                                             {% endfor %}
                                         </select></td>
                                     </tr>
                                    <tr  class="filters">
                                    <td>
                                        <label> Market Cap</label>
                                    </td>
                                    <td>
                                    
                                        <select id="market_cap">
                                            {% for option in quant_market_cap %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <label> Sales</label>
                                    </td>
                                    <td>
                                        <select id="sales">
                                            {% for option in quant_sales %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr  class="filters">
                                    <td>
                                        <label> PE</label>
                                    </td>
                                    <td>
                                        <select id="pe">
                                            {% for option in fund_pe %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <label> PB</label>
                                    </td>
                                    <td>
                                        <select id="pb">
                                            {% for option in fund_pb %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr  class="filters">
                                    <td>
                                        <label> ROE</label>
                                    </td>
                                    <td>
                                        <select id="roe">
                                            {% for option in fund_roe %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <label>52 Week High</label>
                                    </td>
                                    <td>
                                        <select id="week_high_52">
                                            {% for option in tech_price_52_week %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr class="filters">
                                    <td>
                                        <label>Beta</label>
                                    </td>
                                    <td>
                                        <select id="beta_1y">
                                            {% for option in risk_beta %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <label>Volatility</label>
                                    </td>
                                    <td>
                                        <select id="volatility_1y">
                                            {% for option in risk_volatility %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                               
                                <tr class="text-center filters">
                                    <td><label>EV/Sales</label></td>
                                    <td>
                                        <select id="ev_sales">
                                            {% for option in fund_ev_sales %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                              
                                    <td> <label>Debt/Equity</label></td>
                                    <td>
                                        <select id="debt_equity">
                                            {% for option in fund_debt_equity %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                 <tr class="text-center filters">
                                    <td><label>Sales Growth</label></td>
                                    <td>
                                        <select id="sales_growth">
                                            {% for option in fund_sales_growth %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                              
                                    <td><label>
                                        EPS Growth
                                    </label></td>
                                    <td>
                                        <select id="eps_growth">
                                            {% for option in fund_eps_growth %}
                                                <option value='{{option}}'>{{option}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-center apply-td">
                                        <button class="reset-filters">Reset(0)</button>

                                        <!-- <button class="apply-filters mg-t-10" onclick="applyFilters()">Apply</button> -->
                                <button type="button" id="Portfolio_Save" class="btn-primary">Create Portfolio</button>
                            </td>

                                </tr>
                            </tbody>
                        </table>
                       
                  
                        
                    </div>
                    <div class="col-lg-6 text-center">
                    <div><p id="total" class="text-right"></p></div>
                        <div id="bubble" class="scrol-div"></div>
                    </div>
                  </div>
                <div class="saveload"></div>

                  <div id="portfolioNameModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="modal-header">						
                                    <h4 class="modal-title">Name your portfolio</h4>
                                   <p class="responsemsg"></p>
                                </div>
                                <div class="modal-body text-center" style="color:black">
                                    <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                                    <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                                </div>
                                <div class="modal-footer text-center">
                                 <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                                   <input type="button" class="btn btn-default  saveport" style="background-color:#5627D8;color:white"  value="Create">
                                </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
            
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <h3 class="modal-title mg-t-10 text-center"><label>Create Portfolio Visually</label></h3>
                    <div class="modal-body">
                        <p>
                            This is one of the portfolio construction tools provided by 72pi. In this tool, users can
                            create their portfolios using filters. Many filters can be combined to screen for
                            identifying investing opportunities based on ROE, Sales Growth and so on. After applying the
                            required filters, users can create their portfolios
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal"
                            value="Close">
                    </div>
                </div>
            </div>
        </div>
<script src="https://d3js.org/d3.v4.min.js"></script>


            <script>
                  $('.se-pre-con').fadeOut(1);
                  $('.saveload').fadeOut();
                  $(document).on("click", ".description_btn", function () {
                        $('#description').modal('show');
                    
                    })
                  $(document).on("click", "#Portfolio_Save", function () {
                        $('#portfolioNameModal').modal('show');
                    
                    })
                    var global_filter_company_list=[];
                    var global_filter_list=[];
                    $('.bubble_div .table .filters select').change(function () {
                        var filter_list = {};
                        var select_id = $(this).attr('id');
                        var select_val = $(this).val();
                        if (select_val !== "Any") {
                            $(this).css('background-color', '#fff466');
                        }
                        else {
                            $(this).css('background-color', 'white');
                        }
                        if (select_val != 'Any') {
                            filter_list['factor'] = select_id;
                            filter_list['condition'] = select_val;
                        }
                        for (var i = 0; i < global_filter_list.length; i++) {
                            if (global_filter_list[i].factor === select_id) {
                                if (select_val != 'Any') {
                                    delete global_filter_list[i].factor;
                                    delete global_filter_list[i].condition;
                                    filter_list['factor'] = select_id;
                                    filter_list['condition'] = select_val;
                                }
                                else {
                                    delete global_filter_list[i];
                                }
                            }
                        }
                        global_filter_list.push(filter_list);
                        global_filter_list = (global_filter_list.filter(value => Object.keys(value).length !== 0));
                        $('.reset-filters').html("Reset ("+global_filter_list.length+")");
                    });
                    if(localStorage.getItem("country-val")=='India'){
                        $('#quant_index option[value="Nifty 50"]').attr("selected",true);
                    $('#market_cap option[value="Above 1000cr"]').attr("selected",true);
                    }
                    else{
                        $('#quant_index option[value="SP 500"]').attr("selected",true);
                    $('#market_cap option[value="Above $2000 Mn"]').attr("selected",true);
                    }
                 

                    applyFilters();
                    $('.reset-filters').click(function(){
                        
                        $('.bubble-table select').prop('selectedIndex',0);
                        $('.bubble-table select').css('background-color','white');
                        $('.reset-filters').html("Reset(0)");
                        global_filter_list=[];
                      
                        if(localStorage.getItem("country-val")=='India'){
                                    $('#quant_index').val("Nifty 50");
                                    $('#market_cap').val("Above 1000cr");

                                }
                                else{
                                    $('#quant_index').val("SP 500");
                                    $('#market_cap').val("Above $2000 Mn");
                               
                                }
                        applyFilters()

                    })
                    $('.researchmain-div select').on('change', function() {
                        applyFilters() ;
                        });
                    function applyFilters() {
                    var input_df = {{ input_df| safe }}                 
                    var output = {{ output| safe}}                   
                    global_filter_company_list=[]
                    output = output[$('#quant_index').val()]
                    input_df = $.grep(input_df, function (n, i) {                     
                        if (output.includes(n['fs_name']))
                            return n
                    });                          
                    for (j = 0; j < global_filter_list.length; j++) {
                        var min, max;
                        var condition_var = global_filter_list[j].condition;
                        var operator = "range";
                        condition_var = condition_var.replace(/\,/g, '');
                        if (condition_var != 'Any') {
                            values = condition_var.match(/[+-]?([0-9]*[.])?[0-9]+/g)
                            if (values!==null){
                            if (values.length > 1) {
                                min = values[0];
                                max = values[1];
                            }
                            else {
                                greaterthanequal_strings = ['Above', 'above', 'Over', 'over']
                                lessthanequal_strings = ['Below', 'below', 'Under', 'under', '<']
                                if (greaterthanequal_strings.some(substring => condition_var.includes(substring))) {
                                    max = values[0];
                                    operator = 'greater_equal';
                                }
                                else if (condition_var.includes('>')) {
                                    max = values[0];
                                    operator = 'greater';
                                }
                                else if (lessthanequal_strings.some(substring => condition_var.includes(substring))) {
                                    min = values[0];
                                    operator = 'lesser';
                                }
                                else if (['None', 'Zero'].some(substring => condition_var.includes(substring))) {
                                    min = values[0];
                                    operator = 'equal';
                                }
                                else {
                                    try {
                                    min = values[0];}
                                    catch (err)
                                        {
                                        min=0;  }
                                    operator = 'equal';
                                }
                            }
                        }
                        else
                            {
                                min=0;
                                operator='equal';
                            }}
                        if (operator == 'greater') {

                            input_df = $.grep(input_df, function (n, i) {

                                return n[global_filter_list[j]['factor']] > parseFloat(max);
                            });

                        }

                        else if (operator == 'greater_equal') {
                            input_df = $.grep(input_df, function (n, i) {

                                return n[global_filter_list[j]['factor']] >= parseFloat(max);
                            });
                        

                        }

                        else if (operator == 'lesser') {
                            if (global_filter_list[j]['factor']=='week_high_52')
                            {
                                input_df = $.grep(input_df, function (n, i) {
                                    return n[global_filter_list[j]['factor']] < (n['price']-(n['price']*(parseFloat(min)/100)));
                                    });
                            }
                        else
                            {
                            input_df = $.grep(input_df, function (n, i) {
                              
                                return n[global_filter_list[j]['factor']] < parseFloat(min);
                            });}
                        
                        }
                        else if (operator == 'equal') {
                            if (global_filter_list[j]['factor']=='week_high_52')
                            {
                                min=0;
                                input_df = $.grep(input_df, function (n, i) {

                                    return n[global_filter_list[j]['factor']] === (n['price']-(n['price']*(parseFloat(min)/100)));
                                    });
                            }
                            else{
                            input_df = $.grep(input_df, function (n, i) {
                                return n[global_filter_list[j]['factor']] == parseFloat(min);
                            });}
                        }
                        else if (operator == 'range') {

                            input_df = $.grep(input_df, function (n, i) {

                                return (n[global_filter_list[j]['factor']] >= parseFloat(min) && n[global_filter_list[j]['factor']] <= parseFloat(max));
                            });
                        }
                    }
                   

                    for (let obj of input_df) {
                        obj['value'] = obj[$('#size').val()];
                        delete obj[$('#size').val()];
                    }
                  
                    $.grep(input_df, function (n, i) {
                    
                        global_filter_company_list.push(n['fs_name']) 
                    });



                    dataset = {
                            "children":input_df
                        };
                        
                        d3.select("svg").remove();
                      
                      
                        if(input_df.length>0)
                        {
                            $('#total').text("Total: "+input_df.length+' Stocks')
                            $('#bubble').html("")
                            var $container = $('#bubble'),
                            
                            width = $container.width();
                         
                            if(width>500)
                                var diameter = 500;
                            else
                            var diameter = width;
                        var color = d3.scaleOrdinal(d3.schemeCategory20);

                        var bubble = d3.pack(dataset)
                                .size([diameter, diameter])
                                .padding(1.5);
                        var svg = d3.select("#bubble")
                                .append("svg")
                                .attr("width", diameter)
                                .attr("height", diameter)
                                .attr("class", "bubble");

                        var nodes = d3.hierarchy(dataset)
                                .sum(function(d) { return d.value; });

                            var tooltip = d3.select('#bubble')
                                .append("div")
                                .style("opacity", 0)
                                .attr("class", "tooltip")
                                .style("background-color", "white")
                                .style("border-radius", "5px")
                                .style("padding", "10px")
                                .style("color", "black")
                                .style("position", "absolute")
                                .style("z-Index", "99999")
                                ;
                                
                            let showTooltip = function(d) {
                                var array=[]
                                        
                                for(var key in d.data){
                                  
                                    array.push(d.data[key])


                                }
                                tooltip
                                .transition()
                                .duration(200)
                                tooltip
                                .style("opacity", 1)
                                .html("<div class='text-left'> Company : <b>"+array[0]+"</b><br>Symbol : <b>"+array[12]+"</b><br>Market Cap (in Cr): <b> "+array[13].toLocaleString('hi-IN', { maximumFractionDigits: 0})+
                                "</b><br>Sales (in Cr): <b> "+array[1].toLocaleString('hi-IN', { maximumFractionDigits: 0})+"</b><br>Beta :<b> "+array[2].toFixed(1)+
                                "</b><br>Volatility : <b>"+array[3].toFixed(1)+"%</b><br>PE : <b>"+array[4].toFixed(1)+"</b><br>PB : <b>"+array[5].toFixed(1)+
                                "</b><br>ROE : <b>"+array[6].toFixed(1)+"%</b><br>Price vs 52 Week High : <b>"+array[7].toFixed(1)+"%</b><br>Debt/Equity :<b> "+
                                array[8].toFixed(1)+"</b><br>EV/Sales : <b>"+array[9].toFixed(1)+"</b><br>Sales Growth : <b>"+array[10].toFixed(1)+
                                "%</b><br>EPS Growth : <b>"+array[11].toFixed(1)+"%</b><br></div>")
                                .style("left", (d.x + (d3.mouse(this)[0] + 30)) + "px")
                                .style("top", (d.y + (d3.mouse(this)[1] + 30)) + "px");
                            }

                            let moveTooltip = function(d) {
                                tooltip
                                .style("left", (d.x + (d3.mouse(this)[0] + 30)) + "px")
                                .style("top", (d.y + (d3.mouse(this)[1] + 50)) + "px");
                            }

                            let hideTooltip = function(d) {
                                    tooltip
                                        .transition()
                                        .duration(200)
                                        .style("opacity", 0);
                                    }
                                    var node = svg.selectAll(".node")
                                .data(bubble(nodes).descendants())
                                .enter()
                                .filter(function(d){
                                    return  !d.children
                                })
                                .append("g")
                                .attr("class", "node")
                                .attr("transform", function(d) {
                                    return "translate(" + d.x + "," + d.y + ")";
                                }).on("mouseover", showTooltip)
                            .on("mousemove", moveTooltip)
                            .on("mouseleave", hideTooltip);
                            

                            node.append("circle")
                                    .attr("r", function(d) {
                                        return d.r;
                                    })
                                    .style('fill',() => {
                                let color = '#'+Math.floor(Math.random() * Math.pow(2,32) ^ 0xffffff).toString(16).substr(-6);

                                return color;
                            });
                        
                           
                            node.append("text")
                                .attr("dy", ".2em")
                                .style("text-anchor", "middle")
                                .text(function(d) {
                                    return d.data.security_code.substring(0, d.r / 3);
                                })
                                .attr("font-family", "sans-serif")
                                .attr("font-size", function(d){
                                    return d.r/5;
                                })
                                .attr("fill", "white");
                                            

                            d3.select(self.frameElement)
                                    .style("height", diameter + "px");
                        }
                        else{
                            $('#bubble').html("No Data")
                        }
                      

                        }

               
                $(".saveport").click(function () {
                    $('.saveload').fadeIn();
                  
                var portfolioName = document.getElementById("portName").value;
                if (/([^\s])/.test(portfolioName)) {
                if (global_filter_company_list.length > 0){
                    $('.se-pre-con').fadeIn(1);
                    $.ajax({
                    type: "POST",
                    url: "{% url 'saveNewVisualPortfolio'%}",
                    dataType: 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    data: { 'stock_list':JSON.stringify(global_filter_company_list), 'portfolio_name':portfolioName                      
                    },
                    success: function (response) {
                        $('.se-pre-con').fadeOut(1);
                        if (response.res_Status) {
                          $('.saveload').fadeOut(100);

                        $('.responsemsg').css('color', 'green');
                        $('.responsemsg').html(response.res_Msg);
                        localStorage.setItem("{{username}}", response.portfolio);
                        setTimeout(function () {
                            $(".closeport").click();
                            location.href = "{% url 'indexpage' %}";
                        }, 1000);
                        } else {
                  $('.saveload').fadeOut(100);

                        $('.responsemsg').css('color', 'red');
                        $('.responsemsg').html(response.res_Msg);
                        }
                    },
                    error: function (response) {
                        console.log("Error detected while creating portfolio");
                    }});
            }else{
                $('.responsemsg').css('color', 'red');
                $('.responsemsg').html(response.res_Msg);
            }}else{
            $('.responsemsg').css('color', 'red');
            $('.responsemsg').html('Please choose name to your portfolio');
            }
            event.preventDefault();
            });
           
            $("body").css({visibility:'visible'})
            </script>
           
  </body>
   
</html> 
{% endblock %}
