{% load i18n %}
{% load static %}
{% autoescape off %}
<!DOCTYPE html>
<html>
    <body style="background-color: #1A0C4B;">
        <div class="main-div" style="width:80%;margin:1px auto;padding:20px 30px;text-align:left;">
            <div class=""  style="color:white;font-family: 'Quicksand', sans-serif;text-align:left">
                <div>
                    <h1 style="font-weight:400;font-family: 'Quicksand', sans-serif;color:white">Thank you for contacting us</h1>
                    <hr>
                </div>
                <div >
                    <h4 style="font-weight:400;font-family: 'Quicksand', sans-serif;color:white">Hello {{customer}},</h4>
                    <h4 style="font-weight:400;font-family: 'Quicksand', sans-serif;color:white">
                        Thank you for contacting us on the below query, our team will get assist you soon. if you have
                        any queries, you may Please
                        contact us.
                    </h4>
                    <div class="mg-t-40" style="margin-top:20px;">
                        <p style="margin-top:10px;color:white">Subject : {{subject}}</p>
                        <p style="margin-top:10px;color:white">Message : {{message}}</p>

                    <br>
                  
                    <!-- <p style="color:#EA6B66;">Note - If you are unable to proceed, please contact adminstration</p> -->
                    <p style="color:orange;margin-top:10px">Happy Investing!</p>
                    <p style="margin-top:10px;color:white">Thanks<br/>Team - 72PI</p>
                </div>

               
                </div>
        </div>
        </div>
        <div class="main-divs" style="width:90%;margin:1px auto;padding:5px 30px;text-align:justify;">
            <p style="font-size:10px;font-style: italic;margin-top:10px;color:white">
                Disclaimer: Aishva Financial Services Private Limited is a company incorporated under the
                Companies Act 1956. Aishva Financial Services Private Limited is a registered investment advisor
                with the Securities and Exchange Board of India and through its online product, <a href="http://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a>,
                intends to provide curated content about the capital markets and provide financial modeling
                tools to its customers. The investments discussed or recommended through <a href="http://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> may not be
                suitable for all investors and hence, you must rely on your own examination and judgement of the
                stock and company before making investment decisions. Data provided through <a href="http://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> is for
                information purposes only and should not be construed as an offer or solicitation of an offer to
                buy or sell any securities. Information and discussions made available through <a href="http://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a>
                contain forward looking statements that involve risks, uncertainties and assumptions that could
                cause actual results to differ materially from those contemplated by the relevant
                forward-looking statement. Aishva Financial Services Private Limited or <a href="http://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> or its
                employees / directors or any of its affiliates are not responsible for any losses that may arise
                to any person who has made investments based on the contents of the <a href="http://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> or information
                in emails or in documents. Past Performance Is No Guarantee of Future Results.
            </p>

            <p style="font-size:10px;font-style: italic;margin-top:10px;color:white">
                Registered office address: 1st Floor, TK House, Plot 11, Shilpa Hills, Khanamet, HITEX Road, Hyderabad
                500081
                , Phone: + 91 89192 93838, Website: http://www.72pi.ai, For investor queries:
                72pi@aishva.com For grievances: grievances@aishva.com; Corporate Identity Number:
                U65990TG2020PTC142640, Investment Adviser SEBI Regn. Nos: INA200015103</p>
        </div>
        <script>$("body").css({visibility:'visible'})</script>
    </body>
    
</html>
{% endautoescape %}

