{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>
        <title>Portfolio Summary - 72PI</title>
        <meta name="keywords" content="72pidashboard, 72piportfoliodashboard, 72piportfolioperformancemetrics, 72piportfoliostylemeasures,
        stockdashboard, portfoliodashboard, portfolioperformancemetrics, portfoliostylemeasures, portfoliopertformancedashboard"/>
        <meta name="description" content="It is a dashboard of performance summary of the portfolio in the last 1 year" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/dashboards_summary.css' %}?v=1.2">
    </head>
    <body>
        <div class="se-pre-con"></div>
        <div class="row row-sm section-gap dashboard_summary_page main" style="margin: 2% 0%;">
            <div class="col-sm-12 row page-title  mg-t-60">
                <div class="col-sm-6">
                    <p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        X-Ray Analyzer
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'dashboards_summary' %}" class="nav-sub-link">Dashboard Summary</a>
                    </p>
                </div>
                <div class="row col-sm-6 justify-content-end">
                        <div class="description_btn">
                            <button>How to Use this Page ?</button>
                        </div>
                        
                </div>
            </div>
           
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                            <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                            <select id="globalPortfolio" class="form-controls mg-l-20">
                                {% for portfolio in portfolio_names %}
                                <option value='{{portfolio}}'>{{portfolio}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card" style="padding:0% 2%">
                    <div class="row row-sm">
                        <div class="col-xl-12 mg-b-0">
                            <div class="cards pd-l-10 pd-r-10">

                                <div class="card-body" id="summary-div">
                                    <div class="mg-t-0 mg-b-20 d-flex">
                                        <div class="col-lg-2">
                                            <img src="{% static '/homepage/img/logo3.png' %}" height='80px' width='80px'
                                                class="mg-l-0 img-fluid">
                                        </div>
                                        <div class="col-lg-8 text-center pd-t-15">
                                            <div id="error"></div>
                                            <h4 class="card-title main-title"><label>Summary - Last 1Year</label></h4>
                                        </div>
                                        <div class="col-lg-2 pd-t-20 float-right ">
                                            <h6 class="text-right card-title page-date"></h6>
                                        </div>
                                    </div>


                                    <div class="user-profile">
                                        <div class="card-header">
                                            <h5 class="card-title text-center">Portfolio Profile</h5>
                                        </div>
                                        <div class="user-table table-responsive">
                                            <table class="table unselectable portfolio_profile tx-16">
                                                <thead>
                                                    <tr>
                                                        <td>Username</td>
                                                        <td>Portfolio Name</td>
                                                        <td># of Stocks</td>
                                                        <td># of Sectors</td>

                                                    </tr>
                                                </thead>
                                                <tr>
                                                    <td class="td_username"></td>

                                                    <td class="td_portfolioname"></td>

                                                    <td class="td_stockcount"></td>

                                                    <td class="td_sectorcount"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- Equal weighted Portfolio Returns. -->
                                    <div class="row row-sm d-flex">
                                        <div class="col-xl-12 pd-r-0">
                                            <div class="equal-weighted-returns">
                                                <div class="card-header mg-t-0">
                                                    <h5 class="card-title text-center">Cumulative Returns</h5>
                                                </div>
                                                <div class="graphs mg-t-20" style="height:300px">
                                                    <div id="Portfolio_Returns" class='container1'>
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-sm-7 ustable">
                                                        <div class="card-header">
                                                            <h5 class="card-title text-center">Performance Metrics</h5>
                                                        </div>
                                                        <div id="metrics" class="mg-t-0 table-responsive">
                                                            <table class=" table table-hover table-striped m-b-0">
                                                                <thead class="thead-dark">
                                                                    <tr>
                                                                        <th></th>
                                                                        <th id="annu_return">Annualized Return </th>
                                                                        <th>Annualized Volatility (Risk) </th>
                                                                        <th>Sharpe<sup>[1]</sup></th>
                                                                        <th>Max Drawdown<sup>[2]</sup></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbody">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5 stylemetric">
                                                        <div class="style-measures">
                                                            <div class="card-header">
                                                                <h5 class="card-title text-center">Style Measures</h5>
                                                            </div>
                                                            <table
                                                                class="table table-hover table-striped  table-responsive stylemeasure-table">
                                                                <thead id="thead_india" style="display: none;">
                                                                    <tr>
                                                                        <th style="width: 20%;">Factor</th>
                                                                        <th style="width: 20%;">Portfolio</th>
                                                                        <th style="width: 20%;">Nifty 50&nbsp;</th>
                                                                        <th style="width: 20%;">Nifty Midcap&nbsp;</th>
                                                                        <th style="width: 20%;">Nifty Smallcap&nbsp;</th>
                                                                    </tr>
                                                                </thead>
                                                                <thead id="thead_us" style="display: none;">
                                                                    <tr>
                                                                        <th style="width: 20%;">Factor</th>
                                                                        <th style="width: 20%;">Portfolio</th>
                                                                        <th style="width: 20%;">S&P 500&nbsp;</th>
                                                                        <th style="width: 20%;">Dow Jones 30&nbsp;</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbody3">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row row-sm d-flex">
                                        <!-- Returns by stock and sector. -->
                                        <div class="col-xl-6">
                                            <div class="card-header">
                                                <h5 class="card-title text-center">Portfolio Investment Amount By Sector
                                                </h5>
                                            </div>
                                            <div id="Exposure"></div>
                                        </div>
                                        <div class="col-xl-6 pd-l-0">
                                            <div class="card-header">
                                                <h5 class="card-title text-center">Portfolio Investment Amount By Market Cap
                                                </h5>
                                            </div>
                                            <div id="Exposure1"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <div class="card-header">
                                                    <h5 class="card-title text-center">Top 10 Holdings</h5>
                                                </div>

                                                <table
                                                    class="table table-hover table-striped   top10_table table-responsive"
                                                    id="indextable">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:10%" onClick="SortTable(0,'T')">Company<i
                                                                    class="fa fa-fw fa-sort"></i></th>
                                                            <th onClick="SortTable(1,'N')" class='investment_amt'>Investment
                                                             </th>
                                                            <th onClick="SortTable(2,'N')">Actual Return(%)<i
                                                                    class="fa fa-fw fa-sort"></i></th>
                                                            <th onClick="SortTable(3,'N')" class="actual_return"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody2">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-sm mg-t-20">
                                        <div class="col-sm-4">
                                            <div class="card card-dashboard-finance1">
                                                <div class="card-header mg-t-0 " style="margin-top:0px;">
                                                    <h4 class="text-center" style="color:rgb(18, 161, 161)"><label>Returns
                                                            Summary</label></h4>
                                                </div>
                                                <div class="card-body card1 pd-t-0">
                                                    <h5 class="card-title">Cumulative Return</h5>
                                                    <div class="row row-sm mg-t-10">
                                                        <div class="col-sm-6">
                                                            <h3 class="f-w-700 text-c-blue portfolio"></h3>
                                                            <p class="m-b-0">Portfolio</p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3 class="f-w-700 text-c-blue nifty"></h3>
                                                            <p class="m-b-0 indiaindex">Nifty</p>
                                                            <p class="m-b-0 usindex">SPXT</p>

                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h5 class="card-title">Stockwise</h5>
                                                    <div class="mg-t-10">
                                                        <div class="col-sm-12">
                                                            <h3 class="f-w-700 text-c-blue best-stock"></h3>
                                                            <p class="m-b-0 best-stock-name"></p>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <h3 class="f-w-700 text-c-blue worst-stock"></h3>
                                                            <p class="m-b-0 worst-stock-name"></p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h5 class="card-title">Sectorwise</h5>
                                                    <div class="mg-t-10">
                                                        <div class="col-sm-12">
                                                            <h3 class="f-w-700 text-c-blue best-sector"></h3>
                                                            <p class="m-b-0 best-sector-name"></p>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <h3 class="f-w-700 text-c-blue worst-sector"></h3>
                                                            <p class="m-b-0 worst-sector-name"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div><!-- col -->
                                        <div class="col-sm-4">
                                            <div class="card card-dashboard-finance1">
                                                <div class="card-header  mg-t-0" style="margin-top:0px;">
                                                    <h4 class="text-center" style="color:red"><label>Risk Summary</label>
                                                    </h4>
                                                </div>
                                                <div class="card-body card4 pd-t-0">
                                                    <h5 class="card-title">Volatility</h5>
                                                    <div class="row row-sm mg-t-10">
                                                        <div class="col-sm-6">
                                                            <h3 class="f-w-700 text-c-blue portfolio_vol"></h3>
                                                            <p class="m-b-0">Portfolio</p>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h3 class="f-w-700 text-c-blue nifty_vol"></h3>
                                                            <p class="m-b-0 indiaindex">Nifty</p>
                                                            <p class="m-b-0 usindex">SPXT</p>

                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h5 class="card-title mg-t-10 ">Beta</h5>
                                                    <div class="col-sm-12 mg-t-10">
                                                        <h3 class="f-w-700 text-c-blue beta"></h3>
                                                        <p class="m-b-0 indiaindex">Portfolio's beta w.r.t Nifty</p>
                                                        <p class="m-b-0 usindex">Portfolio's beta w.r.t SPXT</p>

                                                    </div>
                                                    <hr>

                                                    <h5 class="card-title mg-t-10 ">Highest Beta</h5>
                                                    <div class="col-sm-12 mg-t-10">
                                                        <h3 class="f-w-700 text-c-blue high_beta"></h3>
                                                        <b>
                                                            <p class="m-b-0 high_beta_name"></p>
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-4">
                                            <div class="card card-dashboard-finance1">
                                                <div class="card-header  mg-t-0 mg-t-0" style="margin-top:0px;">
                                                    <h4 class="text-center" style="color:orange"><label>Investment Amount
                                                            Summary</label></h4>
                                                </div>
                                                <div class="card-body card2 pd-t-0">
                                                    <h5 class="card-title">Sector - Highest Investment Amount</h5>
                                                    <div class="row row-sm mg-t-10">
                                                        <div class="col-sm-12">
                                                            <h3 class="f-w-700 text-c-blue high_inv_amnt"></h3>
                                                            <p class="m-b-0 high_inv_amnt_name"></p>
                                                        </div>
                                                    </div>
                                                    <hr>

                                                    <h5 class="card-title mg-t-0 mg-b-10">Top 3 Stocks by Investment Amount
                                                    </h5>
                                                    <div class="mg-t-10 top3_sector_content">
                                                    </div>

                                                </div>

                                            </div>
                                        </div><!-- col -->
                                        <!-- <div class="col-sm-6 col-lg-4 col-xl-3">
                                            <div class="card card-dashboard-finance1">
                                                <div class="card-header  mg-t-0" style="margin-top:0px;">
                                                    <h4 class="text-center" style="color:blue"><label>Factor Summary</label>
                                                    </h4>
                                                </div>
                                                <div class="card-body card3 pd-t-0">
                                                    <h5 class="card-title">Portfolio Returns</h5>
                                                    <div class="row row-sm mg-t-0">
                                                        <div class="col-sm-12">
                                                            <span class="m-b-0 positive"></span>
                                                            <br />
                                                            <span class="m-b-0 negative"></span>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h5 class="card-title mg-t-10 mg-b-10">High Returns</h5>

                                                    <div class="mg-t-10 high_returns">

                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                    </div><!-- col -->
                                    <div class="row mg-t-20 mg-b-20 recommendation">
                                        <div class="cards col-lg-12 ">
                                            <div class="card-header">
                                                <h4 class="card-title text-center"><label>Overall Portfolio</label></h4>
                                            </div>
                                            <div class="card-body pd-t-0">
                                                <div class="dashboard-five-stacked-charts">
                                                    <div class="scroll-div table-responsive">
                                                        <table class="table  idealcase-table unselectable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Case</th>
                                                                    <th>Value</th>
                                                                    <th style="width:10%">Ideal Range</th>
                                                                    <th style="width:10%">Action</th>
                                                                    <th>Comment</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="summary_tbody">

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mg-b-20 ">
                                        <div class="cards col-lg-12">
                                            <div class="card-header">
                                                <h4 class="text-center"><label>Stock by Stock</label></h4>
                                            </div>
                                            <div class="risktable card-body pd-t-0">
                                                <div class="scroll-div table-responsive">
                                                    <table class="table sortable unselectable quantitative_risk_monitoring">
                                                        <thead id="thead4">
                                                            <th>Company</th>
                                                            <th>Views</th>
                                                        </thead>
                                                        <tbody id="tbody4">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Dashboard Summary</label></h3>
              <div class="modal-body">
                  <p>
                    A dashboard showing overall composition, returns attribution and style metrics for the portfolio in the last 1 year. Performance metrics and Style metrics can be used to understand the risk relative to market. Investment amount by sector/market cap, helps in understanding the portfolio allocation. Actionable items are suggested based in our ideal metrics table.
                  </p>              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        </div>
    </body>
    <script src="{% static 'js/table_sort2.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
         function reformatDate(dateStr)
      {     
        var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        dArr = dateStr.split("-"); 
        return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
      }
      $('.page-date').html('Date: '+reformatDate('{{date|safe}}'));
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
          $(document).ready(function () {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'dashboards_summary' %}?portfoliochanged-to=" + portfolioName;
            return false;
        });
     

        get_data('1Y');

        function get_data(required_value) {
            $('#annu_return').text('Cumulative Return')
            $('#Portfolio_Returns').hide();
            $('#table-data').hide();
            $('.se-pre-con').fadeIn(1);

            $.ajax({
                url: "{% url 'dashboards_summary' %}",
                type: 'post',
                data: {
                    'required_value': required_value
                },
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                    $('.se-pre-con').fadeOut(1);
                    $('#Portfolio_Returns').show();
                    $('#table-data').show();
                    $('#error').hide();
                    graph(json.output_cumulative_return)
                    create_table(json.table_data)
                    stylemetrics(json.style_metrics, json.portfolio_name,json.symbol)
                    exposuregraphs(json.investment_output, json.investment_output2,json.symbol)

                    top10holdings(json.returns_by_sector,json.symbol)

                    create_table1('summary_tbody', json.table_data1)
                    create_table1('tbody4', json.riskmonitor_tabledata)



                    $('.td_username').html(json.user)
                    $('.td_portfolioname').html(json.portfolio_name)
                    $('.td_stockcount').html(json.stock_count)
                    $('.td_sectorcount').html(json.sector_count)
                    recommondations(json.df1, json.df2, json.df3,json.symbol)
                },
                error: function (json) {

                    $('.se-pre-con').fadeOut(1);
                    $('#Portfolio_Returns').hide();
                    $('#error').show();
                    document.getElementById("error").innerHTML = "No Data Available "

                }

            });


        }



        function create_table(output) {
            var tabledata = new Array();
            for (i = 0; i < output.length; i++) {
                tabledata.push([output[i][0], (output[i][1] * 100).toFixed(1) + '%', (output[i][2] * 100).toFixed(1) +
                    '%', (output[i][3]).toFixed(2), (output[i][4] * 100).toFixed(1) + '%'
                ])
            }

            $("#tbody").empty();
            var table = document.getElementById("tbody");
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            }

        }

        function graph(output) {
            var graph_data = output
            for (i = 0; i < graph_data.length; i++) {
                for (j = 0; j < graph_data[i]['data'].length; j++) {
                    var temp = graph_data[i]['data'][j][0]
                    var date = new Date(temp)
                    var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                    graph_data[i]['data'][j][0] = now_utc;
                }
            }
            temp = graph_data
            if (graph_data[0]['data'].length > 0) {
                Highcharts.chart('Portfolio_Returns', {
                    chart: {
                        type: 'line',
                        backgroundColor: "transparent",
                        height: 295,

                    },
                    title: {
                        text: ' ',
                        style: {
                            color: '#1C273C',
                            font: '13px  ',
                            fontWeight: 'normal'
                        },
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        buttons: {
                            contextButton: {
                                enabled: false
                            },

                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            day: '%e-%b-%y',
                            week: '%e-%b-%y',
                            month: '%b-%y',
                            year: '%Y'

                        },
                        labels: {
                            style: {
                                color: '#031b4e',
                                font: '13px  ',
                                fontWeight: 'normal'
                            },
                        },
                        tickLength: 6,
                        tickWidth: 1,
                        min: graph_data[0]['data'][0][0],
                        startOnTick: true,
                        endOnTick: false,

                    },
                    yAxis: {
                        gridLineWidth: 0,
                        lineWidth: 1,
                        tickLength: 6,
                        tickWidth: 1,
                        labels: {
                            formatter: function () {
                                return (this.value * 100).toFixed(0) + '%';
                            },
                            style: {
                                color: '#031b4e',
                                font: '13px  ',
                                fontWeight: 'normal'
                            },
                        },
                        title: {
                            text: "Return",
                            style: {
                                color: '#031b4e',
                                font: '13px  ',
                                fontWeight: 'normal'
                            },
                        },
                        plotLines: [{
                            color: '#F2F2F2',
                            width: 2,
                            value: 0
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return "Date : " + '<b>' +
                                Highcharts.dateFormat('%d-%b-%Y',
                                    new Date(this.x)) + '<br></b>' +
                                this.series.name + " : " + '<b>' + (this.point.y * 100).toFixed(1) + '%</b>';
                        },
                        style: {
                            color: '#031b4e',
                            font: '13px  ',
                            fontWeight: 'normal'
                        },
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: false,
                                symbol: "circle"
                            }
                        }
                    },
                    legend: {
                        itemStyle: {
                            color: '#031B4E',
                            fontFamily: ' ',
                            fontSize: '11px'

                        },
                    },
                    series: graph_data,

                });
            }
        }

        function exposuregraphs(investment_output, investment_output2,symbol) {
            var pointPadding = -1; //Change to see correct results.
            var pointWidth = 30; //Change to see correct results.
            var heightOffset = 55; //Guestimate

            var updateLegend = function (chart) {
                var center = chart.series[0].center;

                chart.legend.group.attr({
                    translateX: center[0] + center[2] / 1.6
                });
            }
           if(symbol=='$'){
            flag='en-US'
           }
           else{
            flag='hi-IN'

           }

            //#Exposure charts
            Highcharts.chart('Exposure', {
                chart: {
                    type: 'pie',
                    height: 300,
                    backgroundColor: 'transparent',

                    // animation: false,
                    // events: {
                    //     load: function () {
                    //         updateLegend(this)
                    //     },
                    //     redraw: function () {
                    //         updateLegend(this);
                    //     }
                    // }
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },
                    }
                },
                title: {
                    style: {
                        color: '#031b4e',
                        fontSize: '12px',
                        fontWeight: 'bold',
                    },
                    text: null,
                    // x:-80, 
                    // y:20,
                    // verticalAlign: 'bottom',
                    //     floating: true,

                },
                legend: {
                   
                    margin: 0,
                    padding: 0,
                    
                
                    borderWidth: 0,
                    // width: 350,
                    // itemWidth: 175,
                    itemStyle: {
                        color: '#031B4E',
                        fontSize: '12px',
                        fontWeight: 'bold'

                    },
                },
                tooltip: {
                    formatter: function () {
                        return 'Sector : <b>' + this.point.name + '</b><br>' + 'Investment Amount(%) : ' +
                            '<b>' + (this.point.y).toFixed(2) + '%</b><br>' + 'Investment Amount : <b>' +symbol+ (
                                this.point.Exposure).toLocaleString(flag, {
                    maximumFractionDigits: 1
                }) + '<br></b>';
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        innerSize: "60%",
                        size: '170',
                        depth: "45%",
                        showInLegend: true,
                        dataLabels: {
                            enabled: false,
                            formatter: function () {
                                return '<b>' + this.point.name + '</b><br>';
                            },
                        }
                    },
                },
                series: [{
                    name: 'By Sector',
                    data: investment_output,
                }],
            })
           
            Highcharts.chart('Exposure1', {
                chart: {
                    type: 'pie',
                    height: 300,
                    backgroundColor: 'transparent',
                    // events: {
                    //     load: function () {
                    //         updateLegend(this)
                    //     },
                    //     redraw: function () {
                    //         updateLegend(this);
                    //     }
                    // }
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                title: {
                    style: {
                        color: '#031b4e',
                        fontSize: '12px',
                        fontWeight: 'bold',
                    },
                    text: null,
                    // x:-50, 
                    //  y:20,
                    //     verticalAlign: 'bottom',

                },

                legend: {
                    // layout: 'vertical',
                    // align: 'right',
                    // verticalAlign: 'middle',
                    itemStyle: {
                        color: '#031B4E',
                        fontSize: '12px',
                        fontWeight: 'bold'
                    },
                },
                tooltip: {
                    formatter: function () {
                       
                        return 'Market Cap : <b>' + this.point.name + '</b><br>' + 'Investment Amount(%) : ' +
                            '<b>' + (this.point.y).toFixed(2) + '%</b><br>' + 'Investment Amount : <b>' +symbol+ (
                                this.point.Exposure).toLocaleString(flag, {
                    maximumFractionDigits: 1
                }) + '<br></b>';
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        innerSize: "60%",
                        depth: "45%",
                        size: '180',
                        showInLegend: true,

                        dataLabels: {
                            enabled: false,

                            formatter: function () {
                                return '<b>' + this.point.name + '</b><br>';
                            },
                        }
                    },
                },
                series: [{
                    name: 'Country',
                    colorByPoint: true,
                    data: investment_output2,

                }],
            })
        }


        function top10holdings(returns_output,symbol) {

            $('.investment_amt').html('Investment Amount('+symbol+') <i class="fa fa-fw fa-sort "></i>')
            $('.actual_return').html('Actual Return('+symbol+') <i class="fa fa-fw fa-sort "></i>')


            var top10_returns = returns_output;
            var top10_tabledata = new Array();

            for (i = 0; i < top10_returns.length; i++) {

                top10_tabledata.push([top10_returns[i][0],  parseFloat(top10_returns[i][1]).toLocaleString(flag, {
                    maximumFractionDigits: 0
                }), (top10_returns[i][3] * 100).toFixed(1) + '%',  parseFloat(top10_returns[i][2])
                    .toLocaleString(flag, {
                        maximumFractionDigits: 0
                    })
                ])

            }
            create_table1('tbody2', top10_tabledata)
        }
        function stylemetrics(style_metrics, portfolio_name,symbol) {
            if (symbol==='$') {
                $('#thead_india').hide();
                $('#thead_us').show();
            } else {
                $('#thead_india').show();
                $('#thead_us').hide();
            }

            var style_metrics_tabledata = new Array();

            for (i = 0; i < style_metrics.length; i++) {
                for (j = 1; j < style_metrics[i].length; j++) {
                    if (style_metrics[i][0] === 'Beta')
                        style_metrics[i][j] = style_metrics[i][j].toFixed(2)
                    if (style_metrics[i][0] === 'ROE' || style_metrics[i][0] === 'Div Yield' || style_metrics[i][0] ===
                        'Sales Growth' || style_metrics[i][0] === 'EPS Growth' || style_metrics[i][0] === 'Volatility')
                        style_metrics[i][j] = (style_metrics[i][j] * 100).toFixed(1) + "%"
                    if (style_metrics[i][0] === 'PE' || style_metrics[i][0] === 'PB')
                        style_metrics[i][j] = style_metrics[i][j].toFixed(0)
                }
                style_metrics_tabledata.push(style_metrics[i])
            }
        
            create_table1('tbody3', style_metrics_tabledata)
        }

        function create_table1(tbody_id, tabledata) {

            $("#" + tbody_id).empty();

            var table = document.getElementById(tbody_id);
      
            //Get the count of columns.
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            //Add the data rows.
            for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            }
            //   $("#tbody2 tr:first-child").remove();
            if (tbody_id == 'tbody2') {
                $("#tbody2 tr:first-child").remove();
                $('.top10_table tr td:nth-child(1)').each(function () {
                    $(this).addClass('company')
                })

            }else if(tbody_id=='tbody4')
            {
                $("#tbody4 tr:first-child").remove();
                $('#tbody4 tr td:nth-child(1)').each(function () {
                    $(this).addClass('company')
                }) 
            }
        }
        $(document).on("click", "#pdfreport", function () {
            let doc = new jsPDF('p', 'pt', 'letter');
            doc.addHTML(document.getElementById("summary-div"), function () {
                doc.save('Point-Report.pdf');
            });

        });
        $('.st_table tr td:nth-child(1)').each(function () {
            $(this).addClass('company')
        })

     
        $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
            window.open(stockURL, '_blank');
            return false;
        });





        function recommondations(df1, df2, df3,symbol) {

            if (symbol == '$')
                flag = 'en-US'
            else
                flag = 'hi-IN'
            $(document).ready(function () {
                var currentPortfolio = '{{current_portfolio}}';
                $('#globalPortfolio').val(currentPortfolio);
                if (currentPortfolio.endsWith('-US')) {
                    $('.indiaindex').hide();
                    $('.usindex').show();
                } else {
                    $('.indiaindex').show();
                    $('.usindex').hide();
                }

            })

            



            $('.portfolio').html((df1[0][0] * 100).toFixed(0) + "%")
            $('.nifty').html((df1[0][1] * 100).toFixed(0) + "%")

            $('.best-stock-name').html("Best Performer : <b>" + df1[1][0] + "(" + symbol + parseFloat(df1[1][1])
                .toLocaleString(flag, {
                    maximumFractionDigits: 0
                }) + ")</b>")
            $('.best-stock').html(df1[1][2] + "%")

            $('.worst-stock-name').html("Worst Performer : <b>" + df1[2][0] + "(" + symbol + parseFloat(df1[2][1])
                .toLocaleString(flag, {
                    maximumFractionDigits: 0
                }) + ")</b>")
            $('.worst-stock').html(df1[2][2] + "%")


            $('.best-sector-name').html("Best Performer : <b>" + df1[3][0] + "(" + symbol + parseFloat(df1[3][1])
                .toLocaleString(flag, {
                    maximumFractionDigits: 0
                }) + ")</b>")
            $('.best-sector').html(df1[3][2] + "%")

            $('.worst-sector-name').html("Worst Performer :<b> " + df1[4][0] + "(" + symbol + parseFloat(df1[4][1])
                .toLocaleString(flag, {
                    maximumFractionDigits: 0
                }) + ")</b>")
            $('.worst-sector').html(df1[4][2] + "%")


            $('.high_inv_amnt').html(df2[0][2] + "%")
            $('.high_inv_amnt_name').html(df2[0][0] + "<b>(" + symbol + parseFloat(df2[0][1]).toLocaleString(flag, {
                maximumFractionDigits: 0
            }) + ")</b>")

            text3 = ''
            top3_sectors = df2[1]
            for (i = 0; i < top3_sectors.length; i++) {
                single_text = "<p class='mg-t-0'>" + top3_sectors[i][0] + " <b>: " +
                    symbol + parseFloat(top3_sectors[i][1]).toLocaleString(flag, {
                        maximumFractionDigits: 0
                    }) + " (" + top3_sectors[i][2] + "%) </b></p><hr>"

                text3 += single_text
            }
            $('.top3_sector_content').html(text3)

          

            $('.portfolio_vol').html((df3[0][0] * 100).toFixed(0) + "%")
            $('.nifty_vol').html((df3[1][0] * 100).toFixed(0) + "%")

            $('.beta').html(df3[2][0])
            $('.high_beta').html(df3[3][1])
            $('.high_beta_name').html(df3[3][0])


            $(".card2").height($('.card1').height()-35)
            $('.card4').height($('.card1').height()-35)
        
            $('.idealcase-table tr').not(':first').each(function () {

                j = 3;
                $(this).closest('tr').find('td').eq(j).each(function () {
                    cell_value = $(this).text()

                    if (cell_value == "Decrease") {
                        $(this).addClass('action_decrease');
                    } else if (cell_value == "Ok") {
                        $(this).css('color', '#0065A1');
                    } else {
                        $(this).addClass('action_increase')
                    }
                })
            })
        }


        $('.risktable table td:first-child').addClass('company')
        $("body").css({visibility:'visible'})

    </script>
    
    
    
    {% endblock %}

 