{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/DiamondSubscription.css' %}?v=1.2">

  
  </head>
  <body>
    <div class="col-lg-12 section-gap">
			<div class="row">
        <div class="col-lg-8 section-1" style="margin:10px auto">
          <div class="container">
            <div class="card">
            
              <div class="card-body row">
                <div class="col-sm-6 infodiv" >
                    <h6>Your Information</h6>
                    <div class="formdetails mg-t-20">
                      <form action="#" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                      <button class="btn Subscribe mg-t-30">Subscribe</button>
                      </form>
                      <div class="mg-t-20">
                        <p class="tx-12">By submitting this form, you confirm that you agree to our 
                          Terms of Service and consent to the storing and processing of your personal data as described in our Privacy Policy.</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 plandiv">
                  <h6>Your Subscription</h6>
                    <div class="plandetails mg-t-20" style="border-bottom:1px solid #E5E5E5">
                      <h2>Diamond Premium</h2>
                      <h4>₹ 1,440/month</h4>
                      <div class="mg-t-20">
                        <ul class="mg-b-20">
                          <li>72PI Portfolio</li>
                        <li>Wizard</li>
                        <li>Portfolio Creator</li>
                        <li>X-Ray Your Portfolio</li>
                        <li>Optimizer</li>
                        <li>Advance Quant</li>
                        <li>Reports & Insights</li>
                          

                        </ul>
                     
                      </div>
                    </div>
                    <div class="paymentdiv mg-t-20" style="border-bottom:1px solid #E5E5E5">
                      <div class="">
                        <h4 class="text-muted">Recurring Quarterly Cost</h4>
                        <div class="row mg-t-10">
                          <div class="col-sm-8">
                            <h5>Diamond Premium</h5>
                            <h6><label class="text-muted tx-13">₹ 1,440 x 3 months</label></h6>
                          </div>
                          <div class="col-sm-4 text-right">
                            <label>₹ 4,320</label>
                          </div>
                        </div>

                        
                        <div class="row mg-t-10">
                          <div class="col-sm-8">
                            <h5  class="">Discount</h5>
                            <h6><label class="text-muted tx-14">Quarter Promotion</label></h6>
                          </div>
                          <div class="col-sm-4 text-right text-danger">
                            <label>- ₹ 300 </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="totalcostdiv mg-t-20" >
                      <div class="row mg-t-10 ">
                        <div class="col-sm-8">
                          <h5>Premium Total</h5>
                          
                        </div>
                        <div class="col-sm-4 text-right">
                          <label>₹ 4,020 </label>
                        </div>
                      </div>
                    </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
			</div>
    </div>
    <script>
      $("body").css({visibility:'visible'})
    </script>
  </body>
</html>
{% endblock %}