{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/DiamondUpgrade.css' %}?v=1.2">
    <title>Subscription - 72PI</title>
  
  </head>
  <body>
    <div class="col-lg-12 section-gap">
			<div class="row">
        <div class="col-lg-8 section-1" style="margin:10px auto">
          <div class="container">
            <div class="cards">
              <div class="card-body row">
                <div class="col-sm-6 infodiv" >
                    <h3>Your Information</h3>
                    <div class="formdetails mg-t-20">
                      <form action="#" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                      <button class="btn Subscribe mg-t-30">Upgrade</button>
                      </form>
                      <div class="mg-t-20">
                        <p class="tx-12 text-white">By submitting this form, you confirm that you agree to our 
                          Terms of Service and consent to the storing and processing of your personal data as described in our Privacy Policy.</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 plandiv">
                
                <div class="diamondplan3" >
                  <h3>Your Subscription</h3>
                  <div class="plandetails mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <h2>Diamond Premium</h2>
                    <h4>₹ 1,440/month</h4>
                    <div class="mg-t-20">
                      <ul class="mg-b-20">
                        <li class="gold content">72PI Portfolio</li>
                        <li  class="gold content">Wizard</li>
                        <li  class="gold content">Portfolio Creator</li>
                        <li class="gold content">X-Ray Your Portfolio</li>
                        <li  class="gold content">Optimizer</li>
                        <li  class="gold content">Advance Quant</li>
                        <li  class="gold content">Reports & Insights</li>
                        <!-- <div id="diamondmoredata12" class="collapse">
                          <li  class="gold content">Wizard</li>
                          <li  class="gold content">Reports</li>
                          <li  class="gold content">Insights</li>
                          <li  class="gold content">72PI Chatbot</li> 
                          <li  class="gold content">Portfolio Creator by selecting stocks</li>
                          <li  class="gold content">Portfolio Creator by using Filters</li>
                          <li  class="gold content">Analyzer</li>
                          <li  class="gold content">Optimization</li>
                        </div>
                        <a class="collapsed showmore" data-toggle="collapse" href="#diamondmoredata12">
                          <span class="if-collapsed"><i class="fa fa-plus pd-r-5"></i>Show More Features</span>
                          <span class="if-not-collapsed"><i class="fa fa-minus pd-r-5"></i>Show Less Features</span>
                        </a> -->
                      </ul>
                    </div>
                  </div>
                  <div class="paymentdiv mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <div class="">
                      <h4 class="text-muteds">Recurring Quarterly Cost</h4>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5>Diamond Premium</h5>
                          <h6><label class="text-muted tx-13">12 months</label></h6>
                        </div>
                        <div class="col-sm-4 text-right">
                          <label>₹ 3,960</label>
                        </div>
                      </div>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5  class="">Discount</h5>
                          <h6><label class="text-muted tx-14">Old Subscription Promotion</label></h6>
                        </div>
                        <div class="col-sm-4 text-right text-danger">
                          <label class="text-danger"> - ₹ {{ diamond3amnt }} </label>
                        </div>
                      </div>
                      <!-- <div class="row mg-t-10 ">
                        <div class="col-sm-8">
                          <h5>GST@18%</h5>
                        </div>
                        <div class="col-sm-4 text-right">
                          <label class="text-success">+ ₹ {{ diamond3gst }} </label>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="totalcostdiv mg-t-20" >
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Effective Total</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ {{ diamond3effective }} </label>
                      </div>
                    </div>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>GST@18%</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label class="text-success">+ ₹ {{ diamond3gst }} </label>
                      </div>
                    </div>
                    <!-- <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5  class="">Discount</h5>
                          <h6><label class="text-white tx-14">Old Subscription Promotion</label></h6>
                        </div>
                        <div class="col-sm-4 text-right text-danger">
                          <label class="text-danger"> - ₹ {{ diamond3amnt }} </label>
                        </div>
                    </div> -->
                    <hr>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Premium Total</h5>
                   
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ {{ diamond3total }} </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="diamondplan12" >
                  <h3>Your Subscription</h3>
                  <div class="plandetails mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <h2>Diamond Premium</h2>
                    <h4>₹ 1,440/month</h4>
                    <div class="mg-t-20">
                      <ul class="mg-b-20">
                        <li class="gold content">72PI Portfolio</li>
                        <li  class="gold content">Wizard</li>
                        <li  class="gold content">Portfolio Creator</li>
                        <li class="gold content">X-Ray Your Portfolio</li>
                        <li  class="gold content">Optimizer</li>
                        <li  class="gold content">Advance Quant</li>
                        <li  class="gold content">Reports & Insights</li>
                        <!-- <div id="diamondmoredata12" class="collapse">
                          <li  class="gold content">Wizard</li>
                          <li  class="gold content">Reports</li>
                          <li  class="gold content">Insights</li>
                          <li  class="gold content">Portfolio Creator by selecting stocks</li>
                          <li  class="gold content">Portfolio Creator by using Filters</li>
                          <li  class="gold content">Analyzer</li>
                          <li  class="gold content">Optimization</li>
                        </div>
                        <a class="collapsed showmore" data-toggle="collapse" href="#diamondmoredata12">
                          <span class="if-collapsed"><i class="fa fa-plus pd-r-5"></i>Show More Features</span>
                          <span class="if-not-collapsed"><i class="fa fa-minus pd-r-5"></i>Show Less Features</span>
                        </a> -->
                      </ul>
                    </div>
                  </div>
                  <div class="paymentdiv mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <div class="">
                      <h4 class="text-muteds">Recurring Annual Cost</h4>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5>Diamond Premium</h5>
                          <h6><label class="text-muted tx-13">12 months</label></h6>
                        </div>
                        <div class="col-sm-4 text-right">
                          <label>₹ 14,400</label>
                        </div>
                      </div>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5  class="">Discount</h5>
                          <h6><label class="text-muted tx-14">Old Subscription Promotion</label></h6>
                        </div>
                        <div class="col-sm-4 text-right text-danger">
                          <label class="text-danger">- ₹ {{ diamond12amnt }} </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="totalcostdiv mg-t-20" >
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Effective Total</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ {{ diamond12effective }} </label>
                      </div>
                    </div>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>GST@18%</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label class="text-success">+ ₹ {{ diamond12gst }} </label>
                      </div>
                    </div>
                    <hr>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Premium Total</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ {{ diamond12total }} </label>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
  </body>
  <script>
    $(document).ready(function () {
      var flag = '{{flag}}';
      var plan = $("#id_subscription_type").val();
      if (plan == "diamond3"){
      $('.diamondplan3').show();
      $('.diamondplan12').hide();
      }
      else if (plan == "diamond12"){
      $('.diamondplan3').hide();
      $('.diamondplan12').show();
      }
      if (flag == 'yes'){
        $("select option[value*='diamond3']").prop('disabled',true);
        $("select option[value*='diamond12']").prop('selected',true);
        $('.diamondplan3').hide();
        $('.diamondplan12').show();
      }
    });
    $(document).on('change', '#id_subscription_type', function() {
      var plan = $(this).val();
      if (plan == "diamond3"){
      $('.diamondplan3').show();
      $('.diamondplan12').hide();
      }
      else if (plan == "diamond12"){
      $('.diamondplan3').hide();
      $('.diamondplan12').show();
      }
  });
 
  $("body").css({visibility:'visible'})
</script>
</html>
{% endblock %}