{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Efficent Frontier - 72PI</title> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="keywords" content="72piportfoliorebalance, 72piportfolioadjustment, 72pioptimalportfolio, portfoliorebalance, portfolioadjustment, optimalportfolio"/>
    <meta name="description" content="Efficient frontier model helps our subscribers in rebalancing their portfolio for a defined level of risk and return" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/Efficient_Frontier.css' %}?v=1.2">
  </head>
  <body>
    <div class="se-pre-con"></div>
    <div class="saveload"></div>

      <div class="efficient_page">
        <div class="row row-sm  section-gap main " style="margin: 2% 0%;">
            <div class="col-sm-12 row page-title  mg-t-55">
                <div class="col-sm-6">
                    <p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Optimizer
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'efficient_frontier' %}" class="nav-sub-link">Efficient Frontier</a>
                    </p>
                </div>
                <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                    <div class="banner-btn mg-l-5">
                        <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                            aria-hidden="true">
                        </i></a>
                    </div>
                </div>
            </div> 
            <div id="videoModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <iframe id="video-div" height="315" src="https://www.youtube.com/embed/D5TXsepM2D4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

      
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12  main-sub-div2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
            </div>
        </div>
            <!-- graph section div -->
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card chart-card">
                    <div class="card-header">
                        <h4 class="card-title text-center"><label>Efficient Frontier</label></h4>
                    </div>
                    <div class="card-body dashboard-five-stacked-charts main-div" >
                        <div class="row ">
                                                   
                                <div class="col-md-6 col-lg-6 col-xl-6 mg-t-0 " id="frontier-table">
                                    <div class="mg-t-3 text-center" id="success-msg" style="color:green"></div>
                                    <div id="frontier-graph"></div>
                                    <span class="card-title mg-t-0 float-left" id="case-title"></span>

                                    <div class="text-right">
                                        <form method='POST' >
                                            {% csrf_token %}
                                            <button type="button" id="save_new_portfolio" onclick="backend_data()"  class="mg-l-2 mg-t-5 mg-sm-t-5 mg-lg-t-0">Save Selected Portfolio</button>
                                        </form>
                                        
                    
                                       </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 mg-l-0" >
                                    <div id="frontier-graph-table" class="mg-b-0 table-responsive" style="display:none">
                                        <table class="table table-hover unselectable" >
                                            <thead>
                                                <tr>
                                                    <th>Stock</th>
                                                    <th>Actual Weight(%)</th>
                                                    <th>Model Weight(%)</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody id="tbody1">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                      </div><!-- card-body -->
                </div><!-- card -->
            </div>
            <!-- Notes section div -->
          


            <div class="col-lg-12 notes_row">
                <div class="row row-sm">
                    <div class="col-md-3 mg-t-20 nt">
                        
                        <div class="card  ">
                        
                            <div class="card-body notes pd-b-5" >
                       
                              <div class="mg-t-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title  mg-b-0">Actual Portfolio</h5>                               
                                        <p class="f-w-700 text-c-blue mg-t-10" id='actual_data'></p>
                                    </div>
                                  
                                </div>
                              </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div>
                    <div class="col-md-3 mg-t-20 nt">
                        <div class="card ">
                        
                            <div class="card-body notes pd-b-5" >
                       
                              <div class="mg-t-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="card-title">Selected Portfolio</h5>                        
                                        <p class="f-w-700 text-c-blue mg-t-10" id='selected_data'></p>
                                    </div>
                                  
                                </div>
                              </div>
                            </div><!-- card-body -->
                        </div><!-- card -->
                        
                    </div>
                    <div class="col-md-4  mg-t-0 nt">
                          
                        <div class="card  mg-t-20">
                            <div class="card-header">
                              <h5 class="card-title">Analysis</h5>
                            </div><!-- card-header -->
                         
                              <p class="dashboard-notes-section tx-14 mg-t-0 pd-l-10 pd-r-10 pd-b-10" id="notes-section" >
                              
                        
                            
                              </p><!-- card-body -->
                        </div><!-- card -->
                    </div>
                    <div class="col-md-2 mg-t-0 nt">
                         
                        <div class="card  mg-t-20">
                      
                            <div class="card-body notes " >
                             
                              <div class="mg-t-0">
                                <h5 class="card-title  mg-b-5">Definitions</h5>
                                <ul class="mg-l-0 notes-ul tx-15 mg-t-10 mg-b-20">
                                    <li><i class="fa fa-hand-o-right mg-r-5"></i><a href='https://www.investopedia.com/terms/e/efficientfrontier.asp' target="_blank" class="blink_me">Efficient Frontier<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                    
                                </ul>
                              </div>
                              
                            </div><!-- card-body -->
                        </div><!-- card -->
                    </div>
                </div>
            </div>
        </div><!--ROW ending-->
    </div>
    <a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
    <!-- Error Detection  Modal HTML -->
     <div id="portfolioNameModal" class="modal fade">
         <div class="modal-dialog">
             <div class="modal-content">
                     <div class="modal-header">						
                         <h4 class="modal-title">Name your portfolio</h4>
                         <p class="responsemsg text-right"></p>
                        
                     </div>
                     <div class="modal-body text-center" style="color:black">
                         <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                         <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                     </div>
                     <div class="modal-footer text-center">
            <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                        <input type="button" class="btn btn-default  saveport" style="background-color:#5627D8;color:white"  value="Create">
                     </div>
             </div>
         </div>
     </div>
     <div id="description" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <h3 class="modal-title mg-t-10 text-center"><label>Efficient Frontier Model</label></h3>
          <div class="modal-body">
              <p>
                A very useful portfolio optimization tools provided by 72pi. Efficient frontier model helps in rebalancing a portfolio for a defined level of risk and return. Using the current portfolio of stocks, simulations are run for different weights, for which risk and return are computed and plotted. Based on risk appetite, best return portfolio can be selected, current weightage of stocks can be adjusted using model weights. This portfolio can be saved into user portfolio, can be reevaluated using our analyzer tools.
              </p>              <div class="modal-footer">
          <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
          </div>
        </div>
        </div>
    </div>
    </div>
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
                  $('.saveload').fadeOut();
       
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
        $(document).ready(function()
        {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })  
        $(document).on("change", "#globalPortfolio", function () {
            $('.se-pre-con').fadeIn();
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'efficient_frontier' %}?portfoliochanged-to="+portfolioName;
            return false;
        });
        $('#save_new_portfolio').hide();
        var selected_value={{actual_index|safe}},Risk={{x|safe}},Return={{y|safe}};
        $('#actual_data').html('Return : <b>'+Return.toFixed(1)+"%</b><br>"+'Risk : <b>'+Risk.toFixed(1)+"%</b>")  
        function weights(x,x_axis,y_axis)
        {
            text="As per Efficient Frontier model, you can achieve higher returns of <b>"+({{y_default|safe}}*100).toFixed(1)+"%</b> at your current portfolio's risk level."  
            document.getElementById('notes-section').innerHTML=text
            var d={{actual_index|safe}}

            if(x== d){
                
                $('#selected_data').html('Return : <b>'+y_axis+"%</b><br>"+'Risk : <b>'+x_axis+"%</b>")
                 
            }
            else{
                
                $('#selected_data').html('Return : <b>'+y_axis+"%</b><br>"+'Risk : <b>'+x_axis+"%</b>")
               
            }
        }
       
        
            var data={{graph_data|safe}};
           
            if(data.length>0)
            {
                
            $('#frontier-graph').highcharts({
            chart: {
                backgroundColor: 'transparent',
            type: 'scatter',
                zoomType: 'xy',
                
                        events: {
                            load: function(){
                                this.myTooltip = new Highcharts.Tooltip(this, this.options.tooltip);                                
                            }
                        }
                    },
                    title: {
                        text: '',
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                    },
                    },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                    contextButton: {
                        enabled:false
                    },

                    }
                },
                
                    xAxis: {
                        title: {
                            enabled: true,
                            text: 'Risk (Std Deviation-%)',
                            style: {
                                    color: '#031b4e',
                                    fontSize:'13px',
                                    fontWeight: 'normal'
                            },
                            
                        },
                        labels:{
                        formatter: function(){
                        return  (this.value).toFixed(1)+ '%';
                        },
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                        },
                        startOnTick: true,
                        endOnTick: true,
                        showLastLabel: true,
                        plotLines: [{
                                dashStyle: 'dot',
                                width: 3,
                                value: {{plotline|safe}}
                            }],
                    },
                    yAxis: {
                        title: {
                            text: 'Return(%)',
                            style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                    },
                        },
                        gridLineWidth:0,
                    lineWidth:1,
                    tickLength: 6,  
                    tickWidth: 1,
                  
                        labels:{
                        formatter: function(){
                        return  (this.value).toFixed(1)+ '%';
                        },
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                            },
                        },
                    },
                    
                        tooltip: {
                            formatter: function() {
                            return  'Return :<b> '+ (this.point.y).toFixed(0)+ '%</b><br>Std Deviation : <b>'+(this.point.x).toFixed(0)+'%</b><br>Sharp Ratio : <b>'+(this.series.userOptions.sharp).toFixed(2)+'</b>';
                            
                            },
                       
                        },
                        
                            plotOptions: {                          
                                series: {
                                    stickyTracking: false,
                                    events: {
                                       
                                        click: function(evt) {
                                            $('#save_new_portfolio').show();

                                            this.chart.myTooltip.options.enabled = true;
                                            var d=this.userOptions.data[0]
                                            weights(this.name,d[0].toFixed(1),d[1].toFixed(1))
                                            Risk=d[0].toFixed(2)
                                            Return=d[1].toFixed(2)
                                            this.chart.myTooltip.refresh(evt.point, evt);
                                            var s = this.name;
                                            selected_value=this.name
                                        
                                            filter_table(s)
                                        },             
                                    }
                                    
                                }
                            },
                legend:
                {
                    itemStyle: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'bold'
                    },
                        labelFormatter: function () {
                            var d={{actual_index|safe}}
                            if(this.name== d){
                                return 'Actual  Return';
                            }
                        }
                },
                    series:data
                    }
                    );
              
               
            $('.se-pre-con').fadeOut();

                weights({{actual_index|safe}},({{x|safe}}).toFixed(1),({{y|safe}}).toFixed(1))
                output={{stock_weight|safe}}
             
        
                var graph_data=[]
               var maximum=-99999
                function filter_table(s)
                {
                    maximum=-99999
                    graph_data=[]
                    $("#tbody1").empty();
                    
                    $('#frontier-graph-table').show();
                    graph_table_data={{graph_table_data|safe}}
                    sort_data=graph_table_data.filter(e => e.case ===s)
                 
                    for(i=0;i<sort_data[0]['data'].length;i++)
                    {
                        for(j=0;j<output.length;j++)
                        {
                            if(sort_data[0]['data'][i][0]==output[j][0])
                            {                          
                         
                                sort_data[0]['data'][i][2]=parseFloat((sort_data[0]['data'][i][1]).slice(0,-1))
                                sort_data[0]['data'][i][1]=parseFloat( output[j][1].slice(0,-1))

                            }
                        } 
                    }              
                    function Comparator(a, b) {
                            if (a[1] < b[1]) return 1;
                            if (a[1] > b[1]) return -1;
                            return 0;
                    }
                        
                    sort_data[0]['data'] =  sort_data[0]['data'].sort(Comparator);
                  
                    create_table('tbody1',sort_data[0]['data']) 
                }
                var s={{actual_index|safe}}
               
                    filter_table(s)
           
                function create_table(tbody_id,input_data)
                {
          
                
                    var tabledata = new Array();

                    for(i=0;i<input_data.length;i++)
                    {
                       
                        tabledata.push(input_data[i])
                    }  
                                    
                    
                    // Retrieve the tbody element from the table to add the data 
                    var table = document.getElementById(tbody_id);
                    
                    //Get the count of columns.
                    var columnCount = tabledata[0].length;
                    var row = table.insertRow(0);
                    //Add the data rows.
                    for (var i = 0; i < tabledata.length; i++)
                    {
                        row = table.insertRow(-1);
                        for (var j = 0; j < columnCount; j++)
                        {
                            var cell = row.insertCell(-1);
                            cell.innerHTML = tabledata[i][j];
                        }
                       
                    }
                    $('.table tr td:nth-child(1)').each(function()
                {
                    $(this).addClass('company')
                })
                 
                }
                function backend_data()
                {
                    $(".nameModal").click();
                    $(".saveport").click(function(){
                                var portfolio = document.getElementById("portName").value;
                                if((!portfolio || portfolio.length === 0 || /^\s*$/.test(portfolio))){
                 
                                alert("Sorry, Portfolio name cannot be empty!")
                                return false;
                                }
                                else{
                                    if(portfolio.length>0)
                                    {
                                        graph_table_data={{graph_table_data|safe}}
                                        sort_data=graph_table_data.filter(e => e.case ===selected_value)
                                        output={{stock_weight|safe}}
                                        for(i=0;i<sort_data[0]['data'].length;i++)
                                        { 
                                            for(j=0;j<output.length;j++) {
                                                if(sort_data[0]['data'][i][0]==output[j][0]) 
                                                {
                                                    sort_data[0]['data'][i][1]=parseFloat((sort_data[0]['data'][i][1]).slice(0,-1))/100;
                                                    sort_data[0]['data'][i][2]=parseFloat( output[j][1].slice(0,-1))/100;
                                                    sort_data[0]['data'][i][3]=parseFloat(Risk)/100;
                                                    sort_data[0]['data'][i][4]=parseFloat(Return)/100;
                                                    sort_data[0]['data'][i][5]=portfolio;
                                                    sort_data[0]['data'][i][6]=({{x|safe}})/100;
                                                    sort_data[0]['data'][i][7]=({{y|safe}})/100;
                                                } 
                                            } 
                                        } 
                                        ajax_call( sort_data[0]['data'],1);
                                               
                                    }
                                    else{
                                        return false;
                                    }
                        }
                    });
                   
                }
                backend_data_default()
                function backend_data_default()
                {
                    var portfolio = 'Efficient_Frontier_Better_Return_Portfolio'
                    graph_table_data={{graph_table_data|safe}}
                    sort_data=graph_table_data.filter(e => e.case ==={{default|safe}})
                    output={{stock_weight|safe}}
                    for(i=0;i<sort_data[0]['data'].length;i++)
                    {
                        for(j=0;j<output.length;j++)
                        {
                            if(sort_data[0]['data'][i][0]==output[j][0])
                            {                          
                                sort_data[0]['data'][i][1]=parseFloat((sort_data[0]['data'][i][1]).slice(0,-1))/100
                                sort_data[0]['data'][i][2]=parseFloat(output[j][1].slice(0,-1))/100
                                sort_data[0]['data'][i][3]={{x_default|safe}}
                                sort_data[0]['data'][i][4]={{y_default|safe}}
                                sort_data[0]['data'][i][5]=portfolio
                                sort_data[0]['data'][i][6]={{x|safe}}/100
                                sort_data[0]['data'][i][7]={{y|safe}}/100
                              
                            }
                        } 
                    } 
                   ajax_call( sort_data[0]['data'],0)
                }
                function ajax_call(save_data_backend,flag)
                {
                    $('.se-pre-con').fadeIn(1);
                    // $('.se-pre-con').fadeIn(1);

                    $.ajax({
                        url: "{% url 'opt_saved_portfolio_eff' %}",
                        type: 'post',
                        data: { 'save_data': JSON.stringify(save_data_backend) },
                        dataType: 'json',
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        success: function (json) {
                            $('.se-pre-con').fadeOut(1);
                            if (flag != 0) {
                                $('.responsemsg').html(json.msg);
                                $('.responsemsg').css('color', 'green');

                                setTimeout(function () {
                                    $(".closeport").click();

                                }, 2000);
                            }
                        },
                        error: function (json) {
                        } 
                });
                }
            }
            else{
                $('.se-pre-con').fadeOut(1);
                $('.dashboard-five-stacked-charts').html('No data found');

            }
         
                $('.table tr td:nth-child(1)').each(function()
                {
                    $(this).addClass('company')
                })
                $(document).on("click", ".company", function () {
                    var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
                    window.open(stockURL, '_blank');
                    return false; 
                    });
                    $("#frontier-graph-table").css({
	                'height': (($("#frontier-graph").height() + 21) + 'px')
	            });
                 
                    $("body").css({visibility:'visible'})
    </script>

    {% endblock %}
