{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>72PI</title>
    <meta name="description" content="" /> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/EmptyPortfolio.css' %}?v=1.2">
  </head>
	<body>
    <div class="col-lg-8 section-gap emptyportfolio-div">
      <div class="card mg-t-50" style="padding:1% 2%">
        <div class="card-body">
          <div class="text-center">
            <h4 class="tx-22 mg-b-10 welcome_msg mg-t-0"><i>Dear {{customer}}, welcome to 72PI.
              You don't have any saved portfolio(s) yet.<br> </i></h4>
              <h4 class="tx-22 mg-b-10 welcome_msg mg-t-20"><i>Add stocks to your Portfolio from the below options.</i></h4 >
              <div class="text-center col-lg-6 my-auto ">
                  <ul class="mg-l-0 mg-t-0 notes-ul tx-15  mg-t-30 mg-b-0 text-left">
                    <li>
                      <i class="fa fa-hand-o-right mg-r-5"></i>
                      <a class="tx-16" href="{% url 'createPortfolio' %}">Create Portfolio By selecting stocks</a>
                    </li>
                    <li>
                      <i class="fa fa-hand-o-right mg-r-5"></i>
                      <a class="tx-16" href="{% url 'screener' %}">Create Portfolio By using filters</a>
                    </li>
                    <li>
                      <i class="fa fa-hand-o-right mg-r-5"></i>
                      <a class="tx-16" href="{% url 'ModelPortfolio' %}">Import 72PI Model Portfolio(s)</a>
                    </li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $("body").css({visibility:'visible'})
  </script>
</html> 
{% endblock %}