{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
<!DOCTYPE html>
    <head>
        <title>Factor Information - 72PI</title>  
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" content="72pifactoranlaysis, factoranalysis, factors, stockfactors, factorinfo, 72piriskmonitoring, 72piquantitativeriskmonitoring, riskmonitoring, quantitativeriskmonitoring "/>
        <meta name="description" content="It helps the subscriber in analysing the portfolio stocks by different factors like size, valuation, growth, profitability, leverage, risk and piotroski score" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/FactorInfo.css' %}?v=1.2">
    </head>
    <body>
        <div class="row row-sm section-gap main factor_info_page">
            <div class="col-sm-12 row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        X-Ray Analyzer
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'factorInfo' %}" class="nav-sub-link">Factor Analysis</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
                        <div class="banner-btn mg-l-5">
                            <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                                aria-hidden="true">
                            </i></a>
                        </div>
                    </div>
                </div> 
                <div id="videoModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe id="video-div" height="315" src="https://www.youtube.com/embed/xea-FVSx1Sc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div>
            <div class="col-sm-12  main-sub-div2">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                            <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                            <select id="globalPortfolio" class="form-controls mg-l-20">
                                {% for portfolio in portfolio_names %}
                                <option value='{{portfolio}}'>{{portfolio}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
           
                </div>
            </div>
    
            <!-- graph section div -->
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card chart-cards">
                    <div class="card-header">
                        <h4 class="card-title text-center"><label>Factor Info</label></h4>
                    </div>
                    <div class="card-body pd-t-0">
                        <div class="factor-fixed-card-div">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="select-dates mg-l-0">
                                    <div class="filter-tabs">
                                        <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                                            aria-orientation="vertical">
                                            <a class="nav-link active" id="v-pills-2-tab" data-toggle="tab"
                                                href="#v-pills-2" role="tab" aria-controls="v-pills-2"
                                                aria-slected="true">Size</a>
                                            <a class="nav-link" id="v-pills-3-tab" data-toggle="tab" href="#v-pills-3"
                                                role="tab" aria-controls="v-pills-3" aria-selected="false">Valuation</a>
                                            <a class="nav-link" id="v-pills-4-tab" data-toggle="tab" href="#v-pills-4"
                                                role="tab" aria-controls="v-pills-4" aria-selected="false">Growth</a>
                                            <a class="nav-link" id="v-pills-5-tab" data-toggle="tab" href="#v-pills-5"
                                                role="tab" aria-controls="v-pills-5" aria-selected="false">Profitability</a>
                                            <a class="nav-link" id="v-pills-6-tab" data-toggle="tab" href="#v-pills-6"
                                                role="tab" aria-controls="v-pills-6" aria-selected="false">Leverage</a>
                                            <a class="nav-link" id="v-pills-1-tab" data-toggle="tab" href="#v-pills-1"
                                                role="tab" aria-controls="v-pills-1" aria-selected="fasle">Risk</a>
                                            <a class="nav-link" id="v-pills-7-tab" data-toggle="tab" href="#v-pills-7"
                                                role="tab" aria-controls="v-pills-7" aria-selected="false">Piotroski
                                                Score</a>
                                            <a class="nav-link" id="v-pills-7-tab" data-toggle="tab" href="#v-pills-8"
                                                role="tab" aria-controls="v-pills-8" aria-selected="false">All Factors</a>
    
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="graphs mg-t-10 factor-scroll-div table-responsive">
                                <div class="tab-content scroll-divs">
                                    <div class="tab-pane fade " id="v-pills-1" role="tabpanel"
                                        aria-labelledby="v-pills-nextgen-tab">
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">Beta 1Y</th>
                                                            <th class="non-sticky">Volatility 1Y (%)</th>
                                                           
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company sticky-col first-col">{{stock.fs_name}}</td>
                                                            <td>{{stock.beta_1y|floatformat:'2'}}</td>
                                                            <td>{{stock.volatility_1y_field|mul:100|floatformat:'0'}}%</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade show active " id="v-pills-2" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
    
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">Mcap ({{format|safe}})</th>
                                                            <th class="non-sticky">Sales ({{format|safe}})</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company  sticky-col first-col">{{stock.fs_name}}</td>
                                                            <td>{{symbol|safe}}{{stock.mcap_rm_field|floatformat:'0'}}</td>
                                                            <td>{{symbol|safe}}{{stock.sales_rm_field|floatformat:'0'}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
    
                                    </div>
    
                                    <div class="tab-pane fade show " id="v-pills-3" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="first-col sticky-col">Company</th>
                                                            <th class="non-sticky">Price-To-Earnings (PE)</th>
                                                            <th class="non-sticky">Price-To-Book (PB)</th>
                                                            <th class="non-sticky">Div.Yield</th>
                                                            <th class="non-sticky">Div.Payout</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company first-col sticky-col">{{stock.fs_name}}</td>
                                                            <td>{{stock.pe|floatformat:'2'}}</td>
                                                            <td>{{stock.pb|floatformat:'2'}}</td>
                                                            <td>{{stock.div_yield|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.div_payout|mul:100|floatformat:'2'}}%</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade show " id="v-pills-4" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">Sales Growth</th>
                                                            <th class="non-sticky">Sales - QoQ Growth</th>
                                                            <th class="non-sticky">Sales - 3Y CAGR</th>
                                                            <th class="non-sticky">EPS Growth</th>
                                                            <th class="non-sticky">EPS - QoQ Growth</th>
                                                            <th class="non-sticky">EPS - 3Y CAGR</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company sticky-col first-col">{{stock.fs_name}}</td>
                                                            <td>{{stock.sales_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_growth_qoq_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_growth_3y_5r_cagr|floatformat:'2'}}%</td>
                                                            <td>{{stock.eps_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.eps_growth_qoq_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.eps_growth_3y_5r_cagr|floatformat:'2'}}%</td>
                                                            
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade show " id="v-pills-5" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">ROE</th>
                                                            <th class="non-sticky">ROCE</th>
                                                            <th class="non-sticky">EBITDA Margin</th>
                                                            <th class="non-sticky">Net Income Margin</th>
                                                            <th class="non-sticky">FCF Margin</th>
                                                            <th class="non-sticky">Sales/Total Assets</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company sticky-col first-col">{{stock.fs_name}}</td>
                                                            <td>{{stock.roe|floatformat:'2'}}%</td>
                                                            <td>{{stock.roce|floatformat:'2'}}%</td>
                                                            <td>{{stock.ebitda_margin|floatformat:'2'}}%</td>
                                                            <td>{{stock.net_income_margin|floatformat:'2'}}%</td>
                                                            <td>{{stock.fcf_margin|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_total_assets|floatformat:'2'}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade show " id="v-pills-6" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <div class="view">
                                            <div class="wrapper">
    
                                                <table class="table table-hover table-sm sortable unselectable" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">Net Debt/FCF</th>
                                                            <th class="non-sticky">Net Debt/EBITDA</th>
                                                            <th class="non-sticky">Debt/Equity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company sticky-col  first-col">{{stock.fs_name}}</td>
                                                            <td>{{stock.net_debt_fcf|floatformat:'2'}}</td>
                                                            <td>{{stock.net_debt_ebitda|floatformat:'2'}}</td>
                                                            <td>{{stock.debt_equity|floatformat:'2'}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade show " id="v-pills-7" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
    
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:50%" class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">Piotroski Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company  sticky-col  first-col">{{stock.fs_name}}
                                                            </td>
                                                            <td>{{stock.piotroski_score|floatformat:'0'}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="tab-pane fade show  " id="v-pills-8" role="tabpanel"
                                        aria-labelledby="v-pills-performance-tab">
                                        <div class="view">
                                            <div class="wrapper">
                                                <table class="table table-hover table-sm sortable unselectable">
                                                    <thead>
                                                        <tr>
                                                            <th class="sticky-col first-col">Company</th>
                                                            <th class="non-sticky">Beta 1Y</th>
                                                            <th class="non-sticky">Volatility 1Y (%)</th>
                                                            <th class="non-sticky">Mcap ({{format|safe}})</th>
                                                            <th class="non-sticky">Sales ({{format|safe}})</th>
                                                            <th class="non-sticky">Price-To-Earnings (PE)</th>
                                                            <th class="non-sticky">Price-To-Book (PB)</th>
                                                            <th class="non-sticky">Div.Yield</th>
                                                            <th class="non-sticky">Div.Payout</th>
                                                            <th class="non-sticky">Sales Growth</th>
                                                            <th class="non-sticky">Sales - QoQ Growth</th>
                                                            <th class="non-sticky">Sales - 3Y CAGR</th>
                                                            <th class="non-sticky">EPS Growth</th>
                                                            <th class="non-sticky">EPS - QoQ Growth</th>
                                                            <th class="non-sticky">EPS - 3Y CAGR</th>
                                                            <th class="non-sticky">ROE</th>
                                                            <th class="non-sticky">ROCE</th>
                                                            <th class="non-sticky">EBITDA Margin</th>
                                                            <th class="non-sticky">Net Income Margin</th>
                                                            <th class="non-sticky">FCF Margin</th>
                                                            <th class="non-sticky">Sales/Total Assets</th>
                                                            <th class="non-sticky">Net Debt/FCF</th>
                                                            <th class="non-sticky">Net Debt/EBITDA</th>
                                                            <th class="non-sticky">Debt/Equity</th>
                                                            <th class="non-sticky">Piotroski Score</th>
    
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for stock in stocks %}
                                                        <tr>
                                                            <td class="company sticky-col first-col">{{stock.fs_name}}</td>
                                                            <td>{{stock.beta_1y|floatformat:'2'}}</td>
                                                            <td>{{stock.volatility_1y_field|mul:100|floatformat:'0'}}%</td>
                                                            <td>{{symbol|safe}}{{stock.mcap_rm_field|floatformat:'0'}}</td>
                                                            <td>{{symbol|safe}}{{stock.sales_rm_field|floatformat:'0'}}</td>
                                                            <td>{{stock.pe|floatformat:'2'}}</td>
                                                            <td>{{stock.pb|floatformat:'2'}}</td>
                                                            <td>{{stock.div_yield|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.div_payout|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_growth_qoq_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_growth_3y_5r_cagr|floatformat:'2'}}%</td>
                                                            <td>{{stock.eps_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.eps_growth_qoq_growth|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.eps_growth_3y_5r_cagr|floatformat:'2'}}%</td>
                                                            <td>{{stock.roe|floatformat:'2'}}%</td>
                                                            <td>{{stock.roce|floatformat:'2'}}%</td>
                                                            <td>{{stock.ebitda_margin|floatformat:'2'}}%</td>
                                                            <td>{{stock.net_income_margin|floatformat:'2'}}%</td>
                                                            <td>{{stock.fcf_margin|mul:100|floatformat:'2'}}%</td>
                                                            <td>{{stock.sales_total_assets|floatformat:'2'}}</td>
                                                            <td>{{stock.net_debt_fcf|floatformat:'2'}}</td>
                                                            <td>{{stock.net_debt_ebitda|floatformat:'2'}}</td>
                                                            <td>{{stock.debt_equity|floatformat:'2'}}</td>
                                                            <td>{{stock.piotroski_score|floatformat:'0'}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- card-body -->
                </div>
                <!-- card -->
            </div>
    
    
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Factor analysis</label></h3>
              <div class="modal-body">
         <p>
            It helps in analyzing the portfolio stocks by different factors like size, valuation, growth, profitability, leverage, 
            risk and Piotroski score. These metrics can be used to gauge the strength of the fundamentals of the stock.         </p> 
        <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        </div>
        
    </body>
    
    <script src="{% static 'js/table_sort.js' %}"></script>

    <script>
          $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        });
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
       
            $(document).on("click", ".company", function () {
                var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
                window.open(stockURL, '_blank');
                return false; 
            });
            $(document).ready(function()
            {
                var currentPortfolio = '{{current_portfolio}}';
                $('#globalPortfolio').val(currentPortfolio);
            })  
            $(document).on("change", "#globalPortfolio", function () {
                var portfolioName = document.getElementById("globalPortfolio").value;
                window.location.href = "{% url 'factorInfo' %}?portfoliochanged-to="+portfolioName;
                return false;
            });

            if($('#v-pills-2 .wrapper .table').height()<450)
            {
                $('.wrapper').height($('#v-pills-2 .wrapper .table').height()+20)
            }
            else{
                $('.wrapper').height('50vh')
            }
        $('table td:first-child').css("text-align","left")

        $('table tr td').each(function() {
            if($(this).text()==="%" || $(this).text()==="% " || $(this).text()===" %" ||$(this).text()==='{{symbol|safe}}' || $(this).text()===" % " )
            {

                $(this).text('')
            

            }

            if($(this).text().startsWith('{{symbol|safe}}'))
            {
                if('{{symbol|safe}}'=='$')
                num='{{symbol|safe}}'+(parseFloat($(this).text().substr(1)).toLocaleString('en-US'))
                else
                num='{{symbol|safe}}'+(parseFloat($(this).text().substr(1)).toLocaleString('hi-IN'))

                $(this).text(num)
            }
            if($(this).text()==="%" || $(this).text()==='{{symbol|safe}}' || $(this).text()==="% " || $(this).text()===" %" ||$(this).text()===" % " )
            {
                console.log($(this).text())
                $(this).text('')
            }   
        })

            function checkWidth() {
            
                if ($(window).width() < 680) {
                    $('.table thead th:nth-child(1)').removeClass('sticky-col first-col');
                    $('.table tbody td:nth-child(1)').removeClass('sticky-col first-col');
                } 
                else{
                    $('.table thead th:nth-child(1)').addClass('sticky-col first-col');
                    $('.table tbody td:nth-child(1)').addClass('sticky-col first-col');
                }        }
            checkWidth();        
            $(window).resize(checkWidth);
            $("body").css({visibility:'visible'})
    </script>
<style></style>
{% endblock %}


