{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
		<title>FAQ - 72PI</title>
    <meta name="description" content="" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="stylesheet" href="{% static 'css/FAQ.css' %}?v=1.2">

    </head>
	  <body>
      <div class="col-lg-12 privacy-div" style="padding:65px 15px">
        <div class="row">
          <div class="col-lg-12  section-1" style="margin:10px auto">
              <div class="container">
                <h1>Get Some Help Here!</h1>
                <p>Browse helpful resources below to find the quick solution to your question </p>
              </div>
          </div>
            <div class="container">
              <div class="cards">
            
                <div class="card-body">
                  <p class="accordion"><b> Tell us about your service offerings?</b></p>
              <div class="panel">
                <p>We offer two main products: Signals and Portfolio Analytics </p>
                <p>Signals product is designed to derive investment signals by evaluating market data from multiple dimensions:</p>
                <ul>
                  <li>1. Quantitative signals from Artificial Intelligence / Machine Learning model</li>
                  <li>2. Futures & Options market</li>
                  <li>3. Technical chart signals</li>
                  <li>4. Fundamental analysis</li>
                  <li>5.Model portfolios of market participants</li>
               
                </ul>
                <p>The second product is Portfolio Analytics. Create, analyze, and optimize your portfolios with 72PI Portfolio Analytics module. Deep dive into the portfolio performance and understand the metrics driving overall return. Use our Portfolio Optimization module to help pick the right combination of weights to maximize the return or to balance the return risk ratio or to achieve the target return. Our tools enable you to compare and fine tune your portfolios based on various parameters and complement your investment process and become a smarter investor at portfolio construction.</p>
              </div>

              <p class="accordion"><b>	Is 72PI or its parent company, Aishva Financial Services, a broker?</b></p>
              <div class="panel">
                <p>
                  72PI and its parent company Aishva Financial Services is not a stockbroker. 
                </p>
                <p>
                  72PI is built to be the one-stop content and modeling resource to make the investing process smarter, more accessible, and transparent for individual investors. We provide our subscribers with the knowledge and tools they need to make more informed decisions to succeed in their financial investments. 
                </p>
              </div>

              <p class="accordion"><b>	Will intraday stock tips be provided?</b></p>
              <div class="panel">No</div>

              <p class="accordion"><b> 	What content is provided in the Signals product? </b></p>
              <div class="panel">
                <p>Our key modules within Signals product are: </p>
                <p>
                  <b>Market: </b>Subscribers are provided with a snapshot of the equity market conditions and associated macro-economic information in India. Macroeconomic data, equity market indices performance and sector indices performance are updated every day to provide user with a glimpse into the current economy and stock market. 
                </p>
                <p><b>72PI Portfolio: </b>72PI will look into fundamental, quantitative, technical and situational analyses to determine the best stocks to invest in. Subscribers can follow changes to model portfolio every week or month. </p>
                <p><b>Futures & Options:  </b>Using an in-house proprietary model, a list of companies and their corresponding ‘high probability price range’ for near term (typically one month) will be provided to subscribers. This list and the price ranges will be update weekly. For short term trading, subscribers can consider to SELL at top end of range and BUY at bottom end of range. </p>
                <p><b>Quant:  </b>: Quantitative models using Machine Learning techniques are used to predict 1 to 3 months relative performance of sectors and companies. Historical data from the last 5 years is used to train the model. The model’s predictions predominantly capture the relative momentum of Sectors and specific stocks within each Sector. Each sector and the companies within each sector fall into one of the following categories: Underweight, Neutral or Overweight. TheseQuantitative models using Machine Learning techniques can be used along with other signals to identify investment opportunities in a sector and stock.  </p>
                <p><b>Model Portfolios: </b>72PI provides subscribers with model portfolios which includes a list of companies that are handpicked based on risk appetite and investment preference OR based on selection by top Mutual Funds in India. </p>
                <p><b>72PI Wizard: </b>Listed companies are put through fundamental, technical and the AL/ML filters to identify interesting investment opportunities based on current market conditions. Subscribers can alter the fundamental, technical and the AL/ML filters to their desire by customizing the filters. </p>
                <p><b>72PI Reports: </b>The 72PI research team provides custom reports for its subscribers on a select list of companies to provide curated information about their business and company valuation. This report can be used to understand certain companies at a more granular level. </p>
                <p><b>Curated News:  </b>72PI team will curate market news into a structured content for easy digestion and understanding of markets.</p>
              </div>
              <p class="accordion"><b>	What content is provided in the Portfolio Analytics product?</b> </p>   
              <div class="panel">
                <p>Our key modules within Portfolio Analytics product are: </p>
                <p><b>72PI Chatbot: </b>A conversational Machine Learning based Chat-Bot for easy understanding of portfolio through an interactive Q&A format. Display data and charts based on queries of subscriber. </p>
                <p><b>Portfolio Creator by selecting stocks: </b>Create portfolio by selecting stocks by sector, and market capitalization. </p>
                <p><b>Portfolio Creator by using Filters: </b>Create portfolio by selecting stocks using multiple factors as filters, including Sales, Sales Growth, PE multiple, EPS Growth, PB multiple, Beta, Volatility, Sector, Market capitalization, Dividend Yield, ROE and many other factors. </p>
                <p><b>Portfolio Analyzer: </b>Analyze your portfolios with 72PI for deep dive into the portfolio performance and understand the metrics driving overall return, including equal-weighted returns, returns by sector, risk / volatility of portfolio, comparison of price to analyst target prices for each stock, and an overall recommendations on portfolio construction. </p>
                <p><b>Advanced Portfolio Analyzer: </b>Advanced features analytics such as historical valuation multiples of each company, factor analysis of portfolio, impact of Oil / US$ to Rupee exchange rate on portfolio, technical factors such as RSI. These tools are intended to help you become a much smarter investor, especially at portfolio construction.</p>
                <p><b>Portfolio Optimization: </b>For a portfolio, run efficient frontier simulations based on historical or forecasted returns to understand expected portfolio returns and risk. To compare the portfolio weights of different optimization models. Helps in fine tuning the amount of investment for each position in your portfolio. </p>

              </div>
              <p class="accordion"><b>	Can 72PI manage my capital?</b> </p>
              <div class="panel">
                <p>72PI does not manage your capital currently. 72PI is built to be the one-stop content and modeling resource to make the investing process smarter, more accessible, and transparent for individual investors. We provide our subscribers with the knowledge and tools they need to make more informed decisions to succeed in their financial investments. </p>
                <p>Aishva Financial Services is a SEBI registered Investment Adviser. If an investor is looking for specific investment advisory services to manage capital please write to <a href="#">advisory@aishva.com</a></p>
                
              </div>
              <p class="accordion"><b>	Does 72PI provide Portfolio Management Services (PMS)?</b></p>
              <div class="panel">
                <p>No, 72PI does not provide PMS services. Aishva Financial Services is a SEBI registered Investment Adviser. If an investor is looking for specific investment advisory services to manage capital please write to <a href="#">advisory@aishva.com</a></p>
              </div>
              <p class="accordion"><b>	Does 72PI provide live price feeds?</b></p>
              <div class="panel">
                <p>No. 72PI currently displays end of prices only. </p>
              </div>
              <p class="accordion"><b>	Who owns 72PI?</b></p>
              <div class="panel">
                <p>72PI platform is owned by Aishva Financial Services Private Limited, a SEBI registered Investment Adviser. </p>
                <p>Suresh Raju founded Aishva Financial Services to provide insightful equity research ideas and bring institutional style portfolio analytics to the individual investor. Suresh and his team currently operate a SEBI registered Alternative Investment Fund, Category III, that invests in equities and derivatives market. Suresh has over 20 years of extensive experience in Investment Management, Capital Markets, Financial Structuring, Valuation, Corporate Finance and Due Diligence. </p>
                <p>Prior to launching 72PI, he founded and operated a company in the financial services space to provide equity research, predictive modeling, and analytics support to asset management clients, primarily fund managers and hedge funds, in Boston and New York City. He and his team have researched and delivered over 1500+ company writeups across sectors and international markets to clients in USA. Suresh spent 4 years in the private equity market as a General Partner at TVS Capital Funds, evaluating over 600+ companies across consumer consumption sectors in India. In his earlier days, Suresh spent time in the Investment Banking practice at Deutsche Bank (Boston, USA) and led over 25 transactions from IPOs, private placements, debt financings, M&A transactions, LBOs across technology sector. Suresh started his career at ABAQUS Inc. (USA) a software company that focused on finite element technologies.</p>
                <p>Suresh received his bachelor’s from IIT Madras in 1993 and master’s in engineering from Ohio State University in 1995. He received his MBA from University of Chicago Booth School of Business in 2001. </p>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <script>
      
    document.addEventListener("DOMContentLoaded", function(event) { 
    
    
    var acc = document.getElementsByClassName("accordion");
    var panel = document.getElementsByClassName('panel');
    
    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            var setClasses = !this.classList.contains('active');
            setClass(acc, 'active', 'remove');
            setClass(panel, 'show', 'remove');
    
            if (setClasses) {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    }
    
    function setClass(els, className, fnName) {
        for (var i = 0; i < els.length; i++) {
            els[i].classList[fnName](className);
        }
    }
    
    });
    $("body").css({visibility:'visible'})
    </script>
    </html> 
{% endblock %}