{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Feedback - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}?v=1.2">
    
  </head>
  <body>
    <div class="col-lg-12 feedbackdiv section-gap">
      <div class="col-lg-5"  style="margin:2% auto 0% auto">
        <div class="cardheader">
          <h2 class="text-center text-white">Your Feedback</h2>
          <p class="text-center text-white mg-t-10 tx-16">We would like your feedback to improve our website.</p>
          <p class="text-center text-white mg-t-5 tx-16">What is your opinion on this page?</p>
        
        </div>
        <div class="card">
          <div class="card-body  pd-t-30">
            <h5 class="text-center">Give us your feedback!</h5>
            <div class="emoji_container">
              <div class="item">
                <label for="0">
                <input class="radio" type="radio" name="feedback" id="0" value="0">
                <span>🤬</span>
              </label>
              </div>
          
              <div class="item">
                <label for="1">
                <input class="radio" type="radio" name="feedback" id="1" value="1">
                <span>🙁</span>
              </label>
              </div>
          
              <div class="item">
                <label for="2">
                <input class="radio" type="radio" name="feedback" id="2" value="2">
                <span>😶</span>
              </label>
              </div>
          
              <div class="item">
                <label for="3">
                <input class="radio" type="radio" name="feedback" id="3" value="3">
                <span>😁</span>
              </label>
              </div>
          
              <div class="item" >
                <label for="4">
                <input class="radio" type="radio" name="feedback" id="4" value="4">
                <span>😍</span>
              </label>
              </div>
          
            </div>
            <hr/>
            <div>
              <div>Please select your feedback category below.</div>
  
              <div class="mg-t-10 text-center btns-div" id="myDIV">
                <button class="btns button2 btn-outline-primary ">Suggestion</button>
                <button class="btns button2 btn-outline-secondary">Something is not quite right</button>
                <button class="btns button2 btn-outline-danger">Complaint</button>
              </div>

              <hr />
            </div>
            <div>
              <div>Please leave your feedback below:</div>
              <textarea class="mg-t-10  feed_text" placeholder="Please give your feedback here"
                id="element-textarea-1125" required></textarea>
  
            </div>
            <div class="mg-t-10">
              <div class="row">
                <div class="col-sm-9">
                  <span id="feedbackres"> </span>
                </div>
                <div class="col-sm-3">
                  <button class="btn submit_feedback mg-t-20 mg-lg-t-0 mg-sm-t-20">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
		
        </div>
        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("myDIV");
            var btns = header.getElementsByClassName("btns");
            for (var i = 0; i < btns.length; i++) {
              btns[i].addEventListener("click", function() {
              var current = document.getElementsByClassName("active");
              if (current.length > 0) { 
                current[0].className = current[0].className.replace(" active", "");
              }
              this.className += " active";
              });
            }

            $('.submit_feedback').click(function(){
              var rating=$('input[type=radio][name=feedback]:checked').val();
              var feed_type = " ";
              $('.btns-div button').each(function(){
                if($(this).hasClass('active'))
                {
                  feed_type=$(this).text()
                }
              })
              var feed_text=$('.feed_text').val()
              $.ajax({
                type: "POST",
                url: "{% url 'customerFeedback'%}",
                dataType : 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                data: {
                'rating': rating,
                'feed_type' : feed_type,
                'feed_text' :feed_text
                },
                success:function (response) {
                document.getElementById("feedbackres").innerHTML=response.msg;
                $('#feedbackres').css('color','green')
                },
                error:function (response){
                
                  document.getElementById("feedbackres").innerHTML=response.msg;
                  $('#feedbackres').css('color','red');
                }
              });
            })
            
            $("body").css({visibility:'visible'})

            </script>
  </body>
 
</html>
{% endblock %}