{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <title>subscription - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <style>
      body{
        background-color: #1A0C4B !important;
      }
      .base-header{
        display: block !important;
      }
      footer{
        display: none !important
      }
      .analytics-header , .subnav-content{
        display:none !important
      }
      .card{
        background-color: #1A0C4B !important;
        color:white !important;
        padding:30px;
      }
      h2,h4{
          color:white !important;
      }
      hr{
          border-bottom:1px solid white !important;
      }
      .renew-btn{
          border:1px solid white !important;
          background-color: transparent ;
          color:white;
          padding:5px 15px;
      }
      .subscribe-btn{
        border:1px solid white !important;
        background-color: white ;
        color:#1A0C4B;
        padding:10px 15px; 
      }
      .renew-btn:hover{
        background-color: white ;
          color:#1A0C4B;
      }
      .subscribe-btn:hover{
        background-color: transparent ;
          color:white;
      }
      .section-gap{
        padding-top:150px !important;
      }


    </style>
  </head>
  <body>
    <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="cards" style="margin:1px auto">
                <div class="card-header">
                    <h2>Hi, Thanks for having account in 72PI</h2>
                    <hr>
                </div>
                <div class="card-body">
                    <h1></h1>
                    <h4>30 Day Trial subcription has been activated on your account</h4>
                    <p class="text-white mg-t-5">For premium subscriptions, please checkout our pricing</p>
                    <p class="text-white mg-t-5">Validity ends on {{endtime}} </p>
                   <div class="mg-t-40 ">
                    <a href="{% url 'welcomepage' %}" class="subscribe-btn mg-t-20 mg-r-50">Get Started</a>
                    <a href="{% url 'pricingDetails' %}" class="subscribe-btn mg-t-20">Get Premium</a>
                   </div>
                </div>
            </div>
        </div>
    </div>

  </body>
  <script>
    $("body").css({visibility:'visible'});
  </script>
</html>
{% endblock %}