
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/FreeSubscription.css' %}?v=1.2">
    <title>Subscription - 72PI</title>
  </head>
  <body>
    <div class="col-lg-12 section-gap">
			<div class="row">
        <div class="col-lg-8 section-1" style="margin:10px auto">
          <div class="container">
            <div class="cards">
            
              <div class="card-body row">
                <div class="col-sm-6 infodiv" >
                    <h3>Your Information</h3>
                    <div class="formdetails mg-t-20">
                      <form action="#" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                      <button class="btn Subscribe mg-t-30">Subscribe</button>
                      </form>
                      <div class="mg-t-20">
                        <p class="tx-12 text-white">By submitting this form, you confirm that you agree to our 
                          <a href="">Terms of Service</a> and consent to the storing and processing of your personal data as 
                          described in our <a href="">Privacy Policy</a>.</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 plandiv">
                  <h3>Your Subscription</h3>
                    <div class="plandetails mg-t-20">
                      <h1>Free 30 Day Trial</h1>
                      <div class="mg-t-20">
                        <ul>
                          <li class="gold content">72PI Portfolio</li>
                          <li  class="gold content">Wizard</li>
                          <li  class="gold content">Portfolio Creator</li>
                          <li class="gold content">X-Ray Your Portfolio</li>
                          <li  class="gold content">Optimizer</li>
                          <li  class="gold content">Advance Quant</li>
                          <li  class="gold content">Reports & Insights</li>
                        </ul>
                     
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
  </body>
  <script>
    $("body").css({visibility:'visible'});

  </script>
</html>
{% endblock %}