{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">

        <link rel="stylesheet" href="{% static 'css/azia.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}?v=1.2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <style>
            .trade{
                color:#FFA400 !important;
            }
            .section2 .card .card-body{
                padding:5px 10px !important;
            }
            hr{
                margin:5px  !important;
            }
            .btns 
            {
                color: #5627d8 !important;
                background: transparent;
                padding: 3px 8px !important;
                cursor: pointer !important;
                text-align: center !important;
                font-size: 14px;
                font-weight: 500;
                border: 2px solid #5627d8;
            }
            .unselectable {
        -webkit-touch-callout: none !important;
        -webkit-user-select: none !important;
        -khtml-user-select: none !important;
        -moz-user-select: none;
        -ms-user-select: none !important;
        user-select: none !important;
    }
        
        </style>
    </head>
    <body>
        <header id="header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40 /></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a href="{% url 'FundManagement' %}"  class="fund_dashboard">Dashboard</a></li>
                            <li><a href="{% url 'fundClientAccount' %}"  class="clientaccount">Client Accounts</a></li>
                            <li><a href="{% url 'fundTradeNotifications' %}"  class="trade">Trade Notifications</a></li>
                    <li><a  href="{% url 'account_logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </header>
        <div class="col-lg-12 section-gap mg-t-80" >
            <div class="card mg-t-20">
                <div class="card-body">
                    <table class="table table-bordered unselectable" id="myTable1">
                        <thead>
                            <tr>
                                <th>BUY/SELL</th>
                                <th>Company Name</th>
                                <th>Latest Trade Price(Rs.)<span style="color:orange;font-size:20px;"> *</span></th>
                                <th>Limit Price(Rs.)<span style="color:orange;font-size:20px;"> *</span></th>
                                <th>Expiry Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select name="buy_sell" class="tradeopt" required>
                                        <option selected='true' disabled='disabled' value='NO'>Select</option>
                                        <option value="BUY">BUY</option>
                                        <option value="SELL">SELL</option>
                                    </select>
                                   
                                </td>
                                <td>
                                    <select name="tradecompanies" class="tradecompany" required >
                                        <option selected='true' disabled='disabled' value='NO'>Select Company</option>
                                        {% if companies %}
                                        {% for item in companies %}
                                        <option value="{{item.fs_name}}">{{item.fs_name}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="latestprice" class="latestprice" readonly disabled>
                                </td>
                                <td>
                                    <input type="text" name="limitprice" class="limitprice" required><br><span id="limiterror" style="display: none;" ></span>
                                </td>
                                <td>
                                    <input type="date" name="expirydate" class="expirydate" id="expirydate" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mg-t-20 text-center">
                        <button class="btns selectacnt" onclick="return false">Show Accounts</button><br><span id="errorflag" style="display: none;"></span>
             
                    </div>
                            
                </div> 
            </div>
            <div class="card mg-t-20 showtable" style="display: none;">
                <div class="card-body">
                    <h5 class="text-center" id="nocustomers" style="display: none;"></h5>
                    <div class="tables mg-t-20 table-responsive">
                        <table class="table unselectable" id="myTable2" >
                            <thead>
                                <th>Select</th>
                                <th>Customer Name</th>
                                <th>BUY/SELL</th>
                                <th>Company Name</th>
                                <th>Portfolio Name</th>
                                <th>Capital Invst Amt</th>
                                <th>Invested Amt</th>
                                <th>Cash Remaining</th>
                                <th style="display: none;" id="owned_qty">Owned Quantity</th>
                                <th>Quantity<span style="color:orange;font-size:16px;"> *</span></th>
                                <th id="amtchange">Amt Req</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="mg-t-20 text-center">
                            <button class="btns notify">Notify</button>
                            <p class="response" id="result"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
        // Setting Expiry Date to current date 
        document.getElementById("expirydate").valueAsDate  = new Date();
        $('[data-toggle="tooltip"]').tooltip();
        var actions = $("table td:last-child").html();
        // Append table with add row form on add new button click
        $(".add-new").click(function(){
            var table = document.getElementById("myTable1")
            var row = table.insertRow(-1)
            row.insertCell(0).innerHTML = `<select class="tradeopt">
                                            <option selected='true' disabled='disabled' value='NO'>Select</option>
                                            <option value="BUY">BUY</option>
                                            <option value="SELL">SELL</option>
                                            </select>`;
            row.insertCell(1).innerHTML =  `<select class='tradecompany' id='company'>
                                            <option selected='true' disabled='disabled' value='NO'>Select Company</option>
                                            {% if companies %}
                                            {% for item in companies %}
                                            <option value="{{item.fs_name}}">{{item.fs_name}}</option>
                                            {% endfor %}
                                            {% endif %}
                                            </select>`;
            row.insertCell(2).innerHTML = `<input type="text" name="latestprice" class="latestprice" readonly disabled>`;
            row.insertCell(3).innerHTML = `<input type="text" name="limitprice" class="limitprice" required></p>`;
            row.insertCell(4).innerHTML = `<input type="date" name="expirydate" class="expirydate" required>`;
            row.insertCell(5).innerHTML = `<a class="delete btn-sm btn-danger text-white" title="Delete" data-toggle="tooltip">Delete</a>`;
        });
        // Add row on add button click
        $(document).on("click", ".add", function(){
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function(){
                if(!$(this).val()){
                    $(this).addClass("error");
                    empty = true;
                } else{
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if(!empty){
                input.each(function(){
                    $(this).parent("td").html($(this).val());
                });			
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").removeAttr("disabled");
            }		
        });
        // Edit row on edit button click
        $(document).on("click", ".edit", function(){		
            $(this).parents("tr").find("td:not(:last-child)").each(function(){
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });		
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", ".delete", function(){
            $(this).parents("tr").remove();
            $(".add-new").removeAttr("disabled");
        });
    });
    $(document).on("change", ".tradeopt", function(){
        var buysell = $(this).find(".tradeopt option:selected").text();
    });
    $(document).on("change", ".tradecompany", function(){
        var instance = jQuery(this);
        var company = $(this).parents("td").find("option:selected").text()
        var portfolio = 'myportfolio';
        $.ajax({
            url: "{% url 'Getstockprice'%}",
            type: 'post',
            data: {
                    'company': company,
                    'portfolio_name' : portfolio
                },
            dataType : 'json',
            csrfmiddlewaretoken: "{{ csrf_token }}",
            cache:false,
            crossDomain:true,
            success: function(json)
            {
            if (!isNaN(json.price)) {
                instance.parents("tr").find('[name="latestprice"]').val(json.price);
            }
            }
        });
        event.preventDefault(); 
    });

        

        $(document).on("keyup", ".tradequant", function(){
        var instance  = jQuery(this);
        var buy_sell = instance.parents("tr").find('[name="buysellopt"]').text();
        if (buy_sell == "BUY"){
            var buy_qty = instance.parents("tr").find('[name="tradequant"]').val();
            var amnt_req = 0;
            var maxQuant = 0;
            var cashLeft = 0;
            var limitPrice = 0;
            $("#myTable1 tbody>tr").each(function () {
            limitPrice = $(this).find('[name="limitprice"]').val();
            });
            $("#myTable2 .selectcust:checkbox:checked").each(function () {
            cashLeft = parseInt($(this).parents("tr").find('[name=cashleft]').text());
            });
            var maxQuant =Math.floor(cashLeft/limitPrice);
            if(parseInt(buy_qty) <= parseInt(maxQuant)){
                instance.parents("tr").find('#quanterror').css("display","none");
                instance.parents("tr").find('#quanterror').text(" ");
                amnt_req = amnt_req+limitPrice*buy_qty;
                instance.parents("tr").find('.amntreq').text(Math.floor(amnt_req));
            }else{
                instance.parents("tr").find('#quanterror').css("display","block");
                instance.parents("tr").find('#quanterror').css("color","red");
                instance.parents("tr").find('#quanterror').text('Max Limit Exceeded')
                instance.parents("tr").find('.amntreq').text(" ");
            }
        }else{
        var sell_qty = parseInt(instance.parents("tr").find('[name="tradequant"]').val());
        var current_qty = parseInt(instance.parents("tr").find('.own_qty').text());
        if (sell_qty <= current_qty){
        var amnt_rec = 0;
        instance.parents("tr").find('#quanterror').css("display","none");
        instance.parents("tr").find('#quanterror').text(" ");
        $("#myTable1 tbody>tr").each(function () {
            var limitPrice = $(this).find('[name="limitprice"]').val();
            amnt_rec = limitPrice*sell_qty;
        });
        instance.parents("tr").find('.amntreq').text(amnt_rec);
        }else{
            instance.parents("tr").find('#quanterror').css("display","block");
            instance.parents("tr").find('#quanterror').css("color","red");
            instance.parents("tr").find('#quanterror').text('Max Limit Exceeded')
            instance.parents("tr").find('.amntreq').text("");
        }}});

        $(document).on("keyup", ".limitprice", function(){
        var price = $(this).val();
        if(price){
        var validatePrice = function(price) {
        return /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(price);
        }}else{
            $("#limiterror").css("display","none");
            document.getElementById('limiterror').innerHTML=" ";
        }
        var noerrorflag = validatePrice(price); // False or True
        if(noerrorflag){
            $("#limiterror").css("display","none");
            document.getElementById('limiterror').innerHTML=" ";
        }else{
            $("#limiterror").css("display","block");
            $("#limiterror").css("color","red");
            document.getElementById('limiterror').innerHTML="Invalid Limit Price";
        }
        });

        function priceValidation(price){
        if(price){
        var validatePrice = function(price) {
        return /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d+)?$/.test(price);
        }}
        return validatePrice(price); // False or True
        }

        $(document).on("click", ".notify", function(){
            var TradeNotifications = [];
            $("#myTable2 .selectcust:checkbox:checked").each(function () {
                var custname = $(this).parents("tr").find('.custname').text();
                var quantity = $(this).parents("tr").find('.tradequant').val();
                $("#myTable1 tbody>tr").each(function () {
                    var MyObject = {};
                    var limitPrice = $(this).find('[name="limitprice"]').val();
                    var date = $(this).find('[name="expirydate"]').val();
                    var buysell = $(this).find(".tradeopt option:selected").text();
                    var company = $(this).find(".tradecompany option:selected").text();
                    MyObject['Buy_Sell'] = buysell;
                    MyObject['CustomerName'] = custname;
                    MyObject['CompanyName'] = company;
                    MyObject['Quantity'] = quantity;
                    MyObject['LimitPrice'] = limitPrice;
                    MyObject['IssuedDate'] = date;
                    TradeNotifications.push(MyObject);
                });
                });
                if (TradeNotifications.length != 0){
                 
                $.ajax({
                    type: "POST",
                    url: "{% url 'CustomerTradeNotifications' %}",
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    data: {'tradesignals': JSON.stringify(TradeNotifications)},
                    success:function (response) {
                    if(response.res_Status)
                    $('.response').css('color','green');
                    else
                    $('.response').css('color','red');
                    document.getElementById("result").innerHTML = response.res_Msg;
                    },
                    error:function (response){
                    console.log("Error detected while notifying trades to your trusted customers!");
                    }});}else{
                    $('.response').css('color','red');
                    document.getElementById("result").innerHTML = "Error detected while notifying trades to your trusted customers!";
                    }
                    event.preventDefault();
                });
            $('.selectacnt').click(function(){

                var validFlag = false;
                var flag1 = true;
                var flag2 = true;
                var flag3 = true;
                var flag4 = true;
                var regex = "^\d+(?:\.\d+)?(?:,\d+(?:\.\d+)?)*$";
                $("#myTable1 tbody>tr").each(function () {
                    var buysell = $(this).find(".tradeopt option:selected").text();
                    var company = $(this).find(".tradecompany option:selected").text();
                    var latestPrice = $(this).find('[name="latestprice"]').val();
                    var limitPrice = $(this).find('[name="limitprice"]').val();
                    var date = $(this).find('[name="expirydate"]').val();
                    if(buysell == "Select" || buysell == " ")
                    flag1 = false;
                    if (company == 'Select Company' || company == " ")
                    flag2 = false;
                    if(latestPrice)
                    flag3 = priceValidation(latestPrice);
                    else
                    flag3 = false;
                    if(limitPrice)
                    flag4 = priceValidation(limitPrice);
                    else
                    flag4 = false;
                    if(flag1 && flag2 && flag3 && flag4)
                    validFlag = true;
                    if(validFlag){
                    $('.showtable').show();
                    $("#errorflag").css("display","none");
                    document.getElementById("errorflag").innerHTML = " ";
                    var TradeSignals = [];
                    $("#myTable1 tbody>tr").each(function () {
                        var MyObject = {};
                        var buysell = $(this).find(".tradeopt option:selected").text();
                        var company = $(this).find(".tradecompany option:selected").text();
                        MyObject['Buy_Sell'] = buysell;
                        MyObject['CompanyName'] = company;
                        TradeSignals.push(MyObject);
                    });
                    $.ajax({
                    type: "POST",
                    url: "{% url 'hedgeAccountsDisplay' %}",
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    data: {'tradesignals': JSON.stringify(TradeSignals)},
                    success:function (response) {
                        var accounts = response.resMsg1;
                      
                        if(accounts.length == 0){
                        $("#nocustomers").css("display","block");
                        $("#myTable2").css("display","none");
                        $("#nocustomers").css("color","red");
                        document.getElementById("nocustomers").innerHTML="None of the customers holding the selected stock";
                        $('.notify').hide();
                        }else{
                        $('.notify').show();
                        $("#myTable2").show();
                        $("#nocustomers").css("display","none");
                        document.getElementById("nocustomers").innerHTML=" ";
                        $('#myTable2 tr:not(:first)').remove();
                        for (var i = 0; i < accounts.length; i++) {
                        if (accounts[i]['buy_sell'] == 'BUY'){
                        tr = $('<tr/>');
                        tr.append(`<td><input type="checkbox" name="selectcust" class="selectcust"></td>`);
                        tr.append("<td class='custname'>" + accounts[i]['customer_name'] + "</td>");
                        if(accounts[i]['buy_sell']=='SELL')
                        tr.append("<td><label  class='buy_sell_btn1' name='buysellopt'>"+ accounts[i]['buy_sell'] +"</label></td>");
                        else
                        tr.append("<td><label class='buy_sell_btn2' name='buysellopt'>"+ accounts[i]['buy_sell'] +"</label></td>");
                        tr.append("<td>"+ accounts[i]['company_name'] +"</td>");
                        tr.append("<td>" + accounts[i]['portfolio_name'] + "</td>");
                        tr.append("<td>" + accounts[i]['capital_amt'] + "</td>");
                        tr.append("<td>" + Math.floor(accounts[i]['invst_amount']) + "</td>");
                        tr.append("<td class'cashleft' name='cashleft'>" + Math.floor(accounts[i]['capital_amt']-accounts[i]['invst_amount']) + "</td>");
                        tr.append(`<td><input type="text" name="tradequant" class="tradequant" disabled><span id="quanterror"  style="display: none;" ></span></td>`);
                        tr.append(`<td class="amntreq"></td>`);
                        $('#myTable2').append(tr)
                        }else{
                        $('#owned_qty').css("display","block");
                        $('#amtchange').text('Amt Receive');
                        tr = $('<tr/>');
                        tr.append(`<td><input type="checkbox" name="selectcust" class="selectcust"></td>`);
                        tr.append("<td class='custname'>" + accounts[i]['customer_name'] + "</td>");
                        if(accounts[i]['buy_sell']=='SELL')
                        tr.append("<td><label  class='buy_sell_btn1' name='buysellopt'>"+ accounts[i]['buy_sell'] +"</label></td>");
                        else
                        tr.append("<td><label class='buy_sell_btn2' name='buysellopt'>"+ accounts[i]['buy_sell'] +"</label></td>");
                      
                        tr.append("<td>"+ accounts[i]['company_name'] +"</td>");
                        tr.append("<td>" + accounts[i]['portfolio_name'] + "</td>");
                        tr.append("<td>" + accounts[i]['capital_amt'] + "</td>");
                        tr.append("<td>" + Math.floor(accounts[i]['invst_amount']) + "</td>");
                        tr.append("<td class='cashleft' name='cashleft'>" + Math.floor(accounts[i]['capital_amt']-accounts[i]['invst_amount'])+ "</td>");
                        tr.append("<td class='own_qty' name='own_qty'>" + accounts[i]['curr_qty'] + "</td>");
                        tr.append(`<td><input type="text" name="tradequant" class="tradequant" disabled><span id="quanterror"  style="display: none;" ></span></td>`);
                        tr.append(`<td class="amntreq"></td>`);
                        $('#myTable2').append(tr)
                        }}}},
                    error:function (response){
                    console.log("Error detected while retrieving the customers details");
                    }});
                    event.preventDefault();
                    }else{
                    $("#errorflag").css("display","block");
                    $("#errorflag").css("color","red");
                    document.getElementById("errorflag").innerHTML = "Invalid trade signals, please fill all the fields";
                    }
                    });
            })
            $(document).on("change", ".selectcust", function(){
            $next1 = $(this).closest('tr').find('[name=selectcust]');
            if ($next1.prop("checked")){
            $next2 = $(this).closest('tr').find('[name=tradequant]');
            $next2.prop('disabled', !this.checked);
            var buysell = $(this).parents("tr").find('[name="buysellopt"]').text();
            if(buysell == "BUY"){
            var limitPrice = 0;
            var cashLeft = 0;
            $("#myTable1 tbody>tr").each(function () {
            limitPrice = $(this).find('[name="limitprice"]').val();
            });
            $("#myTable2 .selectcust:checkbox:checked").each(function () {
            cashLeft = parseInt($(this).parents("tr").find('[name=cashleft]').text());
            });
            var maxQuant =Math.floor(cashLeft/limitPrice)
            $next2.prop('placeholder', 'Maximum : '+maxQuant);
            }else{
                var maxQuant = $(this).parents("tr").find('[name="own_qty"]').text();
                $next2.prop('placeholder', 'Maximum : '+maxQuant);
            }
            $next2.focus();
            }else{
            $next1 = $(this).closest('tr').find('[name=tradequant]');
            $(this).parents("tr").find('.amntreq').text(" ");
            $next1.val("");
            $next1.prop('disabled', true);
            $next1.removeAttr('style');
            }
        });
      
    </script>
</html> 
{% endblock %}. 