{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>  
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/azia.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}?v=1.2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}">


    
        <style>
           
            .liveport,.clientaccount{
                color:#FFA400 !important;
            }
            .section2 .card .card-body{
                padding:5px 10px !important;
            }
            hr{
                margin:5px  !important;
            }
            .section-gap{
                padding:2% 3%;
            }
            h5 label,.section3 .card-header label.active{
                border-bottom:2px solid orange;
                font-size: 16px;
                padding-bottom:2px;
            }
            .subdiv{
                border-right:1px solid grey;
            }
            .section1{
                background-color: white;
                border-bottom: 1px solid grey;
            }
            .tablecard .subdiv{
                    padding:1% 3%;
            }
            .tbalediv{
                padding:0px !important;
            }
            .tablediv table{
                width:100%;
            }
            .cellvalue{
                color:black;
                font-weight: bold;
            }
            .sub-title{
                /* color:grey; */
                font-weight:400
            }
            .stockname{
                padding-top:3% !important;
            }
            button label{
                cursor:pointer
            }
            .section3 button{
                padding:0px 10px!important
            }
            .section3 .sub-section3 .row{
                margin-bottom:12px;
            }
            .red{
                color:red !important;
            }
            .green{
                color:green !important;
            }
       
            .section-gap{
                padding:40px !important;
                margin:3% auto !important;
            }  
            .subnav-content{
                display:none !important;
            }  
        </style>
    </head>
    <body>
        <header id="header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40 /></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a href="{% url 'FundManagement' %}"  class="fund_dashboard">Dashboard</a></li>
                            <li><a href="{% url 'fundClientAccount' %}"  class="clientaccount">Client Accounts</a></li>
                            <li><a href="{% url 'fundTradeNotifications' %}"  class="">Trade Notifications</a></li>
                    <li><a  href="{% url 'account_logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </header>

        <div class="col-lg-12 section-gap mg-t-0" >
            <div class="row mg-t-20">
                <div class="col-sm-12 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                    <div class="cards" >
                        <div class="card-header form-inline">
                            <label class="tx-18">Select User</label>
                            <select id="users" class="mg-l-10">
                                {% for user in userlist %}
                                <option value="{{user}}">{{user}}</option>
                                {% endfor %}
                            </select>
                            <button class="btn mg-l-40 tab" id="snapshot">Portfolio Snapshot</button>
                            <button class="btn mg-l-10 tab" id="transactions">Transactions</button>   
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12 mg-t-20 snapshotdiv">
                    <div class="row section2">
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                            <div class="card" >
                                <div class="card-body">
                                    <div class="">
                                    <strong class="sub-title">Equity Valuation :</strong>
                                    <strong class="float-right eqval"></strong>
                                    </div>
                                    <hr/>
                                    <div class="">
                                        <strong class="sub-title">Equity Investment :</strong>
                                        <strong class="float-right eqinvstmnt"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                            <div class="card" >
                                <div class="card-body">
                                    <div class="">
                                        <strong class="sub-title">Profit/Loss (Unrealized) :</strong>
                                        <strong class="float-right pnl"></strong>
                                    </div>
                                    <hr/>
                                    <div class="">
                                        <strong class="sub-title">Profit/Loss- Day's (Unrealized) :</strong>
                                        <strong class="float-right daypnl"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="">
                                        <strong class="sub-title">Max Gainer :</strong>
                                        <strong class="float-right gainer text-success"></strong>
                                    </div>
                                    <hr/>
                                    <div class="">
                                        <strong class="sub-title ">Max Loser :</strong>
                                        <strong class="float-right loser text-danger"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-20 section3">
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                            <div class="card" >
                                <div class="card-header">
                                    <button class="allocation btn"><label class="active">Allocation</label></button>
                                    <button class="cashflow btn"><label>Equity Cash Flow</label></button>
                                </div>
                                <div class="card-body" id="piechart">
                                </div>
                                <div class="card-body" id="combination" style="display:none">
                                </div>          
        
                            </div>
                        </div>
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                            <div class="card">
                                <div class="card-header">
                                    <h5><label>My Stock Performance</label></h5>
                                </div>
                                <div class="card-body" id="barchart">
                                        
                                </div> 
                            </div>
                        </div> 
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 sub-section3">
                            <div class="card">
                                <div class="card-header">
                                    <h5><label>Portfolio Highlights</label></h5>
                                </div>
                                <div class="card-body pd-t-0 pd-r-0">
                                    <div class="col-sm-12 row mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Realized P/L :</strong>
                                        <strong class="realized_pl col-sm-6 pd-r-0 pd-l-0"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Top Exposure :</strong>
                                        <strong class="top_exposure col-sm-6 pd-r-0 pd-l-0 text-success"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Most Profitable Security(unrealized) :</strong>
                                        <strong class="col-sm-6 most_profit text-success pd-r-0 pd-l-0"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Least Profitable Security(unrealized) :</strong>
                                        <strong class="col-sm-6 least_profit text-danger pd-r-0 pd-l-0"></strong>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-20 section4">
                    </div>
                </div>
                <div class="col-lg-12 mg-t-20 transaction" >
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center"><label>Transactions</label></h4>
                        </div>
                        <div class="card-body pd-t-0 table-responsive">
                            <table class="table">
                                <thead id="thead">
    
                                </thead>
                                <tbody id="tbody">
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script>
      getdata($('#users').val())
      function getdata(user)
      {
        $.ajax({
                url: "{% url 'fundClientAccount' %}",
                type: 'post',
                data: {'user':user },
              
                csrfmiddlewaretoken: "{{ csrf_token }}",
                cache:false,
                crossDomain:true,
                success: function(json)
                {
                    $('.eqval').html(json.symbol+parseFloat((json.equity_val).toFixed(2)).toLocaleString('en-IN'))
                    $('.eqinvstmnt').html(json.symbol+parseFloat((json.equity_invstmnt).toFixed(2)).toLocaleString('en-IN'))

                    $('.pnl').html(json.symbol+parseFloat((json.pnl).toFixed(2)).toLocaleString('en-IN'))
                    $('.daypnl').html(json.symbol+parseFloat((json.daily_pnl).toFixed(2)).toLocaleString('en-IN'))

                    $('.gainer').html(json.gainer)
                    $('.loser').html(json.loser)

                    highlights_list=json.highlights_list
                    $('.realized_pl').html(json.symbol+parseFloat((highlights_list[0]).toFixed(2)).toLocaleString('en-IN'))

                    $('.top_exposure').html(highlights_list[1][0]+" ("+ (highlights_list[1][1]).toFixed(2) +"%)")

                    $('.most_profit').html(highlights_list[2][0]+" ("+ (highlights_list[2][1]*100).toFixed(2) +"%)")
                    $('.least_profit').html(highlights_list[3][0]+" ("+ (highlights_list[3][1]*100).toFixed(2) +"%)")

                    if($('.realized_pl').text().includes("-"))
                    {
                        $('.realized_pl').addClass('red')
                    }
                    else{
                        $('.realized_pl').addClass('green')

                    }
                    var datalist=json.table_data
                     $('.section4').empty();

                    for(i=0;i<datalist.length;i++)
                    {   
                        createDynamicTableCard(datalist[i])
                    }
                    createcharts(json.allocation_list,json.profit,json.loss,json.cashflow_data)
                    create_table(json.table_data2,json.header_list)

                }
            })
      }
       $('#users').change(function(){
        user= $('#users').val()
        getdata(user)
        
      })
      $('#snapshot').css('background-color','orange');
      $('#transactions').css('background-color','#6633CC');
      $('#transactions').css('color','white');

      $('#snapshot').css('color','white');

      $('.transaction').hide();

      $('#snapshot').click(function(){
          $(this).css('background-color','orange');
          $('#transactions').css('background-color','#6633CC');
          $('#transactions').css('color','white');

          $('.snapshotdiv').show();
          $('.transaction').hide();
      })

      $('#transactions').click(function(){
          $(this).css('background-color','orange');
          $('#snapshot').css('background-color','#6633CC');
          $('#snapshot').css('color','white');

          $('.transaction').show();
          $('.snapshotdiv').hide();
      })

      $('.allocation').click(function(){
          $('#piechart').show();
          $('#combination').hide();
          $('.allocation label').addClass('active')
          $('.cashflow label').removeClass('active')


      })
      $('.cashflow').click(function(){
          $('#combination').show();
          $('#piechart').hide();
          $('.cashflow label').addClass('active')
          $('.allocation label').removeClass('active')

      })
      function createDynamicTableCard(datalist){

          var div1=$('<div/>');
              div1.addClass('col-sm-12 mg-t-20');

          var divcard=$('<div/>');
              divcard.addClass('card');

          var rowdiv=$('<div/>');
              rowdiv.addClass('row tablecard mg-r-0 mg-l-0');

          var divcol1=$('<div/>');
              divcol1.addClass('col-sm-3 subdiv stockname tx-16');

          var divcol2=$('<div/>');
              divcol2.addClass('col-sm-9 subdiv tablediv');
      
          var $table = $('<table/>');
              $table.addClass('table1')
          var mylist=['Qty','Current Market Price','Value At Market Price','Realized Profit/Loss','Long Term Qty','Average Cost Price','Value At Cost','Unrealizzed Profit/Loss']
          var count=0;
          for(var i=0; i<2; i++){
              var $tr=$('<tr/>')
              for(j=0;j<4;j++)
              {
                  if(count==1 ||count==2 ||count==3 || count==5 ||count==6 ||count==7)
                  {
                      $tr.append( '<td ><label class=" mg-b-0">' + mylist[count]+'</label><br/><label class=" cellvalue tx-16">'+parseFloat(datalist[count+1].toFixed(2)).toLocaleString('en-IN') + '</label></td>' );
                  }
                  else{
                      $tr.append( '<td ><label class=" mg-b-0">' + mylist[count]+'</label><br/><label class=" cellvalue tx-16">'+datalist[count+1] + '</label></td>' );
                  }
                  count++;
              }
              $table.append($tr)
          }
          divcol1.html(datalist[0]);
          divcol2.html($table);
          rowdiv.append(divcol1);
          rowdiv.append(divcol2);
          divcard.append(rowdiv);
          div1.append(divcard);
          $('.section4').append(div1)

      }
      $('table tr td:last-child() .cellvalue').each(function()
      {
          if($(this).text().includes('-'))
          {
              $(this).css('color','red')
          }
          else{
              $(this).css('color','green')
          }
      })

     function createcharts(allocation_list,profit,loss,cashflow_data){
        var updateLegend = function(chart) {
                  var center = chart.series[0].center;
              
                  chart.legend.group.attr({
                      translateX: center[0] + center[2]/1.6
                      });
              } 
              Highcharts.chart('piechart', {
                  chart: {
                      type: 'pie',
                      height: 200,
                      backgroundColor: 'transparent',
                  
                      events: {
                      load: function() {
                          updateLegend(this)
                      },
                      redraw: function() {
                          updateLegend(this);
                      }
                      }                                
                  },
                  credits: {
                      enabled: false
                  },
                  exporting: {
                      buttons: {
                          contextButton: {
                          enabled:false
                          },                       
                      }
                  },                 
                  title: {
                      style: {
                          color: '#031b4e',
                          fontSize:'15px',
                          fontWeight: 'bold',
                      },                   
                      text:null,
                          
                  },
                  legend: {
                      layout: 'vertical',
                      align: 'right',
                      verticalAlign: 'middle',
                      itemStyle: {
                          color: '#031B4E',
                          fontSize: '12px',
                          fontWeight: 'bold'
                      
                      },
                  },             
                  tooltip: {
                      formatter: function () {
                          return 'Sector : <b>'+this.point.name+'</b><br>'+'Investment Amount(%) : '+'<b>'+(this.point.y).toFixed(2)+'%</b><br>'+'Investment Amount : <b>₹'+(this.point.Exposure).toFixed(2)+'<br></b>';
                      }
                  },
                  plotOptions: {
                      pie: {
                          allowPointSelect: true,
                          cursor: 'pointer',
                          innerSize: "60%",
                          size:'120',
                          depth: "45%",
                          showInLegend: true,
                          dataLabels: {
                              enabled: false,           
                              formatter: function () {
                                  return '<b>'+this.point.name+'</b><br>';
                              },
                          }
                      },
                  },
                  series: [{
                      name: 'By Sector',
                      data:allocation_list
                  }],
                  })


              Highcharts.chart('barchart', {
                      chart: {
                          type: 'bar',
                          height:200
                      },
                      title: {
                          text: ''
                      },

                      xAxis: {
                              visible:false,
                          title: {
                              text: null
                          }
                      },
                      yAxis: {
                          min: 0,
                          gridLineWidth:0,
                          title: false,
                          labels: {
                              overflow: 'justify',
                              enabled:false
                          }
                      },
                      tooltip: {
                          enabled:false
                      },
                      plotOptions: {
                          bar: {
                              dataLabels: {
                                  enabled: true
                              }
                          }
                      },
                  
                      credits: {
                          enabled: false
                      },
                      series: [{
                          name: 'Stock(s) in Profit',
                          data: [profit],
                          color:'green'
                      }, {
                          name: 'Stock(s) in Loss',
                          data: [loss],
                          color:'red'
                      }, ]
                  });
                  
                  var  graph_data=cashflow_data
                  var cat=[]
                  var data=[]
                  for(i=0;i<graph_data.length;i++)
                  {
                     cat.push(graph_data[i][0])
                     data.push(graph_data[i][1])
                          var temp=graph_data[i][0]
                          var date = new Date(temp)
                          var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                          date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                          graph_data[i][0]=now_utc;
                      
                  }
               
                  
                  Highcharts.chart('combination', {
                      chart: {
                                  type: 'column',
                                  backgroundColor:"transparent",
                                  height:200
                              
                              
                              },
                              title: {
                                      text: ' ',
                                      style: {
                                          color: '#1C273C',
                                          font: '13px  Roboto',
                                          fontWeight: 'normal'
                                      },
                                  },
                                  credits: {
                                              enabled: false
                                          },
                                          exporting: {
                                              buttons: {
                                                  contextButton: {
                                                  enabled:false
                                                  },
                                                  
                                              }
                                          },
                              xAxis: {
                                  categories:cat,
                               
                                  labels:{
                                      style: {
                                          color: '#031b4e',
                                          font: '13px Roboto ',
                                          fontWeight: 'normal'
                                      },
                                  },
                                  tickLength: 6,  
                                  tickWidth: 1,
                          
                                  
                            
                              },
                              yAxis: {
                                  gridLineWidth:0,
                                  lineWidth:1,
                                  tickLength: 6,  
                                  tickWidth: 1,
                                  labels:{
                                      formatter: function(){
                                      return  (this.value).toFixed(0);
                                      },
                                      style: {
                                          color: '#031b4e',
                                          font: '13px Roboto ',
                                          fontWeight: 'normal'
                                      },
                                  },
                                  title:{
                                      text:null,
                                      style: {
                                          color: '#031b4e',
                                          font: '13px Roboto ',
                                          fontWeight: 'normal'
                                      },
                                  },
                            
                              },
                                  tooltip: {
                                      formatter: function() {
                                          return  "Date : "  +'<b>'+
                                              Highcharts.dateFormat('%d-%b-%Y',
                                                                  new Date(this.x))+'<br></b>'
                                          +this.series.name+" : "+'<b>'+ (this.point.y).toFixed(1)+ '</b>';
                                      },
                                      style: {
                                          color: '#031b4e',
                                          font: '13px Roboto ',
                                          fontWeight: 'normal'
                                      },
                                  },                                              
                            
                              legend:
                              {
                                 enabled:false
                              },
                              series:[{
                                  name:'PNL',
                                  data:data,
                                  color: 'rgba(34,139,34,1)',
                              negativeColor: '#FF0000'
                              }]
                  });

  
     }
  
     
        var flag='hi-IN';
        
        function create_table(output,header_list)
            {
                    $("#thead").empty();
                   
                    th = "";
                    for(var i =0; i< header_list.length; i++)
                    {
                        th += '<th>' + header_list[i] + '</th>';
                    }
                    tr = $("<tr>").append($(th));
                    $("#thead").append($(tr));
                
                   
                    tabledata = new Array();

                    for(i=0;i<output.length;i++)
                    { 
                        tabledata.push([output[i][0],output[i][1],output[i][2],output[i][3],
                                        (output[i][4]).toLocaleString(flag, {maximumFractionDigits: 2}),
                                        (output[i][5]).toLocaleString(flag, {maximumFractionDigits: 2}),
                                        (output[i][6]).toLocaleString(flag, {maximumFractionDigits: 2}),
                                        output[i][7]])
                                       
                    }  
                                    
                  
                    $("#tbody").empty();
                    // Retrieve the tbody element from the table to add the data 
                    var table = document.getElementById("tbody");
                    
                    //Get the count of columns.
                    var columnCount = tabledata[0].length;
                    var row = table.insertRow(0);
                    //Add the data rows.
                    for (var i = 0; i < tabledata.length; i++)
                    {
                        row = table.insertRow(-1);
                        for (var j = 0; j < columnCount; j++)
                        {
                            var cell = row.insertCell(-1);
                            cell.innerHTML = tabledata[i][j];
                        }
                    }
                    
            } 
              
  </script>
 
</html> 
{% endblock %}