{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">


<link rel="stylesheet" href="{% static 'css/base-styles.css' %}?v=1.2">
<style>
  .card {
    width: 350px !important
  }

  .baselogin {
    color: #FFA400 !important;
  }

  body {
    background-image: url('{% static "images/footer-bg.jpg"%}');

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    line-height: 1.2em !important;
    visibility: hidden;
  }

  p {
    color: #89938F !important;
  }

  .bt {
    border: 2px solid #00B8FE !important;
    padding: 4px 10px !important;
    color: #00B8FE !important
  }

  .sym::before {
    content: "•   ";
    font-size: 18px;

  }

  .main-header {
    color: #89938F;
    width: 365px;
    border-bottom: 3px solid #00B8FE;
    padding-bottom: 5px;
  }

  .section-gap {
    padding: 57px 57px 102px 57px !important
  }

  .basefooter,
  .analytics-header {
    display: none;
  }
</style>

<body>
  <section class="banner-areas section-gap" id="home">

    <div class="row row-sm pd-t-20 pd-b-80 mg-t-20">
      <div class="col-xl-8 mg-t-20">
        <div class="d-lg-flex d-xl-block">
          <div class="mg-t-20" class="bear-bull">

          </div>
          <div>
            <section>
              <header class='pd-l-30 pd-r-30'>
                <h3 class="main-header">What 72PI can do for you?</h3>
              </header>
            </section>
            <div class="row row-sm pd-t-0 pd-l-30 pd-r-30  mg-t-20">

              <div class="col-xl-6 mg-t-10">
                <div class="mg-t-20">
                  <article>
                    <h4 style="color:white">My Portfolio</h4>
                    <p class="mg-t-10 sym">Analyze multiple Portfolios </p>
                    <p class="sym">Stock selections based on investment criteria</p>
                    <p class="sym">Customized portfolio research</p>
                 
                  </article>
                </div>
              </div><!-- col -->
              <div class="col-xl-6 mg-t-10" style="border-left:1px solid #89938F">
                <article>
                  <h4 style="color:white">Portfolio Analyzer</h4>
                  <p class="mg-t-10 sym">Analyze portfolio performances over different time periods</p>
                  <p class="sym">Review portfolio across various sectors</p>
                  <p class="sym">Compare performance with market indexes</p>
              
                </article>
              </div>
            </div>
            <div class="row row-sm pd-t-0 pd-l-30 pd-r-30  mg-t-20">

              <div class="col-xl-6 mg-t-10">
                <div class="mg-t-20 ">
                  <article>
                    <h4 style="color:white">Portfolio Optimizer</h4>
                    <p class="mg-t-10 sym">Helps investors to create robust portfolio</p>
                    <p class="sym">Compare portfolio weights of different optimization models</p>

                 
                  </article>
                </div>
              </div><!-- col -->
              <div class="col-xl-6 mg-t-10" style="border-left:1px solid #89938F">
                <article>
                  <h4 style="color:white">Prediction Model/Conversational AI </h4>
                  <p class="mg-t-10 sym">Prediction of portfolio positions across various sectors</p>
                  <p class="sym">Conversational AI provides streamline interaction to investors</p>
                
                </article>
              </div>
            </div>


          </div>

        </div>
        <article>
          <h5 class="mg-t-20 pd-l-20 " style="color:white">
            &ldquo; Using Signals from equities derivative markets and stock specific factors. 72PI will help you
            analyze your portfolio better with Machine Learning algorithms &rdquo;
          </h5>
        </article>
      </div><!-- col -->
      <div class="col-xl-4 mg-t-20">



        <div class="card">
          <div class="card-headers text-center ">
            <div class="card-title tx-24 pd-t-10">{% trans "Fund Manager Login" %}</div>
            <hr class="mg-b-0 mg-t-0">
          </div>
          <div class="card-body login-card-body mg-t-10">
           {% if error %}
           <p class="text-danger">{{error}}</p>
           {% endif %}
            <form class="login mg-b-0" method="POST" action="{% url 'FundManagerLogin' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15"
                id="log-submit">{% trans "Login" %}</button><br>
            </form>
          </div>
        </div>
      </div><!-- col -->
    </div>
  </section>
</body>

<script>
  $('.login input').addClass('form-control')
  $('.login input').addClass('new-login-input')
  $("#id_remember").hide();
  $(".login label").hide();
  $('#id_login').attr('placeholder', 'Username or Email');
  $('#id_login').focus();
 
</script>

</html>




{% endblock %}