{% load static %}
<!DOCTYPE html>
<html>
    <head>  
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/azia.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}?v=1.2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <style>
            .fund_dashboard{
                color:orange !important;
            }
            .subnav-content{
                display:none !important
            }
        </style>
    </head>
    <body>
        <header id="header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40 /></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a href="{% url 'FundManagement' %}"  class="fund_dashboard">Dashboard</a></li>
                            <li><a href="{% url 'fundClientAccount' %}"  class="clientaccount">Client Accounts</a></li>
                            <li><a href="{% url 'fundTradeNotifications' %}"  class="">Trade Notifications</a></li>
                    <li><a  href="{% url 'account_logout' %}" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </header>
        <div class="col-lg-12 section-gap mg-t-80" >
        <div class="row mg-t-20">
            <div class="col-sm-6 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                <div class="card" >
                    <div class="card-header">
                        <h4 class="card-title text-center" ><label>Number of Accounts</label></h4>
                    </div>
                    <div class="" id="no_of_accounts">
                    </div>
                         

                </div>
            </div>
            <div class="col-sm-6 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                <div class="card" >
                    <div class="card-header">
                        <h4 class="card-title text-center" ><label>Total Capital</label></h4>
                    </div>
                    <div class="" id="total_capital">
                    </div>
                         

                </div>
            </div>
        </div>
        <div class="row mg-t-20">
            <div class="col-sm-6 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                <div class="card" >
                    <div class="card-header">
                        <h4 class="card-title text-center" ><label>Invested Amount</label></h4>
                    </div>
                  
                    <div class="" id="invested_amount">
                    </div>
                         

                </div>
            </div>
            <div class="col-sm-6 mg-t-20 mg-sm-t-20 mg-lg-t-0">
                <div class="card" >
                    <div class="card-header">
                        <h4 class="card-title text-center" ><label>Total Cash Remaining</label></h4>
                    </div>
                    <div class="" id="total_cash_remaining">
                    </div>
                         

                </div>
            </div>
        </div>
        </div>
  </body>
  <script src="https://code.highcharts.com/highcharts.js"></script>

<script>
          var symbol='{{symbol|safe}}'                  
    graph('no_of_accounts',{{x_data|safe}},{{number_of_accounts|safe}},'Number of Accounts',{{color_list|safe}},'')
    graph('total_capital',{{x_data|safe}},{{total_capital|safe}},'Total Capital',{{color_list|safe}},symbol)
    graph('invested_amount',{{x_data|safe}},{{invested_amt|safe}},'Invested Amount',{{color_list|safe}},symbol)
    graph('total_cash_remaining',{{x_data|safe}},{{total_cash_remaining|safe}},'Total Cash Remaining',{{color_list|safe}},symbol)

    function graph(graph_name,x_data,y_data,graph_title,color_list,symbol)
    {
        Highcharts.chart(graph_name, {
            chart: {
                        type: 'column',
                        backgroundColor: "transparent",
                        height:250,
                      
                    },

                    title: {
                        text:null,
                    
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        buttons: {
                            contextButton: {
                                enabled: false
                            },
                        }
                    },

                    xAxis: {
                        categories: x_data,
                        lineWidth: 0,

                        title: {
                            text: null
                        },
                        labels: {
                            style: {
                                color: '#031b4e',
                                font: '13px Roboto',
                                fontWeight: 'normal'
                            },
                        },
                    },
                    yAxis: {
                        gridLineWidth: 0,
                        lineWidth:0,
                        endOnTick: true,
                        title: {
                            text: null
                        },
                        labels: {
                            enabled:false,
                        
                            style: {
                                color: '#031b4e',
                                font: '13px Roboto',
                                fontWeight: 'normal'
                            },
                        },
                    },

                  
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0,
                            colors: color_list,

                            colorByPoint: true,

                            dataLabels: {
                                enabled: true,

                        
                                allowOverlap: true,
                                formatter: function () {
                                   if(symbol!='')
                                    return symbol+(this.y).toLocaleString('hi-IN')
                                  else
                                    return this.y;

                                },
                                style: {
                                    textShadow: false,
                                    color: 'black',
                                    font: '13px Roboto',
                                    fontWeight: 'bold'
                                }

                            }
                        }
                    },
                    series: [{
                        name: graph_title,
                        data: y_data

                    }, ],
                    legend: {
                        enabled: false
                    }
                    
                     });

    }   
         </script>
</html> 
