{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Valuation Multiples - 72PI</title> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="keywords" content="72piportfoliostockvaluation,portfoliostockvaluation, 72piportfoliostockpe,portfoliostockpe, 72piportfoliostockpb,portfoliostockpb, 72piportfoliostockroe,portfoliostockroe, 72piportfoliostockleverage,portfoliostockleverage"/>
    <meta name="description" content="Historical graphs Valution multiples like P/E, P/B, D/E and RoE of the portfolio stocks are arranged in a single page for the subscriber to review his portfolio stock by stock" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}"?v=1.2>
    <link rel="stylesheet" href="{% static 'css/historical_multiples.css' %}?v=1.2">
  </head>
  <body>
    <div class="row row-sm section-gap main historical_multiples_page"  style="margin: 2% 0%;">
        <div class="col-sm-12 row page-title  mg-t-60">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    X-Ray Analyzer
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'historical_multiples' %}" class="nav-sub-link">Valuation Multiples</a>
                </p>
            </div>
            <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                    
            </div>
        </div>
      
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12  main-sub-div2">
            <div class="row">
                <div class="col-sm-9">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-10 mg-r-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-inline  mg-t-5 mg-sm-t-5 mg-lg-t-0">
                                <strong class="tx-18 mg-l-0 mg-lg-l-20 mg-sm-l-0">Company</strong>
                                <select class='factors mg-l-10' id='company' style="max-width:300px;min-width: 180px;" > </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row row-sm "> -->
          
            <!-- graph section div -->
            <div class="col-lg-12 mg-t-0 pd-t-0" style="background-color: transparent;">
          
                <div class="row row-sm mg-t-10 col-container">
                   
                    <div class="col-sm-6 one">
                        <div class="card card-dashboard-finance">
                            <h4 class="card-title text-center pd-t-15 pd-b-0"><label>Price-to-Earnings (PE)</label></h4>
                           
                            <div class="card1 mg-t-2" >
                                <div id="line1"></div>
                
                            </div>
                        </div>
                      </div>
                    <div class="col-sm-6 mg-t-20 mg-sm-t-0 two">
                      <div class="card card-dashboard-finance">
                          <h4 class="card-title text-center pd-t-15 pd-b-0"><label>Price-to-Book (PB)</label></h4>
                         
                          <div class="card2 mg-t-2">
                            <div id="line2"></div>
              
                          </div>
                      </div>
                    </div><!-- col -->
                   
                    <div class="col-sm-6 mg-t-20 three">
                      <div class="card card-dashboard-finance">
                          <h4 class="card-title text-center pd-t-15 pd-b-0"><label>Debt-to-Equity (DE)</label></h4>
                         

                          <div class="card3 mg-t-2">
                            <div id="line3"></div>
              
                          </div>
                      </div>
                    </div><!-- col -->
                    <div class="col-sm-6 mg-t-20 four">
                      <div class="card card-dashboard-finance">
                          <h4 class="card-title text-center pd-t-15 pd-b-0"><label>Return-on-Equity (ROE)</label></h4>
                         

                          <div class="card4 mg-t-2">
                            <div id="line4"></div>
              
                          </div>
                      </div>
                    </div><!-- col -->
                   
                  </div><!-- row -->
              </div>
                             
        </div><!--ROW ending-->
        <!-- </div> -->
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Valuation multiples</label></h3>
              <div class="modal-body">
                  <p>
                      Historical graphs of Valuation multiples like P/E, P/B, D/E and RoE of the portfolio stocks are arranged in a single page to review his portfolio stock by stock. These graphs give a sense of the stock’s relative positioning compared to its historical values. Are we currently above the historical average indicating Over Bought state or below historical average indicating Over Sold state? A graphical way to understand the current point relative to last several years. 
                  </p>              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        </div>

    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $(document).ready(function()
        {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })  
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'historical_multiples' %}?portfoliochanged-to="+portfolioName;
            return false;
        });
        var company={{company|safe}}
     
        var company_ticker={{company_ticker|safe}}

        for(i=0;i<company.length;i++)
            {
                $('#company').append($('<option>', {
                    value: company_ticker[i],
                    text: company[i]
                }));
            }
        $('#company').on('change',function(){
               
         
                get_data($("#company option:selected").val());

            })
            get_data($("#company option:selected").val());

        function get_data(firstDropVal)
                   {
                    
                       $.ajax({
                           url: "{% url 'historical_multiples' %}",
                           type: 'post',
                           data:{'required_value':firstDropVal},
                           dataType : 'json',
                           csrfmiddlewaretoken: "{{ csrf_token }}",
                           success: function(json) {
                            var PE_line=date_format(json.PE_line)
                            var PB_line=date_format(json.PB_line)
                            var Db_EQ_line=date_format(json.Db_EQ_line)
                            var LTM_line=date_format(json.LTM_line)
                            graph(PE_line,'line1',1,'',json.PE_AVG,'Price-to-Earnings (PE)',0)
                            graph(PB_line,'line2',1,'',json.PB_AVG,'Price-to-Book (PB)',0)
                            graph(Db_EQ_line,'line3',1,'',json.DB_AVG,'Debt-to-Equity (DE)',1)
                            graph(LTM_line,'line4',100,'%',json.LTM_AVG,'Return-on-Equity (ROE)',0)
                                
                            console.log("success")
                           },
                           error: function(json){
                               console.log("error")
                           } 
                           
                       });
                       
                   }



         function date_format(normal_date)
         {
          
                for(i=0;i<normal_date['data'].length;i++)
                {
                  
                        var temp=normal_date['data'][i][0]
                        var date = new Date(temp)
                        var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        normal_date['data'][i][0]=now_utc;
                    
                }
              
              return normal_date
         }
           
                    function graph(graph_data,chart_name,mul,symbol,average,y_axis_label,deciaml_val)
                    {
              
                        Highcharts.chart(chart_name, {
                            chart: {
                                type: 'line',
                                backgroundColor:"transparent",
                                height:280
                               
                            },
                            title: {
                                    text:null,
                                },
                                credits: {
                                            enabled: false
                                        },
                                        exporting: {
                                            buttons: {
                                                contextButton: {
                                                enabled:false
                                                },
                                                
                                            }
                                        },
                            xAxis: {
                                type: 'datetime',
                                dateTimeLabelFormats: { // don't display the dummy year
                                    day:'%e-%b-%y',
                                    week:'%e-%b-%y',
                                    month: '%b-%y',
                                    year: '%Y'
                            
                                },
                                labels:{
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'normal'
                                    },
                                },
                                tickLength: 6,  
                                tickWidth: 1,
                               
                                startOnTick:true,
                            },
                            yAxis: {
                                gridLineWidth:0,
                                lineWidth:1,
                                tickLength: 6,  
                                tickWidth: 1,
                                labels:{
                                    formatter: function(){
                                    return  (this.value*mul).toFixed(deciaml_val)+symbol;
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'normal'
                                    },
                                },
                                title:{
                                    text:y_axis_label,
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'bold'
                                    },
                                },
                                plotLines: [{
                                    color: 'red',
                                    dashStyle: "Dash",
                                    width: 1,
                                    value: average,
                                    label: {
                                        text: 'Average',
                                        align: 'left',
                                        y: -5, /*moves label down*/
                                    }
                                }]
                            },
                                tooltip: {
                                    formatter: function() {
                                        return  "Date : "  +'<b>'+
                                            Highcharts.dateFormat('%d-%b-%Y',
                                                                new Date(this.x))+'<br></b>'
                                        +this.series.name+" : "+'<b>'+ (this.point.y*mul).toFixed(1)+ symbol+'</b>';
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'normal'
                                    },
                                },                                              
                            plotOptions: {
                                series: {
                                    marker: {
                                        enabled: false,
                                        symbol:"circle"
                                        }
                                }
                            },
                            legend:
                            {
                                itemStyle: {
                                        color: '#031B4E',
                                        fontSize:'15px'
                                    
                                    },
                            },
                            legend:{
                                enabled:false
                            },
                            series:[graph_data],

                        });
                    

                    }
                        
                  
                    $("body").css({visibility:'visible'});

    </script>

    {% endblock %}