{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
  <head>
      <title>72PI - Portfolio Intelligence, Stock Investment Insights</title> 
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="HandheldFriendly" content="true">
      <meta name="description" content="72PI provides financial data of NSE listed Indian stocks and tools for Equity Portfolio Analysis new stock ideas">
      <meta name="keywords" content="Stock Market, Financial Information, Market News, Stock Research, BSE, NSE, Nifty ,investment advisor,Portfolio Analyzer,Portfolio Optimization,track portfolio"/> 
      <!-- Google analytics/Google Search Console/Google Tag Manager Configuration for https://www.72pi.ai -->
      {% block googleanalytics %}
      {% include "snippets/googleanalytics.html" %}
      {%endblock googleanalytics %}
      <!-- End Google analytics/Google Search Console/Google Tag Manager Configuration -->
      <link rel="stylesheet" href="{% static 'css/home.css' %}?v=1.2">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
     
  </head>
  <body >
       <!-- start banner Area -->
       <section class="banner-area" id="home">
         
        <div class="container">
          <div class="row fullscreen d-flex align-items-center justify-content-center ">
            <div class="banner-content col-lg-6 col-md-6 ">
              <span  class="text-white gateway">The Gateway to</span>
              <h2 class="text-white text-uppercase personalized">Your Personalized Hedge Fund</h2>
                <!-- <a class="popup play-btn primary-btn header-btn text-uppercase mg-t-15  mg-r-15" href="https://www.youtube.com/watch?v=Ua3GiVGaDWM">
                   View Demo
                </a> -->
              <a href="#videoModal" class="play-btn primary-btn header-btn text-uppercase mg-t-15  mg-r-15" data-toggle="modal">View Demo</a>
              <a href="{% url 'welcomepage' %}" class="primary-btn header-btn text-uppercase mg-t-15 get_started">Get Started</a>
            </div>
            <div id="videoModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      </div>
                      <div class="modal-body">
                        <iframe id="video-div" height="315" src="https://www.youtube.com/embed/Ua3GiVGaDWM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>
            </div>
            <div class="banner-img col-lg-6 col-md-6 ">
              <div class="mg-t-0 text-right">
                <form>
                  <div class="search-main input-colum">
                    <div class="container">
                      <div class="row justify-content-end">
                          <form class="col-md-4 text-right" >
                              <div class="india-select-div">
                                <select class="form-control select2" id="india-select">
                                  <option selected disabled>{{default|safe}}&emsp;&emsp;&emsp;&emsp;</option>
                                  {% for company in companies %}
                                    <option value='{{company.fs_name}} ({{company.security_code}})'>{{company.fs_name}}&nbsp;&nbsp;{% if company.security_code %}({{company.security_code}}){%endif%}</option>
                                  {% endfor %}
                                </select>
                                <button class="india_search search_btn"><i class="fa fa-search"></i></button>
                              </div>
                          </form>
                       </div>
                    </div>
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <section class="stocklist-div">
        <div class="col-md-12 stocklist pd-t-10 pd-b-10" >
          <div class="foot-atozlinks" style="text-align:center !important;margin-bottom:0px;">
            <ul class="list14">
              <li class="title">Stock List</li>
              <li>
                <a href="" class="stock-name" target="_blank" title="A">A</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="B">B</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="C">C</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="D">D</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="E">E</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="F">F</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="G">G</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="H">H</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="I">I</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="J">J</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="K">K</a>
              </li>
              <li>
                <a href=" " class="stock-name" target="_blank" title="L">L</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="M">M</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="N">N</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="O">O</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="P">P</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="Q">Q</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="R">R</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="S">S</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="T">T</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="U">U</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="V">V</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="W">W</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="X">X</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="Y">Y</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank" title="Z">Z</a>
              </li>
              <li>
                <a href="" class="stock-name" target="_blank"
                  title="Others">Others</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Demo header-->
      

<section class="pb-5 mg-t-20 mg-b-20">
  
  
  <div class="container slider-divs">
      <div class="row">
          <div class="col-lg-12 col-xl-12 mx-auto">
              <div class="p-5 bg-white shadow rounded">
                  <!-- Bootstrap carousel-->
                  <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel" data-interval="5000">
                      <!-- Bootstrap carousel indicators [nav] -->
                      <ol class="carousel-indicators mb-0 mg-t-15">
                          <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>





                      </ol>
                      <!-- Bootstrap inner [slides]-->
                      <div class="carousel-inner px-5 pb-4">
                        <!-- Carousel slide-->
                        <div class="carousel-item active ">
                          <div class="mg-r-0 carousel-item-child">
                            <div>
                              <h3 class="text-center"><label>MarketByte - INDIA</label></h3>

                              <div class="mg-t-20 col-lg-12">
                                <p class="tx-12 date-div date-div-india pd-l-15  mg-b-0 text-black text-italic"></p>
                                <div class="row marketbyte-div mg-l-0 mg-r-0">
                                  <div class="col-lg-5 pd-l-10 pd-r-10 market-sub1">
                                    <div class="">
                                      <table class="table mg-t-15 mbytetable">
                                        <thead>
                                          <th>Country</th>
                                          <th>Index</th>
                                          <th>DTD % </th>
                                          <th>MTD % </th>
                                          <th>YTD % </th>

                                        </thead>
                                        <tbody id="marketbyte_india">

                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="mg-t-20">
                                      <h4 class="text-center"><label>Nifty 500</label></h4>
                                      <div class="row mg-l-0 mg-r-0 mg-t-10 market-sub-divs">
                                        <div class="col-lg-6 pd-l-0">
                                          <h5 class="">Top Gainers</h5>
                                          <table class="table mg-t-15 gainertable">
                                            <thead>
                                              <th>Company</th>
                                              <th>Price</th>
                                              <th>% Gain</th>
                                            </thead>
                                            <tbody id="indexgainer_india">

                                            </tbody>
                                          </table>
                                        </div>
                                        <div class="col-lg-6 pd-r-0">
                                          <h5 class="">Top Losers</h5>
                                          <table class="table mg-t-15 losertable">
                                            <thead>
                                              <th>Company</th>
                                              <th>Price</th>
                                              <th>% Loss</th>
                                            </thead>
                                            <tbody id="indexloser_india">

                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-3  pd-l-0 pd-r-0">
                                    <div class="col-lg-12  pd-l-0 pd-r-0">
                                      <!-- <h5 class="">Top Gainers & Top Losers</h5> -->
                                      <table class="table mg-t-15 indextable">
                                        <thead>
                                          <th>Sector Index</th>
                                          <th>% Change</th>
                                        </thead>
                                        <tbody id="gainer_india">

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 adv-div">
                                    <div class="col-lg-12 mg-t-20">
                                      <h5>Advance / Decline (Nifty 500)</h5>
                                      <div class="table mg-t-0">
                                        <div id="adv_dec_india">

                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-12">
                                      <h5>Last 10 Day Advance/Decline (Nify 500)</h5>
                                      <div class="" id="adv_dec_line_india"></div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                     
                        <!-- Carousel slide-->
                        <div class="carousel-item">
                          <div class="mg-r-0 niftybyte carousel-item-child">
                            <h3 class="text-center"><label>Nifty50Byte</label></h3>

                            <div id="nifty50_daily" class="mg-t-20 pd-r-30"></div>
                            <div class="float-right pd-r-45">
                            <table class="mg-t-5 mg-b-5 heatmapScale"><tr><td style="background-color:#8B444E;"><span>-3%</span></td>
                              <td style="background-color:#BF4045;"><span>-2%</span></td>
                              <td style="background-color:#F63538;"><span>-1%</span></td>
                              <td style="background-color:#414554;"><span>0%</span></td>
                              <td style="background-color:#30CC5A;"><span>+1</span></td>
                              <td style="background-color:#2F9E4F;"><span>+2%</span></td>
                              <td style="background-color:#35764E;"><span>+3%</span></td>
                            </tr></table>
                          </div>

                            <p class="tx-12 date-div  date-div-india pd-l-10  text-black text-italic "></p>

                          </div>
                        </div>
                        <!-- Carousel slide-->
                        <div class="carousel-item">
                          <div class="mg-r-20 carousel-item-child">
                            <div class="">
                              <h3 class=" text-center"><label>TastyByte</label></h3>
                              {% for byte in tastybytes %}<p class="text-center tx-14 text-italic mg-t-20">
                                {% if byte.quote %}{{byte.quote}}{% endif%}</p>{% endfor %}
                              <div class="col-lg-12 mg-t-40">
                                <div class="row">
                                  {% for byte in tastybytes %}
                                  <div class="col-lg-4">
                                    <h5>
                                      <a target="_blank" href="{{byte.get_url}}">
                                        {{byte.title}}
                                      </a>
                                    </h5>
                                    <p class="show-read-mores text-justify tx-12 mg-t-20 ">{{byte.short_description}}
                                    </p>
                                    <p class="tx-10 text-italic mg-b-0">Posted at: {{byte.posted_at}} </p>
                                    <p class="tx-10 text-italic">Source: {{byte.source}}</p>
                                  </div>
                                  {% endfor %}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="mg-r-0 correlation carousel-item-child">
                            <h3 class="text-center"><label>90 Day Correlation of Nifty Indices</label></h3>

                            <div id="correlation_india" class="table-responsive mg-t-10 "></div>
                            <p class="tx-12  date-div date-div-india pd-l-0 text-black text-italic">
                              <p>

                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="mg-r-0 bubble_div carousel-item-child">
                            <h3 class="text-center"><label>Nifty 500 - Low Debt and Growing Stocks</label></h3>
                            <div id="bubble_nifty500" class="text-center mg-t-10 mg-b-0"></div>


                            <div class="text-center">
                              <p class="tx-12  pd-l-40 text-black text-italic bubble-tag text-center pd-b-20"># Debt/Equity <=
                                  0.4 ,Sales Growth>= 5%</p>
                            </div>


                          </div>
                        </div>
                        <div class="carousel-item ">
                          <div class="mg-r-0 carousel-item-child">
                            <div>
                              <h3 class="text-center"><label>MarketByte - US</label></h3>

                              <div class="mg-t-20 col-lg-12">
                                <p class="tx-12 date-div date-div-usa pd-l-15  mg-b-0 text-black text-italic"></p>
                                <div class="row marketbyte-div mg-l-0 mg-r-0">
                                  <div class="col-lg-5 pd-l-10 pd-r-10 market-sub1">
                                    <div class="">
                                      <table class="table mg-t-15 mbytetable">
                                        <thead>
                                          <th>Country</th>
                                          <th>Index</th>
                                          <th>DTD % </th>
                                          <th>MTD % </th>
                                          <th>YTD % </th>

                                        </thead>
                                        <tbody id="marketbyte_usa">

                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="mg-t-20">
                                      <h4 class="text-center"><label>S&P 500</label></h4>
                                      <div class="row mg-l-0 mg-r-0 mg-t-10 market-sub-divs">
                                        <div class="col-lg-6 pd-l-0">
                                          <h5 class="">Top Gainers</h5>
                                          <table class="table mg-t-15 gainertable">
                                            <thead>
                                              <th>Company</th>
                                              <th>Price</th>
                                              <th>% Gain</th>
                                            </thead>
                                            <tbody id="indexgainer_usa">

                                            </tbody>
                                          </table>
                                        </div>
                                        <div class="col-lg-6 pd-r-0">
                                          <h5 class="">Top Losers</h5>
                                          <table class="table mg-t-15 losertable">
                                            <thead>
                                              <th>Company</th>
                                              <th>Price</th>
                                              <th>% Loss</th>
                                            </thead>
                                            <tbody id="indexloser_usa">

                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-3  pd-l-0 pd-r-0">
                                    <div class="col-lg-12  pd-l-0 pd-r-0">
                                      <!-- <h5 class="">Top Gainers & Top Losers</h5> -->
                                      <table class="table mg-t-15 indextable">
                                        <thead>
                                          <th>Sector Index</th>
                                          <th>% Change</th>
                                        </thead>
                                        <tbody id="gainer_usa">

                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 adv-div">
                                    <div class="col-lg-12 mg-t-20">
                                      <h5>Advance / Decline (S&P 500)</h5>
                                      <div class="table mg-t-0">
                                        <div id="adv_dec_usa">

                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-12">
                                      <h5>Last 10 Day Advance/Decline (S&P 500)</h5>
                                      <div class="" id="adv_dec_line_usa"></div>
                                    </div>

                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="mg-r-0 niftybyte carousel-item-child">
                            <h3 class="text-center"><label>Dow30Byte</label></h3>

                            <div id="dow30_daily" class="mg-t-20 pd-r-30"></div>
                            <div class="float-right pd-r-45">
                              <table class="mg-t-5 mg-b-5 heatmapScale"><tr><td style="background-color:#F63538;"><span>-3%</span></td>
                                <td style="background-color:#BF4045;"><span>-2%</span></td>
                                <td style="background-color:#8B444E;"><span>-1%</span></td>
                                <td style="background-color:#414554;"><span>0%</span></td>
                                <td style="background-color:#35764E;"><span>+1</span></td>
                                <td style="background-color:#2F9E4F;"><span>+2%</span></td>
                                <td style="background-color:#30CC5A;"><span>+3%</span></td>
                              </tr></table>
                            </div>
                            <p class="tx-12 date-div  date-div-usa pd-l-10  text-black text-italic "></p>

                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="mg-r-0 correlation carousel-item-child">
                            <h3 class="text-center"><label>90 Day Correlation of S&P Indices</label></h3>

                            <div id="correlation_usa" class="table-responsive mg-t-10 "></div>
                            <p class="tx-12  date-div date-div-usa pd-l-0 text-black text-italic">
                              <p>

                          </div>
                        </div>
                        <div class="carousel-item">
                          <div class="mg-r-0 bubble_div carousel-item-child">
                            <h3 class="text-center"><label>S&P 500 - Low Debt and Growing Stocks</label></h3>
                            <div id="bubble_sp500" class="text-center mg-t-10 mg-b-0"></div>


                            <div class="text-center">
                              <p class="tx-12  pd-l-40 text-black text-italic bubble-tag text-center pd-b-20"># Debt/Equity <=
                                  0.4 ,Sales Growth>= 5%</p>
                            </div>


                          </div>
                        </div>
                           <!-- Carousel slide-->
                           <div class="carousel-item">
                            <div class="mg-r-0 niftybyte carousel-item-child">
                              <h3 class="text-center"><label>S&P 500</label></h3>
  
                              <div id="snp500_daily" class="mg-t-20 pd-r-30"></div>
                              <div class="float-right pd-r-45">
                                <table class="mg-t-5 mg-b-5 heatmapScale"><tr><td style="background-color:#F63538;"><span>-3%</span></td>
                                  <td style="background-color:#BF4045;"><span>-2%</span></td>
                                  <td style="background-color:#8B444E;"><span>-1%</span></td>
                                  <td style="background-color:#414554;"><span>0%</span></td>
                                  <td style="background-color:#35764E;"><span>+1</span></td>
                                  <td style="background-color:#2F9E4F;"><span>+2%</span></td>
                                  <td style="background-color:#30CC5A;"><span>+3%</span></td>
                                </tr></table>
                              </div>
                              <p class="tx-12 date-div  date-div-usa pd-l-10  text-black text-italic "></p>
  
                            </div>
                          </div>
                          <!-- Carousel slide-->

                      </div>


                      <!-- Bootstrap controls [dots]-->
                      <a class="carousel-control-prev width-auto" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <i class="fa fa-chevron-circle-left text-lg"></i>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next width-auto" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <i class="fa fa-chevron-circle-right text-lg"></i>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

      <section class="products-area section-gap feature-area home-sec-3">
        <div class="row single-product mg-l-0 mg-r-0 pd-t-30 pd-b-30">
          <div class="col-lg-12 section-1">
            <div class="container">
              <h2 class="">Curated Ideas + Easy to understand + Transparent = 72PI Signals </h2>
              <p class="tx-16 mg-t-20 text-justify"> We filter noise in the information and analyze data to identify the Signals and complement your
              investment process to achieve attractive risk adjusted returns.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="products-area section-gap sub-products2 step7-div">
        <div class="row single-product ">
          <div class="col-lg-12 img pd-t-0">
            <div class="row">
              <div class="col-lg-4 img-title">
                <h2 class="text-left" >7 Steps to your Personalized Hedge Fund</h2>
              </div>
              <div class="col-lg-8" style="z-index:-999">
                <img class="img-fluid mg-t-10" height="300" width="900" src="{% static 'images/72PI_User_Journey.png' %}" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="products-area section-gap home-sec sub-products1">
        <div class="row single-products mg-l-0 mg-r-0 pd-t-0 pd-b-0">
          <div class="col-lg-12 section-1">
            <div class="container">
              <p class="tx-18 text-justify" style="color:#1A0C4B;">
                Personalised Investments based on your goals and risk profile. Transparent process of investing through your
                own DEMAT account driven by 72PI platform.<br><br>
                Please write to <a href="mailto:info@72pi.ai" target="_top" class="text-italic">info@72pi.ai</a> for additional information. </p>
            
              </div>
          </div>
        </div>
      </section>
      <!-- Start about-video Area -->
      <section class="about-video-area section-gap ">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 about-video-left">
              <h2 class="mg-b-10">How 72PI Works</h2>
              <p class="text-justify">We provide curated equity market information and analyze stock financial data to identify Signals to achieve attractive risk adjusted returns.</p>
              <p class="text-justify">In this short demo, we'll show you how quick and easy it is to see all the information you care about in one place and use it to make faster, better-informed decisions</p>
            </div>
            <div class="col-lg-6 about-video-rights relative">
              <p style="font-weight:bold">Watch the Demo video </p>
              <div class="iframe-parent ">
                <iframe  allowfullscreen
                src="https://www.youtube.com/embed/Ua3GiVGaDWM" style="border:2px solid grey" class="videoframe">
                </iframe>
              </div>
              
          </div>
        </div>	
      </section>
      <!-- End about-video Area -->
      
      <!-- Start feature Area -->
      <section class="feature-area section-gap section-5">
        <div class="container ">
          <div class="row justify-content-centers">
            <h2 class="text-white text-left col-lg-5 my-auto"><label>Our Unique Features</label></h2>
            <div class="col-lg-7 mg-t-20">
                <div class="row">
                  <div class="col-lg-12 ">
                    <div class="row single-feature">
                      <div class="col-lg-12">
                        <h5 class="text-white">100% Aligned with YOU</h5>
                        <p>
                          Unbiased and independent ideas. Transparent investment ideas and insights. 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="row single-feature">
                      <div class="col-lg-12" >
                        <h5 class="text-white">Portfolio Optimization Tools</h5>
                        <p>
                          Running efficient frontier simulations based on historical or forecasted returns to understand expected portfolio returns and risk. To compare the portfolio weights of different optimization models.
                        </p>
                      </div>
                    
                    </div>
      
                  </div>
                  <div class="col-lg-12 ">
                    <div class="row single-feature">
                      <div class="col-lg-12" >
                        <h5 class="text-white">Predictive Models Using AI /ML Techniques</h5>
                        <p>
                          The investor can compare the portfolio to recommendations of predictive models (using Artificial Intelligence / Machine Learning techniques) to build a more attractive returns portfolio. 
                        </p>
                      </div>
                    </div>
                  </div>						
                  <div class="col-lg-12 ">
                    <div class="row single-feature">
                      <div class="col-lg-12" >
                        <h5 class="text-white">Holistic 72PI Signals</h5>
                        <p>
                          Quantitative signals + Technical signals + Futures & Options market signals + Fundamental analysis = Long and Short signals for Investing and Trading 
                        </p>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-lg-12 ">
                    <div class="row single-feature">
                      <div class="col-lg-12">
                        <h5 class="text-white">Proprietary Investment Research</h5>
                        <p>
                          Stock specific investment research that focuses on both Long and Short sides of investing, with a differentiated approach. 
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>							
        </div>	
      </section>
      <!-- End feature Area -->
    </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="{% static 'js/heatmapcolor.js' %}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- Step 1 - Include the fusioncharts core library -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- Step 2 - Include the fusion theme -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

  <script>
    $(document).ready(function() { 
        var url = $("#video-div").attr('src'); 
        $("#videoModal").on('hide.bs.modal', function() { 
            $("#video-div").attr('src', ''); 
        }); 
        $("#videoModal").on('show.bs.modal', function() { 
            $("#video-div").attr('src', url); 
        }); 
        var maxLength = 400;
      $(".show-read-more").each(function(){
        var myStr = $(this).text();
        if($.trim(myStr).length > maxLength){
          var newStr = myStr.substring(0, maxLength);
          var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
          $(this).empty().html(newStr);
          $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
          $(this).append('<span class="more-text">' + removedStr + '</span>');
        }
      });
      $(".read-more").click(function(){
        $(this).siblings(".more-text").contents().unwrap();
        $(this).remove();
      });
    });
    localStorage.setItem("country-val",'{{country|safe}}')
      var localCountry = localStorage.getItem("country-val");
      if (localCountry === "India"){
        $(".dropdown dt a span").html("<img src='{% static 'images/IndiaFlag.png' %}'>").append(localCountry);
      }
      else
      {
        $(".dropdown dt a span").html("<img src='{% static 'images/USFlag.png' %}'>").append(localCountry);
      }
  
    $(document).on("click", ".stocklist .list14 li a", function () {
        var startswith = $(this).text();
        var state= $('.country-select').val();
        var country;
        if(state==='US')
        {
          country = "US";
        }
        else{
          country = "India";
        }
        var stockURL = "{% url 'getstocklist'  %}?startswith="+startswith+"&country="+country;
         window.open(stockURL, '_blank');
         return false; 
     });
     
     $('.select2').select2();
     $(document).on("click", ".india_search", function () {
         var company_name=$(".india-select-div .select2 option:selected").val();
         console.log(company_name)
        
         if(!company_name.includes('Find Stock details')){
         var stockURL = "{% url 'StockInfoFromStockList'  %}?stock-name="+company_name;
         window.open(stockURL, '_blank');
         }
         return false; 
     });
  
      $(document).on("change", ".india-select-div .select2", function () {
         var company_name=$(".india-select-div .select2 option:selected").val();
         var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+company_name;
         window.open(stockURL, '_blank');
         return false; 
     });
  
     var gainer_date_india= {{gainer_date_india |safe}}
     function reformatDate(dateStr)
      {     
        var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        dArr = dateStr.split("-"); 
        return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
      }
      $('.date-div-india').html("As of "+reformatDate(gainer_date_india[0]))
      var gainer_date_usa= {{gainer_date_usa |safe}}
    
      $('.date-div-usa').html("As of "+reformatDate(gainer_date_usa[0]))
   
    create_table({{ market_byte_df_india| safe}},'marketbyte_india')
     create_table({{ index_gainers_india| safe}},'indexgainer_india')
     create_table({{ index_losers_india| safe}},'indexloser_india')
     create_table({{ gainers_india| safe}},'gainer_india')
     create_table({{ market_byte_df_usa| safe}},'marketbyte_usa')
     create_table({{ index_gainers_usa| safe}},'indexgainer_usa')
     create_table({{ index_losers_usa| safe}},'indexloser_usa')
     create_table({{ gainers_usa| safe}},'gainer_usa')


     function create_table(output,tbody_id) {
        if(output.length>0)
        {
            var tabledata = new Array();
            for (i = 0; i < output.length; i++) {
                tabledata.push(output[i])
            }
            $("#"+tbody_id).empty();
            var table = document.getElementById(tbody_id);
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            }
        }
        else{
            $('#table-data tbody').html("No Data Found")
        }
  
    }
    $('table #brk_td td:nth-child(2)').each(function(){
      $(this).text($(this).text()+"%")
    })
   
    marketbyte_tables('#marketbyte_india','#indexgainer_india','#indexloser_india','#gainer_india','₹','hi-IN');
    marketbyte_tables('#marketbyte_usa','#indexgainer_usa','#indexloser_usa','#gainer_usa','$','en-US');
    function marketbyte_tables(marketbyte,nsegainer,nseloser,gainer,currency_symbol,flag_val)
    {
        $('table '+marketbyte+' td:not(:first-child, :nth-child(2))').each(function()
        {
            if($(this).text().includes('-'))
              {
                $(this).addClass("negative")
              $(this).text(($(this).text()*100).toFixed(2)+"%");
              }
              else{
                $(this).addClass("positive")
                $(this).text('+'+($(this).text()*100).toFixed(2)+"%");
      
              }
            
        })
 
        $('table '+nsegainer+' td:nth-child(3)').each(function()
        {
        
            if($(this).text().includes('-'))
            {
              $(this).addClass("negative")
              $(this).text(parseFloat($(this).text()).toFixed(2)+"%")
      
            }
            else{
              $(this).addClass("positive")
              $(this).text('+'+parseFloat($(this).text()).toFixed(2)+'%')
            }
          
        })
        $('table '+nseloser+' td:nth-child(3)').each(function()
        {
          if($(this).text().includes('-'))
            {
              $(this).addClass("negative")
              $(this).text(parseFloat($(this).text()).toFixed(2)+"%")
      
            }
            else{
              $(this).addClass("positive")
              $(this).text('+'+parseFloat($(this).text()).toFixed(2)+'%')
            }
        })
        $('table '+nsegainer+' td:nth-child(2)').each(function()
        {
            
            $(this).text(currency_symbol+' '+parseFloat($(this).text()).toLocaleString(flag_val , { maximumFractionDigits: 0}))
        })
        $('table '+nseloser+' td:nth-child(2)').each(function()
        {
        
            $(this).text(currency_symbol+' '+parseFloat($(this).text()).toLocaleString(flag_val , { maximumFractionDigits: 0}))
        })
        $('table '+gainer+' td:nth-child(2)').each(function()
        {
          if($(this).text().includes('-'))
            {
              $(this).addClass("negative")
              $(this).text(parseFloat($(this).text()).toFixed(2)+"%")
      
            }
            else{
              $(this).addClass("positive")
              $(this).text('+'+parseFloat($(this).text()).toFixed(2)+'%')
            }
        })
  
    }
    nifty500_sp500("#bubble_nifty500",{{nifty500_bubble|safe}})
    nifty500_sp500("#bubble_sp500",{{sp500_bubble|safe}})

  function nifty500_sp500(id,data)
  {
        if(id=='#bubble_sp500'){
          currency='(M)';flag_val='en-US';
        }else{
          currency='(in Cr)';flag_val='hi-IN';
        }
      dataset = {
                "children":data
                };
             
                         
          if($(window).width()>480)
              var diameter = 480;
          else
          var diameter = $(window).width()-100;
    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var bubble = d3.pack(dataset)
            .size([diameter+50, diameter-50])
            .padding(1.5);
    var svg = d3.select(id)
            .append("svg")
           
            .attr("width", diameter+50)
            .attr("height", diameter-50)
            .attr("class", "bubble");

    var nodes = d3.hierarchy(dataset)
            .sum(function(d) { return d.value; });

  
              //Create a tooltip div that is hidden by default:
       
       
          var node = svg.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function(d){
                return  !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("transform", function(d) {
                return "translate(" + d.x + "," + d.y + ")";
            });
            node.append("title")
            .text(function(d) {
                return "Company : "+d.data.fs_name+"\nSymbol : "+d.data.security_code+"\nMarket Cap "+currency+' : '+parseFloat(d.data.market_cap).toLocaleString(flag_val, { maximumFractionDigits: 0})+
                "\nSales "+currency+' : '+parseFloat(d.data.value).toLocaleString(flag_val, { maximumFractionDigits: 0})+"\nBeta : "+parseFloat(d.data.beta_1y).toFixed(1)+"\nPE : "+parseFloat(d.data.pe).toFixed(1)+
                "\nDebt/Equity : "+parseFloat(d.data.debt_equity).toFixed(1)+"\nSales Growth : "+parseFloat(d.data.sales_growth).toFixed(1)+'%';
            });
                          
              
                              
                                          
          
        node.append("circle")
                .attr("r", function(d) {
                    return d.r;
                })
                .style('fill',() => {
            let color = '#'+Math.floor(Math.random() * Math.pow(2,32) ^ 0xffffff).toString(16).substr(-6);

            return color;
        });
       
      
       
        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function(d) {
                return d.data.security_code.substring(0, d.r / 3);
            })
            .attr("font-family", "sans-serif")
            .attr("font-size", function(d){
                return d.r/5;
            })
            .attr("fill", "white");
        



        d3.select(self.frameElement)
                .style("height", diameter + "px");


                

    
 }







  
      adv_dec('#adv_dec_india',{{adv_dec_india |safe}});
      adv_dec('#adv_dec_usa',{{adv_dec_usa |safe}});

      function adv_dec(id,adv_dec){
        
        $(id).highcharts({
              chart: {
                  type: 'bar',
                  backgroundColor:'transparent',
                  height:70,
              },
              title: {
                  text: null
              },
                 yAxis: {
              min: 0,
              gridLineWidth: 0,
              title: {
                  text: null
              },
              labels:{
              enabled:false
              }
          },
              plotOptions: {
                  bar: {
                  pointWidth:15,
                      stacking: 'normal',
                      animation: false,
                      groupPadding: 0,
                      dataLabels: {
                          inside: false,
                          enabled: false,
                          color: '#000',
                          formatter: function () {
                              if (this.series._i === 0) {
                                  return this.point.z;
                              } else {
                                  return this.point.z;
                              }
                          }
                      }
                  }
              },
               credits: {
              enabled: false
            },
          exporting: {
            buttons: {
              contextButton: {
                enabled: false
              },
            }
          },
           tooltip:{
            enabled:false
          },
          legend:{
          enabled:false
          },
              series: [{
                  data: [[adv_dec[1][1],adv_dec[1][1]]],
                  keys: ['y','z'],
                  dataLabels: {
                      align: 'left',
                      enabled: true
                  },
                  color:'red'
              },{
                  id: 'two',
                  data: [adv_dec[0][1]],
                      color:'green'
              },{
                  enableMouseTracking: false,
                  data: [[1,adv_dec[0][1]]],
                  keys: ['y','z'],
                  linkedTo: 'two',
              
                            
              }],
              xAxis: {
                 categories:[adv_dec[0][1]],
                lineWidth: 0,
                labels: {
                                  style: {
                                      color: '#031b4e',
                                      font: '13px  ',
                                      fontWeight: 'bold'
                                  },
                              },
              }
          });

      }
   
      
      
                
                function multiLevelHeatmap(data,mcap,chartID,fustionChartTitle){
                FusionCharts.ready(function() {
                var visitChart = new FusionCharts({
                  type: 'treemap',
                  renderAt: chartID,
                  width: '100%',
                  height: '430',
                  dataFormat: 'json',
                  dataSource: {
                    "chart": {
                      "chartTopMargin": "0",
                    "animation": "0",
                      "hideTitle": "0",
                      "plotToolText": "<div><b>$label</b><br/></div>",
                      "horizontalPadding": "0",
                      "verticalPadding": "0",
                      "plotborderthickness": ".5",
                      "plotbordercolor": "ffffff",
                      "chartBottomMargin": "0",
                      "labelGlow": "0",
                      "labelDisplay": "auto",
                      "showLegend": "1",
                      "algorithm": "squarified",
                      "caption": null,
                      "theme": "fusion",
                      "subcaption": null,
                      "legendCaption": null,
                      "showChildLabels": "1",
                      "labelFont": "Lato,sans-serif",
                      "labelFontSize": "14",
                      "labelFontColor": "FFFFFF",
                      // "labelFontBold": "0",
                      // "labelFontItalic": "0"
                    },
                    "data":[{
                      "label":fustionChartTitle,
                      "fillcolor": "000000",
                      "value":mcap,
                      "data":data
                    }],
                
                  }
                }).render();

              });
                }
                multiLevelHeatmap({{gics_list_snp500|safe}},{{mcap_snp500|safe}},'snp500_daily','S&P 500')
                multiLevelHeatmap({{gics_list_dow30|safe}},{{mcap_dow30|safe}},'dow30_daily',"DOW 30")
                multiLevelHeatmap({{gics_list_nifty50|safe}},{{mcap_nifty50|safe}},'nifty50_daily',"Nifty50")

                adv_dec_barchart('#adv_dec_line_india',{{prev_10_categories_india|safe}},{{prev_10_adv_india|safe}},{{prev_10_dec_india|safe}});
                adv_dec_barchart('#adv_dec_line_usa',{{prev_10_categories_usa|safe}},{{prev_10_adv_usa|safe}},{{prev_10_dec_usa|safe}});

              function adv_dec_barchart(id,cate,prev_10_adv,prev_10_dec)
               {
                function reformatDate_chart(dateStr)
                  {     
                    var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                    dArr = dateStr.split("-"); 
                    return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]; 
                  }
                 for(i=0;i<10;i++)
                  {
                    cate[i]=reformatDate_chart( cate[i])
                  }
                    var chart = $(id).highcharts({
                        chart: {
                            type: 'column',
                            height:270
                        },
                        title: {
                            text: null
                        },
                        xAxis: {
                            categories: cate
                        },
                        yAxis: {   
                          gridLineWidth:0,
                      lineWidth:1,
                      tickLength: 6,  
                      tickWidth: 1,
                      title: {
                  text: null
              },
                    alignTicks: false,
                   
                    labels: {
                        formatter: function() {
                            return Math.abs(this.value);
                        },
                        endOnTick: true
                    }
                },
                tooltip: {
                    formatter: function() {
                        return this.x + '<br/>' + this.series.name + ': ' + Math.abs(this.y);
                    }
                },
                        credits: {
                            enabled: false
                        },
                        plotOptions: {
                            series: {
                                stacking: 'normal'
                            }
                        },
                        series: [{
                            name: 'Advances',
                            data:prev_10_adv,
                            color: 'green'
  
                        }, {
                            name: 'Declines',
                            data: prev_10_dec,
                            color: 'red'
  
                        }]
                    });
  
                }
      
               
  
  
   
  
                  
                  correlation('#correlation_india',{{correlation_india|safe}})
                  correlation('#correlation_usa',{{correlation_usa|safe}})

      function correlation(tableid,data)
      {
          let table = '<table>';
            var pos_max=-9999;
            var pos_min=9999;
            var neg_max=-9999;
            var neg_min=9999;
       
            for (let i = 0; i <data.length; ++i) {
            table += '<tr>';
            for(let k = 0; k <data.length; ++k) {
              if(i==0)
              table += '<td>'+ (data[i][k]) + '</td>';
              else if(k==0)
              table += '<td  class="sticky-col first-col">'+ (data[0][i]) + '</td>';
              else if(i==k)
              table += '<td style="background-color:#ccc"></td>';
              else if(data[i][k] >=0 && i>k){
                table += '<td class="positive">'+ data[i][k].toFixed(2) + '</td>';
                if(data[i][k].toFixed(2)>pos_max)
                  pos_max=data[i][k].toFixed(2)
                  if(data[i][k].toFixed(2)<pos_min)
                  pos_min=data[i][k].toFixed(2)
              }
              else if(data[i][k] <0 && i>k){
              table += '<td class="negative">'+ data[i][k].toFixed(2) + '</td>';
              if(data[i][k].toFixed(2)>neg_max)
              neg_max=data[i][k].toFixed(2)
              if(data[i][k].toFixed(2)<neg_min)
              neg_min=data[i][k].toFixed(2)
              }
  
              else if(i==3 && k==9 )
              {
              table += '<td style="padding:0 !important;"><div class="high">High</div></td>';
              }
              
              else if(i==3 && k==10 )
              {
              table += '<td style="padding:0 !important;"><div  class="high_val"></div></td>';
              }
              else if(i==4 && k==9 )
              {
              table += '<td style="padding:0 !important;"><div class="low">Low</div></td>';
              }
              
              else if(i==4 && k==10 )
              {
              table += '<td style="padding:0 !important;"><div class="low_val"></div></td>';
              }
              else
              table += '<td></td>';
            }
            table += '</tr>';
            
            }
          
         
  
            $(tableid).html(table)
         
            if(pos_max==-9999)
            {
              $('.high_val').text(neg_max);
              $('.high_val').css('background-color','#F2C500')
  
            }
            else{
             $('.high_val').text(pos_max);
             $('.high_val').css('background-color','#008B00')
  
  
            }
            if(neg_min==9999)
            {
              $('.low_val').text(pos_min);
              $('.low_val').css('background-color','#E5EE00')
  
  
            }
            else{
             $('.low_val').text(neg_min);
             $('.low_val').css('background-color','#FF0000')
             
  
  
            }
          
  
  
            $(tableid+" table td.positive").hottie({
                  colorArray : [ 
                      
                      "#E5EE00",
                      "#008B00"  // lowest value
                    
                  ]
              });
              $(tableid+" table td.negative").hottie({
                  colorArray : [ 
                      "#FF0000", // highest value
                      "#F2C500",
                      
                    
                  ]
              });
      }
      
      $('.country-select').change(function(){
        var state = $(this).val();
        if(state==='India')
        {
          var country = "India";
          $('.india-select-div').show();
          $('.us-select-div').hide();
        }
        else{
          var country = "US";
          $('.india-select-div').hide();
          $('.us-select-div').show();
        }
      })
      carouselNormalization()
 function carouselNormalization() {
var items = $('#carouselExampleIndicators .carousel-item'), //grab all slides
    heights = [], //create empty array to store height values
    tallest; //create variable to make note of the tallest slide

if (items.length) {
    function normalizeHeights() {
        items.each(function() { //add heights to array
            heights.push($(this).height()); 
        });
        tallest = Math.max.apply(null, heights); //cache largest value
        items.each(function() {
          if($(window).width()>1100){
            $(this).css('min-height',tallest + 'px');
          }
          else{
            $('#carouselExampleIndicators .carousel-item style').remove();
          }
        });
    };
    normalizeHeights();

    $(window).on('resize orientationchange', function () {
        tallest = 0, heights.length = 0; //reset vars
        items.each(function() {
            $(this).css('min-height','0'); //reset min-height
        }); 
        normalizeHeights(); //run it again 
    });
}
}
    $("body").css({visibility:'visible'});
      
   </script>
</html>

{% endblock %}
