{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>  
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/ImportPortfolio.css' %}?v=1.2">
        <title>Import Portfolio - 72PI</title>
    </head>

    <body>
        <div class='saveload'></div>
         <div class="col-lg-12 section-gap mg-t-50 ImportPortfolioPage">
            <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
                    <p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Portfolio Analytics <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Portfolio Creator
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'import_portfolio' %}" class="nav-sub-link">Import Portfolio</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
				</div>
			</div>
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div> 
            <div class="col-lg-4 card" style="margin:0% auto;padding:1% 2%" >
              <div class="card-headers pd-b-0" >
                  <h4 class="card-title text-center">Import your portfolio</h4>
              </div>
              <b><h5 class="mg-l-0 mg-t-20">You can choose from the below options</h5></b>
              <div class="mg-l-0 mg-t-20">
                  <div class="form-inlines ">
                      <label class="containers">Money Control
                          <input type="radio" name="radiofield" value="MoneyControl">
                          <span class="checkmark"></span>
                        </label>
                        <label class="containers">NSE
                          <input type="radio" name="radiofield" value="NSE">
                          <span class="checkmark"></span>
                        </label>
                  </div>
                
              </div>
              
              <form class="md-form mg-t-20 mg-b-10">
                  <div class="file-field">
                      <a class="btn-floating purple-gradient float-left">
                      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                      <input type="file" id="fileinput" onchange="document.getElementById('file_name').value = this.value.split('\\').pop().split('/').pop()" accept=".xlsx, .xls, .csv">
                      </a>
                      <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload your file" id="file_name">
                      </div>
                  </div>
              </form>
              <div class="col-lg-12 mg-t-0 pd-l-0 div-button">
               
                  <a href="{% url 'indexpage' %}">
                      <button class="btn btn-sm btn-outline-danger">Cancel</button>
                  </a>
                  <button class="btn btn-sm btn-primary float-right" id="import">Submit</button>
              </div>
              <div class="error text-danger mg-t-10">

              </div>
          </div>
           <div class="col-sm-12 mg-t-50 table-view" style="display: none;">
            <div class="card" style="padding:2% 5%">
              <div class="row col-sm-12 mg-t-20">
                <div class="col-sm-3 form-inline">
                    <label for="markets" style="color:#0064A3" class="tx-16"><strong>Country:</strong></label>
                    <select id="markets" class="mg-l-10 form-controls" style="width:50%;height:27px">
                        <option value="IND">India</option>
                        <option value="USA">USA</option>
                    </select>
                </div>   
                <div class="col-sm-6 form-inline">
                    <strong class="tx-16 mg-r-5" style="color:#0064A3">Portfolio Name <b class="text-danger">*</b></strong>
                    <input class="form-controls" type="text" id="portfolio_name" placeholder="Enter Portfolio Name"  ></input>
                    <span id="err2" class="text-danger mg-l-10 mg-b-10 tx-18"></span>
                </div>
                <div class="col-sm-3  text-right pd-r-0">
                  <button class="btn btn-info" id="Portfolio_Save">Create Portfolio</button>
                </div>
            </div>
            <div class="mg-t-20">
                <table id="myTable" class="table table-hover unselectable " style="width:100%">
                    <thead>
                        <tr>
                           
                            <th >Company</th>
                            <th class="market_cap_currency">Market Cap (Cr)</th>
                            <th >Sector</th>
                            <th >Market Cap Category</th>
                            <th class="lt_currency">Avg Buy Price (₹)</th>
                            <th style="width: 5%;" data-orderable=false>Quantity</th>
                           
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <div id="err0" class="text-danger mg-l-10 mg-b-10"></div>
              
            </div>
            </div>
          </div>
         </div>

         <div class="section-gap emptydiv">
            <div class="section-gap">
            
            </div>
         </div>
         <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Import portfolio</label></h3>
              <div class="modal-body">
         <p>
            This is one of the portfolio construction tools provided by 72pi. In this tool, users can import using our default excel formats. 
         </p>     </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        <div id="portfolioNameModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Name your portfolio</h4>
                           <p class="responsemsg"></p>
                        </div>
                        <div class="modal-body text-center" style="color:black">
                            <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                            <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                        </div>
                        <div class="modal-footer text-center">
                         <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                           <input type="button" class="btn btn-default  saveport" style="background-color:#5627D8;color:white"  value="Create">
                        </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script>
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
      
        $('.saveload').fadeOut();
     
        
                var filedata;
                var extension;
                $('#file_name').attr('readonly', 'true');

                function init(){
                    document.getElementById('fileinput').addEventListener('change', importFile, false);
                }
                 init();
                
                function importFile(evt) {
                var f = evt.target.files[0];

                if (f) {
                    var r = new FileReader();
                    r.onload = e => {
                    var contents = processExcel(e.target.result);
                    filedata=contents
                    }
                    r.readAsBinaryString(f);
                } else {
                    console.log("Failed to load file");
                }
                }            
                function processExcel(data) {
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });

                var firstSheet = workbook.SheetNames[0];
                var data = to_json(workbook);
                return data
                };

                function to_json(workbook) {
                var result = {};
                workbook.SheetNames.forEach(function(sheetName) {
                    var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], {
                    header: 1
                    });
                    if (roa.length) result[sheetName] = roa;
                });
                return JSON.stringify(result, 2, 2);
                };



                $('#import').click(function(){
                        var radiovalue = $("input[name='radiofield']:checked").val();
                        if(radiovalue!== undefined && filedata!== undefined)
                        {
                            var fileName=($('#file_name').val())
                            var ext = fileName.substr(fileName.lastIndexOf('.') + 1);
                            if(ext==="csv" || ext==="xlsx" ||ext==="xls")
                            {
                                
                                $.ajax({
                                    type: "POST",
                                    url: "{% url 'import_portfolio'%}",
                                    dataType : 'json',
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    data: {'radiovalue': (radiovalue),
                                            'inputfiledata': (filedata)},
                                    success:function (json) {
                                        $('.table-view').show();
                                        $('.emptydiv').hide();

                                        $('.error').hide();
                                        if((json.table_data).length>0)
                                            create_table(json.table_data)
                                        else  
                                        {
                                            $('.table-view').hide();
                                            $('.error').show();
                                            text="<h6>Something went wrong!</h6>"
                                            $('.error').html(text)  
                                        }  
                                                                     
                                    },
                                    error:function (json){
                                        $('.table-view').hide();
                                            $('.error').show();
                                        text="<h6>Something went wrong!</h6>"
                                        $('.error').html(text) 
                                    }
                                });
                                event.preventDefault();
                            }
                            else{
                                text="<h6>Please check your input file!</h6>"
                                $('.error').html(text)
                            }
                            
                        }
                        else{
                            text="<h6>Please check your input!</h6>"
                            $('.error').html(text)
                        }
                        

                });
                
                function create_table(output)
                    {
                        var tabledata = new Array();
                        for(i=0;i<output.length;i++)
                        {
                          
                            tabledata.push(output[i])
                        }  
                    
                        $("#tbody").empty();
                        var table = document.getElementById("tbody");
                        var columnCount = tabledata[0].length;
                        var row = table.insertRow(0);
                        for(var i = 0; i < tabledata.length; i++)
                        {
                            row = table.insertRow(-1);
                            for(var j = 0; j < columnCount; j++)
                            {
                                var cell = row.insertCell(-1);
                                cell.innerHTML = tabledata[i][j];
                            }
                        }
                    }
                    $(document).on("click", "#Portfolio_Save", function () {
                        $('#portfolioNameModal').modal('show');
                    
                    })
                    $('.saveport').click(function (){
                          $('.saveload').fadeIn();

                        var stockDataList = []
                        var portfolioName = document.getElementById("portfolio_name").value;
                        var e = document.getElementById("markets");
                        var country_name = e.options[e.selectedIndex].value;
                        if(portfolioName == "")
                            alert("Please choose name to your portfolio");
                        else{
                            
                            stockDataList = $('table tr:has(td)').map(function(i, v) {
                                var $td =  $('td', this);
                                    return {
                                        portfolioName:portfolioName,
                                        companyName: $td.eq(0).text(),
                                        sectorName: $td.eq(2).text(),
                                        lt_price: $td.eq(4).text(),
                                        stockQuantity: $td.eq(5).text()               
                                        }
                            }).get();
                            if(stockDataList.length === 0)
                                alert("Empty portfolio can't be submitted")
                            else
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{% url 'saveNewPortfolio'%}",
                                    dataType : 'json',
                                    csrfmiddlewaretoken: "{{ csrf_token }}",
                                    data: {
                                        'portfolio_list': JSON.stringify(stockDataList),
                                        'portfolio_name' : portfolioName,
                                        'country' :country_name
                                },
                                success:function (response) {
                          $('.saveload').fadeOut(100);

                                    localStorage.setItem("{{username}}", response.portfolio);
                                    if(response.res_Status)
                                    window.location = "{% url 'indexpage'%}";
                                    },
                                error:function (response){}
                                });
                            }
                        event.preventDefault();
                        }
                });
               
                $("body").css({visibility:'visible'});

    </script>
</html>
{% endblock %}