{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>  
        <title>Investment Amount - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" content="72piportfolioallocation, portfolioallocation, 72piportfolioallocationbystock, portfolioallocationbystock, 72piportfolioallocationbysector, portfolioallocationbysector, 
        72piportfolioallocationbymarketcap, portfolioallocationbymarketcap, 72piportfolioallocationbymarketcapitalisation, portfolioallocationbymarketcapitalisation, 72pistockallocation, stockallocation, 72pisectorallocation,
        sectorallocation, 72pimarketcapallocation, marketcapallocation, 72pimarketcapitalisationallocation, marketcapitalisationallocation "/>
        <meta name="description" content="It helps the subscriber in understanding the portfolio allocation by stock, sector and market capitalisation" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/Investment_amount_sector_mktcap.css' %}?v=1.2">
  </head>
  <body>
    <div class="section-gap main investment_mkcap">
        
        <div class="row page-title  mg-t-20">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    X-Ray Analyzer
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'investment_amount_sector_mktcap' %}" class="nav-sub-link">By Investment Amount</a>
                </p>
            </div>
            <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                    
            </div>
        </div>
                <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12   main-sub-div2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-sm ">
        <div class="col-xl-8 mg-t-0 col9_graph">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">By Stock</h5>
                    </div>
                        <div class="card-body pd-t-5">
                            <div class="stocks_bar scroll-div">
                                <div id="stocks_bar" class=""></div>
        
                            </div>
                        </div>
                </div>
            </div><!-- col -->
            <div class="col-xl-4 col-md-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 sector_mkcap col3_notes">
                  
                        <div class="card">
                            <div class="card-body pd-b-5">
                                <h5 class="card-title mg-b-10">By Investment Amount</h5>
                                <div class="row row-sm pd-l-20 mg-t-20">
                                    <div class="col-lg-6">
                                        <h6 class="card-title">Top Sector</h6>
                                        <h3 class="f-w-700 text-c-blue" id='top_sector'></h3>
                                        <p class="m-b-0" id="top_sector_name"></p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h6 class="card-title mg-b-10">Market Cap Category</h6>
                                        <h3 class="f-w-700 text-c-blue" id='top_mkt'></h3>
                                        <p class="m-b-0" id="top_mkt_name"></p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="card mg-t-20">
                            <div class="card-header">
                                <h5 class="card-title mg-t-0 mg-b-0">Top 3 Stocks by Investment Amount</h5>
                            </div>
                            <div class="card-body pd-t-0">
                                <div id="top3_sector_content">
                                </div>
                            </div>
                          </div>
                   
            </div>
        </div>
        <div class="row row-sm ">
            <div class="col-md-6 col-xl-6 mg-t-20">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">By Sector</h5>
                    </div>
                        <div class="card-body pd-t-5">
                            <div id="Exposure"></div>
                        </div>
                </div>
            </div><!-- col -->
            <div class="col-md-6 mg-t-20 mg-b-20 mg-sm-b-0">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">By Market Cap</h5>
                    </div>
                        <div class="card-body pd-t-5">
                            <div id="Exposure1"></div>
                        </div>
                </div>
            </div><!-- col -->
        </div>
    </div>
    <div id="description" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <h3 class="modal-title mg-t-10 text-center"><label>By Investment amount</label></h3>
          <div class="modal-body">
              <p>
                It helps in understanding the portfolio investment amount allocation by stock, sector and market capitalization categories. If there is a concentration risk or to adjust the weightages across stock/sector/market capitalization category, users can rejig their portfolio to desired weightage if required.       </p>    </div>
          <div class="modal-footer">
          <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
          </div>
        </div>
        </div>
    </div>
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script> 
      $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $(document).ready(function()
        {
            var currentPortfolio = '{{current_portfolio}}';
         
            $('#globalPortfolio').val(currentPortfolio);
        })  
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;  
          	
            window.location.href = "{% url 'investment_amount_sector_mktcap' %}?portfoliochanged-to="+portfolioName;
            return false;
        });
   
     
      	
        if('{{symbol|safe}}'=='$'){
        flag='en-US';
        symbol='$'
        }
        else{       
             flag='hi-IN';
             symbol='₹'
            }
        
          
                              
        sector_exposure={{output|safe}}
        mkt_cap_exposure={{output2|safe}}
        if(sector_exposure.length>0)
        {
            sector_exposure=sector_exposure.sort((a, b) => parseFloat(b.y) - parseFloat(a.y))
        mkt_cap_exposure=mkt_cap_exposure.sort((a, b) => parseFloat(b.y) - parseFloat(a.y))

        top_sector={{top|safe}}
        $('#top_sector').html(top_sector[0][1].toFixed(1)+"%")
        $('#top_sector_name').html(top_sector[0][0])
        $('#top_mkt').html((mkt_cap_exposure[0].y).toFixed(1)+"%")
        $('#top_mkt_name').html(mkt_cap_exposure[0].new_name)
        top3_sectors={{top3|safe}}
        
        text2={{total_3|safe}}+"%"

        text3=''
        for(i=0;i<top3_sectors.length;i++)
        {
                single_text="<hr class='mg-b-10'><p class='mg-t-0'>"+ top3_sectors[i][0]+" <b>: "+symbol+top3_sectors[i][1].toLocaleString(flag, { maximumFractionDigits: 0})+"</b></p>"
                text3+=single_text
        }

        $('#top3_sector_content').html(text3)  

        var number_bar={{data_stock_wise|safe}}

        var pointPadding = -1; 
        
        var pointWidth;
        if(number_bar.length>6)
            pointWidth=30
        else
            pointWidth=60
        var heightOffset = 55; 
        Highcharts.chart('stocks_bar', {
                        chart: {
                            type: 'bar',
                            backgroundColor: 'transparent'
                        },
                        title: {
                        text: null
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                enabled:false
                                },
                            }
                        },
                        xAxis: {
                            categories: {{stocks|safe}},
                            title: {
                                text: null
                            },
                            lineWidth:0,
                            labels: {
                                enabled: true,
                                style: {
                                color: '#031b4e',
                                fontSize: '13px',
                                fontWeight: 'bold'
                            },
                        }
                        },
                        yAxis: {
                            title: {
                            text: ''
                            },
                            gridLineWidth:0,
                            tickWidth: 0,
                            lineWidth:0,
                            endOnTick: true,
                            labels:{
                                enabled:false,
                                formatter: function(){
                                    
                                            return  (this.value).toFixed(0)+ '%';
                                },
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                        },
                        },
                        legend:{
                            enabled:false
                        },
                    
                        plotOptions: {
                            bar: {
                             
                           
                                dataLabels: {
                                    enabled: true,
                                    formatter: function() {
                                                return  (this.y).toFixed(2) + '%';
                                        },
                                        style: {
                                        color: '#031b4e',
                                        font: '13px ',
                                        fontWeight: 'normal',               
                                        textShadow: false ,
                                        textOutline:false,
                                                            
                                    },
                                }
                            }
                        },
                        tooltip: {
                        formatter: function() {
                                                return  this.x+" : "+'<b>'+ (this.point.y).toFixed(2)+ '%</b>';
                                            },
                            }, 
                        series: [{
                            name:null,
                            color:'#5B47FB',
                            data:{{data_stock_wise|safe}},
                    
                        }]
                    },
                    function (chart) {
                        var w = $('#stocks_bar').width(),
                            h = $('#stocks_bar').height(),
                          
                            box = chart.plotBox
                            len = chart.series[0].data.length;
                           
                        
                        chart.setSize(w, h - box.height + len * (pointWidth+2*pointPadding));
                    
                        chart.hasUserSize = null;
                    }
                    );
                
                Highcharts.chart('Exposure', {
                    chart: {
                        type: 'pie',
                       
                        backgroundColor: 'transparent',
                       
                        events: {
                        load: function() {
                        var chart = this,
                            legend = chart.legend,
                            newHeight = chart.chartHeight + legend.fullHeight;

                        chart.setSize(undefined, newHeight);
                        }
                    }                               
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        buttons: {
                            contextButton: {
                            enabled:false
                            },                       
                        }
                    },                 
                    title: {
                        style: {
                            color: '#031b4e',
                            fontSize:'15px',
                            fontWeight: 'bold',
                        },                   
                        text:null,
                     
                    },
                              
                    tooltip: {
                        formatter: function () {
                            return 'Sector : <b>'+this.point.name+'</b><br>'+'Investment Amount(%) : '+'<b>'+(this.point.y).toFixed(2)+'%</b><br>'+'Investment Amount : <b>{{symbol|safe}}'+(this.point.Exposure).toLocaleString(flag, { maximumFractionDigits: 2})+'<br></b>';
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            innerSize: "60%",
                           
                            showInLegend: true,
                            dataLabels: {
                                enabled: false,           
                                formatter: function () {
                                    return '<b>'+this.point.name+'</b><br>';
                                },
                            }
                        },
                    },
               
                    series: [{
                        name: 'By Sector',
                        data:{{output|safe}},
                    }],
                    })
                    Highcharts.chart('Exposure1', {
                        chart: {
                            type: 'pie',
                        
                            backgroundColor: 'transparent',
                            events: {
                        load: function() {
                        var chart = this,
                            legend = chart.legend,
                            newHeight = chart.chartHeight + legend.fullHeight;
                        chart.setSize(undefined, newHeight);
                        }
                    } 
                        },
                        credits: {
                                enabled: false
                            },
                        exporting: {
                            buttons: {
                                contextButton: {
                                enabled:false
                                },
                                
                            }
                        },
                        title: {
                            style: {
                            color: '#031b4e',
                            fontSize:'15px',
                            fontWeight: 'bold',
                            },
                            text:null,
                          
                            
                                },
                       
                        tooltip: {
                            formatter: function () {
                                return 'Market Cap : <b>'+this.point.name+'</b><br>'+'Investment Amount(%) : '+'<b>'+(this.point.y).toFixed(2)+'%</b><br>'+'Investment Amount : <b>{{symbol|safe}}'+(this.point.Exposure).toLocaleString(flag, { maximumFractionDigits: 2})+'<br></b>';
                            }
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                innerSize: "60%",
                               
                                showInLegend: true,
                            
                                dataLabels: {
                                    enabled: false,
                                                
                                    formatter: function () {
                                        return '<b>'+this.point.name+'</b><br>';
                                    },
                                }
                            },
                        },
                        series: [{
                            name: 'Country',
                            colorByPoint: true,
                            data:{{output2|safe}},
                        
                        }],
                    })
        }
        else{
            $('#stocks_bar').html('No data found')
            $('#Exposure').html('No data found')
            $('#Exposure1').html('No data found')
            $('#top3_sector_content').html('No data found')
            $('#top_sector').html('No data found')


        }

        $("body").css({visibility:'visible'});
       
    </script>
{% endblock %}