
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/InvestorRiskProfile.css' %}?v=1.2">
    <title>Investor Risk Profile - 72PI</title>
  </head>
  <body>

    <div class="col-lg-12 section-gap">
      <div class="row">
        <div class="col-lg-11 section-1" style="margin:10px auto">
          <div class="container1">
            <div class="card">
              <div class="card-header">
                <h4 class="text-center"><label>Investor's Risk Profile</label></h4>
              </div>
              <form method="POST" action="{% url 'InvestorRiskPreferences' %}"> 
                {% csrf_token %}
              <div class="card-body row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-8 form-inline">
                      <div class="form-inline">
                        <label>Name : </label>
                        <span class="mg-l-10">{{form.name}}</span>
                      </div>
                      <div class="form-inline mg-lg-l-40 mg-sm-l-0 mg-sm-t-10 age-form">
                        <label>Age&emsp; : </label>
                        <span class="mg-l-10">{{form.age}}</span>
                      </div>
                    </div>
                    <div class='col-sm-4 text-right'>
                      <a href="{% url 'welcomepage' %}" class="skipdetails btn btn-secondary">Skip</a>
                    </div>
                  </div>
                  <div class="tablediv table-responsive mg-t-30">
                    <table class="table ">
                      <tbody>
                        <tr>
                          <th></th>
                          {% for choice in form.risk_type %}
                          <th>
                            <div class="big  riskaverse_div text-center">
                              <label>
                                {{ choice }}
                              </label>
                            </div>
                          </th>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>Investment Objective</td>
                          <td>Protect Capital <br> <b>[0% to 4% returns per year]</b></td>
                          <td>Gain atleast fixed deposit returns <br> <b> [5% to 8% returns per year]</b></td>
                          <td>Moderate capital growth <br> <b> [9% to 15% returns per year]</b> </td>
                          <td>High capital growth <br> <b>[15% and above returns per year]</b></td>
                        </tr>
                        <tr>
                          <td>Risk Appetite</td>
                          <td>No losses</td>
                          <td>Mild losses</td>
                          <td>Moderate losses</td>
                          <td>Heavy losses</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mg-t-30">
                    <h4 class="mg-b-15 mg-t-10">Investor Approach</h4>
                    {% for choice in form.investor_approch %}
                    {{choice}} <br>
                    {% endfor %}
                  </div>
                  <div class="questions mg-t-15">
                    <div class="odd que"> {{form.current_stage.label}}</div>
                    <div class="odd"> {{form.current_stage}}</div>
                    <div class="even que"> {{form.income_source.label}}</div>
                    <div class="even"> {{form.income_source}}</div>
                    <div class="odd que"> {{form.portfolio_investment.label}}</div>
                    <div class="odd"> {{form.portfolio_investment}}</div>
                    <div class="even que"> {{form.financial_status.label}}</div>
                    <div class="even"> {{form.financial_status}}</div>
                    <div class="odd que"> {{form.investment_experience.label}}</div>
                    <div class="odd"> {{form.investment_experience}}</div>
                    <div class="even que"> {{form.asset_classes.label}}</div>
                    <div class="even"> {{form.asset_classes}}</div>
                    <div class="odd que"> {{form.risk_understanding.label}}</div>
                    <div class="odd"> {{form.risk_understanding}}</div>
                    <div class="even que">{{form.risk_awareness.label}}</div>
                    <div class="even"> {{form.risk_awareness}}</div>
                    <div class="odd que"> {{form.portfolio_corrects.label}}</div>
                    <div class="odd">{{form.portfolio_corrects}}</div>
                    <div class="even que"> {{form.trade_objective.label}}</div>
                    <div class="even"> {{form.trade_objective}}</div>
                    <div class="odd que"> {{form.liquidate_period.label}}</div>
                    <div class="odd"> {{form.liquidate_period}}</div>
                    <div class="even que"> {{form.annual_return_investment.label}}</div>
                    <div class="even"> {{form.annual_return_investment}}</div>
                  </div>
                  <div class="mg-t-20">
                    {% if msg %}
                    <div class="text-left">
                      <span style="color: blue;">{{msg}}</span>
                      <script type="text/javascript">
                      setInterval(function () { window.location.href = "{% url 'welcomepage' %}" }, 2000);
                      </script>
                    </div>
                    {% endif %}
                    <div class="text-right">
                      <button type="submit" class="savedetails btn btn-primary mg-l-20">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script>
 
    $('table tbody th').click(function(){
      $(this).find('input[type="radio"]').prop('checked', true);
    })
    $("body").css({visibility:'visible'});
</script>
</html>
{% endblock %}