{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>  
    <title>Returns By Factors - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/Investment_amount_factors.css' %}?v=1.2">
    
  </head>
  <body>
    <div class="se-pre-con"></div>
    <div class="row row-sm section-gap main inverstment_factors_page">
        <div class="col-sm-12 row page-title  mg-t-20">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    X-Ray Analyzer
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'investment_amount_factors' %}" class="nav-sub-link">Returns by Factors</a>
                </p>
            </div>
            <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                    
            </div>
        </div>
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12   main-sub-div2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
            </div>
        </div>

        <!-- graph section div -->
        <div class="col-md-9 col-lg-9 col-xl-9 mg-b-0 col9_graph">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center"><label>Investment Amount and Returns by Factors</label></h4>
                </div>
                <div class="card-body pd-t-0">
                    <div class="">
                        <div class="row">
                            <div class="col-sm-6 select-dates mg-l-0 filter_tabs">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="filter-tabs">
                                        <ul class="nav-tabs" id="required_value">
                                            <li class="" onclick="data1('YTD')"><a data-toggle="pill" href="#"
                                                    class="nav-sub-tab YTD" id="YTD" aria-expanded="false">YTD</a></li>
                                            <li class="" onclick="data1('MTD')"><a data-toggle="tab" href="#"
                                                    class="nav-sub-tab MTD" id="MTD" aria-expanded="false">MTD</a></li>
                                            <li class="" onclick="data1('1Y')"><a data-toggle="tab" href="#"
                                                    class="nav-sub-tab 1Y" id="one_year" aria-expanded="false">1Y</a>
                                            <li class="" onclick="data1('ITD')"><a data-toggle="pill" href="#"
                                                class="nav-sub-tab ITD " id="ITD" aria-expanded="false">2019</a></li>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6 text-right tx-15 form-inline factor_dropdown">
                                Factors &nbsp;<select class='factors text-right' style="width:300px;height:5%">
                                </select>
                            </div>

                        </div>
                       
                        <!-- <div class="mg-t-100" id="wrapper"> -->
                            <div class="row mg-t-100 graphs_div">
                                <div  class="col-md-4 col-lg-4 col-xl-4 mg-t-0">
                                    <div id="Exposure"></div>
                                </div>
                                <div  class="col-md-4 col-lg-4 col-xl-4 mg-t-0">
                                    <div id="return"></div>
                                </div>
                                <div  class="col-md-4 col-lg-4 col-xl-4 mg-t-0">
                                    <div id="count"></div>
                                </div>
                            </div>
                           
                           
                            
                        <!-- </div> -->

                    </div>
                </div>
            </div><!-- card-body -->
        </div><!-- card -->

        <!-- Notes section div -->
        <div class="col-md-3 col-lg-3 col-xl-3 mg-t-0 col3_notes">
            <div class="card  mg-b-10">

                <div class="card-body notes ">

                    <div class="mg-t-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-b-0 card-title">Highest Investment Amount</h6>
                                <h3 class="f-w-700 text-c-blue" id='high_inv_amount'></h3>
                                <p class="mg-b-0" id="bucket1"></p>
                            </div>

                        </div>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
            <div class="card mg-b-10">

                <div class="card-body notes ">

                    <div class="mg-t-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-b-0 card-title">Highest Return</h6>
                                <h3 class="f-w-700 text-c-blue" id='high_ret'></h3>
                                <p class="mg-b-0" id="bucket2"></p>
                            </div>

                        </div>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
            <div class="card mg-b-20">

                <div class="card-body notes ">

                    <div class="mg-t-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-b-0 card-title">Highest Stocks</h6>
                                <h3 class="f-w-700 text-c-blue" id='high_stock'></h3>
                                <p class="mg-b-0" id="bucket3"></p>
                            </div>

                        </div>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->
            <div class="card card-dashboard-sixteen mg-b-20">

                <div class="card-body notes ">

                    <div class="mg-t-0">
                        <div class="row align-items-center">
                            <div class="col">

                                <h6 class="card-title" id='selected_factor'></h6>
                                <p id="low" class="pd-l-10 mg-t-20"></p>
                                <hr class="mg-b-0">
                                <p id="inline" class="pd-l-10"></p>
                                <hr class="mg-b-0">
                                <p id="high" class="pd-l-10"></p>
                            </div>

                        </div>
                    </div>
                </div><!-- card-body -->
            </div><!-- card -->


        </div>
    </div>
    <div id="description" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <h3 class="modal-title mg-t-10 text-center"><label>Returns by Factors</label></h3>
          <div class="modal-body">
        <p>
            It helps in reviewing the portfolio by investment and return using different factors, that are bucketed into three categories – low, inline and high. For example, subscriber can see if investment amount is more into Low Beta or High Beta stocks and return generation is from Low Beta or High Beta stocks.  Based on allocation of the portfolio for a factor, we can rejig the portfolio to desired weightage if required. These factors are beta, volatility, PE, PB, Dividend yield, Dividend payout, Sales growth, EPS growth, RoE, RoCE, Net debt/EBITDA, Debt/Equity, Piotroski score. A great exercise to better understand exposure and returns of a portfolio. 
        </p>
          <div class="modal-footer">
          <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
          </div>
        </div>
        </div>
    </div>
    </div>
    <!--ROW ending-->

    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
      $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        if ('{{symbol|safe}}' == '$')
            flag = 'en-US'
        else
            flag = 'hi-IN'
        $(document).ready(function () {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'investment_amount_factors' %}?portfoliochanged-to=" + portfolioName;
            return false;
        });
        var factors = {{factors | safe}}
        var constraint_table_data = {{constraint_table_data | safe}}
        var req;
        for (i = 0; i < factors.length; i++) {
            $('.factors').append($('<option>', {
                value: factors[i],
                text: factors[i]
            }));
        }
        get_data('YTD');
        $('.YTD').addClass('actives');

        function data1(required_value) {
            get_data(required_value)
        }
        req = 'YTD'

        function get_data(required_value) {

            $('.actives').removeClass('actives')
            if (required_value == 'ITD')
                $('.ITD').addClass('actives');
            else if (required_value == 'YTD')
                $('.YTD').addClass('actives');
            else if (required_value == 'MTD')
                $('.MTD').addClass('actives');
            else if (required_value == '1Y')
                $('.1Y').addClass('actives');
            else if (required_value == 'QTD')
                $('.QTD').addClass('actives');
            var output_data;
            var firstDropVal = $(".factors option:selected").text();
            
            $('#hide-table').hide();
            $('.se-pre-con').fadeIn(1);

            $.ajax({
                url: "{% url 'investment_amount_factors' %}",
                type: 'post',
                data: {
                    'required_value': required_value
                },
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                    $('.se-pre-con').fadeOut(1);

                    $('#hide-table').show();
                    output_data = json.output

                    graph()

                    console.log("success")
                },
                error: function (json) {
                   
                    console.log("error")
                }

            });


            $(".factors").change(function () {
                var end = this.value;
                firstDropVal = $('.factors').val();
                graph()
            });


            function graph() {
              
                if(output_data.length>0)
                {
                    for (i = 0; i < output_data.length; i++) {
                        if (output_data[i]['Factor'] == firstDropVal) {
                            data = output_data[i]['data']
                            break
                        }
                    }
                    for (i = 0; i < constraint_table_data.length; i++) {
                        var tabledata = new Array();

                        if (firstDropVal == constraint_table_data[i][0]) {
                            $('#selected_factor').html('Factor : ' + constraint_table_data[i][0])
                            $('#low').html('Low : <b>≤ ' + constraint_table_data[i][1] + '</b>')
                            $('#inline').html('Inline : <b>' + "Between " + constraint_table_data[i][1] + " and " +
                                constraint_table_data[i][2] + '</b>')
                            $('#high').html('High : <b>≥' + constraint_table_data[i][2] + '</b>')

                        }
                    }

                    function maximum_element(array) {
                        var max = Math.max(...array);
                        var res = [];
                        array.forEach((item, index) => item === max ? res.push(index) : null);
                        return res
                    }
                    var res1 = maximum_element(data[0])
                    var res2 = maximum_element(data[1])
                    var res3 = maximum_element(data[2])


                    function res_str(res) {
                        if (res[0] == 0)
                            return 'Low'
                        else if (res[0] == 1)
                            return 'Inline'
                        else
                            return 'High'

                    }

                    function res_str3(res) {
                        str = ''
                        for (i = 0; i < res.length; i++) {
                            if (res[i] == 0)
                                str = str + 'Low'
                            else if (res[i] == 1)
                                str = str + 'Inline'
                            else
                                str = str + 'High'
                            if (i != res.length - 1)
                                str = str + ','
                        }
                        return str


                    }
                    var str1 = res_str(res1)
                    var str2 = res_str(res2)
                    var str3 = res_str3(res3)


                    if (req == 'ITD')
                        req = 'Inception To Date (ITD)'
                    else if (req == 'YTD')
                        req = 'Year To Date (YTD)'
                    else if (req == 'MTD')
                        req = 'Month To Date (MTD)'
                    else if (req == 'QTD')
                        req = 'Quarter To Date (QTD)'
                    else
                        req = 'One Year (1Y)'
                    $('#high_inv_amount').html('{{symbol|safe}}' + parseFloat(data[0][res1[0]]).toLocaleString(flag, {
                        maximumFractionDigits: 0
                    }))
                    $('#bucket1').html(str1 + ' bucket')
                    $('#high_ret').html('{{symbol|safe}}' + parseFloat(data[1][res2[0]]).toLocaleString(flag, {
                        maximumFractionDigits: 0
                    }))
                    $('#bucket2').html(str2 + ' bucket')
                    $('#high_stock').html(data[2][res3[0]])
                    $('#bucket3').html(str3 + ' bucket')


                    Highcharts.setOptions({
                        lang: {
                            thousandsSep: ','
                        }
                    });

                    Highcharts.chart('Exposure', {
                        chart: {
                            type: 'column',
                            backgroundColor: "transparent",
                        },

                        title: {
                            text: 'Investment Amount(' + '{{symbol|safe}}' + ')',
                            verticalAlign: 'bottom',
                            style: {
                                color: '#031b4e',
                                fontSize: '15px ',
                                fontWeight: 'bold'
                            },
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                    enabled: false
                                },
                            }
                        },

                        xAxis: {
                            categories: ['Low', 'Inline', 'High'],
                            title: {
                                text: null
                            },
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    fontSize: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                        },
                        yAxis: {
                            gridLineWidth: 0,
                            lineWidth: 1,
                            endOnTick: true,
                            title: {
                                text: null
                            },
                            labels: {

                                formatter: function () {
                                    
                                    return '{{symbol|safe}}' + this.axis.defaultLabelFormatter.call(this);
                                },

                                style: {
                                    color: '#031b4e',
                                    fontSize: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                        },

                        tooltip: {
                            formatter: function () {

                                return this.x + ' : <b>' + '{{symbol|safe}}' + (this.point.y).toLocaleString(
                                    flag, {
                                        maximumFractionDigits: 0
                                    }) + '</b>'
                            },
                            style: {
                                textShadow: false,
                                color: '#031b4e',
                                fontSize: '13px ',
                                fontWeight: 'normal'
                            }
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0,
                                colors: ['#F7A35C', '#90ED7D', '#7CB5EC'],
                                colorByPoint: true,

                                dataLabels: {
                                    enabled: true,
    
                                    allowOverlap: true,
                                    formatter: function () {
                                    
                                        return '{{symbol|safe}}' + (this.y / 1000000).toFixed(2) + 'M'

                                    },
                                    style: {
                                        textShadow: false,
                                        color: 'black',
                                        fontSize: '13px ',
                                        fontWeight: 'bold'
                                    }

                                }
                            }
                        },
                        series: [{
                            name: 'Exposure',
                            data: data[0]

                        }, ],
                        legend: {
                            enabled: false
                        }
                    });
                    Highcharts.chart('return', {
                        chart: {
                            type: 'column',
                            backgroundColor: "transparent",

                        },
                        title: {
                            text: "Return(" + '{{symbol|safe}}' + ")",
                            verticalAlign: 'bottom',

                            style: {
                                color: '#031b4e',
                                fontSize: '15px ',
                                fontWeight: 'bold'
                            },
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                    enabled: false
                                },
                            }
                        },

                        xAxis: {
                            categories: ['Low', 'Inline', 'High'],
                            title: {
                                text: null
                            },
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    fontSize: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                        },
                        yAxis: {
                            gridLineWidth: 0,
                            lineWidth: 1,
                            endOnTick: true,
                            title: {
                                text: null
                            },
                            labels: {
                                formatter: function () {

                                    return '{{symbol|safe}}' + this.axis.defaultLabelFormatter.call(this);
                                },

                                style: {
                                    color: '#031b4e',
                                    fontSize: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                        },

                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0,
                                colors: ['#F7A35C', '#90ED7D', '#7CB5EC'],
                                colorByPoint: true,
                                dataLabels: {
                                    enabled: true,

                                
                                    allowOverlap: true,
                                    formatter: function () {
                                        return '{{symbol|safe}}' + (this.y / 1000).toLocaleString(flag, {
                                            maximumFractionDigits: 1
                                        }) + 'K'
                                    },
                                    style: {
                                        textShadow: false,
                                        color: 'black',
                                        fontSize: '13px ',
                                        fontWeight: 'bold'
                                    }

                                }
                            }
                        },

                        tooltip: {
                            formatter: function () {
                                return this.x + ' : <b>' + '{{symbol|safe}}' + (this.point.y).toLocaleString(
                                    flag, {
                                        maximumFractionDigits: 0
                                    }) + '</b>';
                            },
                            style: {
                                textShadow: false,
                                color: '#031b4e',
                                fontSize: '13px ',
                                fontWeight: 'normal'
                            }
                        },
                        series: [{
                            name: 'Return',
                            data: data[1]

                        }],
                        legend: {
                            enabled: false
                        }
                    });
                    Highcharts.chart('count', {
                        chart: {
                            type: 'column',
                            backgroundColor: "transparent"
                        },
                        title: {
                            text: "# of Stocks",
                            verticalAlign: 'bottom',

                            style: {
                                color: '#031b4e',
                                fontSize: '14px ',
                                fontWeight: 'bold'
                            },
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                    enabled: false
                                },
                            }
                        },

                        xAxis: {
                            categories: ['Low', 'Inline', 'High'],
                            title: {
                                text: null
                            },
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    fontSize: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                        },
                        yAxis: {
                            gridLineWidth: 0,
                            lineWidth: 1,
                    
                            title: {
                                text: null
                            },

                            labels: {

                                style: {
                                    color: '#031b4e',
                                    fontSize: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                        },

                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0,
                                colors: ['#F7A35C', '#90ED7D', '#7CB5EC'],
                                colorByPoint: true,
                                dataLabels: {
                                    enabled: true,

                                    crop: false,
                                    overflow: "none",
                                    allowOverlap: true,
                                    formatter: function () {
                                        return this.y;
                                    },
                                    style: {
                                        textShadow: false,
                                        color: 'black',
                                        fontSize: '13px ',
                                        fontWeight: 'bold'
                                    }

                                }
                            }
                        },
                        tooltip: {
                            formatter: function () {
                                return this.x + ' : <b>' + (this.point.y) + '</b>';
                            },
                            style: {
                                textShadow: false,
                                color: '#031b4e',
                                fontSize: '13px ',
                                fontWeight: 'normal'
                            }
                        },
                        series: [{
                            name: 'Count',
                            data: data[2]

                        }],
                        legend: {
                            enabled: false
                        }
                    });

                }
                else{
                $('.graphs_div').html("No Data Found")
            }
            }
         

        }
    $("body").css({visibility:'visible'});
      
    </script>

{% endblock %}
