{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Macro Impact - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="keywords" content="72piportfoliomacroimpact, 72piportfoliovsmacrofactors, 72piportfolioagainstmacrofactors, 72piportfoliocomparedwithmacrofactors,
    72piportfoliovsoil, 72piportfoliovsfxrate, 72piportfoliovsinterestrate, 72piportfoliovsvix, 72piportfoliovsinflation, 72piportfoliovsgold,72piportfolioagainstoil,
    72piportfolioagainstfxrate, 72piportfolioagainstinterestrate, 72piportfolioagainstvix, 72piportfolioagainstinflation, 72piportfolioagainstgold,72piportfoliocomparedwithoil,
    72piportfoliocomparedwithfxrate, 72piportfoliocomparedwithinterestrate, 72piportfoliocomparedwithvix, 72piportfoliocomparedwithinflation, 72piportfoliocomparedwithgold,
    portfoliomacroimpact, portfoliovsmacrofactors, portfolioagainstmacrofactors, portfoliocomparedwithmacrofactors,
    portfoliovsoil, portfoliovsfxrate, portfoliovsinterestrate, portfoliovsvix, portfoliovsinflation, portfoliovsgold,portfolioagainstoil,
    portfolioagainstfxrate, portfolioagainstinterestrate, portfolioagainstvix, portfolioagainstinflation, portfolioagainstgold,portfoliocomparedwithoil,
    portfoliocomparedwithfxrate, portfoliocomparedwithinterestrate, portfoliocomparedwithvix, portfoliocomparedwithinflation, portfoliocomparedwithgold "/>
    <meta name="description" content="Portfolio is plotted against the macro factors: oil,fx rate, interest rate, vix, inflation, gold" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/MacroImpact.css' %}?v=1.2">
  </head>
  <body>
    <div class="row row-sm section-gap main macro_page" >
        <div class="col-sm-12 row page-title  mg-t-20">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    X-Ray Analyzer
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'macroimpact' %}" class="nav-sub-link">Macro Impact</a>
                </p>
            </div>
            <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                    
            </div>
        </div>
      
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12   main-sub-div2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
              
            </div>
        </div>
   
            <!-- graph section div -->
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center"><label class="card-title"></label></h4>
                    </div>
                    <div class="card-body">
                      <div class="macrodiv1">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row text-right">
                                <div class="col-sm-5 form-inline mg-t-5 mg-sm-t-5 mg-lg-t-0 split_by_div">
                                    <strong> Select Stock </strong>
                                    <select  onchange="companyname()" name="select_this" class='company text-right mg-l-10 mg-r-10'  > </select>
                               </div>
                               <div class="col-sm-7 form-inline mg-t-5 mg-sm-t-5 mg-lg-t-0 sort_by_div">
                                    <strong class="mg-l-10"> Select Factor</strong>
                                    <select onchange="subcompany()" class='company2 text-right mg-l-10 mg-r-10' > </select>
                                </div>
                                </div>
                           
                        </form>
                        <div class="loader1"></div>
                      <div id="macrodata" class="mg-t-20"></div>
                     
                    </div><!-- card-body -->
                    
                </div><!-- card -->
            </div>

                             
        </div><!--ROW ending-->
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Macro impact</label></h3>
              <div class="modal-body">
                  <p>
                    Portfolio is plotted against the macro factors: oil, fx rate, interest rate, vix, inflation, gold. It helps us in understanding the relative performance of the portfolio against each of these factors. Is there any correlation between the portfolio (or any stock within the portfolio) to a macro factor like OIL. When OIL prices go up, does my portfolio or stock move UP or DOWN, is there any correlation?                   </p>    </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script>  
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })	

          $(document).ready(function()
        {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })  
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'macroimpact' %}?portfoliochanged-to="+portfolioName;
            return false;
        }); 
            $('.loader1').fadeIn(1);
       
            var company={{company_names|safe}}
            $('.company').append($('<option>', {
                    value: 'Portfolio',
                    text: 'Portfolio'
                }));
            for (i=0;i<company.length;i++)
            {
                $('.company').append($('<option>', {
                    value: company[i],
                    text: company[i]
                }));
            }
            var company2={{fixed_Values|safe}}
            for (i=1;i<company2.length;i++)
            {
                $('.company2').append($('<option>', {
                    value: company2[i],
                    text: company2[i]
                }));
            }
       
            
        get_data($(".company option:selected").text(),$(".company2 option:selected").text())
        
       function companyname()
       {
          
            $('.loader1').fadeIn(1);

            get_data($(".company option:selected").text(),$(".company2 option:selected").text())
       }
       
    

   function subcompany(){
        $('.loader1').fadeIn(1);

        get_data($(".company option:selected").text(),$(".company2 option:selected").text())

       }
       
        var leftaxisname;
                function get_data(company_value,required_value)
                {
                    
                    $.ajax({
                        url: "{% url 'macroimpact' %}",
                        type: 'post',
                        data:{'company_value':company_value,'required_value':required_value},
                        dataType : 'json',
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        success: function(json) {
                            $('.loader1').fadeOut(1);
                            if ($(".company option:selected").text()=='Portfolio')
                            {
                                leftaxisname='Returns'

                            }
                            else {
                                leftaxisname='Price'

                            } 
                            graph(json.stock_output,json.fixed_output,leftaxisname)

                        },
                        error: function(json){
                          
                        console.log("error")
                        } 
                        
                    });
                  
                function graph(output1,output2,leftaxisname)
                {
                    $('.card-title').html($(".company option:selected").text()+" vs "+$(".company2 option:selected").text())
                    var  graph_data1=output1
                    var  graph_data2=output2

                    for(i=0;i<graph_data1.length;i++)
                    {
                        for(j=0;j<graph_data1[i]['data'].length;j++){
                            var temp=graph_data1[i]['data'][j][0]
                            var date = new Date(temp)
                            var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                            graph_data1[i]['data'][j][0]=now_utc;
                        }
                    } 
                    for(i=0;i<graph_data2.length;i++)
                    {
                        for(j=0;j<graph_data2[i]['data'].length;j++){
                            var temp=graph_data2[i]['data'][j][0]
                            var date = new Date(temp)
                            var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                            graph_data2[i]['data'][j][0]=now_utc;
                        }
                    } 
                    temp=graph_data1
                    temp2=graph_data2

                        if(graph_data1[0]['data'].length>0 && graph_data2[0]['data'].length>0)
                        {
                            Highcharts.chart('macrodata', {
                        chart: {
                            zoomType: 'xy',
                            backgroundColor:"transparent",
                            height:350,
                        },
                        title: {
                            text:null
                        },
                        credits: {
                                enabled: false
                            },
                            exporting: {
                                buttons: {
                                    contextButton: {
                                    enabled:false
                                    },
                                    
                                }
                            },
                       
                        xAxis: [{
                             type: 'datetime',
                            dateTimeLabelFormats: { // don't display the dummy year
                                day:'%e-%b-%y',
                                week:'%e-%b-%y',
                                month: '%b-%y',
                                year: '%Y'
                        
                            },
                            labels:{
                                    style: {
                                        color: '#031b4e',
                                      
                                        fontWeight: 'normal'
                                    },
                                },
                                tickLength: 6,  
                                tickWidth: 1,
                            crosshair: true
                        }],
                        yAxis: [{ // Primary yAxis
                        
                            title: {
                                text: leftaxisname,
                                style: {
                                            color: '#031b4e',
                                           
                                            fontWeight: 'normal'
                                        },
                            
                            },
                            gridLineWidth:0,
                                    lineWidth:1,
                                    tickLength: 6,  
                                    tickWidth: 1,
                                    labels:{
                                        formatter: function(){
                                            if ($(".company option:selected").text()=='Portfolio')
                                                return  (this.value).toFixed(0)+"%";
                                            else
                                            {
                                                if('{{symbol|safe}}'=='$')
                                                flag='en-US'
                                                else
                                                flag='hi-IN'
                                                return  '{{symbol|safe}}'+(this.value).toLocaleString(flag, {maximumFractionDigits: 0})
                                            }

                                        },
                                        style: {
                                            color: '#031b4e',
                                         
                                            fontWeight: 'normal'
                                        },
                                    },
                        }, { // Secondary yAxis
                            title: {
                                text: $(".company2 option:selected").text(),
                                style: {
                                            color: '#031b4e',
                                        
                                            fontWeight: 'normal'
                                        },
                            
                            },
                            gridLineWidth:0,
                                    lineWidth:1,
                                    tickLength: 6,  
                                    tickWidth: 1,
                            labels:{
                                formatter: function(){
                                            if ($(".company2 option:selected").text()=='Interest Rate'||$(".company2 option:selected").text()=='Inflation')
                                                return  (this.value).toFixed(0)+"%";
                                            else if ($(".company2 option:selected").text()=='Gold')
                                                return  '{{symbol|safe}}'+(this.value)+"/gm";
                                            else
                                                return  (this.value).toFixed(0);

                                        },
                                        style: {
                                            color: '#031b4e',
                                            font: '13px',
                                            fontWeight: 'normal'
                                        },
                                    },
                            
                            opposite: true
                        }],
                        tooltip: {
                        formatter: function() {
                            var s = [];
                            var count=0
                            $.each(this.points, function(i, point) {
                                if(count==0)
                                 s.push( 'Date: <b>'+ Highcharts.dateFormat('%d-%b-%Y',new Date(point.x))+'</b><br>');
                                    count=1
                              
                            if(point.series.name=='Portfolio' ||point.series.name=='Inflation'||point.series.name=='Interest Rate')
                            {
                                s.push( point.series.name +' : <b>'+
                                    point.y +'%</b><br>');
                            }
                            else  if(point.series.name=='Oil (Dollars per Barrel)' ||point.series.name=='FX Rate'||point.series.name=='Vix')
                             {
                                s.push( point.series.name +' : <b>'+
                                    point.y +'</b><br>');
                            }
                            else  if(point.series.name=='Gold')
                             {
                                 if('{{symbol|safe}}'=='$')
                                s.push( point.series.name +' : <b>{{symbol|safe}}'+
                                    parseFloat(point.y).toLocaleString('en-US')
                                     +'</b><br>');
                                else 
                                s.push( point.series.name +' : <b>{{symbol|safe}}'+
                                    parseFloat(point.y).toLocaleString('hi-IN')
                                     +'</b><br>');
                            }
                            else  
                             {
                                if('{{symbol|safe}}'=='$')
                                s.push( point.series.name +' : <b>{{symbol|safe}}'+
                                    parseFloat(point.y).toLocaleString('en-US')
                                     +'</b><br>');
                                else 
                                s.push( point.series.name +' : <b>{{symbol|safe}}'+
                                    parseFloat(point.y).toLocaleString('hi-IN')
                                     +'</b><br>');
                            }
                            
                            });
                            
                            return s.join('<br>');
                        },
                        shared: true
                    },
                        series: [{
                            name: $(".company option:selected").text(),
                            type: 'spline',
                            color:'blue',
                            data:output1[0]['data'],

                            
                        },
                        {
                            name: $(".company2 option:selected").text(),
                            type: 'spline',
                            yAxis: 1,
                            data:output2[0]['data'],
                            color:'red',
                            style: {
                                            color: '#031b4e',
                                           
                                            fontWeight: 'normal'
                                        },

                        }]
                    });
                    
                        }
                    }
                }
                $("body").css({visibility:'visible'});    
        </script>
    </body>
  
    {% endblock %}
