{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>
        <title>Performance - 72PI</title>  
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" content="72pirelativeperformance, relativeperformance, 72pioutperformbenchmark, outerformbenchmark, 72piunderperformbenchmark, underperformbenchmark"/>
        <meta name="description" content="It helps the subscriber in understanding the relative performance of the portfolio with respect to indices." />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/MonthlyPerformance.css' %}?v=1.2">
    </head>
    <body>
        <div class="se-pre-con"></div>
        <div class="col-lg-12 section-gap monthly_performance_page">
            <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        X-Ray Analyzer
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'monthlyPerformance' %}" class="nav-sub-link">Performance</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
				</div>
			</div>
            <div class="page-title  mg-t-5">
                
            </div>
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div> 
            <div class="col-sm-12   main-sub-div2">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                            <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                            <select id="globalPortfolio" class="form-controls mg-l-20">
                                {% for portfolio in portfolio_names %}
                                <option value='{{portfolio}}'>{{portfolio}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  row-sm">
                <div class="col-md-9 col-lg-9 col-xl-9 mg-b-0 col9_graph">
                    <div class="card" style="padding:0% 2%">  
                        <div class="card-header">
                            <h4 class="card-title text-center" id="card-title"></h4>
                        </div>
                        <div class="card-body pd-t-0">
                            <div class="">
                                <div class="col-sm-12 text-right">
                                    <div class="change-drop-down mg-b-5 form-inline" > 
                                        <strong>Select</strong> <select name="select-data" id="select-data" class="text-right mg-l-10">
                                            <option value="Nifty 50 Index">Nifty 50 Index</option>
                                            <option value="Nifty Midcap 100 Index">Nifty Midcap 100 Index</option> 
                                            <option value="Nifty Smallcap 100 Index">Nifty Smallcap 100 Index</option> 
                                        </select> 
                                        <select name="select-data-us" id="select-data-us" class="text-right mg-l-10">
                                            <option value="S&P 500">S&P 500</option>
                                            <option value="Dow Jones Industrial Average">Dow Jones Industrial Average</option> 
                                            <option value="Russell 2000">Russell 2000</option> 
                                        </select> 
                                    </div>
                                </div>
                                <div class="graphs mg-t-30 " >
                              
                                    <div id="Monthly_Performance"   class="container1" ></div>
                                </div>
                                <!-- Tables section  -->
                    
                            </div>
                        </div><!-- card-body -->
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mg-t-0 col3_notes">
                    <div class="card  pd-b-30">
                        <div class="card-header">
                            <h4 class="card-title  mg-b-0">Notes</h4>
                        </div><!-- card-header -->
                        <div class="card-body  notes  pd-t-0">
                        <div class="dashboard-notes-section text-justify mg-r-20" id="notes-section">
                        
                        </div>
                
                        </div><!-- card-body -->
                    </div><!-- card -->
                    <div class="card  mg-t-20 pd-b-15">
                        <div class="card-header">
                            <h4 class="card-title mg-b-0">Definitions</h4>
                        </div><!-- card-header -->
                        <div class="card-body notes pd-t-0">
                        <div class="mg-t-0">
                            <ul class="mg-l-0 notes-ul tx-15">
                                <li><i class="fa fa-hand-o-right mg-r-5"></i><a href='https://www.investopedia.com/terms/b/beta.asp' target="_blank" class="blink_me">Beta<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                <li><i class="fa fa-hand-o-right mg-r-5"></i><a href='https://www.investopedia.com/terms/c/correlation.asp' target="_blank">Correlation<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                <li><i class="fa fa-hand-o-right mg-r-5"></i><a href='https://www.investopedia.com/terms/e/excessreturn.asp' target="_blank">Excess Return<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                <li><i class="fa fa-hand-o-right mg-r-5"></i><a href='https://www.investopedia.com/terms/t/trackingerror.asp' target="_blank">Tracking Error<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                
                            </ul>
                        </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>  
            </div>
            <div class="row  row-sm mg-t-20 mg-sm-t-20 mg-lg-t-20 quick_performance_metrics">
                <div class="col-md-4 col-lg-4 col-xl-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 quick_status">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title  mg-b-0">Quick Stats</h4>
                        </div><!-- card-header -->
                        <div class="card-body notes pd-t-0  pd-b-0 table-responsive">
                            <table class="table  chart2-table unselectable">
                                <tbody id="tbody1">
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 performance">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title  mg-b-0">Performance</h4>
                        </div><!-- card-header -->
                        <div class="card-body notes pd-t-0 pd-b-0 table-responsive">
                            <table class="table  chart2-table unselectable">
                                <tbody id="tbody2">
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 metrics">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title  mg-b-0">Metrics</h4>
                        </div><!-- card-header -->
                        <div class="card-body notes pd-t-0 pd-b-20 table-responsive">
                            <table class="table chart2-table unselectable">
                                <tbody id="tbody3">
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>
            </div>
            <div class="row  row-sm mg-t-20 mg-sm-t-20 mg-lg-t-20">
                <div class="col-lg-12">
                    <div class="card" style="padding:0% 2%">
                        <div class="card-header">
                            <h4 class="card-title text-center"><label>Stock Performance</label></h4>
                        </div>
                        <div class="card-body pd-t-0">
                            <div class="view performanceview">
                                <div class="performance-scroll-div table-responsive wrapper">
                                    <table class="table sortable performancetable unselectable">
                                        <thead id="thead">
                                            
                                        </thead>
                                        <tbody id="tbody">
        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Performance</label></h3>
              <div class="modal-body">
                  <p>
                    This tab helps in understanding the relative performance of the portfolio with respect to benchmark indices Nifty 50, Nifty Midcap 100 and Nifty Smallcap 100. Quick stats to compare number of positive months relative to benchmark and several other metrics are provided. Stock performance across timeframes (and associated sorting) helps users to gauge momentum in different stocks of the portfolio and understand stocks that are making money vs. losing money. Portfolio can be changed in the upper left corner. 
                  </p>    </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/table_sort.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/dumbbell.js"></script>
    <script>
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $(document).ready(function () {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'monthlyPerformance' %}?portfoliochanged-to=" + portfolioName;
            return false;
        });

        $('.se-pre-con').fadeIn(1);
        $('#Monthly_Performance').hide();
        data = {{listofvalues|safe}}
       
        table_data = {{ table_data | safe }}
  
         
            portfolio_name = '{{current_portfolio}}'
            country = '{{country}}';
          


            if (country ==='US') {
                $('#select-data').hide();
                graph('S&P 500', data[0]);
                create_table(document.getElementById('select-data-us').value, table_data[0])
                document.getElementById("card-title").innerHTML = "<label>Relative Performance vs " + document.getElementById('select-data-us').value + "</label>"
            }
            else {
                $('#select-data-us').hide();
                $('.se-pre-con').fadeOut(1);
                $('#Monthly_Performance').show();
                $('#Monthly_Performance').html('No Data Found');
                $('#tbody3').html('No Data Found');
                $('#tbody2').html('No Data Found');
                $('#tbody1').html('No Data Found');
                $('#notes-section').html('No Data Found');
                document.getElementById("card-title").innerHTML = "<label>Relative Performance vs " + document.getElementById('select-data').value + "</label>"
                if(data.length>0)
                {
                    graph('Nifty 50 Index', data[0]);
                    create_table(document.getElementById('select-data').value, table_data[0])  
                   

                }
               
            
            }

        

       


        $('#select-data').on('change', function () {
            document.getElementById("card-title").innerHTML = "<label>Relative Performance vs " + this.value + "</label>"
            $('#Monthly_Performance').html('No Data Found');
                $('#tbody3').html('No Data Found');
                $('#tbody2').html('No Data Found');
                $('#tbody1').html('No Data Found');
                $('#notes-section').html('No Data Found');
           
            if(data.length>0)
             {
                if (this.value == "Nifty 50 Index") {
                    graph(this.value, data[0])
                    create_table(this.value, table_data[0])
                }
                else if (this.value == "Nifty Smallcap 100 Index") {
                    graph(this.value, data[1])
                    create_table(this.value, table_data[1])
                }
                else {
                    graph(this.value, data[2])
                    create_table(this.value, table_data[2])
                }
            }
           
        });


        $('#select-data-us').on('change', function () {
            document.getElementById("card-title").innerHTML = "Relative Performance vs " + this.value
            document.getElementById('notes-section').innerHTML = ''

            if (this.value == "S&P 500") {
                graph(this.value, data[0])
                create_table(this.value, table_data[0])
            }
            else if (this.value == "Russell 2000") {
                graph(this.value, data[1])
                create_table(this.value, table_data[1])
            }
            else {
                graph(this.value, data[2])
                create_table(this.value, table_data[2])
            }
        });
        function create_table(value, output) {
         
            text = "Out of 36 months your portfolio gave positive returns in " + output[0][1] + " months and negative returns in remaining " + output[1][1] + " months. It outperformed "

            text1 = value + " in <b>" + (output[2][1] * 100).toFixed(1) + "%</b> months"
            text = text.concat(text1)
            document.getElementById('notes-section').innerHTML = text

            $("#tbody1").empty();
            $("#tbody2").empty();
            $("#tbody3").empty();

            var tabledata1 = new Array();
            var tabledata2 = new Array();
            var tabledata3 = new Array();

            for (i = 0; i < output.length; i++) {
                if (i < 4) {
                    if (i == 2 || i == 3)
                        tabledata1.push([output[i][0], (output[i][1] * 100).toFixed(1) + "%"])
                    else
                        tabledata1.push([output[i][0], output[i][1]])
                }
                else if (i >= 4 && i < 8) {
                    if (i == 4 || i == 5)
                        tabledata2.push([output[i][0], output[i][1]])
                    else
                        tabledata2.push([output[i][0], (output[i][1] * 100).toFixed(1) + "%"])
                }
                else {
                    if (i == 10)
                        tabledata3.push([output[i][0], (output[i][1] * 100).toFixed(1) + "%"])
                    else
                        tabledata3.push([output[i][0], (output[i][1]).toFixed(2)])
                }
            }

            showtables('tbody1', tabledata1);
            showtables('tbody2', tabledata2);
            showtables('tbody3', tabledata3);
            // Retrieve the tbody element from the table to add the data
            function showtables(tbody_id, tbody_data) {
                var table = document.getElementById(tbody_id);
                tabledata = tbody_data
                //Get the count of columns.
                var columnCount = tabledata[0].length;

                var row = table.insertRow(0);
                //Add the data rows.
                for (var i = 0; i < tabledata.length; i++) {
                    row = table.insertRow(-1);
                    for (var j = 0; j < columnCount; j++) {
                        var cell = row.insertCell(-1);
                        cell.innerHTML = tabledata[i][j];
                    }
                }
            }

        }

        function graph(selected_value, data) {
            $('#Monthly_Performance').show();
            $('.se-pre-con').fadeOut(1);


            Highcharts.chart('Monthly_Performance', {

                chart: {
                    type: 'dumbbell',
                    inverted: false,
                    backgroundColor: "transparent",
                    height: 270,
                },

                legend: {
                    enabled: true
                },
                title: {
                    text: '',
                    style: {
                        color: '#1C273C',
                        font: '13px  ',
                        fontWeight: 'normal'
                    },
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'category',

                    lineWidth: 1,
                    tickLength: 7,
                    tickWidth: 1,
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        }
                    },

                    tickInterval: 3,
                },

                yAxis: {
                    title: {
                        text: 'Return(%)',
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 7,
                    tickWidth: 1,
                    labels: {

                        formatter: function () {
                            return (this.value).toFixed(0) + '%';
                        },
                        style: {
                            color: '#031b4e',

                            fontWeight: 'normal'
                        },
                    },
                },
                tooltip: {
                    shared: false,
                    formatter: function () {
                        return 'Month : <b>' + this.point.name + '</b><br>Portfolio : <b>' + ((this.point.Portfolio) * 100).toFixed(1) + '%</b><br>' + selected_value + ' : <b>' + (this.point.other * 100).toFixed(1) + '%</b>';
                    }
                },
                series: [{
                    name: 'Portfolio',
                    style: {
                        color: '#031b4e',

                        fontWeight: 'normal'
                    },
                    data: data,
                    color: '#5B47FB'
                },
                {
                    name: selected_value,
                    style: {
                        color: '#031b4e',

                        fontWeight: 'normal'
                    },
                    color: '#B2B2B2'
                },
                ]

            });

        }


        var header_list = {{ header_list | safe}}

        var tableoutput = {{ output| safe}}
        if(tableoutput.length>0){
        create_table2(tableoutput)
        }
        else{
            $('.performancetable').html('No Data Found')
        }

        function create_table2(output) {
            var tabledata = new Array();
            for (i = 0; i < output.length; i++) {
                tabledata.push(output[i])
            }
            th = "";
            for (var i = 0; i < header_list.length; i++) {
                if (i == 0) {
                    th += '<th class="sticky-col first-col">' + header_list[i] + '</th>';

                }
                else {
                    th += '<th class="non-sticky">' + header_list[i] + '</th>';

                }
            }
            tr = $("<tr>").append($(th));
            $("#thead").append($(tr));

            $("#tbody").empty();
            var table = document.getElementById("tbody");
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            }
            $('.performancetable tr').not(':first').each(function () {
                for (j = 1; j < columnCount; j++) {
                    $(this).closest('tr').find('td').eq(j).each(function () {
                        cell_value = $(this).text()
                        if (cell_value >= 0) {
                            $(this).addClass('green')
                            $(this).css('fontWeight', 'bold');
                        }
                        else {
                            $(this).addClass('red')
                            $(this).css('fontWeight', 'bold');
                        }
                        cell_value = parseFloat(cell_value * 100).toFixed(2) + "%"
                        $(this).text(cell_value)
                    })
                }
            })
            $('.performancetable tr td:nth-child(1)').each(function () {
            $(this).addClass('company sticky-col first-col')
        });
        }


      
        if ($('.performancetable').height() < 500) {
            $('.performanceview').height($('.performancetable').height() + 20);
            $('.performanceview div').removeClass('performance-scroll-div');

        }
        $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
            window.open(stockURL, '_blank');
            return false;
        });

        var portfolio_name = '{{portfolio_name|safe}}'

        function checkWidth() {
            if ($(window).width() < 680) {
                $('.performancetable thead th:nth-child(1)').removeClass('sticky-col first-col');
                $('.performancetable tbody td:nth-child(1)').removeClass('sticky-col first-col');
            }
            else {
                $('.performancetable thead th:nth-child(1)').addClass('sticky-col first-col');
                $('.tabperformancetablele tbody td:nth-child(1)').addClass('sticky-col first-col');
            }
        }
        checkWidth();
        $(window).resize(checkWidth);

        $("body").css({visibility:'visible'});
   
   
    </script>
{% endblock %}
            