{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/Myalerts.css' %}?v=1.2">
    <title>My Alerts - 72PI</title>
  </head>
  <body>
    <div class="col-lg-12 section-gap myalertsdiv">
      <div class="row mg-t-20 ">
        <div class="col-sm-12 ">
          <h2 class="pd-l-15">My Alerts Management</h2>
        </div>
      </div>
  
      <div class="col-lg-12 mg-t-20">
        {% if alerts %}
        <div class="card">
          <div class="card-body ">
           <div class="table-responsive">
             <div class="text-right">
              {% if display %}
              <a class="btn view-all-alerts text-white" href="{% url 'indexpage' %}" style="text-decoration: underline;">Go Back</a>
              <a class="btn view-all-alerts text-white" href="{% url 'listAllWaitingAlerts' %} " style="text-decoration: underline;">View all Alerts</a>
              {% endif %}
             </div>
            <table class="table mg-t-10">
              <thead>
                <th style="display: none;">ID</th>
                <th class="sticky-col first-col">Company Name</th>
                <th class="non-sticky">Portfolio Name</th>
                <th class="non-sticky">Type</th>
                <th class="non-sticky">Buy/Sell</th>
                <th class="non-sticky" colspan="3">Conditions</th>
                <th class="non-sticky" colspan="2">Actions</th>
                <th style="display: none;">Type</th>
              </thead>
              <tbody>
                {% for item in alerts %}
                {% if item.left and item.condition %}
                <tr>
                  <td style="display: none;">{{item.id}}</td>
                  <td class="cname sticky-col first-col" name="cname">{{item.company_name}}</td>
                  <td class="pname" name="pname">{{item.portfolio_name}}</td>
                  <td class="atype" name="atype">{{item.alert_type}}</td>
                  <td>{{item.buy_sell}}</td>
                  <td class="leftvalue" name="leftvalue">{{item.left}}</td>
                  <td class="cond" name="cond">{{item.condition}}</td>
                  {% ifequal item.type 'pricealert' %}
                  <td class="rightvalue" name="rightvalue"><span class="mg-r-10 metric">{{item.metric}}</span><span class="right_num">{{item.right}}</span></td>
                  {% else %}
                  <td class="rightvalue" name="rightvalue"><span class="right_num">{{item.right}}</span><span class="mg-l-10 metric">{{item.metric}}</span></td>
                  {%endifequal %}
                  <td class=""><i class="fa fa-pencil editalert"></i></td>
                  <td><a href="#deleteAlertModal" class="deletealert  mg-r-5 btn-sm btn-danger" data-toggle="modal">
                  <i class="fa fa-trash"></i></a></td>
                  <td style="display: none;" class="item_type">{{item.type}}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
           </div>
          </div>
        </div>
        {% else %}
        <div class="no-user-port-div mg-t-0 pd-t-40 pd-b-20 text-center">
          <h6 class="tx-18 text-white">Currently You don't have any active alerts in waiting state (or) yet to trigger state</h6>
          <p class="mg-t-20 text-white">Try 72PI alert system, just by clciking the bell icon</p>
          <p class="text-white"><strong>Note: </strong>&nbsp;You will receive notifications via email</p>
        </div>
        {% endif %}
      </div>
    </div>
  <div id="deleteAlertModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">						
            <h4 class="modal-title font-weight-normal">Delete Alert</h4>
            <p id="deleteresponsemsg" ></p>
          </div>
          <div class="modal-body text-center pd-t-5" style="color:black">					
            <p class="mg-t-0 mg-b-0">Are you sure you want to delete the Stock?</p>
								<input type="text" id="idvalue" style="display: none;" ></input>
								<input type="text" id="alerttype" style="display: none;" ></input>
								<input type="text" id="subtype" style="display: none;" ></input>
            <p class="text-warning mg-t-0 mg-b-0"><small>This action cannot be undone.</small></p>
          </div>
          <div class="modal-footer pd-t-10 pd-b-10">
            <input type="button" class="btn btn-default btn-outline-danger closestockdelete" data-dismiss="modal" value="Cancel">
            <input type="button" class="btn  deletestock" value="Delete">
          </div>
      </div>
    </div>
  </div>
  </body>
  <script>
    $(document).on("click", ".editalert", function () {

      var tdIndex = $(this).closest('td').index() + 1;
      $('.table').find("tr td:nth-of-type(" + tdIndex + ")")
                .find('.editalert').not(this).css('pointer-events','none');

      

      var _row = $(this).parents("tr");
      var leftdma=(_row.find('td:eq(5)').text())
      var rightdma=(_row.find('td:eq(7)').text())
      var dmacondition=(_row.find('td:eq(6)').text())


      localStorage.setItem('leftdma', leftdma);
      localStorage.setItem('dmacondition', dmacondition);
      localStorage.setItem('rightnum', _row.find('td:eq(7)').find('.right_num').text());
      localStorage.setItem('metric', _row.find('td:eq(7)').find('.metric').text());
      localStorage.setItem('item_type', _row.find('td:eq(10)').text());

     

      var alertType = _row.find('td:eq(3)').text();
      if (alertType == "Price Movement"){
        var condition = _row.find('td:eq(5)').text();
        _row.find('td:eq(6)').html('<select class="custom-select"><option value="above">Increases Above</option><option value="below">Decreases Below</option></select>');
        let value = _row.find('td:eq(7)').find('.right_num').text();
       
        

    
        _row.find('td:eq(7)').html('<input type="text" class="form-control txtQty" value="' +value+ '">');
        
      }else{
        var condition = _row.find('td:eq(5)').text();
        _row.find('td:eq(6)').html('<select class="custom-select condition-drop"><option value="greaterthan">Greater than</option><option value="lessthan">Less than</option></select>');
        let value = _row.find('td:eq(7)').text();
        if(["ma9","ma26","ma50","ma100","ma200"].includes(value)){
          _row.find('td:eq(5)').html('<select class="custom-select leftdma" ><option value="ma9">9 Day MA</option><option value="ma26">26 Day MA</option><option value="ma50">50 Day MA</option><option value="ma100">100 Day MA</option><option value="ma200">200 Day MA</option></select>');
          _row.find('td:eq(7)').html('<select class="custom-select rightdma"><option value="ma9">9 Day MA</option><option value="ma26">26 Day MA</option><option value="ma50">50 Day MA</option><option value="ma100">100 Day MA</option><option value="ma200">200 Day MA</option></select>');
        }else{
         
        _row.find('td:eq(7)').html('<input type="text"  class="form-control txtQty"  value="' +value+ '">');
       
        }
        
   
  
      }
    
      $(".txtQty").keydown(function (event) {
      if (event.shiftKey == true) {
      event.preventDefault();
      }

      if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

      } else {
      event.preventDefault();
      }

      if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
      event.preventDefault();

      });
      _row.find('td:eq(8)').html('<button class="btn btn-success savealert">Save</button>&nbsp;<button class="btn btn-danger cancelalert">Cancel</button>');
  
  
      $('select.leftdma [value="'+leftdma+'"]:eq(0)').prop('selected', true);
      $('select.condition-drop [value="'+dmacondition+'"]:eq(0)').prop('selected', true);
      $('select.rightdma [value="'+rightdma+'"]:eq(0)').prop('selected', true);
  
      /// Disablng the dropdown values based on on dropdown selection   (Added by vennela)
      $("select.leftdma").change(function () {
        $("select.rightdma option[value='" + $(this).data('index') + "']").prop('disabled', false);
        $("select.rightdma option[value='" + $(this).data('index') + "']").css('background-color', 'transparent');
        $(this).data('index', this.value);
  
        $("select.rightdma option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
        $(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
        
        $("select.rightdma option[value='" + this.value + "']:not([value=''])").css('background-color', '#E7E9ED');
      });
      
      $("select.rightdma").change(function () {
        $("select.leftdma option[value='" + $(this).data('index') + "']").prop('disabled', false);
        $("select.leftdma option[value='" + $(this).data('index') + "']").css('background-color', 'transparent');
        $(this).data('index', this.value);
        
        $("select.leftdma option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
        $(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
        
        $("select.leftdma option[value='" + this.value + "']:not([value=''])").css('background-color', '#E7E9ED');
      });
      /// End of ----------------Disablng the dropdown values based on on dropdown selection
      
      
  
    })
 
    
    $(document).on("keypress click input", ".savealert", function () {
      var _row = $(this).parents("tr");
      var leftvalue, rightvalue;
      var idvalue = _row.find('td:eq(0)').text();
      var companyname =  _row.find('td:eq(1)').text();
      var portfolioname = _row.find('td:eq(2)').text();
      var alerttype = _row.find('td:eq(3)').text();
      var flag=0;
      if(alerttype == "Price Movement"){
        leftvalue = _row.find('td:eq(5)').text();
        rightvalue = _row.find('td:eq(7) input').val();
        if(parseFloat(rightvalue)>0)
          flag=1;
      }else{
      var sample = _row.find('td:eq(5)').text();
      if (sample == "14 Day RSI"){
      leftvalue = _row.find('td:eq(5)').text();
      rightvalue = _row.find('td:eq(7) input').val();
      if(parseFloat(rightvalue)<=100)
        flag=1;
      }else{
        leftvalue = _row.find('td:eq(5) select option:selected').val();
        rightvalue = _row.find('td:eq(7) select option:selected').val();
        flag=1
        }
      }
      if(flag==1){
      var condition = _row.find('td:eq(6) select option:selected').val();
      var subtype =  _row.find('td:eq(10)').text();
      $.ajax({
      type: "POST",
      url: "{% url 'updateMyStockAlerts' %}",
      dataType : 'json',
      csrfmiddlewaretoken: "{{ csrf_token }}",
      data: {'id':idvalue, 'companyname':companyname, 'portfolio':portfolioname, 'alerttype':alerttype, 'leftvalue':leftvalue, 'condition':condition, 'rightvalue':rightvalue, 'subtype':subtype},
      success:function (response) {
        if(response.status){
        
          window.location.href =  "{% url 'listAllWaitingAlerts' %}"
        }
        },
      error: function (response){console.log("error")},
    });
    event.preventDefault(); 
    }
    else{
      _row.find('td:eq(7) input').css('border','1px solid red')

    }
    })
    $(document).on("keypress click input", ".cancelalert", function (e) {

        var tdIndex = $(this).closest('td').index() + 1;
        $('.table').find("tr td:nth-of-type(" + tdIndex + ")")
                .find('.editalert').css('pointer-events','auto');


          $(this).closest("tr").find('td:eq(5)').html(localStorage.getItem('leftdma'))
          $(this).closest("tr").find('td:eq(6)').html(localStorage.getItem('dmacondition'))
          if(localStorage.getItem('item_type')==='pricealert')
          {
            $(this).closest("tr").find('td:eq(7)').html('<span class="mg-r-10 metric">'+localStorage.getItem('metric')+'</span>'+'<span class="right_num">'+localStorage.getItem('rightnum')+'</span>')
          }
          else{
            $(this).closest("tr").find('td:eq(7)').html('<span class="right_num">'+localStorage.getItem('rightnum')+'</span><span class="mg-l-10 metric">'+localStorage.getItem('metric')+'</span>')
          }
          $(this).closest("tr").find('td:eq(8)').html('<i class="fa fa-pencil editalert"></i>')

    });

  	$('#deleteAlertModal').on('show.bs.modal', function (e) {
		var _button = $(e.relatedTarget);
		var _row = _button.parents("tr");
    $("#idvalue").val(_row.find('td:eq(0)').text());
		$("#alerttype").val(_row.find('td:eq(3)').text());
		$("#subtype").val(_row.find('td:eq(10)').text());
	});
      $(document).on("click", ".deletestock", function(){
      
      var idvalue = $('#idvalue').val();
      var alerttype = $('#alerttype').val();
      var subtype = $('#subtype').val();
   
      $.ajax({
      type: "POST",
      url: "{% url 'deleteMyStockAlerts' %}",
      dataType : 'json',
      csrfmiddlewaretoken: "{{ csrf_token }}",
      data: {'id':idvalue, 'alerttype':alerttype, 'subtype':subtype},
      success:function (response) {
        if(response.status){
        $(".closestockdelete").click();
        location.href="{% url 'listAllWaitingAlerts' %}";
        }
        },
      error: function (response){console.log("error")},
    });
    event.preventDefault();
    });
    $("body").css({visibility:'visible'});
  </script>
</html>



{% endblock %}
