{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profile Settings - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <style>
            .a-settings{    background-color: orange!important;
    color: #fff!important;}
            .subnav-content{display: none !important;}
            .options-ul li{padding:6px 10px}
            .options-ul li.active{background-color:whitesmoke;border-left:4px solid #5627D8;color:#5627D8}
            .no-user-port-div label{
                    text-align: right;
                    clear: both;
                    float:left;
                    margin-right:15px;}
            /* .no-user-port-div input[type="text"],.no-user-port-div input[type="email"]{text-align: left;
                    clear: both;
                    float:right;
                    margin-right:15px;} */
            .errorlist{display: none;}
            .main-tab-div{border:1px solid grey;background-color:white;padding-bottom: 20px;}
            body{background-color: #1A0C4B !important;}
            .path_div{margin-left: -15px;}
            .my_info_div input{width:250px !important}
            .my_info_div form {
            background-color: #FFF;
            height:max-content;
            width: max-content;
            /* margin-right: auto;
            margin-left: auto; */
            margin-top: 0px;
            padding: 0px;
            text-align:left;
            /* background-color:red; */
            }
            .my_info_div label {
            color: #333;
            height: 25px;
            width: 80px;;
            margin-top: 10px;
            margin-left: 10px;
            text-align: right;
            clear: both;
            float:left;
            margin-right:15px;
            }
            .my_info_div input {
            height: 25px;
            width: 300px;
            border: 1px solid #000;
            margin-top: 10px;
            float: left;
            }
           
            .my_info_div input[type=button] {
            float: right;
            }
        </style>
    </head>
    <body>
        <div class="col-lg-12 section-gap my_info_div">
            <div class="row">
                <div class="col-lg-9 card my-auto">
                    <div class="card-header">
                        <h1>My Account</h1>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="options-ul">
                                        <li><a href="{% url 'myprofileview' %}">Profile Details</a></li>
                                        <li><a href="{% url 'account_email' %}">Email Settings</a></li>
                                        <li><a href="{% url 'socialaccount_connections' %}">Social Connections</a></li>
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9">
                                    <div class="path_div">
                                        <h6 class="">Settings <i class="fa fa-angle-double-right"></i> Profile Details
                                        </h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 div2 main-tab-div mg-t-5">
                                            <div class="mg-t-20">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <div class="no-user-port-div mg-t-0 ">
                                                        {{form}}
                                                    </div>
                                                    <div class="mg-t-30 text-right  ">
                                                        <p class="mg-t-20 mg-b-0">{{msg}}</p>
                                                        <button type="submit"
                                                            class="savedetails btn btn-primary mg-l-20 mg-t-10">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('.options-ul  li:nth-child(1)').addClass('active');
        // $('.errorlist').hide();
        $("body").css({visibility:'visible'})
      
    </script>
</html>

{% endblock %}