{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
		<link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/MyNotifications.css' %}?v=1.2">
    <title>My Notifications - 72PI</title>
</head>
<body>
  <div class="col-lg-12 section-gap main my_notifications" >
    <div class="row mg-t-20">
        <div class="col-sm-4">
            <h3>My Notifications</h3>
        </div>
      {% if notifications %}
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <select id="sort-select" class="float-right form-control">
                <option value="company">Company</option>
                <option value="portfolio">Portfolio</option>
                <option value="alerttype">Alert Type</option>
              </select>
            </div>
              <div class="col-sm-8 mb-3 ">
                  <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search by Company">
              </div>
          </div>
        </div>
      </div>
      <div class="row mg-t-10 " id="myItems1" >
        {% for item in notifications %}
              <div class="col-sm-4 ">
                  <div class="card mg-b-20">
                      <div class="card-body" style="padding-bottom:2px;padding-top:10px;" >
                          <div class="row">
                              <div class="col-sm-12 pd-l-10 notif-div" >
                                <h4 class="card-title tx-18" style="font-weight:500">
                                  {{item.company_name}} </h4>
                                  <hr class="mg-t-5 mg-b-5">      
                                  <p class="mg-t-5 mg-b-5 alert_type">{{item.alert_type}} Alert</p>
                                  <p class="mg-t-5 mg-b-5 tx-14">Portfolio : <b class="portfolio_name">{{item.portfolio_name}}</b></p>
                                  <p class="mg-t-5 mg-b-5">{{item.condition}}</p>
                                  <p class="created text-italic mg-t-5 mg-b-5">Triggered at : {{item.triggeredat}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %} 
    </div>
    {% else %}
    <div class="no-user-port-div mg-t-0 text-center">
      <b>Currently You don't have any notifications on your account.</b>
      <p>Try 72PI alert system, just by clciking the bell icon</p>
          <p><strong>Note: </strong>&nbsp;You will receive notifications via email</p>
    </div>
    {% endif %}
</div>
</body>
<script>

    $('#sort-select').change(function(){
      $("#myFilter").attr("placeholder", 'Search by '+$( "#sort-select option:selected" ).text())

    })

      function myFunction() {
          var input, filter, cards, cardContainer, h5, title, i;
          input = document.getElementById("myFilter");
          filter = input.value.toUpperCase();
          cardContainer = document.getElementById("myItems1");
          cards = cardContainer.getElementsByClassName("card");
          for (i = 0; i < cards.length; i++) {
            if($('#sort-select option:selected').val()=='company')
                title = cards[i].querySelector(".card-body h4.card-title");
            else if($('#sort-select option:selected').val()=='portfolio')
              title = cards[i].querySelector(".card-body .portfolio_name");
              else
              title = cards[i].querySelector(".card-body .alert_type");


              if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                  cards[i].style.display = "";
              } else {
                  cards[i].style.display = "none";
              }
          }

          
      }
      $("body").css({visibility:'visible'});
</script>
</html>

{% endblock %}