{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/MySubscriptions.css' %}?v=1.2">
    <title>My Subscriptions - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
</head>
<body>
  <div class="col-lg-12 section-gap main mysubscriptiondiv">
    <div class="row mg-t-20">
      <div class="col-sm-12">
        <h2>My Subscriptions</h2>
      </div>
    </div>
    <div class="mg-t-20">
    {% if activesubscriptions %}
    <div class="row mg-t-10 " id="myItems1">
      {% for item in activesubscriptions %}
      <div class="col-sm-12 ">
        <div class="card mg-b-30">
          <div class="card-body col-sm-12 ">
            <div class="row">
              <div class="col-sm-3">
                <h5>Plan</h5>
                <p class="sub_type2">{{item.subscription_type|capfirst}} - {{item.subscription_plan|capfirst}}  </p>
              </div>
              <div class="col-sm-3">
                <h5>Active From</h5>
                <p>{{item.subscription_starts}}</p>
              </div>
              <div class="col-sm-3">
                <h5>Valid through</h5>
                <p>{{item.subscription_ends}}</p>
              </div>
              <div class="col-sm-3">
                <h5>Status</h5>
                <p class="status mg-b-0 text-uppercase">{{item.subscription_status}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mg-t-10 " id="myItems1">
      {% for item in upcomingsubscriptions %}
      <div class="col-sm-12 ">
        <div class="card mg-b-30">
          <div class="card-body col-sm-12 ">
            <div class="row">
              <div class="col-sm-3">
                <h5>Plan</h5>
                <p class="sub_type2">{{item.subscription_type|capfirst}} - {{item.subscription_plan|capfirst}}  </p>
              </div>
              <div class="col-sm-3">
                <h5>Active From</h5>
                <p>{{item.subscription_starts}}</p>
              </div>
              <div class="col-sm-3">
                <h5>Valid through</h5>
                <p>{{item.subscription_ends}}</p>
              </div>
              <div class="col-sm-3">
                <h5>Status</h5>
                <p class="status mg-b-0 text-uppercase">{{item.subscription_status}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mg-t-10 " id="myItems1">
      {% for item in expiredsubscriptions %}
      <div class="col-sm-12 ">
        <div class="card mg-b-30">
          <div class="card-body col-sm-12 ">
            <div class="row">
              <div class="col-sm-3">
                <h5>Plan</h5>
                <p class="sub_type2">{{item.subscription_type|capfirst}} - {{item.subscription_plan|capfirst}}  </p>
              </div>
              <div class="col-sm-3">
                <h5>Active From</h5>
                <p>{{item.subscription_starts}}</p>
              </div>
              <div class="col-sm-3">
                <h5>Valid through</h5>
                <p>{{item.subscription_ends}}</p>
              </div>
              <div class="col-sm-3">
                <h5>Status</h5>
                <p class="status mg-b-0 text-uppercase">{{item.subscription_status}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="no-user-port-div mg-t-0 text-center">
      <b>Currently You don't have any active subscriptions on your account, Please subscribe to us.</b>
      <p>Please visit pricing details for more information</p>
    </div>
    {% endif %}
    </div>
  </div>
</body>
<script>
  $('#myItems1 div').each(function(){
    var statustext=$(this).find('.status').text()
    if(statustext==='active' || statustext==='Active' ||statustext==='ACTIVE')
    {
      $(this).find('.status').addClass('active_status')
    }
    else{
      $(this).find('.status').addClass('inactive_status')
    }
    if($(this).find('.sub_type2').text().includes('Free'))
       {
         $(this).find('.sub_type2').text('30 Day Trial');
       }
  });
  $("body").css({visibility:'visible'});
</script>
</html>
{% endblock %}