{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Portfolio Creation By Stock Selection - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="keywords" content="72piportfoliocreator, portfoliocreator,stockscreener, 72pistockscreener, 72piportfoliogenerator, 72piportfolioconstruction, portfoliogenerator, portfolioconstruction"/>
    <meta name="description" content="To create portfolio of stocks by selecting stocks manually, using filters on technical/fundamental factors or by excel" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
		<link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/NewPortfolio.css' %}?v=1.2">
  </head>
  <body>
    <div class="col-lg-12 section-gap new-portfolio-div">
      <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
            <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
            Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
            Portfolio Creator
            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
            <a href="{% url 'createPortfolio' %}" class="nav-sub-link">Create Portfolio by selecting stocks</a>
        </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
            <div class="banner-btn mg-l-5">
              <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                  aria-hidden="true">
              </i></a>
          </div>
      </div>
  </div> 
  <div id="videoModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
  <iframe id="video-div" height="315" src="https://www.youtube.com/embed/llnUKRDg7x8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
    <div class="disclaimer-text">
      <p class="text-italic">
        Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
      </p>
    </div>  
       <div class="card mg-t-10" style="padding:2% 2% 3% 2%" >
        <div class="table-wrapper">
          <div class="table-title mg-t-0">
            <div class="col-sm-12 row title-div">
              <div class="col-sm-7 text-right pd-r-0">
                <h4 class="text-cente card-title pd-t-5"><label>Create New Portfolio</label></h4>
              </div>
              <div class="col-sm-5 text-right pd-r-0 ">
                {% if portfolios %}
                <button type="button" class="addExisting" >Add To Existing</button>
                {% endif %}
                <button type="button" id="Portfolio_Save" class="mg-l-2 mg-t-5 mg-sm-t-5 mg-lg-t-0">Create Portfolio</button>
              </div>
            </div>
            <div class="col-sm-12 row mg-t-30 mg-b-10 pd-l-0 pd-r-0">
                <div class="col-sm-7 form-inline" >
                  <div class="form-inline mg-r-20" >
                    <label for="" style="color:#0064A3" class="tx-16 mg-r-10"><strong>Market Cap</strong></label>
                    <select id="market-filter">
                      <option value="default">Market Cap > 500{{format|safe}}</option>
                      <option value="all">All</option>
                    </select>
                  </div>
                  
                    <div class="form-inline mg-t-10 mg-sm-t-10 mg-lg-t-0" >
                      <label for="markets" style="color:#0064A3" class="tx-16 mg-r-10"><strong>Filter By Sector</strong></label>
                      <b id="selectedsector"></b>
                    </div>
                </div>
              
                <div class="col-sm-5 mg-t-10 mg-sm-t-10 mg-lg-t-10">
                    <div id="disp">
                      <input id="say" name="search_text" placeholder="Search here....."  type="text" ></input>
                    </div>
                </div>
                
            </div>
            <div class="row md-form">
              <div class="col-sm-6">
                <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
                 <div class="col-sm-6 searchTag">
                </div>
            </div>
            <div class="row md-form mg-t-10 third-div">
              <div class="col-sm-6 default-inv-div">
                Default Investment Amt/Stock:<strong> {{symbol}}</strong><input type="text" class="new_invstamt mg-l-5">
                 <button class="apply_invst">Apply</button>
              </div>
            <div class="col-sm-6 mg-t-10 mg-sm-t-10 mg-lg-t-10 ">
              <button style="display:none;float:right" id="auto_fill" class="quantity_autofill  mg-l-20">Fill Equal Quantity</button>
              <div class="records text-right tx-16 mg-t-0"></div>
            </div>
            </div>
          
          </div>
					<div class="">
					<div class="col-lg-12 table-view mg-t-10">
           <div class="scroll-divs mg-t-0" id="tablediv">
            <div class="view">
              <div class="wrapper">
                <table id="myTable" class="table sortable unselectable" style="width:100%">
                  <thead>
                      <tr>
                          <th data-orderable=false class="sticky-col first-col" ><input name="select_all" value="1" id="selectAll" type="checkbox" /></th>
                          <th class="sticky-col second-col">Company</th>
                          <th class="market_cap_currency non-sticky">Market Cap ({{format|safe}})</th>
                          <th class="non-sticky">Sector</th>
                          <th class="non-sticky">Market Cap Category</th>
                          <td style="display: none;">Min Price</td>
                          <th class="lt_currency non-sticky">Current Price ({{symbol|safe}})</th>
                          <th class="non-sticky" data-orderable=false>Quantity</th>
                          <th class="non-sticky" data-orderable=false style="display: none;">Ticker</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% if companies %}
                          {% for key,company in companies.items %}
                              <tr>
                                  <td class="sticky-col first-col"><input type="checkbox"  class="stock" name="stock"></input></td>
                                  <td class="company sticky-col second-col" name="company" style="color:blue">{{company.company}}</td>
                                  <td>{{company.market_cap}}</td>
                                  <td>{{company.gics}}</td>
                                  <td>{{company.market_cap_category}}</td>
                                  <td style="display: none;">{{company.min_price}}</td>
                                  <td class="lt_price" name="lt_price">{{company.price|floatformat:'0'}}</td>
                                  <td style="width: 5%"><input type="text" class="quantity" name="quantity" disabled="disabled"></input></td>
                                  <td style="display: none;" name="fsTicker" class="fsTicker">{{company.factset_ticker}}</td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </tbody>
              </table>
              </div>
            </div>
           </div>
          </div>
				</div>
      </div>
      </div>
    </div>
    <!-- All Modal divs -->
    <!-- <div class="saveload"></div> -->

     <!-- Delete Stock Modal HTML -->
     <div id="existingPortfolio" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">						
              <h4 class="modal-title">Select your portfolio</h4>
              <div class="saveload"></div>
              <p class="responsemsg" ></p>
            </div>
            <div class="modal-body text-center" style="color:black">
              <p class="text-info">Please select to which portfolio you want to add</p>		
              <select style="display:inline;outline: none;" class="myportfolioName">				
              {% for portfolio in portfolios %}
              <option value="{{portfolio}}">{{portfolio}}</option>
              {% endfor %}
            </select>	
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default  closeexist" data-dismiss="modal" value="Cancel">
              <input type="button" class="btn btn-default  addexist" style="background-color:#5627D8;color:white" value="Create">
            </div>
        </div>
      </div>
    </div>
    
    <a href="#existingPortfolio" style="display: none;" class="existportmodal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
    <a href="#errorModal" style="display: none;" class="errModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
    <!-- Error Detection  Modal HTML -->
     <div id="errorModal" class="modal fade">
         <div class="modal-dialog">
             <div class="modal-content">
                     <div class="modal-header">						
                         <h4 class="modal-title">Alert!</h4>
                         
                     </div>
                     <div class="modal-body text-center" style="color:black">					
                         <p>Some of the fields missing, please fill all the mandatory fields!</p>
                         <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                     </div>
                     <div class="modal-footer text-center">
                         <input type="button" class="btn btn-default ok_btn " data-dismiss="modal" value="OK" style="background-color:#5627D8;color:white">
                     </div>
             </div>
         </div>
     </div>

     <a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
     <!-- Error Detection  Modal HTML -->
      <div id="portfolioNameModal" class="modal fade">

          <div class="modal-dialog">
              <div class="modal-content">
                      <div class="modal-header">						
                          <h4 class="modal-title">Name your portfolio</h4>
                          <div class="saveload"></div>
                         <p class="responsemsg"></p>
                      </div>
                      <div class="modal-body text-center" style="color:black">
                          <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                          <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                      </div>
                      <div class="modal-footer text-center">
             <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                         <input type="button" class="btn btn-default  saveport" style="background-color:#5627D8;color:white"  value="Create">
                      </div>
              </div>
          </div>
      </div>
      <div id="description" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <h3 class="modal-title mg-t-10 text-center"><label>Create Portfolio by selecting stocks</label></h3>
          <div class="modal-body">
            <p>
              This is one of the portfolio construction tools provided by 72pi. In this tool, users can create their portfolios by manually selecting the stocks and editing their investment amount or quantity. Additionally, sorting by market capitalization and sector are provided. 
            </p>     
            </div>
          <div class="modal-footer">
          <input type="button" class="btn btn-default btn-danger" data-dismiss="modal" value="Close">
          </div>
        </div>
        </div>
    </div>
    <!-- End of MODAL divs -->
    
  </body>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>    
	<script src="{% static 'js/table_sort.js' %}"></script>

  <script>
    $('.loader1').fadeOut();
    $('.saveload').fadeOut(100);
    $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');          
        });
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
  $('.loader1').fadeIn();
    var listItems = document.querySelectorAll("tbody .company");
      listItems.forEach(function(item) {
      item.onclick = function(e) {
      var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
      window.open(stockURL, '_blank');
      return false;
    }});
    function killCopy(e) {
      return false
    }
    function reEnable() {
      return true
    }
    document.onselectstart = new Function("return false")
    if (window.sidebar) {
      document.onmousedown = killCopy
      document.onclick = reEnable
    }
    $('.removefilter').on('click', function () {
    }); 
    var def_amt = '{{defaultInvestment|safe}}';
    var market = '{{market|safe}}';
    $('#market-filter').val(market); 
    $('#myTable').DataTable({
      stateSave: false,
      searching: true,
      paging: false,
      info: true,
      ordering: false,
      orderCellsTop: true,     
      columnDefs: [
        { orderable: false, targets: 0 },
      ],
      initComplete: function () {
        this.api().columns([3,]).every(function () {
          var column = this;
          var select = $('<select><option value="">All</option></select>')
            .appendTo("#selectedsector")
            .on('change', function () {
              var val = $(this).val(); 
              column
                .search(val ? '^' + val + '$' : '', true, false)
                .draw();
              $('.records').html("<strong>" + $('#myTable tbody tr').length + "</strong>  Stocks");
              $('.loader1').fadeOut();

            });
            column.data().unique().sort().each(function (d, j) {
            select.append('<option value="' + d + '">' + d + '</option>')
          });
        });
      }
    });
    
    $('#myTable tbody tr td:not(:nth-child(2), :nth-child(4))').each(function() {
          if($(this).text().includes('nan'))
          {
              $(this).text('N/A')
          }
      });
      // $('#myTable input:checkbox').prop('checked', true); 
      // $('#myTable input:text').prop('disabled',false);
      $('#selectAll').click(function (){
        if ($(this).prop("checked"))
        {
          $('#auto_fill').show();
          $('#myTable input:checkbox').prop('checked', this.checked);
          $('#myTable input:text').prop('disabled',false);
        }
        else
        {
          $('#auto_fill').hide();
          $('#myTable input:checkbox').prop('checked', false);
          $('#myTable input:text').prop('disabled',true);
        }
      });
    oTable = $('#myTable').DataTable();   //pay attention to capital D, which is mandatory to retrieve "api" datatables' object, as @Lionel said
      $('#say').keyup(function(){
            oTable.search($(this).val()).draw() ;
      })
    $("th:first").removeClass('sorting_asc')
    $('.new_invstamt').val(def_amt)
    $("input[type=checkbox]", $('#myTable').dataTable().fnGetNodes()).each(function () {
      var tr_price = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
      var def_quantity = parseFloat(def_amt) / parseFloat(tr_price);
      if(tr_price != 0)
      $(this).parents("tr").find('[name=quantity]').val(parseInt(def_quantity));
      else
      $(this).parents("tr").find('[name=quantity]').val(0);
    });

    $(document).on("keypress click input", ".quantity", function () {
      if (/^\+?(0|[1-9]\d*)$/.test($(this).val()) && $(this).val() != 0) {
        document.getElementById("err0").innerHTML = "";
        if ((parseInt($(this).val(), 10) > 2147483647) || parseInt($(this).val(), 10) <= 0) {
          document.getElementById("err0").innerHTML = "Please enter a valid quantity";
          $(this).val("");
          $(this).css('border', '1px solid red')
        }
        else {
          document.getElementById("err0").innerHTML = "";
          $(this).css('border', '1px solid #A9A9A9')
        }
      }
      else if ($(this).val() == "")
        document.getElementById("err0").innerHTML = "";
      else
        $(this).val("");
    });
    // Input field "Portfolio Name" validation

    $(document).on("keypress click input", "#portfolio_name", function () {
      if (/^[A-Za-z0-9 ]+$/.test($(this).val()))
        document.getElementById("err0").innerHTML = "";
      else if ($(this).val() == "")
        document.getElementById("err0").innerHTML = "";
      else
        document.getElementById("err0").innerHTML = "Not a valid name. Special characters not allowed";
    });

    $('#markets').change(function () {
      var e = document.getElementById("markets");
      var country = 'india';     
      window.location.href = "{% url 'countryPreference' %}?mcap=" + country;
      $('.records').html("<strong>" + $('#myTable tbody tr').length + "</strong>  Stocks");
      $('.loader1').fadeOut();
      return false;
    });
    $('#market-filter').change(function () {
      var dropval = $(this).val();
      window.location.href = "{% url 'createPortfolio' %}?mcap=" + dropval;
      return false;
    });
    let SelectedStocks = new Map();
    SelectedStocks.set("Count", 0);
    $(".stock").change(function () {
      $next1 = $(this).closest('tr').find('[name=stock]');
      if ($next1.prop("checked")) {
        var count = parseInt(SelectedStocks.get("Count")) + 1;
        SelectedStocks.set("Count", count);
        if (SelectedStocks.get("Count") > 1)
          document.getElementById("auto_fill").style.display = "block";
        else
          document.getElementById("auto_fill").style.display = "none";
        $next2 = $(this).closest('tr').find('[name=quantity]');
        $next2.prop('disabled', !this.checked);
        $next2.focus();
      }
      else {
        var count = parseInt(SelectedStocks.get("Count")) - 1;
        SelectedStocks.set("Count", count);
        if (SelectedStocks.get("Count"))
          document.getElementById("auto_fill").style.display = "block";
        else
          document.getElementById("auto_fill").style.display = "none";
        $next1 = $(this).closest('tr').find('[name=quantity]');
        // $next1.val("");
        $next1.prop('disabled', true);
        $next1.removeAttr('style');
      }
    });

    $(document).on("click", ".addExisting", function () {
      var myStockList = [];
      var flag = 0;
      var stockCount = $('#myTable tbody input[type=checkbox]:checked').length;
      if (stockCount == 0)
        {
          $('#myTable input:checkbox').prop('checked', true); 
          $('#myTable input:text').prop('disabled',false);
          flag=1;
        }
      $("#myTable tbody input[type=checkbox]:checked").each(function () {
        stock = {};
        stock['stockname'] = $(this).parents("tr").find('td:eq(1)').text().replace(/ *\([^)]*\) */g, "").trim();
        stock['sectorname'] = $(this).parents("tr").find('td:eq(3)').text();
        stock['fsTicker'] = $(this).parents("tr").find('td:eq(8)').text();
        stock['country'] = $('.country-select').val();
        stock['stockprice'] = parseFloat(($(this).parents("tr").find('td:eq(5)').text()).replace(/[,]/g, ''));
        var quantity = $(this).parents('tr').find('td:eq(7) input[type="text"]').val();
        if (quantity)
          stock['stockquantity'] = quantity;
        else {
          $(this).parents('tr').find('td:eq(7) input[type="text"]').css('border', '1px solid red');
          $(".errModal").click(); return false;
        }
        myStockList.push(stock);
      });
      if (myStockList.length) {
        for (var i = 0; i < stockCount; i++) {
          if (myStockList[i]['stockquantity'])
            flag = 1;
          else
            flag = 0;
        }
      }
      if (flag) {
        $(".existportmodal").click();
        $(".addexist").click(function () {
          $('.saveload').fadeIn();
          var e = $(".myportfolioName option:selected").text()
          var portfolioName = e;
          $.ajax({
            type: "POST",
            url: "{% url 'SavePortfolioData' %}",
            dataType: 'json',
            csrfmiddlewaretoken: "{{ csrf_token }}",
            data: {
              'result': JSON.stringify(myStockList),
              'portfolioname': portfolioName,
            },
            success: function (response) {
              if (response.res_Status) {
                $('.saveload').fadeOut(100);
                $('.responsemsg').css('color', 'green');
                $('.responsemsg').html(response.res_Msg);
                localStorage.setItem("{{username}}", response.portfolio);
                setTimeout(function () {
                  $(".closeport").click();
                  location.href = "{% url 'indexpage' %}";
                }, 1000);
              } else {
                $('.saveload').fadeOut(100);
                $('.responsemsg').css('color', 'red');
                $('.responsemsg').html(response.res_Msg);
              }
            },
            error: function (response) {
              console.log("Error detected while adding to existing  portfolio");
            }
          }
          );
          event.preventDefault();
        });
      } else {
        $(".errModal").click();
        return false;
      }
    });

    $(document).on("click", ".apply_invst", function () {
      var def_amt = parseFloat(($(".new_invstamt").val()).replace(/[%,]/g, ''));
      $("input[type=checkbox]", $('#myTable').dataTable().fnGetNodes()).each(function () {
        var tr_price = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
        var def_quantity = parseFloat(def_amt) / parseFloat(tr_price);
    
        if(tr_price==0)
                    $(this).parents("tr").find('[name=quantity]').val(0);
                else
                $(this).parents("tr").find('[name=quantity]').val(parseInt(def_quantity));
      });
      return false;
    });
    $(document).on("click", "#Portfolio_Save", function () {
      var myStockList = [];
      var flag = 0;
      var stockCount =  $('#myTable tbody input[type=checkbox]:checked').length;
      if (stockCount == 0)
        {
      $('#myTable input:checkbox').prop('checked', true); 
      $('#myTable input:text').prop('disabled',false);
      flag=1;
        }
      $("#myTable tbody input[type=checkbox]:checked").each(function () {
        stock = {};
        stock['companyName'] = $(this).parents("tr").find('td:eq(1)').text().replace(/ *\([^)]*\) */g, "").trim();
        stock['sectorName'] = $(this).parents("tr").find('td:eq(3)').text();
        stock['fsTicker'] = $(this).parents("tr").find('td:eq(8)').text();
        stock['lt_price'] = parseFloat(($(this).parents("tr").find('td:eq(5)').text()).replace(/[,]/g, ''));
        stock['country'] = $('.country-select').val();
        var quantity = $(this).parents('tr').find('td:eq(7) input[type="text"]').val();
        if (quantity)
          stock['stockQuantity'] = quantity;
        else {
          $(this).parents('tr').find('td:eq(7) input[type="text"]').css('border', '1px solid red');
          $(".errModal").click(); return false;
        }
        myStockList.push(stock);
      });
      if (myStockList.length) {
        for (var i = 0; i < stockCount; i++) {
          if (myStockList[i]['stockQuantity'])
            flag = 1;
          else
            flag = 0;
        }
      }
      if (flag) {
        $(".nameModal").click();
        $(".saveport").click(function () {
          $('.saveload').fadeIn();
          var portfolioName = document.getElementById("portName").value;
          var e = document.getElementById("markets");
          var country = 'india';
          if (/([^\s])/.test(portfolioName)) {
            $.ajax({
              type: "POST",
              url: "{% url 'saveNewPortfolio'%}",
              dataType: 'json',
              csrfmiddlewaretoken: "{{ csrf_token }}",
              data: {
                'portfolio_list': JSON.stringify(myStockList),
                'portfolio_name': portfolioName,
              },
              success: function (response) {
                if (response.res_Status) {
                  $('.saveload').fadeOut(100);
                  $('.responsemsg').css('color', 'green');
                  $('.responsemsg').html(response.res_Msg);
                  localStorage.setItem("{{username}}", response.portfolio);
                  setTimeout(function () {
                    $(".closeport").click();
                    location.href = "{% url 'indexpage' %}";
                  }, 1000);
                } else {
                  $('.saveload').fadeOut(100);
                  $('.responsemsg').css('color', 'red');
                  $('.responsemsg').html(response.res_Msg);
                }


              },
              error: function (response) {
                console.log("Error detected while creating portfolio");
              }
            }
            );
            event.preventDefault();
          } else {
            $('.responsemsg').css('color', 'red');
            $('.responsemsg').html('Please choose name to your portfolio');
          }
        });
      } else {
        $(".errModal").click();
        return false;
      }
    });
    $('.quantity_autofill').click(function autoFill() {
      var auto_quantity = prompt("Please enter quantity", "0");
      if (auto_quantity) {
        if (/^\+?(0|[1-9]\d*)$/.test(auto_quantity)) {
          if ((parseInt(auto_quantity, 10) < 2147483647) && (parseInt(auto_quantity, 10) > 0)) {
            localStorage.setItem('auto_quantity', auto_quantity);
            $("input[type=checkbox]:checked", $('#myTable').dataTable().fnGetNodes()).each(function () {
              $(this).closest("tr").find('[name=quantity]').val(auto_quantity);
            });
          } else {
            alert("Sorry, quantity is invalid!");
            autoFill();
          }
        }
        else {
          alert("Sorry, quantity is always positive number!");
          autoFill();
        }
      }
    });


    localStorage.setItem('getrecords', $('.records strong').text());
    $('.records').html("<strong>" + $('#myTable tbody tr').length + "</strong>  Stocks");
    $('.loader1').fadeOut();



    var e = $('#markets').val()
    if ('{{symbol|safe}}'== '$')
      flag ='en-US'
    else
      flag =  'hi-IN'
    $("table tr td:nth-child(3)").each(function () {
      $(this).html(parseFloat($(this).text()).toLocaleString(flag, { maximumFractionDigits: 0 }));

    });
    $("table tr td:nth-child(6)").each(function () {
      $(this).html(parseFloat($(this).text()).toLocaleString(flag, { maximumFractionDigits: 0 }));

    });
    $(".new_invstamt").val(parseInt($('.new_invstamt').val().replace(/\D/g, ''), 10).toLocaleString(flag))

    $(".new_invstamt").on('keyup', function () {
      if (($(this).val()).length == 0)
        return 0
      else {
        var n = parseInt($(this).val().replace(/\D/g, ''), 10);
        $(this).val(n.toLocaleString(flag));
      }

    });
    function checkWidth() {

      if ($(window).width() < 580) {
        $('.table thead th:nth-child(1)').removeClass('sticky-col first-col');
        $('.table tbody td:nth-child(1)').removeClass('sticky-col first-col');
        $('.table thead th:nth-child(2)').removeClass('sticky-col second-col');
        $('.table tbody td:nth-child(2)').removeClass('sticky-col second-col');
      }
      else {
        $('.table thead th:nth-child(1)').addClass('sticky-col first-col');
        $('.table tbody td:nth-child(1)').addClass('sticky-col first-col');
        $('.table thead th:nth-child(2)').addClass('sticky-col second-col');
        $('.table tbody td:nth-child(2)').addClass('sticky-col second-col');
      }
    }
    checkWidth();
    $(window).resize(checkWidth);
    $("body").css({visibility:'visible'});
   
    $("table").css({display:'table'});
  </script>
{% endblock %}
