{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/NoSubscription.css' %}?v=1.2">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    
  </head>
  <body>
    <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="cards" style="margin:1px auto">
                <div class="card-header">
                    <h2>Hi, Thanks for having account in 72PI</h2>
                    <hr>
                </div>
                <div class="card-body">
                    <h1></h1>
                    <h4>You have not subscribed yet, please subscribe to us</h4>
                    <p class="text-white mg-t-5">For more details, please checkout our pricing</p>
                   <div class="mg-t-40">
                    <a href="{% url 'pricingDetails' %}" class="subscribe-btn mg-t-20">Get Subscribe</a>
                   </div>
                </div>
            </div>
        </div>
    </div>
 <script> $("body").css({visibility:'visible'});</script>
  </body>
</html>
{% endblock %}