{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <title>Order failure - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <style>
        body{
            background-color: #1A0C4B !important;
        }
      
      .base-header{
        display: block !important
      }
      .analytics-header , .subnav-content,footer{
        display:none !important
      }
      h1,h2,h3,h4,h5,h6,ul li,label,p,i{
        color:white !important;
      }
      h4{
        font-size:17px !important;
      }
      hr{
        border-bottom: 1px solid white !important;
      }
      .fa-times-circle{
          font-size: 7em !important;
      }
      .button-divs{
        text-align: center !important;
      }
      .button-divs h3{
        display: inline-block;
      }
      .button-divs h3 a{
        color:white !important;
        font-size:18px !important;
      }
      
    </style>
  </head>
  <body>
    <div class="col-lg-12 section-gap">
      <div class="row">
        <div class="cards col-lg-6" style="margin:30px auto 0px auto">
          <div class="text-center">
              <i class="fa fa-times-circle text-dangers" aria-hidden="true"></i>
              <div class="mg-t-20">
                <h1 class="text-dangers">Payment Failed!</h1>
                <div class="mg-t-20 button-divs">
                      <h3 class="mg-t-20 mg-r-80"><a href="{% url 'pricingDetails' %}" class="btn btn-success"><i class="fa fa-refresh mg-r-10"></i>Retry</a></h3>
                      <h3 class="mg-t-20"><a href="{% url 'home' %}" class="btn btn-danger"><i class="fa fa-times mg-r-5"></i>Cancel</a></h3>
                </div>
              
              </div>
              <p class="tx-12 mg-t-40">If you have any questions or concerns regarding this, do not hesitate to contact
                  us at <a href="mailto:72pi@aishva.com " class="tx-12 text-white">72pi@aishva.com </a></p>
 
          </div>
        </div>
      </div>
    </div>
<script> $("body").css({visibility:'visible'});</script>
  </body>
  
</html>
{% endblock %}
