{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <title>Order Success - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <style>
        body{
            background-color: #1A0C4B !important;
        }
      
      .base-header{
        display: block !important
      }
      .analytics-header , .subnav-content,footer{
        display:none !important
      }
      h1,h2,h3,h4,h5,h6,ul li,label,p,i{
        color:white !important;
      }
      h4{
        font-size:17px !important;
      }
      hr{
        border-bottom: 1px solid white !important;
      }
      .fa-check-circle{
          font-size: 7em !important;;
      }
   
    </style>
  </head>
  <body>
    <div class="col-lg-12 section-gap">
      <div class="row">
        <div class="cards col-lg-6" style="margin:30px auto 0px auto">
          <div class="text-center">
              <i class="fa fa-check-circle " aria-hidden="true"></i>
              <div class="mg-t-20">
                <h1>Thanks for Subscribing!</h1>
                <h6 class="mg-t-20">Your Subscription is activated now</h6>
                <p class="mg-t-10 tx-16">Subscription : {{subscription|capfirst}} Premium</p>
              </div>
              <p class="tx-22 mg-t-20">We hope you enjoy our services</p>
              <p class="tx-20 mg-t-30">Your Subscription is valid till {{endtime}}</p>
              <p class="tx-12 mg-t-40">If you have any questions or concerns regarding this, do not hesitate to contact
                  us at <a href="mailto:72pi@aishva.com " class="tx-12 text-white">72pi@aishva.com </a></p>
 
          </div>
        </div>
      </div>
    </div>
  </body>
<script> $("body").css({visibility:'visible'});</script>
</html>
{% endblock %}
