{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en-US"><head>

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2"> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
  
           <style type="text/css">
 .base-header, .basefooter {
    display: block !important
}
 #home.page-pricing .products .package {
    width:370px !important;
}
 
  </style>
  <link rel="stylesheet" id="sage/main.css-css" href="https://pro.benzinga.com/wp-content/themes/benzinga-pro/dist/styles/main_7aed5ea7.css" type="text/css" media="all">
  <link rel="stylesheet" id="sage/custom.css-css" href="https://pro.benzinga.com/wp-content/themes/benzinga-pro/dist/styles/custom_7aed5ea7.css" type="text/css" media="all">

 
  <body class="page-template page-template-pricing-page pricing-page page page-id-17 pricing chrome windows not-home-page app-data index-data singular-data page-data page-17-data page-pricing-data pricing-page-data" cz-shortcut-listen="true">
        
    <div class="wrap" role="document">
    <div class="content">
        {{form|crispy}}
   
      
    </div>
    </div>

<script> $("body").css({visibility:'visible'});</script>
</body>
</html>
    {% endblock %}