{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">  
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My Portfolio - 72PI</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
		<link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
		<link rel="stylesheet" href="{% static 'css/PortfolioDetails.css' %}?v=1.2">
	</head>
		<body>
		<div class="col-lg-12 section-gap portfolio-details-div">
			<div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
						<a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
						<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
						Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
						Portfolio Creator
						<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
						<a href="{% url 'indexpage' %}" class="nav-sub-link">Portfolio Holdings</a>
					</p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
						<div class="banner-btn mg-l-5">
                            <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                                aria-hidden="true">
                            </i></a>
                        </div>
                    </div>
                </div> 
                <div id="videoModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
								<iframe id="video-div" height="315" src="https://www.youtube.com/embed/llnUKRDg7x8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

		
			<div class="disclaimer-text">
				<p class="text-italic">
					Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
				</p>
			</div> 

			<div class="card mg-t-10" style="padding:0% 1%">
				<div class="card-header">
					<h4 class="card-title text-center"><label class=" mg-b-0" >My Portfolio</label></h4>
				</div>
				
				<div class="table-wrapper">
					<div class="col-sm-12 pd-l-0 pd-r-0">
						<div class="row pd-l-0 mg-l-0 ">
							<div class="col-sm-6 d-flex mg-l-0 pd-l-0">
								<div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
									<span style="font-size:18px;" class="mg-l-0 mg-r-5">Select Portfolio </span>
									<div id="portfolio-select-div"></div>
								</div>
							</div>
							<div class="col-sm-6 text-right">
							<button type="button" class="import-new-portfolio" ><a href="{% url 'ModelPortfolio' %}">Import Model Portfolio</a></button>
							<button type="button" class="create-new-portfolio" ><a href="{% url 'createPortfolio' %}">Create New Portfolio</a></button>
							<button type="button" class="edit-portfolio" >
								<div  id="drop-down">
									<ul  class="nav-menu">
										<li class="menu-has-children">
											<a href="#"  class="az-header-menu-icons menu-icons" >Edit <span class="fa fa-pencil"></span></a>
											<ul class="submenu">
												<li class="addsp" style="color: #04091D;cursor: pointer;"><a>Add New Stock</a></li>
												<li class="expport"><a style="color: #04091D;cursor: pointer;">Export Portfolio</a></li>
												<li class="delsp" style="color: #04091D;cursor: pointer;"><a>Delete Portfolio</a></li>
											</ul>
										</li>
									</ul>
									<a href="#exportPortfolioModal" style="display: none;" class="exportport btn-danger" data-toggle="modal"><i class="fa fa-minus-circle" aria-hidden="true"></i><span>Export Portfolio</span></a>
									<a href="#deletePortfolioModal"  style="display: none;" class='del' data-toggle="modal"><i class="fa fa-minus-circle" aria-hidden="true"></i><span>Delete Portfolio</span></a>
									<a href="#addStockModal" style="display: none;" class="add btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Add Stock/Portfolio</span></a>
								</div>
							</button>
						

							</div>
						</div>
					</div>
						{% if not stocks %}
						<div class="scroller scroller-left-1 mg-t-10"><i class="fa fa-chevron-left"></i></div>
						<div class="scroller scroller-right-1 mg-t-10"><i class="fa fa-chevron-right"></i></div>
						<div class="no-user-port-div mg-t-0 text-center" style="display:none">
							<h4>Currently You don't have any user created portfolios</h4>
							<p class="mg-t-10">To create a portfolio by selecting stocks <a href="{% url 'createPortfolio' %}" target="_blank" class="create">Click Here</a></p>
							<p class="mg-t-10">To create a portfolio by using filters <a href="{% url 'customerPreferences' %}" target="_blank" class="generate">Click Here</a></p>
						</div>
						{% endif %}
						<div class="dashboard-five-stacked-charts main-table-results-div">	
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-6 pd-l-0">	
										<div class="d-flex pd-t-10">
											<div class="tx-13 mg-r-20"><span id="createddate" ></span></div>
											<div class="tx-13 mg-r-20"><span id="modifieddate" class="tx-13 mg-r-20"></span></div>
										</div>
									</div>
									<div class="col-lg-6 text-right pd-r-0">
										<div class="row">
											
											<div class="col-sm-9  mg-t-10 text-right pd-0">
												<div id="disp">
												  <input id="say" name="search_text" placeholder="Search here....."  type="text" ></input>
												</div>
											</div>
											<div class="col-sm-3">
											<div class="records tx-16 mg-t-0 pd-t-15 text-right"></div>

											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="view">
								<div class="wrapper2 table-responsive mg-t-10">
									<table class="table mg-t-0 sortable unselectable" id="myTable">
										<thead id="table-header">
											<tr>
												<th style="display:none">Portfolio Name</th>
												<th name="cname" class="cname  sticky-col first-col">Company Name</th>
												<th name="sname" class="sname non-sticky">Sector Name</th>
												<th name="sname" class="sname non-sticky">Mcap Category</th>
												<th name="quantity" class="quantity non-sticky">Quantity</th>
												<th name="ltp" class="ltp non-sticky">Current Price ({{symbol|safe}})</th>
												<th name="invstamt" class="invstamt non-sticky">Current Market Value({{symbol|safe}})</th>
												<th class="non-sticky">Alerts</th>
												<th class="non-sticky">Edit/Delete</th>
											</tr>
										</thead>
										<tbody>
											{% for key, stock in stocks.items  %}
											<tr>
											<td style="display:none">{{stock.portfolio_name}}</td>
											<td class="company sticky-col first-col">{{stock.company_name}}</td>
											<td class="long">{{stock.sector_name}}</td>
											<td class="long">{{stock.mcap_cat}}</td>
											<td class="long">{{stock.quantity}}</td>
											<td class="long">{{stock.current_price}}</td>
											<td class="long">{{stock.quantity|mul:stock.current_price|floatformat:'2'}}</td>
											{% ifequal stock.isAlertSent "Yes" %}
											<td  class="text-center long seen">
												<a href="#addAlertModal" class="addalert notifications_symbol"  data-toggle="modal" style="font-size:18px;padding:0px 5px"> <i style="color:red" class='fa fa-bell'></i>
												<a href="#" style="font-size:18px;padding:0px 5px"> <i  style="color:transparent" class='fa fa-bell'></i>
											</td>
											{% else %}
											<td  class="text-center long unseen">
												<a href="#addAlertModal" class="addalert"  data-toggle="modal" style="font-size:18px;padding:0px 5px"> <i style="color:orange" class="fa fa-bell"></i></a>
												{% ifequal stock.isAlertExist "Yes" %}
												<button class="edit_alert1" style="font-size:18px;padding:0px 5px"  > <i style="color:orange" class="fa fa-pencil"></i></button>
												{% else %}
												<span class="">&emsp;&emsp;</span>
												{% endifequal %}
											</td>
											{% endifequal %}
											<td class="text-center long"> 
												<a href="#editStockModal" class="edit  mg-r-5 btn-sm btn-primary" data-toggle="modal"><span class="fa fa-pencil"></span></a>
												<a href="#deleteStockModal" class="delete  mg-r-5 btn-sm btn-danger" data-toggle="modal"> <span class="fa fa-trash"></span></a>
											</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
							<script>
								$('#myTable tr').each(function() {
									if('{{symbol|safe}}'==='$')
										flag='en-US'
									else
										flag='hi-IN'  
									$(this).find("td").eq(4).html(parseFloat($(this).find("td").eq(4).text()).toLocaleString(flag, { maximumFractionDigits: 0}));
									$(this).find("td").eq(5).html(parseFloat($(this).find("td").eq(5).text()).toLocaleString(flag, { maximumFractionDigits: 0}));
									$(this).find("td").eq(6).html(parseFloat($(this).find("td").eq(6).text()).toLocaleString(flag, { maximumFractionDigits: 0}))
								});
							</script>
								</div>
							</div> 
						</div>
				</div>
			</div>
		</div>
		<!-- All modal divs -->
		

			<!-- Add Stock Modal HTML -->
			<div id="addStockModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
							<div class="modal-header" style="padding:10px 20px;">						
								<h4 class="modal-title font-weight-normal" style=>Add New Stock</h4>
								<div class="saveload"></div>
								<p id="addresponsemsg"></p>
							</div>
							<div class="modal-body" style="padding:10px 20px;">					
								<div class="form-group">
									<label>Company Name</label>
									<div id="companieslist"></div>
								</div>
								<div class="form-group">
									<label>Sector</label>
									<input type="text" class="form-control stocksector" id="stocksector" required readonly>
								</div>
								<div class="form-group">
									<label>Quantity</label>&nbsp;&nbsp;<label id="err0"></label>
									<input type="text" class="form-control stockquantity" id="stockquantity"  required>
								</div>
								<div class="form-group">
									<label>Current Price ({{symbol|safe}}) </label>
									<input type="text" class="form-control getltp" id="getltp" required readonly>
								</div>
								<div class="form-group" style="display: none;">
									<label>Price as on Jan 01,2019 ({{symbol|safe}})</label>
									<input type="text" class="form-control backprice" id="backprice" required readonly>
								</div>
								<div class="form-group">
									<label>Investment Amt ({{symbol|safe}})</label>
									<input type="text" class="form-control" id="stockamt" required readonly>
								</div>
								<div class="form-group" style="display: none;">
									<label>FS Ticker</label>&nbsp;&nbsp;<label></label>
									<input type="text" class="form-control stockfsticker" id="stockfsticker" required readonly>
								</div>
								<div class="text-right mg-t-20">
									<input type="button" class="btn btn-default closenewstock btn-danger" data-dismiss="modal" value="Cancel">
									<input type="button" class="btn  addnewstock" style="background-color:#5627D8;color:white" value="Add">
								</div>
							</div>
							
					</div>
				</div>
			</div>
			<!-- Edit Stock Modal HTML -->
			<div id="editStockModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
							<div class="modal-header" style="padding:10px 20px;">						
								<h4 class="modal-title font-weight-normal">Edit Stock</h4>
								<div class="saveload"></div>
								<p id="responsemsg"></p>
							</div>
							<div class="modal-body" style="padding:10px 20px">					
								<div class="form-group">
									<label>Company Name</label>
									<input type="text" class="form-control newcname" id="newcname" required readonly>
								</div>
								<div class="form-group">
									<label>Quantity</label>
									<input type="text" class="form-control newquantity" id="newquantity" required>
								</div>
								<div class="form-group">
									<label>Purchase Price ({{symbol|safe}})</label>
									<input type="text" class="form-control newltp" id="newltp" required readonly>
								</div>
								<div class="form-group">
									<label>Investment Amt ({{symbol|safe}})</label>
									<input type="text" class="form-control newinvstamt" id="newinvstamt" required readonly>
								</div>					
							
							<div class="text-right mg-t-15">
								<input type="button" class="btn btn-default closeupdate btn-danger" data-dismiss="modal" value="Cancel">
								<input type="button" class="btn saveupdatedstock" style="background-color:#5627D8;color:white" value="Save">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Delete Stock Modal HTML -->
			<div id="deleteStockModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
							<div class="modal-header ">						
								<h4 class="modal-title font-weight-normal">Delete Stock</h4>
								<div class="saveload"></div>
								<p id="deleteresponsemsg" ></p>
							</div>
							<div class="modal-body text-center" style="color:black">					
								<p>Are you sure you want to delete the Stock?</p>
								<input type="text" id="stocktobedeleted" style="display: none;" ></input>
								<p class="text-warning "><small>This action cannot be undone.</small></p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default btn-danger closestockdelete" data-dismiss="modal" value="Cancel">
								<input type="button" class="btn btn-primary deletestock" value="Delete">
							</div>
					</div>
				</div>
			</div>
			<!-- Delete Portfolio Modal HTML -->
			<div id="deletePortfolioModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content text-center">
							<div class="modal-header">						
								<h4 class="modal-title">Delete Portfolio</h4>
								<div class="saveload"></div>
								<p id="deleteportfolioresponsemsg"></p>
							</div>
							<div class="modal-body">					
								<p>Are you sure you want to delete the Portfolio?</p>
								<p class="text-warning"><small>This action cannot be undone.</small></p>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default btn-danger  closedelportfolio" data-dismiss="modal" value="Cancel">
								<input type="button" class="btn btn-primary deleteportfolio" value="Delete">
							</div>
					</div>
				</div>
			</div>
			<!-- Export Portfolio Modal HTML -->
			<div id="exportPortfolioModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content text-center">
							<div class="modal-body">					
								<h6 class="text-success">Current displayed portfolio will be exported excel</h6><br><br>
								<p class="text-info">Check below option to export all your portfolio's</p>
								<input type="checkbox" name="exportfolio" id="exportfolio" value="allportfolios">
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default btn-danger closeexport" data-dismiss="modal" value="Cancel">
								<input type="button" class="btn btn-primary exportportfolio" value="Export">
							</div>
					</div>
				</div>
			</div>
			<!-- Clone Portfolio Modal HTML -->
			<div id="clonePortfolioModal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content text-center">
							<div class="modal-body">					
								<p class="text-info">Do you want to clone your current portfolio with latest prices?</p>
								<div class="form-group">
								<label>Portfolio Name</label>
								<input type="text" name="cloneport" id="cloneport" placeholder="Enter name of portfolio">
								</div>
							</div>
							<div class="modal-footer">
								<input type="button" class="btn btn-default btn-danger closeclone" data-dismiss="modal" value="Cancel">
								<input type="button" class="btn btn-primary cloneportfolio" value="Proceed">
							</div>
					</div>
				</div>
			</div>
			<!-- Add Alert Stock Modal HTML -->
			<div id="addAlertModal" class="modal fade">
				<div class="modal-dialog alert-primary">
					<div class="modal-content alert-primary PD-10">
							<div class="modal-header mg-b-0 ">						
								<div class="col-lg-12">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeAll();">
										<span aria-hidden="true">&times;</span>
									  </button>
									<div class="row">
										<div class="col-lg-8" style="padding-left:0px">
											<h5 class="modal-title">Alerts for </h5>
											<p style="display: none;" id="alertcompany"></p>
											<strong style="color:#5627D8;font-weight:450" class="text-italic" id="alertcompanysecuritycode"></strong>
										</div>
										<div class="col-lg-4 text-right">
											<button class="btns active alerts_tab">Alerts</button>
											<button class="btns notifications_tab">Notifications</button><sup><i style="color:red" class='fa fa-bell faa-ring animated '></i></sup></a>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-body alerts_modal_port_details">
								<div class="col-lg-12 alerts_window">
									<div class="row">
										<div class="col-lg-12" >
											<div class="pricealerts pd-b-20" style="border-bottom:1px solid #cdd4e0;">
												<div class="row">
													<div class="col-sm-6">
														<h6>Price Movement Alerts</h6>
													</div>
													<div class="col-sm-6 text-right">
														<button class="pricenew newbtn">ADD</button>
													</div>
												</div>
												<div class="col-sm-12 mg-t-10 display-priceinput-div" style="display:none">
													<div class="row input-section1">
														<div class="col-sm-2 ">
															<select id="price_movement_select1">
																<option value="Buy">Buy</option>
																<option value="Sell">Sell</option>
															</select>
														</div>
														<div class="col-sm-2 pd-l-5 pd-r-5">
															<input type="text" class="form-control" aria-label="Small" placeholder="Last Price" readonly  aria-describedby="inputGroup-sizing-sm">
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="">
																<div class="col-auto ">
																	<select class="custom-select mr-sm-2 pricecondition" id="inlineFormCustomSelect">
																		<option value="above">Increases Above</option>
																		<option value="below">Decreases Below</option>
																	</select>
																</div>
															  </div>
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="input-group">
																<div class="input-group-prepend">
																  <span class="input-group-text us_ind">INR</span>
																</div>
																<input type="text" class="form-control" id="pricevalue" placeholder="Enter price" aria-label="Amount (to the nearest dollar)">
															</div>
															<span class="tx-12" id="currentprice" style="color:#5627D8"></span>
														</div>
													</div>
													<div class="row input-section2 mg-t-0">
														<div class="col-sm-2 ">
															<select id="percent_movement_select2">
																<option value="Buy">Buy</option>
																<option value="Sell">Sell</option>
															</select>
														</div>
														<div class="col-sm-2 pd-l-5 pd-r-5">
															<input type="text" class="form-control" aria-label="Small"placeholder="Last Price" readonly  aria-describedby="inputGroup-sizing-sm">
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="col-auto ">
																<select class="custom-select mr-sm-2 percentcondition" id="inlineFormCustomSelect">
																	<option value="above">Increases Above</option>
																	<option value="below">Decreases Below</option>
																</select>
															  </div>
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="input-group">
																<input type="text" class="form-control" id="pricepercent" placeholder="Enter Value"  aria-label="Amount (to the nearest dollar)">
																<div class="input-group-append">
																	<span class="input-group-text">%</span>
																</div>
															</div>
														</div>
													</div>
													<div class="row input-section3 mg-t-15">
														<div class="col-sm-2">
															<select id="_52wh_movement_select3">
																<option value="Buy">Buy</option>
																<option value="Sell">Sell</option>
															</select>
														</div>
														<div class="col-sm-2 pd-l-5 pd-r-5">
															<input type="text" class="form-control" aria-label="Small"placeholder="Last Price" readonly  aria-describedby="inputGroup-sizing-sm">
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="col-auto ">
																<select class="custom-select mr-sm-2 52whcondition" id="inlineFormCustomSelect">
																	<option value="above">Increases Above</option>
																	<option value="below">Decreases Below</option>
																  </select>
															  </div>
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5" >
															<div class="input-group">
																<input type="text" class="form-control" id="52whpercent"  placeholder="Enter Value" aria-label="Amount (to the nearest dollar)">
																<div class="input-group-append">
																	<span class="input-group-text">%</span>
																</div>
															</div>
															<p class="tx-10" style="  margin-bottom: 0rem">of 52-week high</p>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-8 mg-t-10">
															<span class="pricealertsresponse"></span>
														</div>
														<div class="col-sm-4 mg-t-10 text-right">
															<button type="button" class="btn pricesavebtn btn-success">Save</button>
															<button type="button" class="btn pricecancelbtn btn-outline-danger" >Cancel</button>
														</div>
													</div>
												
												</div>
											</div>
											<div class="technicalalerts mg-t-20 pd-b-20">
												<div class="row">
													<div class="col-sm-6">
														<h6>Technical Indicator Alerts</h6>
													</div>
													<div class="col-sm-6 text-right">
														<button class="technew newbtn">ADD</button>
													</div>
												</div>
												<div class="col-sm-12 mg-t-10 display-techinput-div" style="display:none">
													<div class="row input-section1">
														<div class="col-sm-2 ">
															<select id="rsi_indicator_select1">
																<option value="Buy">Buy</option>
																<option value="Sell">Sell</option>
															</select>
														</div>
														<div class="col-sm-3">
															<input type="text" class="form-control" aria-label="Small" placeholder="14 Day RSI" disabled aria-describedby="inputGroup-sizing-sm">
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="col-auto ">
																<select class="custom-select mr-sm-2 rsicondition" id="inlineFormCustomSelect">
																  <option value="lessthan">Less than</option>
																  <option value="greaterthan">Greater than</option>
																</select>
															  </div>
														</div>
														<div class="col-sm-3">
															<div class="input-group">
																<input type="text" class="form-control" id="rsivalue" placeholder="Enter Value (0-100)" aria-label="Amount (to the nearest dollar)">
															</div>
														</div>
													</div>
													<div class="row input-section2 mg-t-15">
														<div class="col-sm-2 ">
															<select id="dma_indicator_select2">
																<option value="Buy">Buy</option>
																<option value="Sell">Sell</option>
															</select>
														</div>
														<div class="col-sm-3 pd-r-0 pd-l-0">
															<div class="col-auto ">
																<select class="custom-select leftdma" id="inlineFormCustomSelect">
																	<option value="select" disabled selected>select</option>
																	<option value="ma9">9 Day MA</option>
																	<option value="ma26">26 Day MA</option>
																	<option value="ma50">50 Day MA</option>
																	<option value="ma100">100 Day MA</option>
																	<option value="ma200">200 Day MA</option>
																</select>
															</div>
														</div>
														<div class="col-sm-4 pd-l-5 pd-r-5">
															<div class="col-auto ">
																<select class="custom-select dmacondition" id="inlineFormCustomSelect">
																	<option value="lessthan">Less than</option>
																	<option value="greaterthan">Greater than</option>
																</select>
															</div>
														</div>
														<div class="col-sm-3 pd-r-0 pd-l-0">
															<div class="col-auto ">
																<select class="custom-select rightdma" id="inlineFormCustomSelect">
																	<option value="select" disabled selected>select</option>
																	<option value="ma9">9 Day MA</option>
																	<option value="ma26">26 Day MA</option>
																	<option value="ma50">50 Day MA</option>
																	<option value="ma100">100 Day MA</option>
																	<option value="ma200">200 Day MA</option>
																</select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-8 mg-t-10">
															<span class="techalertsresponse"></span>
														</div>
														<div class="col-sm-4 mg-t-10 text-right">
															<button type="button" class="btn techsavebtn btn-success">Save</button>
														<button type="button" class="btn techcancelbtn btn-outline-danger" >Cancel</button>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
								</div>	
								<div class="col-lg-12 notifications_window_div pd-t-10 pd-b-5" >
								</div>
							</div>
					</div>
				</div>
			</div>
			<div id="description" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<h3 class="modal-title mg-t-10 text-center"><label>My Portfolio</label></h3>
						<div class="modal-body">
							<p>
								My Portfolio shows the current holdings of both the user portfolio and model portfolios. Users
								can create an alert, edit their quantities in the user portfolio. Alerts can be created by both
								price movement and basic technical indicators like RSI and Moving averages. Portfolios are
								presented with the current market value, quantity, market capitalization category and sectors of
								each stock, to help users in portfolio construction.
							</p>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal"
								value="Close">
						</div>
					</div>
				</div>
			</div>

		<!-- End of all modal divs -->
	</body>
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>    
	<script src="{% static 'js/table_sort.js' %}"></script>
	<script>
		
		$(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
        })
		$('.saveload').fadeOut();
		/// Disablng the dropdown values based on on dropdown selection   (Added by vennela)
		$("select.leftdma").change(function () {
				$("select.rightdma option[value='" + $(this).data('index') + "']").prop('disabled', false);
				$("select.rightdma option[value='" + $(this).data('index') + "']").css('background-color', 'transparent');
				$(this).data('index', this.value);

				$("select.rightdma option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
				$(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);

				$("select.rightdma option[value='" + this.value + "']:not([value=''])").css('background-color', '#E7E9ED');
			});

			$("select.rightdma").change(function () {
				$("select.leftdma option[value='" + $(this).data('index') + "']").prop('disabled', false);
				$("select.leftdma option[value='" + $(this).data('index') + "']").css('background-color', 'transparent');
				$(this).data('index', this.value);

				$("select.leftdma option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
				$(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);

				$("select.leftdma option[value='" + this.value + "']:not([value=''])").css('background-color', '#E7E9ED');
			});
			/// End of ----------------Disablng the dropdown values based on on dropdown selection

	 	$(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
		$(document).ready(function () {
		var country= $('.country-select').val();
		if (localStorage.getItem("country-val")=='India')
			$('.us_ind').html("INR");
		else
			$('.us_ind').html("USD");
		$('#myTable').DataTable({
		stateSave: false,
		searching: true,
		paging: true,
		info: false,
		ordering: false,
		orderCellsTop: true,
		columnDefs: [
			{ orderable: false, targets: 0 },
		],
		"searchCols": [
			{ "search": '{{recentportfolio|safe}}'},
			null,	null,	null,	null,	null,	null,	null,	null,
		],
		initComplete: function () {
			this.api().columns([0,]).every(function () {
			var column = this;
			var select = $('<select id="portfolio-select"></select>')
				.appendTo("#portfolio-select-div")
				column.data().unique().sort().each(function (d, j) {
				select.append('<option value="' + d + '">' + d + '</option>')
			});
			$('#portfolio-select').val('{{recentportfolio|safe}}');
			var portfolio = $('#portfolio-select').val();
			portfolioChanger(portfolio);
			$("#portfolio-select").on('change', function () {
			var portfolio = $(this).val(); //Escape Regex is issue here
			column
				.search(portfolio ? '^' + portfolio + '$' : '', true, false)
				.draw();
				portfolioChanger(portfolio);
				var table = $('#myTable').DataTable();
				$('.records').html("Total : <strong>" +JSON.stringify(table.page.info().recordsDisplay) + "</strong>  Stocks");
			});
			var table2 = $('#myTable').DataTable();
			$('.records').html("Total : <strong>" +JSON.stringify(table2.page.info().recordsDisplay) + "</strong>  Stocks");
			});
		},
		});
		oTable = $('#myTable').DataTable();   //pay attention to capital D, which is mandatory to retrieve "api" datatables' object, as @Lionel said
		$('#say').keyup(function(){
		oTable.search($(this).val()).draw() ;
		})
	});

	$(document).on("click", ".company", function () {
		var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
		window.open(stockURL, '_blank');
		return false;
	});
	$(".addsp").click(function () {
		$(".add").click();
	});
	$(".delsp").click(function () {
		$(".del").click();
	});
	$(".expport").click(function () {
		$(".exportport").click();
	});
	$(".cloneport").click(function () {
		$(".clonenow").click();
	});
	
	$('#editStockModal').on('show.bs.modal', function (e) {
		var _button = $(e.relatedTarget);
		var _row = _button.parents("tr");
		$(this).find(".newcname").val(_row.find('td:eq(1)').text());
		$(this).find(".newquantity").val(_row.find('td:eq(4)').text());
		$(this).find(".newltp").val(_row.find('td:eq(5)').text());
		$(this).find(".newinvstamt").val(_row.find('td:eq(6)').text());
	});
	$(document).on("click", ".saveupdatedstock", function () {
		var portfolioname = $('#portfolio-select').val();
		// var portfolioname = $(".tab-list li.active").text().trim();
		$('.saveload').fadeIn();

		var stockname = document.getElementById("newcname").value;
		var stockquantity = parseFloat(document.getElementById("newquantity").value.replace(/[%,]/g, ''));
		var stockprice = parseFloat(document.getElementById("newltp").value.replace(/[%,]/g, ''));
		if (Number(stockquantity)) {
			$.ajax({
				type: "POST",
				url: "{% url 'updateSavedStockFromPortfolio'%}",
				dataType: 'json',
				csrfmiddlewaretoken: "{{ csrf_token }}",
				data: {
					'companyname': stockname, 'quantity': stockquantity, 'portfolioname': portfolioname, 'price': stockprice
				},
				success: function (json) {
					$('.saveload').fadeOut(100);
					$('#responsemsg').css('color', 'green');
					document.getElementById("responsemsg").innerHTML = json.result;
					localStorage.setItem("{{username}}", json.portfolio);
					setTimeout(function () {
						$(".closeupdate").click();
						location.href = "{% url 'indexpage' %}";
					}, 1000);
				},
				error: function (json) {
					$('.saveload').fadeOut(100);
					console.log("Error detetected, while stock updation.");
				}
			});
		}

	});
	$('#addStockModal').on('show.bs.modal', function (e) {
		var portfolio = $('#portfolio-select').val();
		document.getElementById("companieslist").innerHTML =
			`<select id='inputcompany'
			class='mdb-select md-form colorful-select dropdown-primary selectpicker inputcompany form-control'>
			<option selected='true' disabled='disabled' value='empty'>Select Company</option>
			{% for company in companies %}
			<option value={{company}} class='select-option'>{{company}}</option>{% endfor %}
		</select>`
	});
	$('.closenewstock').click(function(){
		$('#addStockModal').find('input[type=text], input[type=password], input[type=number], input[type=email], textarea').val('');
	})
	$(document).on("click", ".exportportfolio", function () {
		$(".closeexport").click();
		// var portfolioname = $(".tab-list li.active").text().trim();
		var portfolioname = $('#portfolio-select').val();
		if ($("#exportfolio").prop("checked") == true)
			portfolioname = "allportfolios";
		window.location.href = "{% url 'export_user_portfolio' %}?portfolio=" + portfolioname;
		return false;
	});
	$(document).on("click", ".deleteportfolio", function () {
		// var portfolioname = $(".tab-list li.active").text().trim();
		$('.saveload').fadeIn();
		var portfolioname = $('#portfolio-select').val();
		$.ajax({
			type: "POST",
			url: "{% url 'deleteCustomerPortfolio'%}",
			dataType: 'json',
			csrfmiddlewaretoken: "{{ csrf_token }}",
			data: { 'portfolioname': portfolioname },
			success: function (response) {
				$('.saveload').fadeOut(100);
				$('#deleteportfolioresponsemsg').css('color', 'green');
				document.getElementById("deleteportfolioresponsemsg").innerHTML = response.result;
				localStorage.setItem("{{username}}", response.portfolio);
				setTimeout(function () {
					$(".closedelportfolio").click();
					location.href = "{% url 'indexpage' %}";
				}, 1000);
			},
			error: function (json) {
				$('.saveload').fadeOut(100);
				console.log("Error detected while deleting portfolio!")
			}
		});
	});
	$('#deleteStockModal').on('show.bs.modal', function (e) {
		var _button = $(e.relatedTarget);
		var _row = _button.parents("tr");
		$("#stocktobedeleted").val(_row.find('td:eq(1)').text());
	});
	$(document).on("click", ".deletestock", function () {
		var portfolioname = $('#portfolio-select').val();
		$('.saveload').fadeIn();
		var stockname = document.getElementById("stocktobedeleted").value;
		$.ajax({
			type: "POST",
			url: "{% url 'deleteSavedStockFromPortfolio'%}",
			dataType: 'json',
			csrfmiddlewaretoken: "{{ csrf_token }}",
			data: {
				'companyname': stockname, 'portfolioname': portfolioname,
			},
			success: function (json) {
                $('.saveload').fadeOut(100);
				$('#deleteresponsemsg').css("color", "green");
				document.getElementById("deleteresponsemsg").innerHTML = json.result;
				localStorage.setItem("{{username}}", json.portfolio);
				setTimeout(function () {
					$(".closestockdelete").click();
					location.href = "{% url 'indexpage' %}";
				}, 1000);
			},
			error: function (json) {
				console.log("Error detetected, while stock deletion.");
                $('.saveload').fadeOut(100);
			}
		});
	});

	$(document).on("click", ".pricenew", function () {
		$('.pricenew').addClass('active')
		$('.display-priceinput-div').show()
	})
	$(document).on("click", ".technew", function () {
		$('.technew').addClass('active')
		$('.display-techinput-div').show()
	})
	$(document).on("click", ".pricecancelbtn", function () {
		$(':input', '.pricealerts')
			.not(':button, :submit, :reset, :hidden, select')
			.val('')
			.prop('checked', false);
		$('.pricealerts #inlineFormCustomSelect').prop('selectedIndex', 0);
		$('.pricenew').removeClass('active');
		$('.display-priceinput-div').hide()
	})
	$(document).on("click", ".techcancelbtn", function () {
		$(':input', '.technicalalerts')
			.not(':button, :submit, :reset, :hidden, select')
			.val('')
			.prop('checked', false);

		$('.technicalalerts #inlineFormCustomSelect').prop('selectedIndex', 0);
		$('.technew').removeClass('active');
		$('.display-techinput-div').hide()
	});
	
	$('.alerts_tab').click(function () {
		$('.alerts_window').show();
		$('.notifications_window_div').hide();
		$('.alerts_tab').addClass('active')
		$('.notifications_tab').removeClass('active')
	});
	$('.notifications_tab').click(function () {
		$('.notifications_window_div').show();
		$('.alerts_window').hide();
		$('.notifications_tab').addClass('active')
		$('.alerts_tab').removeClass('active')
	});
	$('.unseen').click(function () {
		$('.alerts_window').show();
		$('.notifications_window_div').hide();
		$('.alerts_tab').addClass('active')
		$('.notifications_tab').removeClass('active')
	});
	$('.seen').click(function () {
		$('.notifications_window_div').show();
		$('.alerts_window').hide();
		$('.notifications_tab').addClass('active')
		$('.alerts_tab').removeClass('active')
	});
	function closeAll() {
		$('.alerts_tab').addClass('active')
		$('.notifications_tab').removeClass('active')
		$('.alerts_window').show();
		$('.notifications_window').hide();
		$('.pricenew').removeClass('active'); $('.display-priceinput-div').hide(); $('.display-techinput-div').hide(); $('.technew').removeClass('active');
	}
	$('#addAlertModal').on('show.bs.modal', function (e) {
		$("#pricevalue").val("");
		$("#pricepercent").val("");
		$("#52whpercent").val("");
		$("#rsivalue").val("");
		$(".notifications_window_div").empty();
		$(".pricealertsresponse").html("");
		$(".techalertsresponse").html("");
		$(".leftdma").first().val("select");
		$(".rightdma").first().val("select");
		var _button = $(e.relatedTarget);
		var _row = _button.parents("tr");
		var stockName = _row.find('td:eq(1)').text();
		var portfolioName = _row.find('td:eq(0)').text();
		$('#addAlertModal .modal-title').html('Alerts for <strong style="color:#5627D8;font-weight:450" class="text-italic">' + stockName + "</strong>")
		stockName = stockName.replace(/ *\([^)]*\) */g, "");
		document.getElementById("currentprice").innerHTML = "current price. ";
		$("#alertcompany").val(stockName);
		$.ajax({
			type: "POST",
			url: "{% url 'Getstockprice' %}",
			dataType: 'json',
			csrfmiddlewaretoken: "{{ csrf_token }}",
			data: { 'company': stockName, 'portfolio_name': portfolioName },
			success: function (response) {
				if (response.price)
					document.getElementById("currentprice").innerHTML = "current price {{symbol|safe}}. <b>" + parseFloat(response.price).toLocaleString('hi-IN', {maximumFractionDigits: 2}) + "</b>";
			},
			
		});
		$.ajax({
			type: "POST",
			url: "{% url 'getStockalerts'%}",
			dataType: 'json',
			csrfmiddlewaretoken: "{{ csrf_token }}",
			data: { 'companyName': stockName, 'portfolioName': portfolioName },
			success: function (response) {
				if (response.length) {
					$(".notifications_window_div").empty();
					for (let i = 0; i < response.length; i++)
						$('.notifications_window_div').append('<div class="new-message-box"><div class="new-message-box-info"><div class="info-tab tip-icon-info" title="error"><i></i></div> <div class="tip-box-info"> <p>' + response[i] + '</p> </div></div></div>');
				}
			}, error: function (response) { console.log("Error occured while checking existing stock alerts") }
		});

	});
	$(document).on("change", ".inputcompany", function () {
			var e = document.getElementById("inputcompany");
			var inputCompany = e.options[e.selectedIndex].text;
			document.getElementById("getltp").value = "";
			document.getElementById("backprice").value = "";
			document.getElementById("stocksector").value = "";
			$.ajax({
				type: "POST",
				url: "{% url 'Getstockprice' %}",
				dataType: 'json',
				csrfmiddlewaretoken: "{{ csrf_token }}",
				data: {'company': inputCompany},
				success: function (response) {
					if (response.price)
						document.getElementById("getltp").value =parseFloat(response.price).toLocaleString('hi-IN', {maximumFractionDigits: 2});
					if (response.backprice)
						document.getElementById("backprice").value =parseFloat(response.backprice).toLocaleString('hi-IN', {maximumFractionDigits: 2});
					if (response.sector)
						document.getElementById("stocksector").value = response.sector;
					if (response.fsticker)
					document.getElementById("stockfsticker").value = response.fsticker;
				},
			});
		});
	$(document).on("keypress click input", ".stockquantity, .getltp", function () {
		var quantity = document.getElementById("stockquantity").value;
		var ltp = parseFloat(document.getElementById("getltp").value.replace(/[%,]/g, ''));
		var exposure = (parseFloat(quantity) * parseFloat(ltp)).toFixed(2);
		if (!isNaN(exposure))
			$("#stockamt").val(exposure);
	});
	$(document).on("click", ".addnewstock", function () {
		$('.saveload').fadeIn();
		var stock = {}
		var stokList = []
		var portfolioname = $('#portfolio-select').val();
		var e = document.getElementById("inputcompany");
		stock['stockname'] = e.options[e.selectedIndex].text;
		var stockquantity = document.getElementById("stockquantity").value;
		if (Number(stockquantity)) {
			stock['stockquantity'] = stockquantity;
			stock['stockprice'] = parseFloat(document.getElementById("backprice").value.replace(/[%,]/g, ''));
			stock['sectorname'] = document.getElementById("stocksector").value;
			stock['fsTicker'] = document.getElementById("stockfsticker").value;
			stokList.push(stock);
			$.ajax({
				type: "POST",
				url: "{% url 'SavePortfolioData'%}",
				dataType: 'json',
				csrfmiddlewaretoken: "{{ csrf_token }}",
				data: {
					'portfolioname': portfolioname, 'result': JSON.stringify(stokList)
				},
				success: function (json) {
					$('.saveload').fadeOut(100);
					$('#addresponsemsg').css('color', 'green');
					document.getElementById("addresponsemsg").innerHTML = json.res_Msg;
					localStorage.setItem("{{username}}", json.portfolio);
					setTimeout(function () {
						$(".closestockadd").click();
						location.href = "{% url 'indexpage' %}";
					}, 1000);
				},
				error: function (json) {
					$('.saveload').fadeOut(100);
					console.log("Error detected while saving the new stock.")
				}
			});
		} else {
			$(".stockquantity").css("border", "solid 1px red");
			document.getElementById("err0").innerHTML = "Invalid Quantity";
		}
	});
	$(document).on("click", ".pricesavebtn", function () {
			var flag = true;
			var portfolioName = $('#portfolio-select').val();
			var companyName = document.getElementById("alertcompany").value;
			var priceValue = parseFloat(document.getElementById("pricevalue").value);
			var pricePercent = parseFloat(document.getElementById("pricepercent").value);
			var _52whPercent = parseFloat(document.getElementById("52whpercent").value);
			var priceCondition = $('.pricecondition option:selected').val();
			var percentCondition = $('.percentcondition option:selected').val();
			var _52whCondition = $('.52whcondition option:selected').val();
			var price_select = $('#price_movement_select1').val();
			var percent_select = $('#percent_movement_select2').val();
			var _52wh_select = $('#_52wh_movement_select3').val();
			if (priceValue <= 0) {
				flag = false;
				$("#pricevalue").css('border', '1px solid red');
				$("#pricevalue").attr("placeholder", "More than 0").val("").focus().blur();
			}
			if (pricePercent <= 0) {
				flag = false;
				$("#pricepercent").css('border', '1px solid red');
				$("#pricepercent").attr("placeholder", "More than 0").val("").focus().blur();
			}
			if (_52whPercent <= 0) {
				flag = false;
				$("#52whpercent").css('border', '1px solid red');
				$("#52whpercent").attr("placeholder", "More than 0").val("").focus().blur();
			}
			if (flag) {
				$.ajax({
					type: "POST",
					url: "{% url 'saveCustomerPricemovements'%}",
					dataType: 'json',
					csrfmiddlewaretoken: "{{ csrf_token }}",
					data: {
						'portfolioName': portfolioName, 'companyName': companyName,
						'priceValue': priceValue, 'pricePercent': pricePercent, '52whPercent': _52whPercent,
						'priceCondition': priceCondition, 'percentCondition': percentCondition, '52whCondition': _52whCondition,
						'price_select' : price_select,
						'percent_select' : percent_select,
						'_52wh_select' : _52wh_select
					},
					success: function (response) {
						if (response.status) {
							$(".pricealertsresponse").html(response.result);
							$(".pricealertsresponse").css('color', 'green');
							localStorage.setItem("{{username}}", response.portfolio);
							setInterval(function () { window.location.href = "{% url 'indexpage' %}" }, 1000);
						} else {
							$(".pricealertsresponse").html(response.result);
							$(".pricealertsresponse").css('color', 'red');
						}
					},
					error: function (response) {
						$(".pricealertsresponse").html(response.result);
						$(".pricealertsresponse").css('color', 'red');
						$("#pricevalue").css('border', '1px solid red');
						$("#pricevalue").attr("placeholder", "Enter Price").val("").focus().blur();
						$("#pricepercent").css('border', '1px solid red');
						$("#pricepercent").attr("placeholder", "Enter Value").val("").focus().blur();
						$("#52whpercent").css('border', '1px solid red');
						$("#52whpercent").attr("placeholder", "Enter Value").val("").focus().blur();
					}
				});
			} else {
				$(".pricealertsresponse").html("Something went wrong, please try again!");
				$(".pricealertsresponse").css('color', 'red');
				$("#pricevalue").css('border', '1px solid red');
				$("#pricevalue").attr("placeholder", "Invalid Price").val("").focus().blur();
				$("#pricepercent").css('border', '1px solid red');
				$("#pricepercent").attr("placeholder", "Invalid Value").val("").focus().blur();
				$("#52whpercent").css('border', '1px solid red');
				$("#52whpercent").attr("placeholder", "Invalid Value").val("").focus().blur();
			} event.preventDefault();
		});

	$(document).on("click", ".techsavebtn", function () {
		var flag = false;
		var portfolioName = $('#portfolio-select').val();
		var companyName = document.getElementById("alertcompany").value;
		var rsiValue = parseFloat(document.getElementById("rsivalue").value);
		var rsiCondition = $('.rsicondition option:selected').val();
		var dmaLeft = $('.leftdma option:selected').val();
		var dmaCondition = $('.dmacondition option:selected').val();
		var dmaRight = $('.rightdma option:selected').val();
		var rsi_select = $('#rsi_indicator_select1').val();
		var dma_select = $('#dma_indicator_select2').val();
		if (!isNaN(rsiValue)) {
			if (rsiValue < 0 || rsiValue > 100) {
				flag = false;
				$("#rsivalue").css('border', '1px solid red');
				$("#rsivalue").attr("placeholder", "Between 0-100").val("").focus().blur();
			} else {
				flag = true;
			}
		}
		if (dmaLeft != 'select' || dmaRight != 'select') {
			if (dmaLeft == 'select' || dmaRight == 'select') {
				flag = false;
				$(".leftdma").css('border', '1px solid red');
				$(".rightdma").css('border', '1px solid red');
			} else {
				flag = true;
			}
		}
		if (flag) {
			$.ajax({
				type: "POST",
				url: "{% url 'saveCustomerTechnicalIndications'%}",
				dataType: 'json',
				csrfmiddlewaretoken: "{{ csrf_token }}",
				data: {
					'portfolioName': portfolioName, 'companyName': companyName,
					'rsiValue': rsiValue, 'rsiCondition': rsiCondition, 'dmaLeft': dmaLeft,
					'dmaCondition': dmaCondition, 'dmaRight': dmaRight,
					'rsi_select' : rsi_select, 'dma_select':dma_select
				},
				success: function (response) {
					if (response.status) {
						$(".techalertsresponse").html(response.result);
						$(".techalertsresponse").css('color', 'green');
						localStorage.setItem("{{username}}", response.portfolio);
						setInterval(function () { window.location.href = "{% url 'indexpage' %}" }, 1000);
					} else {
						$(".techalertsresponse").html(response.result);
						$(".techalertsresponse").css('color', 'red');
					}
				},
				error: function (response) {
					$(".techalertsresponse").html(response.result);
					$(".techalertsresponse").css('color', 'red');
				}
			});
		} else {
			$(".techalertsresponse").html("Something went wrong, please try again!");
			$(".techalertsresponse").css('color', 'red');
		} event.preventDefault();
	});
	
	$('.edit_alert1').click(function(e)
	{
		var _button = $(e.relatedTarget);
		var _row = _button.parents("tr");
		var companyname = $(this).parents("tr").find("td:eq(1)").text();
		var portfolioname = $('#portfolio-select').val();
		companyname = companyname.replace('&','pi72pi');
		window.location.href = "{% url 'listAlertsByStock' %}?portfolio="+portfolioname+"&stock="+companyname;
		return false;
	});
	function checkWidth() {
		if ($(window).width() < 580) {
			$('.table thead th:nth-child(2)').removeClass('sticky-col first-col');
			$('.table tbody td:nth-child(2)').removeClass('sticky-col first-col');
		}
		else {
			$('.table thead th:nth-child(2)').addClass('sticky-col first-col');
			$('.table tbody td:nth-child(2)').addClass('sticky-col first-col');
		}
	}
	checkWidth();
	$(window).resize(checkWidth);
	// Portfolio Changer function
	function portfolioChanger(portfolioName) {
			$.ajax({
				type: "POST",
				url: "{% url 'portfolioChanger'%}",
				dataType: 'json',
				csrfmiddlewaretoken: "{{ csrf_token }}",
				data: { 'portfolio': portfolioName },
				success: function (response) {
					document.getElementById("createddate").innerHTML = "Created at :" + response.createdAt.toLocaleString();
					if (response.modifiedAt.toLocaleString() == "not_modified_at") { document.getElementById("modifieddate").innerHTML = "" }
					else { document.getElementById("modifieddate").innerHTML = "Last Modified at :" + response.modifiedAt.toLocaleString(); }
				},
				error: function (response) {
                    console.log("Error Detected while changing the portfolio");
				}
			});
		}
		$("body").css({visibility:'visible'});

	</script>
</html>  
{% endblock %}                              		                            