{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>
        <title>Portfolio Returns - 72PI</title> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" content="72piportfoliosharpe, portfoliosharpe, 72piportfoliodrawdown, portfoliodrawdown, 72pireturnbystock, returnbystock, 72piinvestmentbystock, investmentbystock, 72piinvestmentamountbystock, investmentamountbystock, 72pireturnby, returnby"/>
        <meta name="description" content="Portfolio returns helps our subscribers in comparing their portfolio performance with benchmark indices" /> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/Portfolio_Returns.css' %}?v=1.3">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.css" />
    </head>
    <body>
        <div class="se-pre-con"></div>
        <div class="">
            <div class="row row-sm section-gap main portfolio_returns_page" id="content2">
                <div class="row col-sm-12 page-title mg-t-20"><div class="col-sm-6"><p class="text-white tx-20"> <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a> <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> X-Ray Analyzer <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> <a href="{% url 'portfolio_returns' %}" class="nav-sub-link">Portfolio Returns</a></p></div>
                <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn"><button>How to Use this Page ?</button></div>
                    <div class="banner-btn mg-l-5">
                        <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                            aria-hidden="true">
                        </i></a>
                    </div>
                </div>
            </div> 
            <div id="videoModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <iframe id="video-div" height="315" src="https://www.youtube.com/embed/vMfUsA_zsqw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
    
                <div class="disclaimer-text">
                    <p class="text-italic">
                        Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                    </p>
                </div>
                <div class="col-sm-12 main-sub-div2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                                <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                                <select id="globalPortfolio" class="form-controls mg-l-20">
                                    {% for portfolio in portfolio_names %}
                                    <option value='{{portfolio}}'>{{portfolio}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-9 col-lg-9 col-xl-9 mg-b-0 col9_graph">
                    <div class="card" style="padding:0% 2%">
                        <div class="card-header">
                            <h4 class="card-title text-center"><label>Portfolio Returns vs Benchmark</label></h4>
            
                        </div>
                        <div class="card-body pd-t-0">
                            <div class="col-sm-12">
                                <div class="row">
                                         <div class="col-sm-8 port_header1">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="select-dates mg-l-15">
                                                    <div class="filter-tabs">
                                                        <ul class="nav-tabs" id="required_value2">
                                                            <li class=""><a data-toggle="tab" href="#" class="nav-sub-tab YTD"
                                                                    aria-expanded="false">YTD</a></li>
                                                            <li class=""><a data-toggle="tab" href="#" class="nav-sub-tab MTD"
                                                                    aria-expanded="false">MTD</a></li>
                                                            <li class=""><a data-toggle="tab" href="#" class="nav-sub-tab 1Y"
                                                                    aria-expanded="false">1Y</a></li>
                                                            <li class=""><a data-toggle="tab" href="#" class="nav-sub-tab ITD"
                                                                aria-expanded="false">2019</a></li>
                                                     
                                                        </ul>
                                                      
                                                    </div>
                                                    
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-sm-4 text-right port_header1">
                                            <div class="created_at tx-12"></div>
                                            <div class="input-wrapper mg-t-0">
                                                From: <input type="text"  placeholder='dd-mm-yyyy'  readonly="true" class="datepicker">
                                            </div>
                                         
                                        </div>
                                    </div>
                            </div>
                            <div class="">
                           
                                <div id="error"></div>
                                <div class="graphs mg-t-20">
                                
                                    <div id="Portfolio_Returns">
                                    </div>
                                </div>
                                <div id="table-data" class="mg-t-20 table-responsive">
                                    <table class="table unselectable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th id="annu_return"> </th>
                                                <th>Annualized Volatility (Risk) </th>
                                                <th>Sharpe<sup class="text-white">[1]</sup></th>
                                                <th>Max Drawdown<sup class="text-white">[2]</sup></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!-- card-body -->
            
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mg-t-0 col3_notes">
                    <div class="card mg-b-10">
                        <div class="card-body notes pd-b-0">
                            <div class="mg-t-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class=" card-title">Your Portfolio's Cumulative Return</h6>
                                        <h3 class="f-w-700 text-c-blue mg-t-10" id='your_portfolio'></h3>
                                        <p class="mg-t-10" id="your_portfolio_date_range"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="card ">
                        <div class="card-header">
                            <h4 class="card-title">Analysis</h4>
                        </div>
                        <div class="card-body notes pd-t-0 pd-b-30">
                            <div class="dashboard-notes-section tx-14" id="notes-section2">
                            </div>
                        </div>
                    </div>
                    <div class="card  mg-t-10">
                        <div class="card-header">
                            <h4 class="card-title  mg-b-0">Definitions</h4>
                        </div>
                        <div class="card-body notes pd-t-0">
                            <div class="mg-t-0">
                                <span>
                                    <p>[1] Return over Risk free rate of 6% by Risk. </p>
                                    <p>[2] Loss from peak to trough of your portfolio.</p>
                                </span>
                                <ul class="mg-l-0 mg-t-0 notes-ul tx-15">
                                    <li><i class="fa fa-hand-o-right mg-r-5"></i><a
                                            href='https://www.investopedia.com/terms/a/annualized-total-return.asp' target="_blank"
                                            class="blink_me">Annualized Return<i class="fa fa-angle-double-right mg-l-5"></i></a>
                                    </li>
                                    <li><i class="fa fa-hand-o-right mg-r-5"></i><a
                                            href='https://www.investopedia.com/terms/v/volatility.asp' target="_blank">Annualized
                                            Volatility<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                    <li><i class="fa fa-hand-o-right mg-r-5"></i><a
                                            href='https://www.investopedia.com/terms/s/sharperatio.asp' target="_blank">Sharpe
                                            Ratio<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                    <li><i class="fa fa-hand-o-right mg-r-5"></i><a
                                            href='https://www.investopedia.com/terms/m/maximum-drawdown-mdd.asp' target="_blank">Max
                                            Drawdown<i class="fa fa-angle-double-right mg-l-5"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div>
                
              
                <div class="col-sm-12 mg-t-20">
                    <div class="card">
                        <div class="card-body">
                             <div class="col-sm-12 form-inline mg-b-10 mg-t-10 layer-treemap">
                                 <div class="d-flex">
                                    <label class="mg-l-0 tx-18">Frequency </label>
                                    <select id="frequency" class="form-controls mg-l-5">
                                        <option value='DailyPercentChange'>Daily</option>
                                        <option value='WeeklyPriceChangePercent'>Weekly</option>
                                        <option value='MonthlyPriceChangePercent'>Monthly</option>
                                    </select>
                                 </div>
                                 <div class="d-flex mg-l-20">
                                    <label class="mg-l-0 tx-18">GICS Classification </label>
                                    <select id="layer" class="form-controls mg-l-5">
                                        <option value="0">None</option>
                                        <option value="1">GICS Sector</option>
                                        <option value="2">GICS Industry Group</option>
                                        <option value="3">GICS Industry</option>
                                        <option value="4">GICS Sub Industry</option>
                                        <option value="5">GICS Sector vs GICS Industry Group</option>
                                        <option value="6">GICS Sector vs GICS Industry</option>
                                        <option value="7">GICS Sector vs GICS Sub Industry</option>
                                        <option value="8">GICS Industry Group vs GICS Industry</option>
                                        <option value="9">GICS Industry Group vs GICS Sub Industry</option>
                                        <option value="10">GICS Industry vs GICS Sub Industry </option>
                                    </select>
                                 </div>
                                 <div class="d-flex mg-l-20">
                                    <label class="mg-l-0 tx-18">Size </label>
                                    <select id="size" class="form-controls mg-l-5">
                                        <option value='EqualSize'>None</option>
                                        <option value='Market Cap'>MarketCap</option>
                                        <option value="Sales(RM)">Sales</option>
                                        <option value="RSI">RSI(14D)</option>
                                        <option value="Volatility_1Y">Volatility</option>
                                        <option value="Beta_1Y">Beta</option>
                                        <option value="PE">PE</option>
                                        <option value="PB">PB</option>
                                        <option value="ROE">ROE</option>
                                        <option value="Debt/Equity">Debt/Equity</option>
                                    </select>
                                  
                                  
                                 </div>
                                 
                             </div>
                          
                             <div class="my-auto">
                                 <div id="chart-container">Loading..</div>
                                
                             </div>
                             <div class="pd-l-15 pd-r-15"> <table class="mg-t-5 mg-b-5  heatmapScale">
                                <tbody id="scale">

                                </tbody>
                           
                        </table>

                             </div>
                            
                             <div >
                               
                              </div>
                        </div>
                    </div>
                   </div>
          
                
                <div class="col-md-12 col-lg-12 col-xl-12 mg-t-20 ">
                    <div class="card" style="padding:0% 2%">
                        <div class="card-header">
                            <h4 class="card-title text-center"><label>Returns by Stock & Sector</label></h4>
                        </div>
                        <div class="card-body returns-div pd-t-0">
                            <div class="">
                                <div class="select-dates mg-l-15 row">
                                    <div class="col-sm-12  pd-t-5">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="row text-right">
                                                <div class="col-sm-2 form-inline mg-t-5 mg-sm-t-5 mg-lg-t-0 split_by_div">
                                                    <strong>Split by</strong>
                                                    <select class='factors text-left mg-l-5' id='case'>
                                                        <option value="Stock">Stock</option>
                                                        <option value="Sector">Sector</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-10 form-inline mg-t-5 mg-sm-t-5 mg-lg-t-0 sort_by_div">
                                                    <strong class="mg-l-10">Sort by</strong>
                                                    <select class='factors text-right mg-l-5' id="order">
                                                        <option value="Investment">Investment Amount</option>
                                                        <option value="Actual Return(%)">Actual Return(%)</option>
                                                        <option value="Actual Return">Actual Return({{symbol|safe}}) </option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                         
                            <div class="graphs container1 mg-t-20 ">
                                <div class="scroll-div ">
                                    <div id="current_positions" class="div2"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 mg-t-10">
                                <h4 class="card-title  mg-b-0">Notes</h4>
                                <div id="notes-section"></div>
                            </div>
                            .
                        </div>
            
                    </div><!-- card-body -->
                </div>
            </div>
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Portfolio Returns</label></h3>
              <div class="modal-body">
         <p>
            It is used for understanding the volatility, drawdown and Sharpe ratio of the portfolio compared to benchmark indices Nifty 50, Nifty Midcap 100 and Nifty Smallcap 100. In the current portfolio, the individual returns and investment amount by stock/sector are presented to understand portfolio allocation. Portfolio can be changed in the upper left corner.          </p>     </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
      
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://github.com/niklasvh/html2canvas/releases/download/0.5.0-alpha1/html2canvas.js"></script>
   
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

    <script>
        

      var parent = { "0" : "GICS_Sector","1":"GICS_Sector","2":"GICS_Industry_Group","3":"GICS_Industry","4":"GICS_Sector","5":"GICS_Sector","6":"GICS_Sector","7":"GICS_Sector","8":"GICS_Industry_Group","9":"GICS_Industry_Group","10":"GICS_Industry"};
    var child={ "0" : "Gics_SubIndustry_Name","1":"GICS_Industry_Group","2":"GICS_Industry","3":"Gics_SubIndustry_Name","4":"Gics_SubIndustry_Name","5":"GICS_Industry_Group","6":"GICS_Industry","7":"Gics_SubIndustry_Name","8":"GICS_Industry","9":"Gics_SubIndustry_Name","10":"Gics_SubIndustry_Name"};
    $("#size").val("Market Cap")
    $("#layer").val("7")
        $(document).ready(function() { 
          
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        });
        function reformatDate(dateStr)
        {     
            var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
            dArr = dateStr.split("-"); 
            return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
        }
       $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
        })
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'portfolio_returns' %}?portfoliochanged-to=" + portfolioName;
            return false;
        });

        var required_value2 = 'YTD';
        $('#annu_return').text('Annualized Return');
        $('.YTD').addClass('actives');
        get_data($("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),'Stock')
        $("#required_value2").find("li a").click(function () {
            $('.actives').removeClass('actives');
            $(this).addClass('actives');
            required_value2 = $('#required_value2').find("li a.actives").text();
            $('.datepicker').val('');
            get_data($("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val());
        });
        $('#case').on('change', function () {
            $('.se-pre-con').fadeIn(1);
            get_data($("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val());
        });
        $('#order').on('change', function () {
            $('.se-pre-con').fadeIn(1);
            get_data($("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val());
        });
        $('#frequency').on('change', function () {
            if ($("#frequency option:selected").val()=='DailyPercentChange')
                get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
            else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
                get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
            else 
                get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
        });
        $('#layer').on('change', function () {
            if ($("#frequency option:selected").val()=='DailyPercentChange')
                get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
            else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
                get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
            else 
                get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
        });
        $('#size').on('change', function () {
            if ($("#frequency option:selected").val()=='DailyPercentChange')
                get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
            else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
                get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
            else 
                get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val())
        });
        var d = new Date();

        var month = d.getMonth()+1;
        var day = d.getDate();

        var maxdate =  ((''+day).length<2 ? '0' : '') + day + '-' +
            ((''+month).length<2 ? '0' : '') + month + '-' +
            d.getFullYear();

        $(".datepicker").datepicker({
        format: "dd-mm-yyyy",
        startDate: "01-01-2019",
        endDate:maxdate,
        changeMonth: true,
        changeYear: true,
        autoHide: true,
        }).on('change', function(){
            var classList = $('.datepicker-container').attr('class').split(/\s+/);
            if( (classList.indexOf("datepicker-hide") > -1)){
                $('.actives').removeClass('actives');
                required_value2='Default';
                get_data($("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$("#case option:selected").val());
            }
        });
        var d = new Date();
        var month = new Array();
        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Mar";
        month[3] = "Apr";
        month[4] = "May";
        month[5] = "Jun";
        month[6] = "Jul";
        month[7] = "Aug";
        month[8] = "Sep";
        month[9] = "Oct";
        month[10] = "Nov";
        month[11] = "Dec";
       
        function get_data(frequency,range,layerSize,column1,val) {
            $("#scale").empty();
            if(frequency=="DailyPercentChange"){
               
                // $("#scale").append('<tr><td style="background-color:#F63538;"><span>-3%</span></td><td style="background-color:#BF4045;"><span>-2%</span></td><td style="background-color:#8B444E;"><span>-1%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#35764E;"><span>+1</span></td><td style="background-color:#2F9E4F;"><span>+2%</span></td><td style="background-color:#30CC5A;"><span>+3%</span></td></tr>')
                $("#scale").append('<tr><td style="background-color:#8B444E;"><span>-3%</span></td><td style="background-color:#BF4045;"><span>-2%</span></td><td style="background-color:#F63538;"><span>-1%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#30CC5A;"><span>+1</span></td><td style="background-color:#2F9E4F;"><span>+2%</span></td><td style="background-color:#35764E;"><span>+3%</span></td></tr>')
              
            }else if(frequency=="WeeklyPriceChangePercent"){
                // $("#scale").append('<tr><td style="background-color:#F63538;"><span>-6%</span></td><td style="background-color:#BF4045;"><span>-4%</span></td><td style="background-color:#8B444E;"><span>-2%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#35764E;"><span>+2</span></td><td style="background-color:#2F9E4F;"><span>+4%</span></td><td style="background-color:#30CC5A;"><span>+6%</span></td></tr>')
                $("#scale").append('<tr><td style="background-color:#8B444E;"><span>-6%</span></td><td style="background-color:#BF4045;"><span>-4%</span></td><td style="background-color:#F63538;"><span>-2%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#30CC5A;"><span>+2</span></td><td style="background-color:#2F9E4F;"><span>+4%</span></td><td style="background-color:#35764E;"><span>+6%</span></td></tr>')
              
            }else{
                // $("#scale").append('<tr><td style="background-color:#F63538;"><span>-10%</span></td><td style="background-color:#BF4045;"><span>-6.7%</span></td><td style="background-color:#8B444E;"><span>-3.3%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#35764E;"><span>+3.3</span></td><td style="background-color:#2F9E4F;"><span>+6.7%</span></td><td style="background-color:#30CC5A;"><span>+10%</span></td></tr>')
                $("#scale").append('<tr><td style="background-color:#8B444E;"><span>-10%</span></td><td style="background-color:#BF4045;"><span>-6.7%</span></td><td style="background-color:#F63538;"><span>-3.3%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#30CC5A;"><span>+3.3</span></td><td style="background-color:#2F9E4F;"><span>+6.7%</span></td><td style="background-color:#35764E;"><span>+10%</span></td></tr>')
              
            }
           
            var firstDropVal = val
            var secondDropVal = $("#order option:selected").val();
            $("#case").val(val);
            $('#hide-table').hide();
            $('.se-pre-con').fadeIn(1);
           
            $.ajax({
                url: "{% url 'portfolio_returns' %}",
                type: 'post',
                data: { 'required_value': JSON.stringify([required_value2, firstDropVal, secondDropVal, $(".datepicker").val()]),'required_value2':JSON.stringify([frequency,range,layerSize,parent[column1],child[column1],column1] )},
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
           
                    graph(json.categories, json.exposure, json.Pnl, json.Return, json.max_exp, json.max_exposure, json.company)
                    graph2(json.output_cumulative_return,json.notes_equal)
                    create_table(json.table_data)
                    DrawGraph(json.gics_list,json.mcap)
                    $('.created_at').html("Created on "+reformatDate(json.createdAt));   
                    $('.se-pre-con').fadeOut(1);
                },
                error: function (json) {
                    $('.se-pre-con').fadeOut(1);

                    $('#current_positions').html('No Data Available')
                    console.log("error")
                }
            });
           
        }
        function DrawGraph(data,mcap){
            FusionCharts.ready(function() {
        var visitChart = new FusionCharts({
            type: 'treemap',
            renderAt: 'chart-container',
            width: '100%',
            height: '450',
            dataFormat: 'json',
            dataSource: {
            "chart": {
            "animation": "0",
                "hideTitle": "1",
                "plotToolText": "<div><b>$label</b><br/></div>",
                "horizontalPadding": "0",
                "verticalPadding": "0",
                "plotborderthickness": ".5",
                "plotbordercolor": "ffffff",
                "chartBottomMargin": "0",
                // "chartLeftMargin": "0",
                // "chartRightMargin": "0",

                "labelGlow": "0",
                "labelDisplay": "auto",
                "showLegend": "1",
                "algorithm": "squarified",
                "caption": "GICS Classification",
                "captionFontColor": "#5627D8",
                "theme": "fusion",
                "subcaption": null,
                "legendCaption": null,
                "showChildLabels": "1",
                "labelFont": "Lato,sans-serif",
                "labelFontSize": "14",
                "labelFontColor": "FFFFFF",
                "exportEnabled":1,
                "exportFileName":$('#globalPortfolio option:selected').val(),
               
            },
            "data":[{
                "label": $('#globalPortfolio option:selected').val(),
                "fillcolor": "000000",
                "value":mcap,
                // "svalue": "86.3",
                "data":data
            }],
        
            }
        }).render();

        });
    
        // var element = $("#chart-container"); // global variable
        //     var getCanvas; // global variable

        //     html2canvas(element, {
        //         onrendered: function (canvas) {
        //             $("#previewImage").append(canvas);
        //             getCanvas = canvas;
        //         }
        //     });
      
        //     $("#btn-Convert-Html2Image").on('click', function () {
        //         var imgageData = getCanvas.toDataURL("image/png");
        //         // Now browser starts downloading it instead of just showing it
        //         var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
        //         $("#btn-Convert-Html2Image").attr("download", "output.png").attr("href", newData);
        //     });

        
        }

       

        function create_table(output) {
            if(output.length>0)
            {
                var tabledata = new Array();
                var length = output.length;
                for (i = 0; i < length ; i++) {
                    tabledata.push([output[i][0], (output[i][1] * 100).toFixed(1) + '%', (output[i][2] * 100).toFixed(1) + '%', (output[i][3]).toFixed(2), (output[i][4] * 100).toFixed(1) + '%'])
                }
                $("#tbody").empty();
                var table = document.getElementById("tbody");
                var columnCount = tabledata[0].length;
                var row = table.insertRow(0);
                for (var i = 0; i < tabledata.length; i++) {
                    row = table.insertRow(-1);
                    for (var j = 0; j < columnCount; j++) {
                        var cell = row.insertCell(-1);
                        cell.innerHTML = tabledata[i][j];
                    }
                }
            }
            else{
                $('#table-data tbody').html("No Data Found")
            }
        }

        function graph2(output,text) {
            var graph_data = output;
            if(graph_data.length>0){
                
            document.getElementById("notes-section2").innerHTML = text;
            var your_portfolio = graph_data
            document.getElementById("your_portfolio").innerHTML = (your_portfolio[0]['data'][your_portfolio[0]['data'].length - 1][1] * 100).toFixed(2) + '%'
            if (($('#your_portfolio').text())[0] == '-') {
                $('#your_portfolio').css('color', 'red');
            }
            else {
                $('#your_portfolio').css('color', 'green');

            }
            document.getElementById("your_portfolio_date_range").innerHTML = (your_portfolio[0]['data'][your_portfolio[0]['data'].length - 1][1] * 100).toFixed(2) + '%'
            your_pf_date = new Date(your_portfolio[0]['data'][your_portfolio[0]['data'].length - 1][0])
            document.getElementById("your_portfolio_date_range").innerHTML = your_pf_date.getDate() + '-' + month[your_pf_date.getMonth()] + '-' + your_pf_date.getFullYear()

            if ($('#current_positions').height() < 500) {
                $('.container1').height($('#current_positions').height() + 10)
                $('.returns-div').removeClass('scroll-div');
                $('.returns-div').removeClass('container1')
            }
                for (i = 0; i < graph_data.length; i++) {
                    for (j = 0; j < graph_data[i]['data'].length; j++) {
                        var temp = graph_data[i]['data'][j][0]
                        var date = new Date(temp)
                        var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        graph_data[i]['data'][j][0] = now_utc;
                    }
                }
            temp = graph_data
          
            Highcharts.chart('Portfolio_Returns', {
                    chart: {
                        type: 'line',
                        backgroundColor: "transparent",


                    },
                    exporting: {
                        enabled: false,
                        fallbackToExportServer: false
                    },
                    title: {
                        text: null,
                      
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        buttons: {
                            contextButton: {
                                enabled: false
                            },

                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            day: '%e-%b-%y',
                            week: '%e-%b-%y',
                            month: '%b-%y',
                            year: '%Y'

                        },
                        labels: {
                            style: {
                                color: '#031b4e',
                                font: '13px  ',
                                fontWeight: 'normal'
                            },
                        },
                        tickLength: 6,
                        tickWidth: 1,
                        min: graph_data[0]['data'][0][0],
                        startOnTick: true,
                        endOnTick: false,

                    },
                    yAxis: {
                        gridLineWidth: 0,
                        lineWidth: 1,
                        tickLength: 6,
                        tickWidth: 1,
                        labels: {
                            formatter: function () {
                                return (this.value * 100).toFixed(0) + '%';
                            },
                            style: {
                                color: '#031b4e',
                                font: '13px  ',
                                fontWeight: 'normal'
                            },
                        },
                        title: {
                            text: "Return",
                            style: {
                                color: '#031b4e',
                                font: '13px  ',
                                fontWeight: 'normal'
                            },
                        },
                        plotLines: [{
                            color: '#F2F2F2',
                            width: 2,
                            value: 0
                        }]
                    },
                    tooltip: {

                        formatter: function () {
                            var s = [];
                            var count = 0
                            $.each(this.points, function (i, point) {
                                if (count == 0)
                                    s.push('Date: <b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(point.x)) + '</b><br>');
                                count = 1


                                s.push(point.series.name + ' : <b>' +
                                    (point.y * 100).toFixed(1) + '%</b><br>');



                            });

                            return s.join('<br>');
                        },
                        shared: true,
                        style: {
                            color: '#031b4e',
                            font: '13px  ',
                            fontWeight: 'normal'
                        },
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: false,
                                symbol: "circle"
                            }
                        }
                    },
                    legend:
                    {
                        itemStyle: {
                            color: '#031B4E',
                            fontFamily: ' ',
                            fontSize: '14px'

                        },
                    },
                    series: graph_data,

                });
            }
            else{
                $('#Portfolio_Returns').html('No Data Found')
            }
        }
        function graph(categories, exposure_list, data_pnl, return_pnl, max_exp, max_exposure, company) {
            if (required_value2 == '2019') {
                $('#annu_return').text('Annualized Return')
                val = '2019';
            }
            else if (required_value2 == 'YTD') {
                val = 'Year To Date (YTD)'; $('#annu_return').text('Cumulative Return')
            }
            else if (required_value2 == 'MTD') {
                val = 'Month To Date (MTD)'; $('#annu_return').text('Cumulative Return')
            }
            else {
                $('#annu_return').text('Cumulative Return')
                val = 'One Year (1Y)';
            }
         
            if(categories.length>0)
            {
                if ('{{symbol|safe}}' == '$')
                    text = "In " + val + ", <b>" + company + "</b> has maximum exposure of <b>{{symbol|safe}}" + parseFloat(max_exp.toFixed(0)).toLocaleString('en-US') + "</b> and its return in the same period was  <b>" + (max_exposure * 100).toFixed(1) + "%</b>."
                else
                    text = "In " + val + ", <b>" + company + "</b> has maximum exposure of <b>{{symbol|safe}}" + parseFloat(max_exp.toFixed(0)).toLocaleString('hi-IN') + "</b> and its return in the same period was  <b>" + (max_exposure * 100).toFixed(1) + "%</b>."

                document.getElementById("notes-section").innerHTML = text
                var categories = categories
                var H = Highcharts,
                flag = true,
                redrawWithNewHeight = function (config, width) {
                    var number = 0
                    H.each(config.series, function (p, i) {
                        if (p.visible === true) {
                            H.each(p.data, function (ob, j) {
                                number += 1;
                            });
                        }
                    });
                    var height = width * number + config.plotTop + config.marginBottom;
                    if (height !== config.chartHeight) {
                        flag = true;
                    }
                    if (flag) {
                        flag = false;
                        config.setSize(config.chartWidth, height);
                        config.hasUserSize = null;
                    }
                };
            var config = {
                chart: {
                    renderTo: 'current_positions',
                    inverted: true,
                    spacingTop: 50,
                    animation: false,
                    backgroundColor: "transparent",
                    events: {
                        load: function () {
                            redrawWithNewHeight(this, 10);
                        }
                    },

                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                title: {
                    text: ' '
                },
                exporting: {
                    enabled: false,
                    fallbackToExportServer: false
                },
                tooltip: {

                    formatter: function () {
                        if (this.series.name == "Actual Return(%)") {
                            return this.series.name + ":<b>" + ((this.y)).toFixed(1) + '%</b>';
                        }
                        else if (this.series.name == 'Investment Amount({{symbol|safe}})') {

                            var temp;
                            for (i = 0; i < (this.series.userOptions.data).length; i++) {

                                if (this.series.userOptions.data[i]['y'] == this.y) {
                                    temp = this.series.userOptions.data[i]['exp']
                                    break
                                }
                            }
                            if ('{{symbol|safe}}' == '$')
                                return 'Investment Amount(%)' + ' : <b>' + temp.toFixed(1) + '%</b><br>' + this.series.name + ":<b>" + "{{symbol|safe}}" + parseFloat(((this.y)).toFixed(0)).toLocaleString('en-US') + '</b>';
                            else
                                return 'Investment Amount(%)' + ' : <b>' + temp.toFixed(1) + '%</b><br>' + this.series.name + ":<b>" + "{{symbol|safe}}" + parseFloat(((this.y)).toFixed(0)).toLocaleString('hi-IN') + '</b>';

                        }
                        else {
                            if ('{{symbol|safe}}' == '$')
                                return this.series.name + ":<b>" + "{{symbol|safe}}" + parseFloat(((this.y)).toFixed(0)).toLocaleString('en-US') + '</b>';
                            else
                                return this.series.name + ":<b>" + "{{symbol|safe}}" + parseFloat(((this.y)).toFixed(0)).toLocaleString('hi-IN') + '</b>';



                        }
                    },
                },
                plotOptions: {
                    series: {
                        pointWidth: 15,

                        events: {
                            hide: function () {
                                redrawWithNewHeight(this.chart, 10);
                            },
                            show: function () {
                                redrawWithNewHeight(this.chart, 10);
                            }
                        }

                    },
                    column: {
                        threshold: 0,
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                if (this.series.name == "Actual Return(%)") {
                                    return ((this.y)).toFixed(1) + '%';
                                }
                                else {
                                    if ('{{symbol|safe}}' == '$')
                                        return "{{symbol|safe}}" + parseFloat(((this.y) / 1000).toFixed(1)).toLocaleString('en-US') + 'K';
                                    else
                                        return "{{symbol|safe}}" + parseFloat(((this.y) / 1000).toFixed(1)).toLocaleString('hi-IN') + 'K';

                                }
                            },
                            style: {
                                color: '#031B4E',
                                font: '13px ',
                                fontWeight: 'normal',
                                textOutline: false
                            },
                        },
                    },
                },
                series: [
                    {
                        name: "Investment Amount({{symbol|safe}})",
                        data: exposure_list,
                        marker: {
                            enabled: false
                        },
                        type: "column",
                        color: '#E49900'
                    },

                    {
                        name: 'Actual Return(%)',
                        data: return_pnl,
                        marker: {
                            enabled: false
                        },
                        color: '#8D78F4',
                        type: "column",
                        yAxis: 1,
                    },
                    {
                        name: 'Actual Return({{symbol|safe}})',
                        data: data_pnl,
                        marker: {
                            enabled: false
                        },
                        color: '#8D78F4',
                        type: "column",
                        yAxis: 2,
                    }
                ],
                xAxis: [{

                    type: 'category',
                    lineWidth: 0,
                    labels: {
                        style: {
                            color: '#031B4E',
                            font: '13px  ',
                            fontWeight: 'normal',
                            textOutline: false,

                        },
                    }
                }],
                yAxis: [
                    {
                        offset: 0,
                        height: 1,
                        top: 10,
                        width: "30%",
                        title: {
                            text: "Investment Amount({{symbol|safe}})",
                            textAlign: 'right',
                            style: {
                                color: '#031B4E',
                                font: '15px ',
                                fontWeight: 'bold',
                                textOutline: false,
                                align: 'high'
                            },
                        },
                        labels:
                        {
                            enabled: false,

                        },
                    },
                    {
                        width: "33%",
                        top: 10,
                        offset: 0,
                        left: "33%",
                        height: 1,
                        title: {
                            text: "Actual Return(%)",
                            textAlign: 'right',

                            style: {
                                color: '#031B4E',
                                font: '15px ',
                                fontWeight: 'bold',
                                textOutline: false,
                                align: 'high'
                            },
                        },
                        labels:
                        {
                            enabled: false,

                        }
                    },
                    {
                        width: "33%",
                        top: 10,
                        offset: 0,
                        left: "65%",
                        height: 1,

                        title: {
                            text: "Actual Return({{symbol|safe}})",
                            textAlign: 'right',
                            style: {
                                color: '#031B4E',
                                font: '15px ',
                                fontWeight: 'bold',
                                textOutline: false,
                                align: 'high'
                            },
                        },
                        labels:
                        {
                            enabled: false,

                        }
                    },

                ],
            };

            var chart = new Highcharts.Chart(config);
            }
            else{
                $('.container1 #current_positions').html('No Data Found')
            }
    
        
        }

     
   

        $("body").css({visibility:'visible'});
    </script>

{% endblock %}