{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>  
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/Prelogin_Signal.css' %}?v=1.2">
    <title>Signals Overview - 72PI</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <script>
      $('.signals-header').css("display","block");
      $('.base-header').css("display","none");

    </script>
    {% else %}
    <script>
      $('.signals-header').css("display","none");
      $('.base-header').css("display","block");

    </script>
    {% endif %}
      
    <div class="col-lg-12 prelogin-signals-div" style="padding:65px 15px">
			<div class="row">
        <div class="col-lg-12 section-1">
          <div class="container">
            <h1>Curated Ideas + Easy to understand + Transparent = 72PI Signals </h1>
            <p class="tx-18"style="font-weight:500">Signals product is designed to derive investment signals by evaluating market data from multiple
                dimensions:</p>
                <ul class="ul1">
                    <li>Quantitative models using Machine Learning techniques</li>
                    <li>Futures & Options market </li>
                    <li>Technical chart signals</li>
                    <li>Fundamental analysis </li>
                    <li>Model portfolios of market participants </li>
                </ul>

                <p class="tx-18 mg-t-20"> We filter noise in the information and analyze data to identify the Signals and complement your
                investment process to achieve attractive risk adjusted returns.
            </p>
          </div>
        </div>
        
          <div class="col-lg-12 section-2 mg-t-40">
          <div class="container mg-t-10">
            <h1 class="text-center"><label>Our Key Modules</label></h1>
            <div class="li-div mg-t-20">
               
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Market:</strong>
                    Subscribers are provided with a snapshot of the equity market conditions and associated
                    macro-economic information in India. Three key 72PI Points are published to keep subscribers
                    up to date on the latest trends in the market. Macroeconomic data, equity market indices
                    performance and sector indices performance are updated every day to provide user with a
                    glimpse into the current economy and stock market.
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">72PI Portfolio:</strong>
                    72PI will look into fundamental, quantitative, technical and situational analyses to
                    determine the best stocks from the BSE 500 companies to invest in. Subscribers can expect to
                    receive 2-3 trading ideas every week, about 8-10 per month. Each trading idea will have a
                    purchase price range and a target price range to ensure that the subscribers can enter when
                    on the lower end of the purchase price and exit on the upper end of the target range. The
                    time frame for each trading idea will be specified and will generally be between 3-6 months.
  
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Futures & Options:</strong>
                    Using an in-house proprietary model, a list of companies and their corresponding ‘high
                    probability price range’ for near term (typically one month) will be provided to
                    subscribers. This list and the price ranges will be update weekly. For short term trading,
                    subscribers can consider to SELL at top end of range and BUY at bottom end of range.
  
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Quant :</strong>
                    Quantitative models using Machine Learning techniques are used to predict 2 to 4 months
                    relative performance of sectors and companies. Historical data from the last 5 years is used
                    to train the model. The model’s predictions predominantly capture the relative momentum of
                    Sectors and specific stocks within each Sector. Each sector and the companies within each
                    sector fall into one of the following categories:Underweight, Neutral or Overweight. These
                    Quant signals can be used along with other signals to identify investment opportunities in
                    a sector and stock.
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Model Portfolios:</strong>
                    72PI provides subscribers with model portfolios which includes a list of companies that are
                    handpicked based on risk appetite and investment preference.
  
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Wizard:</strong>
                    The BSE 500 companies are put through fundamental, technical and the Quant filters to
                    identify 20-30 interesting investment opportunities based on current market conditions.
                    Subscribers can alter the fundamental, technical and the Quant filters to their desire by
                    customizing the filters.
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Reports:</strong>
                    The 72PI research team provides custom research for its subscribers on a select list of
                    companies to provide curated information about their business and company valuation. This
                    research can be used to understand certain companies at a more granular level.
  
                </p>
                <p>
                    <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
                    <strong class="tx-18">Insights :</strong>
                    72PI team will curate market Insights  into a structured content for easy digestion and
                    understanding of markets.
                </p>
              </div>
          </div>
        </div>
      
			</div>
		</div>
 
  </body>
  <script>
   
    $('.details li').each(function()
    {
        $(this).addClass('content')
    })
    $(document).on("click", ".content", function () {
      alert(this.innerText)
    });
    $("body").css({visibility:'visible'});
  </script>
</html>
{% endblock %}