{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
  <link rel="stylesheet" href="{% static 'css/Prelogin_Products.css' %}?v=1.2">
  <title>Analytics Overview - 72PI</title>  
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
</head>

<body>

  <div class="col-lg-12 prelogin-analytics" style="padding:65px 15px">
    <div class="row">
      <div class="col-lg-12 section-1">
        <div class="container">
          <h1 style="text-align:left;">Easy to Use Tools + Data + Optimization = Attractive Risk Adjusted Returns
          </h1>
          <p class="tx-18 mg-t-20">
            Review and follow the 72PI Portfolio. Use the Wizard for generating stock ideas and high-conviction
            sectors. Deep dive into the portfolio performance and understand the metrics driving overall return. Use
            our Portfolio Optimization module to help pick the right combination of weights to maximize the return or
            to balance the return risk ratio or to achieve the target return. Become a smarter investor at portfolio
            construction.
          </p>
        </div>
      </div>

      <div class="col-lg-12 section-2 mg-t-40 step7-div">
        <div class="container mg-t-10">
          <div class="row">
            <div class="col-lg-4 img-title" style="white-space: nowrap;">
              <h2 class="text-left" style="z-index:999;color:#5627D8;transform: translate(0%, 500%);">7 Steps to your Personalized Hedge Fund
              </h2>
            </div>
            <div class="col-lg-8" style="z-index:-999">
              <img class="img-fluid mg-t-10" height="300" width="900"
                src="{% static 'images/72PI_Landing.png' %}" alt='No Image'/>
            </div>
          </div>
          <div class="li-div mg-t-20">
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">72PI Portfolio:</strong>
              Our portfolio designed with fundamental, quantitative, technical and situational analyses. Adjusted 1 to
              3 times per month depending on market conditions. Our performance is time stamped and measured in a
              transparent manner. Other Model Portfolios available to users.
            </p>
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">Wizard:</strong>
              Automated quantitative filtering of different indices for stock and sector ideas.
            </p>
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">Portfolio Creator:</strong>
              Create portfolios by selecting stocks by sector, and market capitalization. Create portfolios by
              filtering with fundamental and technical data factors such as Sales Growth, PE multiple, EPS Growth,
              Dividend Yield, ROE and many other factors. You can also import portfolios.
            </p>
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">X-Ray Your Portfolio:</strong>
              Analyze your portfolios with 72PI for deep dive into the portfolio performance and understand returns,
              risk / volatility of portfolio and overall recommendations.
            </p>
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18"> Optimizer:</strong>
              For a portfolio, run efficient frontier simulations to understand expected portfolio returns and risk.
              To compare the portfolio weights of different optimization models. Helps in fine tuning the amount of
              investment for each position in your portfolio.
            </p>
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18"> Advance Quant:</strong>
              Futures & Options based quantitative model and a proprietary Machine Learning technique based
              quantitative model are used to predict 1 to 3 months relative performance of stocks and sectors. </p>
            <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18"> Reports & Insights:</strong>
              72PI team will curate market Insights into a structured content for easy digestion and understanding of
              markets. The 72PI research team provides custom research on a select list of companies. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

<script>

  $('.details li').each(function () {
    $(this).addClass('content')
  })
  $("body").css({ visibility: 'visible' });

</script>

</html>
{% endblock %}