{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/pricingPage.css' %}?v=1.2">
    <title>Pricing - 72PI</title> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
  </head>
  <body>
    <div class="col-lg-12 pricing-page-div" style="padding:65px 15px 0px 15px">
			<div class="row">
        <div class="col-lg-12 section-1">
          <div class="container">
            <h1>Single Plan for India and US Market</h1>
             <div class="banner-btn mg-t-30">
                <a href="https://www.youtube.com/embed/Ua3GiVGaDWM" target="_blank">See a product demo</a>
                {% if freesubscription %}
                <a href="{% url 'customerFreeSubscription' %}">Get Free 30-Day Trial</a>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-12 section-2 pd-t-30 pd-b-30">
          <div class="container">
            <h1 class="text-center title"><label>Affordable Pricing Plans</label></h1>
            <h3 class="text-italic mg-t-15 text-center">INDIA & US Market in one Platform</h3>
            <div id="pricing_india_div" class="mg-t-0 ">
              <main class="pricing__features mg-t-0">
                <div class="pricing__plan mg-t-0 ">
                  <div class="pricing__plan__card  mg-t-0 mg-r-0 mg-sm-r-0  mg-lg-r-80 parent gold_div">
                    <div class="sub_div"></div>
                    <h2 class="mg-b-10">Pay INR (₹)</h2>
                    <p class="mg-b-10 mg-t-5 tx-18 sample-p"><span class="">₹ 1,440/month</span></p>
                    <p class="mg-b-0 tx-18 sample-p mg-t-10">Quarterly : <del class="deleted">₹ 4,320</del><span
                        class="price mg-l-5">₹ 3,988</span></p>
                    <p><span class="text-italic tx-12"> (Pay for 12 Weeks & Get 1 Week Free)</span></p>
                    <p class="mg-b-0 tx-18 sample-p">Annually : <del class="deleted">₹ 17,280 </del><span class="price mg-l-5"> ₹
                        14,400</span></p>
                    <p><span class="text-italic tx-12"> (Pay for 10 Months & Get 2 Months Free)</span></p>
                    <a href="{% url 'customerINRSubscription' %}"
                      class="subscribe primary-btn  mg-t-10">Pay in INR (₹)
                    </a>
                    <hr>
                    <div class="row">
                      <div class="col-lg-12 pd-l-100 pd-r-100">
                        <ul class="benefits mg-t-10">
                          <li class="gold content">72PI Portfolio</li>
                          <li class="gold content">Wizard</li>
                          <li class="gold content">Portfolio Creator</li>
                          <li class="gold content">X-Ray Your Portfolio</li>
                          <li class="gold content">Optimizer</li>
                          <li class="gold content">Advance Quant</li>
                          <li class="gold content">Reports & Insights</li>
                        </ul>
                      </div>
            
                    </div>
                  </div>
                  <div class="pricing__plan__card  parent diamond_div">
                    <div class="sub_div"></div>
                    <h2 class="mg-b-10">Pay USD ($)</h2>
                    <p class="mg-b-10 mg-t-5 tx-18 sample-p"><span class="">$ 20/month</span></p>
                    <p class="mg-b-0 tx-18 sample-p mg-t-10">Quarterly : <del class="deleted">$ 60</del><span
                        class="price mg-l-5">$ 56</span></p>
                    <p><span class="text-italic tx-12"> (Pay for 12 Weeks & Get 1 Week Free)</span></p>
                    <p class="mg-b-0 tx-18 sample-p">Annually : <del class="deleted">$ 240 </del><span class="price mg-l-5"> $
                        200</span></p>
                    <p><span class="text-italic tx-12"> (Pay for 10 Months & Get 2 Months Free)</span></p>
            
            
                    <a href="{% url 'customerUSDSubscription' %}" class="subscribe primary-btn  mg-t-10">Pay in USD ($)
                    </a>
                    <hr>
                    <div class="row">
                      <div class="col-lg-12  pd-l-100 pd-r-100">
                        <ul class="benefits mg-t-10">
                          <li class="gold content">72PI Portfolio</li>
                          <li class="gold content">Wizard</li>
                          <li class="gold content">Portfolio Creator</li>
                          <li class="gold content">X-Ray Your Portfolio</li>
                          <li class="gold content">Optimizer</li>
                          <li class="gold content">Advance Quant</li>
                          <li class="gold content">Reports & Insights</li>
            
                        </ul>
                      </div>
            
                    </div>
                  </div>
                </div>
              </main>
            </div>
            
            </div>  
        </div>
        <div class="col-lg-12 section-3 ">
          <div class="container">
            <h2 class="mg-b-30"><label>Frequently Asked Questions</label></h2>
            <p class="accordion"><b> Who is eligible for 30-Day free trial period?</b></p>
            <div class="panel">
              <p>The 30-Day free trial is intended for new users/subscribers to trial our website and application. </p>
              </div>
              <p class="accordion"><b>How does the 30-Day free trial work? </b></p>
              <div class="panel">
                <p>If you cancel during the 30-Day free trial period, we will not charge you anything. Once the trial is over, your access to the Website will be denied unless you subscribe to the service. You will be billed for the coming period (quarterly or annual). </p>

              </div>
              <p class="accordion"><b>Is there a set up fee? </b></p>
              <div class="panel">
                <p>We charge no setup fees. We bill at the beginning of each period (quarter or annual) and, if you cancel, you'll have access till the end of your paid billing period. We don't provide refunds.</p>

              </div>
              <p class="accordion"><b>Are there any discounts for paying annually? </b></p>
              <div class="panel">
                <p>Yes, from a monthly rate the annual subscription price gives two months free. Therefore, in effect you are paying for 10 months and get 2 months free.</p>

              </div>
             
              <p class="accordion"><b>What types of payment do you accept? </b></p>
              <div class="panel">
                <p>We currently accept payment through RazorPay payment gateway, an established payment gateway vendor in India, which accepts internet banking or debit or credit cards and other modes of payment. All payments through RazorPay are processed via SSL with enterprise class security built-in. </p>

              </div>
              <p class="accordion"><b> What browsers do you support?</b></p>
              <div class="panel">
                <p>We currently support Chrome 4+, Internet Explorer 8+, Firefox 3 and higher, Safari 4+, and Chrome 4+. We recommend a computer with at least 2GB RAM for the best performance.</p>

              </div>
          
            
          </div>
        </div>
			</div>
    </div>
    <div id="licontent" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <h3 class="modal-title mg-t-10"></h3>
        <div class="modal-body" >
        </div>
        <div class="modal-footer">
        <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
        </div>
      </div>
      </div>
  </div>
 
      <script>
      
          $(".signal1").height((($(".signal2").height()-0)+'px'));
          $(".analytic1").height((($(".analytic2").height()-0)+'px'));
      $('.pricingtable td:nth-child(1)').each(function () {
        $(this).addClass('content')
      })
      $(document).on("click", ".content", function () {
         
          if (this.innerText == "Portfolio Creator") {

            text = ` Create portfolios by selecting stocks by sector, and market capitalization. Create portfolios by filtering with fundamental and technical data factors such as Sales Growth, PE multiple, EPS Growth, Dividend Yield, ROE and many other factors. You can also import portfolios.`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");
          }

          if (this.innerText == "72PI Portfolio") {
            text = `Our portfolio designed with fundamental, quantitative, technical and situational analyses. Adjusted 1 to 3 times per month depending on market conditions. Our performance is time stamped and measured in a transparent manner. Other Model Portfolios available to users. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

          }
          if (this.innerText == "X-Ray Your Portfolio") {
            text = `Analyze your portfolios with 72PI for deep dive into the portfolio performance and understand returns, risk / volatility of portfolio and overall recommendations. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Optimizer") {
            text =
            `For a portfolio, run efficient frontier simulations to understand expected portfolio returns and risk. To compare the portfolio weights of different optimization models. Helps in fine tuning the amount of investment for each position in your portfolio.

`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Advance Quant") {
            text =
            `Futures & Options based quantitative model and a proprietary Machine Learning technique based quantitative model are used to predict 1 to 3 months relative performance of stocks and sectors. 

`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Wizard") {
            text = `Automated quantitative filtering of different indices for stock and sector ideas.  `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Reports & Insights") {
            text = ` 72PI team will curate market Insights into a structured content for easy digestion and understanding of markets. The 72PI research team provides custom research on a select list of companies. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
           
        });


      
        document.addEventListener("DOMContentLoaded", function(event) { 
        
        
        var acc = document.getElementsByClassName("accordion");
        var panel = document.getElementsByClassName('panel');
        
        for (var i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                var setClasses = !this.classList.contains('active');
                setClass(acc, 'active', 'remove');
                setClass(panel, 'show', 'remove');
        
                if (setClasses) {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
        }
        
        function setClass(els, className, fnName) {
            for (var i = 0; i < els.length; i++) {
                els[i].classList[fnName](className);
            }
        }
        
        });


        //*********************
        const priceP = document.querySelectorAll(".price");
        const delpriceP = document.querySelectorAll(".deleted");
const radioButtons = Array.from(document.querySelectorAll("[name='duration']"));
const prices = {
  quartely: ["1,800","3,600"],
  annually: ["7,200","14,400"]
};
const deleted = {
  quartely: ["2,160","4,320"],
  annually: ["8,640","17,280"]
};
function displayPrice() {
  const checked = radioButtons.filter((radioBtn) => radioBtn.checked);
  const periodPrice = checked[0].value;
  priceP.forEach(
    (price, index) =>
      (price.textContent = `₹ ${prices[periodPrice][index]}`)
  );
  delpriceP.forEach(
    (price, index) =>
      (price.textContent = `₹ ${deleted[periodPrice][index]}`)
  );
}



radioButtons.forEach((radioBtn) => addEventListener("input", displayPrice));

$("body").css({visibility:'visible'});
        </script>
  </body>
 
</html>
{% endblock %}




