{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
		<title>Privacy Policy - 72PI</title>
    <meta name="description" content="" />  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/Privacypolicy.css' %}?v=1.2">
   
    </head>
	  <body>
      <div class="col-lg-12 privacy-div section-gap">
        <div class="row">
          <div class="col-lg-12  section-1" style="margin:10px auto">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <h3  class="text-center"><label>Privacy Policy</label></h3>

                </div>
                <div class="card-body">
                  <p>Aishva Financial Services Private Limited is the owner of the website <a href="https://www.72PI.ai">www.72PI.ai</a></p>
                  <p>Aishva Financial Services is committed to protecting your personal privacy and we have established our internal processes and principles to respect this privacy policy. By using our website, you are hereby consenting to collection of your information by us. The following Privacy Policy applies to the information we collect from users through the <a href="https://www.72PI.ai">www.72PI.ai</a></p>
                  <p>We collect certain information because it is necessary for us to be able to provide and administer our offering and its features. We also collect certain information to comply with specified statutory requirements. </p>
                  <p><a href="https://www.72PI.ai">www.72PI.ai</a> collects the following information from our users as and when you access and use our software platform:</p>
                  <p class="pd-l-40">
                    (1)	Sign Up / Registration: If a user chooses to sign up or register for an account, the user may be required to provide contact information (like first and last names, email address, mobile phone number, age, GST number etc.). This information is used for account notifications, product updates, and if we have trouble processing an order, this contact information is used to get in touch with the user. 
                  </p>
                  <p  class="pd-l-40">(2)	User Communications: When you send email or other communications to 72PI, we may retain those communications in order to process your inquiries, respond to your requests and improve our services. We may use your email address to communicate with you about our services.</p>
                  <p  class="pd-l-40">(3)	Cookies / Log Files: When you access our software platform, we may collect information through technology, such as cookies and web beacons, which helps us personalize our offering. We may send one or more cookies to your device. We may use logs to record user activity to provide better service when visitors return to our site. Our intention is to improve the quality of our service, including tracking user trends, such as the total use of a features.</p>
                  <p>This information helps us to provide you with full user experience from sign up to payment to delivery of our offering to alert notifications to resolving application crashes and to improve our services and features. For us to properly fulfill our offering to our users, it may be necessary for us to supplement the information we receive with information from 3rd party sources. We may be legally required to disclose your personal information in connection with (a) satisfying applicable law, legal process or a governmental request, (b) enforcing the terms of the applicable license and subscription agreement, (c) detecting, preventing, or otherwise addressing fraud, security or technical issues, or (d) protecting against harm to users or the public as required or permitted by law. </p>
                  <p>In addition, if you access our website through any intermediate website, the cookies of such website may be accessing certain information at the source level over which we have no control. We may share information with third party applications that enable communication and transactional emails – such as Mailchimp, Facebook, Amazon SES. The emails we send from the services use such third-party infrastructure and we may share your name and email address with them to send out these emails. Users may occasionally receive information on products, services, special deals, and a newsletter. We will not transfer your personal information to an unrelated third party without your consent. </p>
                  <p><b>Opt-out option: </b>Our users are given the opportunity to 'opt-out' from receiving certain emails / offers from us. Users may opt-out of receiving these communications by sending us email at  <a href="mailto:72pi@aishva.com" target="_top">72pi@aishva.com</a></p>
<p><b>Protecting Your Privacy: </b>Aishva Financial Services takes appropriate measures to protect our users' personal information from unauthorized access or disclosures. We have implemented technical, administrative, and physical security measures that are designed to protect user information from unauthorized access, disclosure, use and modification. From time to time, we review our security procedures to consider appropriate new technology and methods. Please be aware though that, despite our best efforts, no security measures are perfect or impenetrable. We limit access to personal information about you to employees who we believe reasonably need to come into contact with that information to be provided. All of our users' information is restricted in our offices. Our employees must use passwords to access this information. Furthermore, ALL employees are kept up-to-date on our security and privacy policies and practices and are regularly reminded about the importance we place on privacy, and what they can do to ensure our customers' information is protected. Finally, the servers that we store personally identifiable information on are kept in a secure environment.</p>
<p>Please know that Aishva Financial Services takes the privacy of our users very seriously. If you are ever concerned about any of the privacy policy terms, please contact us at <a href="mailto:72pi@aishva.com" target="_top">72pi@aishva.com</a>. </p>
<p><b>Updates to Privacy Policy:</b> From time to time, we may change this privacy policy to accommodate new technologies, industry practices, regulatory requirements or for other purposes. We shall provide notice to you through the contact details provided to us by you. </p>
<p>If you have any questions about the security at our Service, you can send an email to <a href="mailto:72pi@aishva.com" target="_top">72pi@aishva.com</a></p>
 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script>
       $("body").css({visibility:'visible'});
    </script>
    </body>

    </html> 
{% endblock %}