{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Results Comparision - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">

    <link rel="stylesheet" href="{% static 'css/ResultsComparision.css' %}?v=1.2">
   
    <script src="{% static 'js/table_sort.js' %}"></script>

  </head>
  <body>
    <div class="row row-sm section-gap main" style="margin: 4% 0%;">
        <div class="col-sm-12 row page-title  mg-t-25">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Optimizer
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'resultsComparision' %}" class="nav-sub-link">Results Comparision</a>
                </p>
            </div>
            <div class="row col-sm-6 justify-content-end">
            </div>
        </div>
     
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12   main-sub-div2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
               
            </div>
        </div>
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center" ><label>Optimization Results Comparision</label></h4>
                    </div>
                    <div style='padding:20px'>
                        <div class="scroll-div table-responsive">
                            <table class="table table-hover table-striped sortable unselectable">
                                <thead id="thead">
              
                                </thead>
                                <tbody id="tbody">
                                    
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
       
        $(document).ready(function()
        {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })  
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'resultsComparision' %}?portfoliochanged-to="+portfolioName;
            return false;
        });
        $('.card-body').width($('.card').width()-50)

        var table_data={{table_data|safe}}

        if (table_data.length!=0)
        {
            create_table(table_data)
            function create_table(output)
            {
                    $("#thead").empty();
                    header_list={{header_list|safe}}
                    Risk={{Risk|safe}}
                    Return={{Return|safe}}
                    th = "";
                    for(var i =0; i< header_list.length; i++)
                    {
                        if(i!=0)
                            th += '<th>' + header_list[i] + '(%)<br>Risk '+parseFloat(Risk[i-1]*100).toFixed(1)+'%<br>Return '+parseFloat(Return[i-1]*100).toFixed(1)+'%</th>';      // TABLE HEADER.
                        else
                            th += '<th>' + header_list[i] + '</th>';
                    }
                    tr = $("<tr>").append($(th));
                    $("#thead").append($(tr));
                
                    
                    tabledata = new Array();

                    for(i=0;i<output.length;i++)
                    { 
                        tabledata.push(output[i])

                    }  
                                    
                     
                    $("#tbody").empty();
                    // Retrieve the tbody element from the table to add the data 
                    var table = document.getElementById("tbody");
                    
                    //Get the count of columns.
                    var columnCount = tabledata[0].length;
                    var row = table.insertRow(0);
                    //Add the data rows.
                    for (var i = 0; i < tabledata.length; i++)
                    {
                        row = table.insertRow(-1);
                        for (var j = 0; j < columnCount; j++)
                        {
                            var cell = row.insertCell(-1);
                            cell.innerHTML = tabledata[i][j];
                    }
                }
            }
            $('table tr td:not(:first-child)').each(function()
            {
                final_val= ($(this).text()*100).toFixed(2)
                $(this).text(final_val)
            })
        }
        else{
            
            $('.scroll-div').text("Note: Results Comparison requires your optimized portfolio's, please run Efficient Frontier and Target Return Model.")
            $('.scroll-div').addClass('text-center')
        }
        $('.table tr td:nth-child(1)').each(function()
                            {
                                $(this).addClass('company')
                            })
                            $(document).on("click", ".company", function () {
                                var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
                                window.open(stockURL, '_blank');
                                return false; 
                                });    
                         
                                $("body").css({visibility:'visible'});
        
    </script>


{% endblock %}
