{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>
        <title>Risk Monitoring - 72PI</title>  
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="keywords" content="72pivar, 72pivfx, var, risk , risk monitoring, stockrisk, portfoliorisk, vfx"/>
        <meta name="description" content="It helps in understanding the portfolio using risk metrics like volatility, beta, VaR and our in-house risk metric, VFX" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/Risk_Overview.css' %}?v=1.2">
    </head>
    <body>
        <div class="se-pre-con"></div>
        <div class="row row-sm section-gap main risk_overview_page" style="margin: 2% 0%;">
            <div class="row col-sm-12 page-title  mg-t-60">
				<div class="col-sm-6">
                    <p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        X-Ray Analyzer
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'risk_overview' %}" class="nav-sub-link">Risk Overview</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
                        <div class="banner-btn mg-l-5">
                            <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                                aria-hidden="true">
                            </i></a>
                        </div>
                    </div>
                </div> 
                <div id="videoModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe id="video-div" height="315" src="https://www.youtube.com/embed/QUTsxbn7lRA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="page-title  mg-t-55">
               
            </div>
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div> 
            <div class="col-sm-12  main-sub-div2">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                            <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                            <select id="globalPortfolio" class="form-controls mg-l-20">
                                {% for portfolio in portfolio_names %}
                                <option value='{{portfolio}}'>{{portfolio}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center"><label>Quantitative Risk Monitoring</label></h4>
                    </div>
                    <div class="risktable card-body pd-t-0">
                        <div class="scroll-div table-responsive">
                            <table class="table sortable unselectable quantitative_risk_monitoring">
                                <thead id="thead3">

                                </thead>
                                <tbody id="tbody3">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mg-t-30">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0 col9_graph">
                        <div class="card pd-b-0" >
                            <div class="card-header">
                                <h4 class="card-title text-center"><label>Risk Overview</label></h4>
                            </div>
                            <div class="card-body pd-b-0 pd-t-5 riskover_div">
                                <div class="mg-b-0 pd-b-0 div1-card2">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="select-dates mg-l-15">
                                            <div class="filter-tabs">
                                                <ul class="nav-tabs" id="required_value">
                                                   
                                                    <li class="" onclick="data('YTD')"><a data-toggle="pill" href="#"
                                                            class="nav-sub-tab YTD" id="YTD" aria-expanded="false">YTD</a></li>
                                                    <li class="" onclick="data('MTD')"><a data-toggle="tab" href="#"
                                                            class="nav-sub-tab MTD" id="MTD" aria-expanded="false">MTD</a></li>
                                                    <li class="" onclick="data('1Y')"><a data-toggle="tab" href="#"
                                                            class="nav-sub-tab 1Y" id="one_year" aria-expanded="false">1Y</a>
                                                    <li class="" onclick="data('ITD')"><a data-toggle="pill" href="#"
                                                        class="nav-sub-tab ITD " id="ITD" aria-expanded="false">2019</a></li>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="graphs mg-t-0">
                                        <div class="table-responsive">
                                            <h5 class="card-title text-center">At Portfolio level</h5>
                                            <table class="table table-hover table-striped unselectable  mg-t-20">
                                                <thead>
                                                    <tr>
                                                        <th style="width:25%"></th>
                                                        <th id="annu_return1">Annualized Return</th>
                                                        <th>Annualized Volatility (Risk)</th>
                                                        <th>Beta</th>
                                                        <th>VaR({{symbol}})</th>
                                                        <th>VaR(%)</th>
        
                                                    </tr>
                                                </thead>
                                                <tbody id="tbody">
        
                                                </tbody>
                                            </table>
                                        </div>
        
                                        <div class="stocktable table-responsive">
                                            <h5 class="card-title text-center">At Stock level</h5>
                                            <div class="view" class="mg-b-0">
                                                <div class="wrapper">
                                                    <table class="table table-hover table-striped sortable st_table unselectable stock_risktable">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:25%" class="sticky-col first-col">Stock</th>
                                                                <th id="annu_return" class="non-sticky">Annualized Return</th>
                                                                <th class="non-sticky">Annualized Volatility (Risk)</th>
                                                                <th class="non-sticky">Beta</th>
                                                                <th class="non-sticky">VaR({{symbol}})</th>
                                                                <th class="non-sticky">VaR(%)</th>
            
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody2">
            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12 mg-t-20 section-graph col3_notes">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card  mg-b-20 section-graph1">
                                    <div class="card-body notes ">
                                        <div class="mg-t-0">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-0 card-title">Beta</h6>
                                                    <hr >
                                                    <p class="m-b-0" id="high_beta"></p>
                                                    <hr >
                                                    <p class="m-b-0" id="low_beta"></p>
                                                    <!-- <hr class="mg-b-0"> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div>
                            <div class="col-lg-4">
                                <div class="card  mg-b-20 section-graph2">
                                    <div class="card-body notes ">
                                        <div class="mg-t-0">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-0 card-title">Volatility </h6>
                                                    <hr>
                                                    <p class="m-b-0" id="high_volatility"></p>
                                                    <hr>
                                                    <p class="m-b-0" id="low_volatility"></p>
                                                    <!-- <hr> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div>
                            <div class="col-lg-4">
                                <div class="card  mg-b-20 section-graph3">
                                    <div class="card-body notes ">
                                        <div class="mg-t-0">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-b-0 card-title">VaR <span class="mg-t-0 tx-10 varp">
                                                        (Daily VaR based on 1 year trading days data at <b>99%</b> confidence interval
                                                        with 1-day time horizon.)
                                                    </span></h6>
                                                    <hr>
                                                    <p class="m-b-0" id="high_var"></p>
                                                    <hr>
                                                    <p class="m-b-0" id="low_var"></p>
                                                    <!-- <hr> -->
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- card-body -->
                                </div><!-- card -->
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Risk Overview</label></h3>
              <div class="modal-body">
         <p>
            Quantitative risk monitoring dashboard gauges the entire portfolio from the lens of relative strength, risk, technical and momentum metrics. Risk overview presents the risk metrics: volatility, beta and VaR by stock and at a portfolio level. For all the three metrics, higher the value, higher the risk. 
         </p>      <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        </div>
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'js/table_sort.js' %}"></script>

    <script>
        $(document).on("click", ".description_btn", function () {
        $('#description').modal('show');
        })
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
        $(document).ready(function () {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'risk_overview' %}?portfoliochanged-to=" + portfolioName;
            return false;
        });
        var riskmonitor_tabledata = {{ riskmonitor_tabledata| safe}};
        var output1={{output1|safe}};
        var output2={{output2|safe}};
        var categories1={{categories1|safe}};
        var categories2={{categories2|safe}};
        var plot_line1={{plot_line1|safe}};
        var plot_line2={{plot_line2|safe}};
        var max_value1={{max_value1|safe}};
        var max_value2={{max_value2|safe}};
        var min_value1={{min_value1|safe}};
        var min_value2={{min_value2|safe}};
       if(riskmonitor_tabledata.length!=0){
            create_table_monitor(riskmonitor_tabledata)
       }
        function create_table_monitor(output) {
        $("#thead3").empty();
        header_list = {{ riskmonitor_headerlist | safe }}

        th = "";
        for (var i = 0; i < header_list.length; i++) {
            if(i==0)
             th += '<th class="sticky-col first-col">' + header_list[i] + '</th>';  
            else
            th += '<th class="non-sticky">' + header_list[i] + '</th>';  
        }
        tr = $("<tr>").append($(th));
        $("#thead3").append($(tr));
        tabledata = new Array();
        for (i = 0; i < output.length; i++) {
            tabledata.push(output[i])
        }
        $("#tbody3").empty();
        // Retrieve the tbody element from the table to add the data 
        var table = document.getElementById("tbody3");

        //Get the count of columns.
        var columnCount = tabledata[0].length;
        var row = table.insertRow(0);
        //Add the data rows.
        for (var i = 0; i < tabledata.length; i++) {
            row = table.insertRow(-1);
            for (var j = 0; j < columnCount; j++) {
                var cell = row.insertCell(-1);
                cell.innerHTML = tabledata[i][j];
            }
            $(table).find('tr:eq(' + (i+1) + ') td:nth-child(1)').addClass('company sticky-col first-col')
            id = ("1y_price" + (i+1))
            $(table).find('tr:eq(' + (i+1) + ') td:nth-child(9)').attr('id',id);
            graphs(output2[i], categories2[i], plot_line2[i], max_value2, min_value2, id) 
            id = ("1m_price" +(i+1))
            $(table).find('tr:eq(' + (i+1) + ') td:nth-child(10)').attr('id',id);
            graphs(output1[i], categories1[i], plot_line1[i], max_value1, min_value1, id) 
        }
        $("#tbody3 tr:first-child").remove();
        $('.risktable table tr').each(function () {
            for (i = 0; i < columnCount; i++) {
                if (i == 3 || i == 4 || i == 5 || i == 6 || i == 7 || i == 13) {
                    var tdvalue = parseFloat($(this).find('td').eq(i).text());
                    $(this).closest('tr').find('td').eq(i).text((tdvalue * 100).toFixed(2) + "%")

                    if (i != 13) {
                        if ((tdvalue * 100) > (15)) {
                            $(this).closest('tr').find('td').eq(i).addClass("return_green")
                        }
                        if ((tdvalue * 100) < (-10)) {
                            $(this).closest('tr').find('td').eq(i).addClass("return_red")
                        }
                    }
                }
                else if (i == 0) {
                    var tdvalue = ($(this).find('td').eq(i).text());
                    $(this).closest('tr').find('td').eq(i).text((tdvalue));
                    $(this).find('td').eq(i).addClass('company sticky-col first-col')

                }
                else {
                   
                    if (i != 2 && i!=8 && i!=9) {
                        var tdvalue = parseFloat($(this).find('td').eq(i).text());
                        if ('{{symbol|safe}}' == '$')
                            $(this).closest('tr').find('td').eq(i).text(tdvalue.toLocaleString('en-US', { maximumFractionDigits: 0 }))
                        else
                            $(this).closest('tr').find('td').eq(i).text(tdvalue.toLocaleString('hi-IN', { maximumFractionDigits: 0 }))
                    }
                }
            }
            if (parseFloat($(this).find('td').eq(1).text()) < parseFloat($(this).find('td').eq(12).text()) && parseFloat($(this).find('td').eq(13).text()) > 9) {
                $(this).closest('tr').find('td').eq(12).addClass("return_red");
                $(this).closest('tr').find('td').eq(13).addClass("return_red");
                $(this).closest('tr').find('td').eq(13).append("<strong class='mg-l-40 return_red pd-5' >-ve</strong>")
            }
            else {
                $(this).closest('tr').find('td').eq(13).append("<strong class='mg-l-40  pd-5' >&emsp;&emsp;</strong>")
            }


            if (parseFloat($(this).find('td').eq(12).text()) > (1.04 * parseFloat($(this).find('td').eq(1).text()))) {
                $(this).closest('tr').find('td').eq(12).append("<strong class='mg-l-10 return_red pd-5' >-ve</strong>")
            }
            else {
                $(this).closest('tr').find('td').eq(12).append("<strong class='mg-l-10 pd-5' style='background-color: transparent !important;'>&emsp;&emsp;</strong>")
            }

            if (parseFloat($(this).find('td').eq(10).text()) > 70) {
                $(this).closest('tr').find('td').eq(10).append("<strong class='mg-l-10 return_green pd-2' >Over Bought</strong>")
            }
            else if (parseFloat($(this).find('td').eq(10).text()) < 30) {
                $(this).closest('tr').find('td').eq(10).append("<strong class='mg-l-10 return_red pd-5' >Over Sold</strong>")
            }
            else {
                $(this).closest('tr').find('td').eq(10).append("<strong class='mg-l-20 pd-5' style='background-color: transparent !important;'>&emsp;&emsp;&emsp;&emsp;&emsp;</strong>")
            }

        })

        

        }

        if ($('.risktable table').height() < 500) {
            $('.risktable').height($('.risktable table').height() + 20);
            $('.risktable div').removeClass('scroll-div');

        }

        function graphs(data_list, cate, plot_lines, maximum, minimum, graphid) {

            const color_grad1 = {
                linearGradient: { x1: 0, x2: 0, y1: 0, y2: 1 },
                stops: [
                    [0, 'green'],
                    [1, 'red']
                ]
            };
                var sym;
                if ("{{symbol|safe}}" == '₹')
                    sym = 'hi-IN'
                else
                    sym = 'en-US'

               
                min_length = (minimum + '').length
                x = min_length - (cate[0] + '').length
                str = (parseFloat(cate[0])).toFixed(1) + ''
                Highcharts.chart(graphid, {
                    chart: {
                        height: 40,
                        width: 250,
                        type: 'bar',
                        inverted: true,
                        marginLeft: 60,
                        marginRight: 60,

                        backgroundColor: "transparent"

                    },

                    credits: {
                        enabled: false
                    },
                    exporting: {
                        buttons: {
                            contextButton: {
                                enabled: false
                            },

                        }
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        categories: cate,
                        lineColor: 'transparent', tickLength: 0,
                        offset: -10,
                        labels:
                        {
                            enabled: true,
                            style: {
                                width: 180,
                                paddingLeft: 0,
                                fontWeight: 'normal',
                                fontSize: '10px',
                                color: 'black',
                            },
                            formatter: function () {


                                return "{{symbol|safe}}" + parseFloat(((this.value)).toFixed(0)).toLocaleString(sym)

                            },
                        },




                    },
                    yAxis: {
                        min: parseFloat(cate[0]),
                        max: data_list[0]['y'],
                        startOnTick: false,
                        endOnTick: false,
                        allowDecimals: false,
                        tickPositions: [parseFloat(cate[0]), data_list[0]['y']],
                        gridLineWidth: 0,

                        title: {
                            text: null
                        },
                        lineColor: 'transparent', tickLength: 0,
                        labels: {
                            enabled: false
                        },
                        plotLines: [{
                            color: 'black',
                            width: 2,
                            value: plot_lines[0],
                            zIndex: 10,
                            label: {
                                rotation: 0,
                                text: "{{symbol|safe}}" + parseFloat(((plot_lines[0])).toFixed(0)).toLocaleString(sym),
                                verticalAlign: 'top',
                                textAlign: 'center',
                                rotation: 0,
                                y: -1,
                                style: {
                                    fontWeight: 'normal',
                                    fontSize: '10px',
                                }


                            }

                        },

                        {
                            color: 'black',

                            width: 0,
                            value: data_list[0]['y'],
                            label: {
                                rotation: 0,
                                text: "{{symbol|safe}}" + parseFloat(((data_list[0]['y']).toFixed(0))).toLocaleString(sym),
                                x: 5,
                                y: 12,
                                style: {
                                    fontWeight: 'normal',
                                    fontSize: '10px',
                                }



                            }

                        }
                        ]
                    },
                    tooltip: {
                        enabled: false,

                    },

                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: false,

                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },

                    series: [{

                        data: data_list,
                        color: color_grad1
                    }]
                });
            }
        



       
       
        get_data('YTD');
        $('.YTD').addClass('actives');
        $('#annu_return').text('Annualized Return')
        $('#annu_return1').text('Annualized Return')
        function data(required_value) {
            get_data(required_value)
        }
        function get_data(required_value) {
            $('.actives').removeClass('actives')
            if (required_value == 'ITD') {

                $('.ITD').addClass('actives');
                $('#annu_return').text('Annualized Return')
                $('#annu_return1').text('Annualized Return')


            }
            else if (required_value == 'YTD') {
                $('.YTD').addClass('actives');
                $('#annu_return').text('Cumulative Return')
                $('#annu_return1').text('Cumulative Return')


            }
            else if (required_value == 'MTD') {
                $('.MTD').addClass('actives');
                $('#annu_return').text('Cumulative Return')
                $('#annu_return1').text('Cumulative Return')


            }
            else if (required_value == '1Y') {
                $('.1Y').addClass('actives');
                $('#annu_return').text('Cumulative Return')
                $('#annu_return1').text('Cumulative Return')
            }
            else if (required_value == 'QTD') {
                $('.QTD').addClass('actives');
                $('#annu_return').text('Cumulative Return')
                $('#annu_return1').text('Cumulative Return')
            }
            $('.table-responsive').hide();
            $('.se-pre-con').fadeIn();
            $.ajax({
                url: "{% url 'risk_overview' %}",
                type: 'post',
                data: {
                    'required_value': required_value
                },
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                    $('.table-responsive').show();                    
                    create_table('tbody', json.portfolio_table, json.symbol)
                    create_table('tbody2', json.stockwise_table, json.symbol)
                    $('.st_table tr td:nth-child(1)').each(function () {
                        $(this).addClass('company sticky-col first-col')
                    })

                    $('#high_beta').html('<span style="color:green">Highest</span> : <b>' + json
                        .max_beta_list[0][0] + " (" + json.max_beta_list[0][1].toFixed(2) + ')</b>')
                    $('#low_beta').html('<span style="color:red">Lowest</span> : <b>' + json.min_beta_list[
                        0][0] + " (" + json.min_beta_list[0][1].toFixed(2) + ')</b>')
                    $('#high_volatility').html('<span style="color:green">Highest</span> : <b>' + json
                        .max_vol_list[0][0] + " (" + (json.max_vol_list[0][1] * 100).toFixed(1) +
                        '%)</b>')
                    $('#low_volatility').html('<span style="color:red">Lowest</span> : <b>' + json
                        .min_vol_list[0][0] + " (" + (json.min_vol_list[0][1] * 100).toFixed(1) +
                        '%)</b>')
                    if ('{{symbol|safe}}' == '$') {
                        $('#high_var').html('<span style="color:green">Highest</span> : <b>' + json
                            .max_var_list[0][0] + " (" + json.symbol + parseFloat(json.max_var_list[0][
                                1].toFixed(0)).toLocaleString('en-US') + ')</b>')
                        $('#low_var').html('<span style="color:red">Lowest</span> : <b>' + json
                            .min_var_list[0][0] + " (" + json.symbol + parseFloat(json.min_var_list[0][
                                1].toFixed(0)).toLocaleString('en-US') + ')</b>')

                    } else {
                     
                        $('#high_var').html('<span style="color:green">Highest</span> : <b>' + json
                            .max_var_list[0][0] + " (" + json.symbol + parseFloat(json.max_var_list[0][
                                1].toFixed(0)).toLocaleString('hi-IN') + ')</b>')
                        $('#low_var').html('<span style="color:red">Lowest</span> : <b>' + json
                            .min_var_list[0][0] + " (" + json.symbol + parseFloat(json.min_var_list[0][
                                1].toFixed(0)).toLocaleString('hi-IN') + ')</b>')

                    }

                    $('.se-pre-con').fadeOut();

                },
                error: function (json) {
                  
                    $('.se-pre-con').fadeOut(1);

                }

            });

        }


        //function to create dynamic table
        function create_table(tbody_id, output, symbol) {


            var tabledata = new Array();

            for (i = 0; i < output.length; i++) {
                if ('{{symbol|safe}}' == '$')
                    tabledata.push([output[i][0], (output[i][1] * 100).toFixed(1) + '%', (output[i][2] * 100)
                        .toFixed(1) + '%', (output[i][3]).toFixed(2), parseFloat(output[i][4].toFixed(
                            0)).toLocaleString('en-US'), (output[i][5] * 100).toFixed(1) + '%'
                    ])
                else
                    tabledata.push([output[i][0], (output[i][1] * 100).toFixed(1) + '%', (output[i][2] * 100)
                        .toFixed(1) + '%', (output[i][3]).toFixed(2), parseFloat(output[i][4].toFixed(
                            0)).toLocaleString('hi-IN'), (output[i][5] * 100).toFixed(1) + '%'
                    ])
            }

            $("#" + tbody_id).empty();

            // Retrieve the tbody element from the table to add the data 
            var table = document.getElementById(tbody_id);

            //Get the count of columns.
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            //Add the data rows.
            for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            }
                $('#'+tbody_id+' tr td').each(function() {
                    if(($(this).text().replace(/[%,]/g, '')).includes('123456789'))
                    {
                        $(this).text('')
                    }
                })
                if(tbody_id=='tbody2')
                {
                    if ($('.stock_risktable').height() < 500) {
                        $('.wrapper').height($('.stock_risktable').height()+20)
                    }
                    else{
                        $('.wrapper').height('50vh')
                    }

                }

        }


     
        $('.table td:first-child').css("text-align", "left");

        $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
            window.open(stockURL, '_blank');
            return false;
        });
        function checkWidth() {

            if ($(window).width() < 580) {
                $('.table thead th:nth-child(1)').removeClass('sticky-col first-col');
                $('.table tbody td:nth-child(1)').removeClass('sticky-col first-col');

            }
            else {
                $('.table thead th:nth-child(1)').addClass('sticky-col first-col');
                $('.table tbody td:nth-child(1)').addClass('sticky-col first-col');

            }
        }
        checkWidth();
        $(window).resize(checkWidth);
        $("body").css({visibility:'visible'});
    </script>
{% endblock %}