{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>   
    <head>
        <title>Create Portfolio Using Filters - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/screener.css' %}?v=1.2">
        <style>
            .pagination li{
                display:inline-block !important;
            }
            body  
            {
                visibility: visible !important;
            }
        </style>
    </head>
    <body>
        <div class="col-lg-12 section-gap">
            <div class="col-lg-12">
                <div class="row page-title  mg-t-20">
                    <div class="col-sm-6">
                        <p class="text-white tx-20">
                            <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Portfolio Creator
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            <a href="{% url 'screener' %}" class="nav-sub-link">Create Portfolio by using filters</a>
                        </p>
                    </div>
                    <div class="row col-sm-6 justify-content-end">
                        <div class="description_btn">
                            <button>How to Use this Page ?</button>
                        </div>
                    </div>
                </div>
                <div class="page-title d-flex">
                    <div class="mg-t-10">
                        
                        <div class="disclaimer-text mg-t-0">
                            <p class="text-italic">
                                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                            </p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="mg-t-10">
                <div class="col-lg-12">
                    <div class="card filter-card">
                    <div class="card-body">
                        <h4 class="text-center card-title pd-t-5"><label>Create Portfolio by using filters</label></h4>
                        <div class="row">
                            <div class="col-lg-12 mg-t-15">
                            <div class="row text-center row">
                                <table class="table filters-table">
                                        <tr>
                                            <td class="text-center">
                                                <ul id="main-tabs-ul">
                                                    <li id="quantitative">Quantitative</li>
                                                    <li id="fundamental">Fundamental</li>
                                                    <li id="technical">Technical</li>
                                                    <li id="risk_other">Risk/Other</li>
                                                </ul>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-t-15">
                                <div class="main-tab-div row" id="quant-div">
                                    <table class="table quant-table" cellpadding="1" cellspacing="1">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label> Market Cap</label>
                                            </td>
                                            <td>
                                                <select id="quant_market_cap">
                                                    {% for option in quant_market_cap %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Sales</label>
                                            </td>
                                            <td>
                                                <select id="quant_sales">
                                                    {% for option in quant_sales %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Sector</label>
                                            </td>
                                            <td>
                                                <select id="quant_sector">
                                                    {% for option in quant_sector %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> FO Stocks</label>
                                            </td>
                                            <td>
                                                <select id="quant_fo_stocks">
                                                    {% for option in quant_fo_stocks %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label> Price</label>
                                            </td>
                                            <td>
                                                <select id="quant_price">
                                                    {% for option in quant_price %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Target Price</label>
                                            </td>
                                            <td>
                                                <select id="quant_target_price">
                                                    {% for option in quant_target_price %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Volume</label>
                                            </td>
                                            <td>
                                                <select id="quant_volume">
                                                    {% for option in quant_volume %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Index</label>
                                            </td>
                                            <td>
                                                <select id="quant_index">
                                                    {% for option in quant_index %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="8"><button class="reset-filters">Reset(0)</button></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div class="main-tab-div" id="fund-div">
                                    <table class="table fund-table" cellpadding="1" cellspacing="1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label> PE</label>
                                            </td>
                                            <td>
                                                <select id="fund_pe">
                                                    {% for option in fund_pe %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> PB</label>
                                            </td>
                                            <td>
                                                <select id="fund_pb">
                                                    {% for option in fund_pb %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> EV/Sales</label>
                                            </td>
                                            <td>
                                                <select id="fund_ev_sales">
                                                    {% for option in fund_ev_sales %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> EV/EBITDA</label>
                                            </td>
                                            <td>
                                                <select id="fund_ev_ebitda">
                                                    {% for option in fund_ev_ebitda %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label> Div Yield</label>
                                            </td>
                                            <td>
                                                <select id="fund_div_yield">
                                                    {% for option in fund_div_yield %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                    
                                            <td>
                                                <label>Sales Growth LFY</label>
                                            </td>
                                            <td>
                                                <select id="fund_sales_growth">
                                                    {% for option in fund_sales_growth %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        
                                            <td>
                                                <label>Sales Growth 3Y CAGR</label>
                                            </td>
                                            <td>
                                                <select id="fund_sales_growth_3y">
                                                    {% for option in fund_sales_growth_3y %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>EPS Growth LFY</label>
                                            </td>
                                            <td>
                                                <select id="fund_eps_growth">
                                                    {% for option in fund_eps_growth %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>EPS Growth 3Y CAGR</label>
                                            </td>
                                            <td>
                                                <select id="fund_eps_growth_3y">
                                                    {% for option in fund_eps_growth_3y %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>ROE</label>
                                            </td>
                                            <td>
                                                <select id="fund_roe">
                                                    {% for option in fund_roe %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        
                                            <td>
                                                <label>ROCE</label>
                                            </td>
                                            <td>
                                                <select id="fund_roce">
                                                    {% for option in fund_roce %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        
                                            <td>
                                                <label>FCF Margin</label>
                                            </td>
                                    
                                            <td>
                                                <select id="fund_fcf">
                                                    {% for option in fund_fcf %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Sales/Total Assets</label>
                                            </td>
                                            <td>
                                                <select id="fund_sales">
                                                    {% for option in fund_sales %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                            <label>NET Debt/FCF</label>
                                        </td>
                                        <td>
                                            <select id="fund_net_debt_fcf">
                                                {% for option in fund_net_debt_fcf %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <label>Net Debt/EBITDA</label>
                                        </td>
                                        <td>
                                            <select id="fund_net_debt_ebitda">
                                                {% for option in fund_net_debt_ebitda %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                            </select>
                                        </td>
                                        
                                            <td>
                                                <label>Debt/Equity</label>
                                            </td>
                                            <td>
                                                <select id="fund_debt_equity">
                                                    {% for option in fund_debt_equity %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="8"><button class="reset-filters">Reset(0)</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="main-tab-div" id="tech-div">
                                    <table class="table tech-table" cellpadding="1" cellspacing="1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label> Realtive Strength 30D</label>
                                            </td>
                                            <td>
                                                <select id="tech_rsi_30d">
                                                    {% for option in tech_rsi_30d %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Relative Strenght 90D</label>
                                            </td>
                                            <td>
                                                <select id="tech_rsi_90d">
                                                    {% for option in tech_rsi_90d %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Avg 10D vs Avg 90D Vol</label>
                                            </td>
                                            <td>
                                                <select id="tech_volume_chg">
                                                    {% for option in tech_volume_chg %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Price vs 52 Week High</label>
                                            </td>
                                            <td>
                                                <select id="tech_price_52_week">
                                                    {% for option in tech_price_52_week %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label> Price vs 50DMA</label>
                                            </td>
                                            <td>
                                                <select id="tech_ma50">
                                                    {% for option in tech_ma50 %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Price vs 200DMA</label>
                                            </td>
                                            <td>
                                                <select id="tech_ma200">
                                                    {% for option in tech_ma200 %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>RSI (14D)</label>
                                            </td>
                                            <td>
                                                <select id="tech_rsi">
                                                    {% for option in tech_rsi %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>

                                            <td class="text-right" colspan="4"><button class="reset-filters">Reset(0)</button></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="main-tab-div" id="risk-div">
                                    <table class="table risk-table" cellpadding="1" cellspacing="1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>Beta</label>
                                            </td>
                                            <td>
                                                <select id="risk_beta">
                                                    {% for option in risk_beta %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Volatility</label>
                                            </td>
                                            <td>
                                                <select id="risk_volatility">
                                                    {% for option in risk_volatility %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Piotroski Score</label>
                                            </td>
                                            <td>
                                                <select id="risk_piotroski_score">
                                                    {% for option in risk_piotroski_score %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Avg 20D Volume</label>
                                            </td>
                                            <td>
                                                <select id="risk_avg_daily_volume">
                                                    {% for option in risk_avg_daily_volume %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Share Turnover</label>
                                            </td>
                                            <td>
                                                <select id="risk_avg_shares_turnover">
                                                    {% for option in risk_avg_shares_turnover %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="text-right" colspan="6"><button class="reset-filters">Reset(0)</button></td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                        </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="apply-filters" onclick="applyFilters()">Apply</button>
                        </div>
                        <script>
                            $('.main-tab-div').hide().eq(0).show();
                            $('#main-tabs-ul li:first-child').addClass('active');
                            var country=$('.country-select').val();
                            var country_switch='{{symbol|safe}}';
                            if (country_switch=='$') {
                                $("#quant_market_cap").val("Above $2000M");
                                $("#quant_market_cap").css('background-color','#fff466');
                                global_filter_list=[{'factor':'quant_market_cap','condition':'Above $2000M'}]
                            }
                            else
                            {
                            $("#quant_market_cap").val("Above 500cr");
                            $("#quant_market_cap").css('background-color','#fff466');
                            global_filter_list=[{'factor':'quant_market_cap','condition':'Above 500cr'}]
                            }
                                $('.reset-filters').html("Reset ("+global_filter_list.length+")");

                        </script>
                        <div class="card-bodys">
                            <div class="loader"></div>
                            <div class="">
                                <div class="">
                                    <div class="text-right pd-r-0 ">
                                        {% if portfolios %}
                                        <button type="button" class="addExisting mg-r-2" >Add To Existing</button>
                                        {% endif %}
                                        <button type="button"  id="createportfolio" class="mg-t-5 mg-sm-t-5 mg-lg-t-0">Create Portfolio</button>
                                        <button style="display:none;float:right" id="auto_fill" class="quantity_autofill  mg-l-5">Fill Equal Quantity</button>
                                    </div>
                                </div>
                            </div>
                          

                            <div class="col-lg-12 d-flex pd-l-0 pd-r-0 mg-t-10">
                                <div class="col-lg-6  pd-l-0 pd-r-0">
                                    <span class="tx-12" >Default Investment Amt/Stock:</span><strong>{{symbol|safe}}</strong><input type="text" class="new_invstamt mg-l-5" value='{{defaultInvestmt}}'><button class="apply_invst" >Apply</button>
                                    
                                </div>
                                <div class="d-flex col-sm-6 pd-l-0 pd-r-0">
                                    <div id="disp">
                                        <input  type="text" id="search_text" autocomplete="off" placeholder="Search here...."  aria-label="Search" >
                                    </div>
                                    <div class="text-right pd-t-5 rec-div">
                                        Total: <Span class="records"> </Span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-fixed-div">
                                <div class="scroll-div table-responsives mg-t-10 refresh-div">
                                    <table id="indextable" class="table sortable unselectable table-bordered table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th class="text-center sticky-col first-col" id='choose' data-orderable="false" class="stock" name="stock">Select <input name="select_all" value="1" id="selectAll" type="checkbox" /></th>
                                                <th class="text-center sticky-col second-col" id ='company' onClick="SortTable(1,'T')" >Company</th>
                                                <th class="text-center non-sticky" id ='sec_code' onClick="SortTable(2,'T')" >Security Code</th>
                                                <th class="text-center non-sticky" id ='quant_sector' onClick="SortTable(3,'T')">Sector</th>
                                                <th class="text-center non-sticky" id ='quant_market_cap_category' onClick="SortTable(4,'T')">Mktcap Category</th>
                                                <th class="text-center non-sticky" id ='quant_market_cap' onClick="SortTable(5,'N')">Mcap({{mcap_in|safe}})</th>
                                                <th class="text-center  non-sticky" id='quant_price' onClick="SortTable(6,'N')">Current Price({{symbol|safe}})</th>
                                                <th class="text-center  non-sticky" id='quantity'  data-orderable="false">Quantity</th>
                                                <!-- <th class="text-center  non-sticky" id='mtd' onClick="SortTable(8,'N')" >MTD</th>
                                                <th class="text-center  non-sticky" id='ytd' onClick="SortTable(9,'N')">YTD</th>
                                                <th class="text-center  non-sticky" id='number_1y' onClick="SortTable(10,'N')">1Year</th> -->
                                                <th class="text-center  non-sticky" id='risk_beta' onClick="SortTable(8,'N')">Beta 1Y</th>
                                                <th class="text-center  non-sticky" id='risk_volatility' onClick="SortTable(9,'N')" >Volatility 1Y</th>                                      
                                                <th class="text-center  non-sticky" id='quant_sales' onClick="SortTable(10,'N')">Sales({{mcap_in|safe}})</th>
                                                <th class="text-center  non-sticky" id='fund_pe' onClick="SortTable(11,'N')">P/E</th>
                                                <th class="text-center  non-sticky" id='fund_pb' onClick="SortTable(12,'N')">P/B</th>
                                                <th class="text-center  non-sticky" id ='fund_div_yield' onClick="SortTable(13,'N')">Div.Yield</th>
                                                <th class="text-center  non-sticky" id='fund_sales_growth' onClick="SortTable(14,'N')">Sales Growth - LFY</th>
                                                <th class="text-center  non-sticky" id='fund_sales_growth_3y' onClick="SortTable(15,'N')" >Sales Growth - 3Y CAGR</th>
                                                <th class="text-center  non-sticky" id='fund_eps_growth' onClick="SortTable(16,'N')" >EPS Growth - LFY</th>
                                                <th class="text-center  non-sticky" id='fund_eps_growth_3y' onClick="SortTable(17,'N')">EPS Growth - 3Y CAGR</th>
                                                <th class="text-center  non-sticky" id='fund_roe' onClick="SortTable(18,'N')">ROE</th>
                                                <th class="text-center  non-sticky" id='fund_roce' onClick="SortTable(19,'N')" >ROCE</th>
                                                <th class="text-center  non-sticky" id='fund_fcf' onClick="SortTable(20,'N')" >FCF Margin</th>
                                                <th class="text-center  non-sticky" id='fund_sales' onClick="SortTable(21,'N')" >Sales/Total Assets</th>
                                                <th class="text-center  non-sticky" id='fund_net_debt_fcf' onClick="SortTable(22,'N')" >Net Debt/FCF</th>
                                                <th class="text-center  non-sticky" id='fund_net_debt_ebitda' onClick="SortTable(23,'N')">Net Debt/EBITDA</th>
                                                <th class="text-center  non-sticky" id='fund_debt_equity' onClick="SortTable(24,'N')">Debt/Equity</th>
                                                <th class="text-center  non-sticky" id='fund_ev_sales' onClick="SortTable(25,'N')" >EV/Sales</th>
                                                <th class="text-center  non-sticky" id='fund_ev_ebitda' onClick="SortTable(26,'N')" >EV/EBITDA</th>
                                                <th class="text-center  non-sticky" id='risk_piotroski_score' onClick="SortTable(27,'N')">Piotroski Score</th>
                                                <th class="text-center  non-sticky" id='tech_rsi_30d' onClick="SortTable(28,'N')" >Relative Strength 30D</th>
                                                <th class="text-center  non-sticky" id='tech_rsi_90d' onClick="SortTable(29,'N')" >Relative Strength 90D</th>
                                                <th class="text-center  non-sticky" id='tech_volume_chg' onClick="SortTable(30,'N')" >Avg 10D vs Avg 90D Vol</th>
                                                <th class="text-center  non-sticky" id='quant_target_price' onClick="SortTable(31,'N')" >Target Price</th>
                                                <th class="text-center  non-sticky" id='tech_price_52_week' onClick="SortTable(32,'N')" >52 week High</th>
                                                <th class="text-center  non-sticky" id='tech_ma50' onClick="SortTable(33,'N')" >50 DMA</th>
                                                <th class="text-center  non-sticky" id='tech_ma200' onClick="SortTable(34,'N')" >200 DMA</th>
                                                <th class="text-center  non-sticky" id='quant_volume' onClick="SortTable(35,'N')" >Volume</th>
                                                <th class="text-center  non-sticky" id='tech_rsi' onClick="SortTable(35,'N')" >RSI(14D)</th>
                                                <th class="text-center  non-sticky" id='risk_avg_daily_volume' onClick="SortTable(36,'N')" >Avg 20D Volume</th>
                                                <th class="text-center  non-sticky" id='risk_avg_shares_turnover' onClick="SortTable(37,'N')" >Share Turnover</th>
                                                <th class="text-center  non-sticky" id='quant_fo_stocks' onClick="SortTable(38,'T')" >F&O</th>
                                                <th class="text-center  non-sticky" id='fsTicker' name='fsTicker' onClick="SortTable(39,'T')" style="display: none;">Ticker</th>
                                            </tr>
                                        </thead>
                                        <tbody id='dataTabletbody'>
                                            {% for user in users %}
                                              <tr> 
                                                <td class="sticky-col first-col"><input type='checkbox' class="stock" name="stock"></td>
                                                <td class="sticky-col second-col company">{{ user.fs_name }}</td>
                                                <td>{{ user.security_code }}</td>
                                                <td>{{ user.gics }}</td>
                                                <td>{{ user.market_cap_category }}</td>
                                                <td>{{ user.market_cap }}</td>
                                                <td>{{user.price}}</td>
                                                <td><input type="text" value={% widthratio defaultInvestmt user.price_quant 1 %} name="quantity" disabled></td>
                                                <!-- <td>{{ user.mtd }}</td>
                                                <td>{{ user.ytd }}</td>
                                                <td>{{ user.number_1y }}</td> -->
                                                <td>{{ user.beta_1y }}</td>
                                                <td>{{ user.volatility_1y }}</td>
                                                <td>{{ user.sales }}</td>
                                                <td>{{ user.pe }}</td>
                                                <td>{{ user.pb }}</td>
                                                <td>{{ user.div_yield }}</td>
                                                <td>{{ user.sales_growth }}</td>
                                                <td>{{ user.sales_growth_3y_5r_cagr }}</td>
                                                <td>{{ user.eps_growth }}</td>
                                                <td>{{ user.eps_growth_3y_5r_cagr }}</td>
                                                <td>{{ user.roe }}</td>
                                                <td>{{ user.roce }}</td>
                                                <td>{{ user.fcf_margin }}</td>
                                                <td>{{ user.sales_total_assets }}</td>
                                                <td>{{ user.net_debt_fcf }}</td>
                                                <td>{{ user.net_debt_ebitda }}</td>
                                                <td>{{ user.debt_equity }}</td>
                                                <td>{{ user.ev_sales }}</td>
                                                <td>{{user.ev_ebitda}}</td>
                                                <td>{{ user.piotroski_score }}</td>
                                                <td>{{ user.rsi_30 }}</td>
                                                <td>{{ user.rsi_90 }}</td>
                                                <td>{{ user.volume_change }}</td>
                                                <td>{{ user.target_price }}</td>
                                                <td>{{ user.week_high_52 }}</td>
                                                <td>{{ user.ma50 }}</td>
                                                <td>{{ user.ma200 }}</td>
                                                <td>{{ user.volume }}</td>
                                                <td>{{ user.rsi }}</td>
                                                <td>{{ user.volume_20 }}</td>
                                                <td>{{ user.share_turnover }}</td>
                                                <td>{{ user.f_o }}</td>
                                                <td style="display: none;">{{ user.fs_ticker }}</td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                                <script>
                                                    
                                                    $(".records").html($("#indextable tbody tr").length);
                                                    $('.loader').fadeOut();

                                              </script>
                                    </table>
                                    </div>
                                   
                                    {% if users.has_other_pages %}
                                    <ul class="pagination">
                                        {% if users.has_previous %}
                                        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                                        {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %}
                                        {% for i in users.paginator.page_range %}
                                        {% if users.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if users.has_next %}
                                        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                            </div>
                            <div class="no-stocks-div text-center pd-t-20 pd-b-20" style="display:none">
                                <h4>No Matching Stock(s) Found</h4>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="all-modal-divs">
            <a href="#existingPortfolio" style="display: none;" class="existportmodal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span> </span></a>
            <!-- Existing Portfolio Modal HTML -->
            <div id="existingPortfolio" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Select your portfolio</h4>
                            <div class="saveload"></div>

                            <p class="responsemsg" ></p>
                        </div>
                        <div class="modal-body text-center" style="color:black">
                            <p class="text-info">Please select to which portfolio you want to add</p>	
                            <select style="display:inline;outline: none;" class="myportfolioName">				
                            {% for portfolio in portfolios %}
                                <option value="{{portfolio}}">{{portfolio}}</option>
                            {% endfor %}
                            </select>	
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default  closeexist" data-dismiss="modal" value="Cancel">
                            <input type="button" class="btn btn-default  addexist"  style="background-color:#5627D8;color:white" value="Create">
                        </div>
                    </div>
                </div>
            </div>
            <a href="#errorModal" style="display: none;" class="errModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span> </span></a>
            <!-- Error Detection  Modal HTML -->
            <div id="errorModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Alert!</h4>
                            </div>
                            <div class="modal-body text-center" style="color:black">					
                                <p>Some of the fields missing, please fill all the mandatory fields!</p>
                                <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                            </div>
                            <div class="modal-footer text-center">
                                <input type="button" class="btn btn-default ok_btn" data-dismiss="modal" value="OK"  style="background-color:#5627D8;color:white">
                            </div>
                    </div>
                </div>
            </div>
            <a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span> </span></a>
            <!-- Error Detection  Modal HTML -->
            <div id="portfolioNameModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Name your portfolio</h4>
                                <div class="saveload"></div>

                                <p class="responsemsg"></p>
                            </div>
                            <div class="modal-body text-center" style="color:black">
                                <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                                <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                            </div>
                            <div class="modal-footer text-center">
                                <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel">
                                <input type="button" class="btn btn-default  saveport"  style="background-color:#5627D8;color:white" value="Create">
                            </div>
                    </div>
                </div>
            </div>
            <a href="#fillEqualQuantity" style="display: none;" class="equalQuantity btn-success" data-toggle="modal"></a>
            <!-- Error Detection  Modal HTML -->
             <div id="fillEqualQuantity" class="modal fade">
                 <div class="modal-dialog">
                     <div class="modal-content">
                             <div class="modal-header">						
                                 <h4 class="modal-title">Fill Quantity</h4>
                                 <p class="responsemsg"></p>
                             </div>
                             <div class="modal-body text-center" style="color:black">
                                 <input type="text" class="form-control quantity_value" >
                             </div>
                             <div class="modal-footer text-center">
                              <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                              <input type="button" class="btn btn-default  saveequalquantity"style="background-color:#5627D8;color:white"  value="Ok">
                             </div>
                     </div>
                 </div>
             </div>
            <div id="description" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<h3 class="modal-title mg-t-10 text-center"><label>Create Portfolio by using filters</label></h3>
						<div class="modal-body">
							<p>
								This is one of the portfolio construction tools provided by 72pi. In this tool, users can create their
                                portfolios using quantitative, fundamental, technical, risk/other filters. Many filters can be combined to
                                screen for identifying investing opportunities based on ROE, Sales Growth and so on. After applying the
                                required filters, users can create their portfolios by selecting the stocks and editing their investment
                                amount or quantity.
							</p>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal"
								value="Close">
						</div>
					</div>
				</div>
			</div>
        </div>

    </body>
    <script src="{% static 'js/table_sort2.js' %}"></script>

<script>
$('.saveload').fadeOut();
    //function to create dynamic table
    function create_table(output) {
        var tabledata = new Array();
        for (i = 0; i < output.length; i++) {
            tabledata.push(output[i])
        }
        $("#dataTabletbody").empty();
        // Retrieve the tbody element from the table to add the data 
        var table = document.getElementById('dataTabletbody');
        //Get the count of columns.
        var columnCount = tabledata[0].length;
        // var row = table.insertRow(0);
        //Add the data rows.
        for (var i = 0; i < tabledata.length; i++) {
            row = table.insertRow(0);
            for (var j = 0; j < columnCount; j++) {
                var cell = row.insertCell(-1);
                cell.innerHTML = tabledata[i][j];
            }
        }
        $(".pagination").empty();
        $(".records").html(output.length);
        $('#indextable tbody tr td:nth-child(1)').each(function() {
            $(this).addClass("sticky-col first-col");
        });
        $('#indextable tbody tr td:nth-child(2)').each(function() {
            $(this).addClass("sticky-col second-col company");
        });
        $('#indextable tbody tr td:not(:nth-child(1),:nth-child(2), :nth-child(3),:nth-child(4), :nth-child(8))').each(function() {
            if($(this).text().includes('None') || $(this).text()==='' || $(this).text()==="%" || $(this).text()==="nan%" || $(this).text()==="nan")
            {
                $(this).text('N/A')
            }
        });

    }
    function applyFilters(){
        $('.loader').fadeIn();
        
        $.ajax({
        type: "POST",

        url: "{% url 'screener' %}", // name of url
        data : {
        'filters_list': JSON.stringify(global_filter_list),
        },
        dataType: 'json',
        csrfmiddlewaretoken: "{{ csrf_token }}",
        success: function (json) {
            if((json.users).length!=0){
                $(".table-fixed-div").show();
                $('.no-stocks-div').hide();
                create_table(json.users);

                }
            else{
                // $('#dataTabletbody').html("<tr class='alert-danger text-center'><td colspan='14' class='tx-16'><h4>No Matching Stocks found</td></tr>");
                $(".table-fixed-div").hide();
                $('.no-stocks-div').show();
                $(".records").html((json.users).length);
                $('.loader').fadeOut();
                }
            console.log(json.users)
            $('.loader').fadeOut();

        },
        error: function (json) {
        console.log("failed");
        console.log(json.users)
        $('.loader').fadeOut();
        }
        });
    };
    $('#indextable tbody tr td:not(:nth-child(1),:nth-child(2), :nth-child(3),:nth-child(4), :nth-child(8))').each(function() {
        if($(this).text().includes('None') || $(this).text()==='' || $(this).text()==="%" || $(this).text()==="nan%" || $(this).text()==="nan")
        {
            $(this).text('N/A')
        }
    });
    $('#search_text').on('keyup',function(){
        var searchTerm = $(this).val().toLowerCase();
        $('#indextable tbody tr').each(function(){
            var lineStr = $(this).text().toLowerCase();
            if(lineStr.indexOf(searchTerm) === -1){
                $(this).hide();
            }else{
                $(this).show();
            }
            
        });
        $('.records').html($("#indextable tbody tr:not([style*='display: none'])").length)
    });
    $(document).on("click", ".company", function () {
        var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
        window.open(stockURL, '_blank');
        return false; 
    });
    // applyFilters();
    $("#main-tabs-ul li").click(function () {
        $('.main-tab-div').hide().eq($(this).index()).show();
        $('#main-tabs-ul li').removeClass('active');
        $(this).addClass('active');
    });
    // To apply default investment amount to Quantity
    if('{{symbol|safe}}'=='$')
        flag='en-US'
    else
        flag='hi-IN'
        $(".new_invstamt").val( parseInt($('.new_invstamt').val().replace(/\D/g,''),10).toLocaleString(flag))

    $(".new_invstamt").on('keyup', function(){
        if(($(this).val()).length==0)
            return 0
        else{
            var n = parseInt($(this).val().replace(/\D/g,''),10);
            $(this).val(n.toLocaleString(flag));
        }
    });
    $(document).on("click", ".apply_invst", function () {
        var def_amt = parseFloat(($(".new_invstamt").val()).replace(/[%,]/g, ''));
        console.log(def_amt)
        $("#indextable input[type=checkbox]").each(function () {
        var tr_price = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
        var def_quantity = parseFloat(def_amt)/parseFloat(tr_price);
        console.log($(this).parents("tr").find('[name=quantity]').val())

        if(tr_price==0)
                $(this).parents("tr").find('[name=quantity]').val(0);
            else
            $(this).parents("tr").find('[name=quantity]').val(parseInt(def_quantity));
        });
    return false;
    });
    $('#selectAll').click(function (){  
        if ($(this).prop("checked"))
        { 
            $('#auto_fill').show(); 
            $('#indextable input:checkbox').prop('checked', this.checked); 
            $('#indextable input:text').prop('disabled',false);
        }
        else
        {
            $('#auto_fill').hide();
            $('#indextable input:checkbox').prop('checked', false); 
            $('#indextable input:text').prop('disabled',true);
        }
    });
    // let SelectedStocks = new Map();
    // SelectedStocks.set("Count", 0);
    // $(".stock").change(function () {
    //   $next1 = $(this).closest('tr').find('[name=stock]');
    //   if ($next1.prop("checked")) {
    //     var count = parseInt(SelectedStocks.get("Count")) + 1;
    //     console.log(count)
    //     SelectedStocks.set("Count", count);
    //     if (SelectedStocks.get("Count") > 1)
    //       document.getElementById("auto_fill").style.display = "block";
    //     else
    //       document.getElementById("auto_fill").style.display = "none";
    //     $next2 = $(this).closest('tr').find('[name=quantity]');
    //     $next2.prop('disabled', !this.checked);
    //     $next2.focus();
    //   }
    //   else {
    //     var count = parseInt(SelectedStocks.get("Count")) - 1;
    //     SelectedStocks.set("Count", count);
    //     if (SelectedStocks.get("Count"))
    //       document.getElementById("auto_fill").style.display = "block";
    //     else
    //       document.getElementById("auto_fill").style.display = "none";
    //     $next1 = $(this).closest('tr').find('[name=quantity]');
    //     $next1.val("");
    //     $next1.prop('disabled', true);
    //     $next1.removeAttr('style');
    //   }
    // });
    
    
    var global_filter_list = []
    var country=$('.country-select').val();
    var country_switch='{{symbol|safe}}';

            if (country_switch=='$') {
                global_filter_list=[{'factor':'quant_market_cap','condition':'Above $2000 Mn'}]

            }
            else
            {
                global_filter_list=[{'factor':'quant_market_cap','condition':'Above 500cr'}]
            }
    $('.main-tab-div select').change(function(){
        var filter_list={};
        var select_id = $(this).attr('id');
        var select_val = $(this).val();
        if(select_val!=="Any")
        {
            $(this).css('background-color','#fff466');
        }
        else{
            $(this).css('background-color','white');
        }
        if (select_val!='Any')
            {
            filter_list['factor'] = select_id;
            filter_list['condition'] = select_val;
            }

        for(var i=0;i<global_filter_list.length;i++)
            {
            if(global_filter_list[i].factor===select_id)
                {
                if (select_val!='Any')
                    {
                    filter_list['factor'] = select_id;
                    filter_list['condition'] = select_val;
                    delete global_filter_list[i]['factor'];
                    delete global_filter_list[i]['condition'];
                    global_filter_list.splice(i,1);
                    }
                else {
                    delete global_filter_list[i]['factor'];
                    delete global_filter_list[i]['condition'];
                    global_filter_list.splice(i,1);
                }
            }
        }
            if (Object.keys(filter_list).length >0){
                global_filter_list.push(filter_list);}
            $('.reset-filters').html("Reset ("+global_filter_list.length+")");
        });
        $('.reset-filters').click(function(){
            $('#indextable tbody > tr:hidden').each(function() {
                $(this).show();
            });
            $('.records').html("<strong>" + $('#indextable tbody tr').length + "</strong>  Stocks");
            $('.main-tab-div select').prop('selectedIndex',0);
            $('.main-tab-div select').css('background-color','white');
            $('.reset-filters').html("Reset(0)");
            global_filter_list=[]
            var country=$('.country-select').val();
            var country_switch='{{symbol|safe}}';

            if (country_switch=='$') {
                
                $("#quant_market_cap").val("Above $2000M");
                $("#quant_market_cap").css('background-color','#fff466');
                global_filter_list=[{'factor':'quant_market_cap','condition':'Above $2000M'}]

            }
            else
            {
            $("#quant_market_cap").val("Above 500cr");
            $("#quant_market_cap").css('background-color','#fff466');
            global_filter_list=[{'factor':'quant_market_cap','condition':'Above 500cr'}]
            }
            applyFilters();
            $('.reset-filters').html("Reset ("+global_filter_list.length+")");

        });
        let SelectedStocks = new Map();
        SelectedStocks.set("Count", 0);
        $(document).on("change", ".stock", function(){
            $next1 = $(this).closest('tr').find('[name=stock]');
            if ($next1.prop("checked")){
            var count = parseInt(SelectedStocks.get("Count")) + 1;
            console.log(count)
            SelectedStocks.set("Count",count);
            if(SelectedStocks.get("Count") > 1)
                $('#auto_fill').show(); 
            else
                $('#auto_fill').hide();
            $next2 = $(this).closest('tr').find('[name=quantity]');1
            $next2.prop('disabled', !this.checked);}
            else{
            var count = parseInt(SelectedStocks.get("Count")) - 1;
            console.log(count)

            SelectedStocks.set("Count",count);
            if(SelectedStocks.get("Count"))
                $('#auto_fill').show(); 
            else
                $('#auto_fill').hide();
            $next1 = $(this).closest('tr').find('[name=quantity]');
            // $next1.val("");
            $next1.removeAttr('style');
            $next1.prop('disabled', true);
            }
        });
        $(document).on("click", ".quantity_autofill", function autoFill() {
            $(".quantity_value").val('')
            $(".equalQuantity").click();
            $(".saveequalquantity").click(function () {
                var auto_quantity =parseFloat($(".quantity_value").val());
                if (auto_quantity) {
                    if (/^\+?(0|[1-9]\d*)$/.test(auto_quantity)) {
                        if ((parseInt(auto_quantity, 10) < 2147483647) && (parseInt(auto_quantity, 10) > 0)){
                        localStorage.setItem('auto_quantity',auto_quantity);
                        $("#indextable input[type=checkbox]:checked").each(function () {
                        $(this).closest("tr").find('[name=quantity]').val(auto_quantity);
                        });
                        $('#fillEqualQuantity').modal('hide');
                    } else {
                        $('.responsemsg').html("Sorry, quantity is invalid!");
                    
                    }
                    }
                    else {
                    $('.responsemsg').html("Sorry, quantity is always positive number!");
                
                    }
                } else {
                        $('.responsemsg').html("Sorry, quantity is invalid!");
                    }
            })
            $('.responsemsg').html("");
        });
        $(document).on("click", "#createportfolio", function () {
            var myStockList = [];
            var flag = 0;
            var stockCount = $("#indextable tbody > tr:not([style*='display: none'])  .stock:checkbox:checked").length;
            if(stockCount == 0)
            {
                $('#indextable input:checkbox').prop('checked', true); 
                $('#indextable tbody input:text').prop('disabled',false);
                flag = 1;
            }
            $("#indextable tbody > tr:not([style*='display: none'])  .stock:checkbox:checked").each(function () {
            stock = {};
            stock['companyName'] = $(this).parents("tr").find('td:eq(1)').text().replace(/ *\([^)]*\) */g, "").trim();
            stock['sectorName'] = $.trim($(this).parents("tr").find('td:eq(3)').text());
            stock['fsTicker'] = $.trim($(this).parents("tr").find('td:eq(40)').text());
            stock['lt_price'] = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
            var quantity = $(this).parents('tr').find('td:eq(7) input[type="text"]').val();
          
            if (quantity)
            stock['stockQuantity'] = quantity;
            else{
            $(this).parents('tr').find('td:eq(7) input[type="text"]').css('border','1px solid red');
            $(".errModal").click(); return false;}
            myStockList.push(stock);
            });
            if(myStockList.length){
                for (var i=0;i<stockCount;i++){
                    if (myStockList[i]['stockQuantity'])
                    flag = 1;
                    else
                    flag = 0;
                }
            }
            if(flag){
            console.log(myStockList);
            $(".nameModal").click();
            $(".saveport").click(function(){
                $('.saveload').fadeIn();
                var portfolioName = document.getElementById("portName").value;
                var e = document.getElementById("markets");
                var country = 'india';
                $.ajax({
                    type: "POST",
                    url: "{% url 'saveNewPortfolio'%}",
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    data: {
                            'portfolio_list': JSON.stringify(myStockList),
                            'portfolio_name' : portfolioName,
                            'country' : country,
                    },
                    success:function (response) {
                    if(response.res_Status){
                        $('.saveload').fadeOut();
                        $('.responsemsg').css('color','green');
                        $('.responsemsg').html(response.res_Msg);
                        localStorage.setItem("{{username}}",response.portfolio);
                        setTimeout(function() {
                        $(".closeport").click();
                        location.href="{% url 'indexpage' %}";
                        },1000);
                    }else{
                        $('.saveload').fadeOut();
                        $('.responsemsg').css('color','red');
                        $('.responsemsg').html(response.res_Msg);
                    }
                    },
                    error:function (response){
                    console.log("Error detected while creating portfolio");
                    }}
                    );
                event.preventDefault();
            });
            }else{
            $(".errModal").click();
            return false;
            }
            });
        $(document).on("click", ".addExisting", function () {
            var myStockList = [];
                var flag = 0;
                var stockCount = $("#indextable tbody > tr:not([style*='display: none']) .stock:checkbox:checked").length;
                if(stockCount == 0)
                {
                    $('#indextable input:checkbox').prop('checked', true); 
                    $('#indextable tbody input:text').prop('disabled',false);
                    flag = 1;
                }
                $("#indextable tbody > tr:not([style*='display: none']) .stock:checkbox:checked").each(function () {
                stock = {};
                stock['stockname'] = $(this).parents("tr").find('td:eq(1)').text().replace(/ *\([^)]*\) */g, "").trim();
                stock['sectorname'] = $.trim($(this).parents("tr").find('td:eq(3)').text());
                stock['fsTicker'] = $.trim($(this).parents("tr").find('td:eq(40)').text());
                stock['stockprice'] = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
                var quantity = $(this).parents('tr').find('td:eq(7) input[type="text"]').val();
                if (quantity)
                    stock['stockquantity'] = quantity;
                else{
                $(this).parents('tr').find('td:eq(7) input[type="text"]').css('border','1px solid red');
                $(".errModal").click();
                 return false;}
                myStockList.push(stock);
                });
                if(myStockList.length){
                    for (var i=0;i<stockCount;i++){
                        if (myStockList[i]['stockquantity'])
                        flag = 1;
                        else
                        flag = 0;
                    }
                }
                if(flag){
                console.log(myStockList);
                $(".existportmodal").click();
                $(".addexist").click(function(){
                    var e = $(".myportfolioName option:selected").text()
                    $('.saveload').fadeIn();
                    var portfolioName = e;
                if (portfolioName){
                    $.ajax({
                        type: "POST",
                        url: "{% url 'SavePortfolioData' %}",
                        dataType : 'json',
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        data: {
                                'result': JSON.stringify(myStockList),
                                'portfolioname' : portfolioName,
                        },
                        success:function (response) {
                        if(response.res_Status){
                        $('.saveload').fadeOut(100);
                        $('.responsemsg').css('color','green');
                        $('.responsemsg').html(response.res_Msg);
                        localStorage.setItem("{{username}}",response.portfolio);
                        setTimeout(function() {
                        $(".closeport").click();
                        location.href="{% url 'indexpage' %}";
                        },1000);
                        }else{
                        $('.saveload').fadeOut(100);
                        $('.responsemsg').css('color','red');
                        $('.responsemsg').html(response.res_Msg);
                        }
                        },
                        error:function (response){
                        console.log("Error detected while adding to existing portfolio");
                        }}
                        );
                }
                    event.preventDefault();
                });
                }else{
                $(".errModal").click();
                return false;
                }
            });
        
            $("body").css({visibility:'visible'})
</script>
</html>

{% endblock %}
