{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>   
    <head>
        <title>Create Portfolio Using Filters - 72PI</title>  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/screener.css' %}">
       
    </head>
    <body>
        <div class="col-lg-12 section-gap">
            <div class="col-lg-12">
                <div class="row page-title  mg-t-20">
                    <div class="col-sm-6">
                        <p class="text-white tx-20">
                            <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Portfolio Creator
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            <a href="{% url 'customerPreferences' %}" class="nav-sub-link">Create Portfolio by using filters</a>
                        </p>
                    </div>
                    <div class="row col-sm-6 justify-content-end">
                        <div class="description_btn">
                            <button>How to Use this Page ?</button>
                        </div>
                    </div>
                </div>
                <div class="page-title d-flex">
                    <div class="mg-t-10">
                        
                        <div class="disclaimer-text mg-t-0">
                            <p class="text-italic">
                                Our Website is a financial data, modeling and content aggregator portal for NSE traded stocks in
                                India. We do not provide personalised recommendations or views on our Website as to whether a stock or
                                investment approach is suited to the financial needs of a specific individual. Past performance is not
                                necessarily a guide to future performance.
                            </p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="mg-t-10">
                <div class="col-lg-12">
                    <div class="card filter-card">
                    <div class="card-body">
                        <h4 class="text-center card-title pd-t-5"><label>Create Portfolio by using filters</label></h4>
                        <div class="row">
                            <div class="col-lg-12 mg-t-15">
                            <div class="row text-center row">
                                <table class="table filters-table">
                                        <tr>
                                            <td class="text-center">
                                                <ul id="main-tabs-ul">
                                                    <li id="quantitative">Quantitative</li>
                                                    <li id="fundamental">Fundamental</li>
                                                    <li id="technical">Technical</li>
                                                    <li id="risk_other">Risk/Other</li>
                                                </ul>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12 mg-t-0">
                                <div class="main-tab-div row" id="quant-div">
                                    <table class="table quant-table" cellpadding="1" cellspacing="1">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label> Market Cap</label>
                                            </td>
                                            <td>
                                                <select id="quant_market_cap">
                                                    {% for option in quant_market_cap %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Sales</label>
                                            </td>
                                            <td>
                                                <select id="quant_sales">
                                                    {% for option in quant_sales %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Sector</label>
                                            </td>
                                            <td>
                                                <select id="quant_sector">
                                                    {% for option in quant_sector %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> FO Stocks</label>
                                            </td>
                                            <td>
                                                <select id="quant_fo_stocks">
                                                    {% for option in quant_fo_stocks %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label> Price</label>
                                            </td>
                                            <td>
                                                <select id="quant_price">
                                                    {% for option in quant_price %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Target Price</label>
                                            </td>
                                            <td>
                                                <select id="quant_target_price">
                                                    {% for option in quant_target_price %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Volume</label>
                                            </td>
                                            <td>
                                                <select id="quant_volume">
                                                    {% for option in quant_volume %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Index</label>
                                            </td>
                                            <td>
                                                <select id="quant_index">
                                                    {% for option in quant_index %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="8"><button class="reset-filters">Reset(0)</button></td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                                <div class="main-tab-div" id="fund-div">
                                    <table class="table fund-table" cellpadding="1" cellspacing="1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label> PE</label>
                                            </td>
                                            <td>
                                                <select id="fund_pe">
                                                    {% for option in fund_pe %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> PB</label>
                                            </td>
                                            <td>
                                                <select id="fund_pb">
                                                    {% for option in fund_pb %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> EV/Sales</label>
                                            </td>
                                            <td>
                                                <select id="fund_ev_sales">
                                                    {% for option in fund_ev_sales %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> EV/EBITDA</label>
                                            </td>
                                            <td>
                                                <select id="fund_ev_ebitda">
                                                    {% for option in fund_ev_ebitda %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label> Div Yield</label>
                                            </td>
                                            <td>
                                                <select id="fund_div_yield">
                                                    {% for option in fund_div_yield %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                    
                                            <td>
                                                <label>Sales Growth LFY</label>
                                            </td>
                                            <td>
                                                <select id="fund_sales_growth">
                                                    {% for option in fund_sales_growth %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        
                                            <td>
                                                <label>Sales Growth 3Y CAGR</label>
                                            </td>
                                            <td>
                                                <select id="fund_sales_growth_3y">
                                                    {% for option in fund_sales_growth_3y %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>EPS Growth LFY</label>
                                            </td>
                                            <td>
                                                <select id="fund_eps_growth">
                                                    {% for option in fund_eps_growth %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>EPS Growth 3Y CAGR</label>
                                            </td>
                                            <td>
                                                <select id="fund_eps_growth_3y">
                                                    {% for option in fund_eps_growth_3y %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>ROE</label>
                                            </td>
                                            <td>
                                                <select id="fund_roe">
                                                    {% for option in fund_roe %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        
                                            <td>
                                                <label>ROCE</label>
                                            </td>
                                            <td>
                                                <select id="fund_roce">
                                                    {% for option in fund_roce %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        
                                            <td>
                                                <label>FCF Margin</label>
                                            </td>
                                    
                                            <td>
                                                <select id="fund_fcf">
                                                    {% for option in fund_fcf %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Sales/Total Assets</label>
                                            </td>
                                            <td>
                                                <select id="fund_sales">
                                                    {% for option in fund_sales %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                            <label>NET Debt/FCF</label>
                                        </td>
                                        <td>
                                            <select id="fund_net_debt_fcf">
                                                {% for option in fund_net_debt_fcf %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <label>Net Debt/EBITDA</label>
                                        </td>
                                        <td>
                                            <select id="fund_net_debt_ebitda">
                                                {% for option in fund_net_debt_ebitda %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                            </select>
                                        </td>
                                        
                                            <td>
                                                <label>Debt/Equity</label>
                                            </td>
                                            <td>
                                                <select id="fund_debt_equity">
                                                    {% for option in fund_debt_equity %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="8"><button class="reset-filters">Reset(0)</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="main-tab-div" id="tech-div">
                                    <table class="table tech-table" cellpadding="1" cellspacing="1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label> Realtive Strength 30D</label>
                                            </td>
                                            <td>
                                                <select id="tech_rsi_30d">
                                                    {% for option in tech_rsi_30d %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Relative Strenght 90D</label>
                                            </td>
                                            <td>
                                                <select id="tech_rsi_90d">
                                                    {% for option in tech_rsi_90d %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label> Avg 10D vs Avg 90D Vol</label>
                                            </td>
                                            <td>
                                                <select id="tech_volume_chg">
                                                    {% for option in tech_volume_chg %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Price vs 52 Week High</label>
                                            </td>
                                            <td>
                                                <select id="tech_price_52_week">
                                                    {% for option in tech_price_52_week %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label> Price vs 50DMA</label>
                                            </td>
                                            <td>
                                                <select id="tech_price_50dma">
                                                    {% for option in tech_price_50dma %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Price vs 200DMA</label>
                                            </td>
                                            <td>
                                                <select id="tech_price_200dma">
                                                    {% for option in tech_price_200dma %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="text-right" colspan="4"><button class="reset-filters">Reset(0)</button></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="main-tab-div" id="risk-div">
                                    <table class="table risk-table" cellpadding="1" cellspacing="1">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>Beta</label>
                                            </td>
                                            <td>
                                                <select id="risk_beta">
                                                    {% for option in risk_beta %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Volatility</label>
                                            </td>
                                            <td>
                                                <select id="risk_volatility">
                                                    {% for option in risk_volatility %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Piotroski Score</label>
                                            </td>
                                            <td>
                                                <select id="risk_piotroski_score">
                                                    {% for option in risk_piotroski_score %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <label>Avg 20D Volume</label>
                                            </td>
                                            <td>
                                                <select id="risk_avg_daily_volume">
                                                    {% for option in risk_avg_daily_volume %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>Share Turnover</label>
                                            </td>
                                            <td>
                                                <select id="risk_avg_shares_turnover">
                                                    {% for option in risk_avg_shares_turnover %}
                                                        <option value='{{option}}'>{{option}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="text-right" colspan="6"><button class="reset-filters">Reset(0)</button></td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                        </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button class="apply-filters" onclick="applyFilters()">Apply</button>
                        </div>
                        <div class="card-bodys">
                            <div class="loader1"></div>
                            <div class="">
                                <div class="">
                                    <div class="text-right pd-r-0 ">
                                        <button type="button" class="addExisting mg-r-2" >Add To Existing</button>
                                        <button type="button"  id="createportfolio" class="mg-t-5 mg-sm-t-5 mg-lg-t-0">Create Portfolio</button>
                                        <button style="display:none;float:right" id="auto_fill" class="quantity_autofill  mg-l-5">Fill Equal Quantity</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 d-flex pd-l-0 pd-r-0 mg-t-10">
                                <div class="col-lg-6  pd-l-0 pd-r-0">
                                    <span class="tx-12" >Default Investment Amt/Stock:</span><strong>{{symbol|safe}}</strong><input type="text" class="new_invstamt mg-l-5" value='{{defaultInvestmt}}'><button class="apply_invst" >Apply</button>
                                    
                                </div>
                                <div class="d-flex col-sm-6 pd-l-0 pd-r-0">
                                    <div id="disp">
                                        <input  type="text" id="search_text" autocomplete="off" placeholder="Search here...."  aria-label="Search" >
                                    </div>
                                    <div class="text-right pd-t-5 rec-div">
                                        Total: <Span class="records"> </Span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-fixed-div">
                                <div class="scroll-div table-responsives mg-t-10 refresh-div">
                                    <table class="table sortable unselectable table-bordered table-striped table-hover" id="indextable">
                                        <thead id="table-header">
                                            <tr>
                                                <th class="text-center sticky-col first-col" id='choose' data-orderable="false"> <input type="checkbox" id="selectAll"> Select</th>
                                                <th class="text-center sticky-col second-col" id ='company' onClick="SortTable(1,'T')" >Company</th>
                                                <th class="text-center sticky-col second-col" id ='sec_code' onClick="SortTable(1,'T')" >Security Code</th>
                                                <th class="text-center non-sticky" id='quant_sector' onClick="SortTable(2,'T')">Sector</th>
                                                <th class="text-center non-sticky" id = 'quant_market_cap_category' onClick="SortTable(3,'T')">Mktcap Category</th>
                                                <th class="text-center non-sticky" id='quant_market_cap' onClick="SortTable(4,'N')">Mcap(in Cr)</th>
                                                <th class="text-center  non-sticky" id='quant_price' onClick="SortTable(5,'N')">Current Price(₹)<br/></th>
                                                <th class="text-center  non-sticky" id='quantity' data-orderable="false">Quantity</th>
                                                <th class="text-center  non-sticky" id='mtd' onClick="SortTable(7,'N')" style="display:none">MTD</th>
                                                <th class="text-center  non-sticky" id='ytd' onClick="SortTable(8,'N')">YTD</th>
                                                <th class="text-center  non-sticky" id='number_1y' onClick="SortTable(9,'N')" style="display:none">1Year</th>
                                                <th class="text-center  non-sticky" id='risk_beta' onClick="SortTable(10,'N')">Beta 1Y</th>
                                                <th class="text-center  non-sticky" id='risk_volatility' onClick="SortTable(11,'N')" style="display:none">Volatility 1Y</th>                                      
                                                <th class="text-center  non-sticky" id='quant_sales' onClick="SortTable(12,'N')">Sales(in Cr)</th>
                                                <th class="text-center  non-sticky" id='fund_pe' onClick="SortTable(13,'N')">P/E</th>
                                                <th class="text-center  non-sticky" id='fund_pb' onClick="SortTable(14,'N')">P/B</th>
                                                <th class="text-center  non-sticky" id = 'fund_div_yield' onClick="SortTable(15,'N')">Div.Yield</th>
                                                <th class="text-center  non-sticky" id='fund_sales_growth' onClick="SortTable(16,'N')">Sales Growth - LFY</th>
                                                <th class="text-center  non-sticky" id='fund_sales_growth_3y' onClick="SortTable(17,'N')" style="display:none">Sales Growth - 3Y CAGR</th>
                                                <th class="text-center  non-sticky" id='fund_eps_growth' onClick="SortTable(18,'N')" style="display:none">EPS Growth - LFY</th>
                                                <th class="text-center  non-sticky" id='fund_eps_growth_3y' onClick="SortTable(19,'N')" style="display:none">EPS Growth - 3Y CAGR</th>
                                                <th class="text-center  non-sticky" id='fund_roe' onClick="SortTable(20,'N')">ROE</th>
                                                <th class="text-center  non-sticky" id='fund_roce' onClick="SortTable(21,'N')" style="display:none">ROCE</th>
                                                <th class="text-center  non-sticky" id='fund_fcf' onClick="SortTable(22,'N')" style="display:none">FCF Margin</th>
                                                <th class="text-center  non-sticky" id='fund_sales' onClick="SortTable(23,'N')" style="display:none">Sales/Total Assets</th>
                                                <th class="text-center  non-sticky" id='fund_net_debt_fcf' onClick="SortTable(24,'N')" style="display:none">Net Debt/FCF</th>
                                                <th class="text-center  non-sticky" id='fund_net_debt_ebitda' onClick="SortTable(25,'N')">Net Debt/EBITDA</th>
                                                <th class="text-center  non-sticky" id='fund_debt_equity' onClick="SortTable(26,'N')">Debt/Equity</th>
                                                <th class="text-center  non-sticky" id='fund_ev_sales' onClick="SortTable(27,'N')" style="display:none">EV/Sales</th>
                                                <th class="text-center  non-sticky" id='fund_ev_ebitda' onClick="SortTable(28,'N')" style="display:none">EV/EBITDA</th>
                                                <th class="text-center  non-sticky" id='risk_piotroski_score' onClick="SortTable(29,'N')">Piotroski Score</th>
                                                <th class="text-center  non-sticky" id='tech_rsi_30d' onClick="SortTable(30,'N')" style="display:none">Relative Strength 30D</th>
                                                <th class="text-center  non-sticky" id='tech_rsi_90d' onClick="SortTable(31,'N')" style="display:none">Relative Strength 90D</th>
                                                <th class="text-center  non-sticky" id='tech_volume_chg' onClick="SortTable(32,'N')" style="display:none">Avg 10D vs Avg 90D Vol</th>
                                                <th class="text-center  non-sticky" id='quant_target_price' onClick="SortTable(33,'N')" style="display:none">Target Price</th>
                                                <th class="text-center  non-sticky" id='tech_price_52_week' onClick="SortTable(34,'N')" style="display:none">Price vs 52 week High</th>
                                                <th class="text-center  non-sticky" id='tech_price_50dma' onClick="SortTable(35,'N')" style="display:none">Price vs 50 DMA</th>
                                                <th class="text-center  non-sticky" id='tech_price_200dma' onClick="SortTable(36,'N')" style="display:none">Price vs 200 DMA</th>
                                                <th class="text-center  non-sticky" id='quant_volume' onClick="SortTable(37,'N')" style="display:none">Volume</th>
                                                <th class="text-center  non-sticky" id='risk_avg_daily_volume' onClick="SortTable(38,'N')" style="display:none">Avg 20D Volume</th>
                                                <th class="text-center  non-sticky" id='risk_avg_shares_turnover' onClick="SortTable(39,'N')" style="display:none">Share Turnover</th>
                                                <th class="text-center  non-sticky" id='quant_fo_stocks' onClick="SortTable(40,'T')" style="display:none">F&O</th>
        
                                            </tr>
                                        </thead>
                                        <tbody id="indextable_tbody">
                                                    {% for company in companies %}
                                                        <tr>
                                                            <td class="sticky-col first-col"><input type="checkbox"  class="stock" name="stock"></input></td>
                                                            <td class="company sticky-col second-col" name="company" style="color:blue">{{company.fs_name}}</td>
                                                            <td class="sec_code" name="sec_code">{{company.security_code}}</td>
                                                            <td>{{company.gics}}</td>
                                                            <td>{{company.market_cap_category}}</td>
                                                            <td class="mcap">{{company.market_cap|floatformat:'0'}}</td>
                                                            <td class="lt_price" name="lt_price">{{company.price|floatformat:'0'}}</td>
                                                            <td style="width: 5%"><input type="text" class="quantity" name="quantity" value='{% widthratio 100000 company.price|floatformat:"0" 1 %}'disabled="disabled"></input></td>
                                                            <td  style="display:none">{{company.mtd|mul:'100'|floatformat:'2'}}%</td>
                                                            <td>{{company.ytd|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.number_1y|mul:'100'|floatformat:'2'}}%</td>
                                                            <td>{{company.beta_1y|floatformat:'2'}}</td>
                                                            <td style="display:none">{{company.volatility_1y|floatformat:'2'}}%</td>
                                                            <td>{{company.sales|floatformat:'0'}}</td>
                                                            <td>{{company.pe|floatformat:'2'}}</td>
                                                            <td>{{company.pb|floatformat:'2'}}</td>
                                                            <td>{{company.div_yield|mul:'100'|floatformat:'2'}}%</td>
                                                            <td>{{company.sales_growth|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.sales_growth_3y_5r_cagr|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.eps_growth|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.eps_growth_3y_5r_cagr|floatformat:'2'}}%</td>
                                                            <td>{{company.roe|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.roce|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.fcf_margin|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.sales_total_assets|floatformat:'2'}}</td>
                                                            <td style="display:none">{{company.net_debt_fcf|floatformat:'2'}}</td>
                                                            <td>{{company.net_debt_ebitda|floatformat:'2'}}</td>
                                                            <td>{{company.debt_equity|floatformat:'2'}}</td>
                                                            <td style="display:none">{{company.ev_sales|floatformat:'2'}}</td>
                                                            <td style="display:none">{{company.ev_ebitda|floatformat:'2'}}</td>
                                                            <td>{{company.piotroski_score|floatformat:'0'}}</td>
                                                            <td style="display:none">{{company.rsi_30|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.rsi_90|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.volume_change|floatformat:'1'}}%</td>
                                                            <td style="display:none">{{company.target_price|floatformat:'1'}}</td>
                                                            <td style="display:none">{{company.current_price_vs_52_week_high|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.price_vs_ma50|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.price_vs_ma200|mul:'100'|floatformat:'2'}}%</td>
                                                            <td style="display:none">{{company.volume|floatformat:'0'}}</td>
                                                            <td style="display:none">{{company.volume_20|floatformat:'0'}}</td>
                                                            <td style="display:none">{{company.share_turnover|floatformat:'1'}}%</td>
                                                            <td style="display:none">{{company.f_o}}</td>
        
                                                        </tr>
                                                    {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="all-modal-divs">
            <a href="#existingPortfolio" style="display: none;" class="existportmodal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span> </span></a>
            <!-- Existing Portfolio Modal HTML -->
            <div id="existingPortfolio" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Select your portfolio</h4>
                            <p class="responsemsg" ></p>
                        </div>
                        <div class="modal-body text-center" style="color:black">
                            <p class="text-info">Please select to which portfolio you want to add</p>	
                            <select style="display:inline;outline: none;" class="myportfolioName">				
                            {% for portfolio in portfolios %}
                                <option value="{{portfolio}}">{{portfolio}}</option>
                            {% endfor %}
                            </select>	
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default  closeexist" data-dismiss="modal" value="Cancel">
                            <input type="button" class="btn btn-default  addexist"  style="background-color:#5627D8;color:white" value="Create">
                        </div>
                    </div>
                </div>
            </div>
            <a href="#errorModal" style="display: none;" class="errModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span> </span></a>
            <!-- Error Detection  Modal HTML -->
            <div id="errorModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Alert!</h4>
                            </div>
                            <div class="modal-body text-center" style="color:black">					
                                <p>Some of the fields missing, please fill all the mandatory fields!</p>
                                <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                            </div>
                            <div class="modal-footer text-center">
                                <input type="button" class="btn btn-default ok_btn" data-dismiss="modal" value="OK"  style="background-color:#5627D8;color:white">
                            </div>
                    </div>
                </div>
            </div>
            <a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span> </span></a>
            <!-- Error Detection  Modal HTML -->
            <div id="portfolioNameModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Name your portfolio</h4>
                                <p class="responsemsg"></p>
                            </div>
                            <div class="modal-body text-center" style="color:black">
                                <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                                <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                            </div>
                            <div class="modal-footer text-center">
                                <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel">
                                <input type="button" class="btn btn-default  saveport"  style="background-color:#5627D8;color:white" value="Create">
                            </div>
                    </div>
                </div>
            </div>
            <a href="#fillEqualQuantity" style="display: none;" class="equalQuantity btn-success" data-toggle="modal"></a>
            <!-- Error Detection  Modal HTML -->
             <div id="fillEqualQuantity" class="modal fade">
                 <div class="modal-dialog">
                     <div class="modal-content">
                             <div class="modal-header">						
                                 <h4 class="modal-title">Fill Quantity</h4>
                                 <p class="responsemsg"></p>
                             </div>
                             <div class="modal-body text-center" style="color:black">
                                 <input type="text" class="form-control quantity_value" >
                             </div>
                             <div class="modal-footer text-center">
                              <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                              <input type="button" class="btn btn-default  saveequalquantity"style="background-color:#5627D8;color:white"  value="Ok">
                             </div>
                     </div>
                 </div>
             </div>
            <div id="description" class="modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<h3 class="modal-title mg-t-10 text-center"><label>Create Portfolio by using filters</label></h3>
						<div class="modal-body">
							<p>
								This is one of the portfolio construction tools provided by 72pi. In this tool, users can create their
                                portfolios using quantitative, fundamental, technical, risk/other filters. Many filters can be combined to
                                screen for identifying investing opportunities based on ROE, Sales Growth and so on. After applying the
                                required filters, users can create their portfolios by selecting the stocks and editing their investment
                                amount or quantity.
							</p>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal"
								value="Close">
						</div>
					</div>
				</div>
			</div>
        </div>
    </body>
    <script src="{% static 'js/table_sort2.js' %}"></script>

   
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>

    <script>
        $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
        })
        var global_filter_list=[];
        $(document).ready(function() {

        // var data = [];
        // var data2={{companies2|safe}};
        // for ( var i=0 ; i<data2.length ; i++ ) {
        //     data.push( data2[i] );
        // }
        // $('#indextable').DataTable({
        //     data:           data,
        //     deferRender:    true,
       
        //     paging: false,
        //     stateSave: false,
        //     searching: true,
        //     columnDefs: [{
        //         'targets': 0,
        //         'searchable':false,
        //         'orderable':false,
        //         'className': 'sticky-col first-col',
        //         'render': function (data, type, full, meta){
        //             return '<input type="checkbox" class="stock" name="stock" value="' 
        //                 + $('<div/>').text(data).html() + '">';
        //         }
        //     },
        //     {
        //         'targets': 1,
        //         'className': 'sticky-col second-col company',
        //     },
        //     {
        //         'targets': [5,6,13,34,38,39],
        //         'render': function (data, type, full) {
        //             if(localStorage.getItem("country-val")=='US')
        //                flag='en-US'
        //             else
        //                 flag='hi-IN'
        //             return parseFloat(data).toLocaleString(flag);
        //         }
                    
        //     },
        //     {
        //         'targets': 7,
        //         'searchable':false,
        //         'orderable':false,
        //         'className': 'dt-body-center',
        //         'render': function (data, type, full, meta){
        //             return '<input type="text" name="quantity" value="' 
        //                 + $('<div/>').text((parseInt(data).toFixed(0))).html() + '">';
        //         }
        //     }],
        // });
       
        $('.loader1').fadeOut(1);
       

        $('.records').html("<strong>" + $('#indextable tbody tr input[type=checkbox]').length + "</strong>  Stocks");
        country=localStorage.getItem("country-val")

        if (country=='India') {
           $("#quant_market_cap").val("Above 1000cr");
           $("#quant_market_cap").css('background-color','#fff466');
           global_filter_list=[{'factor':'quant_market_cap','condition':'Above 1000cr'}]
           }
        else
           {
            $("#quant_market_cap").val("Above $2000 Mn");
            $("#quant_market_cap").css('background-color','#fff466');

            global_filter_list=[{'factor':'quant_market_cap','condition':'Above $2000 Mn'}]
           }
        applyFilters();
        $('.reset-filters').html("Reset ("+global_filter_list.length+")");
        oTable = $('#indextable').DataTable();   //pay attention to capital D, which is mandatory to retrieve "api" datatables' object, as @Lionel said
        $('#search_text').keyup(function(){
                oTable.search($(this).val()).draw() ;
        })
        });  
   

       
            $('.main-tab-div').hide().eq(0).show();
            $('#main-tabs-ul li:first-child').addClass('active');
       
        $("#main-tabs-ul li").click(function () {
            $('.main-tab-div').hide().eq($(this).index()).show();
            $('#main-tabs-ul li').removeClass('active');
            $(this).addClass('active');
        });
       
        $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
            window.open(stockURL, '_blank');
            return false; 
        });
        $('#indextable tbody tr td:not(:nth-child(2),:nth-child(3), :nth-child(4),:nth-child(5))').each(function() {
            if($(this).text().includes('nan') || $(this).text().includes('NaN') || $(this).text()==="%")
            {
                $(this).text('N/A')
            }
        });
      

        $('.main-tab-div select').change(function(){
            var filter_list={};
            var select_id = $(this).attr('id');
            var select_val = $(this).val();

                if(select_val!=="Any")
                {
                    $(this).css('background-color','#fff466');
                }
                else{
                    $(this).css('background-color','white');
                }
                if (select_val!='Any'){
                filter_list['factor'] = select_id;
                filter_list['condition'] = select_val;}
                for(var i=0;i<global_filter_list.length;i++)
                {
                    if(global_filter_list[i].factor===select_id)
                    {
                        if (select_val!='Any'){
                        delete global_filter_list[i].factor;
                        delete global_filter_list[i].condition;
                        filter_list['factor'] = select_id;
                        filter_list['condition'] = select_val;}
                        else{
                            delete global_filter_list[i];
                        }
                    }
                }
          
            global_filter_list.push(filter_list);
            global_filter_list = (global_filter_list.filter(value => Object.keys(value).length !== 0));
            $('.reset-filters').html("Reset ("+global_filter_list.length+")");
            if(global_filter_list.length>=1){
                $('.reset-filters').show();
            }
            else{
                $('.reset-filters').hide();}

        });

        $('.reset-filters').click(function(){
            $('#indextable tbody > tr:hidden').each(function() {
                $(this).show();
            });
            $('.records').html("<strong>" + $('#indextable tbody tr').length + "</strong>  Stocks");
            $('.main-tab-div select').prop('selectedIndex',0);
            $('.main-tab-div select').css('background-color','white');
            $('.reset-filters').html("Reset(0)");
            global_filter_list=[]
            country=localStorage.getItem("country-val")
            if (country=='India') {
            $("#quant_market_cap").val("Above 1000cr");
            $("#quant_market_cap").css('background-color','#fff466');
            global_filter_list=[{'factor':'quant_market_cap','condition':'Above 1000cr'}]
            }
            else
            {
                $("#quant_market_cap").val("Above $2000 Mn");
                $("#quant_market_cap").css('background-color','#fff466');

                global_filter_list=[{'factor':'quant_market_cap','condition':'Above $2000 Mn'}]
            }
            applyFilters();
            $('.reset-filters').html("Reset ("+global_filter_list.length+")");

        })

        var index_companies={{index_companies|safe}}
        function filter_values(operator,min,max,column_index,factor)
            {
                $('.loader1').fadeIn();

            $('#indextable tbody > tr:not([style*="display: none"])').each(function() {

                                var head = parseFloat( ($('td:eq(' + column_index + ")", this).text()).replace(/[%,]/g, '') )||0; 
                               
                                if (operator=='greater'){
                                        if (head>max) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }   }
                                else if (operator=='greater_equal'){
                                        if (head>=max) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }   }

                                else if (operator=='lesser'){
                                        if (head<min) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }}
                                else if (operator=='equal')
                                        {
                                            if (head==min) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }   
                                        }
                                else if (operator=='range'){
                                    
                                        if ((head>=min) && (head<=max)) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }}

                            });
            $('.records').html("<strong>" + $('#indextable tbody > tr:not([style*="display: none"])').length + "</strong>  Stocks");
            $('.loader1').fadeOut(1);

            }
        function target_price_filter(operator,min,max,column_index,price_column_index)
            {
                $('#indextable tbody > tr:not([style*="display: none"])').each(function() {
                                var price = parseFloat( $('td:eq(' + price_column_index+ ")", this).text() )||0; 
                                var target_price=parseFloat( $('td:eq(' + column_index + ")", this).text() )||0; 
                                if (operator=='greater_equal'){
                                        price=price*(max/100);
                                        if (target_price>=price) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }   }
                                else if (operator=='lesser'){
                                        price=price*(min/100);

                                        if (target_price<price) {
                                            $(this).show()
                                        } else {
                                            $(this).hide()
                                        }}
                            });

                $('.records').html("<strong>" + $('#indextable tbody > tr:not([style*="display: none"])').length + "</strong>  Stocks");
                $('.loader1').fadeOut(1);


            }
        function filter_categorical_values(filter_condition,column_index)
            {
                $('#indextable tbody > tr:not([style*="display: none"])').each(function() {
                                var head =  $('td:eq(' + column_index + ")", this).text() ; 
                if (filter_condition.some(condition=>head.includes(condition))){
                        $(this).show();}
                else{
                        $(this).hide();}
                });
                $('.records').html("<strong>" + $('#indextable tbody > tr:not([style*="display: none"])').length + "</strong>  Stocks");
                $('.loader1').fadeOut(1);

            }

        function get_gics(condition)
            {
                var gics=[];
                if (condition.includes('Cyclical'))
                    {gics.push("Materials");gics.push("Finance");
                    gics.push("Consumer Discretionary");gics.push("Realty");
                    }
                else if (condition.includes('Defensive'))
                {
                    gics.push("Health Care");gics.push("Utilities");
                    gics.push("Consumer Staples");
                }
                else if (condition.includes('Sensitive'))
                {
                    gics.push("Telecom");gics.push("Information Technology");
                    gics.push("Industrials");gics.push('Energy');
                }
                else
                    gics.push(condition)
                return gics;
            }
        function applyFilters(){
          
            $('#indextable tbody > tr:hidden').each(function() {
               
                $(this).show();
            });
            var mcap_categories=['Large Cap','Mid Cap','Small Cap']

            for (var i=0;i<global_filter_list.length;i++)
                {
                    var factor=global_filter_list[i].factor;
                   
                    if (factor=='quant_volume' || factor=='risk_avg_daily_volume')
                        {
                            global_filter_list[i].condition=global_filter_list[i].condition.replace(/lakh/g,'00000');
                            global_filter_list[i].condition=global_filter_list[i].condition.replace(/cr/g, '0000000');
                            global_filter_list[i].condition=global_filter_list[i].condition.replace(/10k/g, '10000');
                        }
                    var column=$('tr th').filter(
                                function(){
                                    return this.id == global_filter_list[i].factor;
                                }).index()
                    if ((global_filter_list[i].factor)=='quant_sector')
                            {
                                if (global_filter_list[i].condition!='Any'){
                                filter_condition=get_gics(global_filter_list[i].condition);
                                filter_categorical_values(filter_condition,column)}
                            }
                    else if ((global_filter_list[i].factor)=='quant_index')
                            {
                                var condition=global_filter_list[i].condition;

                                if (global_filter_list[i].condition!='Any'){

                                    filter_condition=index_companies[condition];
                                    filter_categorical_values(filter_condition,1);

                                }
                            }
                    else if (global_filter_list[i].factor=='quant_fo_stocks')
                            {
                                var category=[];
                                if (global_filter_list[i].condition!='Any'){
                                category.push(global_filter_list[i].condition);
                                filter_categorical_values(category,column);
                                }
                            }
                    else if (((global_filter_list[i].factor)=='quant_market_cap') && mcap_categories.some(category=>global_filter_list[i].condition.includes(category)))
                            {
                                var category=[];
                                if (global_filter_list[i].condition!='Any'){
                                category.push(global_filter_list[i].condition);
                                filter_categorical_values(category,column-1);}
                            }
                    else if (global_filter_list[i].factor=='quant_target_price')
                            {
                                var condition_var=global_filter_list[i].condition;
                                var price_column=$('tr th').filter(
                                function(){
                                    return this.id == 'quant_price';
                                }).index()
                                values=condition_var.match(/[0-9]+/g)
                                if (values!=null && values.length>1){
                                    min=parseFloat(values[0]);
                                    max=parseFloat(values[1]);}
                                else
                                    {
                                    greaterthanequal_strings=['Above','above','Over','over']
                                    lessthanequal_strings=['Below','below','Under','under']
                                    if (greaterthanequal_strings.some(substring=>condition_var.includes(substring)))
                                        {
                                            if (values==null)
                                                max=100;
                                            else
                                                max=parseFloat(values[0]);
                                            operator='greater_equal';
                                        }
                                    else if (lessthanequal_strings.some(substring=>condition_var.includes(substring)))
                                        {

                                            if (values==null)
                                                min=100
                                            else
                                                min=parseFloat(values[0]);
                                            operator='lesser';
                                        }
                                }

                                target_price_filter(operator,min,max,column,price_column)                            
                            }
                    else
                        {
                            var min,max;
                            var condition_var=global_filter_list[i].condition;
                            var operator="range";
                            condition_var=condition_var.replace(/\,/g, '');
                            if (condition_var!='Any'){
                            values=condition_var.match(/[+-]?([0-9]*[.])?[0-9]+/g)
                            if (values.length>1){
                                min=values[0];
                                max=values[1];}
                            else
                                {                                                                
                                greaterthanequal_strings=['Above','above','Over','over']
                                lessthanequal_strings=['Below','below','Under','under','<']
                                if (greaterthanequal_strings.some(substring=>condition_var.includes(substring)))
                                    {
                                        max=parseFloat(values[0]);
                                        operator='greater_equal';
                                    }
                                else if (condition_var.includes('>'))
                                    {
                                        max=values[0];
                                        operator='greater';
                                    }
                                else if (lessthanequal_strings.some(substring=>condition_var.includes(substring)))
                                    {
                                        min=values[0];
                                        operator='lesser';
                                    }
                                else if (['None','Zero'].some(substring=>condition_var.includes(substring)))
                                    {
                                        min=values[0];
                                        operator='equal';
                                    }
                                else
                                    {
                                        min=values[0];
                                        operator='equal';
                                    }
                            }
               

                        filter_values(operator,min,max,column,factor);
                            }
                }

                $('.records').html("<strong>" + $('#indextable tbody > tr:not([style*="display: none"])').length + "</strong>  Stocks");
            }
            $('.loader1').fadeOut();

            $('.records').html("<strong>" + $('#indextable tbody > tr:not([style*="display: none"])').length + "</strong>  Stocks");

        }
        // To apply default investment amount to Quantity
        if('{{symbol|safe}}'=='$')
            flag='en-US'
        else
            flag='hi-IN'
            $(".new_invstamt").val( parseInt($('.new_invstamt').val().replace(/\D/g,''),10).toLocaleString(flag))

        $(".new_invstamt").on('keyup', function(){
            if(($(this).val()).length==0)
                return 0
            else{
                var n = parseInt($(this).val().replace(/\D/g,''),10);
                $(this).val(n.toLocaleString(flag));
            }
        });
        $(document).on("click", ".apply_invst", function () {
            var def_amt = parseFloat(($(".new_invstamt").val()).replace(/[%,]/g, ''));
            $("#indextable input[type=checkbox]").each(function () {
            var tr_price = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
            var def_quantity = parseFloat(def_amt)/parseFloat(tr_price);
            if(tr_price==0)
                    $(this).parents("tr").find('[name=quantity]').val(0);
                else
                $(this).parents("tr").find('[name=quantity]').val(parseInt(def_quantity));
            });
        return false;
        });
        $('#selectAll').click(function (){  
            if ($(this).prop("checked"))
            { 
                $('#auto_fill').show(); 
                $('#indextable input:checkbox').prop('checked', this.checked); 
                $('#indextable input:text').prop('disabled',false);
            }
            else
            {
                $('#auto_fill').hide();
                $('#indextable input:checkbox').prop('checked', false); 
                $('#indextable input:text').prop('disabled',true);
            }
        });
        let SelectedStocks = new Map();
        SelectedStocks.set("Count",0);
        $(document).on("change", ".stock", function(){
            $next1 = $(this).closest('tr').find('[name=stock]');
            if ($next1.prop("checked")){
            var count = parseInt(SelectedStocks.get("Count")) + 1;
            SelectedStocks.set("Count",count);
            if(SelectedStocks.get("Count") > 1)
            document.getElementById("auto_fill").style.display="block";
            else
            document.getElementById("auto_fill").style.display="none";
            $next2 = $(this).closest('tr').find('[name=quantity]');
            $next2.prop('disabled', !this.checked);}
     
            else{
            var count = parseInt(SelectedStocks.get("Count")) - 1;
            SelectedStocks.set("Count",count);
            if(SelectedStocks.get("Count"))
            document.getElementById("auto_fill").style.display="block";
            else
            document.getElementById("auto_fill").style.display="none";
            $next1 = $(this).closest('tr').find('[name=quantity]');
            $next1.val("");
            $next1.removeAttr('style');
            $next1.prop('disabled', true);
            }
        });
        $(document).on("click", ".quantity_autofill", function autoFill() {
            $(".quantity_value").val('')
            $(".equalQuantity").click();
            $(".saveequalquantity").click(function () {
                var auto_quantity =parseFloat($(".quantity_value").val());
                if (auto_quantity) {
                    if (/^\+?(0|[1-9]\d*)$/.test(auto_quantity)) {
                        if ((parseInt(auto_quantity, 10) < 2147483647) && (parseInt(auto_quantity, 10) > 0)){
                        localStorage.setItem('auto_quantity',auto_quantity);
                        $("#indextable input[type=checkbox]:checked").each(function () {
                        $(this).closest("tr").find('[name=quantity]').val(auto_quantity);
                        });
                        $('#fillEqualQuantity').modal('hide');
                    } else {
                        $('.responsemsg').html("Sorry, quantity is invalid!");
                    
                    }
                    }
                    else {
                    $('.responsemsg').html("Sorry, quantity is always positive number!");
                
                    }
                } else {
                        $('.responsemsg').html("Sorry, quantity is invalid!");
                    }
            })
            $('.responsemsg').html("");
        });
        $(document).on("click", "#createportfolio", function () {
            var myStockList = [];
            var flag = 0;
            var stockCount = $("#indextable tbody > tr:not([style*='display: none'])  .stock:checkbox:checked").length;
            if(stockCount == 0)
            {
                 $('#indextable input:checkbox').prop('checked', true); 
                     $('#indextable tbody input:text').prop('disabled',false);
                    flag = 1;
            }
            $("#indextable tbody > tr:not([style*='display: none'])  .stock:checkbox:checked").each(function () {
            stock = {};
            stock['companyName'] = $.trim($(this).parents("tr").find('td:eq(1)').text());
            stock['sectorName'] = $.trim($(this).parents("tr").find('td:eq(3)').text());
            stock['lt_price'] = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
            var quantity = $(this).parents('tr').find('td:eq(7) input[type="text"]').val();
          
            if (quantity)
            stock['stockQuantity'] = quantity;
            else{
            $(this).parents('tr').find('td:eq(7) input[type="text"]').css('border','1px solid red');
            $(".errModal").click(); return false;}
            myStockList.push(stock);
            });
            if(myStockList.length){
                for (var i=0;i<stockCount;i++){
                    if (myStockList[i]['stockQuantity'])
                    flag = 1;
                    else
                    flag = 0;
                }
            }
            if(flag){
            $(".nameModal").click();
            $(".saveport").click(function(){
                var portfolioName = document.getElementById("portName").value;
                var e = document.getElementById("markets");
                var country = 'india';

                $.ajax({
                    type: "POST",
                    url: "{% url 'saveNewPortfolio'%}",
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    data: {
                            'portfolio_list': JSON.stringify(myStockList),
                            'portfolio_name' : portfolioName,
                            'country' : country,
                    },
                    success:function (response) {
                    if(response.res_Status){
                    $('.responsemsg').css('color','green');
                    $('.responsemsg').html(response.res_Msg);
                    localStorage.setItem("{{username}}",response.portfolio);
                    setTimeout(function() {
                    $(".closeport").click();
                    location.href="{% url 'indexpage' %}";
                    },1000);
                    }else{
                    $('.responsemsg').css('color','red');
                    $('.responsemsg').html(response.res_Msg);
                    }
                    },
                    error:function (response){
                    console.log("Error detected while creating portfolio");
                    }}
                    );
                event.preventDefault();
            });
            }else{
            $(".errModal").click();
            return false;
            }
            });
            
            $(document).on("click", ".addExisting", function () {
            var myStockList = [];
                var flag = 0;
                var stockCount = $("#indextable tbody > tr:not([style*='display: none']) .stock:checkbox:checked").length;
                if(stockCount == 0)
                $(".errModal").click();
                $("#indextable tbody > tr:not([style*='display: none']) .stock:checkbox:checked").each(function () {
                stock = {};
                stock['stockname'] = $.trim($(this).parents("tr").find('td:eq(1)').text());
                stock['sectorname'] = $.trim($(this).parents("tr").find('td:eq(3)').text());
            
                stock['stockprice'] = parseFloat(($(this).parents("tr").find('td:eq(6)').text()).replace(/[%,]/g, ''));
                var quantity = $(this).parents('tr').find('td:eq(7) input[type="text"]').val();
                if (quantity)
                stock['stockquantity'] = quantity;
                else{
                $(this).parents('tr').find('td:eq(7) input[type="text"]').css('border','1px solid red');
                $(".errModal").click(); return false;}
                myStockList.push(stock);
                });
                if(myStockList.length){
                    for (var i=0;i<stockCount;i++){
                        if (myStockList[i]['stockquantity'])
                        flag = 1;
                        else
                        flag = 0;
                    }
                }
                if(flag){
                $(".existportmodal").click();
                $(".addexist").click(function(){
                    var e = $(".myportfolioName option:selected").text()

                    var portfolioName = e;
                    console.log(portfolioName)
            
                if (portfolioName){
                    $.ajax({
                        type: "POST",
                        url: "{% url 'SavePortfolioData' %}",
                        dataType : 'json',
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        data: {
                                'result': JSON.stringify(myStockList),
                                'portfolioname' : portfolioName,
                        },
                        success:function (response) {
                        if(response.res_Status){
                        $('.responsemsg').css('color','green');
                        $('.responsemsg').html(response.res_Msg);
                        localStorage.setItem("{{username}}",response.portfolio);
                        setTimeout(function() {
                        $(".closeport").click();
                        location.href="{% url 'indexpage' %}";
                        },1000);
                        }else{
                        $('.responsemsg').css('color','red');
                        $('.responsemsg').html(response.res_Msg);
                        }
                        },
                        error:function (response){
                        console.log("Error detected while adding to existing portfolio");
                        }}
                        );
                }
                    event.preventDefault();
                });
                }else{
                $(".errModal").click();
                return false;
                }
            });
		$("body").css({visibility:'visible'});
        
    
    </script>
   
</html>

{% endblock %}
