{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profile Settings - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <style>
            .subnav-content{display: none !important;}
            .options-ul li{padding:6px 10px}
            .options-ul li.active{background-color:whitesmoke;border-left:4px solid #5627D8;color:#5627D8}
        </style>
    </head>
    <body>
        <div class="col-lg-12 section-gap">
            <div class="row">
                <div class="col-lg-9 card my-auto">
                    <div class="card-header">
                        <h1>My Account</h1>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="options-ul">
                                        <li><a href="{% url 'myprofileview' %}">Profile Details</a></li>
                                        <li><a href="{% url 'account_email' %}">Email Settings</a></li>
                                        <li><a href="{% url 'socialaccount_connections' %}">Social Connections</a></li>
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-12 div1 main-tab-div">
                                            <div class="mg-t-30">
                                                <h2>Welcome, {{user}} </h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 div2 main-tab-div">
                                            <div class="mg-t-30">
                                                <h2>Welcome, {{user}} 2</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 div3 main-tab-div">
                                            <div class="mg-t-30">
                                                <h2>Welcome, {{user}} 3</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 div4 main-tab-div">
                                            <div class="mg-t-30">
                                                <h2>Welcome, {{user}} 4</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('.main-tab-div').hide().eq(0).show();
        $('.options-ul  li:first-child').addClass('active');
        $(".options-ul li").click(function(){
            $('.main-tab-div').hide().eq($(this).index()).show();
            $(".options-ul li").removeClass("active");
            $(this).addClass("active");
        })
        $('body').css({visibility:"visible"});
    </script>
</html>

{% endblock %}