{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="col-md-4 col-lg-4 col-xl-4 mg-t-70">
  <div class="card">
    <div class="card-title title text-center mg-t-0" >
      <h4 class="text-center mg-t-15"> {% trans "Sign Up Closed" %} </h4>
      <hr class="mg-b-0 mg-t-0">  
    </div>
    <div class="card-body password-change-body">
     <p class="text-center" style="color:red">{% trans "We are sorry, the sign up is currently closed." %}</p>
    </div>
  </div>    
</div>
{% endblock %}
