{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Stock List - 72PI</title>
  <link rel="stylesheet" href="{% static 'css/stockList.css' %}?v=1.2"> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  </head>
<body>
    <div class="col-sm-12 banner-areas section-gap stocklistdiv ">
      <div class="row row-sm pd-t-0 mg-t-20 indian-list">
        <div class="col-xl-12 mg-t-20">
          <section>
            <header>
              <h4 class="main-header">List of INDIAN Companies</h4>

            </header>
          </section>
          <div class="mg-t-20 india">
            <article>
              <ul class="indiaList stockList"></ul>
            </article>
          </div>
        </div>
      </div>
      <div class="row row-sm pd-t-0 mg-t-20 us-list">
        <div class="col-xl-12 mg-t-20">
          <section>
            <header>
              <h4 class="main-header">List of USA Companies</h4>
            </header>
          </section>
          <div class="mg-t-20 usa">
            <article>
              <ul class="usaList stockList"></ul>
            </article>
          </div>
        </div>

      </div>
    </div>
    <script>
      var country = '{{country|safe}}'
      var stocklist = {{ stocklist| safe}}
      if (country == "India") {
        $('.us-list').hide();
        $('.indian-list').show();
        if (stocklist.length > 0) {
          for (i = 0; i < stocklist.length; i++) {
            $('<li />', { html: stocklist[i] }).appendTo('ul.indiaList')
          }
        } else {
          $(".india").empty();
          $('.india').append('<div style="color:#CF5B45">No stocks found</div>');
        }
      }
      else {
        $('.us-list').show();
        $('.indian-list').hide();
        if (stocklist.length > 0) {
          for (i = 0; i < stocklist.length; i++) {
            $('<li />', { html: stocklist[i] }).appendTo('ul.usaList')
          }
        } else {
          $(".usa").empty();
          $('.usa').append('<div style="color:#CF5B45">No stocks found</div>');
        }
      }

      var listItems = document.querySelectorAll(".stockList li");
      listItems.forEach(function (item) {
        item.onclick = function (e) {
          window.location.href = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
          return false;
        }
      });
      $("body").css({ visibility: 'visible' });
    </script>
</body>

</html>
{% endblock %}