{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load mathfilters %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{{stockName|safe}} - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/StockInfo.css' %}?v=1.2">
</head>
    <body>
      <div>
        
      <div class="col-lg-12 section-gap stockinfodiv" style="margin:3% auto;">
        <div class="card-div" style="padding:2% 1%">
          <div class="card-headers">
            <h2 class="text-center" style="color: #6633CC;">{{stockName|safe}}</h2>
            <hr/>
        
           
         
          </div>
          <div class="card-body">
            <div class="row row-sm">
                <div class="col-md-8 col-lg-8 col-xl-8 mg-b-0">
                  <div class="description" style="clear: both">
                    <p id='show_more'>{{companyDesc}}
                        </p>
                  </div>
                 
                  <div class="row st_rank ">
                    <div class="col-lg-6 graph_bg pd-b-10">
                    <div class="">
                        <div class="row mg-t-20 pd-t-10 pd-b-10">
                            <div class="col-lg-5 nsesymbol"></div>
                            <div class="col-lg-3 current_price"></div>
                            <div class="col-lg-4 netchange text-right"></div>
                        </div>
                       
                        <div class="row row-sm  pd-b-10">
                            <div class="col-lg-5 solid_gauge">
                                <div id="solid_gauge"></div>
                                <span class="tooltiptext" style="font-size:12px;"></span>

                            </div>
                            <div class="col-lg-7 pd-t-15">
                                <h4 class="quantitative_raking text-white"></h4>
                            </div>
                        </div>
                    </div>
                        <div class="stock_rating">
                    
                        <div class="accordion">
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <i class="fa fa-chevron-circle-down"></i> <b>Quality Rank :</b>
                                </div>
                                <div class="col-lg-7 pd-t-5 quality_ranking_tooltip ">
                                    <div class="progress_background"><div class="progressbar_cate quality_ranking"></div></div>
                                    <span class="tooltiptext1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Sales :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 sales_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar sales"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Piotroski Score :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 piotroski_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar piotroski"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>ROE :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 roe_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar roe"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Debt/Equity :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 debt_equity_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar debt_equity"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>FCF Margin :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 fcf_margin_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar fcf_margin"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Beta :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 beta_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar beta"></div></div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <i class="fa fa-chevron-circle-down"></i> <b>Growth Rank :</b>
                                </div>
                                <div class="col-lg-7 pd-t-5 growth_ranking_tooltip">
                                    <div class="progress_background"><div class="progressbar_cate growth_ranking"></div></div>
                                    <span class="tooltiptext1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                         <div class="row row-sm">
                            <div class="col-lg-5">
                                <p>EPS Growth :</p>
                            </div>
                            <div class="col-lg-7 pd-t-5 eps_growth_tooltip">
                                <span class="tooltiptext"></span>

                                <div class="progress_background"><div class="progressbar eps_growth"></div></div>

                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-5">
                                <p>Sales Growth :</p>
                            </div>
                            <div class="col-lg-7 pd-t-5 sales_growth_tooltip">
                                <span class="tooltiptext"></span>

                                <div class="progress_background"><div class="progressbar sales_growth"></div></div>

                            </div>
                        </div>
                        <div class="row row-sm">
                            <div class="col-lg-5">
                                <p>Sales QoQ :</p>
                            </div>
                            <div class="col-lg-7 pd-t-5 sales_qoq_tooltip">
                                <span class="tooltiptext"></span>

                                <div class="progress_background"><div class="progressbar sales_qoq"></div></div>

                            </div>
                        </div>
                        </div>
                        <div class="accordion">
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <i class="fa fa-chevron-circle-down"></i><b> Technical Rank :</b>
                                </div>
                                <div class="col-lg-7 pd-t-5 technical_ranking_tooltip">
                                    <div class="progress_background"><div class="progressbar_cate technical_ranking"></div></div>
                                    <span class="tooltiptext1"></span>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                           
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Price vs EMA20 :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 price_vs_ema20_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar price_vs_ema20"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Price vs EMA50 :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 price_vs_ema50_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar price_vs_ema50"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Price vs EMA200 :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 price_vs_ema200_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar price_vs_ema200"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>RSI :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 rsi_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar rsi"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>EMA50 vs EMA200 :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 ema50_vs_ema200_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar ema50_vs_ema200"></div></div>

                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-lg-5">
                                    <p>Current Price vs 52 Week High :</p>
                                </div>
                                <div class="col-lg-7 pd-t-5 price_vs_52_tooltip">
                                    <span class="tooltiptext"></span>

                                    <div class="progress_background"><div class="progressbar price_vs_52"></div></div>

                                </div>
                            </div>
                        </div>
                          
                      </div>
                    </div>
                </div>
                <h4 class="card-title text-center mg-t-20"><label>Stock Price</label></h4>
                  <div id="price"></div>
                  <h4 class="card-title text-center mg-t-25 mg-b-20"><label>Indices  vs Stock Return</label></h4>
                  <div class="btns-div">
                    <button class="btn btn-outline-info  mg-r-10" id="all">{{stockName|safe}} Return</button>
                    <button class="btn btn-outline-success mg-r-10" id="ma20">{{index1|safe}}</button>
                    <button class="btn btn-outline-primary mg-r-10" id="ma50">{{index2|safe}} </button>
                    <button class="btn btn-outline-warning mg-r-10" id="ma100">{{index3|safe}}</button>
                  </div>
              

                  <div class="mg-t-30">
                    <div id="allb"></div>
                    <div id="ma20b"></div>
                    <div id="ma50b"></div>
                    <div id="ma100b"></div>
                  </div>
                  <div>
                    <h4 class="card-title text-center mg-t-10"><label>Moving Averages</label></h4>
                    <button class="btn btn-outline-success  mg-r-10" id="ma20_btn">MA20</button>
                    <button class="btn btn-outline-primary mg-r-10" id="ma50_btn">MA50</button>
               

                    <div id="MA20" class="mg-t-20"></div>
                    <div id="MA50" class="mg-t-20"></div>
                  </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 mg-b-0">
                  <h4 class="text-center"><label style="border-bottom:2px solid #FFA400">Key Information</label></h4>
                  <div class="group mg-t-10 table-responsive" >
                    {% for stock in stocks %}
                    <table class="key_info_table" >
                        <tr><td>Sector Name </td><td> <strong >: {{stock.gics}}</strong></td></tr>
                        <tr><td>Industry Name</td><td> <strong >: {{stock.industry}}</strong></td></tr>
                        <tr><td>Market Cap Category</td><td>   <strong >: {{stock.market_cap_category}}</strong></td></tr>
                        <tr class="founded_email"><td>Founded</td><td>  <strong>: {{stock.founded}}</strong></td></tr>
                        <tr class="chaiman_ceo"><td>Chairman/CEO</td><td> <strong>: {{stock.chairman}}</strong></td></tr>
                        <tr><td>Head Quarters</td><td> <strong>: {{stock.address}}</strong></td></tr>
                        <tr><td>Phone Number</td><td>  <strong>: {{stock.phone}}</strong></td></tr>
                        <tr class="founded_email"><td>Email</td><td>  <strong>: <a href="mailto:{{stock.email}}" target="_top">{{stock.email}}</a> </strong></td></tr>
                        <tr><td>Website</td><td> <strong>: <a href="{{stock.website}}">{{stock.website}}</a></strong></td></tr>

                    </table>
                  
                    {% endfor %}
                  
                </div>
             
                <h4 class="text-center"><label style="border-bottom:2px solid #FFA400">Factor Information</label></h4>
                  <div class="group mg-t-10">
                        <h4 class="text-center">Size</h4>
                        <table  class="table table-hover sortable table-sm mg-t-10" style="width:100%">
                        <thead>
                            <tr>
                              <th>Factor</th>
                              <th>Value</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                         
                            <tr><td>Mcap ({{format|safe}})</td> <td >{{symbol|safe}}{{stock.mcap_rm_field|floatformat:'0'}}</td></tr>
                            <tr><td>EV ({{format|safe}})</td>       <td >{{symbol|safe}}{{stock.ev|floatformat:'0'}}</td></tr>
                            <tr><td>Sales (ttm) ({{format|safe}})</td> <td >{{symbol|safe}}{{stock.sales_rm_field|floatformat:'0'}}</td></tr>
                        
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
                 <div class="group">
                      <h4 class="text-center">Valuation</h4>
                      <table  class="table table-hover table-sm sortable mg-t-10 unselectable" style="width:100%">
                        <thead>
                            <tr>
                              <th>Factor</th>
                              <th>Value</th>
                             
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                        
                            <tr><td>Price-To-Earnings (PE) (ttm)</td>  <td >{{stock.pe|floatformat:'2'}}</td></tr>
                            <tr><td>Price-To-Book (PB) (mrq)</td>   <td >{{stock.pb|floatformat:'2'}}</td></tr>
                            <tr><td>Div.Yield (ttm)</td>  <td >{{stock.div_yield|mul:100|floatformat:'2'}}%</td></tr>
                            <tr><td>EV/Sales (ttm)</td> <td >{{stock.ev_sales|floatformat:'2'}}</td></tr>
                            <tr><td>EV/EBITDA (ttm)</td> <td >{{stock.ev_ebitda|floatformat:'2'}}</td></tr>

                            
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>
                 <div class="group">
                        <h4 class="text-center">Growth</h4>
                        <table  class="table table-hover table-sm sortable mg-t-10 unselectable" style="width:100%">
                          <thead>
                              <tr>
                                <th>Factor</th>
                                <th>Value</th>
                                
                              </tr>
                          </thead>
                          <tbody>
                              {% for stock in stocks %}
                       
                              <tr><td>Sales Growth (lfy)</td><td >{{stock.sales_growth|mul:100|floatformat:'2'}}%</td></tr>
                              <tr><td>Sales Growth (qoq)</td> <td >{{stock.sales_growth_qoq_growth|mul:100|floatformat:'2'}}%</td></tr>
                              <tr><td>Quarterly Sales Growth (yoy)</td><td >{{stock.qtr_sales_growth_yoy|mul:100|floatformat:'2'}}%</td></tr>
                            
                              <tr><td>Sales - 3Yr CAGR</td> <td >{{stock.sales_growth_3y_5r_cagr|floatformat:'2'}}%</td></tr>
                              <tr><td>EPS Growth (lfy)</td> <td >{{stock.eps_growth|mul:100|floatformat:'2'}}%</td></tr>
                              <tr><td>EPS Growth (qoq)</td><td >{{stock.eps_growth_qoq_growth|mul:100|floatformat:'2'}}%</td></tr>
                           
                              <tr><td>Quarterly EPS Growth (yoy) </td><td >{{stock.qtr_eps_growth_yoy|mul:100|floatformat:'2'}}%</td></tr>
                              <tr><td>EPS - 3Yr CAGR</td><td >{{stock.eps_growth_3y_5r_cagr|floatformat:'2'}}%</td></tr>
                              {% endfor %}
                          </tbody>
                      </table>
                 </div>

                 <div class="group">
                      <h4 class="text-center">Profitability</h4>
                      <table  class="table table-hover table-sm sortable mg-t-10 unselectable" style="width:100%">
                        <thead>
                            <tr>
                              <th>Factor</th>
                              <th>Value</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                     
                            <tr><td>ROE (ttm)</td><td >{{stock.roe|floatformat:'2'}}%</td></tr>
                            <tr><td>ROCE (ttm)</td>  <td >{{stock.roce|floatformat:'2'}}%</td></tr>
                            <tr><td>EBITDA Margin (ttm)</td>   <td >{{stock.ebitda_margin|floatformat:'2'}}%</td></tr>
                            <tr><td>Net Income Margin (ttm)</td>     <td >{{stock.net_income_margin|floatformat:'2'}}%</td></tr>
                            <tr><td>FCF Margin (lfy)</td> <td >{{stock.fcf_margin|mul:100|floatformat:'2'}}%</td></tr>
                            <tr><td>Sales/Total Assets (ttm)</td> <td >{{stock.sales_total_assets|floatformat:'2'}}</td></tr>
                          
                            {% endfor %}
                        </tbody>
                    </table>
              </div>
                <div class="group">
                   <h4 class="text-center">Leverage</h4>
                   <table  class="table table-hover table-sm sortable mg-t-10 unselectable" style="width:100%">
                    <thead>
                        <tr>
                          <th>Factor</th>
                          <th>Value</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                      
                        <tr><td>Net Debt/FCF (lfy)</td><td >{{stock.net_debt_fcf|floatformat:'2'}}</td></tr>
                        <tr><td>Net Debt/EBITDA (lfy)</td><td >{{stock.net_debt_ebitda|floatformat:'2'}}</td></tr>
                        <tr><td>Debt/Equity (mrq)</td>
                          <td >{{stock.debt_equity|floatformat:'2'}}</td></tr>
                       
                        {% endfor %}
                    </tbody>
                </table>
              </div>
                <div class="group">
                    <h4 class="text-center">Risk</h4>
                    <table  class="table table-hover table-sm sortable mg-t-10 unselectable" style="width:100%">
                      <thead>
                          <tr>

                            <th>Factor</th>
                            <th>Value</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                          {% for stock in stocks %}
                         
                          <tr><td>Beta 1Yr</td> <td >{{stock.beta_1y|floatformat:'2'}}</td></tr>
                          <tr><td>Volatility 1Yr</td><td >{{stock.volatility_1y_field|mul:100|floatformat:'0'}}%</td></tr>
                           
                        
                          {% endfor %}
                      </tbody>
                  </table>  
                </div>
                <div class="group">
                    <h4 class="text-center">Piotroski Score</h4>
                    <table  class="table table-hover table-sm  mg-t-10 unselectable">
                      <thead>
                          <tr>
                            <th>Factor</th>
                            <th>Value</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                          {% for stock in stocks %}
                  
                          <tr><td>Piotroski Score</td><td >{{stock.piotroski_score|floatformat:'0'}}</td></tr>
                        
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="group mg-t-10">
                  <h5 class="text-center">Abbreviation Guide</h5>
                <table class="abbreviation mg-t-10">
                    <tr><td><strong>mrq =</strong>Most Recent Quarter</td><td><strong>ttm =</strong> Trailing Twelve Months</td></tr>
                    <tr><td><strong>yoy =</strong>Year Over Year</td><td><strong>lfy =</strong> Last Fiscal Year</td></tr>
              
             
                </table>
              
            </div>
                </div>
            </div>

          </div>
        

        </div>
        </div>
        
      </div>
    
      </div>
      <div id="tablecontent" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">						
                <h4 class="modal-title">{{stockName|safe}} - Article Content</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="color:black">
                <div class="row row-sm">
                  <div class="col-lg-6 col-md-6 col-xl-6 ">
                    <div id="container"></div>
                      
                      
                  </div> 
                  <div class="col-lg-12 col-md-12 col-xl-12 ">
                    <div class="scroll-div scroll-text">
                      <div class="article_content tx-15"></div>
                  </div>
                  </div>
              </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Cancel">
              </div>
          </div>
        </div>
      </div>
 
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <script>
            if('{{symbol|safe}}'=='$')
            {
                $('.founded_email').css("display","none")
                $('.chaiman_ceo').css('display','none')
            }
            showLesstext();
            $('a.more').on('click', function(){
                var $parent = $("#show_more").parent();
                if($parent.data('visible')) {
                    $parent.data('visible', false).find('.dots').show()
                    .end().find('#moreText').hide()
                    .end().find('a.more').text('show more');
                } else {
                    $parent.data('visible', true).find('.dots').hide()
                    .end().find('#moreText').show()
                    .end().find('a.more').text('show less');

                }
            });
        function showLesstext()
            {
            var description_val=$('#show_more').text();
            description_val = description_val.replace(/(?:\r\n|\r|\n)/g, '<br />');
            var words=description_val.split(" ");

            if(words.length>99){
            description_val=words.splice(0,99).join(" ") ;
            long_text=words.splice(0,words.length).join(" ");
            description_val=description_val+'<span class="dots">...</span> <span id="moreText">'+long_text+'</span> <a class="more" href="#"> show more</a>';
            

            document.getElementById('show_more').innerHTML=description_val;
            document.getElementById('moreText').style.display='none';
            }
            else
                {
                document.getElementById('show_more').innerHTML=description_val;
                }
            
            }
            var ranking={{ranking|safe}}
            if(ranking.length>0)
            {

            
                
                            
                        $('.sales').css("width",20*ranking[0][1]+"%")
                        $('.piotroski').css("width",20*ranking[0][2]+"%")
                        $('.roe').css("width",20*ranking[0][3]+"%")
                        $('.debt_equity').css("width",20*ranking[0][4]+"%")

                        $('.fcf_margin').css("width",20*ranking[0][5]+"%")
                        $('.beta').css("width",20*ranking[0][6]+"%")

                        $('.eps_growth').css("width",20*ranking[0][7]+"%")
                        $('.sales_growth').css("width",20*ranking[0][8]+"%")
                        $('.sales_qoq').css("width",20*ranking[0][9]+"%")
                        $('.price_vs_ema20').css("width",20*ranking[0][10]+"%")
                    
                        $('.price_vs_ema50').css("width",20*ranking[0][11]+"%")
                        $('.price_vs_ema200').css("width",20*ranking[0][12]+"%")
                    
                        $('.rsi').css("width",20*ranking[0][13]+"%")
                        $('.ema50_vs_ema200').css("width",20*ranking[0][14]+"%")
                        $('.price_vs_52').css("width",20*ranking[0][15]+"%")

                        $('.quality_ranking').css("width",20*ranking[0][16]+"%")
                    
                        $('.growth_ranking').css("width",20*ranking[0][17]+"%")
                        
                        

                        $('.technical_ranking').css("width",20*ranking[0][18]+"%")
                        $('.nsesymbol').html('<h4 class="text-white pd-l-10">'+ranking[0][0]+'<h4>');
                        $('.current_price').html('<h5>{{symbol|safe}} '+ranking[0][20].toLocaleString('hi-IN', { maximumFractionDigits: 1})+'</h5>');
                                
                        $('.quantitative_raking').html("Quantitative Rank : "+ranking[0][19].toFixed(1))
                        $(".sales").hover(function () {
                                $(".sales_tooltip .tooltiptext").html(ranking[0][1].toFixed(0))
                                $(".sales_tooltip .tooltiptext").css("visibility",'visible')
                                $(".sales_tooltip .tooltiptext").css("margin-left",$(".sales").width()-20+'px') 
                            });
                            $('.sales').mouseout(function () {
                            $(".sales_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".piotroski").hover(function () {
                                $(".piotroski_tooltip .tooltiptext").html(ranking[0][2].toFixed(0))
                                $(".piotroski_tooltip .tooltiptext").css("visibility",'visible')
                                $(".piotroski_tooltip .tooltiptext").css("margin-left",$(".piotroski").width()-20+'px') 
                            });
                            $('.piotroski').mouseout(function () {
                            $(".piotroski_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".roe").hover(function () {
                                $(".roe_tooltip .tooltiptext").html(ranking[0][3].toFixed(0))
                                $(".roe_tooltip .tooltiptext").css("visibility",'visible')
                                $(".roe_tooltip .tooltiptext").css("margin-left",$(".roe").width()-20+'px') 
                            });
                            $('.roe').mouseout(function () {
                            $(".roe_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".debt_equity").hover(function () {
                                $(".debt_equity_tooltip .tooltiptext").html(ranking[0][4].toFixed(0))
                                $(".debt_equity_tooltip .tooltiptext").css("visibility",'visible')
                                $(".debt_equity_tooltip .tooltiptext").css("margin-left",$(".debt_equity").width()-20+'px') 
                            });
                            $('.debt_equity').mouseout(function () {
                            $(".debt_equity_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".fcf_margin").hover(function () {
                                $(".fcf_margin_tooltip .tooltiptext").html(ranking[0][5].toFixed(0))
                                $(".fcf_margin_tooltip .tooltiptext").css("visibility",'visible')
                                $(".fcf_margin_tooltip .tooltiptext").css("margin-left",$(".fcf_margin").width()-20+'px') 
                            });
                            $('.fcf_margin').mouseout(function () {
                            $(".fcf_margin_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".beta").hover(function () {
                                $(".beta_tooltip .tooltiptext").html(ranking[0][6].toFixed(0))
                                $(".beta_tooltip .tooltiptext").css("visibility",'visible')
                                $(".beta_tooltip .tooltiptext").css("margin-left",$(".beta").width()-20+'px') 
                            });
                            $('.beta').mouseout(function () {
                            $(".beta_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".eps_growth").hover(function () {
                                $(".eps_growth_tooltip .tooltiptext").html(ranking[0][7].toFixed(0))
                                $(".eps_growth_tooltip .tooltiptext").css("visibility",'visible')
                                $(".eps_growth_tooltip .tooltiptext").css("margin-left",$(".eps_growth").width()-20+'px') 
                            });
                            $('.eps_growth').mouseout(function () {
                            $(".eps_growth_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".sales_growth").hover(function () {
                                $(".sales_growth_tooltip .tooltiptext").html(ranking[0][8].toFixed(0))
                                $(".sales_growth_tooltip .tooltiptext").css("visibility",'visible')
                                $(".sales_growth_tooltip .tooltiptext").css("margin-left",$(".sales_growth").width()-20+'px') 
                            });
                            $('.sales_growth').mouseout(function () {
                            $(".sales_growth_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".sales_qoq").hover(function () {
                                $(".sales_qoq_tooltip .tooltiptext").html(ranking[0][9].toFixed(0))
                                $(".sales_qoq_tooltip .tooltiptext").css("visibility",'visible')
                                $(".sales_qoq_tooltip .tooltiptext").css("margin-left",$(".sales_qoq").width()-20+'px') 
                            });
                            $('.sales_qoq').mouseout(function () {
                            $(".sales_qoq_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".price_vs_ema20").hover(function () {
                                $(".price_vs_ema20_tooltip .tooltiptext").html(ranking[0][10].toFixed(0))
                                $(".price_vs_ema20_tooltip .tooltiptext").css("visibility",'visible')
                                $(".price_vs_ema20_tooltip .tooltiptext").css("margin-left",$(".price_vs_ema20").width()-20+'px') 
                            });
                            $('.price_vs_ema20').mouseout(function () {
                            $(".price_vs_ema20_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".price_vs_ema50").hover(function () {
                                $(".price_vs_ema50_tooltip .tooltiptext").html(ranking[0][11].toFixed(0))
                                $(".price_vs_ema50_tooltip .tooltiptext").css("visibility",'visible')
                                $(".price_vs_ema50_tooltip .tooltiptext").css("margin-left",$(".price_vs_ema50").width()-20+'px') 
                            });
                            $('.price_vs_ema50').mouseout(function () {
                            $(".price_vs_ema50_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".price_vs_ema200").hover(function () {
                                $(".price_vs_ema200_tooltip .tooltiptext").html(ranking[0][12].toFixed(0))
                                $(".price_vs_ema200_tooltip .tooltiptext").css("visibility",'visible')
                                $(".price_vs_ema200_tooltip .tooltiptext").css("margin-left",$(".price_vs_ema200").width()-20+'px') 
                            });
                            $('.price_vs_ema200').mouseout(function () {
                            $(".price_vs_ema200_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".rsi").hover(function () {
                                $(".rsi_tooltip .tooltiptext").html(ranking[0][13].toFixed(0))
                                $(".rsi_tooltip .tooltiptext").css("visibility",'visible')
                                $(".rsi_tooltip .tooltiptext").css("margin-left",$(".rsi").width()-20+'px') 
                            });
                            $('.rsi').mouseout(function () {
                            $(".rsi_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            $(".ema50_vs_ema200").hover(function () {
                                $(".ema50_vs_ema200_tooltip .tooltiptext").html(ranking[0][14].toFixed(0))
                                $(".ema50_vs_ema200_tooltip .tooltiptext").css("visibility",'visible')
                                $(".ema50_vs_ema200_tooltip .tooltiptext").css("margin-left",$(".ema50_vs_ema200").width()-20+'px') 
                            });
                            $('.ema50_vs_ema200').mouseout(function () {
                            $(".ema50_vs_ema200_tooltip .tooltiptext").css("visibility",'hidden')     
                            });
                            
                            $(".price_vs_52").hover(function () {
                                $(".price_vs_52_tooltip .tooltiptext").html(ranking[0][15].toFixed(0))
                                $(".price_vs_52_tooltip .tooltiptext").css("visibility",'visible')
                                $(".price_vs_52_tooltip .tooltiptext").css("margin-left",$(".price_vs_52").width()-20+'px') 
                            });

                            $('.price_vs_52').mouseout(function () {
                            $(".price_vs_52_tooltip .tooltiptext").css("visibility",'hidden')     
                            });

                            $("#solid_gauge").hover(function () {
                                $(".solid_gauge .tooltiptext").css("visibility",'hidden')    
                            
                                
                            });
                            $(".stock_rating").hover(function () {
                                $(".solid_gauge .tooltiptext").css("visibility",'hidden')    
                            
                                
                            });
                            $('#solid_gauge').mouseout(function () {
                                $(".solid_gauge .tooltiptext").html(ranking[0][19].toFixed(1))
                                
                                $(".solid_gauge .tooltiptext").css("visibility",'visible')
                                $(".solid_gauge .tooltiptext").css("margin-left",'50px') 
                                $(".solid_gauge .tooltiptext").css("margin-top",'20px') 
                                
                            
                            
                            });


                                $(".quality_ranking").hover(function () {
                                $(".quality_ranking_tooltip .tooltiptext1").html(ranking[0][16].toFixed(1))
                                $(".quality_ranking_tooltip .tooltiptext1").css("visibility",'visible')
                                $(".quality_ranking_tooltip .tooltiptext1").css("margin-left",$(".quality_ranking").width()-20+'px') 
                                
                            });
                            $(".growth_ranking").hover(function () {                             
                                $(".growth_ranking_tooltip .tooltiptext1").html(ranking[0][17].toFixed(1))
                                $(".growth_ranking_tooltip .tooltiptext1").css("visibility",'visible')
                                $(".growth_ranking_tooltip .tooltiptext1").css("margin-left",$(".growth_ranking").width()-20+'px')   
                            });
                            $(".technical_ranking").hover(function () { 
                                $(".technical_ranking_tooltip .tooltiptext1").html(ranking[0][18].toFixed(1))
                                $(".technical_ranking_tooltip .tooltiptext1").css("visibility",'visible')
                                $(".technical_ranking_tooltip .tooltiptext1").css("margin-left",$(".technical_ranking").width()-20+'px')  
                            });
                            $('.quality_ranking').mouseout(function () {
                            $(".quality_ranking_tooltip .tooltiptext1").css("visibility",'hidden')     
                            });
                            $('.growth_ranking').mouseout(function () {
                            $(".growth_ranking_tooltip .tooltiptext1").css("visibility",'hidden')     
                            });
                            $('.technical_ranking').mouseout(function () {
                            $(".technical_ranking_tooltip .tooltiptext1").css("visibility",'hidden')     
                            });
                    if(ranking[0][20]>0)
                    $('.current_price h5').css('color','#5BF73E')
                    else
                    $('.current_price h5').css('color','red')
                
                    if(ranking[0][21]>0){
                        
                    $('.netchange').html('<h5>{{symbol|safe}} '+ranking[0][21].toLocaleString('hi-IN', { maximumFractionDigits: 1})+' ('+(ranking[0][22]*100).toFixed(1)+'%) <i class="fa fa-arrow-up" aria-hidden="true" ></i></h5>')
                    $('.netchange h5').css('color','#5BF73E')
                    }
                    
                    else{
                    
                    $('.netchange').html('<h5>{{symbol|safe}} '+ranking[0][21].toLocaleString('hi-IN', { maximumFractionDigits: 1})+' ('+(ranking[0][22]*100).toFixed(1)+'%) <i class="fa fa-arrow-down" aria-hidden="true"></i></h5>')

                    $('.netchange h5').css('color','red')

                    }
                
                var score=ranking[0][19]*20
                


                    $('#solid_gauge').highcharts({
chart: {
    type: 'solidgauge',
    backgroundColor:'#1A0C4B',
    height:50,
    width:120,
    margin: 0,
        padding: 0,
        spacing: [0, 0, 0, 0]
},
title:{
text:null
},
credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                enabled:false
                                },
                                
                            }
                        },
yAxis: {
    min: 1,
    max: 100,
    lineWidth: 0,
        minorTickInterval: null,
        
        tickWidth: 0,
    stops: [
    [0.1, '#F5FA00'], // green
    [0.5, '#9ECE26'], // yellow
    [0.9, '#55BF3B'] // red
    ],
    labels:{
    enabled:false
    }
},
tooltip:{
enabled:false
},
plotOptions: {
        solidgauge: {
            dataLabels: {
                enabled:false
            },
        
        },
        
        
    
    },
pane: {
    size: '200%',
    center: ['50%', '100%'],
        startAngle: -90,
        endAngle: 90,
    background: {
    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#ccc',
    innerRadius: '60%',
    outerRadius: '100%',
    shape: 'arc'
    }
},
series: [{
    name: null,
    data: [score],
    
},
]
}, function(chart) {
var y = this.series[0].data[0].y;
for (var i = y; i >= 0; i = i - 1) {
    chart.addSeries({
    data: [i],
    stickyTracking: false,
    enableMouseTracking: false
    }, false)
}
chart.redraw();
});
}


            $("#allb").show()
            $("#ma20b").hide()
            $("#ma50b").hide()
            $("#ma100b").hide()
            $("#all").css('background-color','#17A2B8')
            $("#all").css('color','white')


        

            $("#all").click(function (){
            $("#allb").show()
            $("#ma20b").hide()
            $("#ma50b").hide()
            $("#ma100b").hide()
            
            })        
    $("#ma20").click(function (){
        
        $("#allb").hide()
        $("#ma20b").show()
        $("#ma50b").hide()
        $("#ma100b").hide()
        $("#all").css('background-color','white')
            $("#all").css('color','#17A2B8')

    } ) 
    
    $("#ma50").click(function (){
        
        $("#allb").hide()
        $("#ma50b").show()
        $("#ma20b").hide()
        $("#ma100b").hide()
        $("#all").css('background-color','white')
            $("#all").css('color','#17A2B8')

        
    } ) 
    $("#ma100").click(function (){
        
        $("#allb").hide()
        $("#ma100b").show()
        $("#ma50b").hide()
        $("#ma20b").hide()
        $("#all").css('background-color','white')
            $("#all").css('color','#17A2B8')

    
    } ) 
    $("#MA20").show()
            $("#MA50").hide()
            $("#ma20_btn").css('background-color','#3BB001')
            $("#ma20_btn").css('color','white')

    $("#ma20_btn").click(function (){
        
        $("#MA20").show()
        $("#MA50").hide()
        
    } ) 
    $("#ma50_btn").click(function (){
        
        $("#MA20").hide()
        $("#MA50").show()
        $("#ma20_btn").css('background-color','white')
            $("#ma20_btn").css('color','#3BB001')
        
    
    } ) 
    
                
            
                var  graph_data={{output_df|safe}}
               
                for(i=0;i<graph_data.length;i++)
                {
                    for(j=0;j<graph_data[i]['data'].length;j++){
                        var temp=graph_data[i]['data'][j][0]
                        var date = new Date(temp)
                        var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        graph_data[i]['data'][j][0]=now_utc;
                    }
                } 
                var prices={{prices|safe}}
            
                for(i=0;i<prices.length;i++)
                {
                    
                        var temp=prices[i][0]
                        var date = new Date(temp)
                        var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        prices[i][0]=now_utc;
                    
                } 
                MA20=[graph_data[0],graph_data[1]]
                MA50=[graph_data[0],graph_data[2]]
                MA100=[graph_data[0],graph_data[3]]

                var  ma20_ma50_data={{output_pricevsDMA|safe}}
                    
                    for(i=0;i<ma20_ma50_data.length;i++)
                    {
                        for(j=0;j<ma20_ma50_data[i]['data'].length;j++){
                            var temp=ma20_ma50_data[i]['data'][j][0]
                            var date = new Date(temp)
                            var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                            ma20_ma50_data[i]['data'][j][0]=now_utc;
                        }
                    } 
                    _MA20=[ma20_ma50_data[0],ma20_ma50_data[1]]
                _MA50=[ma20_ma50_data[0],ma20_ma50_data[2]]
                all_charts2('MA20',_MA20)
                all_charts2('MA50',_MA50)
                function  all_charts2(gname,data){
                        Highcharts.chart(gname, {
                            chart: {
                                type: 'line',
                                backgroundColor:"transparent",
                                
                                
                            },
                            title: {
                                    text: null,
                                    
                                },
                                credits: {
                                            enabled: false
                                        },
                                        exporting: {
                                            buttons: {
                                                contextButton: {
                                                enabled:false
                                                },
                                                
                                            }
                                        },
                            xAxis: {
                                type: 'datetime',
                                dateTimeLabelFormats: { // don't display the dummy year
                                    day:'%e-%b-%y',
                                    week:'%e-%b-%y',
                                    month: '%b-%y',
                                    year: '%Y'
                            
                                },
                                labels:{
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                tickLength: 6,  
                                tickWidth: 1,
                                
                                startOnTick:false,
                            },
                            yAxis: {
                                gridLineWidth:0,
                                lineWidth:1,
                                tickLength: 6,  
                                tickWidth: 1,
                                labels:{
                                    formatter: function(){
                                        if('{{symbol|safe}}'=='$')
                                            flag='en-US'
                                        else
                                        flag='hi-IN'

                                    return (this.value).toLocaleString(flag, { maximumFractionDigits: 0});
                                    // return  (this.value).toFixed(0);
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                title:{
                                    text:null,
                                    
                                },
                                plotLines: [{
                                    color: '#F2F2F2',
                                    width: 2,
                                    value: 0
                                }]
                            },
                                tooltip: {
                                    formatter: function() {
                                        



                                            if('{{symbol|safe}}'=='$')
                                                    flag='en-US'
                                                    else
                                                        flag='hi-IN'
                                        if(this.series.name=='Price'){
                                            return  "Date : "  +'<b>'+
                                            Highcharts.dateFormat('%d-%b-%Y',
                                                                new Date(this.x))+'<br></b>'
                                        +this.series.name+" : "+'<b>{{symbol|safe}}'+ (this.point.y) .toLocaleString(flag, {maximumFractionDigits: 0})

+ '</b>';
                                        }
                                        else{
                                            return  "Date : "  +'<b>'+
                                            Highcharts.dateFormat('%d-%b-%Y',
                                                                new Date(this.x))+'<br></b>'
                                        +this.series.name+" : "+'<b>'+ (this.point.y) .toLocaleString(flag, {maximumFractionDigits: 0})

+ '</b>';
                                        }
                                        
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },                                              
                            plotOptions: {
                                series: {
                                    marker: {
                                        enabled: false,
                                        symbol:"circle"
                                        }
                                }
                            },
                            legend:
                            {
                                itemStyle: {
                                        color: '#031B4E',
                                        
                                        fontSize:'13px'
                                    
                                    },
                            },
                            series:data,

                        });
            }
                
                
                all_charts('allb',graph_data)
                all_charts('ma20b',MA20)
                all_charts('ma50b',MA50)
                all_charts('ma100b',MA100)
            
                Highcharts.chart('price', {
                            chart: {
                                type: 'area',
                                backgroundColor:"transparent",
                                zoomType:'x',
                                height:300
                            },
                            title: {
                                    text:null,
                                    
                                },
                                credits: {
                                            enabled: false
                                        },
                                        exporting: {
                                            buttons: {
                                                contextButton: {
                                                enabled:false
                                                },
                                                
                                            }
                                        },
                            xAxis: {
                                type: 'datetime',
                                dateTimeLabelFormats: { // don't display the dummy year
                                    day:'%e-%b-%y',
                                    week:'%e-%b-%y',
                                    month: '%b-%y',
                                    year: '%Y'
                            
                                },
                                labels:{
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                tickLength: 6,  
                                tickWidth: 1,
                                
                                startOnTick:false,
                        endOnTick: false,   

                            },
                            yAxis: {
                                gridLineWidth:0,
                                lineWidth:1,
                                tickLength: 6,  
                                tickWidth: 1,
                                labels:{
                                    formatter: function(){
                                        if('{{symbol|safe}}'=='$')
                                            flag='en-US'
                                        else
                                        flag='hi-IN'

                                    return  '{{symbol|safe}}'+(this.value).toLocaleString(flag, { maximumFractionDigits: 0});
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                title:{
                                    text:"Price",
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                plotLines: [{
                                    color: '#F2F2F2',
                                    width: 2,
                                    value: 0
                                }]
                            },
                                tooltip: {
                                    formatter: function() {
                                        return  "Date : "  +'<b>'+
                                            Highcharts.dateFormat('%d-%b-%Y',
                                                                new Date(this.x))+'<br></b>'
                                        +this.series.name+" : "+'<b>{{symbol|safe}}'+ (this.point.y).toFixed(0)+ '</b>';
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px',
                                        fontWeight: 'normal'
                                    },
                                },                                              
                            plotOptions: {
                                series: {
                                    marker: {
                                        enabled: false,
                                        symbol:"circle"
                                        }
                                }
                            },
                            legend:
                            {
                                enabled:false,
                                
                            },
                            
                            series: [{
                                name: 'Price',
                                data:prices,
                                lineWidth: 2,
                                lineColor: 'rgba(58, 204, 188, 1)',
                                marker: {
                                lineWidth: 1,
                                lineColor: 'rgba(58, 204, 188, 1)',
                                fillColor: 'rgba(58, 204, 188, 1)'
                                },
                                fillColor: {
                                    linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                    stops: [
                                        [0, 'rgba(58, 204, 188, 1)'],
                                        [1, 'rgba(255,255,255,.25)']
                                    ]
                                },
                            }]
                        
                        });
                
                
                function  all_charts(gname,data){
            
                    
                        Highcharts.chart(gname, {
                            chart: {
                                type: 'line',
                                backgroundColor:"transparent",
                                zoomType:'x',
                                height:300
                                
                                
                                
                            },
                            title: {
                                    text:null,
                                    
                                },
                                credits: {
                                            enabled: false
                                        },
                                        exporting: {
                                            buttons: {
                                                contextButton: {
                                                enabled:false
                                                },
                                                
                                            }
                                        },
                            xAxis: {
                                type: 'datetime',
                                dateTimeLabelFormats: { // don't display the dummy year
                                    day:'%e-%b-%y',
                                    week:'%e-%b-%y',
                                    month: '%b-%y',
                                    year: '%Y'
                            
                                },
                                labels:{
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'normal'
                                    },
                                },
                                tickLength: 6,  
                                tickWidth: 1,
                                
                                startOnTick:false,
                        endOnTick: false,   

                            },
                            yAxis: {
                                gridLineWidth:0,
                                lineWidth:1,
                                tickLength: 6,  
                                tickWidth: 1,
                                labels:{
                                    formatter: function(){
                                    return  (this.value*100).toFixed(0)+'%';
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'normal'
                                    },
                                },
                                title:{
                                    text:"Return",
                                    style: {
                                        color: '#031b4e',
                                        font: '13px  ',
                                        fontWeight: 'normal'
                                    },
                                },
                                plotLines: [{
                                    color: '#F2F2F2',
                                    width: 2,
                                    value: 0
                                }]
                            },
                                
                                tooltip: {
                    formatter: function() {
                        var s = ["Date : "  +'<b>'+
                                            Highcharts.dateFormat('%d-%b-%Y',
                                                                new Date(this.x))];
                        
                        $.each(this.points, function(i, point) {
                        
                            s.push( point.series.name +' : <b>'+
                                parseFloat(point.y*100).toFixed(1)
                                    +'%</b><br>');
                        
                        });
                        
                        
                        return s.join('<br>');
                    },
                    shared: true
                },                                            
                            plotOptions: {
                                series: {
                                    marker: {
                                        enabled: false,
                                        symbol:"circle"
                                        }
                                }
                            },
                            legend:
                            {
                                enabled:true,
                                itemStyle: {
                                        color: '#031B4E',
                                        
                                        fontSize:'13px'
                                    
                                    },
                            },
                            
                            series:data,
                        
                        });
                
                }
                
 
        function create_table(tbody_id,input_data)
        {
            var tabledata = new Array();
            for(i=0;i<input_data.length;i++)
            { 
                tabledata.push(input_data[i])
            }  

            // Retrieve the tbody element from the table to add the data 
            var table = document.getElementById(tbody_id);
            //Get the count of columns.
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            //Add the data rows.
            for (var i = 0; i < tabledata.length; i++)
            {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++)
                {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            
            }
        }
           
            function graph(positive_data,negative_data)
            {
        
            Highcharts.chart('container', {
                chart: {
                    type: 'column',
                    height:280,
                    backgroundColor:"transparent",

                },
                title: {
                    text: ''
                },
                credits: {
                enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                        enabled:false
                        },
                    }
                },
        
                legend: {
                    enabled:true
                },
                xAxis: {
                    categories: ['{{stockName|safe}}'],
                    labels:{
                        style: {
                            color: '#031b4e',
                            font: '13px  ',
                            fontWeight: 'normal'
                        },
                    },
                    
                },
                yAxis: {
                gridLineWidth:0,
                lineWidth:1,
                tickLength: 6,  
                tickWidth: 1,
                
                title: {
                    text: 'Sentiment Score',
                    style: {
                        color: '#031b4e',
                        font: '13px  ',
                        fontWeight: 'normal'
                    },
                },
                labels:{
                    formatter: function(){
                        return  (this.value)+"%";
                        },
                    style: {
                        color: '#031b4e',
                        font: '13px  ',
                        fontWeight: 'normal'
                    },
                },
            },
            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: true,
                        formatter: function(){
                        return  (this.y)+"%";
                        },
                        
                    },
                    enableMouseTracking: false
                }
            },
                series: [{
                    name: 'Avg Positive Polarity',
                    data:[positive_data],
                    color:'#64E572'
                }, {
                    name: 'Avg Negative Polarity',
                    data: [negative_data],
                    color:'red'
                    
                    
                }]
            });
        }
        
        
        
$('table tr td').each(function() {
        if($(this).text()==="%" || $(this).text()==="" ||$(this).text()==='{{symbol|safe}}')
        {

            $(this).text('N/A')
            

        }

        if($(this).text().startsWith('{{symbol|safe}}'))
        {
            if('{{symbol|safe}}'=='$')
            num='{{symbol|safe}}'+(parseFloat($(this).text().substr(1)).toLocaleString('en-US'))
            else
            num='{{symbol|safe}}'+(parseFloat($(this).text().substr(1)).toLocaleString('hi-IN'))

            $(this).text(num)
        }
        
})
            
$('.key_info_table tr  strong').each(function() {

        if(($(this).text()).includes('None'))
        {

            $(this).text(': ')
            

        }

        
        
})

document.addEventListener("DOMContentLoaded", function(event) { 


var acc = document.getElementsByClassName("accordion");
var panel = document.getElementsByClassName('panel');

for (var i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
        var setClasses = !this.classList.contains('active');
        setClass(acc, 'active', 'remove');
        setClass(panel, 'show', 'remove');

        if (setClasses) {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
}

function setClass(els, className, fnName) {
    for (var i = 0; i < els.length; i++) {
        els[i].classList[fnName](className);
    }
}

});

$("body").css({visibility:'visible'});
        </script>
    </body>
    <script src="{% static 'js/table_sort.js' %}"></script>

</html>
{% endblock %}