{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/SubscriptionExpired.css' %}?v=1.2">
    <title>Subscription Expired - 72PI</title>
 
  </head>
  <body>
    <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="card col-lg-7" style="margin:60px auto">
                <div class="card-header">
                    {% if expirytime %}
                    <h2>Your Current Subscription has expired on {{expirytime|date:"d-m-Y"}}</h2>
                    {% else %}
                    <h2>Your Current Subscription has been expired</h2>
                    {% endif %}
                    <hr>
                </div>
                <div class="card-body pd-t-0">
                  <p class="tx-18">Your Current Subscription has now ended. We hope you enjoyed it. </p>
                    <p class="tx-18">To keep enjoying our services, we kindly ask you to subscribe for any plan below.</p>
                    <div class="mg-t-30">
                      
                    <a href="{% url 'pricingDetails' %}" class="btns renew-btn">Get Subscription</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
<script>
   $("body").css({visibility:'visible'});
</script>
  </body>
</html>
{% endblock %}