{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/SubscriptionSuccess.css' %}?v=1.2">

 
  </head>
  <body>
    <div class="col-lg-12 pricing-page-div" style="padding:65px 15px 0px 15px">
			<div class="row">
        <div class="col-lg-12 section-1">
          <div class="container">
            <h1>Congratulations, Your Subscription has been activated</h1>
            <p>Ends on: {{end_subscription}} </p>

          </div>
        </div>
        <div class="col-lg-12 section-2 pd-t-30 pd-b-30">
          <div class="container">
            <h1><label>Premium Subscription Plans</label></h1>
            <main class="pricing__features">
              
              <div class="pricing__plan__toggler">
              
                <input type="radio" name="duration" value="quartely" id="quartely" checked />
                <label for="quartely" class="tx-18">Quarterly</label>
                <input type="radio" name="duration" value="annually" id="annually" />
                <label for="annually" class="tx-18">Annually</label>
                
              </div>
              <div class="pricing__plan mg-t-20" >
               
                <div class="pricing__plan__card mg-r-0 mg-sm-r-0  mg-lg-r-80 parent gold_div">
                  <div class="sub_div"></div>
                  <h3 class="mg-b-10">Gold</h3>
                  <p class="mg-b-5 tx-18 sample-p"><del class="deleted"></del>&nbsp;&nbsp;<span class="price"></span></p>
                  <a href="{% url 'customerINRSubscription' %}" class="subscribe primary-btn text-uppercase mg-t-10">SUBSCRIBE</a>
                  <hr>
                  <div class="row">
                    <div class="col-lg-6"  style="border-right:1px solid rgba(0, 0, 0, 0.1)">
                      <h4 class="text-left">Signals</h4>
                      <ul class="benefits mg-t-10">
                        <li class="gold content">Market</li>
                        <li  class="gold content">72PI Portfolio</li>
                        <li  class="nogold content">Performance</li>
                        <li class="gold content">Futures&Options</li>
                        <li  class="nogold content">Quant</li>
                        <li  class="nogold content">Portfolios</li>
                        <li  class="gold content">Wizard</li>
                        <li  class="gold content">Reports</li>
                        <li  class="gold content">Insights</li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="text-left">Portfolio Analytics</h4>
                  <ul class="benefits mg-t-10">
                    <li  class="gold content">72PI Chatbot</li>
                    <li  class="gold content">Portfolio Creator by selecting stocks</li>
                    <li  class="gold content">Portfolio Creator by using Filters</li>
                    <li  class="gold content">Analyzer</li>
                    <li  class="nogold content">Optimization</li>
                  </ul>
                    </div>
                  </div>
                </div>
                <div class="pricing__plan__card  parent diamond_div">
                  <div class="sub_div"></div>
                    <h3 class="mg-b-10">Diamond</h3>
                            <p class="mg-b-5 tx-18 sample-p"><del class="deleted"></del>&nbsp;&nbsp; <span class="price"></span></p>
                            <a href="{% url 'customerUSDSubscription' %}" class="subscribe primary-btn text-uppercase mg-t-10">SUBSCRIBE </a>
                            <hr>
                            <div class="row">
                              <div class="col-lg-6" style="border-right:1px solid rgba(0, 0, 0, 0.1)">
                                <h4 class="text-left">Signals</h4>
                                <ul class="benefits mg-t-10">
                                  <li class="gold content">Market</li>
                                  <li  class="gold content">72PI Portfolio</li>
                                  <li  class="gold content">Performance</li>
                                  <li class="gold content">Futures&Options</li>
                                  <li  class="gold content">Quant</li>
                                  <li  class="gold content">Portfolios</li>
                                  <li  class="gold content">Wizard</li>
                                  <li  class="gold content">Reports</li>
                                  <li  class="gold content">Insights</li>
                                </ul>
                              </div>
                              <div class="col-lg-6">
                                <h4 class="text-left">Portfolio Analytics</h4>
                                <ul class="benefits mg-t-10">
                                  <li  class="gold content">72PI Chatbot</li>
                                  <li  class="gold content">Portfolio Creator by selecting stocks</li>
                                  <li  class="gold content">Portfolio Creator by using Filters</li>
                                  <li  class="gold content">Analyzer</li>
                                  <li  class="gold content">Optimization</li>
                                </ul>
                              </div>
                            </div>
                            
                            
                </div>
              </div>
            </main>
            </div>  
        </div>
        <div class="col-lg-12 section-3 ">
          <div class="container">
            <h2 class="mg-b-30"><label>Frequently Asked Questions</label></h2>
            <p class="accordion"><b> Who is eligible for 2-week free trail period?</b></p>
            <div class="panel">
              <p>The 2-week free trial is intended for new users/subscribers to trial our website and application. </p>
              </div>
              <p class="accordion"><b>How does the 2-week free trial work? </b></p>
              <div class="panel">
                <p>If you cancel during the 2-week free trial period, we will not charge you anything. Once the trial is over, your access to the Website will be denied unless you subscribe to the service. You will be billed for the coming period (quarterly or annual). </p>

              </div>
              <p class="accordion"><b>Is there a set up fee? </b></p>
              <div class="panel">
                <p>We charge no setup fees. We bill at the beginning of each period (quarter or annual) and, if you cancel, you'll have access till the end of your paid billing period. We don't provide refunds.</p>

              </div>
              <p class="accordion"><b>Are there any discounts for paying annually? </b></p>
              <div class="panel">
                <p>Yes, from a monthly rate the annual subscription price gives two months free. Therefore, in effect you are paying for 10 months and get 2 months free.</p>

              </div>
              <p class="accordion"><b> Can I change my Price Plan?</b></p>
              <div class="panel">
                <p>Yes, you can upgrade to Diamond from a Gold plan (or to an annual from a quarterly plan) at any time. The existing plan is pro-rated till the date of upgradation, and the user can pay for the difference to upgrade. If you downgrade from eg. annual to quarterly, the plan will change at the end of your current subscription period.

              </div>
              <p class="accordion"><b>What types of payment do you accept? </b></p>
              <div class="panel">
                <p>We currently accept payment through RazorPay payment gateway, an established payment gateway vendor in India, which accepts internet banking or debit or credit cards and other modes of payment. All payments through RazorPay are processed via SSL with enterprise class security built-in. </p>

              </div>
              <p class="accordion"><b> What browsers do you support?</b></p>
              <div class="panel">
                <p>We currently support Chrome 4+, Internet Explorer 8+, Firefox 3 and higher, Safari 4+, and Chrome 4+. We recommend a computer with at least 2GB RAM for the best performance.</p>

              </div>
          
            
          </div>
        </div>
			</div>
    </div>
    <div id="licontent" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <h3 class="modal-title"></h3>
        <div class="modal-body" >
        </div>
        <div class="modal-footer">
        <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
        </div>
      </div>
      </div>
  </div>
  {% if user.is_authenticated %}
    <script>
      if ('{{subscription|capfirst}}' == 'Diamond') {
        $('.diamond_div .sub_div').append('<h5 class="ribbon"> Current Plan</h5> ');
        $('.diamond_div').css("border","2px solid #663399");


      }
      else if ('{{subscription|capfirst}}' == 'Gold') {
        $('.gold_div .sub_div').append('<h5 class="ribbon"> Current Plan</h5> ');
        $('.gold_div').css("border","2px solid #663399");

        $('.diamond_div .sub_div').append('<h5 class="ribbon2">Recommended </h5> ')
      }
      
    </script>
      {% else %}
      <script>
        $('.diamond_div .sub_div').append('<h5 class="ribbon2">Recommended </h5> ')

      </script>
      {% endif %}
      <script>
          $(".signal1").height((($(".signal2").height()-0)+'px'));
          $(".analytic1").height((($(".analytic2").height()-0)+'px'));

 
      $('.pricingtable td:nth-child(1)').each(function () {
        $(this).addClass('content')
      })
      $(document).on("click", ".content", function () {
    
          if (this.innerText == "Market") {

            text = `Subscribers are provided with a snapshot of the equity market conditions and associated
                    macro-economic information in India. Three key 72PI Points are published to keep subscribers up to date
                    on the latest trends in the market. Macroeconomic data, equity market indices performance and sector
                    indices performance are updated every day to provide user with a glimpse into the current economy and
                    stock market.`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");
          }

          if (this.innerText == "72PI Portfolio") {
            text = `72PI will look into fundamental, quantitative, technical and situational analyses to determine the
            best stocks from the BSE 500 companies to invest in. Subscribers can expect to receive 2-3 trading ideas
            every week, about 8-10 per month. Each trading idea will have a purchase price range and a target price
            range to ensure that the subscribers can enter when on the lower end of the purchase price and exit on the
            upper end of the target range. The time frame for each trading idea will be specified and will generally
            be between 3-6 months.`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

          }
          if (this.innerText == "Futures&Options") {
            text = `Using an in-house proprietary model, a list of companies and their corresponding ‘high probability
            price range’ for near term (typically one month) will be provided to subscribers. This list and the price
            ranges will be update weekly. For short term trading, subscribers can consider to SELL at top end of range
            and BUY at bottom end of range. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Quant") {
            text =
            ` Artificial Intelligence / Machine Learning techniques are used to predict 2 to 4 months relative
            performance of
            sectors and companies. Historical data from the last 5 years is used to train the model. The model’s
            predictions
            predominantly capture the relative momentum of Sectors and specific stocks within each Sector. Each sector
            and the
            companies within each sector fall into one of the following categories: Underweight, Neutral or Overweight.
            These
            AI / ML signals can be used along with other signals to identify investment opportunities in a sector and
            stock.`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Portfolios") {
            text =
            `72PI provides subscribers with model portfolios which includes a list of companies that are handpicked
            based on
            risk appetite and investment preference.`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Wizard") {
            text = `The BSE 500 companies are put through fundamental, technical and the AL/ML filters to identify 20-30
            interesting investment opportunities based on current market conditions. Subscribers can alter the
            fundamental, technical and the AL/ML filters to their desire by customizing the filters. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Reports") {
            text = `The 72PI research team provides custom research for its subscribers on a select list of companies to
            provide curated information about their business and company valuation. This research can be used to
            understand certain companies at a more granular level.`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Insights") {
            text = `72PI team will curate market news into a structured content for easy digestion and understanding of
            markets`
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

          }

            if (this.innerText == "72PI Chatbot") {
            text =
            ` A conversational Artificial Intelligence based Chat-Bot for easy understanding of portfolio through an
            interactive Q&A format. Display data and charts based on queries of subscriber. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Portfolio Creator by selecting stocks") {
            text = `Create portfolio by selecting stocks by sector, and market capitalization. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
          if (this.innerText == "Portfolio Creator by using Filters") {
            text = `Create portfolio by selecting stocks using multiple factors as filters, including Sales, Sales
            Growth, PE
            multiple, EPS Growth, PB multiple, Beta, Volatility, Sector, Market capitalization, Dividend Yield, ROE and
            many
            other factor. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
            if (this.innerText == "Analyzer") {
            text = `Analyze your portfolios with 72PI for deep dive into the portfolio performance and understand the
            metrics
            driving overall return, including equal-weighted returns, returns by sector, risk / volatility of portfolio,
            comparison of price to analyst target prices for each stock, and an overall recommendations on portfolio
            construction. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

            }
           

         
            if (this.innerText == "Optimization") {
            text = `For a portfolio, run efficient frontier simulations based on historical or forecasted returns to
            understand expected portfolio returns and risk. To compare the portfolio weights of different optimization
            models.
            Helps in fine tuning the amount of investment for each position in your portfolio. Use Portfolio
            Optimization to
            help pick the right combination of weights to maximize the return or to balance the return risk ratio or to
            achieve the target return. `
            $('#licontent').modal('show');
            $('.modal-title').html('<label class="text-center">' + this.innerText + '</label>');
            $('.modal-body').html("<p>" + text + "</p>");

          }

        });


      
        document.addEventListener("DOMContentLoaded", function(event) { 
        
        
        var acc = document.getElementsByClassName("accordion");
        var panel = document.getElementsByClassName('panel');
        
        for (var i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                var setClasses = !this.classList.contains('active');
                setClass(acc, 'active', 'remove');
                setClass(panel, 'show', 'remove');
        
                if (setClasses) {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
        }
        
        function setClass(els, className, fnName) {
            for (var i = 0; i < els.length; i++) {
                els[i].classList[fnName](className);
            }
        }
        
        });


        //*********************
        const priceP = document.querySelectorAll(".price");
        const delpriceP = document.querySelectorAll(".deleted");
const radioButtons = Array.from(document.querySelectorAll("[name='duration']"));
const prices = {
  quartely: ["720","1,440"],
  annually: ["2,880","5,760"]
};
const deleted = {
  quartely: ["999","1,999"],
  annually: ["3,996","7,996"]
};
function displayPrice() {
  const checked = radioButtons.filter((radioBtn) => radioBtn.checked);
  const periodPrice = checked[0].value;
  priceP.forEach(
    (price, index) =>
      (price.textContent = `₹ ${prices[periodPrice][index]}`)
  );
  delpriceP.forEach(
    (price, index) =>
      (price.textContent = `₹ ${deleted[periodPrice][index]}`)
  );
}



radioButtons.forEach((radioBtn) => addEventListener("input", displayPrice));
displayPrice();
$("body").css({visibility:'visible'});

        </script>
  </body>
</html>
{% endblock %}




