{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/SubscriptionAccessDenied.css' %}?v=1.2">
    <title>Access Denied Page - 72PI</title> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
  </head>
  <body>
    <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="cards" style="margin:1px auto">
                <div class="card-header">
                    <h1 class="text-center">Access Denied!</h1>
                    <hr>
                    <p class="text-white tx-20 heading">
                      You do not have access to this page, Please subscribe to Premium account.
                    </p>
                </div>
                <div class="card-body">
                  <div class="text-center" style="margin:5px auto">
                    <p class="mg-b-10 text-white tx-16">For more details, please visit our pricing page</p>
                    <p class="mg-b-10 text-white tx-12">Terms and Conditions apply</p>
                    <div class="mg-t-20 btn-div">
                      <a target="_blank" href="{% url 'pricingDetails' %}" class="subscribe-btn text-uppercase mg-t-20 mg-r-60">Get Premium </a>
                      <a  href="#" class="cancel text-uppercase mg-t-20 " onclick=window.history.back()>Cancel </a>
                    </div>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>
 <script>
    $("body").css({visibility:'visible'});
 </script>
  </body>
</html>
{% endblock %}