{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/Subscription.css' %}?v=1.2">
  </head>
  <body>
    <div class="col-lg-12 section-gap">
			<div class="row">
        <div class="col-lg-8 section-1" style="margin:10px auto">
          <div class="container">
            <div class="cards">
              <div class="card-body row">
                <div class="col-sm-6 infodiv" >
                    <h3>Your Information</h3>
                    <div class="formdetails mg-t-20">
                      <form action="#" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                      <button class="btn Subscribe mg-t-30">Subscribe</button>
                      </form>
                      <div class="mg-t-20">
                        <p class="tx-12 text-white">By submitting this form, you confirm that you agree to our 
                          Terms of Service and consent to the storing and processing of your personal data as described in our Privacy Policy.</p>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6 plandiv">
                <div class="premiuminr3" style="display: none;">
                  <h3>Your Subscription</h3>
                  <div class="plandetails mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <h2>Premium Subscription</h2>
                    <h4>₹ 1,440/month</h4>
                    <div class="mg-t-20">
                      <ul class="mg-b-20">
                        <li  class="gold content">72PI Portfolio</li>
                        <li  class="gold content">Wizard</li>
                        <li  class="gold content">Portfolio Creator</li>
                        <li  class="gold content">X-Ray Your Portfolio</li>
                        <li  class="gold content">Optimizer</li>
                        <li  class="gold content">Advance Quant</li>
                        <li  class="gold content">Reports & Insights</li>
                      </ul>
                    </div>
                  </div>
                  <div class="paymentdiv mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <div class="">
                      <h4 class="text-muteds">Recurring Quarterly Cost</h4>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5>Premium Subscription</h5>
                          <h6><label class="text-muted tx-14">3 months</label></h6>
                        </div>
                        <div class="col-sm-4 text-right">
                          <label>₹ 4,320</label>
                        </div>
                      </div>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5  class="">Discount</h5>
                          <h6><label class="text-muted tx-14">Quarter Promotion</label></h6>
                        </div>
                        <div class="col-sm-4 text-right text-danger">
                          <label class="text-danger">- ₹ 332 </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="totalcostdiv mg-t-20">
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Effective Total</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ 3,988 </label>
                      </div>
                    </div>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>GST@18%</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label class="text-success">+ ₹ 717.84 </label>
                      </div>
                    </div>
                    <hr>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Premium Total</h5>
                        <!-- <h6><label class="text-muted tx-14">Quarter Promotion</label></h6> -->
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ 4,705.84 </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="premiuminr12" style="display: none;">
                  <h3>Your Subscription</h3>
                  <div class="plandetails mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <h2>Premium Subscription</h2>
                    <h4>₹ 1,440/month</h4>
                    <div class="mg-t-20">
                      <ul class="mg-b-20">
                        <li  class="gold content">72PI Portfolio</li>
                        <li  class="gold content">Wizard</li>
                        <li  class="gold content">Portfolio Creator</li>
                        <li  class="gold content">X-Ray Your Portfolio</li>
                        <li  class="gold content">Optimizer</li>
                        <li  class="gold content">Advance Quant</li>
                        <li  class="gold content">Reports & Insights</li>
                      </ul>
                    </div>
                  </div>
                  <div class="paymentdiv mg-t-20" style="border-bottom:1px solid #E5E5E5">
                    <div class="">
                      <h4 class="text-muteds">Recurring Annual Cost</h4>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5>Premium Subscription</h5>
                          <h6><label class="text-muted tx-14">12 months</label></h6>
                        </div>
                        <div class="col-sm-4 text-right">
                          <label>₹ 17,280</label>
                        </div>
                      </div>
                      <div class="row mg-t-10">
                        <div class="col-sm-8">
                          <h5  class="">Discount</h5>
                          <h6><label class="text-muted tx-14">Annual Promotion</label></h6>
                        </div>
                        <div class="col-sm-4 text-right text-danger">
                          <label class="text-danger">- ₹ 2,880 </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="totalcostdiv mg-t-20">
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Effective Total</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ 14,400 </label>
                      </div>
                    </div>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>GST@18%</h5>
                      </div>
                      <div class="col-sm-4 text-right">
                        <label class="text-success">+ ₹ 2,592 </label>
                      </div>
                    </div>
                    <hr>
                    <div class="row mg-t-10 ">
                      <div class="col-sm-8">
                        <h5>Premium Total</h5>
                        <!-- <h6><label class="text-muted tx-14">Quarter Promotion</label></h6> -->
                      </div>
                      <div class="col-sm-4 text-right">
                        <label>₹ 16,992.00 </label>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
  </body>
  <script>
      $(document).ready(function () {
        var plan = $("#id_subscription_type").val();
        if (plan == "premiuminr3"){
        $('.premiuminr3').show();
        $('.diamondplan12').hide();
        }
        else if (plan == "premiuminr12"){
        $('.premiuminr12').show();
        $('.diamondplan12').hide();
        }
      });
      $(document).on('change', '#id_subscription_type', function() {
        var plan = $(this).val();
        if (plan == "premiuminr3"){
        $('.premiuminr3').show();
        $('.premiuminr12').hide();
        }
        else if (plan == "premiuminr12"){
        $('.premiuminr3').hide();
        $('.premiuminr12').show();
        }
    });

    $("body").css({visibility:'visible'});
 
  </script>
</html>
{% endblock %}