{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
  <head>
    <title>Target Return Model - 72PI</title>  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="keywords" content="72piportfolioreview, portfolioreview, 72piportfolioallocation, portfolioallocation"/>
    <meta name="description" content="Target return model helps our subscribers in reviewing their portfolio allocation to achieve their target return" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/target_return_model.css' %}?v=1.2">
  </head>
  <body>
    <div class="se-pre-con"></div>
    <div class="row row-sm section-gap main" style="margin: 2% 0%;">
        <div class="col-sm-12 row page-title  mg-t-55">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Optimizer
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'target_return_model' %}" class="nav-sub-link">Target Return Model</a>
                </p>
            </div>
            <div class="row col-sm-6 justify-content-end">
                    <div class="description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                    
            </div>
        </div>
       
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="col-sm-12   main-sub-div2">
            <div class="row">
                <div class="col-sm-6">
                    <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                        <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                        <select id="globalPortfolio" class="form-controls mg-l-20">
                            {% for portfolio in portfolio_names %}
                            <option value='{{portfolio}}'>{{portfolio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
               
            </div>
        </div>
            <!-- graph section div -->
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center" ><label>Target Return Model</label></h4>
                    </div>
                    <div class="card-body">
                       <div class="row">
                            <div class="col-xl-5 dashboard-five-stacked-chart">
                                <div id="frontier-table">
                                    <table class="table table-hover st_table unselectable">
                                        <thead >
                                            <tr>
                                                <th>Stock</th>
                                                <th>Actual Weight</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                           

                            <div class="col-xl-7">
                                <div class="mg-b-20">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="select-dates mg-l-0 mg-b-0">
                                            <label for="range" class="label">Enter Target Return</label>
                                                <input type="range" name="target_return" min="0" max="100" step="1" value="20" > 
                                                <output for="range" name="target_return1" class="output"></output>
                                                <input type="text" id="target_ret" style="display:none;" >
                                                
                                            <button type="submit" class="compute" onclick="get_data()">Compute</button> 
                                        </div>
                                    </form>
                                </div>
                                <div style="display:none" class="show-div" >
                                    <div class="table-responsive">
                                    <table class="table table-hover unselectable" >
                                        <thead >
                                            <tr>
                                                <th>Actual Return</th>
                                                <th>Expected Return</th>
                                                <th>Standard Deviation</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody1">
                                            <tr>
                                                <td id="actual_return"></td>
                                                <td id="expected_return"></td>
                                                <td id="std"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <div class="text-right">
                                        <div class="alert-success mg-t-5 text-right" id="success-msg" style="z-index:1"></div>
                                         <!-- <form method="POST">  -->
                                        <button type="submit" id="save_new_portfolio" class="mg-b-10" onclick="backend_data()">Save selected portfolio</button>   
                                      <!-- </form>                                          -->
                                    </div>
                                    <div id="target-frontier-table" class="mg-t-0"> 
                                        <table class="table table-hover st_table unselectable">
                                            <thead >
                                                <tr>
                                                    <th>Stock</th>
                                                    <th>Weight</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody2">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>   
                            </div>
                       </div>
                       <div class="form-inline row" id="notes_div">
                        <h4 class="card-title  mg-b-0 mg-l-15">Notes</h4>
                        <div class="dashboard-notes-section tx-14 pd-l-10" id="notes-section" >
                        </div>
                      </div><!-- card-body -->                   
                </div><!-- card -->
            </div>
            <!-- Notes section div -->
                            
        </div><!--ROW ending-->
    </div>
    <a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
    <!-- Error Detection  Modal HTML -->
     <div id="portfolioNameModal" class="modal fade">
         <div class="modal-dialog">
             <div class="modal-content">
                     <div class="modal-header">						
                         <h4 class="modal-title">Name your portfolio</h4>
                        <p class="responsemsg"></p>
                     </div>
                     <div class="modal-body text-center" style="color:black">
                         <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
                         <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                     </div>
                     <div class="modal-footer text-center">
            <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                        <input type="button" class="btn btn-default  saveport" style="background-color:#5627D8;color:white"  value="Create">
                     </div>
             </div>
         </div>
     </div>
     <div id="description" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <h3 class="modal-title mg-t-10 text-center"><label>Target Return Model</label></h3>
          <div class="modal-body">
              <p>
                This is one of the portfolio optimization tools provided by 72pi. In Target return model, for a defined level of return, simulations are run to suggest a portfolio with appropriate weights (ie. Amount of investment by stock) with optimal level of risk. This portfolio can be saved into user portfolio, can be reevaluated using our analyzer tools.               </p>              <div class="modal-footer">
          <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
          </div>
        </div>
        </div>
    </div>
    </div>
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
            $("body").css({visibility:'visible'});
$(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $(document).ready(function()
        {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })  
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'target_return_model' %}?portfoliochanged-to="+portfolioName;
            return false;
        });

        var target_return, risk,save_data,flag=0;
         $("[name=target_return]").on("input", function() {
            $("[for=range]").val(this.value +"%" );
            document.getElementById('target_ret').value=this.value;
            }).trigger("input");

        output={{stock_weight|safe}}
        create_table('tbody',output)
        $('.se-pre-con').fadeOut(1);
        get_data()
        function get_data()
        {
         

            $('#save_new_portfolio').show();

            $('.se-pre-con').fadeIn(1);
            $.ajax({
                    url: "{% url 'target_return_model' %}",
                    type: 'post',
                    data: {'target_return': document.getElementById('target_ret').value},
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    success: function(json)
                    {
                        $('.se-pre-con').fadeOut(1);

                        $('.show-div').show();

                        if((json.graph_table_data).length>0)
                        {
                            document.getElementById('actual_return').innerHTML=(json.actual_return*100).toFixed(1)+"%"
                            document.getElementById('expected_return').innerHTML=(json.expected_return*100).toFixed(1)+"%"
                            document.getElementById('std').innerHTML=(json.std*100).toFixed(1)+"%"
                            
                            max_values_list=json.max_values_list
                            target_return=max_values_list[0][0]
                            risk=max_values_list[0][1]
                            save_data=json.save_data
                            text="We can achieve a target return of  "+(max_values_list[0][0]*100).toFixed(1)+"% with minimum standard deviation of "+(max_values_list[0][1]*100).toFixed(1)+"%."
                            document.getElementById('notes-section').innerHTML=text
                            if(flag==0){
                                backend_data_default(save_data)
                                flag=flag+1
                            }
                        
                            create_table('tbody2',json.graph_table_data,json.graph_data,Math.ceil(json.maximum))
                        }
                        else{
                            $('.show-div').html('No data found');
                        }
                       
                       
                    },
                    error: function(json)
                    {
                        console.log("error")
                    } 
                });
                event.preventDefault();
                
        }
        function create_table(tbody_id,input_data,graph_data,maximum)
        {
            $("#tbody2").empty();
         
            var tabledata = new Array();

            for(i=0;i<input_data.length;i++)
            {
                tabledata.push(input_data[i])
            }         
            
            var table = document.getElementById(tbody_id);
            
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            for (var i = 0; i < tabledata.length; i++)
            {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++)
                {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
                if(tbody_id=='tbody2')
                        {   
                    class_name=("graph"+i)
                
                    $(table).find('tr:eq(' + i+') td:last-child').addClass(class_name);
                    }
            }
            if(tbody_id=='tbody2')
            {
                $('.st_table tr td:nth-child(1)').each(function()
                            {
                                $(this).addClass('company')
                            })
                            $(document).on("click", ".company", function () {
                                var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
                                window.open(stockURL, '_blank');
                                return false; 
                                });
                class_name=("graph"+i)
                $(table).find('tr:eq(' + i+') td:last-child').addClass(class_name);
                
                for(i=1;i<=graph_data.length;i++)
                {
                    var $graph = $('.'+'graph'+i);
                    data_list=graph_data[i-1]
                    var chart = new Highcharts.Chart({
                        chart: {
                            renderTo: $graph[0],
                            height: 50,
                            width:400,
                            alignTicks: false,
                            marginRight:40,
                            backgroundColor:"transparent"
                        
                        },
                        credits: {
                                    enabled: false
                                },
                        exporting: {
                            buttons: {
                                contextButton: {
                                enabled:false
                                },
                            }
                        },
                        title: {
                            text: ''
                        },
                        xAxis: {
                        
                        categories: ['Actual','Model'],
                        lineColor: 'transparent',tickLength:0,
                        title: {
                            text: null
                        }
                        },
                        yAxis:{
                         
                            gridLineWidth:0,
                             max:maximum,
                             endOnTick:false,
                            title: {
                                    text: null
                                },
                            lineColor: 'transparent',tickLength:0,
                            labels:{
                                enabled: false,
                                format: '{value:.1f}'
                                },
                        },
                        tooltip: {
                            pointFormat: '',
                            headerFormat: "{point.x} : <b>{point.y:.1f}%</b>"
                        }, 
                        plotOptions: {
                            series: {
                                            animation: false
                                },
                            bar: { 
                                colors: ['#5B47FB', '#CBCBCB'],
                                colorByPoint:true,
                                
                                dataLabels: {
                                    enabled: true,
                                
                                    crop: false,
                                    overflow: "none",
                                    allowOverlap: true,
                                    formatter: function() {
                                                    return  (this.y).toFixed(1) + '%';
                                            },
                                            style: {
                                            textShadow: false 
                                        }

                                }
                            }
                        },
                        legend:{
                            enabled:false
                        }, 
                        series:data_list
                    });
                  
                }
            }
        }
        function backend_data() {
                $(".nameModal").click();
                $(".saveport").click(function () {
                    var portfolio = document.getElementById("portName").value;
                    if ((!portfolio || portfolio.length === 0 || /^\s*$/.test(portfolio))) {
                        event.preventDefault();
                        alert("Sorry, Portfolio name cannot be empty!")
                        return false;
                    }
                    else {
                        if (portfolio.length > 0) {
                            for (i = 0; i < save_data.length; i++) {
                                save_data[i][3] = risk
                                save_data[i][4] = target_return
                                save_data[i][5] = portfolio

                            }

                            ajax_call(save_data, 1)
                        }
                        else {
                            event.preventDefault();
                            return false;
                        }
                    }
                })
            }
        
     function ajax_call(save_data,flag)
     {
        $('.se-pre-con').fadeIn(1);
        $.ajax({
                url: "{% url 'opt_saved_portfolio_vol' %}",
                type: 'post',
                data: {'save_data': JSON.stringify(save_data)},
                dataType : 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function(json)
                {
                    $('.se-pre-con').fadeOut(1);
                    $('#save_new_portfolio').hide();

                    if(flag!=0){
                        $('.responsemsg').html(json.msg);
                        $('.responsemsg').css('color', 'green');

                        setTimeout(function () {
                            $(".closeport").click();

                        }, 2000);
                    }
                    
                    console.log("saved successfully")
                },
                error: function(json)
                {
                    console.log("error")
                } 
            });
            event.preventDefault();

     }
        function backend_data_default(save_data)
        {
            var portfolio = 'Target_Return_20_Portfolio'
            for(i=0;i<save_data.length;i++)
            {           
                save_data[i][3]=risk
                save_data[i][4]=target_return
                save_data[i][5]=portfolio
                
            } 
          
            ajax_call(save_data,0)

        }
    
    </script>
{% endblock %}