{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <style>
      body{
    
          visibility:visible;
      }
   
        table{
           border-collapse: collapse;width:100%;
          
        }
      
        table th:nth-child(1){
            width:42%;
        }
        table th:nth-child(2),table th:nth-child(3), table td:nth-child(2),table td:nth-child(3){
            width:29%;
            text-align:center; 
             border-left: solid 1px black; 
        }
        th{
            padding:5px;
        }
     
        td{
            padding:1px;
            white-space: nowrap;
            font-size:11px;
            }
        .table-div-child{
            width:100%;
            display:flex !important;
        }
        .table-div-child div{
            width:50%; 
        }
        table td:nth-child(2),table td:nth-child(3){
            background-color: #F5F5F5;
            
        }
        table td:nth-child(3){
        font-weight:500;
        }
        /* moving average table */
        .moving-average h4{
            /* background-color:#005C95; */
            background:linear-gradient(0deg, #44a0d6, #005C95 80%) no-repeat;

            color:white;
        }
       
        .moving-average table{
            border:2px solid #005C95;
        }
        .moving-average table th{
            background-color:#DAF5FA;
            color:#005C95;

        }
        .moving-average  table td:nth-child(1){
            background-color:#ECF3FF;
            color:#005C95;   
            font-weight:500;
        }
        
        .moving-average  table th{
            padding:5px;
            border-bottom:2px solid #005C95;
        }
    /* moment table */
       .momentum h4{
            /* background-color:#63952E; */
            background:linear-gradient(0deg, #88c448, #63952E 80%) no-repeat;

            color:white;
        }
       .momentum table{
            border:2px solid #63952E;
        }
       .momentum table th{
            background-color:#E2F2CF;
            color:#63952E;

        }
        .momentum  table td:nth-child(1){
            background-color:#E2F2CF;
            color:#63952E;   
            font-weight:500;
        }
        
        .momentum  table th{
            padding:5px;
            border-bottom:2px solid #63952E;
        }
       /* trade table */
       .trade h4{
            /* background-color:#5C4775; */
            background:linear-gradient(0deg, #9a77c4, #5C4775 80%) no-repeat;

            color:white;
        }
       .trade table{
            border:2px solid #5C4775;
        }
       .trade table th{
            background-color:#E3DFE7;
            color:#5C4775;

        }
        .trade  table td:nth-child(1){
            background-color:#E3DFE7;
            color:#5C4775;   
            font-weight:500;
        }
        
        .trade  table th{
            padding:5px;
            border-bottom:2px solid #5C4775;
        }
        /* volume table #454545 */
        .volume h4{
            /* background-color:#AF1615; */
            background:linear-gradient(0deg, #f25252, #AF1615 80%) no-repeat;
            color:white;
        }
       .volume table{
            border:2px solid #AF1615;
        }
       .volume table th{
            background-color:#F2E5E4;
            color:#AF1615;

        }
        .volume  table td:nth-child(1){
            background-color:#F2E5E4;
            color:#AF1615;   
            font-weight:500;
        }
        
        .volume  table th{
            padding:5px;
            border-bottom:2px solid #AF1615;
        }
        @media only screen and (max-width:1100px){
            .table-div{
                display:block !important;
            }
        }
        @media only screen and (max-width:900px){
            .start_title .col-sm-6{
                flex: 0 0 100% !important;
                max-width: 100% !important;
            }
            .start_title .d-flex{
                justify-content:flex-start !important;
                padding-top:10px;
            }
        }
        @media only screen and (max-width:600px){
            .table-div-child{
                display:block !important;
            }
            .table-div-child div{
                width:100%;
            }
           
        }
 
        .highcharts-container {
        overflow: visible !important;
        }

        #highcharts-0.highcharts-container {
        position: static !important;
        }
       .full_card{
           visibility:hidden;
       }
       .final_rating_div{
            /* background:linear-gradient(0deg, #FFE3B3, #DE898D 80%) no-repeat; */
            background-color:#F5F5F5;
            color:black;
            font-size:20px; 
            border-bottom:1px solid grey;
            border-left:1px solid grey;
            border-right:1px solid grey;
            font-weight:700;
        }
        .products{background-color:#5627d8;color:#fff!important}.sub-tab6{background-color:#fff;color:orange!important;padding:1.8px 10px 2.2px 10px!important}
        .technicalIndicators{color:orange!important}
        
</style>
</head>
<body>
    <div class="se-pre-con"></div>
    <div class="col-lg-12 section-gap main" >
        <div class="row page-title  mg-t-20">
            <div class="col-sm-6">
                <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Advance Quant<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'technicalIndicators' %}" class="nav-sub-link">Technical Indicators</a>
                </p>
            </div>
            <div class="row col-sm-6">
              
            </div>
        </div>
        <div class="disclaimer-text">
            <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
            </p>
        </div> 
        <div class="card mg-t-10">
            <h4 class=" text-center mg-t-10"><label>Technical Indicators</label></h4>
            <div class="row pd-l-25 pd-t-5 start_title">
                <div class="col-sm-6 form-inline pd-l-10">
                    <div class="tx-15 ">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-inline">
                                Select Stock&nbsp;  <select class="form-control select2 company" style="width:300px;">
                           
                                    {% for company in companies %}
                                      <option value='{{company.fs_ticker}}'>{{company.fs_name}}&nbsp;&nbsp;{% if company.security_code %}({{company.security_code}}){%endif%}</option>
                                    {% endfor %}
                                  </select>
                                </select>

                            </div>
                        </form>
                    </div>
                    <!-- <div class="india-select-div">
                        <form method="POST">
                            {% csrf_token %}
                        <select class="form-control select2 company">
                          {% for company in companies %}
                            <option value='{{company.fs_ticker}}'>{{company.fs_name}}&nbsp;&nbsp;{% if company.security_code %}({{company.security_code}}){%endif%}</option>
                          {% endfor %}
                        </select>
                     </form>
                      </div> -->
                  
                </div>
               
                <div class="col-sm-6 d-flex justify-content-end ">
                    <div class="nsesymbol"></div>
                    <div class="current_price pd-l-20"></div>
                    <div class="netchange pd-l-20 pd-r-20"></div>
                </div>
              
              
            </div>
            
            <div class="card-body full_card">
             <div class="tech_indicators_div">
                <div class="table-div d-flex">
                    <div class="table-div-child">
                        <div class="moving-average">
                            <h4 class="pd-15"></h4>
                            <table>
                              <thead>
                                <tr>
                                <th></th>
                                <th>Value</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody id="moving_avg_table">

                            </tbody>
                        </table>
                        </div>
                        <div class="momentum">
                            <h4 class="pd-15"></h4>
                            <table>
                                <thead>
                                    <tr>
                                    <th></th>
                                    <th>Value</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                                <tbody id="moment_table">
    
                                </tbody>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                        </table>
                        </div>
                    </div>
                    <div class="table-div-child">
                        <div class="trade">
                            <h4 class="pd-15"></h4>
                            <table>
                                <thead>
                                    <tr>
                                    <th></th>
                                    <th>Value</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>

                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                               
                                <tbody id="trade_table">
    
                                </tbody>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                        </table>
                        </div>
                        <div class="volume">
                            <h4 class="pd-15"></h4>
                            <table>
                                <thead>
                                    <tr>
                                    <th></th>
                                    <th>Value</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                                <tbody id="volume_table">
    
                                </tbody>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

                        </table>
                        </div>
                        
                    </div>
                    
                  
                </div>
                <div class="text-center final_rating_div pd-10" >
                    <div>Overall Technical Rating for the Stock :<span  class="final_rating pd-10" ></span></div>
                 </div>
                </div>
               
                <div class="row row-sm price-first-div mg-t-20">

                    <div class="col-sm-8 btns-div">
                        <button class="btn  btn-outline-success mg-r-10" id="price">Price</button>
                        <button class="btn  btn-outline-primary mg-r-10" id="ma9">MA9</button>

                        <button class="btn btn-outline-info mg-r-10" id="ma20">MA20</button>
                        <button class="btn btn-outline-warning mg-r-10" id="ma26">MA26</button>

                        <button class="btn btn-outline-danger mg-r-10" id="ma50">MA50</button>
                        <button class="btn btn-outline-secondary mg-r-10" id="ma100">MA100</button>
                        <button class="btn btn-outline-dark mg-r-10" id="ma200">MA200</button>
                    </div>

                </div>
                <div  id="candle" class="mg-t-30"></div>
                <div id="Volume_Volatility"></div>
                <div id="RSI"></div>
                <div id="Volatility"></div>

                <div id="MACD"></div>


            </div>
        </div>
       
    </div>

<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>

$('.select2').select2();
        $("#price").click(function () {

var background = document.getElementById('price').style.backgroundColor;


if (background == "rgb(255, 255, 255)") {
    $("#price").css("background-color", "#3BB001");
    $("#price").css("color", "rgb(255, 255, 255)");
}
else {
    $("#price").css("background-color", "rgb(255, 255, 255)");
    $("#price").css("color", "#3BB001");
}
$('#candle .highcharts-legend-item:nth-child(1)').click();
$(this).toggleClass("leg-clicked");

});
$("#ma9").click(function () {
var background = document.getElementById('ma9').style.backgroundColor;

if (background == "rgb(255, 255, 255)") {
    $("#ma9").css("background-color", "#3366FF");
    $("#ma9").css("color", "rgb(255, 255, 255)");
}
else {
    $("#ma9").css("background-color", "rgb(255, 255, 255)");
    $("#ma9").css("color", "#3366FF");
}
$('#candle .highcharts-legend-item:nth-child(2)').click();
$(this).toggleClass("leg-clicked");
});
$("#ma20").click(function () {
var background = document.getElementById('ma20').style.backgroundColor;

if (background == "rgb(255, 255, 255)") {
    $("#ma20").css("background-color", "#17a2b8");
    $("#ma20").css("color", "rgb(255, 255, 255)");
}
else {
    $("#ma20").css("background-color", "rgb(255, 255, 255)");
    $("#ma20").css("color", "#17a2b8");
}
$('#candle .highcharts-legend-item:nth-child(3)').click();
$(this).toggleClass("leg-clicked");
}); $("#ma26").click(function () {
            var background = document.getElementById('ma26').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma26").css("background-color", "#ffc107");
                $("#ma26").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma26").css("background-color", "rgb(255, 255, 255)");
                $("#ma26").css("color", "#ffc107");
            }
            $('#candle .highcharts-legend-item:nth-child(4)').click();
            $(this).toggleClass("leg-clicked");
        });
        $("#ma50").click(function () {
            var background = document.getElementById('ma50').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma50").css("background-color", "#DC3545");
                $("#ma50").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma50").css("background-color", "rgb(255, 255, 255)");
                $("#ma50").css("color", "#DC3545");
            }
            $('#candle .highcharts-legend-item:nth-child(5)').click();
            $(this).toggleClass("leg-clicked");
        });


        $("#ma100").click(function () {
            var background = document.getElementById('ma100').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma100").css("background-color", "#5A6268");
                $("#ma100").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma100").css("background-color", "rgb(255, 255, 255)");
                $("#ma100").css("color", "#5A6268");
            }
            $('#candle .highcharts-legend-item:nth-child(6)').click();
            $(this).toggleClass("leg-clicked");
        });
        $("#ma200").click(function () {
            var background = document.getElementById('ma200').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma200").css("background-color", "#23272B");
                $("#ma200").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma200").css("background-color", "rgb(255, 255, 255)");
                $("#ma200").css("color", "#23272B");
            }
            $('#candle .highcharts-legend-item:nth-child(7)').click();
            $(this).toggleClass("leg-clicked");
        });


      
        $(".company").change(function () {
            $('.se-pre-con').fadeIn(1);
            get_data($(".company option:selected").val())
        })
              function date_conversion(output) {
         
        for (i = 0; i < output.length; i++) {
                for (j = 0; j < output[i]['data'].length; j++) {
                    var temp = output[i]['data'][j][0];
                    var date = new Date(temp);
                    var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        output[i]['data'][j][0] = now_utc;
                }
            }
           return output
      }
       var plotline=[{
                        color: 'grey',
                        dashStyle: "Dash",
                        width: 1,
                        value: 30,zIndex:10,
                        label: {
                            text: "oversold=30",
                            align: 'right',
                            y: 15, /*moves label down*/
                            x:-10,
                            style: {
                                color: '#031b4e',
                                font: '10px ',
                                fontWeight: 'normal'
                            },
                        }
                    },
                    {
                        color: 'grey',
                        dashStyle: "Dash",
                        width: 1,
                        value: 70,zIndex:10,
                        label: {
                            text: "overbought=70",
                            align: 'right',
                            y: 15, /*moves label down*/
                            x:-10,
                            style: {
                                color: '#031b4e',
                                font: '10px',
                                fontWeight: 'normal'
                            },
                        }
                    }]
        get_data($(".company option:selected").val(), $(".company option:selected").text())
        function createTable(tableid,rowSize,startIndex,tabledata,firstcol)
                        {
                            $("#"+tableid).empty();
                            index=0;
                            var table = document.getElementById(tableid);
                            var row = table.insertRow(0);
                            for (var i = 0; i < rowSize; i++) {
                            row = table.insertRow(-1);
                            for (var j = 0; j < 3; j++) {
                                var cell = row.insertCell(-1);
                                if(j==0){
                                    cell.innerHTML=firstcol[index++];
                                }
                                else if(j==1){
                                    if(tableid=="moving_avg_table"){
                                        if(i<4){
                                        cell.innerHTML = tabledata[startIndex++].toLocaleString('hi-IN', { maximumFractionDigits: 1});
                                        }else{
                                        cell.innerHTML = tabledata[startIndex++];
                                        }
                                    }
                                    else{
                                        cell.innerHTML = tabledata[startIndex++].toLocaleString('hi-IN', { maximumFractionDigits: 1});
                                    }
                                }else{
                                    cell.innerHTML = tabledata[startIndex++];
                                }
                            }
                        }
                        }
        function get_data(required_value){
            $.ajax({
                url: "{% url 'technicalIndicators' %}",
                type: 'post',
                data: { 'required_value': required_value},
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                    $('.se-pre-con').fadeOut(1);
                      var moving_avg_data=date_conversion(json.output_candle)
                        var volume_data=date_conversion(json.output_volume)
                        var rsi_data=date_conversion(json.output_rsi)
                        var volatility_data=date_conversion(json.output_volatility)

                        var macd_data=date_conversion(json.output_macd)


                        technical_factors_graph('candle',moving_avg_data,300,null,true,0,true,[],json.max_price,json.min_price,null);
                        tickpostionslist=[Math.floor(json.min_volume),Math.ceil((Math.floor(json.min_volume)+Math.ceil(json.max_volume))/2),Math.ceil(json.max_volume)]
                        technical_factors_graph('Volume_Volatility',volume_data,130,'Volume (20)',false,0,false,[],json.max_volume,json.min_volume,tickpostionslist);
                        tickpostionslist=[Math.floor(json.min_rsi),Math.ceil((Math.floor(json.min_rsi)+Math.ceil(json.max_rsi))/2),Math.ceil(json.max_rsi)]

                        technical_factors_graph('RSI',rsi_data,130,'RSI',false,0,false,plotline,json.max_rsi,json.min_rsi,tickpostionslist);
                        tickpostionslist=[Math.floor(json.min_volatility),Math.ceil((Math.floor(json.min_volatility)+Math.ceil(json.max_volatility))/2),Math.ceil(json.max_volatility)]

                        technical_factors_graph('Volatility',volatility_data,130,'Volatility',false,1,false,[],json.max_volatility,json.min_volatility,tickpostionslist);
                        tickpostionslist=[Math.floor(json.min_macd),Math.ceil((Math.floor(json.min_macd)+Math.ceil(json.max_macd))/2),Math.ceil(json.max_macd)]

                        technical_factors_graph('MACD',macd_data,150,'MACD',false,0,true,[],null,null,tickpostionslist);
                     
                        $("#price").css("background-color","#3BB001");
                        $("#price").css("color", "rgb(255, 255, 255)");
                        $("#ma9").css("background-color", "rgb(255, 255, 255)");
                        $("#ma9").css("color", "#3366FF");
                        $("#ma20").css("background-color", "rgb(255, 255, 255)");
                        $("#ma20").css("color", "#17a2b8");
                        $("#ma26").css("background-color", "rgb(255, 255, 255)");
                        $("#ma26").css("color", "#ffc107");
                        $("#ma50").css("background-color", "#DC3545");
                        $("#ma50").css("color", "rgb(255, 255, 255)");
                        $("#ma100").css("background-color", "rgb(255, 255, 255)");
                        $("#ma100").css("color", "#5A6268");
                        $("#ma200").css("background-color", "#23272B");
                        $("#ma200").css("color", "rgb(255, 255, 255)");
                        $('#candle .highcharts-legend-item:nth-child(2)').click();
                        $('#candle .highcharts-legend-item:nth-child(3)').click();
                        $('#candle .highcharts-legend-item:nth-child(4)').click();
                        $('#candle .highcharts-legend-item:nth-child(6)').click();
                        var technical_df=json.technical_indicators_df;

                        if(technical_df.length>0){
                            createTable("moving_avg_table",7,5,technical_df[0],["MA(9)","MA(20)","MA(50)","MA(200)","9 and 20 crossover","20 and 50 crossover","50 and 200 crossover"])
                        createTable("moment_table",5,19,technical_df[0],["RSI","CCI","Williams %R","STOCHRSI","Stochastics"])
                        createTable("trade_table",4,29,technical_df[0],["MACD","ATR","ADX","Supertrend"])
                        createTable("volume_table",3,37,technical_df[0],["Money Flow Index","Volume Oscillator","Chaikin Money Flow"])
                        
                        $('table td:nth-child(3)').each(function()
                        {
                        if($(this).text()=="Buy" || $(this).text()=="OverSold" ||$(this).text()=="Strong Buy" || $(this).text() =="Less Volatile")
                            {
                            $(this).css("color","green")
                            } 
                            else if($(this).text()=="Neutral"){
                                $(this).css("color","gold")

                            }
                            else{
                                 $(this).css("color","red")

                            }
                           
                        
                        })
                        $('.moving-average h4').html("Moving Average : "+technical_df[0][43]);
                        $('.momentum h4').html("Momentum : "+technical_df[0][44]);
                        $('.trade h4').html("Trade : "+technical_df[0][45]);
                        $('.volume h4').html("Volume : "+technical_df[0][46]);
                        $('.final_rating').html(technical_df[0][47]);
                        $('.nsesymbol').html('<h4 class=" pd-l-10">'+technical_df[0][1]+'<h4>');
                        $('.current_price').html('<h5>{{symbol|safe}} '+technical_df[0][2].toLocaleString('hi-IN', { maximumFractionDigits: 1})+'</h5>');
                        if(technical_df[0][2]>0)
                            $('.current_price h5').css('color','green')
                        else
                            $('.current_price h5').css('color','red')
                        if(technical_df[0][47] === "Buy")
                            $('.final_rating').css('color','green')
                        else if(technical_df[0][47] === "Sell")
                            $('.final_rating').css('color','red')
                        else
                            $('.final_rating').css('color','orange')
                            
                        
                        if(technical_df[0][4]>0){
                                
                            $('.netchange').html('<h5>{{symbol|safe}} '+technical_df[0][4].toLocaleString('hi-IN', { maximumFractionDigits: 1})+' ('+(technical_df[0][3]*100).toFixed(1)+'%) <i class="fa fa-arrow-up" aria-hidden="true" ></i></h5>')
                            $('.netchange h5').css('color','green')
                            }
                            
                            else{
                            
                            $('.netchange').html('<h5>{{symbol|safe}} '+technical_df[0][4].toLocaleString('hi-IN', { maximumFractionDigits: 1})+' ('+(technical_df[0][3]*100).toFixed(1)+'%) <i class="fa fa-arrow-down" aria-hidden="true"></i></h5>')

                            $('.netchange h5').css('color','red')

                            }
                            $('.tech_indicators_div').css("display","block");
                            $('.nsesymbol').css("display","block");
                            $('.current_price').css("display","block");
                            $('.netchange').css("display","block");


                            

                        }
                        else{
                            $('.tech_indicators_div').css("display","none");
                            $('.nsesymbol').css("display","none");
                            $('.current_price').css("display","none");
                            $('.netchange').css("display","none");


                        }
                        $('.full_card').css("visibility","visible");

                      
                       
                },
                error: function (json) {

                    console.log("error")
                }

            });

        }



        // var chartWidth=parseInt($('.table-div').width())+60

       
     
   function technical_factors_graph(chartID,output,chartHeight,chartTitle,legendDisplay,reformat,axisDisplay,plotline,max,min,tickpositionslist)  
   {
  
    var chart = Highcharts.chart(chartID, {
                chart:{
                    height:chartHeight,
                    // width:chartWidth,
                    zoomType:'xy',  
                },
                title: {
                    text: chartTitle,    margin: 0,
                y: -35,
                x: 0,
                align: 'left',
               
                verticalAlign: 'middle',
                      style: {
                            color: '#031b4e',
                            fontSize: '13px ',
                            fontWeight: 'bold', 
                        },
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: [{
                    type: 'datetime',
                    dateTimeLabelFormats: { 
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'
                    },
                    labels: {
                        enabled:axisDisplay
                    },
                    max:output[0]['data'][output[0]['data'].length-1][0],
                    min:output[0]['data'][0][0],
                    tickLength: 0,
                    tickWidth: 0,
                    crosshair: true
                }],
                yAxis: [{ 
                    title: {
                        text:null,
                    },
                    min:min,

                    max:max,
                    tickPositions:tickpositionslist,                  
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    opposite:true,
                  
                    labels: {
                        formatter: function () {
                            function test (labelValue) 
                                {
                                   
                                    // Nine Zeroes for Billions
                                    return Math.abs(Number(labelValue)) >= 1.0e+9

                                    ?Math.ceil( Math.abs(Number(labelValue)) / 1.0e+9) + "B"
                                    // Six Zeroes for Millions 
                                    : Math.abs(Number(labelValue)) >= 1.0e+6

                                    ? Math.ceil(Math.abs(Number(labelValue)) / 1.0e+6 )+ "M"
                                    // Three Zeroes for Thousands
                                    : Math.abs(Number(labelValue)) >= 1.0e+3

                                    ? Math.ceil(Math.abs(Number(labelValue)) / 1.0e+3 )+ "K"

                                    : Math.abs(Number(labelValue));
                                }
                          
                            if (reformat != 1) {
                                  if(chartID=='Volume_Volatility')
                                      return test(this.value)
                                  else
                                      return (this.value).toLocaleString('hi-IN', { maximumFractionDigits: 0});
                                  
                          }
                                else {
                                    return (this.value).toLocaleString('hi-IN', { maximumFractionDigits: 0})+'%';
                                }
                           
                        },
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal',
                            width: '40px',
                            'min-width': '40px'
                        },
                        useHTML : true
                    },
                    plotLines: plotline,

           
                   
                }],
                tooltip: {
                    formatter: function () {
                            var s = [];
                            var count = 0
                            $.each(this.points, function (i, point) {
                    
                                if (count == 0)
                                    s.push('Date: <b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(point.x)) + '</b><br>');
                                count=1
                                if(reformat!=1){
                                    if(point.series.name=='Price'){
                                        s.push("Open" + ' : <b>' + (point['point']["open"]).toLocaleString('hi-IN', { maximumFractionDigits: 0 }) + '</b><br>')
                                        s.push("High" + ' : <b>' + (point['point']["high"]).toLocaleString('hi-IN', { maximumFractionDigits: 0 }) + '</b><br>')
                                        s.push("Low" + ' : <b>' + (point['point']["low"]).toLocaleString('hi-IN', { maximumFractionDigits: 0 }) + '</b><br>')
                                        s.push("Close" + ' : <b>' + (point['point']["close"]).toLocaleString('hi-IN', { maximumFractionDigits: 0 }) + '</b><br>')

                                    }                              
                                    else{
                                        s.push(point.series.name + ' : <b>' + (point.y).toLocaleString('hi-IN', { maximumFractionDigits: 0 }) + '</b><br>')
                                    }

                                }
                                else{
                                    s.push(point.series.name + ' : <b>' + (point.y).toLocaleString('hi-IN', { maximumFractionDigits: 0 }) + '%</b><br>')
                                }
                            });
                            return s.join('<br>');
                        },
                    shared: true,
                 },
                plotOptions: {
                    candlestick: {
                        color: 'red',
                        upColor: 'green'
                    }, 
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    },column: {
                        zones: [{
                            value: 0, 
                            color: 'red' 
                        },{
                            color: 'green' 
                        }]
                    }
                },
                               
                legend:{
                    enabled:legendDisplay
                },
                series: output
        });
     
   }  
  

       

</script>
</body>

</html>
{% endblock %}