{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
		<title>Terms of use - 72PI</title>
    <meta name="description" content="" />
    <style>
      body {
        background-color: #B3B5BA!important;
        visibility: hidden;
      }
      .terms{
        color: orange !important;
      }  
      .signals-header,
      .analytics-header,
      .stocklist{
          display:none !important;
      }
      .card-body p {
   
        font-family: 'Open Sans',sans-serif !important;
    }
    .subnav-content{display:none !important}
     
    
    </style>
    </head>
	  <body>
      <div class="col-lg-12 privacy-div section-gap">
        <div class="row">
          <div class="col-lg-12  section-1" style="margin:10px auto">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <h3  class="text-center"><label>IMPORTANT TO READ AND AGREE TO “Terms and Conditions of Use”</label></h3>
                  
                </div>
                <div class="card-body">
                 <p>Before using this website, kindly read all of the following terms and conditions of use (“Agreement”) for this website <a href="https://www.72PI.ai">www.72PI.ai</a>("72PI") carefully, as they set out our and your legal rights and obligations in relation to the use of our website and any of the services available through it. By visiting our site and continuing to access this site or use any service on this site you are signifying your acceptance to the terms and conditions. Aishva Financial Services Private Limited, owner of 72PI, reserves the right to amend, remove or add to these terms and conditions at any time. </p>
                 <p><b>User Consent to the Terms of Use: </b>You confirm that you have read, understood and agree to be bound by the terms and conditions of use. If you register with our website, we will ask you to expressly agree to this Agreement but, in the absence of registration, your decision to continue use of this website represents implicit acceptance of this Agreement.</p>
<p><b>(1) Definitions</b></p>
<p>In these Terms:</p>
<p>"72PI Content" means financial reports, news articles, blogs and other textual content that we write and publish on the Website, identified by being authored by either 72PI Reports, 72PI News, 72PI Features or our staff;</p>
<p>“72PI Data” means data that we source from third party data suppliers and any intermediate algorithms and calculations that we undertake in respect of that data;</p>
<p>“Charges” means the subscription charges payable to 72PI by the User in respect of the Subscription Services;</p>
<p>"Content Guidelines" means the 'forum guidelines', 'posting guidelines', 'article guidelines' and 'editing guidelines' posted on our Website as amended by us from time to time;</p>
<p>"Intellectual Property Rights" means all intellectual property rights wherever in the world arising, whether registered or unregistered, and including any application or right of application for such rights (including without limitation copyright and related rights, moral rights, registered and unregistered trademarks, patents, design rights and database rights;</p>
<p>"Registered User" means a person who has created an account with the Website;</p>
<p>“Subscription Service” means one of the paid-for data, modeling and screening subscription services and data analysis tools available on the Website from time to time, including but not limited to the Gold, Diamond or Platinum “Investor” services;</p>
<p>“Third Party Content” means financial news, articles, advertising and/or other content (including without limitation video, textual, graphic, photographic, audio and audio-visual content) that is published on the Website, but is provided by third parties (for example content sourced from external publishers including news organizations and research houses</p>
<p>"Trial Period" means a period during which the User can access a Subscription Service without paying the Charges;</p>
<p>"Use" means any use whatsoever and includes, without limitation, viewing, storing, reproducing, displaying, publishing, distributing, broadcasting and/or creating derivative works;</p>
<p>“User” means a Registered User who has subscribed to a Subscription Service;</p>
<p>"User Content" means content (including without limitation video, textual, graphic, photographic, audio and audio-visual content uploaded or otherwise provided for publication by a Registered User for Use on or in relation to the Website; and</p>
<p>"Website" means the website at <a href="https://www.72PI.ai">www.72PI.ai</a> or any successor site operated by us from time to time.</p>
<p>References in these Terms to "we" or "us" mean Aishva Financial Services Private Limited, owner of <a href="https://www.72PI.ai">www.72PI.ai</a> website; and references in these Terms to "you" mean the person using the Website or holding a Registered User account with the Website.</p>
<p><b>(2) Intellectual Property and License</b></p>
<p>We or our licensors own the Intellectual Property Rights in the Website and material on the Website. You may view, download for caching purposes only, and print material from the Website, in each case for personal use only, and subject to the restrictions set out below. Non-personal use is a violation of these Terms. Save to the extent that you own (or are properly licensed by a third party to exercise) the relevant rights, you must not: (a) republish or redistribute material from the Website (including republication or redistribution on another website or in any other format); (b) sell, rent or sub-license material from the Website; (c) edit or otherwise modify any material from the Website except in accordance with the Content Guidelines; (d) make any charge in relation to or carry on by way of business any activities in relation to any material obtained from the Website; or (e) show (whether for commercial purposes or not) any material from the Website in public. You must not use any material from the Website for any improper or unlawful purpose or conduct any scraping, data mining or automated data collection in relation to the Website. You must not use the Website in any way that causes, or may cause, damage to the Website or impairment of the availability or accessibility of the Website, or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
<p><b>(3) Restricted access</b></p>
<p>Access to certain areas of the Website is restricted to Registered Users and may be further restricted to Users. We reserve the right to restrict access to other areas of the Website, or indeed the whole Website, at our discretion. You must not use the login details or password of any other person to access restricted areas of the Website.</p>
<p><b>(4) Registered Users & Users</b></p>
<p>In order to become a Registered User, you must create an account using the Website interface, and click on the activation link in the email that we will send to you. Registered Users could gain access to additional services and restricted areas on the Website, which may include: (i) the ability to submit and edit articles on the Website; (ii) the ability to subscribe to RSS/Atom feeds; (iii) the ability to submit posts to our Website forums and to rate others' posts; (iv) access to our virtual fund trading facility; (v) the facility to create a detailed profile which may be made available via the Website; (vi) access to our Website-based messaging system; (vii) in the case of Users only, access to the Subscription Service.</p>
<p>Registered Users must not allow any other person to use their user ID and password, and they must ensure that that user ID and password are kept confidential. Registered Users accept responsibility for all activities that occur under or in relation to their user ID and password. Upon our request, Registered Users and will provide to us proof of their identity and/or age.</p>
<p>We may also be required by law or regulation to identify Registered Users and disclose their details to a third party including the relevant legal or regulatory authority if requested by them to do so.</p>
<p>We may alter or restrict the services and areas that Registered Users have access to, and/or delete any Registered User's account, in our sole discretion without notice or explanation.</p>
<p><b>(5) User Content</b></p>
<p>You grant to us for the full term of copyright (including any extensions, renewals, restorations, revivals and reversions) a non-exclusive royalty-free irrevocable licence to Use the User Content that you submit to the Website, any part of that User Content, and any derivative work based on that User Content and created under these Terms, on or in relation to the Website, any other website and any other media available now or at any time in future. You warrant and undertake that you own or have the right to license the relevant Intellectual Property Rights in all User Content that you submit to the Website in accordance with this Agreement. You acknowledge that we may edit, delete and/or move User Content without notice or explanation.</p>
<p><b>(6) Third Party Content</b></p>
<p>Subject to the 72PI Data warranties in Section 7 below, we do not undertake to monitor Third Party Content that appears on the Website. Nor do we warrant that Third Party Content providers have adhered to these Terms, although we use reasonable endeavours to remove Third Party Content which breaches these Terms after it has been brought to our attention. If you become aware of any Third Party Content on the Website which breaches these Terms, you should notify us of that content immediately.</p>
<p><b>(7) Our warranties</b></p>
<p>You acknowledge that the Website and the material on the Website may be changed from time to time without notice. As we provide some of the 72PI Content as a free service to users, we offer no warranties in respect of the preparation and publication of this content. Where we provide 72PI Data as part of a paid Subscription Service, we warrant the we will take reasonable care in respect of ensuring the accuracy of that 72PI Data (by ensuring that the underlying data is sourced from a reputable provider), and that we will use reasonable care and skill in the provision of the Subscription Service. If we are notified of a possible error in relation to the 72PI Data, we will endeavour to notify our supplier of this issue, although we cannot be certain that they will be willing to correct the error identified.</p>
<p>Notwithstanding the warranties above, 72PI is not authorised to give investment advice and nothing on the Website should be interpreted as 72PI seeking to offer such advice. 72PI Content, 72PI Data, User Content and/or relevant Third Party Content is provided ‘as is’ and may contain errors or inaccuracies. You should seek confirmation from an authoritative third party source of any information found on the Website upon which you may wish to rely. Use of 72PI Content, 72PI Data, User Content and/or Third Party Content is solely at the User’s risk.</p>
<p>User acknowledges that the use and interpretation of the 72PI Data, and any data analysis tools provided as part of the Subscription Service requires skill and judgement. Users shall at all times exercise their own skill and judgement in the Use and interpretation of the Subscription Service and shall be solely responsible for the purposes for which it is used and for all opinions, recommendations, forecasts and other comments made or action taken by Users based wholly or partly on the 72PI Data and/or data analysis tools.</p>
<p>72PI’s Subscription Service includes access to pre-defined investor screens and model portfolios, based on the work of famous investors or top Mutual Funds. We do not choose the companies on these lists. All the screens are based on set quantitative criteria, which are taken either from research papers or from published portfolios of Mutual Funds or from the writings of investing gurus. However, please note that the screening criteria used may represent 72PI's interpretation of the author's investment approach based on the available data-set and will not be determined or endorsed by the original strategist. You should consider the results of any screen as candidates for further research, not as a buy list or as a set of recommendations. </p>
<p>Similarly, 72PI Portfolio is a model portfolio that is indicative of our current view based on quantitative criteria, technical models, and other fundamental views. It is intended to be used as an output of a screen for investment opportunities for further research, not as a buy list or as a set of recommendations. </p>
<p>These investor screens and portfolios are intended purely as an educational tool to test the performance of different investment approaches in the Indian market. Our performance tracking ignores the impact of factors such as spreads, commissions, spreads and dividends. While this means that the reported performance is likely to be unachievable, this allows a useful comparison of different investment styles under the same market conditions.</p>
<p>Subject to the warranty given above in respect of the paid-for Subscription Service:</p>
<p class="pd-l-40">(a) we do not warrant the completeness, veracity, bona fides or accuracy of the material on the Website; nor do we commit to ensuring that the Website remains available or that the material on the Website is kept up-to-date.</p>
<p class="pd-l-40">(b) we do not grant to you any warranties or make any representations relating to the Website or your Use of the Website, and to the fullest extent permitted by applicable law we exclude all warranties and representations.</p>
<p>You acknowledge that the material on the Website submitted by third parties (including our Registered Users) from time to time is the sole responsible of the third party who has submitted that material. If you become aware of any inaccuracy or error on the website, please let us know.</p>
<p><b>(8) Indemnity</b></p>
<p>You will indemnify us and keep us indemnified against any loss, damage, expense, cost or liability incurred or suffered by us arising out of any breach by you of any of these Terms, or arising out of any claim that you have breached any of these Terms.</p>
<p>You agree, at your own expense, to indemnify, defend and hold harmless 72PI and its parent company, its suppliers, agents, directors, officers, employees, representatives, successors, and assigns from and against any and all claims, damages, liabilities, costs, and expenses, including reasonable lawyers’ and experts’ fees, arising out of or in connection with the service, or any links on the service, including, but not limited to:</p>
<div class="pd-l-40">
<ul>
  <li>•	your use or someone using your computer's for accessing the service</li>
  <li>•	use of the service by someone using your account</li>
  <li>•	a violation of the Agreement by you or anyone using your computer to access the service or by anyone using your account</li>
  <li>•	a claim that any use of the service by you or someone using your computer to access the service or by anyone using your account infringes any intellectual property right of any third party, or any right of privacy or publicity, is libelous or defamatory, or otherwise results in injury or damage to any third party</li>
  <li>•	any deletions, additions, insertions or alterations to, or any unauthorized use of, the service by you or someone using your computer to access the service or by anyone using your account</li>
  <li>•	any misrepresentation or breach of representation or warranty made by you</li>
  <li>•	any breach of any covenant or agreement to be performed by you hereunder</li>

</ul>
</div>
<p>You agree to pay any and all costs, damages, and expenses, including, but not limited to, reasonable lawyers’ fees and costs awarded against or otherwise incurred by or in connection with or arising from any such claim, suit, action, or proceeding attributable to any such claim. We reserve the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with 72PI and its parent company in asserting any available defense. You acknowledge and agree to pay reasonable lawyers’ fees incurred by  72PI and its parent company in connection with any and all lawsuits brought against you by 72PI and its parent company under this Agreement and any other terms and conditions of service on this site, including without limitation, lawsuits arising from your failure to indemnify 72PI and its parent company pursuant to this Agreement.</p>
<p><b>(9) Financial disclaimer</b></p>
<p>Our Website is a financial data, modeling and news portal, discussion forum and content aggregator. 72PI is not a broker/dealer, we have no access to non-public information about publicly traded companies, and this is not a place for the giving or receiving of financial advice, advice concerning investment decisions or tax or legal advice. </p>
<p>Although, Aishva Financial Services Private Limited is a registered investment adviser with SEBI, this Website is not intending to provide specific investment advice to each and every user. We do not provide personalised recommendations or views as to whether a stock or investment approach is suited to the financial needs of a specific individual.</p>
<p>We are a content and an educational portal for analysing, learning & discussing general and generic information related to stocks, investments and strategies. </p>
<p>No content on the site constitutes - or should be understood as constituting - a recommendation to enter in any securities transactions or to engage in any of the investment strategies presented in our site content. We do not provide personalised recommendations or views as to whether a stock or investment approach is suited to the financial needs of a specific individual.</p>
<p>Where we present investment screens or model portfolios, the results should only be treated as candidates for further research, not as a buy list or set of recommendations. Screening may help to narrow a search based on pre-defined criteria but it is not a substitute for independent research reflecting your individual criteria for investing/trading. </p>
<p>72PI Content and 72PI Data is intended to be used and must be used for informational purposes only. It is very important to do your own analysis before making any investment based on your own personal circumstances. You should take professional financial advice in connection with, or independently research and verify, any information that you find on our Website and wish to rely upon, whether for the purpose of making an investment decision or otherwise. Any arrangements between you and any third party contacted via the Website are at your sole risk.</p>
<p>Accordingly, we will not be liable, whether in contract, tort (including negligence) or otherwise, in respect of any damage, expense or other loss you may suffer arising out of such information or any reliance you may place upon such information.</p>
<p>Nothing on this Website or any part thereof is intended to constitute an offer or solicitation to buy or sell investments in any jurisdiction.</p>
<p>We do not warrant that our Website complies with the applicable laws or regulations of any particular jurisdiction outside India. Accordingly, if it is prohibited to make information provided on this Website or any part thereof available in your jurisdiction or to you (by reason of nationality, residence or otherwise) the Website or any part thereof is not directed at you.</p>
<p>You accept that if you are resident outside India, you must satisfy yourself that you are lawfully able to access our Website and, in particular, able to lawfully receive any document which contains links or allows you access to other websites in the country from where you are accessing the User Content, Third Party Content and/or 72PI Content.</p>
<p>We do not accept any liability for any costs, losses or damages resulting from, or related to, the availability or content of the Website to persons in jurisdictions outside the India or to persons who are nominees of or trustees for citizens, resident or nationals of other countries.</p>
<p>You agree that your use of the Website and the service including dissemination of information through SMS, Email, newsletters or any other communication mode is at your sole risk and that the content, information, software, products, features, advertisements, analysis and services on this website are provided on AS IS and AS AVAILABLE basis and 72PI and its parent company makes no warranty of any kind whatsoever that the website and services and content thereon do not include any inaccuracies or errors or that the content is suitable and fit for any particular purpose or that there is proper title and non-infringement and merchantability.</p>
<p>In no event shall 72PI and its parent company or its suppliers, agents, directors, officers, employees, representatives, general partners, successors, and assigns, or otherwise be held liable for any direct, indirect, punitive, incidental, special or consequential damages or loss of profit or losses by any party due to delays or inability to use the website or otherwise arising out of the website or service or part thereof, even if 72PI and its parent company has been advised specifically of the possibility of such damages. Even if the applicable law may not allow limitation or exclusion of liability or incidental or consequential damages, in no event shall 72PI and its parent company’s total liability to you for all damages, losses and causes of action (whether in contract or tort, including but not limited to negligence) exceed the amount paid by you, if any, for accessing this website or service or part thereof.</p>
<p>Neither <a href="https://www.72PI.ai">www.72PI.ai</a> nor its parent company (including its directors, employees, affiliates, agents, representatives or subcontractors) shall be liable for any loss or liability resulting, directly or indirectly, from delays or interruptions due to electronic or mechanical equipment failures, telecommunication interconnect problems, defects, weather, strikes, walkouts, fire, acts of God, riots, armed conflicts, acts of war, or other like causes during which <a href="https://www.72PI.ai">www.72PI.ai</a> shall have no responsibility to provide you access to the website and its services.</p>
<p>We would like to draw your attention to the following important investment warnings: i) the value of shares and investments and the income derived from them can go down as well as up; ii) investors may not get back the amount they invested; and iii) past performance is not necessarily a guide to future performance.</p>
<p><b>(10) General disclaimer</b></p>
<p>Our liability is limited and excluded to the maximum extent permitted under applicable law. We will not be liable for any direct or indirect loss or damage arising under this Agreement, your Use of the Subscription Service or in connection with the Website, whether arising in tort, contract, or otherwise.</p>

<p>Without limiting the generality of the exclusion of liability above, we will not be liable for any loss of profit, contracts, business, goodwill, data, income, revenue or anticipated savings arising under this Agreement, your Use of the Subscription Service or in connection with the Website, whether direct or indirect, and whether arising in tort, contract, or otherwise; nor will we be liable for any loss or damage arising out of any event that is beyond our reasonable control.</p>
<p>If, notwithstanding the limitations of liability in these Terms, we are found to be liable to you, our liability is limited in relation to any event or series of related events will not exceed INR 25,000, save as in respect of Users, in relation to which our liability shall be limited to the Charges paid by the User in question.</p>
<p>You agreed to the publication of feedback and comments about you by others on the Website, you acknowledge that such feedback and comments may be critical or defamatory, and you agree that you will not hold us liable in respect of any such feedback and comments, irrespective of whether we are aware or ought to have been aware of such feedback and comments. Nothing in this Agreement will exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any other liability which cannot be excluded or limited under applicable law.</p>
<p><b>(11) Third party websites</b></p>
<p>The Website may include links to other websites. These links are not recommendations, and are provided for your information only. We have no control over the contents of those websites, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>
<p><b>(12) Trademarks</b></p>
<p>72PI and our logo are trademarks belonging to us. We give no permission for the use of these trademarks, and such use may constitute an infringement of our rights. The other registered and unregistered trademarks or service marks on the Website are the property of their respective owners. Unless stated otherwise, we do not endorse and are not affiliated with any of the holders of any such rights and as such we cannot grant any licence to exercise such rights.</p>
<p><b>(13) Term & Termination</b></p>
<p>Without prejudice to our other rights under this Agreement, if you (including for the avoidance of doubt Registered Users and Users) breach any of these terms in any way, or if we reasonably suspect that you have breached any of these terms in any way, we may: </p>
<p>(a) delete, move or edit any of your User Content</p>
<p>(b) send you one or more formal warnings</p>
<p>(c) temporarily suspend your access to the Website and/or the Subscription Service</p>
<p>(d) delete your account</p>
<p>(e) permanently prohibit you from using the Website and/or the Subscription Service</p>
<p>(f) block computers using your IP address from accessing the Website</p>
<p>(g) contact your internet services provider and request that they block your access to the Website; and/or</p>
<p>(h) bring court proceeding against you for breach of contract or otherwise</p>
<p>Where we suspend or prohibit or block your access to the Website, part of the Website, and/or the Subscription Service, you must not take any action to circumvent such suspension or prohibition or block (including without limitation using a different account). In the event that the termination is made by us, without cause for a paid service, you will be entitled to a proportionate refund of the fees paid by you the service for the balance period from the date of such termination.</p>
<p>You may terminate this Agreement, with or without cause and at any time, by discontinuing your use of the service and destroying all materials obtained from the service. </p>
<p><b>(14) Subscription Trial Period</b></p>
<p>The duration of any Trial Period shall be as specified on the Website. Use of the Subscription Service shall be free of charge during the Trial Period.</p>
<p>Unless you provide 72PI with notice to terminate the Subscription Service prior to the end of the Trial Period (by unsubscribing on the Website), the Charges provisions shall apply and govern your ongoing Use of the Subscription Service.</p>
<p>After the Trial Period expires you shall be liable to pay the Charges. You accept that by providing your bank account or your credit or debit card details or other payment options you authorise 72PI to deduct the Charges (or instalments of the Charges) using such payment method (as applicable) on a regular basis and in advance until the you terminate or cancel your subscription to the Subscription Service. </p>
<p>The amount of the Charges shall be as displayed on the Website and may change from time to time. However, where we bill you for any upgrade modules, we will only do so based on your request for these modules and with your consent to the proposed upgrade pricing. </p>
<p>You may only have one Trial Period. Should we identify that you have already made use </p>

<p><b>(15) Charges</b></p>
<p>Subject to the Trial Period provisions above, in consideration for the provision of the Subscription Service, Users agree to pay the Charges applicable to the plan which they have selected as detailed on the Website and updated from time to time. </p>
<p>Without prejudice to its rights to recover the sums outstanding from the User, should 72PI not be able to withdraw any part of the Charges from the User’s payment account or credit or debit card, 72PI reserves the right to:</p>
<p>1) suspend access to the Subscription Service; or</p>
<p>2) terminate this agreement to access the Subscription Service.</p>
<p><b>(16) Refund / Cancellation</b></p>
<p>At the end of each subscription period, a subscription will continue to automatically renew at the prevailing fee rate applicable to the plan which has been selected by the User, unless terminated by us or until the User notifies us of their decision to cancel their subscription to the Services.</p>
<p>Either party may terminate this agreement to access the Subscription Service, which in the case of the User may be communicated to 72PI by the User unsubscribing on the Website. If the User terminates this agreement to access the Subscription Service, the User shall ensure that it pays 72PI all Charges owing up until the date of termination (including any outstanding interest) and will be entitled to use the service until the end of that billing period. The User shall not be entitled to any refund of charges it has already paid to 72PI.</p>
<p><b>(18) Beta Access</b></p>
<p>All of our data subscription offer will remain in "beta" until we indicate otherwise. From time to time, 72PI may also offer you access to certain new features of the Website as a "beta user". If you use beta features, you acknowledge that these features may not yet have been fully bug-tested and may therefore contain significant errors and issues. You undertake to notify 72PI of any bugs you may find, where possible. You also accept that access to these features may be withdrawn at any time, without any notice given, if we decided that these features are to form part of a separate subscription offer.

</p>
<p><b>(19) General</b></p>
<p>If any provision of these Terms is held invalid or unenforceable by a court of competent jurisdiction, the remaining provisions of these Terms will remain in full force and effect, and any such invalid or unenforceable provisions will be deemed omitted. No waiver of any provision of these Terms by us, whether by conduct or otherwise, in any one or more instances, will be deemed to be, or be construed as, a further or continuing waiver of that provision or any other provision of this Agreement. This Agreement is for the benefit of us and our users and are not intended to benefit, or be enforceable by, any other person. Any termination, rescission, amendment, variation, waiver or settlement under this Agreement will not be subject to the consent of any third party.</p>
<p>User Content posted on the Website may be retained by us either on-line or archived for a period of ten years. You may not assign, charge, sub-contract or otherwise transfer any of your rights or obligations arising under this Agreement. Any attempt by you to do so will be null and void. We may assign, charge, sub-contract or otherwise transfer this Agreement, or any of our rights or obligations arising under these Terms, at any time. We may vary this Agreement from time-to-time by posting a new version of this Agreement on the Website. If you are a Registered User or User, we may also give you notice of the variation. Your continued use of the Website after a variation will constitute your acceptance of the variation.</p>
<p>This Agreement constitutes the entire agreement between you and us in relation to your use of the Website, and supersede all previous agreements in respect of your use of the Website. </p>
<p>The Agreement is exclusively based on and subject to Indian law. You hereby consent to the exclusive jurisdiction and venue of courts in Hyderabad, India in all disputes arising out of or relating to the use of this website. The use of this website is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including and without limitation to this paragraph.</p>
<p>Both you and we irrevocably agree for the benefit of the other to settle any dispute which may arise out of, under, or in connection with this Agreement or the legal relationship established by them, and for those purposes we both irrevocably submit all disputes to the jurisdiction of Indian law. For the exclusive benefit of 72PI, 72PI retains the right to bring proceedings as to the substance of the matter in the courts of the country of your residence or, where this Agreement is subject to the financial disclaimer in clause 8 above, entered into in the course of your trade or profession, the country of your principal place of business.</p>
<p><b>(20) Information</b></p>
<p>The Website is owned and operated by Aishva Financial Services Private Limited, a company incorporated under the Companies Act 1956. Our office address is at 1st Floor, TK House, Plot 11, Shilpa Hills, Khanamet, HITEX Road, Hyderabad 500081. If you wish to contact us, please email us at <a href="mailto:72pi@aishva.com" target="_top">72pi@aishva.com</a>.</p>
<p>You should print a copy of these Terms for future reference. We will not file a copy of these Terms specifically in relation to you, and they may not be accessible on the Website in future. These Terms are available in the English language only.</p>
<p>Version 1.0, 18 September 2020</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
<script>
   $("body").css({visibility:'visible'});
</script>
    </html> 
{% endblock %}