{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
		<title>72PI</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <script src="{% static 'js/table_sort.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">

    <style>
        

        .liveport,.trades{
            color:#FFA400 !important;
        }
        .section2 .card .card-body{
            padding:5px 10px !important;
        }
        hr{
            margin:5px  !important;
        }
        .section-gap{
            padding:5% 8% !important;
        }
        h5 label,.section3 .card-header label.active{
            border-bottom:2px solid orange;
            font-size: 16px;
            padding-bottom:2px;
        }
        .subdiv{
            border-right:1px solid grey;
        }
        .section1{
            background-color: white;
            border-bottom: 1px solid grey;
        }
        .tablecard .subdiv{
                padding:1% 3%;
        }
        .tbalediv{
            padding:0px !important;
        }
        .tablediv table{
            width:100%;
        }
        .cellvalue{
            color:black;
            font-weight: bold;
        }
        .sub-title{
            /* color:grey; */
            font-weight:400
        }
        .stockname{
            padding-top:3% !important;
        }
        button label{
            cursor:pointer
        }
        .section3 button{
            padding:0px 10px!important
        }
        .section3 .sub-section3 .row{
            margin-bottom:12px;
        }
        .red{
            color:red !important;
        }
        .green{
            color:green !important;
        }

        .base-header{
            display:none;
        }
        
        body {
            background-color:#F3F3F3 !important;
        }
        .buysell {
            color: white;
            border-radius: 4px;
            font-weight: 400;
            padding: 3px 15px;
            font-size: 14px;
        }
        sup{
            color:black !important;
        }
        


.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: orange;
  color: black;
}
.notification2 .badge2 {
  position: absolute;
top:10px;
  padding: 0px 7px;
  border-radius: 50%;
  background-color: orange;
  color: black;
}
    </style>
  </head>
	<body>
        <header id="header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40/></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a href="{% url 'home' %}" class="home">Home</a></li>
                    <li><a href="{% url 'pricingDetails' %}" class="pricing">Pricing</a></li>

                    <div class="subnav">
                        <button class="subnavbtn text-uppercase liveport notification2">Hedge Fund Account<span class="badge2">{{signals_count|safe}}</span> </button>
                        <div class="subnav-content mg-t-30 ">
                      
                            <li> <a href="{% url 'trade' %}" class="trades notification">
                                <span>Trades for Execution</span>
                                <span class="badge">{{signals_count|safe}}</span>
                              </a></li>
                            <li><a href="{% url 'equitysummary' %}"  class="overview">Portfolio Snapshot</a></li>
                            <li><a href="{% url 'equitysummary_transaction' %}"  class="transactions">Transactions</a></li>

                        </div>
                    </div>
                    <li><a href="{% url 'indexpage' %}" class="portanalytics">Portfolio Analytics</a></li>
                    <li><a href="{% url 'tradeSignals' %}" class="signals">Signals</a></li>
                    <li><a href="{% url 'FundManagement' %}" class="">Fund Management</a></li>
                    <li class="menu-has-children"><a href="#">My Account</a>
                <ul>
                  <li><label class="mg-b-0">Hi {{user}}  <i class="text-muted usertype">(Gold)</i>
                    <p class="pd-l-30 tx-10 lastlogin">Last login at :{{user.last_login}} </p>
                  </label>
                      </li>
                  <hr/>
                  <li><a  href="#">Subscriptions</a></li>
                  <li><a  href="#">Settings</a></li>
                  <li><a  href="{% url 'account_set_password' %}">Change Password</a></li>
                  <li><a  href="{% url 'account_logout' %}" >Logout</a></li>
                </ul>
              </li>
                  </ul>
                </nav><!-- #nav-menu-container -->		    		
              </div>
            </div>
        </header><!-- #header -->
        
        <div class="col-lg-12 section-gap section"  >
            {% if tradesignals %}
            {% for tradesignal in tradesignals %}
            <div class="row mg-l-0 mg-r-0 mg-t-20">
                <div class="col-sm-2 ">
                    <label>Buy/Sell</label><br/>
                    
                    <label class="buysell">{{tradesignal.buy_sell}}</label>
                </div>
                <div class="col-sm-3">
                    <label>Company</label><sup class="new"><img src="https://images.moneycontrol.com/images/common/header/new_icon_animated.gif" title="New Trade" alt="new"></sup><br/>
                    <label class="cellvalue">{{tradesignal.company_name}}</label>
                </div>
                <div class="col-sm-2">
                    <label>Quantity</label><br/>
                    <label class="cellvalue">{{tradesignal.quantity}}</label>
                </div>
                <div class="col-sm-2">
                    <label>Limit Price(₹)</label><br/>
                    <label class="cellvalue price">{{tradesignal.limited_price}}</label>
                </div>
                <div class="col-sm-2">
                    <label>Date</label><br/>
                    <label class="cellvalue">{{tradesignal.expiry_date}}</label>
                </div>
            </div>
            <hr style="height:2px;border:none;color:#DFE0E4;background-color:#DFE0E4;"/>
            {% endfor %}
            {% endif %}
        </div>
  </body>
   <script>
   if({{signals_count|safe}}==0)
   {
       $('.badge').hide();
       $('.badge2').hide();
   }
   
   $('.buysell').each(function(i, obj) {
         

         if($(this).text().includes('SELL','sell'))
         {
       
             $(this).css('background-color','#F34459');
         }
         else{
             
             $(this).css('background-color','#00BB6E');
         }
 
 
  });
      
        $('.section .row').each(function(){
            var value=$(this).find('.price').text(parseFloat($(this).find('.price').text()).toLocaleString('en-IN'))

           

        })
        
var count={{signals_count|safe}}
$(".new").click(function() {
    count=count-1;
    $('.badge').text(count);
    $('.badge2').text(count)
$(this).remove(); 
});
$("body").css({visibility:'visible'});
   </script>
</html> 
{% endblock %}