{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>72PI</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/azia.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">


    <style>
       
        .trade,.fund{
            color:#FFA400 !important;
        }
        .section2 .card .card-body{
            padding:5px 10px !important;
        }
        hr{
            margin:5px  !important;
        }
        
       
    </style>
  </head>
	<body>
        <header id="header">
            <div class="container main-menu">
              <div class="row align-items-center justify-content-between d-flexs">
                <div id="logo">
                  <a href="{% url 'home' %}"><img class="img-fluid" src="{% static 'homepage/img/logo3.png' %}" width=70 height=40/></a>
                </div>
                <nav id="nav-menu-container">
                  <ul class="nav nav-menu">
                    <li><a href="{% url 'home' %}" class="home">Home</a></li>
                    <li><a href="{% url 'equitysummary' %}">Hedge Fund Account</a></li>
                    <li><a href="{% url 'indexpage' %}" class="portanalytics">Portfolio Analytics</a></li>
                    
                    <li><a href="{% url 'tradeSignals' %}" class="signals">Signals</a></li>
                    <div class="subnav">
                        <button class="subnavbtn text-uppercase fund">Fund Management</button>
                        <div class="subnav-content mg-t-30 ">
                            <li><a href="{% url 'FundManagement' %}"  class="fund_dashboard">Dashboard</a></li>
                            <li><a href="{% url 'fundClientAccount' %}"  class="client">Client Accounts</a></li>
                            <li><a href="{% url 'fundTradeNotifications' %}"  class="trade">Trade Notifications</a></li>
                        </div>
                    </div>
                    <li class="menu-has-children"><a href="#">Profile</a>
                      <ul>
                        <li><label >Hi {{user}}</label></li>
                        <hr/>
                        <li><a  href="{% url 'account_set_password' %}">Change Password</a></li>
                        <li><a  href="{% url 'account_logout' %}" >Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </nav><!-- #nav-menu-container -->		    		
              </div>
            </div>
        </header><!-- #header -->
        <div class="col-lg-12 section-gap mg-t-80" >
            <div class="card mg-t-20">
                <div class="card-body">
                    <form class="form-horizontal" method="POST" action="#">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                        <div class="row form-row spacer mg-t-20" id="page10_risk_2">
                            <div class="col-2 mg-t-10">
                                <label>BUY/SELL</label>
                            </div>
                            <div class="col-4 mg-t-10">
                                <div class="input-group">
                                    {{form.buy_sell}}
                                </div>
                            </div>
                            <div class="col-2 mg-t-10">
                                <label>Company Name</label>
                            </div>
                            <div class="col-4 mg-t-10">
                                <div class="input-group">
                                    {{form.company_name}}
                                </div>
                            </div>
                            <div class="col-2 mg-t-10">
                                <label>Latest Price</label>
                            </div>
                            <div class="col-4 mg-t-10">
                                <div class="input-group">
                                    {{form.latest_price}}
                                </div>
                            </div>
                            <div class="col-2 mg-t-10">
                                <label>Limit Price</label>
                            </div>
                            <div class="col-4 mg-t-10">
                                <div class="input-group">
                                    {{form.limit_price}}
                                </div>
                            </div>
                            <div class="col-2 mg-t-10">
                                <label>Date</label>
                            </div>
                            <div class="col-4 mg-t-10">
                                <div class="input-group">
                                    {{form.issued_date}}
                                    <div class="input-group-append">
                                        <button class="btn btn-sm btn-success add-form-row">Add New</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="mg-t-20 text-center">
                            <button class="btn btn-info selectacnt" onclick="return false">Select Accounts</button>
                        </div>
                        <div class="card mg-t-20 showtable" style="display: none;">
                            <div class="card-body">
                                <div class="table mg-t-20">
                                    <table class="unselectable">
                                        <thead>
                                            <th>Select</th>
                                            <th>Customer Name</th>
                                            <th>Portfolio Name</th>
                                            <th>Invested Amt</th>
                                            <th>Cash Remaining</th>
                                            <th>Quantity</th>
                                            <th>Amt Req</th>
                                        </thead>
                                        <tbody>
                                            {% if v5Objects %}
                                            {% for item in v5Objects %}
                                            <tr>
                                                <td><input type="checkbox" name="selectcust"></td>
                                                <td>{{item.customer_name}}</td>
                                                <td>{{item.portfolio_name}}</td>
                                                <td></td>
                                                <td></td>
                                                <td><input type="text" name="tradequant"></td>
                                                <td></td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                    <div class="mg-t-20 text-center">
                                        <button class="btn btn-primary" >Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
           
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript">

    $('.selectacnt').click(function(){
        $('.showtable').show();
    })


    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('Delete');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
    $("body").css({visibility:'visible'});
    </script>
</html> 
{% endblock %}
