{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
		<title>72PI</title>
    <meta name="description" content="" />
    <style>
      body {
        background-color: #B3B5BA!important;
      }
      .trust{
        color: orange !important;
      }  
      .signals-header,
      .analytics-header,
      .stocklist{
          display:none !important;
      }

    </style>
    </head>
	  <body>
      <div class="col-lg-12 privacy-div section-gap">
        <div class="row">
          <div class="col-lg-12  section-1" style="margin:10px auto">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <h3  class="text-center"><label>Trust and Security</label></h3>

                </div>
                <div class="card-body">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    </html> 
{% endblock %}