{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>
        <title>Volume Volatility & Stock Price vs Moving Avg - 72PI </title>  
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/Volume_Volatility.css' %}?v=1.2">
    </head>
    <body>
        <div class="se-pre-con"></div>
        <div class="row row-sm section-gap main volume_volatility_page" style="margin: 2% 0%;">
            <div class="col-sm-12 row page-title  mg-t-20">
                <div class="col-sm-6">
                    <p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        X-Ray Analyzer
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'volume_volatility' %}" class="nav-sub-link">Stock Price vs Moving Average & Volume</a>
                    </p>
                </div>
                <div class="row col-sm-6 justify-content-end">
                        <div class="description_btn">
                            <button>How to Use this Page ?</button>
                        </div>
                        
                </div>
            </div>
           
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div>
            <div class="col-sm-12   main-sub-div2">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="global-portfolio col-sm-12 form-inline mg-b-10 mg-t-0 mg-l-0 pd-l-0">
                            <strong style="font-size:18px;" class="mg-l-0">Select Portfolio</strong>
                            <select id="globalPortfolio" class="form-controls mg-l-20">
                                {% for portfolio in portfolio_names %}
                                <option value='{{portfolio}}'>{{portfolio}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                  
                </div>
            </div>

            <!-- graph section div -->
            <div class="col-md-12 col-lg-12 col-xl-12 mg-b-0">
                <div class="card  pd-t-0">
                    <div class="card-header">
                        <h4 class="card-title text-center"><label>Stock Price vs Moving Average</label></h4>
                    </div>
                    <div class="card-body pd-t-0">
                     

                        <div class="dashboard-five-stacked-charts">
                            <div class="text-right tx-15 ">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-inline">
                                        Select Stock&nbsp; <select class='company text-right' style="width:300px;height:5%">
                                        </select>

                                    </div>
                                </form>
                            </div>
                            <div class="row row-sm price-first-div mg-t-20">

                                <div class="col-sm-8 btns-div">
                                    <button class="btn btn-outline-primary mg-r-10" id="price">Price</button>
                                    <button class="btn btn-outline-success mg-r-10" id="ma9">MA9</button>

                                    <button class="btn btn-outline-info mg-r-10" id="ma20">MA20</button>
                                    <button class="btn btn-outline-warning mg-r-10" id="ma26">MA26</button>

                                    <button class="btn btn-outline-danger mg-r-10" id="ma50">MA50</button>
                                    <button class="btn btn-outline-secondary mg-r-10" id="ma100">MA100</button>
                                    <button class="btn btn-outline-dark mg-r-10" id="ma200">MA200</button>
                                </div>

                            </div>


                            <div class="mg-t-30">
                                <div id="allb"></div>

                            </div>
                        </div><!-- card-body -->
                    </div><!-- card -->
                    <div class="card-header">
                        <h4 class="card-title text-center"><label>Volume</label></h4>
                    </div>
                    <div class="card-body pd-t-0 pd-l-0">
                        <div class="dashboard-five-stacked-charts">


                            <div id="Volume_Volatility" class="mg-t-20 mg-b-0 ">

                            </div>
                            <div class="mg-t-0">
                                <div class="mg-b-20 mg-l-30 btns-div">
                                    <button class="btn btn-outline-secondary mg-r-10" id="rsi_btn">RSI</button>
                                    <button class="btn btn-outline-secondary mg-r-10" id="vol_btn">Volatility</button>
                                </div>
                                <div id="rsi" class="mg-t-0"></div>
                                <div id="vol" class="mg-t-0"></div>
                            </div>



                        </div>
                    </div><!-- card-body -->

                </div><!-- card -->
            </div>

        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Stock Price Vs. Moving Average</label></h3>
              <div class="modal-body">
                  <p>
                    Stock price movement relative to its daily Moving Averages, from 9day to 200day. Volume and Volatility charts to identify spikes in volume on up/down trading days. RSI and Volatility charts to understand the Oversold or OverBought situations.  
                  </p>              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        </div>
        <!--ROW ending-->
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
 $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $("#price").css("background-color", "#3366FF");
        $("#price").css("color", "rgb(255, 255, 255)");
        $("#ma9").css("background-color", "#3BB001");
        $("#ma9").css("color", "rgb(255, 255, 255)");
        $("#ma20").css("background-color", "#17a2b8");
        $("#ma20").css("color", "rgb(255, 255, 255)");
        $("#ma26").css("background-color", "#ffc107");
        $("#ma26").css("color", "rgb(255, 255, 255)");
        $("#ma50").css("background-color", "#DC3545");
        $("#ma50").css("color", "rgb(255, 255, 255)");
        $("#ma100").css("background-color", "#5A6268");
        $("#ma100").css("color", "rgb(255, 255, 255)");
        $("#ma200").css("background-color", "#23272B");
        $("#ma200").css("color", "rgb(255, 255, 255)");
        $("#price").click(function () {

            var background = document.getElementById('price').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#price").css("background-color", "#3366FF");
                $("#price").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#price").css("background-color", "rgb(255, 255, 255)");
                $("#price").css("color", "#3366FF");
            }
            $('#allb .highcharts-legend-item:nth-child(1)').click();
            $(this).toggleClass("leg-clicked");

        });
        $("#ma9").click(function () {
            var background = document.getElementById('ma9').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma9").css("background-color", "#3BB001");
                $("#ma9").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma9").css("background-color", "rgb(255, 255, 255)");
                $("#ma9").css("color", "#3BB001");
            }
            $('#allb .highcharts-legend-item:nth-child(2)').click();
            $(this).toggleClass("leg-clicked");
        });
        $("#ma20").click(function () {
            var background = document.getElementById('ma20').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma20").css("background-color", "#17a2b8");
                $("#ma20").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma20").css("background-color", "rgb(255, 255, 255)");
                $("#ma20").css("color", "#17a2b8");
            }
            $('#allb .highcharts-legend-item:nth-child(3)').click();
            $(this).toggleClass("leg-clicked");
        });
        $("#ma26").click(function () {
            var background = document.getElementById('ma26').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma26").css("background-color", "#ffc107");
                $("#ma26").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma26").css("background-color", "rgb(255, 255, 255)");
                $("#ma26").css("color", "#ffc107");
            }
            $('#allb .highcharts-legend-item:nth-child(4)').click();
            $(this).toggleClass("leg-clicked");
        });
        $("#ma50").click(function () {
            var background = document.getElementById('ma50').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma50").css("background-color", "#DC3545");
                $("#ma50").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma50").css("background-color", "rgb(255, 255, 255)");
                $("#ma50").css("color", "#DC3545");
            }
            $('#allb .highcharts-legend-item:nth-child(5)').click();
            $(this).toggleClass("leg-clicked");
        });


        $("#ma100").click(function () {
            var background = document.getElementById('ma100').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma100").css("background-color", "#5A6268");
                $("#ma100").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma100").css("background-color", "rgb(255, 255, 255)");
                $("#ma100").css("color", "#5A6268");
            }
            $('#allb .highcharts-legend-item:nth-child(6)').click();
            $(this).toggleClass("leg-clicked");
        });
        $("#ma200").click(function () {
            var background = document.getElementById('ma200').style.backgroundColor;

            if (background == "rgb(255, 255, 255)") {
                $("#ma200").css("background-color", "#23272B");
                $("#ma200").css("color", "rgb(255, 255, 255)");
            }
            else {
                $("#ma200").css("background-color", "rgb(255, 255, 255)");
                $("#ma200").css("color", "#23272B");
            }
            $('#allb .highcharts-legend-item:nth-child(7)').click();
            $(this).toggleClass("leg-clicked");
        });


        $(document).ready(function () {
            var currentPortfolio = '{{current_portfolio}}';
            $('#globalPortfolio').val(currentPortfolio);
        })
        $(document).on("change", "#globalPortfolio", function () {
            var portfolioName = document.getElementById("globalPortfolio").value;
            window.location.href = "{% url 'volume_volatility' %}?portfoliochanged-to=" + portfolioName;
            return false;
        });
        $("#rsi").show()
        $("#vol").hide()
        $("#rsi_btn").css("background-color", "#800080");
        $("#rsi_btn").css("color", "rgb(255, 255, 255)");



        $("#rsi_btn").click(function () {

            $(this).css("background-color", "#800080");
            $("#rsi_btn").css("color", "rgb(255, 255, 255)");
            $("#vol_btn").css("background-color", "rgb(255, 255, 255)");
            $("#vol_btn").css("color", "black");
        
            $("#rsi").show()
            $("#vol").hide()
        })
        $("#vol_btn").click(function () {
            $(this).css("background-color", "#800080");
            $(this).css("color", "rgb(255, 255, 255)");

            $("#rsi_btn").css("background-color", "rgb(255, 255, 255)");
            $("#rsi_btn").css("color", "black");
        
            $("#rsi").hide()
            $("#vol").show()
        })
       
        var company = {{ company| safe}}
        var company_ticker = {{ company_ticker| safe}}

        for (i = 0; i < company.length; i++) {
            $('.company').append($('<option>', {
                value: company_ticker[i],
                text: company[i]
            }));
        }


        $("#allb").show()


        $(".company").change(function () {
            $('.se-pre-con').fadeIn(1);
            get_data($(".company option:selected").val(), $(".company option:selected").text())
        })
        get_data($(".company option:selected").val(), $(".company option:selected").text())

        function get_data(required_value, required_value2) {
        
            $.ajax({
                url: "{% url 'volume_volatility' %}",
                type: 'post',
                data: { 'required_value': required_value, 'required_value2': required_value2 },
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                   
                    $('.se-pre-con').fadeOut(1);

                    graph(json.price_list, json.volume_list, json.rsi, json.volatility, json.max_vol, json.rsi_price, json.vol_price)
                    graph2(json.output)

                },
                error: function (json) {

                    console.log("error")
                }

            });




            function graph(price_list, volume_list, rsi_list, volatility_list, max_vol, rsi_price, vol_price) {
                function date_conversion(output) {
                    for (j = 0; j < output[0].length; j++) {
                        var temp = output[0][j][0]

                        var date = new Date(temp)
                        var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        output[0][j][0] = now_utc;
                    }
                    return output
                }
                price_list = date_conversion(price_list)
                volume_list = date_conversion(volume_list)
                rsi_list = date_conversion(rsi_list)
                volatility_list = date_conversion(volatility_list)

                rsi_vol('rsi', rsi_list[0])
                rsi_vol2('vol', volatility_list[0])

                function rsi_vol2(graph_name, data, data1) {
                    if (graph_name == 'vol') {
                        sym = '%';

                        gname = 'Volatility'
                    }
                    else {
                        sym = '';

                        gname = 'RSI'
                    }
                    Highcharts.chart(graph_name, {
                        chart: {
                            zoomType: 'xy',
                            backgroundColor: "transparent",

                            height: 250,


                        },
                        title: {
                            text: null
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                    enabled: false
                                },

                            }
                        },

                        xAxis: [{
                            type: 'datetime',
                            dateTimeLabelFormats: { // don't display the dummy year
                                day: '%e-%b-%y',
                                week: '%e-%b-%y',
                                month: '%b-%y',
                                year: '%Y'

                            },
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                            tickLength: 6,
                            tickWidth: 1,
                            crosshair: true
                        }],
                        yAxis: [


                            { // Secondary yAxis
                                title: {
                                    text: gname,

                                },
                                gridLineWidth: 0,
                                lineWidth: 1,
                                tickLength: 6,
                                tickWidth: 1,
                                labels: {
                                    formatter: function () {
                                        return (this.value).toFixed(0) + sym;
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px ',
                                        fontWeight: 'normal'
                                    },
                                },

                            }],

                        tooltip: {

                            formatter: function () {

                                if (graph_name == 'rsi')
                                    return "Date : " + '<b>' +
                                        Highcharts.dateFormat('%d-%b-%Y',
                                            new Date(this.x)) + '<br></b>'
                                        + "RSI : " + '<b>' + (this.y).toFixed(0) + '</b>';
                                else {

                                    return "Date : " + '<b>' +
                                        Highcharts.dateFormat('%d-%b-%Y',
                                            new Date(this.x)) + '<br></b>'
                                        + "Volatility : " + '<b>' + (this.y).toFixed(0) + '%</b>';
                                }

                            },
                            style: {
                                color: '#031b4e',
                                font: '13px ',
                                fontWeight: 'normal'
                            },

                        },




                        series: [

                            {
                                name: gname,
                                type: 'spline',
                                data: data,
                                color: 'purple',
                                tooltip: {
                                    valueSuffix: sym,

                                }

                            }]

                    });
                }





                function rsi_vol(graph_name, data, data1) {
                    if (graph_name == 'vol') {
                        sym = '%';

                        gname = 'Volatility'
                    }
                    else {
                        sym = '';

                        gname = 'RSI'
                    }
                    Highcharts.chart(graph_name, {
                        chart: {
                            zoomType: 'xy',
                            backgroundColor: "transparent",

                            height: 250,


                        },
                        title: {
                            text: null
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                    enabled: false
                                },

                            }
                        },

                        xAxis: [{
                            type: 'datetime',
                            dateTimeLabelFormats: { // don't display the dummy year
                                day: '%e-%b-%y',
                                week: '%e-%b-%y',
                                month: '%b-%y',
                                year: '%Y'

                            },
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                            tickLength: 6,
                            tickWidth: 1,
                            crosshair: true
                        }],
                        yAxis: [


                            { // Secondary yAxis
                                title: {
                                    text: gname,

                                },
                                gridLineWidth: 0,
                                lineWidth: 1,
                                tickLength: 6,
                                tickWidth: 1,
                                labels: {
                                    formatter: function () {
                                        return (this.value).toFixed(0) + sym;
                                    },
                                    style: {
                                        color: '#031b4e',
                                        font: '13px ',
                                        fontWeight: 'normal'
                                    },
                                },
                                plotLines: [{
                                    color: 'grey',
                                    dashStyle: "Dash",
                                    width: 1,
                                    value: 30,
                                    label: {
                                        text: "oversold=30",
                                        align: 'left',
                                        y: -5, /*moves label down*/
                                        style: {
                                            color: '#031b4e',
                                            font: '10px ',
                                            fontWeight: 'normal'
                                        },
                                    }
                                },
                                {
                                    color: 'grey',
                                    dashStyle: "Dash",
                                    width: 1,
                                    value: 70,
                                    label: {
                                        text: "overbought=70",
                                        align: 'left',
                                        y: -5, /*moves label down*/
                                        style: {
                                            color: '#031b4e',
                                            font: '10px',
                                            fontWeight: 'normal'
                                        },
                                    }
                                }],

                            }],

                        tooltip: {

                            formatter: function () {

                                if (graph_name == 'rsi')
                                    return "Date : " + '<b>' +
                                        Highcharts.dateFormat('%d-%b-%Y',
                                            new Date(this.x)) + '<br></b>'
                                        + "RSI : " + '<b>' + (this.y).toFixed(0) + '</b>';
                                else {

                                    return "Date : " + '<b>' +
                                        Highcharts.dateFormat('%d-%b-%Y',
                                            new Date(this.x)) + '<br></b>'
                                        + "Volatility : " + '<b>' + (this.y).toFixed(0) + '%</b>';
                                }

                            },
                            style: {
                                color: '#031b4e',
                                font: '13px ',
                                fontWeight: 'normal'
                            },

                        },




                        series: [

                            {
                                name: gname,
                                type: 'spline',
                                data: data,
                                color: 'purple',
                                tooltip: {
                                    valueSuffix: sym,

                                }

                            }]

                    });
                }





                Highcharts.chart('Volume_Volatility', {
                    chart: {
                        zoomType: 'xy',
                        backgroundColor: "transparent",

                        height: 250,


                    },
                    title: {
                        text: null
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        buttons: {
                            contextButton: {
                                enabled: false
                            },

                        }
                    },

                    xAxis: [{
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            day: '%e-%b-%y',
                            week: '%e-%b-%y',
                            month: '%b-%y',
                            year: '%Y'

                        },
                        labels: {
                            style: {
                                color: '#031b4e',
                                font: '13px ',
                                fontWeight: 'normal'
                            },
                        },
                        tickLength: 6,
                        tickWidth: 1,
                        crosshair: true
                    }],
                    yAxis: [
                        { // Secondary yAxis
                            title: {
                                text: 'Volume',

                            },


                            gridLineWidth: 0,
                            lineWidth: 1,
                            tickLength: 6,
                            tickWidth: 1,
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                            },

                        },

                    ],

                    tooltip: {
                        formatter: function () {
                            var s = [];
                            var count = 0
                            $.each(this.points, function (i, point) {
                                if (count == 0)
                                    s.push('Date: <b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(point.x)) + '</b><br>');
                                count = 1
                                if ('{{symbol|safe}}' == '$')
                                    flag = 'en-US'
                                else
                                    flag = 'hi-IN'
                                if (point.series.name == 'Volume') {
                                    s.push(point.series.name + ' : <b>' +
                                        (point.y).toLocaleString(flag, { maximumFractionDigits: 0 })

                                        + '</b><br>');
                                }

                                else {

                                    s.push(point.series.name + ' : <b>' +
                                        (point.y).toLocaleString(flag, { maximumFractionDigits: 0 })


                                        + '</b><br>');

                                }

                            });

                            return s.join('<br>');
                        },
                        shared: true
                    },


                    series: [
                        {
                            name: 'Volume',
                            type: 'column',

                            data: volume_list[0],
                            color: 'green'

                        },
                        {
                            name: 'Volume_20Day',
                            type: 'spline',
                            color: 'blue',
                            data: price_list[0],

                        }

                    ]
                });

            }


            function graph2(output) {

                var graph_data = output
                for (i = 0; i < graph_data.length; i++) {
                    for (j = 0; j < graph_data[i]['data'].length; j++) {
                        var temp = graph_data[i]['data'][j][0]
                        var date = new Date(temp)
                        var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                        graph_data[i]['data'][j][0] = now_utc;
                    }
                }
                MA9 = [graph_data[0], graph_data[1]]

                MA20 = [graph_data[0], graph_data[2]]
                MA26 = [graph_data[0], graph_data[3]]

                MA50 = [graph_data[0], graph_data[4]]
                MA100 = [graph_data[0], graph_data[5]]
                MA200 = [graph_data[0], graph_data[6]]

                all_charts('allb', graph_data)

                function all_charts(gname, data) {
                    Highcharts.chart(gname, {
                        chart: {
                            type: 'line',
                            backgroundColor: "transparent",


                        },
                        title: {
                            text: ' ',
                            style: {
                                color: '#1C273C',
                                font: '13px',
                                fontWeight: 'normal'
                            },
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            buttons: {
                                contextButton: {
                                    enabled: false
                                },

                            }
                        },
                        xAxis: {
                            type: 'datetime',
                            dateTimeLabelFormats: { // don't display the dummy year
                                day: '%e-%b-%y',
                                week: '%e-%b-%y',
                                month: '%b-%y',
                                year: '%Y'

                            },
                            labels: {
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                            tickLength: 6,
                            tickWidth: 1,

                            startOnTick: false,
                        },
                        yAxis: {
                            gridLineWidth: 0,
                            lineWidth: 1,
                            tickLength: 6,
                            tickWidth: 1,
                            labels: {
                                formatter: function () {
                                    if ('{{symbol|safe}}' == '$')
                                        flag = 'en-US'
                                    else
                                        flag = 'hi-IN'
                                    return (this.value).toLocaleString(flag, { maximumFractionDigits: 0 })

                                },
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                            title: {
                                text: null,
                                style: {
                                    color: '#031b4e',
                                    font: '13px ',
                                    fontWeight: 'normal'
                                },
                            },
                            plotLines: [{
                                color: '#F2F2F2',
                                width: 2,
                                value: 0
                            }]
                        },
                        tooltip: {
                            formatter: function () {
                                var s = [];
                                var count = 0
                                $.each(this.points, function (i, point) {
                                    if ('{{symbol|safe}}' == '$')
                                        flag = 'en-US'
                                    else
                                        flag = 'hi-IN'
                                    if (count == 0)
                                        s.push('Date: <b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(point.x)) + '</b><br>');
                                    count = 1

                                    if (this.series.name == 'Price') {
                                        s.push(point.series.name + ' : <b>{{symbol|safe}}' +
                                            (point.y).toLocaleString(flag, { maximumFractionDigits: 0 }) + '</b><br>');
                                    }
                                    else {
                                        s.push(point.series.name + ' : <b>' + (point.y).toLocaleString(flag, { maximumFractionDigits: 0 }) + '</b><br>')
                                    }



                                });

                                return s.join('<br>');
                            },
                            shared: true,
                            style: {
                                color: '#031b4e',
                                font: '13px ',
                                fontWeight: 'normal'
                            },
                        },
                        plotOptions: {
                            series: {
                                marker: {
                                    enabled: false,
                                    symbol: "circle"
                                }
                            }
                        },
                        legend:
                        {
                            itemStyle: {
                                color: '#031B4E',
                                
                                fontSize: '15px'

                            },
                        },
                        series: data,

                    });
                }
            }
        }
        $("body").css({visibility:'visible'});
    </script>
    {% endblock %}











    