{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <title>Welcome Page - 72PI </title>  
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
  <link rel="stylesheet" href="{% static 'css/WelcomePage.css' %}?v=1.2">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
</head>
<body>
  <div class="col-lg-12 welcomepage" style="padding:85px 15px">
    <div class="row">
      <div class="col-lg-12 section-1">
        <div class="container text-center">
          <!-- <h1 class="text-center text-white">WELCOME to 72PI</h1>
          <h2 class="text-center mg-t-10" style="color:orange">DO what the market is DOING</h2> -->
          <div class="text-center mg-t-20 mg-b-0"><a href="{% url 'tradeSignals' %}" class="text-center start-btn">Explore our Products<i class="mg-l-5 fa fa-angle-double-right"></i></a></div>
        </div>
      </div>
      
      <div class="col-lg-12 section-2 mg-t-10 step7-div">
        <div class="container mg-t-0">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4 img-title" style="white-space: nowrap;">
                <h2 class="text-left" style="z-index:999;color:#5627D8;transform: translate(0%, 500%);">7 Steps to your Personalized Hedge Fund
                </h2>
              </div>
              <div class="col-lg-8" style="z-index:-999">
                <img class="img-fluid mg-t-10" height="300" width="900"
                  src="{% static 'images/72PI_Landing.png' %}" alt='No Image'/>
              </div>
            </div>
          </div>
          <div class="li-div mg-t-20">
          <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">72PI Portfolio:</strong>
              Our portfolio designed with fundamental, quantitative, technical and situational analyses. Adjusted 1 to 3 times per month depending on market conditions. Our performance is time stamped and measured in a transparent manner. Other Model Portfolios available to users. 
          </p>
          <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">Wizard:</strong>
              Automated quantitative filtering of different indices for stock and sector ideas. 
          </p>
          <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">Portfolio Creator:</strong>
              Create portfolios by selecting stocks by sector, and market capitalization. Create portfolios by filtering with fundamental and technical data factors such as Sales Growth, PE multiple, EPS Growth, Dividend Yield, ROE and many other factors. You can also import portfolios.     
           </p>
          <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18">X-Ray Your Portfolio:</strong>
              Analyze your portfolios with 72PI for deep dive into the portfolio performance and understand returns, risk / volatility of portfolio and overall recommendations.
          </p>
          <p>
              <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
              <strong class="tx-18"> Optimizer:</strong>
              For a portfolio, run efficient frontier simulations to understand expected portfolio returns and risk. To compare the portfolio weights of different optimization models. Helps in fine tuning the amount of investment for each position in your portfolio.      
           </p>
           <p>
            <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
            <strong class="tx-18"> Advance Quant:</strong>
            Futures & Options based quantitative model and a proprietary Machine Learning technique based quantitative model are used to predict 1 to 3 months relative performance of stocks and sectors.           </p>
         <p>
          <i class="fa fa-hand-o-right mg-r-5 tx-18" aria-hidden="true"></i>
          <strong class="tx-18">  Reports & Insights:</strong>
          72PI team will curate market Insights into a structured content for easy digestion and understanding of markets. The 72PI research team provides custom research on a select list of companies.         </p>
            </div>
        </div>
      </div>
      <div class="col-lg-12 section-3">
        <p class="text-center">We like to hear your thoughts and feedback, write to us at 
          <strong class="tx-20">
            <a href="mailto:72pi@72pi.ai" target="_top">72pi@72pi.ai</a>
          </strong>
        </p>
      </div>
    </div>
  </div>
</body>
<script>

  $('.div2').height($('.div1').height())

  $("body").css({visibility:'visible'});
</script>


</html> 
{% endblock %}