li label {
    padding: 10px !important;
    color: #000 !important
}

.my_account .fa-caret-down {
    margin-left: 5px !important;
    font-weight: 300 !important
}

.stock_updates {
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    color: #000
}

.stock_updates ul li {
    float: left;
    font-size: 12px;
    margin: 0;
    margin-right: 5px;
    color: #000;
    line-height: 30px;
    padding: 0
}


.fl-fl {
    text-transform: uppercase;
    padding: 3px;
    width: 40px;
    position: fixed;
    right: -10px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.float-sm .fa {
    font-size: 20px;
    color: #fff;
    padding: 6px 20px 6px 6px;
    width: 40px;
    margin-left: 0px;
}

.fl-fl:hover {
    right: 0
}

.fl-fl a {
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 4px !important;
    font-style: italic;
    font-size: 13px
}

.float-get {
    background: orange !important;
    top: 140px;
    padding-left: 15px;
    width: 45px !important;
    right: -15px !important;
    border-radius: 20px !important;
    padding: 15px 0 15px 15px !important;
    color: #000 !important
}

.float-get a {
    color: #000 !important
}

:root {
    --top: 520px
}

.float-fb {
    background: #38529a !important;
    top: calc(var(--top) - 135px)
}

.float-tw {
    background: #4da6e9 !important;
    top: calc(var(--top) - 90px)
}

.float-insta {
    background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); ;
    top: calc(var(--top) - 45px);
    
}
.float-insta i{
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; */
    color:white
}
.float-in {
    background: #007bb5 !important;
    top: var(--top)
}

.float-yt {
    background: #b00 !important;
    top: calc(var(--top) + 45px)
}

@media only screen and (min-width:1580px) {
    :root {
        --top: 700px
    }

    .float-fb {
        top: calc(var(--top) - 135px)
    }

    .float-tw {
        top: calc(var(--top) - 90px)
    }

    .float-insta {
        top: calc(var(--top) - 45px)
    }

    .float-in {
        top: var(--top)
    }

    .float-yt {
        top: calc(var(--top) + 45px)
    }
}

.green_text,
.ltp,
.red_text {
    font-weight: 700 !important
}

@media (min-width:600px) {
    .topheader .container {
        max-width: 100vw !important
    }
}

#stock_updates_data li {
    text-align: center !important
}

#stock_updates_data {
    width: 100%
}

#stock_updates_data .market_tab {
    text-align: center !important;
    font-size: 12.5px !important
}

#stock_update_tick {
    height: 30px;
    min-height: 30px;
    max-height: 30px
}

.useful-links-ul li a {
    color: #cdd7eb
}

.country-select {
    border: none !important;
    border-radius: 0;
    background: 0 0;
    padding-left: 15px !important;
    padding-right: 10px !important;
    width: 100%;
    font-size: 16px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: 0 0;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100% !important;
    background-position-y: 5px !important;
    margin-right: .8rem !important;
    outline: 0 !important
}

.country-select option {
    background: 0 0 !important;
    border: none !important;
    padding: 10px !important
}

.country-select option[value=India] {
    background-image: url(../images/us_flag.png) !important
}

.country-select-mobile {
    background-color: #fff !important;
    color: #000 !important;
    display: inline !important;
    border: none !important
}
/* 
.country_dropdown {
    width: 120px !important;
    margin-left: 50px !important
} */

.country_div {
    width: 100% !important;
    margin-left: 0 !important
}

.baselogin {
    background-color: #1a0c4b;
    color: #fff !important;
    padding: 5px 10px 6px 10px !important
}

.dummydiv .baselogin {
    background-color: transparent !important;
    color: #fff !important
}

.country_div {
    background-color: #fff !important;
    padding: 10px !important
}

@media (min-width:768px) and (max-width:955px) {
    .container {
        max-width: 920px !important
    }
}

b {
    color: #5627d8 !important
}

.errorlist {
    color: red;
    margin-bottom: 10px
}

.myaccount {
    color: #000 !important
}

button,
input {
    outline: 0 !important
}

.no-js #loader {
    display: none
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/load2.gif) center no-repeat transparent
}

.se-pre-con2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/load2.gif) center no-repeat #fff
}

.modal-open {
    padding: 0 !important;
    overflow-y: auto
}

.notification_modal_dialog {
    margin-right: 0 !important;
    margin-top: 80px;
    width: 300px !important
}

@media only screen and (max-width:980px) {

    .notification_modal_dialog .note_head .col-lg-4,
    .notification_modal_dialog .note_head .col-lg-8 {
        width: 50% !important
    }
}

@media only screen and (max-width:578px) {
    .notification_modal_dialog {
        margin-right: 0 !important;
        width: 70% !important;
        float: right !important
    }
}

@media only screen and (max-width:350px) {
    .notification_modal_dialog {
        margin-right: 2% !important;
        width: 98% !important
    }
}

.notification .badge {
    position: absolute;
    left: 20px;
    padding: 3px 4px;
    background-color: red;
    color: #fff
}

.show-all {
    display: block;
    text-align: center;
    text-decoration: none
}

.note_head,
.show-all {
    background: #5627d8;
    color: #fefefe;
    margin: 0;
    padding: 10px 1px 10px 10px
}

.note_head h5 {
    color: #fefefe
}

.note_head {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.show-all:hover {
    text-decoration: none;
    color: #fff
}

.close {
    outline: 0 !important
}

.view-notfi {
    min-height: 24px !important;
    height: 24px !important;
    padding: 1px 7px !important;
    font-size: 13px !important;
    border-radius: 2px !important;
    min-width: fit-content !important
}

.msgdiv {
    background-color: #dadada;
    height: 310px
}

.msgdiv .scroll-div {
    height: 100% !important
}

.div-read-click {
    cursor: pointer;
    background-color: #cce5ff;
    border-bottom: none !important
}

.div-read-click div {
    margin-top: -4px !important
}

.div-read-click div:first-child {
    margin-top: 0 !important
}

.read-div {
    background-color: #ecf0f1 !important
}

#notification_modal {
    background-color: transparent !important;
    background-color: rgba(0, 0, 0, 0) !important
}

.my_account .fa-caret-down {
    margin-left: 5px !important;
    font-weight: 300 !important
}

body {
    visibility: hidden
}

.notif-bell {
    padding-top: 3px !important
}

#countries dt img,
#countries ul img {
    height: 20px !important;
    width: 20px !important;
    margin: 5px 10px 5px 5px !important
}

.nav-menu ul.country-ul li {
    min-width: 120px !important;
    cursor: pointer
}

.nav-menu ul.country-ul li:hover {
    cursor: pointer;
    background-color: orange;
    color: #fff
}

.dropdown dt a span::after {
    content: "\f0d7";
    font-family: fontawesome;
    margin-left: 10px
}

#mobile-nav ul li.country_dropdowns li {
    padding-left: 0 !important;
    color: #fff !important;
    cursor: pointer !important
}
/* .main-menu,
.container{
    min-width: 92vw !important;
} */