body {
    background: #fbfbfb !important;
}

.blogs-li {
    background-color: #5627D8;
    color: white !important;
}
.main-tab{
    padding: 5px 10px 6px 10px !important;

}
.country_dropdown {
    visibility: hidden;
}

.subnav-content {
    display: none
}

#contentnbt {
    max-width: 1200px;
    padding: 2em;
    margin: 0 auto;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footernbt:before,
.entry-footernbt:after,
.site-headernbt:before,
.site-headernbt:after,
.site-contentnbt:before,
.site-contentnbt:after,
.site-footernbt:before,
.site-footernbt:after {
    content: "";
    display: table;
}

@media screen and (max-width: 960px) {
    #primarynbt {
        margin-right: 35%;
        width: 65%;
    }
}

#primarynbt {
    float: right;
    margin-right: 25%;
    padding-right: 2em;
    width: 75%;
}

@media screen and (max-width: 960px) {
    #secondarynbt {
        width: 35%;
    }
}

#secondarynbt {
    float: right;
    width: 25%;
    margin-right: -100%;
    margin-left: 2em;
    padding-left: 2em;
    border-left: 1px solid #eee;
}

h3.entry-title {
    font-size: 24px;
    text-align: left;
    font-weight: 600;
}
h3 a{
    color:black !important
}
h2.date-header {
    margin: 10px 0px;
    display: none;
}

.section:last-child .widget:last-child {
    margin-bottom: 0;
}

.section:first-child .widget:first-child {
    margin-top: 0;
}

.section,
.widget {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.hentry {
    margin: 0 0 1.5em;
}

.content-outer,
.header-outer,
.tabs-outer,
.main-outer,
.main-inner,
.footer-outer,
.post,
.comments,
.widget,
.date-header,
.inline-ad {
    position: relative;
    min-height: 0;
    _position: static;
    _height: 1%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

.entry-metanbt,
.entry-metanbt a,
.entry-metanbt a:visited {
    color: #aaa;
}

.entry-metanbt {
    font-size: 14px;
    font-style: italic;
    color: #aaa;
}

.entry-content {
    margin: 1.5em 0 1em;
}

.post-body {
    width: 100%;
    _overflow: hidden;
}

.pbtthumbimg {
    float: left;
    margin: 0px 10px 5px 0px;
    padding: 4px;
    border: 0px solid #eee;
    background: none;
    width: 200px;
}

.entry-footernbt {
    padding-bottom: 1em;
    font-size: 14px;
}

.pbtsharethisbutt {
    overflow: hidden;
    padding: 10px 0 10px;
    margin: 0;
    font-size: 14px;
    border-bottom: 1px solid #eee;

}

.pbtsharethisbutt ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget ul,
.widget li {
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
}

.pbtsharethisbutt ul li {
    float: left;
    margin: 0 10px;
    padding: 0;
}

.pbtsharethisbutt ul li:first-child {
    margin: 0;
}

#secondarynbt .widget {
    margin: 0 0 1.5em;
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
}
.social-buttonsnbt {
    font-size: 26px !important;
    margin: 0 0 10px 0 !important;
    padding: 10px !important;
}
#secondarynbt .widget a, #secondarynbt .widget a:visited {
    color: #404040;
}

.search-submitnbt {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-appearance: button;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    padding: .6em 1em .4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.screen-reader-textnbt {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.widget_searchnbt .search-fieldnbt {
    margin-bottom: 1.5em;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1em;
    padding: 5px;
}
#secondarynbt .widget {
    margin: 0 0 1.5em;
    font-size: 0.9em;
    border-bottom: 1px solid #eee;
}
#secondarynbt .widget h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #222;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 0 0 0.5em;
}
#secondarynbt .widget ul {
    list-style-type: none;
    margin: 0 0 1em;
}
.PopularPosts .widget-content ul li {
    padding: 6px 0px;
}

.PopularPosts .item-thumbnail {
    float: left;
    margin: 0 5px 5px 0;
}
.PopularPosts .item-title {
    padding-bottom: .2em;
}

.widget-item-control {
    float: right;
    height: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 10;
}
.item-control {
    display: none;
}

.pbtfacebook a,
.fb-a{
    color: #38529A !important;
}

.pbttwitter a,
.twitt-a  {
    color: #4DA6E9 !important;
}

.pbtgoogle a {
    color: #C94439 !important;
}
.pbtinsta a i,
.insta-a {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.pbtlinkedin a,
.linkedin-a {
    color: #007BB5 !important;
}
.youtube-a{
    color:#BB0000 !important;
}
@media screen and (max-width: 600px)
{
    #secondarynbt {
        border-left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 600px)
{
    #primarynbt, #secondarynbt {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.single-site-contentnbt .pbtthumbimg {
    float: left;
    margin: 0px 10px 5px 0px;
    padding: 4px;
    border: 0px solid #eee;
    background: none;
    width: 400px;
}
.single-site-contentnbt #primarynbt {
    /* float: right; */
    margin-right: 0% !important;
    /* padding-right: 2em; */
    width: 100% !important;
}
.my-auto{
    margin:0px auto !important;
}
.single-site-contentnbt h3{
    font-size:30px !important;
}
.single-site-contentnbt p{
    font-size:16px !important;
}