.baselogin{color:#ffa400!important}.bg1{background-color:#3b5998}.bg3{background-color:#ea4335}input{width:100%!important;height:38px!important;padding:7px;color:#222;border:1px solid #d3d3d3;border-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,.1);transition:border-color .15s linear,box-shadow .1s linear;-webkit-font-smoothing:antialiased;margin-bottom:10px!important}input:focus{border:1px solid #1a0c4b!important;outline:0!important}.card{border-radius:5px}@media only screen and (max-width:1950px){.card{width:20vw!important}}@media only screen and (max-width:1550px){.card{width:25vw!important}}@media only screen and (max-width:1210px){.card{width:30vw!important}}@media only screen and (max-width:1050px){.card{margin-top:5vh!important;width:40vw!important}}@media only screen and (max-width:901px){.card{margin-top:5vh!important;width:40vw!important}}@media only screen and (max-width:751px){.card{margin-top:5vh!important;width:50vw!important}}@media only screen and (max-width:600px){.card{margin-top:5vh!important;width:60vw!important}}@media only screen and (max-width:500px){.card{margin-top:5vh!important;width:80vw!important}.icon{width:95%!important}}.section-gap{padding:57px!important;margin:6% auto 0 auto}.icon{color:#fff;font-size:14px;min-height:20px!important;min-width:90%!important;width:90%!important;padding:5px 20px!important;margin:0!important}.icon .fa{margin-right:1px}@media (min-width:700px){.col-md-6{margin-left:25%!important;padding:0!important}}.logincol{margin-left:0!important}.col-md-12{padding:0!important}.form-control{margin-bottom:1rem!important}.subnav-content{display:none!important}.country_dropdown{visibility:hidden!important}#load-modal{
    padding-right:0px !important
  }
  #load-modal .modal-dialog {
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
  }
  
  #load-modal .modal-content {
    width:100%;
    height: 100%;
    border-radius: 0;
  }
  .loader-full-width {
      position: fixed;
      top: 0;
      left: 0px;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 20;
  }
  .loader-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
      color: #3b4452;
      font-family: arial, sans-serif;
      font-weight: 600;
      font-size: 20px;
  }body{background-color:#1a0c4b!important;visibility:hidden}