.products {
    background-color: #5627d8;
    color: #fff !important
}

.sub-tab2 {
    background-color: #fff;
    color: orange !important;
    padding: 1.8px 10px 2.2px 10px !important
}

.subnav-content li.menu-active a,
.wizard-li a {
    color: orange !important;
    background-color: #fff;
    margin-top: 1px
}
@media only screen and (min-width:1100px){
    .nav-wizard li{
    width:20% !important;
    }
    .nav-wizard li:last-child{
        width:19% !important;
    }
    .nav-wizard li table{
        width:100% !important;
    }
}
@media only screen and (max-width:362px) {
    .topheader .container {
        padding: 2px 5px 2px 0 !important
    }
}

body {
    background-color: #b3b5ba !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.nav {
    padding-right: 0 !important
}

.nav-pills.nav-wizard>li .tables_div {
    position: relative;
    overflow: visible;
    border: 1px solid #1a0c4b
}

.nav-pills.nav-wizard>li a {
    border-radius: 0;
    background-color: #eee;
    padding: 10px
}

.first-div,
.nav-pills.nav-wizard>li.active a {
    background-color: #1a0c4b;
    border-bottom: 1px solid #fff
}

.btn-primary,
.btn-primary:hover {
    background-color: #1a0c4b;
    padding: 9px 20px;
    font-size: 16px !important
}

.table th {
    text-align: center !important
}

#step1 .table td:nth-child(2),
#step1.table td:nth-child(1),
#step1.table th:nth-child(1),
#step1.table th:nth-child(2),
#step2 .table td:nth-child(2),
#step2.table td:nth-child(1),
#step2.table th:nth-child(1),
#step2.table th:nth-child(2),
#step3 .table td:nth-child(2),
#step3.table td:nth-child(1),
#step3.table th:nth-child(1),
#step3.table th:nth-child(2),
#step4 .table td:nth-child(2),
#step4.table td:nth-child(1),
#step4.table th:nth-child(1),
#step4.table th:nth-child(2) {
    text-align: left !important
}

.table td:nth-child(1),
.table th:nth-child(1) {
    text-align: left !important
}

.progress-bar {
    color: #000;
    background-color: orange
}

.radiolabel {
    font-size: 13px;
    margin-left: .2rem;
    padding: 20px 20px;
    width: 90%;
    text-align: left
}

#step2custom-div,
#step2default-div {
    font-size: 12px !important;
    padding-left: 2rem;
    margin-top: 10px;
    text-align: left
}

.nav-pills.nav-wizard>li.active .tables_div {
    background-color: #1a0c4b !important;
    color: #fff !important
}

.nav-pills.nav-wizard>li.active b,
.nav-pills.nav-wizard>li.active table th {
    color: #fff !important;
    border-right: 0 solid #fff
}

.steptable td:first-child {
    text-align: left !important
}

.steptable th {
    background-color: transparent !important;
    color: #000 !important;
    padding: 5px !important;
    font-size: 12px !important
}

.steptable {
    margin-bottom: 10px
}

.collapsebtn {
    padding: 2px 5px !important;
    font-size: 12px !important;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 10px 0
}

.well {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important
}

.company:hover {
    color: orange !important;
    text-decoration: underline !important;
    cursor: pointer !important
}

.table tbody td.company {
    color: orange !important
}

.container::after,
.container::before,
.nav::after,
.nav::before,
.row::after,
.row::before {
    content: none !important
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1340px
    }
}

@media (min-width:1600px) {
    .container {
        max-width: 1540px
    }
}

@media (min-width:1800px) {
    .container {
        max-width: 1740px
    }
}

a {
    text-decoration: none !important
}

.subnav-content {
    margin-top: 10px !important
}

.wrapper {
    height: 70vh !important
}

.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none;
    -ms-user-select: none !important;
    user-select: none !important
}

.nav-mobile-products,
.wizard-li a {
    color: orange !important;
    background-color: transparent !important
}

.company {
    color: orange !important;
    cursor: pointer !important
}

.table tbody td.company {
    color: orange !important
}

.subnav-content li.menu-active a,
.wizard-li a {
    color: orange !important;
    background-color: #fff !important;
    margin-top: 1px
}

@media only screen and (max-width:578px) {
    h3 label {
        font-size: 16px !important
    }
}

footer {
    display: none !important
}

.footer-div {
    background: #0f152f !important;
    margin-right: -15px !important;
    margin-left: -15px !important
}

.section-gap {
    padding-bottom: 0 !important
}

.wizard-table-div {
    padding: 0 20px !important
}

@media (min-width:1200px) {
    .footer-div .container {
        max-width: 1340px !important
    }
}

.radio-select-div select {
    font-size: 13px !important;
    padding: 1px !important;
    max-width: 100% !important;
    border: 1.5px solid #fff !important
}

.radio-select-div select option {
    color: #000
}

.first-div {
    padding: 5px !important;
    border-bottom: 2px solid #fff
}

.loader1 {
    background-position: 50% 30% !important;
    width: 98% !important
}

body {
    visibility: hidden
}

.active .tables_div table td {
    color: #fff !important
}

.nav-pills.nav-wizard>li.active .tables_div table td {
    color: #fff !important
}

.closeport {
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important
}

.closeport,
.saveport {
    min-width: 60px !important;
    padding: 4px 5px !important;
    min-height: 30px !important
}

.msgdiv {
    height: 310px !important;
    overflow-y: scroll !important
}
.nav>li.notif-bell>a {
 
    padding: 2px 5px !important;
}
body {
    visibility: hidden
}