.products {
    background-color: #5627d8;
    color: #fff !important
}

.sub-tab3 {
    background-color: #fff;
    color: orange !important;
    padding: 1.8px 10px 2.2px 10px !important
}

.myport,
.portanalytics,
.portfoliomenu {
    color: #ffa400 !important;
    background-color: #fff;
    margin-top: 1px
}

.table th:nth-child(3),
.table th:nth-child(6) {
    width: 10% !important
}

.table th:nth-child(4),
.table th:nth-child(5) {
    width: 22% !important
}

.table th:nth-child(2) {
    width: 35% !important
}

#addStock-PortfolioModal,
#deletePortfolioModal {
    color: #000 !important
}

.table-wrapper {
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

table.table td a {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    outline: 0 !important
}

#addAlertModal .modal-dialog {
    max-width: 55vw;
    border-radius: 5px
}

#addAlertModal .modal-content {
    border: 1px solid #dce4f7 !important;
    margin-top: 15vh !important;
    background-color: #fff !important
}

#addAlertModal .modal-header,
#deleteStockModal .modal-header {
    padding: 15px 10px !important
}

#addAlertModal .modal-body,
#addAlertModal .modal-footer {
    padding: 10px 10px
}

#addAlertModal .modal-title {
    font-weight: 450 !important
}

#addAlertModal .btns {
    border: none;
    background-color: transparent
}

#addAlertModal .active {
    border-bottom: 2px solid #181e3e;
    background-color: transparent
}

#addAlertModal .newbtn {
    color: #5627d8;
    background: 0 0;
    padding: 1px 8px !important;
    cursor: pointer;
    text-align: center !important;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #5627d8;
    border-radius: 5px
}

button:focus {
    outline: 0 !important
}

.table td:nth-child(2),
.table thead th:nth-child(2) {
    text-align: left !important;
    padding-left: 20px !important
}

label {
    color: #000 !important
}

.add,
.del {
    padding: 5px;
    border-radius: 5px
}

@media only screen and (min-width:300px) and (max-width:770px) {
    .scroll-div {
        width: 100%;
        height: 100% !important;
        overflow-y: scroll !important
    }
}

select {
    min-height: 30px !important;
    height: 30px !important;
    font-size: 14px !important
}

.dr {
    float: right !important
}

.sortable thead th:last-child:before,
.sortable thead th:nth-child(7):before {
    content: '' !important
}

.sortable thead th:last-child,
.sortable thead th:nth-child(7) {
    pointer-events: none
}

.company:hover {
    color: orange !important;
    text-decoration: underline !important;
    cursor: pointer !important
}

.table tbody td.company {
    color: orange !important;
    border-top: 1px solid #cdd4e0 !important
}

.sticky-col {
    border-top: 1px solid #cdd4e0 !important
}

.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none;
    -ms-user-select: none !important;
    user-select: none !important
}

.wrapper {
    height: 48vh
}

.form-control {
    height: 30px !important
}

.addnewstock,
.cloneportfolio,
.closeclone,
.closedelportfolio,
.closeexport,
.closenewstock,
.closestockdelete,
.closeupdate,
.deleteportfolio,
.deletestock,
.exportportfolio,
.pricecancelbtn,
.pricesavebtn,
.saveupdatedstock,
.techcancelbtn,
.techsavebtn {
    min-width: 60px !important;
    padding: 4px 5px !important;
    min-height: 30px !important
}

.closeclone,
.closedelportfolio,
.closeexport,
.closenewstock,
.closestockdelete,
.closeupdate,
.pricecancelbtn,
.techcancelbtn {
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important
}

.myport-li a,
.nav-mobile-creator,
.nav-mobile-products {
    color: orange !important
}

p {
    margin-bottom: 0
}

.info-tab {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative
}

.portfolio-tabs {
    position: relative
}

.addnewport {
    position: absolute;
    right: 0;
    left: 100
}

h4 label {
    color: #63c !important
}

.no-user-port-div {
    border: 1px solid #000;
    padding: 35px 10px;
    margin-bottom: 20px
}

@media only screen and (max-width:1130px) {
    #addAlertModal .modal-dialog {
        max-width: 75vw !important;
        border-radius: 5px
    }
}

@media only screen and (max-width:900px) {
    #addAlertModal .modal-dialog {
        max-width: 80vw !important;
        border-radius: 5px
    }
}

@media only screen and (max-width:750px) {
    #addAlertModal .modal-dialog {
        max-width: 95vw !important;
        border-radius: 5px
    }
}

@media only screen and (max-width:750px) {

    .input-section1 .col-sm-4,
    .input-section2 .col-sm-4,
    .input-section3 .col-sm-4 {
        margin-top: 8px !important
    }

    .input-section1 .col-sm-4 .col-auto,
    .input-section2 .col-sm-4 .col-auto,
    .input-section3 .col-sm-4 .col-auto {
        padding-left: 10px !important;
        padding-right: 10px !important
    }
}

.edit_alert1 {
    background-color: transparent !important;
    border: none !important
}

.portfolio-details-div .nav-menu ul.submenu {
    left: -150px !important;
    top: 60% !important
}

.dataTables_length {
    display: none !important
}

.dataTables_length select {
    display: inline-block !important
}

#disp {
    border: 1px solid grey !important;
    height: 34px !important;
    width: 100% !important
}

#say {
    width: 100% !important;
    height: 32px !important;
    padding-left: 2% !important;
    border: none !important
}

.display-priceinput-div #inlineFormCustomSelect,
.display-techinput-div #inlineFormCustomSelect {
    width: 100% !important
}

.create-new-portfolio,
.edit-portfolio,
.import-new-portfolio {
    color: #5627d8 !important;
    background: 0 0;
    padding: 3px 8px !important;
    cursor: pointer !important;
    text-align: center !important;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #5627d8
}

@media only screen and (max-width:972px) {

    .create-new-portfolio,
    .edit-portfolio,
    .import-new-portfolio {
        padding: 3px 5px !important;
        font-size: 12px !important
    }
}

#drop-down .nav-menu>li {
    margin-left: 0 !important
}

#drop-down .nav-menu a.menu-icons {
    padding: 0 !important;
    color: #5627d8 !important
}

body {
    visibility: hidden
}

#addAlertModal .modal-title {
    text-align: left !important;
    font-size: 18px !important
}

.alerts_modal_port_details .form-control {
    border-radius: 0px !important
}
.info-tab {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    /* top: 8px; */
}

.info-tab {
    float: left;
    margin-left: -23px;
}

.info-tab i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
}

.info-tab i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    bottom: -18px;
}

.info-tab i::before,
.info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
}
.note-box,
.warning-box,
.tip-box-success,
.tip-box-danger,
.tip-box-warning,
.tip-box-info,
.tip-box-alert {
    padding: 8px 8px 8px 26px;
}


/*******info*******/
.new-message-box-info {
    background: #eeeeee;
    padding: 3px;
    margin: 5px 0;
}

.tip-box-info {
    color: #01579B;
    background: #B3E5FC;
}

.tip-icon-info {
    background: #03A9F4;
}

.tip-icon-info::before {
    font-size: 25px;
    content: "\f129";
    top: 5px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white
}

.tip-icon-info i::before {
    background: #03A9F4;
}

 


/*******info*******/

#price_movement_select1,#percent_movement_select2,#_52wh_movement_select3,#rsi_indicator_select1,#dma_indicator_select2{
    width:100% !important;
}
.pricecancelbtn,
.techcancelbtn{
    padding:2px 5px !important
}
