.products {
    background-color: #5627d8;
    color: #fff !important
}

.sub-tab3 {
    background-color: #fff;
    color: orange !important;
    padding: 1.8px 10px 2.2px 10px !important
}

.generate,
.portanalytics,
.portfoliomenu {
    color: #ffa400 !important;
    background-color: #fff;
    margin-top: 1px
}

#main-tabs-ul li {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 13px
}

li.active {
    background-color: #63c;
    border: 1px solid #63c !important;
    color: #fff
}

.filter-card table {
    width: 100%
}

.filter-card table td {
    padding: 1px 5px !important;
    min-width: 10%;
    width: 10%;
    border: none
}

.filter-card table label {
    font-size: 12px !important;
    display: inline-block
}

.filter-card table tr:first-child td {
    border: none
}

.fund-table td:first-child,
.fund-table td:nth-child(3),
.fund-table td:nth-child(5),
.fund-table td:nth-child(7),
.fund-table td:nth-child(9),
.quant-table td:first-child,
.quant-table td:nth-child(3),
.quant-table td:nth-child(5),
.quant-table td:nth-child(7),
.risk-table td:first-child,
.risk-table td:nth-child(3),
.risk-table td:nth-child(5),
.risk-table td:nth-child(7),
.risk-table td:nth-child(9),
.tech-table td:first-child,
.tech-table td:nth-child(3),
.tech-table td:nth-child(5),
.tech-table td:nth-child(7) {
    text-align: center
}

.main-tab-div select {
    height: 20px !important;
    min-height: 20px !important;
    font-size: 11px !important;
    padding: 1px !important;
    display: inline-block;
    width: 100% !important
}

#indextable {
    margin-bottom: 0 !important
}

#indextable td,
#indextable th {
    font-size: 11.5px;
    padding: 3px !important;
    white-space: nowrap
}

#indextable thead th {
    background-color: #1a0c4b;
    color: #fff;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 6px 16px 6px 8px !important;
    cursor: pointer
}

.sticky-col {
    position: sticky !important;
    position: -webkit-sticky;
    background-color: #fff
}

th.sticky-col {
    background-color: #63c
}

#indextable td input[type=text] {
    max-width: 100px;
    width: 100px;
    height: 18px !important
}

.first-col {
    left: -.5px;
    width: 4.5vw;
    min-width: 4.5vw;
    max-width: 5vw;
    padding-left: 5px !important;
    text-align: center
}

th.first-col {
    text-align: left
}

th.first-col input[type=checkbox] {
    width: 10px;
    height: 10px
}

.first-col input[type=checkbox] {
    font-size: 8px !important;
    width: 11px;
    height: 11px
}

.second-col {
    width: 20vw;
    min-width: 20vw;
    max-width: 20vw;
    left: 4.5vw;
    cursor: pointer
}

.non-sticky {
    z-index: 1 !important;
    opacity: 10 !important
}

.apply-filters {
    background-color: #1a0c4b;
    border: 1px solid #1a0c4b;
    font-size: 14px;
    padding: 0 5px;
    color: #fff
}

.apply-filters:hover {
    background-color: #fff;
    border: 1px solid #1a0c4b;
    font-size: 14px;
    padding: 0 5px;
    color: #1a0c4b
}

.filters-table td:first-child {
    width: 100% !important;
    min-width: 100% !important
}

.reset-filters {
    background-color: transparent;
    border: 2px solid #1a0c4b;
    font-size: 14px;
    padding: 0 5px;
    color: #1a0c4b
}

.table-fixed-div {
    height: 40vh !important
}

#disp {
    border: 1px solid grey !important;
    height: 30px !important;
    width: 80% !important;
    margin-right: 5px !important
}

#search_text {
    width: 100% !important;
    padding-left: 1% !important;
    border: none !important
}

.rec-div {
    width: 20% !important;
    min-width: 20% !important
}

.new_invstamt {
    border: none !important;
    border-bottom: 1px solid grey !important
}

#search_text:focus,
.new_invstamt:focus {
    outline: 0 !important
}

#Portfolio_Save,
#createportfolio,
#go,
.addExisting,
.quantity_autofill {
    color: #5627d8 !important;
    padding: 1px 5px !important;
    cursor: pointer !important;
    text-align: center !important;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #5627d8;
    background-color: transparent
}

#Portfolio_Save:hover,
#createportfolio:hover,
.addExisting:hover,
.quantity_autofill:hover {
    color: #fff !important;
    background: #5627d8 !important;
    border: 2px solid #5627d8
}

.sortable thead th:before {
    font-family: fontawesome !important;
    content: '\f0dc' !important;
    display: block !important;
    height: 0 !important;
    right: .3vw !important;
    position: absolute !important;
    cursor: pointer !important;
    font-size: 10px
}

.sortable thead th:after {
    font-family: fontawesome !important;
    content: '' !important;
    display: block !important;
    height: 0 !important;
    right: 20px !important;
    top: 54% !important;
    position: absolute !important;
    width: 0
}

.generate-li a,
.nav-mobile-creator,
.nav-mobile-products {
    color: orange !important
}

.sortable thead th:first-child::before,
.sortable thead th:nth-child(8)::before {
    font-family: fontawesome;
    content: "" !important
}

.loader1 {
    width: 80% !important;
    width: 90%;
    height: 75%;
    z-index: 9999999;
    position: absolute;
    background: url(../images/load2.gif) 50% 55% no-repeat transparent
}

table.dataTable tbody td.dt-checkboxes-cell,
table.dataTable thead th.dt-checkboxes-select-all,
table.dataTable.dt-checkboxes-select tbody tr {
    cursor: pointer
}

table.dataTable tbody td.dt-checkboxes-cell,
table.dataTable thead th.dt-checkboxes-select-all {
    text-align: center
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
    margin-left: .5em
}

@media screen and (max-width:640px) {

    div.dataTables_wrapper span.select-info,
    div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block
    }
}

@media only screen and (max-width:435px) {
    .new_invstamt {
        width: 120px !important
    }
}

@media only screen and (max-width:972px) {

    #Portfolio_Save,
    #auto_fill,
    #createportfolio,
    .addExisting {
        padding: 3px 5px !important;
        font-size: 12px !important
    }
}

@media only screen and (max-width:685px) {

    #Portfolio_Save,
    #auto_fill,
    #createportfolio,
    .addExisting {
        padding: 1px 5px !important;
        font-size: 10px !important;
        border-width: 1px !important
    }

    h4 {
        font-size: 16px !important
    }

    .default-inv-div {
        font-size: 12px !important
    }

    .records,
    label[for=markets] {
        font-size: 14px !important
    }

    .table-wrapper {
        padding: 0 !important
    }

    .third-div div {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }
}

@media only screen and (max-width:940px) {
    .third-div div {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }

    .records,
    label[for=markets] {
        font-size: 13px !important
    }

    .default-inv-div {
        font-size: 13px !important
    }
}

.responsemsg {
    color: red
}

.apply_invst {
    background-color: #1a0c4b;
    font-size: 12px;
    padding: 0 4px;
    color: #fff
}

body {
    visibility: hidden
}

table tbody td {
    text-align: center !important
}

table td:nth-child(2),
table th:nth-child(2) {
    text-align: left !important
}

table td:nth-child(2) {
    color: orange !important
}
.addexist, .closeexist, .closeport, .ok_btn, .saveequalquantity, .saveport {
    min-width: 60px!important;
    padding: 4px 5px!important;
    min-height: 30px!important;
}
.closeexist, .closeport {
    background-color: #fff!important;
    color: red!important;
    border: 1px solid red!important;
}