body{background-color:#b3b5ba!important;color:#000!important;box-sizing:border-box!important}.aboutus,.contactus{text-transform:capitalize!important}.my_account{font-size:15px!important;text-transform:capitalize!important}.topheader{margin-top:-5px!important;background-color:#dadada}.section-gap1{margin:0 auto 0 auto!important;padding-left:50px!important;padding-right:50px!important;padding-top:30px!important;padding-bottom:20px!important}.subnav{float:right;overflow:hidden;align-items:center!important}.subnav .subnavbtn{padding:5px 10px;text-decoration:none;display:inline-block;font-weight:450;font-size:16px!important;outline:0;border:none;color:#fff!important;background-color:#5627d8}.subnav-content{position:absolute;left:0;background-color:#5627d8;width:100%;z-index:1;padding:7x 0!important;text-align:center!important;border-bottom:1px solid #5627d8;margin-top:15px!important;margin-bottom:20px!important}.subnav-content li{display:inline!important}.subnav-content a{color:#fff;text-decoration:none;padding:3px 20px;font-size:15px!important}.subnav-content a:hover{color:orange}.portaiml ul li,.portanalyzer ul li{float:left!important;text-align:left!important}.card{border-radius:2px}.card-title{margin-bottom:0!important}.fixed-card-div{height:70vh;min-height:fit-content}select{min-height:30px!important;height:30px!important;font-size:14px!important;padding:2px 2px 2px 10px;cursor:pointer;border-radius:2px!important}.loader{width:100%;height:75%;z-index:9999;position:absolute;background:url(../images/load2.gif) 50% 50% no-repeat transparent}.loader1{width:90%;height:75%;z-index:9999999;position:absolute;background:url(../images/load2.gif) 50% 55% no-repeat transparent}.step2-loader{width:50%;height:75%;z-index:9999;position:absolute;background:url(../images/load2.gif) 50% 50% no-repeat #fff}.card-title{color:#63c!important}.filter-tabs{padding:10px}.filter-tabs li{list-style:none;display:inline-block;position:relative;padding:0 5px}.filter-tabs li a{display:block;background:#fff;padding:0 10px;border:1px solid #5627d8;color:#5627d8;font-weight:700}.filter-tabs li a.actives{border-radius:1px;border:1px solid #5627d8;font-weight:700;background-color:#5627d8;color:#fff}.filter-tabs li a:hover{border-radius:1px;border:1px solid #5627d8;font-weight:700;color:orange}.nav-pills .nav-link{border-radius:0;border:1px solid #5627d8;color:#5627d8;margin-right:10px;padding:5px 10px}.nav-pills .nav-link.active,.nav-pills .nav-link:hover{border-radius:1px;border:1px solid #5627d8;font-weight:700;background-color:#5627d8;color:#fff}label,strong{font-weight:500}.scroll-div{width:100%;height:90%!important;overflow-y:scroll!important}.factor-scroll-div,.performance-scroll-div{width:100%;height:80%!important;overflow-y:scroll!important}@media only screen and (min-width:300px) and (max-width:770px){.scroll-div{width:100%;height:100%!important;overflow-y:scroll!important}}#Portfolio_Returns{height:42vh!important;width:100%}.right{border-radius:20px 0 15px 20px!important}.left{border-radius:0 20px 20px 15px!important}#msg_display{width:100%;height:74vh;overflow:auto}.dataTables_wrapper .dataTables_filter{display:none!important}.fa,.far,.fas{font-family:fontawesome!important}.modal{background-color:#000!important;background-color:rgba(0,0,0,.6)!important}#notification_modal{background-color:transparent!important;background-color:rgba(0,0,0,0)!important}ul{margin:0;padding:0}.page-title p a:hover{color:#5627d8!important}.description_btn button{-o-transition:all .2s ease;-webkit-transition:all .2s ease;border:2px solid #f99f22;border-radius:5px;color:#f99f22;display:inline-block;font-size:16px;font-weight:600;padding-left:4px;padding-top:5px;padding-bottom:5px;text-decoration:none;transition:all .2s ease;width:auto}.description_btn button{background-color:#f99f22;border:2px solid #f99f22;color:#fff;cursor:pointer}.banner-btn a{-o-transition:all .2s ease;-webkit-transition:all .2s ease;border:2px solid #f99f22;border-radius:5px;color:#f99f22;display:inline-block;font-size:16px;font-weight:600;text-decoration:none;text-transform:uppercase;transition:all .2s ease;width:auto;padding-left:4px}.banner-btn a:last-child{background-color:#f99f22;border:2px solid #f99f22;color:#fff}
/* .saveload{width:25%;height:25%;z-index:9999;position:absolute;background:url(../images/load.gif) 50% 50% no-repeat transparent;margin:2% 35%;} */
.saveload {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 0.9s linear infinite; /* Safari */
    animation: spin 0.9s linear infinite;
    position: absolute;
    left: 70%;
    top: 6%;
    z-index: 1;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }