body{
    
    visibility:visible;
}

  table{
     border-collapse: collapse;width:100%;
    
  }

  table th:nth-child(1){
      width:42%;
  }
  table th:nth-child(2),table th:nth-child(3), table td:nth-child(2),table td:nth-child(3){
      width:29%;
      text-align:center; 
       border-left: solid 1px black; 
  }
  th{
      padding:5px;
  }

  td{
      padding:1px;
      white-space: nowrap;
      font-size:11px;
      }
  .table-div-child{
      width:100%;
      display:flex !important;
  }
  .table-div-child div{
      width:50%; 
  }
  table td:nth-child(2),table td:nth-child(3){
      background-color: #F5F5F5;
      
  }
  table td:nth-child(3){
  font-weight:500;
  }
  /* moving average table */
  .moving-average h4{
      /* background-color:#005C95; */
      background:linear-gradient(0deg, #44a0d6, #005C95 80%) no-repeat;

      color:white;
  }
 
  .moving-average table{
      border:2px solid #005C95;
  }
  .moving-average table th{
      background-color:#DAF5FA;
      color:#005C95;

  }
  .moving-average  table td:nth-child(1){
      background-color:#ECF3FF;
      color:#005C95;   
      font-weight:500;
  }
  
  .moving-average  table th{
      padding:5px;
      border-bottom:2px solid #005C95;
  }
/* moment table */
 .momentum h4{
      /* background-color:#63952E; */
      background:linear-gradient(0deg, #88c448, #63952E 80%) no-repeat;

      color:white;
  }
 .momentum table{
      border:2px solid #63952E;
  }
 .momentum table th{
      background-color:#E2F2CF;
      color:#63952E;

  }
  .momentum  table td:nth-child(1){
      background-color:#E2F2CF;
      color:#63952E;   
      font-weight:500;
  }
  
  .momentum  table th{
      padding:5px;
      border-bottom:2px solid #63952E;
  }
 /* trade table */
 .trade h4{
      /* background-color:#5C4775; */
      background:linear-gradient(0deg, #9a77c4, #5C4775 80%) no-repeat;

      color:white;
  }
 .trade table{
      border:2px solid #5C4775;
  }
 .trade table th{
      background-color:#E3DFE7;
      color:#5C4775;

  }
  .trade  table td:nth-child(1){
      background-color:#E3DFE7;
      color:#5C4775;   
      font-weight:500;
  }
  
  .trade  table th{
      padding:5px;
      border-bottom:2px solid #5C4775;
  }
  /* volume table #454545 */
  .volume h4{
      /* background-color:#AF1615; */
      background:linear-gradient(0deg, #f25252, #AF1615 80%) no-repeat;
      color:white;
  }
 .volume table{
      border:2px solid #AF1615;
  }
 .volume table th{
      background-color:#F2E5E4;
      color:#AF1615;

  }
  .volume  table td:nth-child(1){
      background-color:#F2E5E4;
      color:#AF1615;   
      font-weight:500;
  }
  
  .volume  table th{
      padding:5px;
      border-bottom:2px solid #AF1615;
  }
  @media only screen and (max-width:1100px){
      .table-div{
          display:block !important;
      }
  }
  @media only screen and (max-width:900px){
      .start_title .col-sm-6{
          flex: 0 0 100% !important;
          max-width: 100% !important;
      }
      .start_title .d-flex{
          justify-content:flex-start !important;
          padding-top:10px;
      }
  }
  @media only screen and (max-width:600px){
      .table-div-child{
          display:block !important;
      }
      .table-div-child div{
          width:100%;
      }
     
  }

  .highcharts-container {
  overflow: visible !important;
  }

  #highcharts-0.highcharts-container {
  position: static !important;
  }
 .full_card{
     visibility:hidden;
 }
 .final_rating_div{
      /* background:linear-gradient(0deg, #FFE3B3, #DE898D 80%) no-repeat; */
      background-color:#F5F5F5;
      color:black;
      font-size:20px; 
      border-bottom:1px solid grey;
      border-left:1px solid grey;
      border-right:1px solid grey;
      font-weight:700;
  }
  .products{background-color:#5627d8;color:#fff!important}.sub-tab6{background-color:#fff;color:orange!important;padding:1.8px 10px 2.2px 10px!important}
  .technical-li a{color:orange!important}
  .nav-mobile-products, .nav-mobile-advanced_quant, .technical-li a {
    color: orange!important;
}