
{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% load static %}
{% autoescape off %}<html>
    <head>

    </head>
    <body style="background-color: #1A0C4B;">
        <div class="main-div" style="width:80%;margin:1px auto;padding:30px 30px;text-align:center;">
            <div class=""  style="color:white;font-family: 'Quicksand', sans-serif;text-align:left">
                <div class="card-header">
                    <h1 class="font-weight:400;font-family: 'Quicksand', sans-serif;">Welcome!</h1>
                    <hr>
                </div>
                <div class="card-body">
                    <h4  class="font-weight:400;font-family: 'Quicksand', sans-serif;">We're excited to have you get started. First you need to confirm your account. Just press the button below</h4>
                    <div class="mg-t-40" style="margin-top:30px;text-align:center">
                        <a href="{{ activate_url  }}" style="border: 1px solid white !important;
                                            background-color: white;
                                            color: #1A0C4B;
                                            padding: 10px 15px;
                                            text-decoration:none;
                                            margin-top:20px">Confirm Account</a>
                        <br>
                        <p style="text-align:left;margin-top:30px">If that doesn't work, copy and paste the following link in your browser</p>
                        <a href="{{ activate_url  }}" style="color:#2baadf;font-weight:normal;text-decoration:underline"
                                            target="_blank">{{ activate_url  }}
                    </div> 
                    <span style="color:#EA6B66"><strong>Note - If you are unable to proceed, please
                            contact adminstration </strong></span>
                    <br>
                    <br>
                    <b style="color:green">Happy Investing!</b><br>
                    <br>
                    Thanks<br>
                    Team - 72PI
                                     
                    <p style="font-size:10px;font-style: italic;margin-top:10px">
                        Disclaimer: Aishva Financial Services Private Limited is a company incorporated under the
                        Companies Act 1956. Aishva Financial Services Private Limited is a registered investment advisor
                        with the Securities and Exchange Board of India and through its online product, www.72pi.ai,
                        intends to provide curated content about the capital markets and provide financial modeling
                        tools to its customers. The investments discussed or recommended through www.72pi.ai may not be
                        suitable for all investors and hence, you must rely on your own examination and judgement of the
                        stock and company before making investment decisions. Data provided through www.72pi.ai is for
                        information purposes only and should not be construed as an offer or solicitation of an offer to
                        buy or sell any securities. Information and discussions made available through www.72pi.ai
                        contain forward looking statements that involve risks, uncertainties and assumptions that could
                        cause actual results to differ materially from those contemplated by the relevant
                        forward-looking statement. Aishva Financial Services Private Limited or www.72pi.ai or its
                        employees / directors or any of its affiliates are not responsible for any losses that may arise
                        to any person who has made investments based on the contents of the www.72pi.ai or information
                        in emails or in documents. Past Performance Is No Guarantee of Future Results.</p>

                        <p style="font-size:10px;font-style: italic;margin-top:10px">
                            Registered office address: 1st Floor, TK House, Plot 11, Shilpa Hills, Khanamet, HITEX Road,
                            Hyderabad 500081
                            , Phone: + 91 89192 93838, Website: https://www.72pi.ai, For investor queries:
                            72pi@aishva.com For grievances: info@72pi.ai; Corporate Identity Number:
                            U65990TG2020PTC142640, Investment Adviser SEBI Regn. Nos: INA200015103</p>
                    </div>
            </div>
        </div>
    </body>
</html>
{% endautoescape %}
