{% load account %}
{% user_display user as user_display %}
{% load i18n %}
{% load static %}
{% autoescape off %}
<html>

    <body style="background-color: #1A0C4B;">
        <div class="main-div" style="width:80%;margin:1px auto;padding:20px 30px;text-align:center;">
            <div class=""  style="color:white;font-family: 'Quicksand', sans-serif;text-align:left">
                <div>
                    <h1 style="font-weight:400;font-family: 'Quicksand', sans-serif;color:white">Reset your Password!</h1>
                    <hr>
                </div>
                <div >
                    <h4 style="font-weight:400;font-family: 'Quicksand', sans-serif;color:white">
                        You told us you forgot your password. If you really did, click here to choose a new one:
                    </h4>
                    <div class="mg-t-40" style="margin-top:20px;text-align:center">
                        <a href="{{ password_reset_url  }}" style="border: 1px solid white !important;
                                        background-color: white;
                                        color: #1A0C4B;
                                        padding: 10px 15px;
                                        text-decoration:none;
                                        margin-top:20px">
                             Reset Your Password
                        </a>
                    </div>
                    <br>
                    <div style="text-align:left;margin-top:5px">
                        <p style="text-align:left;margin-top:30px;color:white">If that doesn't work, copy and paste the following
                            link in your browser</p>
                        <a href="{{ password_reset_url  }}"
                            style="color:white;font-weight:normal;text-decoration:underline;text-align:left;"
                            target="_blank">{{ password_reset_url  }}</a>
                    </div>
                    <p class="color:white;">If you didn't mean to reset your password, then
                        you can just ignore this email, your password
                        will not change.</p>
                    <p style="color:#EA6B66;">Note - If you are unable to proceed, please contact adminstration</p>
                    <p style="color:orange;margin-top:10px">Happy Investing!</p>
                    <p style="margin-top:10px;color:white">Thanks<br/>Team - 72PI</p>
                </div>

               
                </div>
        </div>
        <div class="main-divs" style="width:90%;margin:1px auto;padding:5px 30px;text-align:justify;">
            <p style="font-size:10px;font-style: italic;margin-top:10px;color:white">
                Disclaimer: Aishva Financial Services Private Limited is a company incorporated under the
                Companies Act 1956. Aishva Financial Services Private Limited is a registered investment advisor
                with the Securities and Exchange Board of India and through its online product, <a href="https://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a>,
                intends to provide curated content about the capital markets and provide financial modeling
                tools to its customers. The investments discussed or recommended through <a href="https://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> may not be
                suitable for all investors and hence, you must rely on your own examination and judgement of the
                stock and company before making investment decisions. Data provided through <a href="https://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> is for
                information purposes only and should not be construed as an offer or solicitation of an offer to
                buy or sell any securities. Information and discussions made available through <a href="https://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a>
                contain forward looking statements that involve risks, uncertainties and assumptions that could
                cause actual results to differ materially from those contemplated by the relevant
                forward-looking statement. Aishva Financial Services Private Limited or <a href="https://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> or its
                employees / directors or any of its affiliates are not responsible for any losses that may arise
                to any person who has made investments based on the contents of the <a href="https://www.72pi.ai" style="color:white;text-decoration:none;">www.72pi.ai</a> or information
                in emails or in documents. Past Performance Is No Guarantee of Future Results.
            </p>

            <p style="font-size:10px;font-style: italic;margin-top:10px">
                Registered office address: 1st Floor, TK House, Plot 11, Shilpa Hills, Khanamet, HITEX Road, Hyderabad
                500081
                , Phone: + 91 89192 93838, Website: https://www.72pi.ai, For investor queries:
                72pi@aishva.com For grievances: info@72pi.ai; Corporate Identity Number:
                U65990TG2020PTC142640, Investment Adviser SEBI Regn. Nos: INA200015103</p>
        </div>
    </body>
    
</html>
{% endautoescape %}

