{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
  .subnav-content{display:none !important;}
  .my-auto{margin:auto !important}
  body{background-color:#1a0c4b!important;}
</style>
<div class="col-lg-12 section-gap">
  <div class="row mg-t-30">
      <div class="card my-auto">
        <div class="card-headers text-center">
          <h3 class="card-title pd-t-10">{% trans "Login Failure" %}</h3>
          <hr class="mg-b-0 mg-t-0" />
        </div>
        <div class="card-body login-card-body">
          <p class="text-center" style="color:red">{% trans "An error occurred while attempting to login via your social network account.<br/> Please login again." %}</p>
          <div class="mg-b-15 text-center" >
            <a  href="{% url 'account_login' %}"  class="primaryAction btn btn-primary form-controls mg-t-15" id="log-submit">{% trans "Login" %}</a>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
  $('body').css({visibility:"visible"})
</script>
{% endblock %}
