{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profile Settings - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <style>
            .subnav-content{display: none !important;}
            .options-ul li{padding:6px 10px}
            .options-ul li.active{background-color:whitesmoke;border-left:4px solid #5627D8;color:#5627D8}
            b{color:red !important}
            .li {
              display: inline-block !important;
              margin: auto 10px !important;
            }

            #google {
              color: #fff;
              background-color: #dd4b39 !important;
            }

            #facebook {
              color: #fff;
              background-color: #3b5998 !important;
            }

            .btn {
              padding: .375rem .75rem !important;
              min-height: 28px !important;
            }
            .main-tab-div{border:1px solid grey}
            body{background-color: #1A0C4B !important;}
            .path_div{margin-left: -15px;}
            .a-settings{    background-color: orange!important;
    color: #fff!important;}
        </style>
    </head>
    <body>
        <div class="col-lg-12 section-gap">
            <div class="row">
                <div class="col-lg-9 card my-auto">
                    <div class="card-header">
                        <h1>My Account</h1>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="options-ul">
                                        <li><a href="{% url 'myprofileview' %}">Profile Details</a></li>
                                        <li><a href="{% url 'account_email' %}">Email Settings</a></li>
                                        <li><a href="{% url 'socialaccount_connections' %}">Social Connections</a></li>
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9">
                                      <div class="path_div">
                                        <h6 class="">Settings <i class="fa fa-angle-double-right"></i>Social Connections</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 div2 main-tab-div mg-t-5">
                                          <div class="card-body login-card-body">
                                            {% if form.accounts %}
                                            <h6>{% blocktrans %}You can sign in to your account using any of the following social
                                              accounts:{% endblocktrans %}</h6>
                                            <hr class="mg-b-0 mg-t-0"> <br>
                                            <form method="post" action="{% url 'socialaccount_connections' %}">
                                              {% csrf_token %}
                                              <fieldset>
                                                {% if form.non_field_errors %}
                                                <div id="errorMsg">{{ form.non_field_errors }}</div>
                                                {% endif %}
                                                {% for base_account in form.accounts %}
                                                {% with base_account.get_provider_account as account %}
                                                <div>
                                                  <label for="id_account_{{ base_account.id }}">
                                                    <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                                                      value="{{ base_account.id }}" />
                                                    <span
                                                      class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                                                    {{ account }}
                                                  </label>
                                                </div>
                                                {% endwith %}
                                                {% endfor %}
                                                <div>
                                                  <button type="submit"
                                                    style="background:none; border:none; text-decoration:underline; cursor:pointer; box-shadow: none; color:red;">
                                                    {% trans 'Remove' %}</button>
                                                </div>
                                              </fieldset>
                                            </form>
                                            {% else %}
                                            <h5 class="text-danger tx-14 text-center">{% trans "Currently you don't have any social network accounts linked to this account." %}</h5><br>
                                            {% endif %}
                                            <h6 class="text-center mg-t-10">{% trans 'Add your scoial accounts' %}</h6>
                                            <ul class="socialaccount_providers mg-t-20 text-center">
                                              {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
                                            </ul>
                                            {% include "socialaccount/snippets/login_extra.html" %}
                                            <div class="footertxt mg-b-30 mg-t-20 text-italic text-center">
                                              <strong class="text-italic">Note:</strong>&nbsp;For faster account access, login (or) register with your social accounts.
                                              <div>
                                              </div>
                                            </div>
                                          </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('.options-ul  li:nth-child(3)').addClass('active');
        $("body").css({visibility:'visible'})
      
    </script>
</html>

{% endblock %}