{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
  .subnav-content{display:none !important;}
  .my-auto{margin:auto !important}
  body{background-color:#1a0c4b!important;}
  .btn{min-height:32px !important;padding:0.375rem .75rem !important}
</style>
<div class="col-lg-12 section-gap">
  <div class="row mg-t-30">
      <div class="card my-auto">
        <div class="card-headers text-center">
          <h3 class="card-title pd-t-10">{% trans "Login Cancelled" %}</h3>
          <hr class="mg-b-0 mg-t-0" />
        </div>
      <div class="card-body login-card-body">
        <p class="text-center" style="color:red">{% trans "Logging in to your 72PI account has been cancelled.<br> To continue, please login again. " %}</p>
        <div class="mg-b-15 text-center" >
          <a  href="{% url 'account_login' %}"  class="primaryAction btn btn-primary form-controls mg-t-15" id="log-submit">{% trans "Login" %}</a>
        </div>
      </div>
      </div>
  </div>
</div>

  <script>
    $('body').css({visibility:"visible"})
  </script>
{% endblock %}
