{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <title>Social Signup - 72PI</title>
  <style>
    .card-body label{display: none !important}
  </style>
</head>
<body>
  <div class="col-lg-12 section-gap" style="margin:6% auto 1% auto; ">
    <div class="row">
      <div class="card" style="margin:1px auto">
        <div class="card-headers text-center ">
          <div class="card-title tx-24 pd-t-10">{% trans "Sign Up" %}</div>
          <hr class="mg-b-0 mg-t-0">
        </div>
        <div class="card-body login-card-body">
          <b>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to 
          login to 72PI. <br><br>
          {% endblocktrans %}</b>
          <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <i>{% trans "Please fill the above fields and click on signup" %}</i>
          <button type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15" id="log-submit">{% trans "Sign Up" %}</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script type="text/javascript">
  $("body").css({visibility:'visible'})
  $("#id_email").attr("readonly", true);
  $("#id_username").attr("placeholder", "Username (Mandatory)");
  $("#id_first_name").attr("placeholder", "First Name (Mandatory)");
  $("#id_last_name").attr("placeholder", "Last Name (Optional)");
  $("#id_contact_number").attr("placeholder", "Contact (Optional)");
</script>
{% endblock %}