{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="col-md-4 col-lg-4 col-xl-4 mg-t-70">
  <div class="card ">
    <div class="card-title title text-center mg-t-0" >
        <h4 class="text-center mg-t-15"> {% trans "OpenID Sign In" %} </h4>
        <hr class="mg-b-0 mg-t-0">
    </div>
    <div class="card-body login-card-body">
      <form id="openid_login_form" class="openid_login login mg-b-0" method="post" action="{% url 'openid_login' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button  type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15" id="log-submit">{% trans "Sign In" %}</button><br>
      </form>
    <div class="footertxt mg-b-30 mg-t-20">
      By logging in, you agree to
      <div>
          <span>
              <a href="#" target="_blank">Terms &amp; Conditions</a>
          </span> and 
          <span>
              <a  href="#" target="_blank">Privacy Policy</a>
          </span> of GHC 
      </div> <br>
      <a href="#" class="footertxt text-center" style="color:#5B47FB">{% trans "Subscribe for Stock Research Reports" %}</a>
    </div>
  </div>
</div>