{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}
<head>

  
<head>
<div class="col-md-10 col-lg-10 col-xl-10 mg-t-70 mg-l-auto mg-r-auto" >
  <div class="card mg-b-50">
    <div class="card-title title text-center">
      <h3 class="mg-t-15">My Profile</h3> 
      <hr class="mg-b-0">
    </div>
    <div class="card-body form-body user-profile-body">
      <form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
        {% csrf_token %}
        <!-- {{ form|crispy}} -->
        <div class="column-1">
          <formset>
       
            <div class="column1 ">
              {% for field in form.visible_fields|slice:":6"  %}
              <tr>
                  <td>
                      {{field.label_tag }}
                  </td>
                  <td>{{field}}</td>
              </tr>
              {% endfor %}
              <span style="color:red" class="float-left mg-t-25">{% if messages %}{% for msg in messages %} {{msg}} {% endfor %}{% endif %}</span>

            </div>
            <div class="column2 mg-l-20">
              {% for field in form.visible_fields|slice:"6:12"  %}
              <tr>
                  <td>
                      {{field.label_tag }}
                  </td>
                  <td>{{field}}</td>
              </tr>
              {% endfor %}              
            </div>
        

        </formset>
        </div>
        <div class="column3" >
          <a href="#" class="btn btn-danger mg-t-20 float-left">Cancel</a>
            
          <button type="submit" class="btn btn-primary mg-t-20 float-right">Save</button>
        
        </div>
      </form>

    </div>
  </div>
</div>
<script>
  let today = new Date().toISOString().slice(0, 10)
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat : 'yy-mm-dd',
      maxDate:today,
      // yearRange: "2001",
      // You can put more options here.

    });
  });

  $("#id_state").change(function () {
    var url = $("#personForm").attr("data-cities-url");  
    var stateId = $(this).val();  
    $.ajax({                      
      url: url,                   
      data: {
        'state': stateId      
      },
      success: function (data) {   
        $("#id_city").html(data);  
        
      }
    });

  });
  $("body").css({visibility:'visible'})
  </script>



{% endblock %}
