{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Profile Settings - 72PI</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <style>
            .subnav-content{display: none !important;}
            .options-ul li{padding:6px 10px}
            .options-ul li.active{background-color:whitesmoke;border-left:4px solid #5627D8;color:#5627D8}
            fieldset{border:none !important}
            .main-tab-div{border:1px solid grey}
            fieldset label{font-weight: 450 !important;;}
            #id_email{width:100%}
            .form-inline p{
              margin:0px !important;
            }
            .buttonHolder button{
              margin : auto 5px
            }
            body{background-color: #1A0C4B !important;}
            .path_div{margin-left: -15px;}
            .a-settings{    background-color: orange!important;
    color: #fff!important;}
        </style>
    </head>
    <body>
        <div class="col-lg-12 section-gap">
            <div class="row">
                <div class="col-lg-9 card my-auto">
                    <div class="card-header">
                        <h1>My Account</h1>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <ul class="options-ul">
                                        <li><a href="{% url 'myprofileview' %}">Profile Details</a></li>
                                        <li><a href="{% url 'account_email' %}">Email Settings</a></li>
                                        <li><a href="{% url 'socialaccount_connections' %}">Social Connections</a></li>
                                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9">
                                    <div class="path_div">
                                        <h6 class="">Settings <i class="fa fa-angle-double-right"></i> Email Settings</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 div2 main-tab-div mg-t-5">
                                            <div class="mg-t-20">
                                                    {% if user.emailaddress_set.all %}
                                                     <p class="tx-16 mg-b-0">{% trans 'E-mail addresses linked with your account' %}</p><br>
                                                     <form action="{% url 'account_email' %}" class="email_list" method="post">
                                                     {% csrf_token %}
                                                     <fieldset class="blockLabels">
                                                       {% for emailaddress in user.emailaddress_set.all %}
                                                     <div class="ctrlHolder">
                                                           <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                                                           <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
                                                     {{ emailaddress.email }}
                                                         {% if emailaddress.verified %}
                                                         <span class="verified tx-10" style="color:green">{% trans "Verified" %}<i class="fa fa-check"></i> </span>
                                                         {% else %}
                                                         <span class="unverified tx-10" style="color:red">{% trans "Unverified" %}<i class="fa fa-times"></i> </span>
                                                         {% endif %}
                                                           {% if emailaddress.primary %}<span class="primary tx-10 mg-l-5" style="color:blue"> {% trans "Primary" %}</span>{% endif %}
                                                     </label>
                                                     </div>
                                                       {% endfor %}<br>
                                                     <div class="buttonHolder">
                                                           <button class="secondaryAction text-primary" type="submit" name="action_primary" 
                                                           style="background:none; border:1px solid #36f; text-decoration:none; cursor:pointer; box-shadow: none">
                                                           {% trans 'Make Primary' %}</button>
                                                           <button class="secondaryAction text-warning" type="submit"  name="action_send" 
                                                           style="background:none; border:1px solid #ffc107; text-decoration:none; cursor:pointer; box-shadow: none">
                                                           {% trans 'Re-send Verification' %}</button>
                                                           <button class="primaryAction"  type="submit" name="action_remove" 
                                                           style="background:none; border:1px solid red; text-decoration:none; cursor:pointer; box-shadow: none; color:red;">
                                                           {% trans 'Remove' %}</button>
                                                     </div>
                                                     </fieldset>
                                                     </form>
                                                     {% else %}
                                                     <p><strong>{% trans 'Note:'%}</strong> {% trans "Currently no email set up to your account." %}</p>
                                                     {% endif %}
                                                         <h6 class="mg-t-15"> {% trans "Add New Email Address" %} </h6>
                                                         <form method="post" action="{% url 'account_email' %}" class="add_email mg-t-15">
                                                             {% csrf_token %}
                                                             <div class="text-right form-inline">
                                                             {{ form.as_p }}
                                                              <button name="action_add" type="submit" class="primaryAction btn btn-primary mg-l-20" id="log-submit">{% trans "Add" %}</button>
                                                             </div>
                                                         </form>
                                                          <div class="text-italic footertxt mg-b-30 mg-t-20">
                                                           <strong>Note:</strong>&nbsp;In order to receive notifications, you will need to confirm the mail address that you wish notifications to be sent to.
                                                           <div>
                                                       </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        // $('.main-tab-div').hide().eq().show();
        $('.options-ul  li:nth-child(2)').addClass('active');
       
        $(".add_email label").hide();
        $(".add_email input").addClass('form-control').css
        $(".add_email input").addClass('new-login-input')
        $("body").css({visibility:'visible'})
          var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
          var actions = document.getElementsByName('action_remove');
          if (actions.length) {
            actions[0].addEventListener("click", function(e) {
              if (! confirm(message)) {
                e.preventDefault();
              }
            });
          }
    </script>
</html>

{% endblock %}