{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/base-styles.css' %}?v=1.2" />
<style>
  .baselogin {
    color: #ffa400 !important;
  }

  p {
    color: #89938f !important;
  }

  .bt {
    border: 2px solid #00b8fe !important;
    padding: 4px 10px !important;
    color: #00b8fe !important;
  }

  .sym::before {
    content: "•   ";
    font-size: 18px;
  }

  .main-header {
    color: #89938f;
    width: 265px;
    border-bottom: 3px solid #00b8fe;
    padding-bottom: 5px;
  }

  .basefooter,
  .analytics-header,
  .footer-area, .signals-header {
    display: none;
  }
  input[type=email]{
    width:100% !important;
    height:38px !important;
    padding: 7px;
    color: #222;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    transition: border-color .15s linear,box-shadow .1s linear;
    -webkit-font-smoothing: antialiased;
    margin-bottom:10px !important
  }
  input[type=email]:focus{
    border:1px solid #1A0C4B !important;
        outline:none !important;
  }

  body {
    background-color: #1A0C4B !important;
  }
  .card{
    border-radius:5px;
  }
  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1950px) {
    .card {
      width: 30vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1550px) {

    .card {
      width: 25vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1210px) {

    .card {
      width: 30vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1050px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 901px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 700px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 751px) {

    .card {
      margin-top: 5vh !important;
      width: 50vw !important;
    }
  }

  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {

    .card {
      margin-top: 5vh !important;
      width: 60vw !important;
    }
  }

  /* If the screen size is 500px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 500px) {

    .card {
      margin-top: 5vh !important;
      width: 80vw !important;
    }
  }
  .section-gap{
    padding:57px !important;
    margin: 6% auto 0 auto;
  }
  .buttonHolder .btn{
    font-size:12px !important;
    width:max-content !important;
    padding:2px 5px !important;

  }
  .subnav-content
  {
    display:none !important;
  }
</style>
<div class="col-lg-12 section-gap">
  <div class="row">
    <div class="card" style="margin: 1px auto;">
      <div class="card-headers text-center">
        <h2 class="card-title tx-24 pd-t-10">{% trans "Confirm Email Address" %}</h2>
        <hr class="mg-b-0 mg-t-0" />
      </div>
          <div class="card-body password-change-body">
            {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <p> Hello, {{user_display}} </p>
      <p>{% blocktrans %}Thanks for having a 72PI account, please confirm your 
       email address by clicking the button below.{% endblocktrans %}</p>
      <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
     <button  type="submit" class="btn btn-primary float-right form-control mg-t-15" id="log-submit">{% trans "Confirm Email" %}</button>
     </form>
     {% else %}
    {% url 'account_email' as email_url %}
    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please 
    <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
    {% endif %}
          </div>
      </div>
</div>
</div>
<script>$("body").css({visibility:'visible'})</script>
{% endblock %}

