{% extends 'base.html' %}
{% load i18n %} 
{% load account socialaccount %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <link rel="stylesheet" href="{% static 'css/login.css' %}?v=1.2" />
  <title>Login - 72PI</title>
</head>
<body>
  <div class="col-lg-12 section-gap">
    <div class="row">
      <div class="card" style="margin: 1px auto;">
        <div class="card-headers text-center">
          <h2 class="card-title tx-24 pd-t-10">{% trans "Login" %}</h2>
          <hr class="mg-b-0 mg-t-0" />
        </div>
        <div class="card-body login-card-body mg-t-10">
          <form class="login mg-b-0" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15"
              id="log-submit">
              {% trans "Login" %}</button><br />
          </form>

          <div class="float-left mg-b-15" style="width: 100%;">
            <a class="button secondaryAction float-left"
              href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a href="{{ signup_url }}" class="btn-link tx-15 float-right signup" style="color: #5b47fb;">Sign Up</a>
          </div>

          <span>
            <hr class="mg-b-10 mg-t-80" />
            <p class="text-center tx-14 login-or">
              {% trans '(OR) Login with' %}
            </p>
            <div class="col-md-12 col-sm-12 col-xl-12 mg-b-10 d-flex">
              <div class="col-md-6 col-xl-6 logincol pd-l-0 pd-r-0">
                <a href="{% provider_login_url 'google' %}" class="mg-b-10 btn icon bg3 float-left">
                  <i class="fa fa-google"></i>&nbsp;&nbsp;Google
                </a>
              </div>
              <div class="col-md-6 col-xl-6 logincol pd-l-0 pd-r-0">
                <a href="{% provider_login_url 'facebook' %}" class="mg-b-10 btn icon bg1 float-right">
                  <i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook
                </a>
              </div>
            </div>
          </span>

          <div class="tx-12 footertxt mg-b-30 mg-t-40">
            <p class="mg-b-0 text-center">By logging in, you agree to</p>
            <p class="mg-b-0 text-center">
              <a href="{% url 'termsofuse' %}" target="_blank">Terms &amp; Conditions</a> and
              <a href="{% url 'privacypolicy' %}" target="_blank">Privacy Policy</a> of 72PI
            </p>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</body>
<script>
  $(".login input").addClass("form-control");
  $(".login input").addClass("new-login-input");
  $("#id_remember").hide();
  $(".login label").hide();
  $("#id_login").attr("placeholder", "Username or Email");
  $("#id_login").focus();
  $("body").css({visibility:'visible'})
</script>

</html>

{% endblock %}