{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta charset="utf-8"/>
		<title>Logout - 72PI</title>
    <meta name="description" content="" />
    <style>
      body {
        background-color: #1A0C4B !important;
        visibility: hidden;
      }
      .country_dropdown{visibility: hidden !important;}
      h6{
        color:white !important
      }
      h3{
        color:#04091D !important
      }
      #about_us_ul{
        list-style-type: disc;
      }
      p{
        font-size:14px !important;
      }
      .footer-bottom {
          padding-top: 15px !important;
      }
      .subnav-content,.basefooter,.mainfooter, .signals-header
      {
        display: none;
      }
     .footer-area{
       margin-bottom:0px !important;
     }
     .card{
    border-radius:5px;
  }
  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1950px) {
    .card {
      margin:10vh auto 1vh auto !important;
      width: 20vw !important;
    }
  }
   /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1550px) {

.card {
  margin:10vh auto 1vh auto !important;

  width: 30vw !important;
}
}

/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 1210px) {

.card {
  width: 30vw !important;
}
}

/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 1050px) {

.card {
  margin-top: 5vh !important;
  width: 40vw !important;
}
}

/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 901px) {

.card {
  margin-top: 5vh !important;
  width: 50vw !important;
}
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 750px) {

.card {
  margin-top: 5vh !important;
  width: 60vw !important;
}
}

/* If the screen size is 500px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 500px) {

.card {
  margin:10vh auto 1vh auto !important;
  width: 80vw !important;
}
}
    </style>
  </head>
  <body>
  <div class="col-lg-12 section-gap" style="margin: 6% auto 1% auto;">
      <div class="card">
        <div class="card-body">
          <div class="card-headers text-center ">
            <div class="card-title tx-24 pd-t-10">{% trans "Logout Warning" %}</div>
            <hr class="mg-b-0 mg-t-0">
          </div>
          <div class="card-body login-card-body mg-t-10">
            <p class="text-center">{% trans 'Are you sure you want to logout?' %}</p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <div class="col-md-12 col-sm-12 col-xl-12  mg-b-10  d-flex">
                <div class="col-md-12 col-xl-12 logincol pd-l-0 pd-r-0">
                    <button type="submit" class="btn btn-primary icons float-left">{% trans 'Logout' %}</button>
                    <button type="submit" class="btn btn-danger icons float-right" id="yourBackBtn">{% trans 'Cancel' %}</button>
               </div>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
<script>
  $("#yourBackBtn")
   .click(function() {
         history.back();
         return false;
   });
   $("body").css({visibility:'visible'})
 </script>
 {% endblock %}