{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<head>
<style>
  body {
    background-color: #1A0C4B !important;
    visibility: hidden;
  }
  .country_dropdown{visibility:none !important;}
</style>
</head>
<div class="col-md-4 col-lg-4 col-xl-4 mg-t-70">
  <div class="card">
    <div class="card-title title text-center mg-t-0" >
      <h4 class="text-center mg-t-15"> {% trans "Set Password" %} </h4>
      <hr class="mg-b-0 mg-t-0">  
    </div>
    <div class="card-body password-change-body">
      <form id="signup_form" method="POST" action="{% url 'account_set_password' %}" class="password_set signup mg-b-0">
        {% csrf_token %}
        {{ form.as_p }}
        <button  type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15" id="log-submit">{% trans "Set Password" %}</button><br>
      </form> 
       <div class="mg-b-15 text-center">
        <a class="button secondaryAction tx-12" href="###">{% trans "See our password policy" %}</a>
      </div>
    </div>
  </div>    
</div>
<script type="text/javascript">
  $('.signup input').addClass('form-control')
  $('.signup input').addClass('new-login-input')
  $('#id_password2').attr('placeholder','Confirm Password');
  $('.signup label').hide();
  $("body").css({visibility:'visible'})
</script>
{% endblock %}