{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <title>Password Reset - 72PI</title>
</head>
<style>
  .country_dropdown{visibility:none !important;}
  body {
    background-color: #1A0C4B !important;
    visibility: hidden;
  }
    footer
      {
        display: none;
      }
      input{
    width:100% !important;
    height:38px !important;
    padding: 7px;
    color: #222;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    transition: border-color .15s linear,box-shadow .1s linear;
    -webkit-font-smoothing: antialiased;
    margin-bottom:10px !important
  }
  input:focus{
    border:1px solid #1A0C4B !important;
        outline:none !important;
  }

 
  .card{
    border-radius:5px;
  }
  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1950px) {
    .card {
      margin:8vh auto 1vh auto !important;

      width: 20vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1550px) {

    .card {
      width: 25vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1210px) {

    .card {
      width: 30vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1050px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 901px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 700px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 751px) {

    .card {
      margin-top: 5vh !important;
      width: 50vw !important;
    }
  }

  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {

    .card {
      margin-top: 5vh !important;
      width: 60vw !important;
    }
  }

  /* If the screen size is 500px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 500px) {

    .card {
      margin-top: 5vh !important;
      width: 80vw !important;
    }
  }
  .subnav-content{display:none !important;}
</style>

  <link rel="stylesheet" href="{% static 'css/base-styles.css' %}"> 
  

  <body>
      <div class="col-lg-12 section-gap" style="margin:8vh auto 0% auto;">
        <div class="card">
          <div class="card-headers text-center ">
            <div class="card-title tx-24 pd-t-20">{% trans "Password Reset" %}</div>
            <hr class="mg-b-0 mg-t-0">
          </div>

          <div class="card-body login-card-body mg-t-10">
            {% if user.is_authenticated %}
            {% user_display user as user_display %}
            <p class="text-warning"><strong>{% trans "Warning" %}:</strong> {% blocktrans %}Hey, you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
            {% endif %}
            <p>{% trans "To reset your password, please enter the registered email address." %}</p>
            <p>{% trans "Will send you an email with instructions." %}</p><br>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" target="_top">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-md-12 col-sm-12 col-xl-12  mg-b-10  d-flex ">
                    <div class="col-md-12 col-xl-12 logincol pd-l-0 pd-r-0">
                        <button type="submit" class="btn btn-primary icons float-left">{% trans 'Reset Password' %}</button>
                   
                        <a href="{% url 'account_login' %}"  class="btn btn-danger icons float-right">Cancel</a>
                   </div>
                 </div>
            </form>
    
            <p class="footertxt">{% blocktrans %}Please contact us if you have any trouble in resetting your password.{% endblocktrans %}</p>
         
    
          </div>
        </div>
      </div>
     
  </body>



<script>
    $('.password_reset input').addClass('form-control')
    $('.password_reset input').addClass('new-login-input')
    $('#id_email').focus();
    $("body").css({visibility:'visible'})
</script>

{% endblock %}