{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<html>
  <style>
   
   .subnav-content,.basefooter,.mainfooter
    {
      display: none;
    }
    input{
    width:100% !important;
    height:38px !important;
    padding: 7px;
    color: #222;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    transition: border-color .15s linear,box-shadow .1s linear;
    -webkit-font-smoothing: antialiased;
    margin-bottom:10px !important
  }
  input:focus{
    border:1px solid #1A0C4B !important;
        outline:none !important;
  }
    
    body {
    background-color: #1A0C4B !important;
    visibility: hidden;
  }
  .card{
    border-radius:5px;
  }
  /* If the screen size is 900px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 1950px) {
    .cardheader{
      margin-top:20vh !important;
    }
    .card {
      margin:8vh auto 1vh auto !important;
      width: 30vw !important;
    }
  }
  /* If the screen size is 900px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 1550px) {

    .card {
      width: 30vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  /* @media only screen and (max-width: 1210px) {

    .card {
      width: 30vw !important;
    }
  } */

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1050px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 901px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 700px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 751px) {

    .card {
      margin-top: 5vh !important;
      width: 50vw !important;
    }
  }

  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {

    .card {
      margin-top: 5vh !important;
      width: 60vw !important;
    }
  }

  /* If the screen size is 500px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 500px) {

    .card {
      margin-top: 5vh !important;
      width: 80vw !important;
    }
  }
      
  .password-change-body label:after {
    content:" *";
    color: red;
  }
  .a-changepwd{background-color:orange!important;color:#fff!important}.my_account{color:orange!important}
  .country_dropdown{visibility:hidden !important;}
  </style>
  <div class="col-lg-12" style="margin:7% auto">
    <div class="cardheader">
      <h2 class="text-center text-white">Change Password</h2>
      <h5 class="text-center text-white mg-t-20" style="font-weight: 400;">Change your password and login to 72PI account with new password</h5>
    </div>
    <div class="card">
      <!-- <div class="card-title title text-center mg-t-0" >
        <h4 class="text-center mg-t-15"> {% trans "Change Password" %} </h4>
        <hr class="mg-b-0 mg-t-0">  
      </div> -->
      <div class="card-body password-change-body pd-t-30">
        <form class="signup mg-b-0" id="signup_form" method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button  type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15" id="log-submit">{% trans "Change Password" %}</button><br>
        </form> 
         <div class="mg-b-15 text-center">
          <a class="button secondaryAction tx-12" href="###">{% trans "See our password policy" %}</a>
        </div>
      </div>
    </div>    
  </div>
  <!-- <div class="section-gap"></div> -->
  <script type="text/javascript">
    $('.signup input').addClass('form-control')
    $('.signup input').addClass('new-login-input')
    $('#id_password2').attr('placeholder','Confirm Password');
    $('.signup label').each(function(){
          $(this).text($(this).text().replace(":",""))
          if($(this).text()=="New Password (again)")
          {
          $(this).text("Password Confirmation")

          }
    })
    $("body").css({visibility:'visible'})
  </script>
</html>
{% endblock %}
