{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/base-styles.css' %}" />
<style>
  .country_dropdown{visibility:none !important;}
  body {
    background-color: #1A0C4B !important;
    visibility: hidden;
  }
  .baselogin {
    color: #ffa400 !important;
  }

  p {
    color: #89938f !important;
  }

  .bt {
    border: 2px solid #00b8fe !important;
    padding: 4px 10px !important;
    color: #00b8fe !important;
  }

  .sym::before {
    content: "•   ";
    font-size: 18px;
  }

  .main-header {
    color: #89938f;
    width: 265px;
    border-bottom: 3px solid #00b8fe;
    padding-bottom: 5px;
  }

  .basefooter,
  .analytics-header,
  .footer-area, .signals-header {
    display: none;
  }
  input[type=email]{
    width:100% !important;
    height:38px !important;
    padding: 7px;
    color: #222;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    transition: border-color .15s linear,box-shadow .1s linear;
    -webkit-font-smoothing: antialiased;
    margin-bottom:10px !important
  }
  input[type=email]:focus{
    border:1px solid #1A0C4B !important;
        outline:none !important;
  }

 
  .card{
    border-radius:5px;
  }
  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1950px) {
    .card {
      width: 30vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1550px) {

    .card {
      width: 25vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1210px) {

    .card {
      width: 30vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 1050px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 900px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 901px) {

    .card {
      margin-top: 5vh !important;
      width: 40vw !important;
    }
  }

  /* If the screen size is 700px or less, set the font-size of <div> to 30px */

  @media only screen and (max-width: 751px) {

    .card {
      margin-top: 5vh !important;
      width: 50vw !important;
    }
  }

  /* If the screen size is 600px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 600px) {

    .card {
      margin-top: 5vh !important;
      width: 60vw !important;
    }
  }

  /* If the screen size is 500px or less, set the font-size of <div> to 30px */
  @media only screen and (max-width: 500px) {

    .card {
      margin-top: 5vh !important;
      width: 80vw !important;
    }
  }
  .section-gap{
    padding:57px !important;
    margin: 6% auto 0 auto;
  }
  .buttonHolder .btn{
    font-size:12px !important;
    width:max-content !important;
    padding:2px 5px !important;

  }
</style>
<div class="col-lg-12 section-gap">
  <div class="row">
    <div class="card" style="margin: 1px auto;">
      <div class="card-headers text-center">
        <h2 class="card-title tx-24 pd-t-10">{% trans "Signup Closed" %}</h2>
        <hr class="mg-b-0 mg-t-0" />
      </div>
          <div class="card-body password-change-body">
           <span class="text-center" style="color:red">{% trans "We are sorry, the sign up is currently closed." %}</span><br><br>
           <p>Note: You must have an account invitation, to create an account</p>
          </div>
      </div>
</div>
</div>
<script>$("body").css({visibility:'visible'})</script>
{% endblock %}
