{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <title>Signup - 72PI</title>
</head>

<body>
  <div class="col-lg-12 section-gap" style="margin:6% auto 1% auto; ">
    <div class="row">
      <div class="card" style="margin:1px auto">
        <div class="card-headers text-center ">
          <div class="card-title tx-24 pd-t-10">{% trans "Sign Up" %}</div>
          <hr class="mg-b-0 mg-t-0">
        </div>
        <div class="card-body login-card-body pd-b-0 pd-t-10">
          <form class="signup mg-b-0" id="signup_form" method="post" action="{% url 'account_signup' %}" target="_top">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <i>{% trans "Please fill the above fields and click on signup" %}</i>
            <button type="submit" class="primaryAction btn btn-primary float-right form-control mg-t-15"
              id="log-submit">{% trans "Sign Up" %}</button><br>
          </form>
          <div class="text-center mg-t-0">{% blocktrans %}Already have an account?<a
              href="{{ login_url }}">Login</a>{% endblocktrans %}</div>
          <span>
            <hr class="mg-b-10 mg-t-10">
            <p class="text-center tx-14 login-or">{% trans '(OR) Login with' %}</p>
            <div class="text-center col-md-12 col-sm-12 col-xl-12  mg-b-10 d-flex ">
              <div class="col-md-6 col-xl-6 logincol pd-l-0 pd-r-0">
                <a href="{% provider_login_url 'google' %}" class="mg-b-10 btn icon bg3 float-left">
                  <i class="fa fa-google"></i>&nbsp;&nbsp;Google
                </a>
              </div>
              <div class="col-md-6 col-xl-6 logincol pd-l-0 pd-r-0">
                <a href="{% provider_login_url 'facebook' %}" class="mg-b-10 btn icon bg1 float-right">
                  <i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook
                </a>
              </div>
            </div>
          </span>

          <div class="tx-12 footertxt mg-b-30 mg-t-40 ">
            <p class="mg-b-0 text-center">By signing in, you agree to</p>
            <p class="mg-b-0 text-center">
              <a href="{% url 'termsofuse' %}" target="_blank">Terms &amp; Conditions</a> and
              <a href="{% url 'privacypolicy' %}" target="_blank">Privacy Policy</a> of 72PI
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- </section> -->
</body>

</html>




<script type="text/javascript">
  $('.signup input').addClass('form-control')
  $('.signup input').addClass('new-login-input')
  $('.signup label').hide();
  $('#id_password2').attr('placeholder', 'Confirm Password');
  $('#id_first_name').attr('placeholder', 'First Name');
  $('#id_last_name').attr('placeholder', 'Last Name(Optional)');
  $('#id_contact_number').attr('placeholder', 'Contact No(Optional)');
  $('#id_email').focus();
  $("body").css({visibility:'visible'})
</script>
{% endblock %}