{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% block content %}
<head>
  <title>Account Verification - 72PI</title>
</head>
<style>
  .country_dropdown{visibility:none !important;}
    body {
      background-color: #1A0C4B !important;
      visibility: hidden;
    }
    h6{
      color:white !important
    }
    h3{
      color:#04091D !important
    }
    #about_us_ul{
      list-style-type: disc;
    }
    p{
      font-size:14px !important;
    }
    .footer-bottom {
        padding-top: 15px !important;
    }
     .analytics-header,.basefooter,.mainfooter, .signals-header
    {
      display: none;
    }
   .footer-area{
     margin-bottom:0px !important;
   }
   .card{
  border-radius:5px;
}
/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 1950px) {
  .card {
    margin:10vh auto 1vh auto !important;
    width: 20vw !important;
  }
}
 /* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 1550px) {

.card {
margin:10vh auto 1vh auto !important;

width: 30vw !important;
}
}

/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 1210px) {

.card {
width: 30vw !important;
}
}

/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 1050px) {

.card {
margin-top: 5vh !important;
width: 40vw !important;
}
}

/* If the screen size is 900px or less, set the font-size of <div> to 30px */

@media only screen and (max-width: 901px) {

.card {
margin-top: 5vh !important;
width: 50vw !important;
}
}


/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 750px) {

.card {
margin-top: 5vh !important;
width: 60vw !important;
}
}

/* If the screen size is 500px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 500px) {

.card {
margin:10vh auto 1vh auto !important;
width: 80vw !important;
}
}
.subnav-content{
  display: none !important;
}

  </style>
  <body>
    <div class="col-lg-12 section-gap" style="margin: 5% auto 1% auto;">
        <div class="card" >
            <div class="card-header title text-center" >
                <h4 class="text-center mg-t-15 card-title"> {% trans "Verify Email Address" %}</h4>
                <hr class="mg-b-0 mg-t-0">
            </div>
            <div class="card-body login-card-body">
                  <p class="text-success">{% trans "We have sent an email to you for verification. Follow the link provided to complete the process." %}</p>
                  <br>
                  <p class="footertxt">{% blocktrans %}<b>Note:</b>&nbsp;If you do not receive the confirmation email, please check your Spam or Junk folder just in case the email got delivered there instead of your inbox. If so, mark it Not Spam, which should allow future emails to get through.{% endblocktrans %}</p>
                  <br>
                  <p class="text-info">{% blocktrans %}Please contact us if you have any trouble in verifying your email address.{% endblocktrans %}</p>
            </div>
        </div>
      </div>
  </body>

<script>
    $('.password_reset input').addClass('form-control')
    $('.password_reset input').addClass('new-login-input')
    $("body").css({visibility:'visible'})
</script>
{% endblock %}
