{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
      <title>Quant - 72PI</title>
      <meta name="keywords" content="72piQuant, quant, 72piQuantmodels,Quantmodels, 72piprediction, stockprediction, 72piml, stockml, 72pimachinelearning, 72piquantitativemodels,quantitativemodels, 72pistockperformanceprediction,stockperformanceprediction"/>
      <meta name="description" content="Relative performance of sectors and companies are predicted for the next 2 to 4 months with Quantitative models using Machine Learning techniques" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
      <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
      <script src="{% static 'js/table_sort.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/aiml.css' %}?v=1.2">
  </head>
	<body>
        <div class="col-lg-12 section-gap main ai-ml-div">
            <div class="col-lg-12 ">
                <div class="row page-title  mg-t-20">
                    <div class="col-sm-6">
                        <p class="text-white tx-20">
                            <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Advance Quant<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            <a href="{% url 'AIMLSignals' %}" class="nav-sub-link">ML Quant</a>
                        </p>
                    </div>
                    <div class="row col-sm-6 justify-content-end">
                        <div class="banner-btn mg-l-5">
                            <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                                aria-hidden="true">
                            </i></a>
                        </div>
                    </div>
                </div> 
                <div id="videoModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe id="video-div" height="315" src="https://www.youtube.com/embed/QijRs_TrlR4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="disclaimer-text">
                    <p class="text-italic">
                        Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                    </p>
                </div> 
           <div class="golduserdiv row show-card">
              
            <div class="card mg-t-5">
                    <div class="card-header pd-b-0">
                        <h3 class="mg-b-10 mg-l-20 text-center"><label>Quant</label></h3>
                        <p class="tx-18 pd-t-20 pd-l-10 first-p" style="color:#6633CF;line-height: 1.8rem;">Quantitative models using Machine Learning techniques are used to predict 2 to 4 months relative performance. Historical data from last 5 years is used to train the model. The model predictions are predominantly capturing the relative momentum of Sectors and specific stocks within each Sector.  These Quantitative models using Machine Learning techniques can be used along with other signals to crystalize investment decisions and for portfolio construction. </p>
                        <div class="scroller scroller-left-1"><i class="fa fa-chevron-left"></i></div>
						<div class="scroller scroller-right-1"><i class="fa fa-chevron-right"></i></div>
                        <div class="row">
                            <div class="col-md-12 portfolio-tabs">
                              <ul id="tab-list" class="nav nav-tabs" role="tablist">
                              </ul>
                              {% for month in months %}
                              <script>

                                  $('#tab-list').append($('<li><a href="#" role="tab" data-toggle="tab"><span> {{month}} </span> </a></li>'));
                              </script>
                              {% endfor %}
                            </div>
                          </div>
                        <div class="text-rights pd-l-20 mg-t-10">
                            <label class="mg-r-10"><input type="radio" name="stocktype" value="all" class="mg-r-5" checked>All Stocks</label>
                            <label class="mg-l-10"><input type="radio" name="stocktype" value="fando" class="mg-r-5">F&O Stocks</label>
                        </div>
                    </div>
                    <div class="card-body pd-t-0">
                        <div id='ML_Overlap'></div> 

                        <div class="col-lg-12">
                            <div class=" mg-t-20">
                                <div class="card-body section3">
                                    {% if sectordata %}
                                    <div class="row sectors-div">
                                        <div class="col-lg-4" style="border-right:1px solid grey;">
                                            <h4 class="mg-b-10"><label>Underweight Sectors</label></h4>
                                            <p>Energy</p>
                                            <p>Financials</p>
                                        </div>
                                        <div class="col-lg-4" style="border-right:1px solid grey;">
                                            <h4 class="mg-b-10"><label>Neutral Sectors</label></h4>
                                            <p>Communication Services</p>
                                            <p>Consumer Discretionary</p>
                                            <p>Industrials</p>
                                            <p>Real Estate</p>
                                            <p>Utilities</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4 class="mg-b-10"><label>Overweight Sectors</label></h4>
                                            <div class="sectors">
                                                <p>Consumer Staples</p>
                                                <p>Health Care</p>
                                                <p>Information Technology</p>
                                                <p>Materials</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="row sectors-div">
                                        <div class="col-lg-4" style="border-right:1px solid grey;">
                                            <h4 class="mg-b-10"><label>Underweight Sectors</label></h4>
                                            <p>Communication Services</p>
                                            <p>Consumer Staples</p>
                                        </div>
                                        <div class="col-lg-4" style="border-right:1px solid grey;">
                                            <h4 class="mg-b-10"><label>Neutral Sectors</label></h4>
                                            <p>Consumer Discretionary</p>
                                            <p>Energy</p>
                                            <p>Industrials</p>
                                            <p>Materials</p>
                                            <p>Real Estate</p>
                                            <p>Utilities</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4 class="mg-b-10"><label>Overweight Sectors</label></h4>
                                            <div class="sectors">
                                                <p>Financials</p>
                                                <p>Health Care</p>
                                                <p>Information Technology</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-12 mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                {% if gicsdata %} 
               {% for item in gicsdata %}
               <div class="card  mg-t-20 group">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="sector-h3"><label class="lable_data">{{item.0}}</label><b><span class="pd-l-20 stars">{{item.2}}</span></b></h3>
                        </div>
                       
                    </div>
                </div>
                <div class="card-body">
                    <div class="sector-content">
                        <p>
                            {{item.1}}
                        </p>
                    </div>
                    
                    <div class="table mg-t-30 table-responsive">
                        <table classs="unselectable">
                            <thead>
                                <th>Bottom Tier</th>
                                <th>Mid Tier</th>
                                <th>Top Tier</th>
                            </thead>
                            <tbody id="tbody{{ forloop.counter }}">
                            </tbody>
                        </table>
                    </div>
                    <script>
                        output={{item.3|safe}};
                        create_table(output,'#tbody{{ forloop.counter }}','tbody{{ forloop.counter }}')
                        function create_table(output,tbody_id,id)
                        {
                            tabledata = new Array();

                            for(i=0;i<output.length;i++)
                            { 
                                tabledata.push(output[i])
                            }  
                                                    
                            $(tbody_id).empty();
                            var table = document.getElementById(id);
                            var columnCount = tabledata[0].length;
                            var row = table.insertRow(0);
                            for(var i = 0; i < tabledata.length; i++)
                            {
                                row = table.insertRow(-1);
                                for(var j = 0; j < columnCount; j++)
                                {
                                    var cell = row.insertCell(-1);
                                    cell.innerHTML = tabledata[i][j];
                                }
                            }
                                
                        }
                        $('.table tr td:nth-child(1)').each(function()
                            {
                                if($(this).text()!=="")
                                {
                                    $(this).addClass('company')
                                }
                                
                            })
                            $('.table tr td:nth-child(2)').each(function()
                            {
                                if($(this).text()!=="")
                                {
                                    $(this).addClass('company')
                                }
                            })
                            $('.table tr td:nth-child(3)').each(function()
                            {
                                if($(this).text()!=="")
                                {
                                    $(this).addClass('company')
                                }
                            })
                            $(document).on("click", ".company", function () {
                                var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
                                window.open(stockURL, '_blank');
                                return false; 
                                });
                    </script>
                </div>
            </div>
               {% endfor %}
               {% endif %}
            </div>
            {% if gicsdata %}
            <div class="col-lg-12 mg-t-20 pd-l-0 pd-r-0">
                <button class="showmore "><a href="javascript:void();" id="load-more">SHOW MORE</a></button>
            </div>
            {% endif %}
           </div>
           <!-- <div class="" id="noData">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Coming Soon.....</h3>
                </div>
            </div> -->

        </div>
        </div>
</div>
    </body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
         $(document).ready(function()
            {
                $("#tab-list li").eq(0).addClass("active");
            
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
       
        $('.stars').each(function (i, obj) {
            var text = $(this).text();
            $(this).html(text.replace(text, getStars(parseFloat($(this).text()))));
        })
       
        function getStars(rating) {

            // Round to nearest half
            rating = Math.round(rating * 2) / 2;
            let output = [];

            // Append all the filled whole stars
            for (var i = rating; i >= 1; i--)
                output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;font-size:20px"></i>&nbsp;');

            // If there is a half a star, append it
            if (i == .5) output.push('<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;font-size:20px"></i>&nbsp;');

            // Fill the empty stars
            for (let i = (5 - rating); i >= 1; i--)
                output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;font-size:20px"></i>&nbsp;');

            return output.join('');

        }

        var $group = $('.group');
        $group.filter(':hidden:first').addClass('active');
        $group.filter(':hidden:first').addClass('active');
        $group.filter(':hidden:first').addClass('active');



        $("#load-more").click(function () {

            if ($(this).hasClass('disable')) return false;

            var $hidden = $group.filter(':hidden:first').addClass('active');
            var $hidden = $group.filter(':hidden:first').addClass('active');
            var $hidden = $group.filter(':hidden:first').addClass('active');

            if (!$hidden.next('.group').length) {
                $(this).addClass('disable');
            }

        });

        $(document).ready(function()
        {
            $("#tab-list li").eq(0).addClass("active");
            var tabvalue=$("#tab-list li.active").text().trim();
            var filtertype=$('input[name="stocktype"]:checked').val();
          
            getdata(tabvalue,filtertype)
        })
         
        
        $('#tab-list li ').click(function()
        {
                $('#tab-list li').removeClass('active')
                $(this).addClass('active');
                getdata($(this).text().trim(),$('input[name="stocktype"]:checked').val())
        })
        $("input[name='stocktype']").change(function(){
            var tabvalue=$("#tab-list li.active").text().trim();
            getdata(tabvalue,$(this).val())
        });
         
        function getdata(portfolio,filtertype){
        
            $.ajax({
                    url: "{% url 'AIMLSignals' %}",
                    type: 'post',
                    data:{'portfolioname':portfolio,'filtertype':filtertype},
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    success: function(json) {
                       
                        graph(json.output_data_total,json.company,json.sector);
                    },
                    error: function(json) {
                        console.log("Error detected while plotting returns");
                    }
          })
        }
 
        function graph(output_data_total,company,sector)
       {
        var graph_name;
        if(localStorage.getItem("country-val")=='US'){
            graph_name='S&P 500'
        }
        else{
            graph_name='BSE 500'
        }
        Highcharts.chart('ML_Overlap', {
            chart: {
                type: 'scatter',
                zoomType: 'xy',
                events: {
                    render: function () {
                    }
                }
            },
            title: {
                text: null
            },
            credits: {
                enabled: false
            },
            exporting: {
                buttons: {
                    contextButton: {
                        enabled: false
                    },

                }
            },
            xAxis: {
                labels: {
                    style: {
                        color: '#031b4e',
                        fontSize: '13px',
                        fontWeight: 'normal'
                    },
                },
                title: {
                    text: null
                },
                categories: sector
            },
            yAxis: {
                gridLineWidth: 0,
                lineWidth: 0,
                tickLength: 0,
                labels: {
                    enabled: false,
                    formatter: function () {
                        return (this.value * 100).toFixed(0) + '%';
                    },
                    style: {
                        color: '#031b4e',
                        fontSize: '13px',
                        fontWeight: 'normal'
                    },
                },

                title: {
                    text: null,

                }
            },
            tooltip: {
                formatter: function () {
                    var tooltipdata = this.series.userOptions.company
                    var company;
                    for (i = 0; i < tooltipdata.length; i++) {
                        if (sector[this.point.x] === tooltipdata[i][0] && this.point.y === tooltipdata[i][
                            1]) {
                            company = tooltipdata[i][2];

                        }
                    }

                    return company

                }

            },

            plotOptions: {
                scatter: {
                    marker: {
                        symbol: 'circle',
                        radius: 3,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    }
                }
            },
            series: [{
                name: graph_name,
                color: '#6633D8',
                data: output_data_total,
                marker: {
                    radius: 3
                },
                company:company

            }]
        });
       }
       tabsScrolling();
       function tabsScrolling() {
          
           var hidWidth;
           var scrollBarWidths = 40;
           var scrollSpeed = 600;
           var widthOfList = function () {
               var itemsWidth = 0;
               $('#tab-list li').each(function () {
                   var itemWidth = $(this).outerWidth();

                   itemsWidth += itemWidth;
               });

               return itemsWidth;
           };


           var widthOfHidden = function () {
               return (($('.portfolio-tabs').outerWidth()) - widthOfList() - getLeftPosi()) - scrollBarWidths;
           };

           var getLeftPosi = function () {

               return $('#tab-list').position().left;
           };

           var reAdjust = function () {
               if (($('.portfolio-tabs').outerWidth()) < widthOfList()) {
                   $('.scroller-right-1').show();
               }
               else {
                   $('.scroller-right-1').hide();
               }

               if (getLeftPosi() < 0) {
                   $('.scroller-left-1').show();
               }
               else {
                   $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, scrollSpeed);
                   $('.scroller-left-1').hide();
               }
           }

           reAdjust();

           $(window).on('resize', function (e) {
               reAdjust();
           });

           $('.scroller-right-1').click(function () {

$('.scroller-left-1').fadeIn('slow');

$remained = $('#tab-list').width() - $('.portfolio-tabs').width() + parseInt($('#tab-list').css('left'));
if (widthOfList() < $('.portfolio-tabs').width() - parseInt($('#tab-list').css('left'))) {
 $('.scroller-right-1').fadeOut('slow');
}
else {
 if ($remained >= $('.portfolio-tabs').innerWidth()) {
   $left = $('.portfolio-tabs').innerWidth();
 } else {
   $left = $remained;
   $('.scroller-right-1').fadeOut('slow');
 }

 $('#tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
}
});

$('.scroller-left-1').click(function () {

$('.scroller-right-1').fadeIn('slow');


if (-parseInt($('#tab-list').css('left')) > $('.portfolio-tabs').innerWidth()) {
 $left = -$('.portfolio-tabs').innerWidth();
} else {
 $left = parseInt($('#tab-list').css('left'));
 $('.scroller-left-1').fadeOut('slow');
}

$('#tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
});



         }
       
         $("body").css({visibility:'visible'});

     
       </script>
</html>
{% endblock %}

