{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<html>
  <head>
    <title>Blogs - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/blogs_home.css' %}?v=1.2">
  </head>
  <body>
    <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="site-contentnbt mg-t-50" id="contentnbt">
                <div class="content-areanbt" id="primarynbt">
                    <div class="site-mainnbt" id="mainnbt" role="main">
                        <div class="mainblogsec section" id="mainblogsec">
                            <div class="widget Blog" data-version="1" id="Blog1">
                                <div class="blog-posts hfeed">
                                    <!--Can't find substitution for tag [defaultAdStart]-->
                                    {% if documents %}
                                    {% for document in documents %}
                                    <div class="date-outer">
                                        <div class="date-posts">
                                            <div class="post-outer">
                                                <article class="post hentry" itemprop="blogPost" itemscope="itemscope">
                                                    <a name="8603357260827555065"></a>
                                                    <header class="entry-header">
                                                        <h3 class="post-title entry-title" itemprop="name">
                                                            <a href="{{document.get_url}}"
                                                            target="_blank">
                                                            {{ document.title }}
                                                            </a>
                                                        </h3>
                                                        
                                                    </header>
                                                    <div class="post-header-line-1"></div>
                                                    <div class="post-body entry-content" id="post-body-8603357260827555065"
                                                        itemprop="articleBody">
                                                        <div id="summary8603357260827555065">
                                                            {% image document.image max-300x300 as temp_image %}
                                                            <img src="{{ temp_image.url }}" alt="No image available" width="300px" height="300px" class="img-fluid img-responsive pbtthumbimg" />
                                                        
                                                            <div class="text-justify">
                                                               {{ document.short_description }}
                                                                <a class="morer" target="_blank"
                                                                href="{{document.get_url}}">Read
                                                                More</a>
                                                            </div>
                                                        </div>
                                                        <div style="clear: both;"></div>
                                                    </div>
                                                    <footer class="entry-footernbt">
                                                        <div class="entry-metanbt">
                                                            Posted on <span class="">{{ document.posted_at|date:"d-M-Y h:i A"}}</span>
                                                        </div>
                                                    </footer>
                                                    <div class="pbtsharethisbutt">
                                                        <ul class="pbt-social-icons">
                                                            <li class="Share-this-arti">Share This:&nbsp;&nbsp;</li>
                                                            <li class="pbtfacebook">
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{document.get_url}}"
                                                                rel="noopener" target="_blank">
                                                                    <i class="fa fa-facebook-square"></i>&nbsp;Facebook</a>
                                                            </li>
                                                            <li class="pbttwitter">
                                                                <a href="https://twitter.com/intent/tweet?url={{document.get_url}}" rel="noopener" target="_blank">
                                                                    <i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
                                                            </li>
                                                            <li class="pbtlinkedin">
                                                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{document.get_url}}"
                                                                    rel="noopener" target="_blank">
                                                                    <i class="fa fa-linkedin-square"></i>&nbsp;Linkedin</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </article>
                                                <div style="clear: both;"></div>
                                            </div>

                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <!--Can't find substitution for tag [adEnd]-->
                                </div>
                            </div>
                        </div>
                    </div><!-- #main -->
                </div><!-- #primary -->
                <div class="widget-areanbt" id="secondarynbt" role="complementary">
                    <div class="widget widget_searchnbt">
                        <div class="social-buttonsnbt">
                            <a href="https://www.facebook.com/72pisignals/" target="_blank" rel="nofollow" class="fb-a"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://twitter.com/72pisignals" target="_blank" rel="nofollow" class="twitt-a"><i class="fa fa-twitter-square"></i>
                            <a href="https://www.instagram.com/72pisignals/" target="_blank" rel="nofollow" class="insta-a"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/72pi/" target="_blank" rel="nofollow" class="linkedin-a"><i class="fa fa-linkedin-square"></i></a>
                            <a href="https://www.youtube.com/channel/UCGKP2GoOr2RTMpe9cPwr7WA" target="_blank" rel="nofollow" class="youtube-a"><i class="fa fa-youtube-square"></i></a>
                        </div>
                        <form action="/search" class="search-formnbt" method="get" role="search">
                            <label>
                                <span class="screen-reader-textnbt">Search for:</span>
                                <input class="search-fieldnbt" name="q" placeholder="Search..." title="Search for:"
                                    type="search" value="">
                            </label>
                            <input class="search-submitnbt screen-reader-textnbt" type="submit" value="Search">
                        </form>
                    </div>
                    <div class="sidebarrightnbt section" id="sidebarrightnbt">
                        <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
                            <h2>Popular Posts</h2>
                            <div class="widget-content popular-posts">
                                <ul>
                                    {% if documents %}
                                    {% for document in documents %}
                                    <li>
                                        <div class="item-thumbnail-only">
                                            <div class="item-thumbnail">
                                                <a href="{{document.get_url}}"
                                                    target="_blank">
                                                    <img src="{% static 'images/blog1.png' %}" alt="" border="0" width=72 height=72>
                                                </a>
                                            </div>
                                            <div class="item-title"><a
                                                    href="{{document.get_url}}" target="_blank">{{ document.title }}</a></div>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                                <div class="clear"></div>
                                <span class="widget-item-control">
                                    <span class="item-control blog-admin">
                                        <a class="quickedit"
                                            href="//www.blogger.com/rearrange?blogID=3145327400099409187&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=sidebarrightnbt"
                                            onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));"
                                            rel="nofollow" target="configPopularPosts1" title="Edit">
                                            <img alt="" height="18"
                                                src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                        </a>
                                    </span>
                                </span>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="widget HTML" data-version="1" id="HTML1">
                            <h2 class="title">Recent Posts</h2>
                            <div class="widget-content">
                                <script>
                                    var numposts = 5;
                                    var showpostdate = false;
                                    var showpostsummary = false;
                                    var numchars = 100;
                                </script>
                                <script
                                    src="//stock-nbt.blogspot.com/feeds/posts/default?orderby=published&amp;alt=json-in-script&amp;callback=rp">
                                </script>
                                <ul>
                                    {% if documents %}
                                    {% for document in documents %}
                                    <li class="mg-b-10"> 
                                        <div class="item-thumbnail-only mg-b-15">
                                            <div class="item-title"><a href="{{document.get_url}}" target="_blank">{{ document.title }}</a></div>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                    <a class="quickedit"
                                        href="//www.blogger.com/rearrange?blogID=3145327400099409187&amp;widgetType=HTML&amp;widgetId=HTML1&amp;action=editWidget&amp;sectionId=sidebarrightnbt"
                                        onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML1&quot;));"
                                        rel="nofollow" target="configHTML1" title="Edit">
                                        <img alt="" height="18"
                                            src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                    </a>
                                </span>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div><!-- #secondary -->
            </div>
        </div>
    </div>
    
  </body>
  <script>
    $("body").css({
      visibility: 'visible'
    })
  </script>

</html>
{% endblock %}