{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
		<title>72PI</title>
    <meta name="description" content="" />
    <style>
      /* body{
        background-color:#EEEFF4 !important;
        line-height:1.8em;
        color:black
      } */
      .aboutus{
          color:#FFA400 !important;
      }
      h6{
        color:white !important
      }
      h3{
        color:#04091D !important
      }
      #about_us_ul{
        list-style-type: disc;
      }
      p{
        font-size:14px !important;
      }
      .footer-bottom {
          padding-top: 15px !important;
      }
      .basefooter
      {
        display: none;
      }
      .analytics-header{
       display: none;
      }
    </style>
  </head>
	<body>
    <div class="col-lg-10 section-gap" style="margin: 3% auto;">
      <div class="card" style="padding:2%">
        <div class="card-body">
          <div class="content">
            <h2>Oops!</h2>
            <h5>500 Internal Server Error</h5>
            <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
            <p>We are aware of the problem, we do our best to resolve this ASAP.</p>
            <button class="btn btn-sm btn-success">Go Back</button><br><br>
            <p class="text-danger">This page is under maintenance!!</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>$("body").css({visibility:'visible'})</script>

</html> 
{% endblock %}