{% extends 'base.html' %}
{% load i18n %}
{% load static %}
 
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <script src="{% static 'js/table_sort.js' %}"></script>
    <head>
        <style>
            body    {
                visibility :visible !important;
            }
          .analytics-header{display:none!important}.signals-header{display:block!important}.market-li a,.signals,.subnav-content li.menu-active a{color:orange!important;background-color:#fff;margin-top:1px}.country_dropdown{visibility:hidden!important}
        </style>
    </head>
    <body>
       <div class="col-lg-12 section-gap">
           <div class="row">
              <div class="col-sm-12">
                <div class="card mg-t-40">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>BSE SENSEX</label></h4>
                                <div class="pd-r-0 mg-t-20" id="bse"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>NIFTY 50</label></h4>
                                <div class="pd-r-0  mg-t-20" id="nifty"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>S&P 500</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="sandp"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>RUSSELL 2000</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="russel"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>OIL</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="oil"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>GOLD</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="gold"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>USD/INR</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="usd"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>Dow Jones 30</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="dow"></div>
                            </div>
                            <div class="col-sm-12">
                                <h4 class="text-center"><label>Gold ($/oz)</label></h4>
                                <div class="pd-r-0 mg-t-20 " id="gold_us"></div>
                            </div>
                        </div>
                        
                     
                    </div>
                </div>
              </div>
           </div>
       </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
            function dateconverter(convertdata){
            for(i=0;i<convertdata.length;i++)
            {
              

                for(j=0;j<convertdata[i]['data'].length;j++){
                    var temp=convertdata[i]['data'][j][0]
                    var date = new Date(temp)
                    var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                    convertdata[i]['data'][j][0]=now_utc;
                }
            }
            return convertdata;
        }
      

        graph('bse',{{bse_data|safe}})
        graph('nifty',{{nifty_data|safe}})
        graph('sandp',{{sp_data|safe}})
        graph('russel',{{russell_data|safe}})
        graph('oil',{{oil_data|safe}})
        graph('gold',{{gold_data|safe}})
        graph('usd',{{usd_data|safe}})
        graph('dow',{{dow_data|safe}})
        graph('gold_us',{{gold_us_data|safe}})

        function graph(gname,data) {
            var  prices=data
           

            for(i=0;i<prices.length;i++)
            {
                    var temp=prices[i][0]
                    var date = new Date(temp)
                    var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                    prices[i][0]=now_utc;
                
            } 
            Highcharts.chart(gname, {
                                chart: {
                                    type: 'area',
                                    backgroundColor:"transparent",
                                    zoomType:'x',
                                    height:300
                                },
                                title: {
                                        text:null,
                                      
                                    },
                                    credits: {
                                                enabled: false
                                            },
                                            exporting: {
                                                buttons: {
                                                    contextButton: {
                                                    enabled:false
                                                    },
                                                    
                                                }
                                            },
                                xAxis: {
                                    type: 'datetime',
                                    dateTimeLabelFormats: { // don't display the dummy year
                                        day:'%e-%b-%y',
                                        week:'%e-%b-%y',
                                        month: '%b-%y',
                                        year: '%Y'
                                
                                    },
                                    labels:{
                                        style: {
                                            color: '#031b4e',
                                            font: '13px Roboto ',
                                            fontWeight: 'normal'
                                        },
                                    },
                                    tickLength: 6,  
                                    tickWidth: 1,
                                  
                                    startOnTick:false,
                            endOnTick: false,   

                                },
                                yAxis: {
                                    gridLineWidth:0,
                                    lineWidth:1,
                                    tickLength: 6,  
                                    tickWidth: 1,
                                    labels:{
                                        formatter: function(){
                                            if ( this.value > 1000 ) return Highcharts.numberFormat( this.value/1000, 0) + "K";  // maybe only switch if > 1000
                                            return Highcharts.numberFormat(this.value,0);
                                        },
                                        style: {
                                            color: '#031b4e',
                                            font: '13px Roboto ',
                                            fontWeight: 'normal'
                                        },
                                    },
                                    title:{
                                        text:"Price",
                                        style: {
                                            color: '#031b4e',
                                            font: '13px Roboto ',
                                            fontWeight: 'normal'
                                        },
                                    },
                                    plotLines: [{
                                        color: '#F2F2F2',
                                        width: 2,
                                        value: 0
                                    }]
                                },
                                    tooltip: {
                                        formatter: function() {
                                            return  "Date : "  +'<b>'+
                                                Highcharts.dateFormat('%d-%b-%Y',
                                                                    new Date(this.x))+'<br></b>'
                                            +this.series.name+" : "+'<b>{{symbol|safe}}'+ parseFloat((this.point.y).toFixed(0)).toLocaleString()+ '</b>';
                                        },
                                        style: {
                                            color: '#031b4e',
                                            font: '13px Roboto ',
                                            fontWeight: 'normal'
                                        },
                                    },                                              
                                plotOptions: {
                                    series: {
                                        marker: {
                                            enabled: false,
                                            symbol:"circle"
                                            }
                                    }
                                },
                                legend:
                                {
                                  enabled:false,
                                    itemStyle: {
                                            color: '#031B4E',
                                            fontFamily: 'Roboto ',
                                            fontSize:'15px'
                                        
                                        },
                                },
                             
                                series: [{
                                  name: 'Price',
                                  data:prices,
                                  lineWidth: 2,
                                  lineColor: 'rgba(58, 204, 188, 1)',
                                  marker: {
                                    lineWidth: 1,
                                    lineColor: 'rgba(58, 204, 188, 1)',
                                    fillColor: 'rgba(58, 204, 188, 1)'
                                  },
                                  fillColor: {
                                      linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                      stops: [
                                          [0, 'rgba(58, 204, 188, 1)'],
                                          [1, 'rgba(255,255,255,.25)']
                                      ]
                                  },
                              }]
                            
                            });
                  
                  
        }
        $("body").css({visibility:'visible'});

    
    </script>

</html>

{% endblock %}