{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
      <title>Futures & Options - 72PI</title>
      <meta name="keywords" content="F&O, FnO, Futures & Options, Futures, Options, Derivatives, NSE Derivatives , F&Osignals, F&O signals, Futures&Optionssignals, Futures signals, futuressignals, optionssignals, options signals, Derivatives, Derivatives signals, Derivativessignals,NSE signals, NSE Derivatives signals, 72piF&Osignal, f&osignal, 72piFnOsignal, fnosignal, 72piFnOstockrange, FnOstockrange, 72piF&Ostockrange, F&Ostockrange, 72piF&Ostock1monthrange, F&Ostock1monthrange, 72piF&Ostockneartermrange, F&Ostockneartermrange, 72piF&Ostock1Mrange, F&Ostock1Mrange, 72piFnOstock1monthrange, FnOstock1monthrange, 72piFnOstockneartermrange, FnOstockneartermrange, 72piFnOstock1Mrange, FnOstock1Mrange, 72piFnOhighprobabilityrange, FnOhighprobabilityrange, 72piF&Ohighprobabilityrange,F&Ohighprobabilityrange"/>
      <meta name="description" content="It uses an in-house proprietary model and provides a 'high probability price range' for F&O stocks till the current monthly expiry" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
      <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
      <script src="{% static 'js/table_sort.js' %}"></script>
    
      <link rel="stylesheet" href="{% static 'css/futureoptions.css' %}?v=1.2">
  </head>
	<body>
       
        <div class="col-lg-12 section-gap main">
            <div class="row section3">
                <div class="col-lg-12">
                    <div class="row page-title  mg-t-20">
                        <div class="col-sm-6">
                            <p class="text-white tx-20">
                                <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                                <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                                Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Advance Quant<i
                                    class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                                <a href="{% url 'marketFutureOptions' %}" class="nav-sub-link">Futures & Options</a>
                            </p>
                        </div>
                        <div class="row col-sm-6 justify-content-end">
                            <div class="description_btn">
                                <button>How to Use this Page ?</button>
                            </div>
                            <div class="banner-btn mg-l-5">
                                <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize"
                                    data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5"
                                        target='_blank' aria-hidden="true">
                                    </i></a>
                            </div>
                        </div>
                    </div>
                    <div id="videoModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <iframe id="video-div" height="315" src="https://www.youtube.com/embed/CXDTqlTq-70"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="disclaimer-text">
						<p class="text-italic">
							Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
						</p>
                    </div>  
                  
                    <div class="card  mg-t-5 show-card">
                        <div class="card-header">
                            <h4 class="text-center"><label class="mg-b-0">Signals from Futures & Options
                                    Signals</label>
                            </h4>
                            <div class="scroller scroller-left-1"><i class="fa fa-chevron-left"></i></div>
                            <div class="scroller scroller-right-1"><i class="fa fa-chevron-right"></i></div>
                            <div class="row">
                                <div class="col-md-12 portfolio-tabs">
                                    <ul id="tab-list" class="nav nav-tabs" role="tablist">
                                    </ul>
                                    {% for month in months %}
                                    <script>
                                        $('#tab-list').append($(
                                            '<li><a href="#" role="tab" data-toggle="tab"><span> {{month}} </span> </a></li>'
                                            ));
                                    </script>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                        <div class="card-body table-responsive pd-t-0">
                            <table class="unselectable niftytable table-responsive" id="niftyTable"
                                style="display: none;">
                                <thead>
                                    <tr>
                                        <th style="display: none;">Month</th>
                                        <th>Index</th>
                                        <th class="change_th3"></th>
                                        <th>High Probability Range: Next 30 Days</th>
                                        <th>Likely Scenario</th>
                                        <th class="change_th4"></th>
                                        <th>Signal Efficiency</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in nifty_table %}
                                    <tr>
                                        <td style="display: none;">{{row.month}}</td>
                                        <td>{{row.index}}</td>
                                        <td>{{row.begin_price}}</td>
                                        <td>{{row.high_probability_range}}</td>
                                        <td>{{row.remark_1}}</td>
                                        <td>{{row.end_price}}</td>
                                        <td style=" text-align: center !important;
                                    color:green !important;
                                    font-size:18px !important; font-weight:bold !important;">
                                            {{row.signal_efficiency}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <div class="fixed-div  mg-t-20  ">
                                <div class="scroll-div">
                                    <table class="table sortable unselectable" id="myTable">
                                        <thead id="thead">
                                            <tr>
                                                <th class="sticky-col first-col">Company Name</th>
                                                <th class="non-sticky">Sector</th>
                                                <th class="change_th1 non-sticky"></th>
                                                <th class="non-sticky">High Probability Range: Next 30 days</th>
                                                <th class="non-sticky">Likely Scenario</th>
                                                <th class="non-sticky">Signal</th>
                                                <th class="change_th2 non-sticky">Likely Scenario</th>
                                                <th class="non-sticky">Signal Efficiency</th>
                                                <th style="display: none;">Month</th>
                                                <th style="display: none;">Month</th>
                                                <th style="display: none;">Month</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            {% for key,option in options.items %}
                                            <tr>
                                                <td class="sticky-col first-col">{{option.company_name}} ({{option.security_code}})</td>
                                                <td>{{option.sector}}</td>
                                                <td>{{option.begin_price}}</td>
                                                <td>{{option.High_Probability_Range}}</td>
                                                <td>{{option.Remark_1}}</td>
                                                <td>{{option.signal}}</td>
                                                <td>{{option.end_price}}</td>
                                                <td>{{option.Signal_Efficiency}}</td>
                                                <td style="display: none;">{{option.month}}</td>
                                                <td style="display: none;">{{option.start_date}}</td>
                                                <td style="display: none;">{{option.end_date}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h4 class="text-danger mg-b-20">For short term trading, look to SELL at top end of range
                                and BUY at bottom
                                end of range</h4>
                            <h4 id="signal_performance" style="color:blue"></h4>

                        </div>

                    </div>
                    <div class="" id="noData">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-center">Coming Soon.....</h3>
                            </div>
                        </div>
        
                    </div>
            </div>

            </div>
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Futures & Options</label></h3>
              <div class="modal-body">
        <p>
            It uses an in-house proprietary model and provides a 'high probability price range' for F&O stocks till the current monthly expiry. These signals can be used to capture the BIAS the model is forecasting for a given F&O stock. Hence for short term trading, look to SELL at top end of range and BUY at bottom end of range.
        </p>    </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
  </body>

    <script>
 $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
        $(document).ready(function () {
            $("#tab-list li").eq(0).addClass("active");
            var tabvalue = $("#tab-list li.active").text().trim();
            $("#niftyTable").delay(100).fadeIn(0);
        
            
            myportfolioFilter(tabvalue,"niftyTable",0);
            myportfolioFilter(tabvalue,"myTable",8);

            var count = 0,
            y_count = 0
            $('tbody> tr:not([style*="display: none"]) td:nth-child(8').each(function () {
                count = count + 1
             
                if ($(this).text()=='✓') {
                    y_count = y_count + 1
                }
              
            })
            $('#signal_performance').text(((y_count/count)*100).toFixed(2)+'% of F&O signals are performed within the indicated ranges');
            if(((y_count/count)*100)!=0){
                $('#signal_performance').text(((y_count/count)*100).toFixed(2)+'% of F&O signals are performed within the indicated ranges');
            }
            else{
                $('#signal_performance').text('');
            }
        

        })
        $('#tab-list li').click(function () {
            $('#tab-list li').removeClass('active')
            $(this).addClass('active');
            var portfolio = $(this).text().trim();

            myportfolioFilter(portfolio,"niftyTable",0);
            myportfolioFilter(portfolio,"myTable",8);
            var count = 0,
            y_count = 0
         
    
            $('tbody> tr:not([style*="display: none"]) td:nth-child(8').each(function () {
                count = count + 1
             
                if ($(this).text()=='✓') {
                    y_count = y_count + 1
                }
              
            })
            if(((y_count/count)*100)!=0){
                $('#signal_performance').text(((y_count/count)*100).toFixed(2)+'% of F&O signals are performed within the indicated ranges');
            }
            else{
                $('#signal_performance').text('');
            }
        

         
        })

        function myportfolioFilter(portfolioname,tableid,column_num) {
            var input, filter, table, tr, td, i, txtValue;
            input = portfolioname;
            filter = input.toUpperCase();
            filter = filter.trim();
            table = document.getElementById(tableid);
            tr = table.getElementsByTagName("tr");
            var count = 0;
            for (i = 1; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[column_num];
        
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    txtValue = txtValue.trim();
              
                    if (txtValue.toUpperCase() == filter) {
                        tr[i].style.display = "";
                        count++;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
               
            }
            if(tableid=="myTable")
            {
                var headval1=$('#myTable tbody> tr:not([style*="display: none"]):eq(1) td:nth-child(10)').text();
                var headval2=$('#myTable tbody> tr:not([style*="display: none"]):eq(1) td:nth-child(11)').text();
                $('.change_th1').html('Price on '+headval1.replace(', 2020','')+' @ Signal');
                $('.change_th2').html('Price on '+headval2.replace(', 2020','')+' @ Signal');
                $('.change_th3').html('Price on '+headval1.replace(', 2020','')+' @ Signal');
                $('.change_th4').html('Price on '+headval2.replace(', 2020','')+' @ Signal');

            }
            
        }
        $('tbody> tr:not([style*="display: none"]) td:nth-child(8)').each(function () {
           
            if ($(this).text().includes('Y', 'y','✓')) {
                $(this).text('✓')
               
            }
            else{
                $(this).text('-')
            }
         })
         $('#niftyTable tbody> tr:not([style*="display: none"]) td:nth-child(7)').each(function () {
         
           if ($(this).text().includes('Y', 'y','✓')) {
               $(this).text('✓')
              
           }
           else{
               $(this).text('-')
           }


        })
       
          

        $('.table tr td:nth-child(5)').each(function () {
            if ($(this).text().includes('Downside bias, within the range')) {
                $(this).css('background-color', '#F4B083');
            } else if ($(this).text().includes('Range bound, consolidation phase')) {
                $(this).css('background-color', '#FFE598');
            } else {
                $(this).css('background-color', '#A8D08D');
            }
        })
       
        $('.table tr td:nth-child(1)').each(function () {
            $(this).addClass('company')
        })
        $('.table tr td:nth-child(3)').each(function() {
           
                $(this).html(parseFloat($(this).text()).toLocaleString('hi-IN', { maximumFractionDigits: 0}))

           
        })
        
        $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
            window.open(stockURL, '_blank');
            return false;
        });
        function checkWidth() {
           
            if ($(window).width() < 580) {
                $('#myTable thead th:nth-child(1)').removeClass('sticky-col first-col');
                $('#myTable tbody td:nth-child(1)').removeClass('sticky-col first-col');
               
            } 
            else{
                $('#myTable thead th:nth-child(1)').addClass('sticky-col first-col');
                $('#myTable tbody td:nth-child(1)').addClass('sticky-col first-col');
              
            }
        }
        checkWidth();
        $(window).resize(checkWidth);
                             
     
        tabsScrolling();
       function tabsScrolling() {
          
           var hidWidth;
           var scrollBarWidths = 40;
           var scrollSpeed = 600;
           var widthOfList = function () {
               var itemsWidth = 0;
               $('#tab-list li').each(function () {
                   var itemWidth = $(this).outerWidth();

                   itemsWidth += itemWidth;
               });

               return itemsWidth;
           };


           var widthOfHidden = function () {
               return (($('.portfolio-tabs').outerWidth()) - widthOfList() - getLeftPosi()) - scrollBarWidths;
           };

           var getLeftPosi = function () {

               return $('#tab-list').position().left;
           };

           var reAdjust = function () {
               if (($('.portfolio-tabs').outerWidth()) < widthOfList()) {
                   $('.scroller-right-1').show();
               }
               else {
                   $('.scroller-right-1').hide();
               }

               if (getLeftPosi() < 0) {
                   $('.scroller-left-1').show();
               }
               else {
                   $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, scrollSpeed);
                   $('.scroller-left-1').hide();
               }
           }

           reAdjust();

           $(window).on('resize', function (e) {
               reAdjust();
           });

           $('.scroller-right-1').click(function () {

$('.scroller-left-1').fadeIn('slow');

$remained = $('#tab-list').width() - $('.portfolio-tabs').width() + parseInt($('#tab-list').css('left'));
if (widthOfList() < $('.portfolio-tabs').width() - parseInt($('#tab-list').css('left'))) {
 $('.scroller-right-1').fadeOut('slow');
}
else {
 if ($remained >= $('.portfolio-tabs').innerWidth()) {
   $left = $('.portfolio-tabs').innerWidth();
 } else {
   $left = $remained;
   $('.scroller-right-1').fadeOut('slow');
 }

 $('#tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
}
});

$('.scroller-left-1').click(function () {

$('.scroller-right-1').fadeIn('slow');


if (-parseInt($('#tab-list').css('left')) > $('.portfolio-tabs').innerWidth()) {
 $left = -$('.portfolio-tabs').innerWidth();
} else {
 $left = parseInt($('#tab-list').css('left'));
 $('.scroller-left-1').fadeOut('slow');
}

$('#tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
});


         }
         if('{{display|safe}}'=='YES')
                {
                    $('.show-card').show();
                    $('#noData').hide();
                    }
                else{
                    $('.show-card').hide();
                    $('#noData').show();

                }

                $("body").css({visibility:'visible'});

       </script>
</html> 
{% endblock %}