{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% load humanize %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">

    <head>
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>Market - 72PI</title>
        <meta name="keywords"
            content="72PIpoints, marketoutlook, 72pimarketoutlook, marketview, 72pimarketview, marketsentiment, 72pimarketsentiment, sectorpe, 72pisectorpe, sectorpb, 72pisectorpb, indicesperformance, 72piindicesperformance, indiavix, 72piindiavix, beer, 72pibeer ,beernifty, 72pibeernifty" />
        <meta name="description"
            content="This is a snapshot of current equity market conditions using indices and macro indicators. 72PI points is the market outlook which is updated twice a month" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/market.css' %}?v=1.2">
    </head>
    <body>
        <div class="col-lg-12 section-gap main marketdiv">
            <div class="disclaimer-text page-title">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div>
            <div class="col-sm-12 row pd-r-0 mg-l-0 mg-r-0 pd-l-0">
                <div class="col-sm-6 pd-l-0">
                    <h4 class="text-white mg-t-10 mg-b-10 as_of" style="color:rgb(253, 220, 220)"></h4>
                </div>
                <div class="col-sm-6 banner-btn text-right pd-r-0">
                    <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                        aria-hidden="true">
                    </i></a>
                </div>
            </div>
            <div id="videoModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <iframe id="video-div" height="315" src="https://www.youtube.com/embed/ExOgkiCTkS0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card livedata mg-t-10">
                <div class="card-header">
                    <h4 class="text-center"><label>Broader market performance and macro indicators</label></h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table unselectable broader_market">
                            <thead id="market_thead">
                            </thead>
                            <tbody id="table_df">

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="row mg-t-20">
                <div class="col-lg-12 market-desc">
                    <div class="card content india-market-sentiment">
                        <div class="card-header mg-b-0">
                            <h3 class="mg-b-0 mg-l-20 text-center"><label>Market Sentiment</label></h3>
                            <div class="row mg-t-20">
                                <div class="col-lg-12">
                                    <div class="col-sm-9" style="margin:1px auto">
                                        <div id="india_1y_price"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12  pd-20">
                                    <p>
                                        Nifty 50 and Bank Nifty have rallied 11.4% and 23.9% in the month of November 2020, on strong FII inflows, vaccine news, stimulus measures. Nifty Midcap 100 and Nifty Smallcap 100 were up 15.5% and 12.9% respectively. Indian markets continue to rally on improving economic indicators, buyback announcements. Also supported by global markets rally in response to Joe Biden winning the US Presidential election. Market is closely watching the economic indiactors, vaccine updates, fiscal health, government policies and stock valuations.

                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div id="india_1m_price"></div>

                                </div>
                            </div>


                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-10 mg-l-20 text-center tx-18"><label>Bond Equity Earnings Yield Ratio</label>
                            </h3>
                            <div id="beer" class="mg-t-10"></div>
                            <div class="beer_desc mg-t-15">
                                <p>Bond Equity Earnings Yield Ratio (BEER) is calculated using trailing 12M earnings of NIFTY 50 for the last 15 years. Market has been very volatile this year, it was trading close to its single standard deviation (+1σ) at 1.9 on January 20th 2020 and dipped to its second standard deviation on the downside (-2σ) at 1.1. Historically under normal circumstances, it trades within a single standard deviation from mean. We remain cautious at these levels, as it has recovered very fast from March 2020 lows.
                                </p>
                            </div>
                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-0 mg-l-20 text-center tx-18"><label>Trailing 12M PE of NIFTY 50</label></h3>
                            <div id="pe" class="mg-t-10"></div>
                            <div class="pe_desc mg-t-15">
                                <p>
                                    The above chart shows trailing 12M PE of NIFTY 50 for the last 15 years. In general, Nifty has rallied after trading close to 15x and has corrected after trading closing to 30x. Generally whenever trailing 12M PE multiple is above 30x, market levels are higher on anticipation of better forward earnings. We ”remain cautious” at these levels.
                                </p>
                                <p>Source: <strong>NSE</strong></p>
                            </div>
                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-0 mg-l-20 text-center tx-18"><label>India VIX</label></h3>
                            <div id="india_vix" class="mg-t-10"></div>
                            <div class="vix_desc mg-t-15">
                                <p>
                                    The above chart shows India VIX for the last 12 years. India VIX is the annualized volatility number that indicates the expected market volatility over the next 30 calendar days. It helps in understanding the market sentiment. It trades in the band 10-15 under a low volatile market, 15-25 under a volatile market, 25-40 under a highly volatile market and above 40 in extreme volatile markets.
                                </p>
                                <p>Source: <strong>NSE</strong></p>
                            </div>
                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-0 mg-l-20 text-center tx-18"><label>% of NIFTY 500 Stocks above 200MA </label>
                            </h3>
                            <div id="nifty_ma" class="mg-t-10"></div>
                            <div class="nifty_desc mg-t-15">
                                <p>
                                    The above chart shows % of NIFTY500 stocks trading above their 200 moving average in the
                                    last 3 years. The mean is around 45% and it hovers between its first standard deviations
                                    26% and 63%. At 63%, market looks expensive with limited upside and at 26%, market looks
                                    discounted with limited downside. Above 63%, market is highly expensive and below 26%,
                                    market is deeply discounted.
                                </p>
                                <p>Source: <strong>NSE</strong></p>
                            </div>
                        </div>
                        <div class="card-body pd-t-0 pd-l-20">
                            <div class="row ">
                                <div class="pd-l-30">
                                    <table class="table sentiment-table">
                                        <tbody id="market-tbody">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card content us-market-sentiment">
                        <div class="card-header mg-b-0">
                            <h3 class="mg-b-0 mg-l-20 text-center"><label>Market Sentiment</label></h3>
                            <div class="row mg-t-20">
                                <div class="col-lg-12">
                                    <div class="col-sm-9" style="margin:1px auto">
                                        <div id="us_1y_price"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12  pd-20">
                                    <p>
                                        In November 2020, S&P 500 was up 10.7% and Dow 30 was up 11.8%, both the indices rallied after two straight down-months. Russell 2000 was up for second straight month, up 18.3% in Novemeber 2020. All the three indices rallied on vaccine news and US Presidential election results. Wall Street was expecting a divided Government: Democrat Joe Biden as the President and a Republican-controlled Senate. This will block liberal policies like undoing the corporate tax cuts, but this will also have implications on the stimulus package. Market is closely tracking the developments of the stimulus package and Covid-19 vaccine.
                                    </p>
                                </div>
                                <div class="col-lg-12">
                                    <div id="us_1m_price"></div>

                                </div>
                            </div>


                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-10 mg-l-20 text-center tx-18"><label>CBOE Volatility Index</label></h3>
                            <div id="cboe_vol_index" class="mg-t-10"></div>
                            <div class="cboe_vol_index_desc mg-t-15">
                                <p>
                                    The above chart shows CBOE Volatility index for the last 15 years. CBOE Volatility Index is the annualized volatility number that indicates the expected market volatility over the next 30 calendar days. It helps in understanding the market sentiment. It trades in the band 10-15 under a low volatile market, 15-25 under a volatile market, 25-40 under a highly volatile market and above 40 in extreme volatile markets.
                                </p>
                            </div>
                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-0 mg-l-20 text-center tx-18"><label>Schiller PE Ratio</label></h3>
                            <div id="schiller_pe" class="mg-t-10"></div>
                            <div class="shiller_pe_desc mg-t-15">
                                <p>
                                    The above chart shows Shiller PE Ratio of S&P 500 for the last 10 years. It is calculated as the price of the S&P 500 index divided by the average inflation-adjusted earnings of the previous 10 years. In the last 5 years, S&P 500 has rallied after trading close to 24x and has corrected after trading close to 34x. We ”remain cautious”, when Shiller PE ratio is close to 34x

                                </p>
                            </div>
                        </div>
                        <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-0 mg-l-20 text-center tx-18"><label>Trailing 12M PE of S&P 500</label></h3>
                            <div id="us_pe" class="mg-t-10"></div>
                            <div class="us_pe_desc mg-t-15">
                                <p>
                                    The above chart shows trailing 12M PE of S&P 500 for the last 10 years. In the last 3 years, S&P 500 has rallied after trading close to 20x and has corrected after trading above 25x. Generally whenever trailing 12M PE multiple is above 25x, market levels are higher on anticipation of better forward earnings. We ”remain cautious” at these levels.
                                </p>
                            </div>
                        </div>
                        <!-- <div class="mg-t-20 pd-l-30 pd-r-30">
                            <h3 class="mg-b-0 mg-l-20 text-center tx-18"><label>Bond Equity Earnings Ratio </label></h3>
                            <div id="us_beer" class="mg-t-10"></div>
                            <div class="use_beer_desc mg-t-15">
                                <p>Bond Equity Earnings Yield Ratio (BEER) is calculated using trailing 12M earnings of
                                    S&P 500 for the last 10 years.Historically under normal circumstances, it trades
                                    within a single standard deviation from mean. Currently, it is trading close its
                                    second standard deviation on the downside, at 0.2 because of the lower base, bond
                                    yields have fallen to 0.68% on October 1st 2020 from 1.9% on January 1st 2020</p>
                            </div>
                        </div> -->
                        <div class="card-body pd-t-0 pd-l-20">
                            <div class="row ">
                                <div class="pd-l-30">
                                    <table class="table sentiment-table">
                                        <tbody id="market-tbody">
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="macrodiv">
                <div class="row mg-t-20 section2">
                    <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section2_graph1">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center"><label class="macrodiv-head1"></label></h4>
                            </div>
                            <div class="card-body " id="graph1">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section2_graph2">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center"><label>Market Index Performance</label></h4>
                            </div>
                            <div class="card-body" id="graph2">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 sub-section2 section2_graph3">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-center"><label>Macro Economic Data</label></h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 pd-r-0 " id="oil">

                                </div>
                                <div class="col-lg-6 pd-l-0" id="gold">

                                </div>
                                <div class="col-lg-6 pd-r-0" id="fxrate">

                                </div>
                                <div class="col-lg-6 pd-l-0" id='inflation'>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mg-t-30 section3">
                    <div class="col-lg-12">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="text-center"><label class="mg-b-0">Market Indices Performance</label></h4>
                            </div>
                            <div class="card-body pd-t-0">
                                <div class="table-responsive">
                                    <table class="table  niftytable unselectable">
                                        <thead id="thead">
    
                                        </thead>
                                        <tbody id="tbody">
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mg-t-30 section3-1">
                    <div class="col-lg-12">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="text-center"><label class="mg-b-0">Sector Indices Performance</label></h4>
                            </div>
                            <div class="card-body  pd-t-0">
                                <div class="table-responsive">
                                    <table class="table  niftytable1 sortable unselectable">
                                        <thead id="thead1">
    
                                        </thead>
                                        <tbody id="tbody1">
    
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="quantdiv" class="india_sector_trailing">
                <div class="row mg-t-40">
                    <div class="col-lg-12">
                        <div class="card ">
                            <div class="card-header">
                                <h4 class="text-center"><label class="mg-b-0">Sector wise Trailing 12M PE & PB
                                        Performance</label> </h4>
                            </div>
                            <div class="card-body table-responsive pd-t-0">
                                <div class="table-responsive">
                                    <table class="table table3 unselectable">
                                        <thead id="thead2">


                                        </thead>
                                        <tbody id="tbody2">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="mg-t-10">
                                    <p>source: <strong>NSE</strong></p>
                                    <p>Blanks indicate that the sectorial index earnings in the last 12M is negative</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'js/table_sort.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
    <script>
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
        function reformatDate(dateStr)
      {     
        var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
        dArr = dateStr.split("-"); 
        return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
      }
        create_table2({{table_df|safe}},{{market_header_list|safe}})
         function create_table2(output,header_list) {
            $('#market_thead').empty();
                var th = "";
                for (var i = 0; i < header_list.length; i++) {
                    th += "<th><a href='{% url 'marketIndexPerformance' %}' target='_blank'>" + header_list[i] + '</a></th>';
                }
                var tr = $("<tr>").append($(th));
                $('#market_thead').append($(tr));
               
            var tabledata = new Array();

            for(i=0;i<output.length;i++)
            {
            
                tabledata.push(output[i])
            }  
                            

            // Retrieve the tbody element from the table to add the data 
            var table = document.getElementById('table_df');

            //Get the count of columns.
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            //Add the data rows.
            for (var i = 0; i < tabledata.length; i++)
            {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++)
                {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            
            }
            }
       
    
        function graph(graph_data, chart_name, average, _1st, _2nd, _3rd, _N1st, _N2nd, _N3rd,sym) 
        {
            var average = (parseFloat(average).toFixed(1));
            var _1st = (parseFloat(_1st).toFixed(1));
            var _2nd = (parseFloat(_2nd).toFixed(1));
            var _3rd = (parseFloat(_3rd).toFixed(1));
            var _N1st = (parseFloat(_N1st).toFixed(1));
            var _N2nd = (parseFloat(_N2nd).toFixed(1));
            var _N3rd = (parseFloat(_N3rd)).toFixed(1);

            Highcharts.chart(chart_name, {
                chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                    height: 300,
                    spacingTop:20,

                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'

                    },
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                    },
                    tickLength: 6,
                    tickWidth: 1,

                    startOnTick: true,
                },
                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    // tickInterval: 5,
                    labels: {
                        formatter: function () {
                            return (this.value).toFixed(1)+sym;
                        },
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                    },
                    title: {
                        text: null,
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'bold'
                        },
                    },
                    plotLines: [{
                        color: 'green',
                        dashStyle: "Dash",
                        width: 2,zIndex:10,
                        value: average,
                        label: {
                            text: 'μ = ' + average+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: '#5627D8',
                        dashStyle: "Dash",
                        width: 1,
                        value: _1st,zIndex:10,
                        label: {
                            text: 'μ+σ = ' + _1st+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'black',
                        dashStyle: "Dash",
                        width: 1,
                        value: _2nd,zIndex:10,
                        label: {
                            text: 'μ+2σ = ' + _2nd+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'red',
                        dashStyle: "Dash",
                        width: 1,
                        value: _3rd,zIndex:10,
                        label: {
                            text: 'μ+3σ = ' + _3rd+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: '#5627D8',
                        dashStyle: "Dash",
                        width: 1,
                        value: _N1st,
                        zIndex:10,
                        label: {
                            text: 'μ-σ = ' + _N1st+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                        
                        }
                    },
                    {
                        color: 'black',
                        dashStyle: "Dash",
                        width: 1,zIndex:10,
                        value: _N2nd,
                        label: {
                            text: 'μ-2σ = ' + _N2nd+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'red',
                        dashStyle: "Dash",
                        width: 1,zIndex:10,
                        value: _N3rd,
                        label: {
                            text: 'μ-3σ = ' + _N3rd+sym,
                            align: 'left',
                            y: -5, /*moves label down*/
                            
                        }
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return "Date : " + '<b>' +
                            Highcharts.dateFormat('%d-%b-%Y',
                                new Date(this.x)) + '<br></b>'
                            + this.series.name + " : " + '<b>' + (this.point.y).toFixed(1) +sym+ '</b>';
                    },
                    style: {
                        color: '#031b4e',
                        fontSize:'13px',
                        fontWeight: 'normal'
                    },
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    }
                },
                legend:
                {
                    itemStyle: {
                        color: '#031B4E',
                        fontSize: '15px'

                    },
                },
                legend: {
                    enabled: false
                },
                series: [graph_data],

            });

        }
        function date_format(normal_date) 
        {
            for (var i = 0; i < normal_date['data'].length; i++) {
                var temp = normal_date['data'][i][0]
                var date = new Date(temp)
                var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                normal_date['data'][i][0] = now_utc;
            }

            return normal_date
        }
        function create_table(output, thead_id, tbody_id, id, header_list) {
                $(thead_id).empty();
                var th = "";
                for (var i = 0; i < header_list.length; i++) {
                    th += '<th>' + header_list[i] + '</th>';
                }
                var tr = $("<tr>").append($(th));
                $(thead_id).append($(tr));
                // document.getElementById('records_count').innerHTML=output.length+" Record(s)"
                var tabledata = new Array();
                for (i = 0; i < output.length; i++) {
                    tabledata.push(output[i])
                }
                $(tbody_id).empty();
                // Retrieve the tbody element from the table to add the data 
                var table = document.getElementById(id);

                //Get the count of columns.
                var columnCount = tabledata[0].length;
                var row = table.insertRow(0);
                //Add the data rows.
                for (var i = 0; i < tabledata.length; i++) {
                    row = table.insertRow(-1);
                    for (var j = 0; j < columnCount; j++) {
                        var cell = row.insertCell(-1);
                        cell.innerHTML = tabledata[i][j];
                    }
                }
                if (id == 'tbody') {
                    $('.niftytable tr').not(':first').each(function () {
                        for (j = 1; j < columnCount; j++) {
                            $(this).closest('tr').find('td').eq(j).each(function () {
                                var cell_value = $(this).text()
                                if (cell_value >= 0) {
                                    $(this).addClass('green')
                                }
                                else {
                                    $(this).addClass('red')
                                }
                                cell_value = parseFloat(cell_value * 100).toFixed(2) + "%"
                                $(this).text(cell_value)
                            })
                        }
                    })
                }
                if (id == 'tbody1') {
                    $('.niftytable1 tr').not(':first').each(function () {
                        for (j = 1; j < columnCount; j++) {
                            $(this).closest('tr').find('td').eq(j).each(function () {
                                var cell_value = $(this).text()
                                if (cell_value >= 0) {
                                    $(this).addClass('green')
                                }
                                else {
                                    $(this).addClass('red')
                                }
                                cell_value = parseFloat(cell_value * 100).toFixed(2) + "%"
                                $(this).text(cell_value)
                            })
                        }
                    })
                }
                $('#thead2 th:not(:nth-child(1)').attr("colspan", 2);
                $('#tbody2 tr:nth-child(2)').addClass('firstrow');

            }
       
        function graphs(graphid, data1, data2, cate, pw, icon, y1) {
            const color_grad1 = {
                linearGradient: { x1: 0, x2: 0, y1: 0, y2: 1 },
                stops: [
                    [0, '#4AC29A'],
                    [1, '#fdbb2d']
                ]
            };

            Highcharts.chart(graphid, {
                chart: {

                    backgroundColor: "transparent",
                    height: 300,

                    spacingLeft: 50

                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                xAxis: {
                    categories: cate,
                    crosshair: true,
                    lineWidth: 1,

                    labels: {
                        style: {
                            color: '#031b4e',
                            fontSize: '13px ',
                            fontWeight: 'bold'
                        },
                    },
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    gridLineWidth: 0,
                    title: {
                        text: null
                    },
                    labels: {
                        enabled: true,
                        style: {
                            color: 'transparent',

                        },

                    },
                    plotLines: [{
                        color: 'transparent',
                        value: 0,
                        label: {
                            text: 'BEARISH',
                            align: 'i',
                            y: -2, /*moves label down*/
                            x: -66,
                            style: {
                                color: '#5627D8',
                                fontSize: '13px  ',
                                fontWeight: 'bold'
                            },
                        }
                    },
                    {
                        color: 'transparent',
                        value: 50,
                        label: {
                            text: 'CONSOLIDATION',
                            align: 'left',
                            y: 5, /*moves label down*/
                            x: -67,
                            style: {
                                color: '#5627D8',
                                fontSize: '13px  ',
                                fontWeight: 'bold'
                            },
                        }
                    },
                    {
                        color: 'transparent',
                        value: 100,
                        label: {
                            text: 'BULLISH',
                            align: 'left',
                            y: 10, /*moves label down*/
                            x: -66,
                            style: {
                                color: '#5627D8',
                                fontSize: '13px ',
                                fontWeight: 'bold'
                            },
                        }
                    }]
                },
                tooltip: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },
                    }
                },
                plotOptions: {
                    series: {
                        pointWidth: pw,
                        states: {
                            hover: {
                                enabled: false,
                            }
                        },
                    },
                },
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'bottom',
                                layout: 'horizontal'
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                },
                series: [{
                    type: 'column',
                    name: null,
                    data: data1,
                    showInLegend: false,
                    color: color_grad1,
                    states: {
                        inactive: {
                            opacity: 1
                        },

                    }
                }, {
                    type: 'scatter',
                    name: 'Current Month(<--->)',
                    data: data2,
                    states: {
                        inactive: {
                            opacity: 1
                        },
                    },
                    dataLabels: {
                        enabled: true,
                        useHTML: true,
                        format: icon,
                        y: y1
                    },
                    marker: {
                        enabled: false,
                        radius: 0,
                    }
                },
                ],
            });
        }
        function dateconverter(convertdata) {
            for (var i = 0; i < convertdata.length; i++) {
                for (var j = 0; j < convertdata[i]['data'].length; j++) {
                    var temp = convertdata[i]['data'][j][0]
                    var date = new Date(temp)
                    var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                    convertdata[i]['data'][j][0] = now_utc;
                }
            }
            return convertdata;
        }
        function graph1(graphid, yaxislabel, data, height, temp, graph_title) {
            Highcharts.chart(graphid, {
                chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                    zoomType: 'x',
                    height: height

                },
                title: {
                    text: graph_title,
                    style: {
                        color: '#031b4e',
                        fontWeight: 'bold',
                        fontSize: '13px'
                    },

                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'

                    },
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    tickLength: 6,
                    tickWidth: 1,

                    startOnTick: false,
                    endOnTick: false,
                },
                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    labels: {
                        formatter: function () {
                            if (yaxislabel == 'Price' || yaxislabel == 'Oil' || yaxislabel == 'Fx Rate' || yaxislabel == 'Gold') {
                                if (yaxislabel == 'Gold') {

                                    if (this.value >= 1000) return Highcharts.numberFormat(this.value / 1000, 0) + "K";  // maybe only switch if > 1000
                                    return Highcharts.numberFormat(this.value, 0);

                                }
                                else {
                                    return (this.value).toLocaleString();

                                }
                            }
                            else
                                return (this.value * 100).toFixed(0) + '%';
                        },
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    title: {
                        text: '',
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    plotLines: [{
                        color: '#F2F2F2',
                        width: 2,
                        value: 0
                    }]
                },

                tooltip: {
                    formatter: function () {
                        if (yaxislabel == 'Price' || yaxislabel == 'Oil' || yaxislabel == 'Fx Rate') {
                            var s = ["Date : " + '<b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(this.x))];
                            $.each(this.points, function (i, point) {
                                s.push(point.series.name + ' : <b>' +
                                    parseFloat(point.y).toLocaleString()
                                    + '</b><br>');
                            });
                            return s.join('<br>');
                        }
                        else if (yaxislabel == 'Gold') {
                            if(localStorage.getItem("country-val")=='India'){
                                var s = ["Date : " + '<b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(this.x))];
                                $.each(this.points, function (i, point) {
                                    s.push(point.series.name + ' : <b>₹' +
                                        parseFloat(point.y).toLocaleString('hi-IN')
                                        + '/gm</b><br>');
                                });
                            }
                            else{
                                var s = ["Date : " + '<b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(this.x))];
                                    $.each(this.points, function (i, point) {
                                        s.push(point.series.name + ' : <b>$' +
                                            parseFloat(point.y).toLocaleString('en-US')
                                            + '/oz</b><br>');
                                    });
                            }
                                
                            return s.join('<br>');
                        }
                        else {
                            var s = ["Date : " + '<b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(this.x))];
                            $.each(this.points, function (i, point) {
                                s.push(point.series.name + ' : <b>' +
                                    parseFloat(point.y * 100).toFixed(1)
                                    + '%</b><br>');
                            });
                            return s.join('<br>');
                        }
                    },
                    shared: true
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    }
                },
                legend:
                {
                    enabled: temp,
                    formatter: function () {
                        if (yaxislabel == 'Gold')
                            return yaxislabel + '(Rs/gm)'
                    },
                    itemStyle: {
                        color: '#031B4E',
                        fontSize: '10px'
                    },
                },

                series: data,

            });

        }

        var country=localStorage.getItem("country-val")
        if (country=='India')
        {
            
            $(".india-market-sentiment").show();
            $(".us-market-sentiment").hide();
            $('.india_sector_trailing').show();
            $('.macrodiv-head1').html("Nifty 50");
            var marketDate={{marketDate|safe}}
            var date = reformatDate(marketDate[0]);
            var beer_line = date_format({{ beer_line| safe}});
            var pe_line = date_format({{ pe_line| safe}});
            var vix_line = date_format({{ vix_line| safe}});
            var nifty_ma_line = date_format({{ nifty_ma_line| safe}});
            var flag = 'hi-IN';
            $('.as_of').html("As of " + date);
            graphs('india_1y_price', [100, 100, 100, 100], [90, 95, 80, 85], ['Nifty','Bank Nifty','Nifty Mid Cap 100','Nifty Small Cap 100'], 70, '<i class="fa fa-arrows-h arrow1 " style="font-size:30px;color:black;" ></i>', 22)
            graphs('india_1m_price', [100, 100, 100, 100, 100, 100, 100], [70,60,95, 70,85, 80, 60], ['Nifty Auto', 'Nifty FMCG', 'Nifty IT', 'Nifty Media','Nifty Metals', 'Nifty Pharma', 'Nifty Reality'], 50,'<i class="fa fa-arrows-h arrow2 " style="font-size:30px;color:black;" ></i>', 40)
    
            graph(beer_line, 'beer', {{ beer_average_line| safe}}, {{ beer_1st| safe}}, {{ beer_2nd| safe}}, {{ beer_3rd| safe}}, {{ beer_N1st| safe}}, {{ beer_N2nd| safe}}, {{ beer_N3rd| safe}},'')
            graph(pe_line, 'pe', {{ pe_average_line| safe}}, {{ pe_1st| safe}}, {{ pe_2nd| safe}}, {{ pe_3rd| safe}}, {{ pe_N1st| safe}}, {{ pe_N2nd| safe}}, {{ pe_N3rd| safe}},'')
            graph(vix_line, 'india_vix', {{ vix_average_line| safe}}, {{ vix_1st| safe}}, {{ vix_2nd| safe}}, '', {{ vix_N1st| safe}}, {{ vix_N2nd| safe}}, '','')
            graph(nifty_ma_line, 'nifty_ma', {{ nifty_average_line| safe}}, {{ nifty_1st| safe}}, {{ nifty_2nd| safe}}, '', {{ nifty_N1st| safe}}, {{ nifty_N2nd| safe}}, '','%')
            create_table({{ marketindices| safe}}, '#thead', '#tbody', 'tbody', {{ nifty_header_list| safe}})
            create_table({{ sector_indices| safe}}, '#thead1', '#tbody1', 'tbody1', {{ nifty_header_list| safe}})
            create_table({{ output_table_list| safe}}, '#thead2', '#tbody2', 'tbody2', {{ header| safe}})

        }
        else
        {
            var marketDate={{marketDate|safe}}
            var date = reformatDate(marketDate[0]);
            $('.as_of').html("As of " + date);
            $(".india-market-sentiment").hide();
            $(".us-market-sentiment").show();
            $('.india_sector_trailing').hide();
            $('.macrodiv-head1').html("S&P 500");
            var cboe_line = date_format({{ cboe_line| safe}});
            var schiller_pe_line = date_format({{ sp_schiller_line| safe}});
            var us_pe_line = date_format({{ sp_pe_line| safe}});
            // var us_beer_line = date_format({{ us_beer_line| safe}});

            graphs('us_1y_price', [100, 100, 100], [80,85,90], ['Dow Jones Industrial Average','S&P 500','Russell 2000'], 70, '<i class="fa fa-arrows-h arrow1 " style="font-size:30px;color:black;" ></i>', 22)
            graphs('us_1m_price', [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100], [85,70,64,70,80,90,70,80,80,60,60], ['Communication', 'Consumer Discretionary', 'Consumer Staples', 'Energy','Financials', 'Healthcare', 'Industrials','Materials','Technology','Real Estate','Utilities'], 50,'<i class="fa fa-arrows-h arrow2 " style="font-size:30px;color:black;" ></i>', 40)

            graph(cboe_line, 'cboe_vol_index', {{ cboe_average_line| safe}}, {{ cboe_1st| safe}}, {{ cboe_2nd| safe}}, {{ cboe_3rd| safe}}, {{ cboe_N1st| safe}},{{ cboe_N2st| safe}},{{ cboe_N3st| safe}},'')
            graph(schiller_pe_line, 'schiller_pe', {{ sp_schiller_average_line| safe}}, {{ sp_schiller_1st| safe}}, {{ sp_schiller_2nd| safe}}, {{ sp_schiller_3rd| safe}}, {{ sp_schiller_N1st| safe}}, {{ sp_schiller_N2nd| safe}}, {{ sp_schiller_N3rd| safe}},'')
            graph(us_pe_line, 'us_pe', {{ sp_pe_average_line| safe}}, {{ sp_pe_1st| safe}}, {{ sp_pe_2nd| safe}}, {{ sp_pe_3rd| safe}}, {{ sp_pe_N1st| safe}}, {{ sp_pe_N2nd| safe}}, {{ sp_pe_N3rd| safe}},'')
            // graph(us_beer_line, 'us_beer', {{ us_beer_average_line| safe}}, {{ us_beer_1st| safe}}, {{ us_beer_2nd| safe}}, {{ us_beer_3rd| safe}}, {{ us_beer_N1st| safe}}, {{ us_beer_N2nd| safe}}, {{ us_beer_N3rd| safe}},'')

            create_table({{ marketindices| safe}}, '#thead', '#tbody', 'tbody', {{ nifty_header_list| safe}})
            create_table({{ sector_indices| safe}}, '#thead1', '#tbody1', 'tbody1', {{ nifty_header_list| safe}})
            // create_table({{ output_table_list| safe}}, '#thead2', '#tbody2', 'tbody2', {{ header| safe}})
        }
        
        $('.livedata  #table_df  td').each(function () {
            if ($(this).text().includes('-')) {
                $(this).append('<i class="fa fa-caret-down mg-l-5" aria-hidden="true"></i>')
                $(this).addClass("negative")
            }
            else if(!($(this).text().includes('-'))&&($(this).text().includes('%'))){
                var text=$(this).text()
                $(this).text('+'+text)
                $(this).append('<i class="fa fa-caret-up mg-l-5" aria-hidden="true"></i>')
                $(this).addClass("positive")
            }
        })

        $('.table2 tr td:first-child() .cellvalue').each(function () {
            $(this).addClass('buysell')
            if ($(this).text().includes('SELL', 'sell')) {
                $(this).css('background-color', '#F34459');
            }
            else {
                $(this).css('background-color', '#00BB6E');
            }
        })
        var graph_data1 = dateconverter({{ output1_df| safe}})
        var graph_data2 = dateconverter({{ output2_df| safe}})
        var oildata = dateconverter({{ oil_values| safe}})
        var golddata = dateconverter({{ gold_values| safe}})
        var fxratedata = dateconverter({{ fxrate_values| safe}})
        var inflationdata = dateconverter({{ inflation_values| safe}})

        graph1('graph1', 'Price', graph_data1, '300', false, '')
        graph1('graph2', 'Return', graph_data2, '300', true, '')

        graph1('oil', 'Oil', oildata, '150', false, 'Oil')
        graph1('gold', 'Gold', golddata, '150', false, 'Gold')
        graph1('fxrate', 'Fx Rate', fxratedata, '150', false, 'Fx Rate')
        graph1('inflation', 'Interest Rate', inflationdata, '150', false, 'Interest Rate')
         
        var colcount = $(".table3").find("tr:nth-child(2) td").length;

        $('.table3 td:first-child').each(function () {

            if ($(this).text() == 'NIFTY Bank') {
                $(this).closest('tr').find('td').eq(1).css('background-color', '#F78080')
                $(this).closest('tr').find('td').eq(3).css('background-color', '#90EE90')
            }
            else if ($(this).text() == 'NIFTY Pharma' || $(this).text() == 'NIFTY IT') {
                $(this).closest('tr').find('td').eq(3).css('background-color', '#90EE90')
                $(this).closest('tr').find('td').eq(9).css('background-color', '#F78080')
            }
        })
        $('#table_df tr:nth-child(2)').each(function() {
            if(localStorage.getItem("country-val")=='India'){
                $(this).find("td").eq(1).html('<strong>'+parseFloat($(this).find("td").eq(1).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(2).html('<strong>'+parseFloat($(this).find("td").eq(2).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(3).html('<strong>'+parseFloat($(this).find("td").eq(3).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(4).html('<strong>'+parseFloat($(this).find("td").eq(4).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(5).html('<strong>'+parseFloat($(this).find("td").eq(5).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 2})+'</strong>');
                $(this).find("td").eq(6).html('<strong>'+parseFloat($(this).find("td").eq(6).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(7).html('<strong>'+parseFloat($(this).find("td").eq(7).text()).toLocaleString('hi-IN' , { maximumFractionDigits: 2})+'</strong>');
            }else{
                $(this).find("td").eq(1).html('<strong>'+parseFloat($(this).find("td").eq(1).text()).toLocaleString('en-US' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(2).html('<strong>'+parseFloat($(this).find("td").eq(2).text()).toLocaleString('en-US' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(3).html('<strong>'+parseFloat($(this).find("td").eq(3).text()).toLocaleString('en-US' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(4).html('<strong>'+parseFloat($(this).find("td").eq(4).text()).toLocaleString('en-US' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(5).html('<strong>'+parseFloat($(this).find("td").eq(5).text()).toLocaleString('en-US' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(6).html('<strong>'+parseFloat($(this).find("td").eq(6).text()).toLocaleString('en-US' , { maximumFractionDigits: 2})+'</strong>');
                $(this).find("td").eq(7).html('<strong>'+parseFloat($(this).find("td").eq(7).text()).toLocaleString('en-US' , { maximumFractionDigits: 0})+'</strong>');
                $(this).find("td").eq(8).html('<strong>'+parseFloat($(this).find("td").eq(8).text()).toLocaleString('en-US' , { maximumFractionDigits: 2})+'</strong>');  
            }
         
        });
    $("body").css({visibility:'visible'});

    </script>

</html>
{% endblock %}