{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
	<title>Insights - 72PI</title>
    <meta name="keywords" content="72pinewsflow, marketnewsflow, marketnews, stocknews, 72piinsights, 72pitastybyte, tastybyte, insights,marketindicators, 72pimarketindicators"/>
    <meta name="description" content="72pi team generates insights from the market using different market indicators and also from the news flow" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/insights.css' %}?v=1.2">
 
  </head>
	<body>
    <div class="se-pre-con"></div>
        <div class="col-lg-12 section-gap main researchmain-div" >
            <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Reports & Insights<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'researchview' %}" class="nav-sub-link">Insights</a>
                    </p>
        </div>
        <div class="row col-sm-6 justify-content-end">
            <div class="description_btn">
                <button>How to Use this Page ?</button>
            </div>
            <div class="banner-btn mg-l-5">
              <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize"
                  data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5"
                      target='_blank' aria-hidden="true">
                  </i></a>
            </div>
        </div>
        <div id="videoModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  </div>
                  <div class="modal-body">
                    <iframe id="video-div" width="560" height="315" src="https://www.youtube.com/embed/Sd3egn8542w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
      </div>
			
			</div>
            <div class="page-title  mg-t-5">
                
            </div>  
            <div class="disclaimer-text">
              <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
              </p>
            </div> 
        <div class="row mg-t-0 pd-l0 pd-r-50">
           
              </div>
            <div class="row mg-t-10 pd-l-0 pd-r-0" id="myItems" >
                {% for item in blogs %}
                    <div class="col-sm-6 researchdiv">
                        <div class="card mg-b-20">
                            <div class="card-body" style="padding-bottom:5px;padding-top:10px;" >
                                <div class="row">
                                    <div class="col-sm-12 pd-t-10 contentdiv">
                                        {% if item.title == "Relative Strength of Sectors" %}
                                        <h3 class="card-title mg-l-10"><a href="{% url 'relativestrength' %}" target="_blank">{{ item.title }}</a></h3>
                                        {% elif item.title == "Trailing 12M PE of Nifty 50" %}
                                        <h3 class="card-title mg-l-10"><a href="{% url 'trailing12mpe' %}" target="_blank">{{ item.title }}</a></h3>
                                        {% elif item.title == "Trailing 12M PE of S&P 500" %}
                                        <h3 class="card-title mg-l-10"><a href="{% url 'trailing12mpe' %}" target="_blank">{{ item.title }}</a></h3>
                                        {% else %}
                                        <h3 class="card-title mg-l-10"><a href="{{item.get_url}}" target="_blank">{{ item.title }}</a></h3>
                                        {% endif %}
                                        <div class="col-sm-12 mg-t-10">
                                            <div class="row  flexdiv">
                                                <div class="col-sm-8">
                                                    <div class="mg-t-5 posted text-muted text-italic tx-12">Posted at: {{ item.posted_at }}</div>
                                                    <div class="mg-t-0 source text-muted text-italic tx-12">Source :{{ item.source }}</div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
          
            <!-- <div class="card mg-t-20 nifty50_div" style="padding:0% 2%">  
                <div class="card-header">
                    <h4 class="card-title text-center"><label class="nifty50_date"></label></h4>
                </div>
                <div class="card-body">
                            <select id="select-data" class="mg-b-10">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                            <div id="daily"></div>
                            <div id="weekly"></div>
                            <div id="monthly"></div>

                            
                </div>
            </div> -->
            <div class="card mg-t-20">
                <!-- <div class="card-header">
                  <div id="pastediv"></div>
                  <button  onclick="testScrnShot();" class="float-right">Download as image</button>
                </div> -->
                <!-- <div class="card-header"  >
                  <h3 class="card-title text-center"><label>GICS Classification</label></h3>
                </div> -->
                <div class="card-body">
                     <div class="col-sm-12 form-inline mg-b-5 mg-t-0 layer-treemap"  >
                          <div class="d-flex ">
                            <label class="mg-l-0 tx-18">Index </label>
                            <select id="india_index" class="index_select form-controls">
                                <option value='Nifty_50'>Nifty 50</option>
                                <option value='Nifty_100'>Nifty 100</option>
                                <option value='Nifty_200'>Nifty 200</option>
                                <option value='Nifty_500'>Nifty 500</option>
                                <option value='Nifty_MidCap_100'>Nifty MidCap 100</option>
                                <option value='Nifty_SmallCap_100'>Nifty SmallCap 100</option>
                            </select>
                            <select id="us_index" class="index_select form-controls">
                              <option value='SnP_500'>S&P 500</option>
                              <option value='RUT_1000'>Russell 1000</option>
                              <option value='RUT_2000'>Russell 2000</option>
                              <option value='DOW_30'>Dow 30</option>
                          </select>
                        </div>
                         <div class="d-flex mg-l-20">
                            <label class="mg-l-0 tx-18">Frequency </label>
                            <select id="frequency" class="form-controls">
                                <option value='DailyPercentChange'>Daily</option>
                                <option value='WeeklyPriceChangePercent'>Weekly</option>
                                <option value='MonthlyPriceChangePercent'>Monthly</option>
                            </select>
                         </div>
                         <div class="d-flex mg-l-20">
                            <label class="mg-l-0 tx-18">GICS Classification </label>
                            <select id="layer" class="form-controls">
                                <option value="0">None</option>
                                <option value="1">GICS Sector</option>
                                <option value="2">GICS Industry Group</option>
                                <option value="3">GICS Industry</option>
                                <option value="4">GICS Sub Industry</option>
                                <option value="5">GICS Sector vs GICS Industry Group</option>
                                <option value="6">GICS Sector vs GICS Industry</option>
                                <option value="7">GICS Sector vs GICS Sub Industry</option>
                                <option value="8">GICS Industry Group vs GICS Industry</option>
                                <option value="9">GICS Industry Group vs GICS Sub Industry</option>
                                <option value="10">GICS Industry vs GICS Sub Industry </option>
                            </select>
                         </div>
                         <div class="d-flex mg-l-20">
                            <label class="mg-l-0 tx-18">Size </label>
                            <select id="size" class="form-controls">
                                <option value="EqualSize">None</option>
                                <option value='Market Cap'>MarketCap</option>
                                <option value="Sales(RM)">Sales</option>
                                <option value="RSI">RSI(14D)</option>
                                <option value="Volatility_1Y">Volatility</option>
                                <option value="Beta_1Y">Beta</option>
                                <option value="PE">PE</option>
                                <option value="PB">PB</option>
                                <option value="ROE">ROE</option>
                                <option value="Debt/Equity">Debt/Equity</option>
                            </select>
                         </div>
                         
                     </div>
                     <div class="">
                         <div id="chart-container">Loading..</div>
                     </div>
                     <div class="">
                      <table class="mg-t-5 mg-b-5 heatmapScale">
                          <tbody id="scale">

                          </tbody>
                  </table>
                    </div>
                </div>
            </div>
            <div class="card mg-t-20 market_performance">  
              <div class="card-header"  >
                  <h3 class="card-title text-center"><label>Market Performance</label></h3>
              </div>
              <div class="card-body">
                <div id="market_performance"></div>
              </div><!-- card-body -->
            </div>
            <div class="card mg-t-20" id="FII-DII">  
              <div class="card-header"  >
                <h3 class="card-title text-center"><label>FII/FPI & DII Trading Activity</label></h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card-header d-flex pd-l-0">
                      <h4 class="col-sm-3 card-title text-left pd-l-0">Daily</h4>
                      <div class="col-sm-9 mg-t-0 selrange_dt d-flex justify-content-center">
                        <select id="month_from">
                          <option value="none" disabled selected>Month</option>
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <select id="year_from">
                          <option value="none" disabled selected>Year</option>
                          {% for year in years %}
                              <option value='{{year}}'>{{year}}</option>
                          {% endfor %}
                      </select>
                        <button onclick="getFiiDiiDaily();" class="fidigobtn">Go</button>
                        <button onclick="reset_daily();" class="fidi_reset_btn mg-l-10">Reset</button>
                      </div>
                    </div>
                      <div class='mg-t-5 fii_dii_table_div'>
                        <table class="fii_dii_daily">
                          <thead>
                            <th>Date</th>
                            <th>FII Net Purchase/Sales (₹ Cr)</th>
                            <th>DII Net Purchase/Sales (₹ Cr)</th>
                            <th>Nifty 500 Return (%)</th>
  
                          </thead>
                          <tbody id="fii_dii_daily_tbody">
                  
                          </tbody>
                      </table>

                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="card-header"  >
                      <h4 class="card-title text-left">Monthly</h4>
                    </div>
                    <div class="table-responsive fii_dii_table_div mg-t-10">
                      <table class="fii_dii_monthly">
                        <thead>
                          <th>Month-Year</th>
                          <th>FII Net Purchase/Sales (₹ Cr)</th>
                          <th>DII Net Purchase/Sales (₹ Cr)</th>
                          <th>Nifty 500 Return (%)</th>
                        </thead>
                        <tbody id="fii_dii_monthly_tbody">
                
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
              </div><!-- card-body -->
            </div>

             
             <div class="card mg-t-20">

               <div class="mg-r-0 col-lg-12 mg-t-20" id="testing">
                 <h3 class="text-center"><label class="index_date"></label></h3>
                 <div class="row">
                   <div class="col-lg-8">
                     <div class="mg-t-0" id="pie_chart"></div>
                   </div>
                   <div class="col-lg-4 col-sm-12">
                     <div class="mg-t-30 table-responsive">
                       <table class="sp_table">
                         <thead>
                           <th>Sector</th>
                           <th>Breakdown</th>
                         </thead>
                         <tbody id="brk_td">

                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
                 <p class="mg-t-10 text-italic source"></p>
               </div>
             </div>
             {% if tastybytes %}
             <div class="card mg-t-20">
                 <div class="card-body">
                  <div class="mg-r-20">
                      <div class="">
                          <h3 class=" text-center"><label>TastyByte</label></h3>
                          <div class="col-lg-12 mg-t-20 tasty_byte">
                            <div class="row">
                              {% if tastybytes %}
                              {% for byte in tastybytes %}
                              <div class="col-lg-4">
                                <h5>
                                  <a target="_blank" href="{{byte.get_url}}">
                                    {{byte.title}}
                                  </a>
                                </h5>
                                  <p class="show-read-mores text-justify tx-12 mg-t-20 ">{{byte.short_description}}</p>
                                  <p class="tx-10 text-italic mg-b-0">Posted at: {{byte.posted_at}}</p>
                                  <p class="tx-10 text-italic">Source: {{byte.source}}</p>
                              </div>
                              {% endfor %}
                              {% endif %}
                            </div>
                          </div>
                        </div>
                    </div>
                 </div>
  
             </div>
              {% endif %}
        </div>
        <div id="description" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <h3 class="modal-title mg-t-10 text-center"><label>Insights</label></h3>
              <div class="modal-body">
                <p>
                  Insights is a tab wherein we constantly add new thoughts, content and knowledge to better understand
                  the market. Currently, it comprises of four parts: Market indicators, Niftybyte, Tastybyte and Nifty
                  50 sector breakdown. Market indicators -- like relative strength, 12M Trailing PE, 90D correlation of
                  Nifty 50 & Macro factors and Market cap to GDP -- help in understanding the current positioning of the
                  market, as in which sectors are showing the strength, is the market overvalued/undervalued/fairly
                  valued. Niftybyte shows the performance of the nifty 50 stocks in the last 1 day/week/month; this can
                  be used to understand which stocks have been influencing the performance of Nifty 50 index. Tastybyte
                  captures the news flow, we present the top 3 news items daily.
                </p>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
          </div>
        </div>
   
    
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- <script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script> -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js" integrity="sha512-jzL0FvPiDtXef2o2XZJWgaEpVAihqquZT/tT89qCVaxVuHwJ/1DFcJ+8TBMXplSJXE8gLbVAUv+Lj20qHpGx+A==" crossorigin="anonymous"></script>
<!-- Step 1 - Include the fusioncharts core library -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<!-- Step 2 - Include the fusion theme -->
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

            <script>
            function testScrnShot() {
              console.log("hi")
      
              html2canvas(document.getElementById("testing"), {
                  onrendered: function (canvas) {
                      document.getElementById("pastediv").appendChild(canvas);            
                      var dataURL = canvas.toDataURL();
                      console.log(dataURL);
                  }
              });
          }
                var index,index_text;
                var index_date = {{ date| safe}}
                if($("#countries" ).find("dt a span.value").text()==="US"){
                  $('.index_date').html(" S&P 500 Sector Breakdown as of "+reformatDate(index_date[0]));
                  $('.market_performance').show();
                  $('#india_index').hide();
                  $('#us_index').show();
                  index_text=$('#us_index option:selected').text();
                  index=$('#us_index option:selected').val();
                  $("#FII-DII").hide();
                }
                else{
                  $('.index_date').html("Nifty 50 Sector Breakdown as of "+reformatDate(index_date[0]));
                  $('.market_performance').hide();
                  $('#india_index').show();
                  $('#us_index').hide();
                  index_text=$('#india_index option:selected').text();
                  index=$('#india_index option:selected').val();
                  $("#FII-DII").show();
                }
              var parent = { "0" : "GICS_Sector","1":"GICS_Sector","2":"GICS_Industry_Group","3":"GICS_Industry","4":"GICS_Sector","5":"GICS_Sector","6":"GICS_Sector","7":"GICS_Sector","8":"GICS_Industry_Group","9":"GICS_Industry_Group","10":"GICS_Industry"};
              var child={ "0" : "Gics_SubIndustry_Name","1":"GICS_Industry_Group","2":"GICS_Industry","3":"Gics_SubIndustry_Name","4":"Gics_SubIndustry_Name","5":"GICS_Industry_Group","6":"GICS_Industry","7":"Gics_SubIndustry_Name","8":"GICS_Industry","9":"Gics_SubIndustry_Name","10":"Gics_SubIndustry_Name"};
              $("#size").val("Market Cap");
              $("#layer").val("7");
              get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),index);
   
            function reformatDate(dateStr)
            {     
              var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
              dArr = dateStr.split("-"); 
              return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
            }
            function dateconverter(convertdata) {
            for (var i = 0; i < convertdata.length; i++) {
                for (var j = 0; j < convertdata[i]['data'].length; j++) {
                    var temp = convertdata[i]['data'][j][0]
                    var date = new Date(temp)
                    var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                    convertdata[i]['data'][j][0] = now_utc;
                }
            }
            return convertdata;
        }
            Highcharts.chart('market_performance', {
                chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                   

                },
                title: {
                    text: null,
                  

                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'

                    },
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    tickLength: 6,
                    tickWidth: 1,

                    startOnTick: false,
                    endOnTick: false,
                },
                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    labels: {
                        formatter: function () {
                           
                                return (this.value*100 ).toFixed(0)+'%' ;
                        },
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    title: {
                        text: '',
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    plotLines: [{
                        color: '#F2F2F2',
                        width: 2,
                        value: 0
                    }]
                },

               
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    }
                },
                tooltip: {
                    formatter: function () {
                            var s = ["Date : " + '<b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(this.x))];
                            $.each(this.points, function (i, point) {
                                s.push(point.series.name + ' : <b>' +
                                    parseFloat(point.y*100).toFixed(2)
                                    + '%</b><br>');
                            });
                            return s.join('<br>');
                    },
                    shared: true
                },
              

                series:dateconverter( {{market_performance|safe}}),
           
            });


       $(document).on("click", ".description_btn", function () {
        $('#description').modal('show');
       })
create_table({{ indexsector_values| safe}},'brk_td')

function create_table(output,tbody_id) {
      if(output.length>0)
      {
          var tabledata = new Array();
          for (i = 0; i < output.length; i++) {
              tabledata.push(output[i])
          }
          $("#"+tbody_id).empty();
          var table = document.getElementById(tbody_id);
          var columnCount = tabledata[0].length;
          var row = table.insertRow(0);
          for (var i = 0; i < tabledata.length; i++) {
              row = table.insertRow(-1);
              for (var j = 0; j < columnCount; j++) {
                  var cell = row.insertCell(-1);
                  cell.innerHTML = tabledata[i][j];
              }
          }
      }
      else{
          $('#table-data tbody').html("No Data Found")
      }
      if(tbody_id=="fii_dii_monthly_tbody" || tbody_id=="fii_dii_daily_tbody")
      {
        $('#'+tbody_id+" td:nth-child(2), td:nth-child(3), td:nth-child(4)").each(function(){
          if($(this).text().includes("-"))
          {
            $(this).css("color","red")
          }
          else{
            $(this).css("color","green")
          }
        })
      }

  }
  $('table #brk_td td:nth-child(2)').each(function(){
    $(this).text($(this).text()+"%")
  });

                $().ready(function(){ 
            
                    var maxLength = 300;
                    $(".show-read-more").each(function(){
                    var myStr = $(this).text();
                    if($.trim(myStr).length > maxLength){
                        var newStr = myStr.substring(0, maxLength);
                        var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                        $(this).empty().html(newStr);
                        $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                        $(this).append('<span class="more-text">' + removedStr + '</span>');
                    }
                    });
                    $(".read-more").click(function(){
                    $(this).siblings(".more-text").contents().unwrap();
                    $(this).remove();
                    });
                });
                $('#sort-select').change(function () {
                    $("#myFilter").attr("placeholder", 'Search by ' + $("#sort-select option:selected").text());

                })

                function myFunction() {
                    
                    var input, filter, cards, cardContainer, h5, title, i;
                    input = document.getElementById("myFilter");
                    filter = input.value.toUpperCase();
                    cardContainer = document.getElementById("myItems");
                    cards = cardContainer.getElementsByClassName("card");
                    for (i = 0; i < cards.length; i++) {
                        if($("#sort-select option:selected").text()=='Company')
                            title = cards[i].querySelector(".card-body h4.card-title");
                        else
                            title = cards[i].querySelector(".card-body .sector-title");
                        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                            cards[i].style.display = "";
                        } else {
                            cards[i].style.display = "none";
                        }
                    }
                }
               
        if($(window).width()>480)
              var circlesize = 100;
          else
          var circlesize =40;
             $('#pie_chart').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type:'pie',
    },
    title: {
        text: null,
    },
    credits: {
            enabled: false
          },
       
    tooltip: {
        pointFormat: '{series.name} <br/> {point.percentage:.1f}%'
    },
    
    plotOptions: {
        series: {
          states: {
            hover: {
              enabled: true
            }
          }
        },
        pie: {
          innerSize:circlesize,
            depth: 45,
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '{point.name}<br>{point.percentage:.1f} %',
            style: {
           
              fontSize: '14px',
              fontWeight: 'normal',
              textShadow: 'none'
            },
            softConnector: false,
          },
          showInLegend: false
        }
      },
    series: [{
        type: 'pie',
        name: '',
        data: {{ indexsector_values | safe}}
    }]
});
$('#frequency').on('change', function () {
    if($("#countries" ).find("dt a span.value").text()==="US"){
      index_text=$('#us_index option:selected').text();
      index=$('#us_index option:selected').val();
    }
    else{
      index_text=$('#india_index option:selected').text();
      index=$('#india_index option:selected').val();
    }
    if ($("#frequency option:selected").val()=='DailyPercentChange')
        get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),index)
    else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
        get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),index)
    else 
        get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),index)
});
$('#layer').on('change', function () {
    if($("#countries" ).find("dt a span.value").text()==="US"){
      index_text=$('#us_index option:selected').text();
      index=$('#us_index option:selected').val();
    }
    else{
      index_text=$('#india_index option:selected').text();
      index=$('#india_index option:selected').val();
    }
    if ($("#frequency option:selected").val()=='DailyPercentChange')
        get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),index)
    else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
        get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),index)
    else 
        get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),index)
});
$('#size').on('change', function () {
    if($("#countries" ).find("dt a span.value").text()==="US"){
      index_text=$('#us_index option:selected').text();
      index=$('#us_index option:selected').val();
    }
    else{
      index_text=$('#india_index option:selected').text();
      index=$('#india_index option:selected').val();
    }
    if ($("#frequency option:selected").val()=='DailyPercentChange')
        get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),index)
    else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
        get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),index)
    else 
        get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),index)
});
$('.index_select').on('change', function () {
    if ($("#frequency option:selected").val()=='DailyPercentChange')
        get_data( $("#frequency option:selected").val(),[-3,-2,-1,0,1,2,3],$("#size option:selected").val(),$("#layer option:selected").val(),$(this).val())
    else if ( $("#frequency option:selected").val()=='WeeklyPriceChangePercent')
        get_data( $("#frequency option:selected").val(),[-6,-4,-2,0,2,4,6],$("#size option:selected").val(),$("#layer option:selected").val(),$(this).val())
    else 
        get_data( $("#frequency option:selected").val(),[-10,-6.7,-3.3,0,3.3,6.7,10],$("#size option:selected").val(),$("#layer option:selected").val(),$(this).val())
});
function get_data(val,range,size,column1,index) {
  $('.se-pre-con').fadeIn();
    var frequency = $("#frequency option:selected").val();
    $("#scale").empty();
    if(frequency=="DailyPercentChange"){
               
               // $("#scale").append('<tr><td style="background-color:#F63538;"><span>-3%</span></td><td style="background-color:#BF4045;"><span>-2%</span></td><td style="background-color:#8B444E;"><span>-1%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#35764E;"><span>+1</span></td><td style="background-color:#2F9E4F;"><span>+2%</span></td><td style="background-color:#30CC5A;"><span>+3%</span></td></tr>')
               $("#scale").append('<tr><td style="background-color:#8B444E;"><span>-3%</span></td><td style="background-color:#BF4045;"><span>-2%</span></td><td style="background-color:#F63538;"><span>-1%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#30CC5A;"><span>+1%</span></td><td style="background-color:#2F9E4F;"><span>+2%</span></td><td style="background-color:#35764E;"><span>+3%</span></td></tr>')
             
           }else if(frequency=="WeeklyPriceChangePercent"){
               // $("#scale").append('<tr><td style="background-color:#F63538;"><span>-6%</span></td><td style="background-color:#BF4045;"><span>-4%</span></td><td style="background-color:#8B444E;"><span>-2%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#35764E;"><span>+2</span></td><td style="background-color:#2F9E4F;"><span>+4%</span></td><td style="background-color:#30CC5A;"><span>+6%</span></td></tr>')
               $("#scale").append('<tr><td style="background-color:#8B444E;"><span>-6%</span></td><td style="background-color:#BF4045;"><span>-4%</span></td><td style="background-color:#F63538;"><span>-2%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#30CC5A;"><span>+2%</span></td><td style="background-color:#2F9E4F;"><span>+4%</span></td><td style="background-color:#35764E;"><span>+6%</span></td></tr>')
             
           }else{
               // $("#scale").append('<tr><td style="background-color:#F63538;"><span>-10%</span></td><td style="background-color:#BF4045;"><span>-6.7%</span></td><td style="background-color:#8B444E;"><span>-3.3%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#35764E;"><span>+3.3</span></td><td style="background-color:#2F9E4F;"><span>+6.7%</span></td><td style="background-color:#30CC5A;"><span>+10%</span></td></tr>')
               $("#scale").append('<tr><td style="background-color:#8B444E;"><span>-10%</span></td><td style="background-color:#BF4045;"><span>-6.7%</span></td><td style="background-color:#F63538;"><span>-3.3%</span></td><td style="background-color:#414554;"><span>0%</span></td> <td style="background-color:#30CC5A;"><span>+3.3%</span></td><td style="background-color:#2F9E4F;"><span>+6.7%</span></td><td style="background-color:#35764E;"><span>+10%</span></td></tr>')
             
           }
     $.ajax({
                url: "{% url 'treemap' %}",
                type: 'post',
                data: { 'required_value': JSON.stringify([frequency,range,size,parent[column1],child[column1],column1,index])},
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                  if($("#countries" ).find("dt a span.value").text()==="US"){
                    index_text=$('#us_index option:selected').text();
                  }
                  else{
                    index_text=$('#india_index option:selected').text();
                  }
                    DrawGraph(json.gics_list,json.mcap,index_text)

                },
                error: function (json) {
                    console.log("error")
                }
            });
}

function DrawGraph(data,mcap,index_text){
    FusionCharts.ready(function() {
  var visitChart = new FusionCharts({
    type: 'treemap',
    renderAt: 'chart-container',
    width: '100%',
    height: '650',
    dataFormat: 'json',
    dataSource: {
      "chart": {
        "animation": "0",
        "hideTitle": "1",
                "plotToolText": "<div><b>$label</b><br/></div>",
                "horizontalPadding": "0",
                "verticalPadding": "0",
                "plotborderthickness": ".5",
                "plotbordercolor": "ffffff",
                "chartBottomMargin": "0",
                "chartLeftMargin": "0",
                "chartRightMargin": "0",

                "labelGlow": "0",
                "labelDisplay": "auto",
                "showLegend": "1",
                "algorithm": "squarified",
                "caption": "",
                "captionFontColor": "#5627D8",
                "theme": "fusion",
                "subcaption": null,
                "legendCaption": null,
                "showChildLabels": "1",
                "labelFont": "Lato,sans-serif",
                "labelFontSize": "14",
                "labelFontColor": "FFFFFF",
        "exportEnabled":1,
        "exportFileName":index_text,
      },
      "data":[{
        "label":index_text,
        "fillcolor": "000000",
        "value":mcap,
         "data":data
      }],
   
    }
  }).render();

});
$('.se-pre-con').fadeOut();
}
create_table({{daily_table|safe}},'fii_dii_daily_tbody')
create_table({{monthly_table|safe}},'fii_dii_monthly_tbody')
  function reset_daily(){
    $('.selrange_dt select').val('none');
    create_table({{daily_table|safe}},'fii_dii_daily_tbody');
  }
  function getFiiDiiDaily(){
    $.ajax({
                url: "{% url 'getFiiDiiDaily' %}",
                type: 'post',
                data: { 'required_value': JSON.stringify([$('#month_from option:selected').val(),$('#year_from option:selected').val()])},
                dataType: 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                success: function (json) {
                    create_table(json.daily_table,'fii_dii_daily_tbody')
                },
                error: function (json) {
                    console.log("error")
                }
            });

  }

            $("body").css({visibility:'visible'})
            </script>
           
  </body>
   
</html> 
{% endblock %}
