{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
	<title>Insights - 72PI</title>
    <meta name="keywords" content="72pinewsflow, marketnewsflow, marketnews, stocknews, 72piinsights, 72pitastybyte, tastybyte, insights,marketindicators, 72pimarketindicators"/>
    <meta name="description" content="72pi team generates insights from the market using different market indicators and also from the news flow" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/insights.css' %}?v=1.0">
   
  </head>
	<body>
       
        <div class="col-lg-12 section-gap main researchmain-div" >
            <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Reports & Insights<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'researchview' %}" class="nav-sub-link">Insights</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
						<div class="banner-btn mg-l-5">
							<a class="popup play-btn pd-b-5 pd-t-5 text-capitalize" href="https://www.youtube.com/watch?v=Sd3egn8542w">
							Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank' aria-hidden="true">
								</i>
							</a>
						</div>
				</div>
			</div>
            <div class="page-title  mg-t-5">
                
            </div>  
            <div class="disclaimer-text">
                <p class="text-italic">
                  Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                 
                </p>
            </div> 
        <div class="row mg-t-0 pd-l0 pd-r-50">
           
              </div>
            <div class="row mg-t-10 pd-l-0 pd-r-0" id="myItems" >
                {% for item in blogs %}
                    <div class="col-sm-6 researchdiv">
                        <div class="card mg-b-20">
                            <div class="card-body" style="padding-bottom:5px;padding-top:10px;" >
                                <div class="row">
                                    <div class="col-sm-12 pd-t-10 contentdiv">
                                        {% if item.title == "Relative Strength of Sectors" %}
                                        <h3 class="card-title mg-l-10"><a href="{% url 'relativestrength' %}" target="_blank">{{ item.title }}</a></h3>
                                        {% elif item.title == "Trailing 12M PE of Nifty 50" %}
                                        <h3 class="card-title mg-l-10"><a href="{% url 'trailing12mpe' %}" target="_blank">{{ item.title }}</a></h3>
                                        {% elif item.title == "Trailing 12M PE of S&P 500" %}
                                        <h3 class="card-title mg-l-10"><a href="{% url 'trailing12mpe' %}" target="_blank">{{ item.title }}</a></h3>
                                        {% else %}
                                        <h3 class="card-title mg-l-10"><a href="{{item.get_url}}" target="_blank">{{ item.title }}</a></h3>
                                        {% endif %}
                                        <div class="col-sm-12 mg-t-10">
                                            <div class="row  flexdiv">
                                                <div class="col-sm-8">
                                                    <div class="mg-t-5 posted text-muted text-italic tx-12">Posted at: {{ item.posted_at }}</div>
                                                    <div class="mg-t-0 source text-muted text-italic tx-12">Source :{{ item.source }}</div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
          
            <div class="card mg-t-20 nifty50_div" style="padding:0% 2%">  
                <div class="card-header">
                    <h4 class="card-title text-center"><label class="nifty50_date"></label></h4>
                </div>
                <div class="card-body">
                            <select id="select-data" class="mg-b-10">
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                            </select>
                            <div id="daily"></div>
                            <div id="weekly"></div>
                            <div id="monthly"></div>

                            
                </div><!-- card-body -->
            </div>
            <div class="card mg-t-20  snp500" style="padding:0% 2%">  
              <div class="card-header">
                  <h4 class="card-title text-center"><label class="snp500_date"></label></h4>
              </div>
              <div class="card-body">
                  <select id="select-data-snp" class="mg-b-10">
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                </select>
                <div id="daily_snp"></div>
                <div id="weekly_snp"></div>
                <div id="monthly_snp"></div> 
              </div><!-- card-body -->
          </div>
            <div class="card mg-t-20 market_performance" style="padding:0% 2%">  
              <div class="card-header">
                  <h4 class="card-title text-center"><label>Market Performance</label></h4>
              </div>
              <div class="card-body">
                         <div id="market_performance"></div>
              </div><!-- card-body -->
          </div>
            {% if tastybytes %}
            <div class="card mg-t-20">
                <div class="card-body">
                 <div class="mg-r-20">
                     <div class="">
                         <h3 class=" text-center"><label>TastyByte</label></h3>
                         <div class="col-lg-12 mg-t-20 tasty_byte">
                           <div class="row">
                             {% if tastybytes %}
                             {% for byte in tastybytes %}
                             <div class="col-lg-4">
                               <h5>
                                 <a target="_blank" href="{{byte.get_url}}">
                                   {{byte.title}}
                                 </a>
                               </h5>
                                 <p class="show-read-mores text-justify tx-12 mg-t-20 ">{{byte.short_description}}</p>
                                 <p class="tx-10 text-italic mg-b-0">Posted at: {{byte.posted_at}}</p>
                                 <p class="tx-10 text-italic">Source: {{byte.source}}</p>
                             </div>
                             {% endfor %}
                             {% endif %}
                           </div>
                         </div>
                       </div>
                   </div>
                </div>
 
            </div>
             {% endif %}
             
             <div class="card mg-t-20">
              
          <div class="mg-r-0 col-lg-12 mg-t-20">
            <h4 class="text-center"><label class="index_date"></label></h4>
            <div class="row">
              <div class="col-lg-8">
                <div class="mg-t-0" id="pie_chart"></div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="mg-t-30">
                  <table>
                    <thead>
                      <th>Sector</th>
                      <th>Breakdown</th>
                    </thead>
                    <tbody id="brk_td">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <p class="mg-t-10 text-italic source"></p>
          </div>
        </div>
           
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Insights</label></h3>
              <div class="modal-body">
        <p>
            Insights is a tab wherein we constantly add new thoughts, content and knowledge to better understand the market. Currently, it comprises of four parts: Market indicators, Niftybyte, Tastybyte and Nifty 50 sector breakdown. Market indicators -- like relative strength, 12M Trailing PE, 90D correlation of Nifty 50 & Macro factors and Market cap to GDP -- help in understanding the current positioning of the market, as in which sectors are showing the strength, is the market overvalued/undervalued/fairly valued. Niftybyte shows the performance of the nifty 50 stocks in the last 1 day/week/month; this can be used to understand which stocks have been influencing the performance of Nifty 50 index. Tastybyte captures the news flow, we present the top 3 news items daily. 
        </p>
                 </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>

<script src="{% static 'js/heatmapcolor.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>


            <script>
            function reformatDate(dateStr)
            {     
              var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
              dArr = dateStr.split("-"); 
              return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
            }
            function dateconverter(convertdata) {
            for (var i = 0; i < convertdata.length; i++) {
                for (var j = 0; j < convertdata[i]['data'].length; j++) {
                    var temp = convertdata[i]['data'][j][0]
                    var date = new Date(temp)
                    var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                        date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                    convertdata[i]['data'][j][0] = now_utc;
                }
            }
            return convertdata;
        }
            Highcharts.chart('market_performance', {
                chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                   

                },
                title: {
                    text: null,
                  

                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'

                    },
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    tickLength: 6,
                    tickWidth: 1,

                    startOnTick: false,
                    endOnTick: false,
                },
                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    labels: {
                        formatter: function () {
                           
                                return (this.value*100 ).toFixed(0)+'%' ;
                        },
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    title: {
                        text: '',
                        style: {
                            color: '#031b4e',
                            fontWeight: 'normal'
                        },
                    },
                    plotLines: [{
                        color: '#F2F2F2',
                        width: 2,
                        value: 0
                    }]
                },

               
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    }
                },
                tooltip: {
                    formatter: function () {
                            var s = ["Date : " + '<b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(this.x))];
                            $.each(this.points, function (i, point) {
                                s.push(point.series.name + ' : <b>' +
                                    parseFloat(point.y*100).toFixed(2)
                                    + '%</b><br>');
                            });
                            return s.join('<br>');
                    },
                    shared: true
                },
              

                series:dateconverter( {{market_performance|safe}}),

            });

        

       
                  $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
create_table({{ indexsector_values| safe}},'brk_td')

function create_table(output,tbody_id) {
      if(output.length>0)
      {
          var tabledata = new Array();
          for (i = 0; i < output.length; i++) {
              tabledata.push(output[i])
          }
          $("#"+tbody_id).empty();
          var table = document.getElementById(tbody_id);
          var columnCount = tabledata[0].length;
          var row = table.insertRow(0);
          for (var i = 0; i < tabledata.length; i++) {
              row = table.insertRow(-1);
              for (var j = 0; j < columnCount; j++) {
                  var cell = row.insertCell(-1);
                  cell.innerHTML = tabledata[i][j];
              }
          }
      }
      else{
          $('#table-data tbody').html("No Data Found")
      }

  }
  $('table #brk_td td:nth-child(2)').each(function(){
    $(this).text($(this).text()+"%")
  })
  var index_date = {{ date| safe}}
   if(localStorage.getItem('country-val')==="US"){
    $('.index_date').html(" S&P 500 Sector Breakdown as of "+reformatDate(index_date[0]));
    $('.market_performance').show();
    $('.snp500').show();


   }
   else{
    $('.index_date').html("Nifty 50 Sector Breakdown as of "+reformatDate(index_date[0]));
    $('.market_performance').hide();
    $('.snp500').hide();


   }


                $().ready(function(){ 
            
                    var maxLength = 300;
                    $(".show-read-more").each(function(){
                    var myStr = $(this).text();
                    if($.trim(myStr).length > maxLength){
                        var newStr = myStr.substring(0, maxLength);
                        var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                        $(this).empty().html(newStr);
                        $(this).append(' <a href="javascript:void(0);" class="read-more">read more...</a>');
                        $(this).append('<span class="more-text">' + removedStr + '</span>');
                    }
                    });
                    $(".read-more").click(function(){
                    $(this).siblings(".more-text").contents().unwrap();
                    $(this).remove();
                    });
                });
                $('#sort-select').change(function () {
                    $("#myFilter").attr("placeholder", 'Search by ' + $("#sort-select option:selected").text());

                })

                function myFunction() {
                    
                    var input, filter, cards, cardContainer, h5, title, i;
                    input = document.getElementById("myFilter");
                    filter = input.value.toUpperCase();
                    cardContainer = document.getElementById("myItems");
                    cards = cardContainer.getElementsByClassName("card");
                    for (i = 0; i < cards.length; i++) {
                        if($("#sort-select option:selected").text()=='Company')
                            title = cards[i].querySelector(".card-body h4.card-title");
                        else
                            title = cards[i].querySelector(".card-body .sector-title");
                        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                            cards[i].style.display = "";
                        } else {
                            cards[i].style.display = "none";
                        }
                    }
                }
                var daily_data={{daily_data|safe}}
                var weekly_data={{weekly_data|safe}}
                var monthly_data={{monthly_data|safe}}
              
                var daily_data_snp={{daily_data_snp|safe}}
                var weekly_data_snp={{weekly_data_snp|safe}}
                var monthly_data_snp={{monthly_data_snp|safe}}
              
             
                function heatmap_table(tableid,data,size)
                {
                  if((data.length)%size!=0){
                    for(let j=0;j<size-(data.length)%size;j++)
                    {
                      data.push([])
                       

                    }
                }
               
                    let table = '<table>';
                    let index=0;
                    for (let i = 0; i <(data.length)/size; ++i) {
                    table += '<tr>';
                    for(let k = 0; k <size; ++k) {
                        if(data[index].length>0){
                        if(data[index][2]*100 >0)
                          table += '<td class="positive">'+ (data[index++][2]*100).toFixed(2) + '</td>';
                        else
                        table += '<td class="negative">'+ (data[index++][2]*100).toFixed(2) + '</td>';

                        }
                           
                    }
                    table += '</tr>';
                    }
                    $(tableid).html(table)
                    $(tableid+" table td.positive").hottie({
                    colorArray : [ 
                       
                        "#E5EE00",
                        "#2EA100"  // lowest value
                      
                    ]
                });
                $(tableid+" table td.negative").hottie({
                    colorArray : [ 
                        "#FF0000", // highest value
                        "#F2C500",
                       
                      
                    ]
                });
                index=0
                $(tableid+" table td").each(function() {
                  if('{{symbol|safe}}'=='$')
                  flag='en-US'
                  else
                  flag='hi-IN'
                       $(this).html('<div class="cname">'+data[index][0]+'</div><div class="mg-t-10">{{symbol|safe}}' +parseFloat(data[index][1]).toLocaleString(flag , { maximumFractionDigits: 0})+'</div><div class="mg-t-5 mg-b-5">'+ (data[index++][2]*100).toFixed(2) + '%</div>');

                     
                  });
                


                }
                heatmap_table('#daily',daily_data,10)
                heatmap_table('#weekly',weekly_data,10)
                heatmap_table('#monthly',monthly_data,10)
                heatmap_table('#daily_snp',daily_data_snp,10)
                heatmap_table('#weekly_snp',weekly_data_snp,10)
                heatmap_table('#monthly_snp',monthly_data_snp,10)
                $('#daily').show();
                $('#weekly').hide();
                $('#monthly').hide();
                $('#daily_snp').show();
                $('#weekly_snp').hide();
                $('#monthly_snp').hide();
                $('#select-data').on('change', function () {
            
                if (this.value == "daily") {
                   $('#daily').show();
                   $('#weekly').hide();
                   $('#monthly').hide();
                }
                else if (this.value == "weekly") {
                    $('#daily').hide();
                   $('#weekly').show();
                   $('#monthly').hide();
                }
                else {
                    $('#daily').hide();
                   $('#weekly').hide();
                   $('#monthly').show();
                }
            });
            $('#select-data-snp').on('change', function () {
            
            if (this.value == "daily") {
               $('#daily_snp').show();
               $('#weekly_snp').hide();
               $('#monthly_snp').hide();
            }
            else if (this.value == "weekly") {
                $('#daily_snp').hide();
               $('#weekly_snp').show();
               $('#monthly_snp').hide();
            }
            else {
                $('#daily_snp').hide();
               $('#weekly_snp').hide();
               $('#monthly_snp').show();
            }
        });
            function checkWidth() {
         
         if ($(window).width() < 580) {
           $('#daily').empty();
           heatmap_table('#daily',daily_data,3)
            heatmap_table('#weekly',weekly_data,3)
            heatmap_table('#monthly',monthly_data,3)
            heatmap_table('#daily_snp',daily_data_snp,3)
            heatmap_table('#weekly_snp',weekly_data_snp,3)
            heatmap_table('#monthly_snp',monthly_data_snp,3)
             
         } 
         else if ($(window).width() <730 && $(window).width() >580)  {
           $('#daily').empty();
           heatmap_table('#daily',daily_data,6)
                heatmap_table('#weekly',weekly_data,6)
                heatmap_table('#monthly',monthly_data,6)
                heatmap_table('#daily_snp',daily_data_snp,6)
                heatmap_table('#weekly_snp',weekly_data_snp,6)
                heatmap_table('#monthly_snp',monthly_data_snp,6)
             
         } 
         else if ($(window).width() >730 && $(window).width() < 1050)  {
           $('#daily').empty();
           heatmap_table('#daily',daily_data,7)
                heatmap_table('#weekly',weekly_data,7)
                heatmap_table('#monthly',monthly_data,7)
                heatmap_table('#daily_snp',daily_data_snp,7)
                heatmap_table('#weekly_snp',weekly_data_snp,7)
                heatmap_table('#monthly_snp',monthly_data_snp,7)
             
         } 
         else{
           $('#daily').empty();
           heatmap_table('#daily',daily_data,10)
                heatmap_table('#weekly',weekly_data,10)
                heatmap_table('#monthly',monthly_data,10)
                heatmap_table('#daily_snp',daily_data_snp,10)
                heatmap_table('#weekly_snp',weekly_data_snp,10)
                heatmap_table('#monthly_snp',monthly_data_snp,10)
         }
       }
     checkWidth();       
     $(window).resize(checkWidth);
       var date={{date_nifty|safe}}
         if('{{symbol|safe}}'=='$')
         {
         $('.nifty50_date').html("Dow30 Byte as of "+reformatDate(date[0]))
         $('.snp500_date').html("S&P500  as of "+reformatDate({{date_snp|safe}}[0]))

           $('.source').text('')
         }
        else{
          $('.source').text('Source : NSE')

          $('.nifty50_date').html("Nifty50 Byte as of "+reformatDate(date[0]))

        }
        if($(window).width()>480)
              var circlesize = 100;
          else
          var circlesize =40;
             $('#pie_chart').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type:'pie',
    },
    title: {
        text: null,
    },
    credits: {
            enabled: false
          },
        exporting: {
          buttons: {
            contextButton: {
              enabled: false
            },
          }
        },
    tooltip: {
        pointFormat: '{series.name} <br/> {point.percentage:.1f}%'
    },
    
    plotOptions: {
        series: {
          states: {
            hover: {
              enabled: true
            }
          }
        },
        pie: {
          innerSize:circlesize,
            depth: 45,
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '{point.name}<br>{point.percentage:.1f} %',
            style: {
           
              fontSize: '14px',
              fontWeight: 'normal',
              textShadow: 'none'
            },
            softConnector: false,
          },
          showInLegend: false
        }
      },
    series: [{
        type: 'pie',
        name: '',
        data: {{ indexsector_values | safe}}
    }]
});
            $("body").css({visibility:'visible'})
            </script>
           
  </body>
   
</html> 
{% endblock %}
