{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
		<title>Model Portfolios - 72PI</title>
    <meta name="keywords" content="72pimodelportfolio, modelportfolio, 72pimarketthemes, marketthemes, 72piaggresiveportfolio, aggresiveportfolio, 72piconservativeportfolio, conservativeportfolio, 72piruraltheme, ruraltheme, 72piruralportfolio, ruralportfolio"/>
    <meta name="description" content="It has model portfolios by risk appetite, investment preference and different market themes" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/modelportfolio.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <script src="{% static 'js/table_sort.js' %}"></script>
  </head>
	<body>
    <div class="se-pre-con"></div>

        <div class="col-lg-12 section-gap ">
          <div class="row">
            <div class="col-lg-12">
              <div class="row page-title mg-t-20">
                <div class="col-sm-6">
                  <p class="text-white tx-20">
                    <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> 72PI Portfolio <i
                      class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                    <a href="{% url 'ModelPortfolio' %}" class="nav-sub-link">Model Portfolios</a>
                  </p>
                </div>
                <div class="row col-sm-6 justify-content-end">
                  <div class="description_btn">
                    <button>How to Use this Page ?</button>
                  </div>
                </div>
              </div>
                 
            <div class="disclaimer-text">
              <p class="text-italic">
                Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
              </p>
            </div> 
          <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Model Portfolios</label></h3>
              <div class="modal-body">
         <p>Model portfolios are portfolios constructed by risk appetite (Conservative vs. Aggressive), investment preference (Mid Cap vs Large Cap) and different market themes like Rural, ESG, healthcare etc. Based on the risk appetite of investors, Model portfolios can be used to select stocks that can be added to their portfolio. Portfolio performance metrics since 2019 and Year-to-date are presented to understand the volatility, beta and Sharpe ratio of the portfolio compared to benchmark indices Nifty 50, Nifty Midcap 100 and Nifty Smallcap 100.</p>      </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
          <div class="card mg-t-10">
            <hgroup class="mg-t-10">
              <button class="mg-t-10 mg-r-10 savemodelportfolio" style="float: right;">Add to My Portfolio</button>
              <h3 class="site-title text-center"><label>72PI Model Portfolios</label></h3>
         </hgroup>
             
               
                <div class="card-body">
                  <div class="scroller scroller-left-1"><i class="fa fa-chevron-left"></i></div>
                  <div class="scroller scroller-right-1"><i class="fa fa-chevron-right"></i></div>
                  <div class="row">
                    <div class="col-md-12 portfolio-tabs mg-t-20">
                      <ul id="tab-list" class="nav nav-tabs" role="tablist">
                      </ul>
                      {% for portfolio in portfolioList %}
                      <script>
                        $('#tab-list').append($(
                          '<li><a href="#" role="tab" data-toggle="tab"><span>{{portfolio}} </span> </a></li>'));
                      </script>
                      {% endfor %}
                    </div>
                  </div>
                 
                  <div class="tablediv mg-t-10 table-responsive" style="height:60vh">
                    <table class="sortable table unselectable" id="myTable">
                      <thead>
                        <th style="display: none;">Portfolio Name</th>
                        <th class="sticky-col first-col">Company Name</th>
                        <th class="non-sticky">Sector Name</th>
                        <th class="non-sticky">Market Cap Category</th>
                        <th class="non-sticky">Quantity</th>
                        <th class="non-sticky">Current Stock Price ({{symbol|safe}})</th>
                        <th class="non-sticky">Current Market Value ({{symbol|safe}})</th>
                      </thead>
                      <tbody>
                        {% for model in modelportfolio %}
                        <tr>
                          <td style="display: none;">{{model.ModelPortfolioName}}</td>
                          <td class='company sticky-col first-col'>{{model.CompanyName}}</td>
                          <td>{{model.Sector}}</td>
                          <td>{{model.MarketCapCategory}}</td>
                          <td>{{model.Quantity}}</td>
                          <td>{{model.Price}}</td>
                          <td>{{model.Quantity|mul:model.Price}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mg-t-20">
            
              <div class="card">
                <div class="card-body row">
                  <div class="col-lg-6">
                    <h4 class="text-center"><label>Portfolio Returns - From 2019</label></h4>
                    <div id="ITD_Portfolio_Returns" class="mg-t-20"></div>
                    <div id="table-data" class="mg-t-20 table-responsive">
                      <table class="table graphtable unselectable">
                        <thead>
                          <tr>
                            <th>Portfolio/Benchmark</th>
                            <th>Cumulative Return</th>
                            <th>Volatility</th>
                            <th>Sharpe</th>
                            <th>Beta</th>
                          </tr>
                        </thead>
                        <tbody id="ITD_tbody">
  
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <h4 class="text-center"><label>YTD Portfolio Returns  (2020)</label></h4>
                    <div id="YTD_Portfolio_Returns" class="mg-t-20"></div>
                    <div id="table-data" class="mg-t-20 table-responsive">
                      <table class="table graphtable unselectable">
                        <thead>
                          <tr>
                            <th>Portfolio/Benchmark</th>
                            <th>Cumulative Return</th>
                            <th>Volatility</th>
                            <th>Sharpe</th>
                            <th>Beta</th>

                          </tr>
                        </thead>
                        <tbody id="YTD_tbody">
  
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
        <!-- Error Detection  Modal HTML -->
          <div id="portfolioNameModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                          <div class="modal-header">						
                              <h4 class="modal-title">Name your portfolio</h4>
                              <div class="saveload"></div>
                              <p class="responsemsg"></p>
                          </div>
                          <div class="modal-body text-center" style="color:black">
                              <input type="text" class="form-control portName" id="newportfolio" placeholder="Portfolio Name">
                              <input type="text" style="display: none;" class="form-control portName" id="originalportfolio" placeholder="Portfolio Name">
                              <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
                          </div>
                          <div class="modal-footer text-center">
                            <input type="button" class="btn btn-default  closeport" data-dismiss="modal" value="Cancel" >
                            <input type="button" class="btn btn-default  saveport" style="background-color:#5627D8;color:white"  value="Create">
                          </div>
                  </div>
              </div>
          </div>
      
        </body>
  
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script>
          $('.saveload').fadeOut(100);
          $(document).on("click", ".description_btn", function () {
                    $('#description').modal('show');
                  
                })
        if('{{symbol|safe}}'=='$')
        flag='en-US'
        else
        flag='hi-IN'
        $('#myTable tr td:nth-child(5)').each(function() {
        $(this).html(parseFloat($(this).text()).toLocaleString(flag, { maximumFractionDigits: 0}))
        })
        $('#myTable tr td:nth-child(6)').each(function() {
        $(this).html(parseFloat($(this).text()).toLocaleString(flag, { maximumFractionDigits: 0}))
        })
        $('#myTable tr td:nth-child(7)').each(function() {
        $(this).html(parseFloat($(this).text()).toLocaleString(flag, { maximumFractionDigits: 0}))
        })
      
          $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
            window.open(stockURL, '_blank');
            return false;
          });
          tabsScrolling();

          $(document).ready(function () {
            $("#tab-list li").eq(0).addClass("active");
            var tabvalue = $("#tab-list li.active").text().trim();
            myportfolioFilter(tabvalue);
            getdata(tabvalue);

          })
          $('#tab-list li').click(function () {
            $('#tab-list li').removeClass('active')
            $(this).addClass('active');
            var portfolio = $(this).text().trim();
            myportfolioFilter(portfolio);
            getdata(portfolio);
          })

          function myportfolioFilter(portfolioname) {
            var input, filter, table, tr, td, i, txtValue;
            input = portfolioname;
            filter = input.toUpperCase();
            filter = filter.trim()
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            var count = 0;
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            txtValue = txtValue.trim();
        
            if (txtValue.toUpperCase() == filter) {
            tr[i].style.display = "";
            count++;
            } else {
            tr[i].style.display = "none";
            }}}}
          
          function getdata(portfolio){
            $('.se-pre-con').fadeIn(1);
            $.ajax({
                    url: "{% url 'modelPortfolioReturns' %}",
                    type: 'post',
                    data:{'portfolioname':portfolio},
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    success: function(json) {
                        graph('ITD_Portfolio_Returns',json.ITD_creturns);
                        create_table('ITD_tbody',json.ITD_msg_df_values,portfolio)
                        graph('YTD_Portfolio_Returns',json.YTD_creturns);
                        create_table('YTD_tbody',json.YTD_msg_df_values,portfolio)
                        $('.se-pre-con').fadeOut(1);
                    },
                    error: function(json) {
                        console.log("Error detected while plotting returns");
                    }
          })
          }
          function graph(div_id, output) {
              var graph_data = output
              for (i = 0; i < graph_data.length; i++) {
                for (j = 0; j < graph_data[i]['data'].length; j++) {
                  var temp = graph_data[i]['data'][j][0]
                  var date = new Date(temp)
                  var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                  graph_data[i]['data'][j][0] = now_utc;
                }
              }
              temp = graph_data
              if (graph_data[0]['data'].length > 0) {
                Highcharts.chart(div_id, {
                  chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                    height: 250,

                  },
                  title: {
                    text: '',
                    style: {
                      color: '#1C273C',
                      fontSize: '13px ',
                      fontWeight: 'normal'
                    },
                  },
                  credits: {
                    enabled: false
                  },
                  exporting: {
                    buttons: {
                      contextButton: {
                        enabled: false
                      },

                    }
                  },
                  xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                      day: '%e-%b-%y',
                      week: '%e-%b-%y',
                      month: '%b-%y',
                      year: '%Y'

                    },
                    labels: {
                      style: {
                        color: '#031b4e',
                        fontSize: '13px  ',
                        fontWeight: 'normal'
                      },
                    },
                    tickLength: 6,
                    tickWidth: 1,
                    min: graph_data[0]['data'][0][0],
                    startOnTick: true,
                    endOnTick: false,

                  },
                  yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    labels: {
                      formatter: function () {
                        return (this.value * 100).toFixed(0) + '%';
                      },
                      style: {
                        color: '#031b4e',
                        fontSize: '13px  ',
                        fontWeight: 'normal'
                      },
                    },
                    title: {
                      text: "Return",
                      style: {
                        color: '#031b4e',
                        fontSize: '13px  ',
                        fontWeight: 'normal'
                      },
                    },
                    plotLines: [{
                      color: '#F2F2F2',
                      width: 2,
                      value: 0
                    }]
                  },

                  tooltip: {

                    formatter: function () {
                      var s = [];
                      var count = 0
                      $.each(this.points, function (i, point) {
                        if (count == 0)
                          s.push('Date: <b>' + Highcharts.dateFormat('%d-%b-%Y', new Date(point.x)) + '</b><br>');
                        count = 1


                        s.push(point.series.name + ' : <b>' +
                          (point.y * 100).toFixed(1) + '%</b><br>');



                      });

                      return s.join('<br>');
                    },
                    shared: true,
                    style: {
                      color: '#031b4e',
                      fontSize: '13px  ',
                      fontWeight: 'normal'
                    },
                  },
                  plotOptions: {
                    series: {
                      marker: {
                        enabled: false,
                        symbol: "circle"
                      }
                    }
                  },
                  legend: {
                    itemStyle: {
                      color: '#031B4E',
                      fontSize: '13px'

                    },
                  },
                  series: graph_data,

                });
              }
            }
          

          function create_table(tbody_id, output, portfolio) {
              output[0][0] = portfolio
              var tabledata = new Array();
              for (i = 0; i < output.length; i++) {
                tabledata.push([output[i][0], parseFloat(output[i][1]).toFixed(2) + "%", parseFloat(output[i][2]*100).toFixed(2) + "%",parseFloat(output[i][3]).toFixed(2) ,parseFloat(output[i][4]).toFixed(2)])
              }
              $("#" + tbody_id).empty();
              var table = document.getElementById(tbody_id);
              var columnCount = tabledata[0].length;
              var row = table.insertRow(0);
              for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                  var cell = row.insertCell(-1);
                  cell.innerHTML = tabledata[i][j];
                }
              }
            }
          

          
          function tabsScrolling() {
              var hidWidth;
              var scrollBarWidths = 40;
              var scrollSpeed = 600;
              var widthOfList = function () {
                var itemsWidth = 0;
                $('#tab-list li').each(function () {
                  var itemWidth = $(this).outerWidth();

                  itemsWidth += itemWidth;
                });

                return itemsWidth;
              };


              var widthOfHidden = function () {
                return (($('.portfolio-tabs').outerWidth()) - widthOfList() - getLeftPosi()) - scrollBarWidths;
              };

              var getLeftPosi = function () {

                return $('#tab-list').position().left;
              };

              var reAdjust = function () {
                if (($('.portfolio-tabs').outerWidth()) < widthOfList()) {
                  $('.scroller-right-1').show();
                }
                else {
                  $('.scroller-right-1').hide();
                }

                if (getLeftPosi() < 0) {
                  $('.scroller-left-1').show();
                }
                else {
                  $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, scrollSpeed);
                  $('.scroller-left-1').hide();
                }
              }

              reAdjust();

              $(window).on('resize', function (e) {
                reAdjust();
              });

              $('.scroller-right-1').click(function () {
                $('.scroller-left-1').fadeIn('slow');
                $remained = $('#tab-list').width() - $('.portfolio-tabs').width() + parseInt($('#tab-list').css('left'));
                if (widthOfList() < $('.portfolio-tabs').width() - parseInt($('#tab-list').css('left'))) {
                  $('.scroller-right-1').fadeOut('slow');
                }
                else {
                  if ($remained >= $('.portfolio-tabs').innerWidth()) {
                    $left = $('.portfolio-tabs').innerWidth();
                  } else {
                    $left = $remained;
                    $('.scroller-right-1').fadeOut('slow');
                  }
                  $('#tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
                }
              });
              $('.scroller-left-1').click(function () {
                $('.scroller-right-1').fadeIn('slow');
                if (-parseInt($('#tab-list').css('left')) > $('.portfolio-tabs').innerWidth()) {
                  $left = -$('.portfolio-tabs').innerWidth();
                } else {
                  $left = parseInt($('#tab-list').css('left'));
                  $('.scroller-left-1').fadeOut('slow');
                }
                $('#tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
              });
            }
          
            $(document).on("click", ".savemodelportfolio", function () {
              var date = new Date();
              $(".nameModal").click();
              $('.responsemsg').html("");
              var portfolioName =  $("#tab-list li.active").text().trim();
              document.getElementById("originalportfolio").value = portfolioName;
              var appendString = date.getDate()+""+(parseInt(date.getMonth())+1);
              var newPortfolioName = portfolioName+"_"+appendString;
              document.getElementById("newportfolio").value = newPortfolioName;
              $(".saveport").click(function () {
          $('.saveload').fadeIn();

              var finalportfolioName = document.getElementById("newportfolio").value;
              $.ajax({
                    url: "{% url 'customermodelportfolioadding' %}",
                    type: 'post',
                    data:{'newportfolioname':finalportfolioName, 'originalportfolioname':portfolioName},
                    dataType : 'json',
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    success: function(response) {
                      if (response.status) {
                        $('.saveload').fadeOut();
                        $('.responsemsg').css('color', 'green');
                        $('.responsemsg').html(response.msg);
                        localStorage.setItem("{{username}}", response.portfolioname);
                        setTimeout(function () {
                          $(".closeport").click();
                          location.href = "{% url 'indexpage' %}";
                        }, 1000);
                      } else {
                        $('.saveload').fadeOut();
                        $('.responsemsg').css('color', 'red');
                        $('.responsemsg').html(response.msg);
                      }
                    },
                    error: function(json) {console.log("Error detected while adding portfolio");}
            })});});
    $("body").css({visibility:'visible'});

        </script>
</html> 
{% endblock %}