{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<html>
  <head>
    <title>Blogs - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/blogs_home.css' %}?v=1.2">
  </head>
  <body>
      <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="site-contentnbt single-site-contentnbt mg-t-50" id="contentnbt">
                <div class="content-areanbt" id="primarynbt">
                    <div class="site-mainnbt" id="mainnbt" role="main">
                        <div class="mainblogsec section" id="mainblogsec">
                            <div class="widget Blog" data-version="1" id="Blog1">
                                <div class="blog-posts hfeed">
                                    <div class="date-outer">
                                        <div class="date-posts">
                                            <div class="post-outer">
                                                <article class="post hentry" itemprop="blogPost" itemscope="itemscope">
                                                    <header class="entry-header">
                                                        <h3 class="post-title entry-title" itemprop="name">
                                                            {{ page.title }}
                                                        </h3>
                                                        <footer class="entry-footernbt">
                                                            <div class="entry-metanbt">
                                                                Posted on <span class="">{{ page.posted_at|date:"d-M-Y h:i A" }}</span>
                                                            </div>
                                                        </footer>
                                                    </header>
                                                    <div class="post-header-line-1"></div>
                                                    <div class="post-body entry-content" id="post-body-8603357260827555065"
                                                        itemprop="articleBody">
                                                        <div class="col-sm-12">
                                                            {% image page.image max-300x300 as temp_image %}
                                                            <img src="{{ temp_image.url }}" alt="No image available" width="300px" height="300px" class="img-fluid img-responsive" />
                                                        
                                                        </div>
                                                        <div id="summary8603357260827555065">
                                                               
                                                                <div class="text-justify mg-t-20 blog-body">
                                                                {{ page.body }}
                                                            </div>
                                                        </div>
                                                        <div style="clear: both;"></div>
                                                    </div>
                                                    
                                                    <div class="pbtsharethisbutt">
                                                        <ul class="pbt-social-icons">
                                                            <li class="Share-this-arti">Share This:&nbsp;&nbsp;</li>
                                                            <li class="pbtfacebook">
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{document.get_url}}"
                                                                rel="noopener" target="_blank">
                                                                    <i class="fa fa-facebook-square"></i>&nbsp;Facebook</a>
                                                            </li>
                                                            <li class="pbttwitter">
                                                                <a href="https://twitter.com/intent/tweet?url={{document.get_url}}" rel="noopener" target="_blank">
                                                                    <i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
                                                            </li>
                                                           
                                                            <li class="pbtlinkedin">
                                                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{document.get_url}}"
                                                                    rel="noopener" target="_blank">
                                                                    <i class="fa fa-linkedin-square"></i>&nbsp;Linkedin</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </article>
                                                <div style="clear: both;"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--Can't find substitution for tag [adEnd]-->
                                </div>
                            </div>
                        </div>
                    </div><!-- #main -->
                </div>
            </div>
        </div>
      </div>
  </body>
  <script>
      $(".blog-body img").addClass("my-auto img-fluid img-responsive")
    $("body").css({
      visibility: 'visible'
    });
  </script>

</html>
{% endblock %}