{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
  <head>
    <title>Blogs - 72PI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0">
    <link rel="stylesheet" href="{% static 'css/blogs_home.css' %}?v=1.0">
  </head>
  <body>
      <div class="col-lg-12 section-gap">
        <div class="row">
            <div class="site-contentnbt single-site-contentnbt mg-t-50" id="contentnbt">
                <div class="content-areanbt" id="primarynbt">
                    <div class="site-mainnbt" id="mainnbt" role="main">
                        <div class="mainblogsec section" id="mainblogsec">
                            <div class="widget Blog" data-version="1" id="Blog1">
                                <div class="blog-posts hfeed">
                                    <!--Can't find substitution for tag [defaultAdStart]-->
                                    <div class="date-outer">
                                        <div class="date-posts">
                                            <div class="post-outer">
                                                <article class="post hentry" itemprop="blogPost" itemscope="itemscope"
                                                    itemtype="http://schema.org/BlogPosting">
                                                    <meta
                                                        content="http://1.bp.blogspot.com/-v8zWdibSlLg/U5J9pHU13zI/AAAAAAAAKEw/WkX-S4BehRw/s1600/postimg-1.jpg"
                                                        itemprop="image">
                                                    <a name="8603357260827555065"></a>
                                                    <header class="entry-header">
                                                        <h3 class="post-title entry-title" itemprop="name">
                                                            Is S&P 500 over-extended?
                                                        </h3>
                                                        <footer class="entry-footernbt">
                                                            <div class="entry-metanbt">
                                                                Posted on <span class="">Monday, December 14 2020</span>
                                                            </div>
                                                        </footer>
                                                    </header>
                                                    <div class="post-header-line-1"></div>
                                                    <div class="post-body entry-content" id="post-body-8603357260827555065"
                                                        itemprop="articleBody">
                                                        <div id="summary8603357260827555065">
                                                            <img
                                                                src="{% static 'images/blog1.png' %}"
                                                                class="pbtthumbimg">
                                                            <div class="text-justify">
                                                                <p>
                                                                    Shiller PE Ratio of S&P 500 for the last 10 years,
                                                                    which is calculated as the price of the S&P 500
                                                                    index divided by the average inflation-adjusted
                                                                    earnings of the previous 10 years, is show in the
                                                                    chart. The Shiller PE ratio is also known as the
                                                                    cyclically adjusted price-to-earnings (CAPE) ratio
                                                                    or the P/E 10 ratio. The CAPE ratio is typically
                                                                    used to gauge whether the market is overpriced or
                                                                    undervalued. In the last 5 years, S&P 500 has
                                                                    rallied after trading close to 24x and has corrected
                                                                    after trading close to 34x.
                                                                </p>
                                                                <p>
                                                                    Currently Shiller PE ratio of S&P 500 is at 33.5x,
                                                                    as on Dec 1st 2020. Historically, the Shiller PE
                                                                    ratio was above 30x in only 3 occasions- (i) before
                                                                    the Wall Street crash of 1929 (ii) 44.2x during the
                                                                    dotcom era of the late 1990s and (iii) 33x in
                                                                    January 2018. In all three occasions, it was
                                                                    followed by a correction. When the Shiller PE ratio
                                                                    is high, long-term returns are expected to be lower
                                                                    for the next ten years, and vice versa. But higher
                                                                    Shiller PE ratio may also imply strong earnings
                                                                    outlook.
                                                                </p>
                                                                <p>
                                                                    Market scaled to new highs on vaccine news, stimulus
                                                                    measures, US Presidential election results and also
                                                                    V-shaped recovery narrative. Consumer discretionary,
                                                                    communication and Technology stocks were the focus
                                                                    plays during the COVID-19 pandemic. Lower interest
                                                                    rates and easing monetary policies are also the key
                                                                    factors in stock market outperformance. The Fed has
                                                                    pledged to keep lower interest rates till the
                                                                    inflation picks up. Economist expect interest rates
                                                                    to remain near zero till 2023.
                                                                </p>
                                                                <p>
                                                                    S&P 500 valuations are extended at current levels on
                                                                    the back of negative real rates, expectations of
                                                                    economic
                                                                    recovery and a weak dollar. Active investors may
                                                                    therefore consider taking some profits off the
                                                                    table, keep tight
                                                                    trailing stops over the next 30-60 days and rotate
                                                                    out into the relatively stable or cheaper valued
                                                                    stocks of the
                                                                    market.
                                                                </p>
                                                                <p>Invest like a Pro with 72pi, www.72pi.ai</p>


                                                            </div>
                                                        </div>
                                                        <div style="clear: both;"></div>
                                                    </div>
                                                    
                                                    <div class="pbtsharethisbutt">
                                                        <ul class="pbt-social-icons">
                                                            <li class="Share-this-arti">Share This:&nbsp;&nbsp;</li>
                                                            <li class="pbtfacebook">
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%252FlWJktz3n6G8UbKA%253D%253D"
                                                                rel="noopener" target="_blank">
                                                                    <i class="fa fa-facebook-square"></i>&nbsp;Facebook</a>
                                                            </li>
                                                            <li class="pbttwitter">
                                                                <a href="https://twitter.com/intent/tweet?url=https://www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%2FlWJktz3n6G8UbKA%3D%3D" rel="noopener" target="_blank">
                                                                    <i class="fa fa-twitter-square"></i>&nbsp;Twitter</a>
                                                            </li>
                                                            <li class="pbtinsta">
                                                                   <a href="https://www.instagram.com/p/https://www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%2FlWJktz3n6G8UbKA%3D%3D"
                                                                    rel="nofollow" target="_blank" title="Tweet This!"><i
                                                                        class="fa fa-instagram"></i>&nbsp;Instagram</a>
                                                            </li>
                                                            <li class="pbtlinkedin">
                                                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%2FlWJktz3n6G8UbKA%3D%3D"
                                                                    rel="noopener" target="_blank">
                                                                    <i class="fa fa-linkedin-square"></i>&nbsp;Linkedin</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </article>
                                                <div style="clear: both;"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--Can't find substitution for tag [adEnd]-->
                                </div>
                            </div>
                        </div>
                    </div><!-- #main -->
                </div>
                <div class="widget-areanbt" id="secondarynbt" role="complementary">
                    <div class="widget widget_searchnbt">
                        <div class="social-buttonsnbt">
                            <a href="https://www.facebook.com/72pisignals/" target="_blank" rel="nofollow" class="fb-a"><i class="fa fa-facebook-square"></i></a>
                            <a href="https://twitter.com/72pisignals" target="_blank" rel="nofollow" class="twitt-a"><i class="fa fa-twitter-square"></i>
                            <a href="https://www.instagram.com/72pisignals/" target="_blank" rel="nofollow" class="insta-a"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/72pi/" target="_blank" rel="nofollow" class="linkedin-a"><i class="fa fa-linkedin-square"></i></a>
                            <a href="https://www.youtube.com/channel/UCGKP2GoOr2RTMpe9cPwr7WA" target="_blank" rel="nofollow" class="youtube-a"><i class="fa fa-youtube-square"></i></a>
                        </div>
                        <form action="/search" class="search-formnbt" method="get" role="search">
                            <label>
                                <span class="screen-reader-textnbt">Search for:</span>
                                <input class="search-fieldnbt" name="q" placeholder="Search..." title="Search for:"
                                    type="search" value="">
                            </label>
                            <input class="search-submitnbt screen-reader-textnbt" type="submit" value="Search">
                        </form>
                    </div>
                    <div class="sidebarrightnbt section" id="sidebarrightnbt">
                        <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
                            <h2>Popular Posts</h2>
                            <div class="widget-content popular-posts">
                                <ul>
                                    <li>
                                        <div class="item-thumbnail-only">
                                            <div class="item-thumbnail">
                                                <a href="https://www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%2FlWJktz3n6G8UbKA%3D%3D"
                                                    target="_blank">
                                                    <img src="{% static 'images/blog1.png' %}" alt="" border="0" width=72 height=72>
                                                </a>
                                            </div>
                                            <div class="item-title"><a
                                                    href="https://www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%2FlWJktz3n6G8UbKA%3D%3D" target="_blank">Is S&P 500 over-extended?</a></div>
                                        </div>
                                        <div style="clear: both;"></div>
                                    </li>
                                   
                                </ul>
                                <div class="clear"></div>
                                <span class="widget-item-control">
                                    <span class="item-control blog-admin">
                                        <a class="quickedit"
                                            href="//www.blogger.com/rearrange?blogID=3145327400099409187&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=sidebarrightnbt"
                                            onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));"
                                            rel="nofollow" target="configPopularPosts1" title="Edit">
                                            <img alt="" height="18"
                                                src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                        </a>
                                    </span>
                                </span>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="widget HTML" data-version="1" id="HTML1">
                            <h2 class="title">Recent Posts</h2>
                            <div class="widget-content">
                                <script>
                                    var numposts = 5;
                                    var showpostdate = false;
                                    var showpostsummary = false;
                                    var numchars = 100;
                                </script>
                                <script
                                    src="//stock-nbt.blogspot.com/feeds/posts/default?orderby=published&amp;alt=json-in-script&amp;callback=rp">
                                </script>
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/pulse/sp-500-over-extended-suresh-raju/?trackingId=k3tn6e%2FlWJktz3n6G8UbKA%3D%3D"
                                        target="_blank">
                                            Is S&P 500 over-extended?
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                    <a class="quickedit"
                                        href="//www.blogger.com/rearrange?blogID=3145327400099409187&amp;widgetType=HTML&amp;widgetId=HTML1&amp;action=editWidget&amp;sectionId=sidebarrightnbt"
                                        onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML1&quot;));"
                                        rel="nofollow" target="configHTML1" title="Edit">
                                        <img alt="" height="18"
                                            src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                    </a>
                                </span>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div><!-- #secondary -->
            </div>
        </div>
      </div>
  </body>
  <script>
    $("body").css({
      visibility: 'visible'
    })
  </script>

</html>
{% endblock %}