{% extends "base.html" %}
{% load wagtailimages_tags %}
{% block content %}
    <head>
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <style>
            body{background-color:transparent !important;visibility:visible!important;line-height:1.8em}.rich-text p,.rich-text ul li{color:#383838 !important;text-align:justify !important;font-weight:400 !important}.title{color:#252729 !important}.posted{color:#999 !important;font-size:10px !important}.analytics-header,.signals-header,.stocklist{display:none}.subnav-content{display:none !important}@media only screen and (max-width:992px){.newsdiv.section-gap{padding:60px 0 !important}.newsdiv.container{max-width:920px !important}.newsdiv .rich-text p{text-align:justify !important}}@media only screen and (max-width:600px){.newsdiv h1{font-size:30px !important}}@media only screen and (max-width:450px){.newsdiv h1{font-size:25px !important}.newsdiv{margin-top:50px !important}}
        </style>

    </head>
    <body>
        <div class="container section-gap mg-t-50 newsdiv">
            <div class="cards">
                <div class="card-body">
                    <div class="columns">
                        <div class="column col-12">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h1 class="title">
                                        {{ page.title }}
                                    </h1>
                                    <div class="posted text-italic">{{ page.posted_at|date:"d-M-Y h:i A" }}</div>
                                </div>
                                <div class="col-sm-4">{% image page.image max-300x300 as temp_image %}
                                    <img src="{{ temp_image.url }}" alt="No image available" width="300px" height="300px" class="img-fluid img-responsive" />
                                </div>
                            </div>
                        </div>
                        <div class="column col-12">
                            <p class="newscontent text-justify mg-t-20 text-muted">{{ page.body }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    
{% endblock %}