{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
	<title>Offbeat - 72PI</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <script src="{% static 'js/table_sort.js' %}"></script>
  
    <link rel="stylesheet" href="{% static 'css/OffStreetBeat.css' %}?v=1.2">

  </head>
	<body>

        <div class="col-lg-12 section-gap main offbeatdiv" >
            <div class="text-center mg-b-20 mg-t-0">
                <h2 style="font-size:40px">OffBeat</h2>
            </div>
            <div class="card">
               <div class="card-body">
                <div class="row mg-t-20 section5">
                    {% for beat in beats %}
                    <div class="col-sm-4 groups"  >
                        <div>
                          <div class="card-body" style="padding-bottom:2px;padding-top:10px;" >
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center">
                                            {% image beat.image fill-550x350 as tmp_image %}
                                        <img src="{{ tmp_image.url }}" alt="No image is available" width="550px" height="350px" class="img-fluid img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mg-t-5" >
                                        <div class="newscontent text-justify" >
                                            {% if beat.reference %}
                                            <a href="{{beat.get_reference_url}}" target="_blank" ><h4 class="mg-t-20">{{beat.title}}</h4></a>
                                            {% else %}
                                            <a href="{{beat.get_url}}" target="_blank" ><h4 class="mg-t-20">{{beat.title}}</h4></a></h1>
                                            {% endif %}
                                            <div class="content text-muted mg-t-10">
                                                {{beat.short_description}}
                                                {% if beat.reference %}
                                                <a href="{{beat.get_reference_url}}" target="_blank"><label  class="readmore">See more...</label></a>
                                                {% else %}
                                                <a href="{{beat.get_url}}" target="_blank"><label  class="readmore">See more...</label></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                  
                                </div>
                            <div class="mg-t-5 mg-b-0 posted tx-10 text-italic">Posted at: {{ beat.posted_at }}</div>
                            </div>
                        </div>          
                    </div>
                    {% endfor %} 
                </div>
               </div>
            </div>
            <!-- <button class="showmore mg-l-20 mg-t-20"><a href="javascript:void();" id="load-more">SHOW MORE</a></button> -->
            </div>
            <script>
              
                            //blur the background display modal for gold user
        // $('.goldrestrict').click(function(){
        //     var usertype='golduser';
         
        //     if(usertype=='golduser')
        //     {
        //         $('#diamondmodal').modal('show');
                
        //     }
        //     else{
        //         if($(this).text()=='Portfolios')
        //             $(this).attr('href',"{% url 'ModelPortfolio' %}")
        //         else
        //             $(this).attr('href',"{% url 'AIMLSignals' %}")

        //     }
        // })
        // var modalStartLocation;

        // $(document).on('show.bs.modal', function(e) {
        // var modal = $(e.target);
        // modalStartLocation = modal.parent();
        // modal.appendTo('body');
        
        // $('body').addClass('modal-is-open');
        // });

        // $(document).on('hidden.bs.modal', function(e) {
        // var modal = $(e.target);
        // modal.appendTo(modalStartLocation);
        // $('body').removeClass('modal-is-open');
        // });
        // //End of the blur the background display modal for gold user
        //         var $group = $('.group');
        //         $hidden =$group.filter(':hidden:first').addClass('active');
        //         var $hidden = $group.filter(':hidden:first').addClass('active');
        //         var $hidden =$group.filter(':hidden:first').addClass('active');
        //         var $hidden =$group.filter(':hidden:first').addClass('active');
        //         var $hidden =$group.filter(':hidden:first').addClass('active');
        //         if (!$hidden.next('.group').length) {
        //                   $('#load-more').addClass('disable');
        //               }
        //           $("#load-more").click(function() {
        //               if ($(this).hasClass('disable')) return false;
        //               var $hidden = $group.filter(':hidden:first').addClass('active');
        //               var $hidden = $group.filter(':hidden:first').addClass('active');
        //               var $hidden = $group.filter(':hidden:first').addClass('active');
        //               if (!$hidden.next('.group').length) {
        //                   $(this).addClass('disable');
        //               }
        //           });
    $("body").css({visibility:'visible'});
                  
            </script>   
           
  </body>
   
</html> 
{% endblock %}