{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
      <title>72PI Portfolio - 72PI</title>
      <meta name="keywords" content="72piPortfolio, portfolio, 72PIPortfoliostocks, portfoliostocks, 72PIstocks, 72PIselectedstocks 72PIPortfolioshortnotes, portfolioshortnotes, 72PIshortnotes, shortnotes 72PIsituationalanalysis, stocksituationanalysis "/>
      <meta name="description" content="A portfolio of stocks selected using fundamental, quantitative, technical and situational analysis from the NSE 500, along with a short notes of our view on the selected stocks" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
      <link rel="stylesheet" href="{% static 'css/ourmarketview.css' %}?v=1.2">
  </head>
	<body>
       
        <div class="col-lg-12 section-gap main tradesignalsdiv market-view-div">
                <div class="row page-title  mg-t-20">
                    <div class="col-sm-6">
                        <p class="text-white tx-20">
                            <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> 72PI Portfolio <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            <a href="{% url 'ourMarketView' %}" class="nav-sub-link">Our Market View</a>
                        </p>
                        
                    </div>
                    <div class="col-sm-6 text-right description_btn">
                        <button>How to Use this Page ?</button>
                    </div>
                </div>  
                <div class="disclaimer-text">
                    <p class="text-italic">
                        Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                    </p>
                </div> 
               
                   
                   
                
                <div class="row mg-t-20  mg-sm-t-5 mg-lg-t-0">
                    <div class="col-lg-12">
                        <div class="card   mg-t-5">
                            <div class="card-header">
                                <h3 class="mg-b-10 mg-l-20 text-center"><label>Our Market View</label></h3>
                            </div>
                            <div class="card-body points">
                                <div class="scroller scroller-left-1"><i class="fa fa-chevron-left"></i></div>
                                <div class="scroller scroller-right-1"><i class="fa fa-chevron-right"></i></div>
                                <div class="row">
                                    <div class="col-md-12 portfolio-tabs">
                                        <ul id="tab-list" class="nav nav-tabs" role="tablist">
                                        </ul>
                                        {% for month in months %}
                                        <script>
                                            $('#tab-list').append($('<li><a href="javascript:void(0)" role="tab" data-toggle="tab"><span> {{month}} </span> </a></li>'));
                                        </script>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="months_div" class="pd-l-10">
                                    {% for point in points %}
        
                                    <div id="{{point.title}}">
                                        {{point.body}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            
        </div>
    </div>
    <div id="description" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <h3 class="modal-title mg-t-10 text-center"><label>Our Market View</label></h3>
          <div class="modal-body">
              <p>Our Market View is a concise report that details the current market sentiment based on macro factors, technical indicators, sector momentum and other indicators. It discusses about current market themes, the key sectors to focus on, portfolio allocation and crucial levels of NIFTY 50 for the next month. Macro indicators like Gold, Interest rates, US$/INR and Oil and their impact on Indian stock market. Key drivers of the stock market and events of the upcoming month are listed out. It is updated twice every 15 days. </p>
          </div>
          <div class="modal-footer">
          <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
          </div>
        </div>
        </div>
    </div>
  </body>
  
    <script>
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
       $(document).ready(function () {
        $("#months_div").find(".block-description").contents().unwrap();
        $("#months_div").find(".rich-text").contents().unwrap();


        $("#tab-list li").eq(0).addClass("active");
        var tabvalue = ($("#tab-list li.active").text().trim());

        $('#months_div').children().hide();
        $('#' + tabvalue).show();
    })

    $('#tab-list li ').click(function () {
        $('#tab-list li').removeClass('active')
        $(this).addClass('active');
        $('#months_div').children().hide();
        $('#' + $(this).text().trim()).show();
    })
    
    tabsScrolling();
    function tabsScrolling() {

        var hidWidth;
        var scrollBarWidths = 40;
        var scrollSpeed = 600;
        var widthOfList = function () {
            var itemsWidth = 0;
            $('.points  #tab-list li').each(function () {
                var itemWidth = $(this).outerWidth();

                itemsWidth += itemWidth;
            });

            return itemsWidth;
        };


        var widthOfHidden = function () {
            return (($('.points  .portfolio-tabs').outerWidth()) - widthOfList() - getLeftPosi()) - scrollBarWidths;
        };

        var getLeftPosi = function () {

            return $('.points #tab-list').position().left;
        };

        var reAdjust = function () {
            if (($('.points  .portfolio-tabs').outerWidth()) < widthOfList()) {
                $('.scroller-right-1').show();
            }
            else {
                $('.scroller-right-1').hide();
            }

            if (getLeftPosi() < 0) {
                $('.scroller-left-1').show();
            }
            else {
                $('.item').animate({ left: "-=" + getLeftPosi() + "px" }, scrollSpeed);
                $('.scroller-left-1').hide();
            }
        }

        reAdjust();

        $(window).on('resize', function (e) {
            reAdjust();
        });

        $('.scroller-right-1').click(function () {

            $('.scroller-left-1').fadeIn('slow');

            $remained = $('.points  #tab-list').width() - $('.points .portfolio-tabs').width() + parseInt($('.points #tab-list').css('left'));
            if (widthOfList() < $('.points .portfolio-tabs').width() - parseInt($('.points #tab-list').css('left'))) {
                $('.scroller-right-1').fadeOut('slow');
            }
            else {
                if ($remained >= $('.points .portfolio-tabs').innerWidth()) {
                    $left = $('.points .portfolio-tabs').innerWidth();
                } else {
                    $left = $remained;
                    $('.scroller-right-1').fadeOut('slow');
                }

                $('.points #tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
            }
        });

        $('.scroller-left-1').click(function () {

            $('.scroller-right-1').fadeIn('slow');


            if (-parseInt($('.points #tab-list').css('left')) > $('.points .portfolio-tabs').innerWidth()) {
                $left = -$('.points .portfolio-tabs').innerWidth();
            } else {
                $left = parseInt($('.points #tab-list').css('left'));
                $('.scroller-left-1').fadeOut('slow');
            }

            $('.points  #tab-list').animate({ left: "-=" + $left + "px" }, scrollSpeed);
        });


    }
    $("body").css({visibility:'visible'});
 
    </script>
</html> 
{% endblock %}