{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />  
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>72PI Portfolio Performance - 72PI</title>
    <meta name="keywords" content="72PIperformance, 72piportfolioallocation, portfolioallocation, 72piportfolioskew, portfolioskew, 72piportfoliohitrate, portfoliohitrate, 72piportfolioholdings, portfolioholdings, 72piportfoliotransaction, portfoliotransaction, 72piportfoliodetails, portfoliodetails, 72piportfoliohighlights, portfoliohighlights"/>
    <meta name="description" content="It analyses the performance of the 72PI portfolio stocks against benchmark indices. It also shows skew, allocation, transaction and current holdings of the portfolio" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
    <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
    <script src="{% static 'js/table_sort.js' %}"></script>
    <script src="{% static 'js/table_sort2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ourperformance.css' %}?v=1.2">

</head>

<body>
  
    <div class="col-lg-12 section-gap ourperformance">
        <div class="row performancediv">
            <div class="col-lg-12">
                <div class="row page-title mg-t-40">
                    <div class="col-sm-6">
                        <p class="text-white tx-20">
                            <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                            <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> 72PI Portfolio <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                            <a href="{% url 'SignalsPerformance' %}" class="nav-sub-link">Our Performance</a>
                        </p>
                    </div>
                    <div class="row col-sm-6 justify-content-end">
                        <div class="description_btn">
                            <button>How to Use this Page ?</button>
                        </div>
                        <div class="banner-btn mg-l-5">
                            <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                                aria-hidden="true">
                            </i></a>
                        </div>
                    </div>
                </div> 
                <div id="videoModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <iframe id="video-div" height="350" src="https://www.youtube.com/embed/OJOi8VPOlVw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="disclaimer-text">
                    <p class="text-italic">
                        Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                    </p>
                </div>
                <div class="card pd-b-10 pd-l-10 pd-r-10 mg-t-10">
                    <div class="">
                        <div class="card-header">
                            <h4 class="card-title text-center"><label id="perf_head"></label></h4>
                        </div>
                        <div class="card-body  pd-b-10">
                            <div class="mg-t-0">
                                <div class="table-responsive pd-t-10 pd-b-20">
                                    <table class="table table-borderless first-table">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td><h4 class="m-b-0 card-title">Portfolio</h4></td>
                                                <td><h4 class="m-b-0 card-title">{{Index_Ticker1|safe}}</h4></td>
                                                <td><h4 class="m-b-0 card-title">{{Index_Ticker2|safe}}</h4></td>
                                                <td><h4 class="m-b-0 card-title">{{Index_Ticker3|safe}}</h4></td>
                                            </tr>
                                            <tr>
                                                <td><h4 class="f-w-700 text-c-blue mg-t-5 india_date">Since 01-Jun-2020</h4>
                                                    <h4 class="f-w-700 text-c-blue mg-t-5 us_date">Since 01-Oct-2020</h4></td>
                                                <td><h3 class="f-w-700 text-c-blue top_portfolio mg-t-5"></h3></td>
                                                <td><h3 class="f-w-700 text-c-blue top_nifty50 mg-t-5"></h3></td>
                                                <td><h3 class="f-w-700 text-c-blue top_niftymidcap mg-t-5"></h3></td>
                                                <td><h3 class="f-w-700 text-c-blue top_niftysmallcap mg-t-5"></h3></td>
                                            </tr>
                                            <tr>
                                                <td><h4 class="f-w-700 text-c-blue mg-t-5 mtd_date"></h4></td>
                                                <td><h3 class="f-w-700 text-c-blue bottom_portfolio mg-t-5"></h3></td>
                                                <td><h3 class="f-w-700 text-c-blue bottom_nifty50 mg-t-5"></h3></td>
                                                <td><h3 class="f-w-700 text-c-blue bottom_niftymidcap mg-t-5"></h3></td>
                                                <td><h3 class="f-w-700 text-c-blue bottom_niftysmallcap mg-t-5"></h3></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                              
                        </div>
                    </div>
                    </div>
                   
                </div> 
                

                <div class="card mg-t-20">
                    <div class="card-header">
                        <h4 class="card-title text-center india-table-div"><label>Performance Hit rate of 72PI from 01-Jun-2020 to 30-Nov-2020</label></h4>
                        <h4 class="card-title text-center us-table-div"><label>Performance Hit rate of 72PI from 01-Oct-2020 to 30-Nov-2020</label></h4>
                        
                    </div>
                    <div class="card-body">
                        <h6 class="mg-t-5">In the spirit of transparency, performance of 72PI on all the signals issued is given below</h6>
                        <div class="table-responsive mg-t-20 india-table-div">
                            <table class="table unselectable win_gain">
                                <thead>
                                    <th></th>
                                    <th>#of Signals Issued</th>
                                    <th>Win(%)</th>
                                    <th>Average Gain % per Signal</th>
                                    <th>Average Loss % per Signal</th>
                                    <th>Overall Gain % / Loss % per Signal</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>BUY</td>
                                        <td>43</td>
                                        <td>86%</td>
                                        <td>29.0%</td>
                                        <td>-7.6%</td>
                                        <td>45.33%</td>
                                    </tr>
                                    <tr>
                                        <td>SELL</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>43</td>
                                        <td class="alert-warning">86%</td>
                                        <td>29.0%</td>
                                        <td>-7.6%</td>
                                        <td class="alert-warning">45.33%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive mg-t-20 us-table-div">
                            <table class="table unselectable win_gain">
                                <thead>
                                    <th></th>
                                    <th>#of Signals Issued</th>
                                    <th>Win(%)</th>
                                    <th>Average Gain % per Signal</th>
                                    <th>Average Loss % per Signal</th>
                                    <th>Overall Gain % / Loss % per Signal</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>BUY</td>
                                        <td>20</td>
                                        <td>55%</td>
                                        <td>15.4%</td>
                                        <td>-2.9%</td>
                                        <td>1.35%</td>
                                    </tr>
                                    <tr>
                                        <td>SELL</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>20</td>
                                        <td class="alert-warning">55%</td>
                                        <td>15.4%</td>
                                        <td>-2.9%</td>
                                        <td class="alert-warning">1.35%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row dashboardsdiv mg-t-20 mg-sm-t-20 mg-lg-t-20">
            <div class="col-lg-12">
               <div class="card">
                <div class="card-header">
                    <h4 class="card-title text-center"><label>72PI Portfolio Details</label></h4>
                </div>
                   <div class="card-body">
                    <div class="row section1">
                        <div id="Portfolio_Returns"></div>
                    </div>
                    <div class="row section2 mg-t-20">
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section2_graph1">
                            <div class="card" >
                                <div class="card-body">
                                    <div class="pd-t-15 pd-b-10">
                                    <strong class="sub-title">Equity Valuation :</strong>
                                    <strong class="float-right eqval"></strong>
                                    </div>
                                    <hr/>
                                    <div class="pd-t-10 pd-b-15">
                                        <strong class="sub-title">Equity Investment :</strong>
                                        <strong class="float-right eqinvstmnt"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section2_graph2">
                            <div class="card" >
                                <div class="card-body" >
                                    <div class="pd-t-15 pd-b-10">
                                        <strong class="sub-title">Profit/Loss (Unrealized) :</strong>
                                        <strong class="float-right pnl"></strong>
                                    </div>
                                    <hr/>
                                    <div class="pd-t-10 pd-b-15">
                                        <strong class="sub-title">Profit/Loss- Day's (Unrealized) :</strong>
                                        <strong class="float-right daypnl"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section2_graph3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="sub-title col-sm-4" style="padding:8px 20px">Max Gainer :</div>
                                        <div class="text-right col-sm-8">
                                            <div class="gainer text-success company col-sm-12 "></div>
                                            <div class="gainer_price col-sm-12 "></div>
                   
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="sub-title col-sm-4" style="padding:10px 20px">Max Loser :</div>
                                        <div class="text-right col-sm-8">
                                            <div class="loser text-danger company col-sm-12 "></div>
                                            <div class="loser_price col-sm-12 "></div>
                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-20 section3">
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section3_graph1">
                            <div class="card" >
                                <div class="card-header">
                                    <button class="allocation btn"><label class="active">Allocation</label></button>
                                    <button class="cashflow btn"><label>Equity Cash Flow</label></button>
                                </div>
                                <div class="card-body mg-t-0 pd-t-0" id="piechart" >
                                </div>
                                <div class="card-body" id="combination" style="display:none">
                                </div>          
        
                            </div>
                        </div>
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 section3_graph2">
                            <div class="card pd-b-50">
                                <div class="card-header">
                                    <h5><label>My Stock Performance</label></h5>
                                </div>
                                <div class="card-body pd-t-50" id="barchart">
                                        
                                </div> 
                            </div>
                        </div> 
                        <div class="col-sm-4 mg-t-20 mg-sm-t-20 mg-lg-t-0 sub-section3 section3_graph3">
                            <div class="card">
                                <div class="card-header">
                                    <h5><label>Portfolio Highlights</label></h5>
                                </div>
                                <div class="card-body pd-t-30 pd-r-0 pd-b-50">
                                    <div class="col-sm-12 row mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Cash :</strong>
                                        <strong class="cash_pl col-sm-6 pd-r-0 pd-l-0"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-t-20  mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Realized P/L :</strong>
                                        <strong class="realized_pl col-sm-6 pd-r-0 pd-l-0"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-t-20 mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Top Exposure :</strong>
                                        <strong class="top_exposure col-sm-6 pd-r-0 pd-l-0 text-success"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-t-20 mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Most Profitable Security(unrealized) :</strong>
                                        <strong class="col-sm-6 most_profit text-success pd-r-0 pd-l-0"></strong>
                                    </div>
                                    <div class="col-sm-12 row mg-t-20 mg-l-0 mg-r-0 pd-r-0 pd-l-0">
                                        <strong class="sub-title col-sm-6 pd-r-0 pd-l-0">Least Profitable Security(unrealized) :</strong>
                                        <strong class="col-sm-6 least_profit text-danger pd-r-0 pd-l-0"></strong>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    {% if table_data %}
                    <div class="mg-t-20 section4">
                        <div class="view">
                            <div class="card-header">
                                <h4 class="card-title text-center"><label>Portfolio Current Holdings</label></h4>
                            </div>
                            <div class="wrapper">
                                <table class="table unselectable cardtable sortable ac_cl">
                                    <thead id="thead3">
                                        <th class="stikcy-col first-col">Company name</th>
                                        <th class="non-sticky">Qty</th>
                            
                                        <th class="non-sticky">Investment Amount({{symbol|safe}})</th>
                              
                                        <th class="non-sticky">Current Market value({{symbol|safe}})</th>
                                        <th class="non-sticky">%Gain/Loss</th>
                                        <th class="non-sticky">Profit/Loss({{symbol|safe}})</th>
                                       

                                    </thead>
                                    <tbody id="tbody3">
        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                   </div>
               </div>
            </div>
        </div>
        {% if transaction_table_data %}
        <div class="row transactionsdiv  mg-t-20 mg-sm-t-20 mg-lg-t-20">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center"><label>72PI Model Portfolio Transactions</label></h4>
                    </div>
                    <div class="" style="height:55vh">
                        <div class="card-body pd-t-0 pd-r-0 table-responsive transactiontable scroll-div" >
                            <table class="table unselectable" id="indextable" >
                                <thead id="thead">
                                    <tr><th class="sticky-col first-col"  onClick="SortTable(0,'T')">Company Name <i class="fa fa-fw fa-sort"></i></th>
                                        <th class="non-sticky" onClick="SortTable(1,'D','dmy')">Date <i class="fa fa-fw fa-sort"></i></th>
                                        <th class="non-sticky" onClick="SortTable(2,'T')">Action <i class="fa fa-fw fa-sort"></i></th>
                                        <th class="non-sticky" onClick="SortTable(3,'N')">Qty <i class="fa fa-fw fa-sort"></i></th>
                                        <th class="non-sticky" onClick="SortTable(4,'N')">Transaction Price({{symbol|safe}}) <i class="fa fa-fw fa-sort"></i></th>
                                        <th class="non-sticky" onClick="SortTable(5,'N')">Value Cost({{symbol|safe}}) <i class="fa fa-fw fa-sort"></i></th></tr>
                                </thead>
                                <tbody id="tbody">
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Our Performance</label></h3>
              <div class="modal-body">
          <p>72PI performance shows the performance of the Our (72PI) portfolio against benchmark indices Nifty 50, Nifty Midcap 100 and Nifty Smallcap 100. Performance Hit rate shows the number of stocks purchased, how many of them yielded positive returns and the average positive return. This skew table of all the signals issued helps in understanding the hit rate, along with average return of both the buy and sell signals. On a ₹ 50 lakh portfolio, investments are done using our signals; performance summary, allocation, current holdings, all the transaction details of this portfolio are provided to help in understanding the portfolio construction using our signals. </p>        
              </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
        {% endif %}
    </div>

<script src="https://code.highcharts.com/highcharts.js"></script>

    <script>
        $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
          function reformatDate(dateStr)
        {     
            var m = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
            dArr = dateStr.split("-"); 
            return dArr[2]+ "-" +m[parseInt(dArr[1], 10)-1]+ "-" +dArr[0]; 
        }
         if (localStorage.getItem('country-val') === "US") {
                $('.us_date').show();
                $('.india_date').hide();
                $('.us-table-div').show();
                $('.india-table-div').hide();
            }
            else {
                $('.us_date').hide();
                $('.india_date').show();
                $('.us-table-div').hide();
                $('.india-table-div').show();
            }
        if('{{symbol|safe}}'=='$')
        flag='en-US'
        else
        flag='hi-IN'
         $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        var $group = $('.group');

        $("#load-more").click(function () {

            if ($(this).hasClass('disable')) return false;

            var $hidden = $group.filter(':hidden:first').addClass('active');
            var $hidden = $group.filter(':hidden:first').addClass('active');
            var $hidden = $group.filter(':hidden:first').addClass('active');

            if (!$hidden.next('.group').length) {
                $(this).addClass('disable');
            }

        });
        var d = new Date();
        var month = new Array();
        month[0] = "Jan";
        month[1] = "Feb";
        month[2] = "Mar";
        month[3] = "Apr";
        month[4] = "May";
        month[5] = "Jun";
        month[6] = "Jul";
        month[7] = "Aug";
        month[8] = "Sep";
        month[9] = "Oct";
        month[10] = "Nov";
        month[11] = "Dec";
        var mtd_cumulative_returns={{mtd_cumulative_return|safe}}
      
        var date= reformatDate("{{mtd_date|safe}}");
        $('.mtd_date').html("Since "+date)
        var output_cumulative_return={{output_cumulative_return|safe}}
               
                graph(output_cumulative_return)
                $('.top_portfolio').html((output_cumulative_return[0]['data'][output_cumulative_return[0]['data'].length-1][1]*100).toFixed(1)+'%')
                $('.top_nifty50').html((output_cumulative_return[1]['data'][output_cumulative_return[0]['data'].length-1][1]*100).toFixed(1)+'%')
                $('.top_niftymidcap').html((output_cumulative_return[2]['data'][output_cumulative_return[0]['data'].length-1][1]*100).toFixed(1)+'%')
                $('.top_niftysmallcap').html((output_cumulative_return[3]['data'][output_cumulative_return[0]['data'].length-1][1]*100).toFixed(1)+'%')

                $('.bottom_portfolio').html((mtd_cumulative_returns[0]*100).toFixed(1)+'%')
                $('.bottom_nifty50').html((mtd_cumulative_returns[1]*100).toFixed(1)+'%')
                $('.bottom_niftymidcap').html((mtd_cumulative_returns[2]*100).toFixed(1)+'%')
                $('.bottom_niftysmallcap').html((mtd_cumulative_returns[3]*100).toFixed(1)+'%')
             
                your_pf_date=new Date(output_cumulative_return[0]['data'][output_cumulative_return[0]['data'].length-1][0])
                document.getElementById("perf_head").innerHTML="72PI Performance as of "+your_pf_date.getDate()+'-'+month[your_pf_date.getMonth()]+'-'+your_pf_date.getFullYear()
               
                add_color('.top_portfolio')
                add_color('.top_nifty50')
                add_color('.top_niftymidcap')
                add_color('.top_niftysmallcap')

                add_color('.bottom_portfolio')
                add_color('.bottom_nifty50')
                add_color('.bottom_niftymidcap')
                add_color('.bottom_niftysmallcap')

                function add_color(text_id)
                {
                    if(($(text_id).text())[0]=='-')
                        {
                            $(text_id).css('color','red');
                        }
                        else{
                            $(text_id).css('color','green');

                        }
                }
               
                function graph(output)
                {
                    var  graph_data=output
                    for(i=0;i<graph_data.length;i++)
                    {
                        for(j=0;j<graph_data[i]['data'].length;j++){
                            var temp=graph_data[i]['data'][j][0]
                            var date = new Date(temp)
                            var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                            date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                            graph_data[i]['data'][j][0]=now_utc;
                        }
                    } 
                    temp=graph_data
                        if(graph_data[0]['data'].length>0)
                        {
                            Highcharts.chart('Portfolio_Returns', {
                            chart: {
                                type: 'line',
                                backgroundColor:"transparent",
                               
                               
                            },
                            exporting: {
                                enabled: false,
                                fallbackToExportServer: false
                            },
                            title: {
                                    text: ' ',
                                    style: {
                                        color: '#1C273C',
                                        fontSize: '13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                credits: {
                                            enabled: false
                                        },
                                        exporting: {
                                            buttons: {
                                                contextButton: {
                                                enabled:false
                                                },
                                                
                                            }
                                        },
                            xAxis: {
                                type: 'datetime',
                                dateTimeLabelFormats: { // don't display the dummy year
                                    day:'%e-%b-%y',
                                    week:'%e-%b-%y',
                                    month: '%b-%y',
                                    year: '%Y'
                            
                                },
                                labels:{
                                    style: {
                                        color: '#031b4e',
                                        fontSize:'13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                tickLength: 6,  
                                tickWidth: 1,
                           
                                startOnTick:false,
                        endOnTick: false,   

                            },
                            yAxis: {
                                gridLineWidth:0,
                                lineWidth:1,
                                tickLength: 6,  
                                tickWidth: 1,
                                labels:{
                                    formatter: function(){
                                    return  (this.value*100).toFixed(0)+ '%';
                                    },
                                    style: {
                                        color: '#031b4e',
                                        fontSize:'13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                title:{
                                    text:"Return",
                                    style: {
                                        color: '#031b4e',
                                        fontSize:'13px',
                                        fontWeight: 'normal'
                                    },
                                },
                                plotLines: [{
                                    color: '#F2F2F2',
                                    width: 2,
                                    value: 0
                                }]
                            },
                                tooltip: {
                                    
                                    formatter: function() {
                                            var s = [];
                                            var count=0
                                            $.each(this.points, function(i, point) {
                                                if(count==0)
                                                s.push( 'Date: <b>'+ Highcharts.dateFormat('%d-%b-%Y',new Date(point.x))+'</b><br>');
                                                    count=1
                                            
                                          
                                                s.push( point.series.name +' : <b>'+
                                                    (point.y*100).toFixed(1) +'%</b><br>');
                                           
                                           
                                            
                                            });
                                            
                                            return s.join('<br>');
                                        },
                                    shared: true,
                                    style: {
                                        color: '#031b4e',
                                        fontSize:'13px',
                                        fontWeight: 'normal'
                                    },
                                },                                              
                            plotOptions: {
                                series: {
                                    marker: {
                                        enabled: false,
                                        symbol:"circle"
                                        }
                                }
                            },
                            legend:
                            {
                                itemStyle: {
                                        color: '#031B4E',
                                        fontSize:'15px'
                                    
                                    },
                            },
                            series:graph_data,

                        });
                    
                    
                    
                        }
                    }
        var datalist={{table_data|safe}}
        if (datalist.length > 0)
         create_table2('tbody3', datalist);
         function create_table2(tbody_id, output) {
            var tabledata = new Array();
            for (i = 0; i < output.length; i++) {
             
                tabledata.push([output[i][0],
                                output[i][1].toLocaleString(flag, { maximumFractionDigits: 0}),
                                output[i][2].toLocaleString(flag, { maximumFractionDigits: 0}),
                                output[i][3].toLocaleString(flag, { maximumFractionDigits: 0}),
                                output[i][4].toFixed(1)+'%',
                                output[i][5].toLocaleString(flag, { maximumFractionDigits: 0})
                         
                            ])
             
     
            }
            $("#" + tbody_id).empty();
            var table = document.getElementById(tbody_id);
            //Get the count of columns.
            var columnCount = tabledata[0].length;
            var row = table.insertRow(0);
            //Add the data rows.
            for (var i = 0; i < tabledata.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = tabledata[i][j];
                }
            }
            $('.cardtable td:first-child').each(function(){
                $(this).addClass('company sticky-col first-col')
            })
          
            $('.cardtable td:nth-child(5),.cardtable td:nth-child(6)').each(function(){
                if($(this).text().includes("-"))
                {
                    $(this).addClass("return_red")
                }
                else{
                    $(this).addClass("return_green")

                }
            })
         }
         $('.allocation').click(function(){
             $('#piechart').show();
             $('#combination').hide();
             $('.allocation label').addClass('active')
             $('.cashflow label').removeClass('active')
         })
         $('.cashflow').click(function(){
             $('#combination').show();
             $('#piechart').hide();
             $('.cashflow label').addClass('active')
             $('.allocation label').removeClass('active')
 
         });
         
         $('.eqval').html('{{symbol|safe}} '+parseFloat(({{equity_val}}).toFixed(0)).toLocaleString(flag))
         $('.eqinvstmnt').html('{{symbol|safe}} '+parseFloat(({{equity_invstmnt}}).toFixed(0)).toLocaleString(flag))
 
         $('.pnl').html('{{symbol|safe}} '+parseFloat(({{pnl}}).toFixed(0)).toLocaleString(flag))
         $('.daypnl').html('{{symbol|safe}} '+parseFloat(({{daily_pnl}}).toFixed(0)).toLocaleString(flag))

        var gainer_list={{gainer|safe}}
         $('.gainer').html(gainer_list[0])
      
         $('.gainer_price').html('<i class="fa fa-caret-up mg-l-5 text-success" aria-hidden="true"></i> {{symbol|safe}} '+(parseFloat(gainer_list[1]+gainer_list[2]).toLocaleString(flag, { maximumFractionDigits: 0})))
         
         var loser_list={{loser|safe}}
         $('.loser').html(loser_list[0])
         $('.loser_price').html('<i class="fa fa-caret-down mg-l-5 text-danger" aria-hidden="true"></i> {{symbol|safe}} '+  (parseFloat(loser_list[1]+loser_list[2]).toLocaleString(flag, { maximumFractionDigits: 0})))

      
        
         $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
            window.open(stockURL, '_blank');
            return false; 
        });

         highlights_list={{highlights_list|safe}}
         $('.realized_pl').html('{{symbol|safe}} '+parseFloat((highlights_list[0]).toFixed(0)).toLocaleString(flag))
 
         $('.top_exposure').html(highlights_list[1][0]+" ("+ (highlights_list[1][1]).toFixed(2) +"%)")
 
         $('.most_profit').html(highlights_list[2][0]+" ("+ (highlights_list[2][1]*100).toFixed(2) +"%)")
         $('.least_profit').html(highlights_list[3][0]+" ("+ (highlights_list[3][1]*100).toFixed(2) +"%)")
 
         if($('.realized_pl').text().includes("-"))
         {
             $('.realized_pl').addClass('red')
         }
         else{
             $('.realized_pl').addClass('green')
         }
         $('.cash_pl').html('{{symbol|safe}} '+parseFloat(({{ cash_remaining|safe}}).toFixed(0)).toLocaleString(flag))
         
    
         function createDynamicTableCard(datalist){
       
             var div1=$('<div/>');
                 div1.addClass('col-sm-12 mg-t-20');
 
             var divcard=$('<div/>');
                 divcard.addClass('card');
 
             var rowdiv=$('<div/>');
                 rowdiv.addClass('row tablecard mg-r-0 mg-l-0');
 
             var divcol1=$('<div/>');
                 divcol1.addClass('col-sm-3 subdiv stockname tx-16');
 
             var divcol2=$('<div/>');
                 divcol2.addClass('col-sm-9 subdiv tablediv');
         
             var $table = $('<table/>');
                 $table.addClass('unselectable')
             var mylist=['Qty','Current Market Price','Value At Market Price','Realized Profit/Loss','Long Term Qty','Average Cost Price','Value At Cost','Unrealizzed Profit/Loss']
             var count=0;
             for(var i=0; i<2; i++){
                 var $tr=$('<tr/>')
                 for(j=0;j<4;j++)
                 {
                     if(count==1 ||count==2 ||count==3 || count==5 ||count==6 ||count==7)
                     {
                         $tr.append( '<td ><label class=" mg-b-0">' + mylist[count]+'</label><br/><label class=" cellvalue tx-16">'+parseFloat(datalist[count+1].toFixed(0)).toLocaleString(flag) + '</label></td>' );
                     }
                     else{
                         $tr.append( '<td ><label class=" mg-b-0">' + mylist[count]+'</label><br/><label class=" cellvalue tx-16">'+datalist[count+1] + '</label></td>' );
                     }
                     count++;
                 }
                 $table.append($tr)
             }
             divcol1.html(datalist[0]);
             divcol2.html($table);
             rowdiv.append(divcol1);
             rowdiv.append(divcol2);
             divcard.append(rowdiv);
             div1.append(divcard);
             $('.section4').append(div1)
 
         }
         $('table tr td:last-child() .cellvalue').each(function()
         {
             if($(this).text().includes('-'))
             {
                 $(this).css('color','red')
             }
             else{
                 $(this).css('color','green')
             }
         })
 
         $('.win_gain tr td:nth-child(3)').css('border','1px solid green')
         $('.win_gain tr td:nth-child(6)').css('border','1px solid green')
         

 
     
      

  function graphs(){
    var isBig = $(window).width() >990;

var legendBig = {
    margin: 0,
                    padding: 0,
                    
                
                    borderWidth: 0,
                    width: 350,
                    itemWidth: 175,
};

var legendSmall = {
    margin: 0,
                    padding: 0,
                    
                
                    borderWidth: 0,
                    width: 280,
                    itemWidth: 140,
}
         Highcharts.chart('piechart', {
                     chart: {
                         type: 'pie',
                         height: 300,
                        
                         backgroundColor: 'transparent',
                                               
                     },
                     credits: {
                         enabled: false
                     },
                     exporting: {
                         buttons: {
                             contextButton: {
                             enabled:false
                             },                       
                         }
                     },                 
                     title: {
                         style: {
                             color: '#031b4e',
                             fontSize:'15px',
                             fontWeight: 'bold',
                         },                   
                         text:null,
                             
                     },
                     legend: isBig? legendBig : legendSmall,
    // ...
                    // legend: {
                    //         margin: 0,
                    //         padding: 0,
                            
                        
                    //         borderWidth: 0,
                    //         width: 280,
                    //         itemWidth: 140,
           
                    //  },       
                     tooltip: {
                         formatter: function () {
                             return 'Sector : <b>'+this.point.name+'</b><br>'+'Investment Amount(%) : '+'<b>'+(this.point.y).toFixed(2)+'%</b><br>'+'Investment Amount : <b>₹'+(this.point.Exposure).toFixed(2)+'<br></b>';
                         }
                     },
                     plotOptions: {
                        series: {
            animation: false
        },
                         pie: {
                             allowPointSelect: true,
                             cursor: 'pointer',
                             innerSize: "60%",
                             size:'150',
                             depth: "45%",
                             showInLegend: true,
                             dataLabels: {
                                 enabled: false,           
                                 formatter: function () {
                                     return '<b>'+this.point.name+'</b><br>';
                                 },
                             }
                         },
                     },
                     series: [{
                         name: 'By Sector',
                         data:{{allocation_list|safe}}
                     }],
                     })
   
 
                 Highcharts.chart('barchart', {
                         chart: {
                             type: 'bar',
                             height:200
                         },
                         title: {
                             text: ''
                         },
 
                         xAxis: {
                                 visible:false,
                             title: {
                                 text: null
                             }
                         },
                         yAxis: {
                             min: 0,
                             gridLineWidth:0,
                             title: false,
                             labels: {
                                 overflow: 'justify',
                                 enabled:false
                             }
                         },
                         tooltip: {
                             enabled:false
                         },
                         plotOptions: {
                             bar: {
                                 dataLabels: {
                                     enabled: true
                                 },
                                 
                             },
                             series: {
            animation: false
        }
                         },
                     
                         credits: {
                             enabled: false
                         },
                         series: [{
                             name: 'Stock(s) in Profit',
                             data: [{{profit|safe}}],
                             color:'green'
                         }, {
                             name: 'Stock(s) in Loss',
                             data: [{{loss|safe}}],
                             color:'red'
                         }, ]
                     });
  }
                     var  graph_data={{cashflow_data|safe}}
                     var cat=[]
                     var data=[]
                     for(i=0;i<graph_data.length;i++)
                     {
                        cat.push(graph_data[i][0])
                        data.push(graph_data[i][1])
                             var temp=graph_data[i][0]
                             var date = new Date(temp)
                             var now_utc =  Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                             date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                             graph_data[i][0]=now_utc;
                         
                     }
                  
                     
                     Highcharts.chart('combination', {
                         chart: {
                                     type: 'column',
                                     backgroundColor:"transparent",
                                     height:200
                                 
                                 
                                 },
                                 title: {
                                         text: ' ',
                                         style: {
                                             color: '#1C273C',
                                             fontSize: '13px ',
                                             fontWeight: 'normal'
                                         },
                                     },
                                     credits: {
                                                 enabled: false
                                             },
                                             exporting: {
                                                 buttons: {
                                                     contextButton: {
                                                     enabled:false
                                                     },
                                                     
                                                 }
                                             },
                                 xAxis: {
                                     categories:cat,
                                  
                             
                                     labels:{
                                         style: {
                                             color: '#031b4e',
                                             fontSize:'13px',
                                             fontWeight: 'normal'
                                         },
                                     },
                                     tickLength: 6,  
                                     tickWidth: 1,
                             
                                     
                               
                                 },
                                 yAxis: {
                                     gridLineWidth:0,
                                     lineWidth:1,
                                     tickLength: 6,  
                                     tickWidth: 1,
                                     labels:{
                                         formatter: function(){
                                         return  (this.value).toLocaleString(flag, { maximumFractionDigits: 0 });
                                         },
                                         style: {
                                             color: '#031b4e',
                                             fontSize:'13px',
                                             fontWeight: 'normal'
                                         },
                                     },
                                     title:{
                                         text:null,
                                         style: {
                                             color: '#031b4e',
                                             fontSize:'13px',
                                             fontWeight: 'normal'
                                         },
                                     },
                               
                                 },
                                     tooltip: {
                                         formatter: function() {
                                             return  "Date : "  +'<b>'+
                                                 Highcharts.dateFormat('%d-%b-%Y',
                                                                     new Date(this.x))+'<br></b>'
                                             +this.series.name+" : "+'<b>'+ (this.point.y).toLocaleString(flag, { maximumFractionDigits: 0 })+ '</b>';
                                         },
                                         style: {
                                             color: '#031b4e',
                                             fontSize:'13px',
                                             fontWeight: 'normal'
                                         },
                                     },                                              
                               
                                 legend:
                                 {
                                    enabled:false
                                 },
                                 series:[{
                                     name:'PNL',
                                     data:data,
                                     color: 'rgba(34,139,34,1)',
                                 negativeColor: '#FF0000'
                                 }]
                     });
 

                     var transaction_table_data={{transaction_table_data|safe}}
                 
                    create_table(transaction_table_data)
                    function create_table(output)
                    {
                     
                        tabledata = new Array();

                        for(i=0;i<output.length;i++)
                        { 
                            tabledata.push([output[i][0],output[i][1],output[i][2], (output[i][3]).toLocaleString(flag, {maximumFractionDigits: 0}),
                                            (output[i][4]).toLocaleString(flag, {maximumFractionDigits: 0}),
                                            (output[i][5]).toLocaleString(flag, {maximumFractionDigits: 0})])
                                            
                                        
                        }  
                                        
                    
                        // Retrieve the tbody element from the table to add the data 
                        var table = document.getElementById("tbody");
                        
                        //Get the count of columns.
                        var columnCount = tabledata[0].length;
                        var row = table.insertRow(0);
                        //Add the data rows.
                        for (var i = 0; i < tabledata.length; i++)
                        {
                            row = table.insertRow(-1);
                            for (var j = 0; j < columnCount; j++)
                            {
                                var cell = row.insertCell(-1);
                                cell.innerHTML = tabledata[i][j];
                            }
                        }
                        $("#tbody tr:first-child").remove();
                }
                $('.transactiontable table tbody td:nth-child(2)').each(function(){
                    var date = new Date($(this).text());

                                if ( isNaN( date .getTime() ) ) 
                                {
                                    $(this).text(d)
                                }
                                else
                                {
                                
                                var month = new Array();
                                month[0] = "Jan";
                                month[1] = "Feb";
                                month[2] = "Mar";
                                month[3] = "Apr";
                                month[4] = "May";
                                month[5] = "Jun";
                                month[6] = "Jul";
                                month[7] = "Aug";
                                month[8] = "Sept";
                                month[9] = "Oct";
                                month[10] = "Nov";
                                month[11] = "Dec";

                                day = date.getDate();
                                
                                if(day < 10)
                                {
                                    day = "0"+day;
                                }
                                
                                $(this).text(day+"-"+month[date.getMonth()]+ "-" + date.getFullYear())
                                }
                                
                })
                $('.transactiontable table tbody td:nth-child(1)').each(function(){
                    $(this).addClass('company sticky-col first-col')
                })
                $('.transactiontable table tbody td:nth-child(3)').each(function(){
                    $(this).css('font-weight','bold')
                    if($(this).text().includes('buy') || $(this).text().includes('Buy'))
                    {
                      
                        $(this).addClass('green')
                    }
                    else{
                       

                        $(this).addClass('red')

                    }
                })
            
                function checkWidth() {
          
            if ($(window).width() < 580) {
                $('.table thead th:nth-child(1)').removeClass('sticky-col first-col');
                $('.table tbody td:nth-child(1)').removeClass('sticky-col first-col');
              
            } 
            else{
                $('.table thead th:nth-child(1)').addClass('sticky-col first-col');
                $('.table tbody td:nth-child(1)').addClass('sticky-col first-col');
            
            }
        }
        checkWidth();
        graphs();
        $(window).resize(checkWidth,graphs);
        $("body").css({visibility:'visible'})                     
   </script>
</body>


</html>
{% endblock %}