{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
      <title>72PI Portfolio - 72PI</title>
      <meta name="keywords" content="72piPortfolio, portfolio, 72PIPortfoliostocks, portfoliostocks, 72PIstocks, 72PIselectedstocks 72PIPortfolioshortnotes, portfolioshortnotes, 72PIshortnotes, shortnotes 72PIsituationalanalysis, stocksituationanalysis "/>
      <meta name="description" content="A portfolio of stocks selected using fundamental, quantitative, technical and situational analysis from the NSE 500, along with a short notes of our view on the selected stocks" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
      <link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
      <script src="{% static 'js/table_sort2.js' %}"></script>
     
      <link rel="stylesheet" href="{% static 'css/portfolio72pi.css' %}?v=1.2">
  </head>
	<body>
       
        <div class="col-lg-12 section-gap main tradesignalsdiv">
            <div class="row page-title  mg-t-20">
                <div class="col-sm-6">
                    <p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i> 72PI Portfolio <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'tradeSignals' %}" class="nav-sub-link">Our Portfolio</a>
                    </p>
                </div>
                <div class="row col-sm-6 justify-content-end">
                        <div class="description_btn">
                            <button>How to Use this Page ?</button>
                        </div>
                        <div class="banner-btn mg-l-5">
                            <a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
                                aria-hidden="true">
                            </i></a>
                        </div>
                    </div>
            </div> 
            <div id="videoModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <iframe id="video-div" height="315" src="https://www.youtube.com/embed/p09-NY5rZg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
 
                <div class="disclaimer-text">
                    <p class="text-italic">
                        Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                    </p>
                </div>
                 
              
                <div class="card col-sm-12 mg-t-10">
                    <div class="card-header pd-b-0">
                        <h4 class="text-center"><label class=" mg-b-0">Our Portfolio</label></h4>
                    </div>
                    <div class="card-body mg-t-0 pd-t-0">
                        <div class="row">
                            <div class="col-md-12 portfolio-tabs mg-t-20">
                              <ul id="tab-list" class="nav nav-tabs" role="tablist">
                                {% if activeIdeas%}
                                <li ><a href="#" role="tab" data-toggle="tab" style="color:green"><span>ACTIVE</span> </a></li>
                                {% endif %}
                                {% if  additionsIdeas %}
                                <li ><a href="#" role="tab" data-toggle="tab" style="color:blue"><span>ADDITIONS</span> </a></li>
                                {% endif %}
                                {% if exitIdeas %}
                                <li ><a href="#" role="tab" data-toggle="tab" style="color:red"><span>EXITS</span> </a></li>
                                {% endif %}
                              </ul>
                            </div>
                          </div>
                        <div class="view">
                            <div class="wrapper">
                              
                                    <table class="table summarytable  unselectable" id="indextable">
                                        <thead>
                                            <tr>
                                                <th class="non-sticky" style="display:none">Type</th>
                                                <th class="sticky-col first-col " onClick="SortTable(1,'T')">Stock Name <i class="fa fa-fw fa-sort"></i></th>
                                                <th class="non-sticky" onClick="SortTable(2,'T')">Sector <i class="fa fa-fw fa-sort"></i></th>
                                                <th class="non-sticky date_of_idea"  onClick="SortTable(3,'D','dmy')">Date of Purchase <i class="fa fa-fw fa-sort"></i></th>
                                                <th class="non-sticky purchase_price"  onClick="SortTable(4,'N')">Purchase Price ({{symbol|safe}}) <i class="fa fa-fw fa-sort"></i></th>
                                                <th class="non-sticky current_price" onClick="SortTable(5,'N')">Current Price ({{symbol|safe}})<i class="fa fa-fw fa-sort"></i></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if additionsIdeas %}
                                            {% for key, idea in additionsIdeas.items %}
                                            <tr>
                                                <td style="display:none">ADDITIONS</td>
                                                <td class="sticky-col first-col company">{{idea.secdescription}} ({{idea.security_code}})</td>
                                                <td>{{idea.gics}}</td>
                                                <td>{{idea.tradedate|date:"d-M-Y"}}</td>
                                                <td>{{idea.buy_price|floatformat:'0'|intcomma}}</td>
                                                <td>{{idea.price|floatformat:'0'|intcomma}}</td> 
                                                <td></td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% if activeIdeas %}
                                            {% for key, idea in activeIdeas.items %}
                                            <tr>
                                                <td style="display:none">ACTIVE</td>
                                                <td class="sticky-col first-col company">{{idea.secdescription}} ({{idea.security_code}})</td>
                                                <td>{{idea.gics}}</td>
                                                <td>{{idea.tradedate|date:"d-M-Y"}}</td>
                                                <td>{{idea.buy_price|floatformat:'0'|intcomma}}</td>
                                                <td>{{idea.price|floatformat:'0'|intcomma}}</td> 
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            {% if exitIdeas %}
                                            {% for key, idea in exitIdeas.items %}
                                            <tr>
                                                <td style="display:none">EXITS</td>
                                                <td class="sticky-col first-col company">{{idea.secdescription}} ({{idea.security_code_y}})</td>
                                                <td>{{idea.gics}}</td>
                                                <td>{{idea.tradedate|date:"d-M-Y"}}</td>
                                                <td>{{idea.buy_price|floatformat:'0'|intcomma}}</td> 
                                                <td>{{idea.sell_price|floatformat:'0'|intcomma}}</td>
                                                <td></td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table> 
                            </div>
                        </div>
                    </div>
                </div>
            
            <div class="card-header pd-b-0">
                <h3 class="text-center"><label  style="border-bottom: 2px solid black;color:black">Short notes on 72PI Portfolio Stocks</label></h3>
            </div>
               {% for key,tradesignal in tradesignals.items %}
               <div class="card mg-t-20">   <!-- Trade Signal Starts Here-->
                <div class="card-body ">
                    <div class="div-body">
                        <div class="">
                            <h3 class="text-left ">
                                <a href="{% url 'StockInfoFromStockList' %}?stock-name={{tradesignal.company_name}} ({{tradesignal.security_code}})" value='{{tradesignal.company_name}} ({{tradesignal.security_code}})' target="_blank" class="text-center company-heading">{{tradesignal.company_name}} (({{tradesignal.security_code}})</a>
                            </h3>
                        </div>
                        <div class="row mg-t-20">
                            <!-- <div class="col-lg-2 parent">
                                <div class="child">
                                    <h4 class="text-center ">
                                        <a href="{% url 'StockInfoFromStockList' %}?stock-name={{tradesignal.company_name}}" value='{{tradesignal.company_name}}' target="_blank" class="text-center company-heading">{{tradesignal.company_name}}</a>
                                    </h4>
                                </div>
                            </div> -->
                            <div class="col-lg-3">
                                <h4><label>Fundamental</label></h4>
                                <div class="div-body-content pd-t-10 text-justify">
                                    {{tradesignal.fundamental}}
                                   <div class="mg-t-15">
                                    <b><span class="stars">{{tradesignal.fund_rating}}</span></b>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h4><label>Quantitative</label></h4>
                                <div class="div-body-content pd-t-10 text-justify">
                                    {{tradesignal.quantitative}}
                                    <div class="mg-t-15">
                                        <b><span class="stars">{{tradesignal.quant_rating}}</span></b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h4><label>Technical</label></h4>
                                <div class="div-body-content pd-t-10 text-justify">
                                    {{tradesignal.technical}}
                                    <div class="mg-t-15">
                                        <b><span class="stars">{{tradesignal.technical_rating}}</span></b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <h4><label>Situations</label></h4>
                                <div class="div-body-content pd-t-10 text-justify">
                                    {{tradesignal.situations}}
                                    <div class="mg-t-15">
                                        <b><span class="stars">{{tradesignal.situations_rating}}</span></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-bottom:1px;"/>
                    <div class="col-sm-12 div-footer mg-t-20">
                        <div class="row pd-t-10">
                            <table class="smalltable unselectable" id="tb{{forloop.counter}}">
                                <tbody class="table-bordered">
                                    {% for idea in tradeideas %}
                                        {% ifequal idea.new_company tradesignal.company_name %}
                                        <tr >
                                            {% filter upper %}
                                            <td><h4>{{idea.issue_date|date:"d-M-Y"}}</h4></td>
                                            {% endfilter %}
                                            <td>
                                                {% if idea.purchased_price %}
                                                <div class="row borderdiv pd-0" >
                                                    {% if idea.purchased_price %}
                                                    <div class="col-lg-4 pd-0">
                                                        <label>Purchase Price({{symbol|safe}}) <br/>{{idea.purchased_price}} </label>
                                                    </div>
                                                    {% endif %}
                                                    {% if idea.target_price %}
                                                    <div class="col-lg-4 pd-0">
                                                        <label>Target Price({{symbol|safe}}) <br/>{{idea.target_price}}</label>
                                                    </div>
                                                    {% endif %}
                                                    {% if idea.time_period %}
                                                    <div class="col-lg-4">
                                                        <label>Time Period  <br/>{{idea.time_period}}</label>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="row breaktd">
                                                    {% endif %}
                                                    {% if idea.signal_message %}
                                                        <p class="pd-t-10" style="border-top:1px solid #cdd4e0">{{idea.signal_message}}</p>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endifequal %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
            </div>   <!-- Trade Signal Ends Here-->
            <div id="description" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <h3 class="modal-title mg-t-10 text-center"><label>Our Portfolio</label></h3>
                  <div class="modal-body">
                      
                <p>A portfolio of stocks that form Our (72PI) Portfolio. Selected using fundamental, quantitative, technical and situational analysis. A short note on each of the stocks is provided that summarizes investment rationale on the stock. For each stock, entry date, entry price, target price and the holding period to achieve our target prices are mentioned. In the spirit of transparency, all the current holding stocks in the portfolio and all the entry and exits of all positions are listed out. Additions and Exit are shared with timestamp. </p>
                </div>
                  <div class="modal-footer">
                  <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
                  </div>
                </div>
                </div>
            </div>
            <script>
             
                var tbid="#tb"+{{forloop.counter}}
                  $(tbid+' tbody tr:first').each(function()
                    {
                        $(this).css('border','2px solid #6633CC');

                    })

                   
                    
            </script>
               {% endfor %}
        </div>
    </div>
  </body>
  
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script>
            $(document).ready(function() { 
                var url = $("#video-div").attr('src'); 
                $("#videoModal").on('hide.bs.modal', function() { 
                    $("#video-div").attr('src', ''); 
                }); 
                $("#videoModal").on('show.bs.modal', function() { 
                    $("#video-div").attr('src', url); 
                }); 
            });
            $(document).on("click", ".description_btn", function () {
                $('#description').modal('show');
            
            })
                    $(document).ready(function () {
                            $("#tab-list li").eq(0).addClass("active");
                         
                         myportfolioFilter('ACTIVE');

                        })
                        $('#tab-list li').click(function()
                        {
                                $('#tab-list li').removeClass('active')
                                $(this).addClass('active')
                        })
                        $("#tab-list").find("li a").click(function(){
                        var type = $(this).text().trim()
                        
                        
                        myportfolioFilter(type);
                        })
                        function myportfolioFilter(type){
                          
                            if(type=='ACTIVE'){
                                $('.date_of_idea').html('Date Of Purchase <i class="fa fa-fw fa-sort"></i>')
                                $('.current_price').html('Current Price ({{symbol|safe}}) <i class="fa fa-fw fa-sort"></i>')
                                

                            }
                            else if(type=='ADDITIONS')
                            {
                                $('.date_of_idea').html('Transaction Date <i class="fa fa-fw fa-sort"></i>')
                                $('.current_price').html('Current Price ({{symbol|safe}}) <i class="fa fa-fw fa-sort"></i>')
                                
                                $('.purchase_price').css('pointer-events','auto')

                            }
                            else{
                                $('.date_of_idea').html('Transaction Date <i class="fa fa-fw fa-sort"></i>')
                                $('.current_price').html('Sell Price ({{symbol|safe}})  <i class="fa fa-fw fa-sort"></i>')
                             


                            } 
                          
                           
                            var input, filter, table, tr, td, i, txtValue;
                            input = type;
                            filter = input.toUpperCase();
                            filter = filter.trim()
                            table = document.getElementById("indextable");
                            tr = table.getElementsByTagName("tr");
                            var count=0;
                            for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[0];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                txtValue = txtValue.trim()
                            
                              
                                if (txtValue.toUpperCase()==filter) {
                                tr[i].style.display = "";
                                count++;
                                } else {
                                tr[i].style.display = "none";
                                }
                            }   

                            }
                          
                            }

       
         $(document).on("click", ".company", function () {
            var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name="+this.innerText;
            window.open(stockURL, '_blank');
            return false; 
        });
      
        $('.stars').each(function (i, obj) {

            var text = $(this).text();
            $(this).html(text.replace(text, getStars(parseFloat($(this).text()))));


        })

        function getStars(rating) {

            // Round to nearest half
            rating = Math.round(rating * 2) / 2;
            let output = [];

            // Append all the filled whole stars
            for (var i = rating; i >= 1; i--)
                output.push('<i class="fa fa-star" aria-hidden="true" style="color: gold;font-size:20px"></i>&nbsp;');

            // If there is a half a star, append it
            if (i == .5) output.push(
                '<i class="fa fa-star-half-o" aria-hidden="true" style="color: gold;font-size:20px"></i>&nbsp;');

            // Fill the empty stars
            for (let i = (5 - rating); i >= 1; i--)
                output.push('<i class="fa fa-star-o" aria-hidden="true" style="color: gold;font-size:20px"></i>&nbsp;');

            return output.join('');

        }

        function checkWidth() {
         
            if ($(window).width() < 580) {
                $('.table thead th:nth-child(2)').removeClass('sticky-col first-col');
                $('.table tbody td:nth-child(2)').removeClass('sticky-col first-col');
            } 
            else{
                $('.table thead th:nth-child(2)').addClass('sticky-col first-col');
                $('.table tbody td:nth-child(2)').addClass('sticky-col first-col');
            }
            
        }
        checkWidth();

        $(window).resize(checkWidth);
      
        $("body").css({visibility:'visible'})
    </script>
</html> 
{% endblock %}