{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load static %}
{% load humanize %}

{% block content %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" /> 
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
		<title>Wizard - 72PI</title>
		<meta name="keywords" content="72piwizard, wizard, 72pistockfilters, stockfilters, 72piinvestmentopportunity,investmentopportunity, 72pifilters , 72piportfoliowizard, portfoliowizard, 72piquantfilter, quantfilter, 72pitechnicalfilter, technicalfilter, 72pifundamentalfilter, fundamentalfilter"/>
		<meta name="description" content="It is used to identify investment opportunities fundamental, technical and the Quant filters on stock indices" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
		<link rel="stylesheet" href="{% static 'css/table-styles.css' %}?v=1.2">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/portfoliowizard.css' %}?v=1.2">
	</head>
	<body>
		<div class="se-pre-con"></div>
	    <div class="col-lg-12 section-gap wizard-div main">
			

			<div class="row wizard-table-div">
				<div class="col-lg-12">
						<div class="row page-title  mg-t-20">
							<div class="col-sm-6">
								<p class="text-white tx-20">
									<a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
									<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
									Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
									<a href="{% url 'portfolioCreationWizard' %}" class="nav-sub-link">Portfolio Wizard</a>
								</p>
							</div>
							<div class="row col-sm-6 justify-content-end">
									<div class="description_btn">
										<button>How to Use this Page ?</button>
									</div>
									<div class="banner-btn mg-l-5">
										<a href="#videoModal" class="play-btn pd-b-5 pd-t-5 text-capitalize" data-toggle="modal">Watch Demo<i class="fa fa fa-play-circle-o mg-r-10 mg-l-5" target='_blank'
											aria-hidden="true">
										</i></a>
									</div>
								</div>
							</div> 
							<div id="videoModal"  class="modal">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										</div>
										<div class="modal-body">
											<iframe id="video-div" height="315" src="https://www.youtube.com/embed/FiYHrBJm3JA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>
								</div>
							</div>
			
					
					<div class="disclaimer-text">
						<p class="text-italic">
							Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
						</p>
					</div> 
					<div class="card mg-t-10" style="padding:0% 2% 1% 2%">
						<div class="card-header pd-t-0">
							<h3 class="text-center"><label>Portfolio Wizard</label></h3>
						</div>
						<div class="mg-t-20" id="myWizard">
							<div class="">
												
							</div>
							<div class="row">
								<div class="col-xs-2 col-md-2 pull-right">
								</div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1"
									aria-valuemin="1" aria-valuemax="4" style="width: 20%;">
									Step 1 of 5
								</div>
							</div>
							<div class="">
								<div class="navbar-inner">
									<ul class="nav nav-pills nav-wizard col-sm-12">
										<li class="disabled active step1">
											<div class="first-div" data-step="1">
												<div class="radio-select-div">
													<select id="all-sector" class="marketindex">
														{% for index in indexes %}
														<option value='{{index}}'>{{index}}</option>
														{%endfor%}
													</select>
												</div>
											</div>
											
											<div class="pd-10 tables_div tables_div1">
												
												<h5 class="mg-t-20 step1stocks"></h5>
												
												<div>
												
													<table class="steptable unselectable">
														<thead>
															<th>Sector</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="step1tbody">
	
														</tbody>
													</table>
												</div>
												<div class="">
											
													<table class="steptable unselectable">
														<thead>
															<th>Market Cap Category</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="mktstep1tbody">
	
														</tbody>
													</table>
												</div>
											</div>
											<div class="text-right">
												<button class="btns fundamentalset collapsebtn" type="button"
													data-toggle="collapse" data-target="#fundamental_settings"
													aria-expanded="false" aria-controls="fundamental_settings">Fundamental <i
														class="fa fa-cog" aria-hidden="true"></i></button>
											</div>
										</li>
										<li class="disabled step2" >
											<a class="text-center" href="#step2" data-toggle="tab" data-step="2"
												style="pointer-events: none;">Fundamentals</a>
												
											<div class="pd-10 tables_div tables_div2">
												<h5 class="mg-t-20 step2stocks"></h5>
												<div>
										
													<table class="steptable unselectable">
														<thead>
															<th>Sector</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="step2tbody">
	
														</tbody>
													</table>
												</div>
												<div class="">
											
													<table class="steptable unselectable">
														<thead>
															<th>Market Cap Category</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="mktstep2tbody">
	
														</tbody>
													</table>
												</div>
											</div>
											<div class="text-right">
												<button class="btns technicalset collapsebtn" type="button"
													data-toggle="collapse" data-target="#technical_settings"
													aria-expanded="false" aria-controls="technical_settings">Technical <i
														class="fa fa-cog" aria-hidden="true"></i></button>
											</div>
										</li>
										<li class="disabled step3" >
	
											<a class="text-center" href="#step3" data-toggle="tab" data-step="3"
												style="pointer-events: none;">Technicals</a>
										
											<div class="pd-10 tables_div tables_div3">
												<h5 class="mg-t-20 step3stocks"></h5>
												<div>
											
													<table class="steptable unselectable">
														<thead>
															<th>Sector</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="step3tbody">
	
														</tbody>
													</table>
												</div>
												<div class="">
											
													<table class="steptable unselectable">
														<thead>
															<th>Market Cap Category</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="mktstep3tbody">
	
														</tbody>
													</table>
												</div>
											</div>
											<div class="text-right">
												<button class="btns aimlset collapsebtn" type="button" data-toggle="collapse"
													data-target="#aiml_settings" aria-expanded="false"
													aria-controls="aiml_settings">Quant <i class="fa fa-cog"
														aria-hidden="true"></i></button>
											</div>
										</li>
										<li class="disabled step4" >
											<a class="text-center" href="#step4" data-toggle="tab" data-step="4"
												style="pointer-events: none;">Quant Overlay</a>
											<div class="pd-10 tables_div tables_div4">
												<h5 class="mg-t-20 step4stocks"></h5>
												<div>
											
													<table class="steptable unselectable">
														<thead>
															<th>Sector</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="step4tbody">
	
														</tbody>
													</table>
												</div>
												<div class="">
										
													<table class="steptable unselectable">
														<thead>
															<th>Market Cap Category</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="mktstep4tbody">
	
														</tbody>
													</table>
												</div>
											</div>
										</li>
										<li class="disabled step5" >
											<a class="text-center" href="#step5" data-toggle="tab" data-step="5"
												style="pointer-events: none;">Portfolio Summary</a>
								
											<div class="pd-10 tables_div tables_div5">
												<h5 class="mg-t-20 step5stocks"></h5>
												<div>
												
													<table class="steptable unselectable">
														<thead>
															<th>Sector</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="step5tbody">
	
														</tbody>
													</table>
												</div>
												<div class="">
											
													<table class="steptable unselectable">
														<thead>
															<th>Market Cap Category</th>
															<th>#of Stocks</th>
														</thead>
														<tbody id="mktstep5tbody">
	
														</tbody>
													</table>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="tab-content maintables">
								<div class="collapse" id="fundamental_settings">
									<div class="card card-body">
										<h4>
											<label>Select Fundamental Wizard Filters</label>
										</h4>
										<label for="step2default" class="radiolabel step2defaultradio">
											<input type="radio" id="step2default" name="step2chooseopt" value="default" />
											Default Filters <i class="text-muted">(recommended)</i>
											<p class="text-italic">Fundamental wizard will be applied with the following
												default filters</p>
											<div id="step2default-div">
												Piotroski Score > 5<br>
												Div Yield > 0.10%<br>
												ROE > 10%<br>
											</div>
										</label>
										<label for="step2custom" class="radiolabel step2customradio">
											<input type="radio" id="step2custom" name="step2chooseopt" value="custom" /> Custom
											Filters <span id="funderror" style="color: red;"></span>
											<p class="text-italic">Choose your own filters to apply for fundamental wizard</p>
											<div id="step2custom-div">
												<p class="col-sm-12 row">
													<div class="col-sm-4">
														Piotroski Score >
													</div>
													<div class="col-sm-4">
														<input type="text" min="1" max="9" maxlength="1"
															placeholder="Enter some value (1-9)" name="pscore" class="pscore"
															id="pscore">
													</div>
												</p>
												<p class="col-sm-12 row">
													<div class="col-sm-4">
														Div Yield(%) >
													</div>
													<div class="col-sm-4">
														<input type="text" placeholder="Enter some value" name="dyield"
															id="dyield" class="dyield">
													</div>
												</p>
												<p class="col-sm-12 row">
													<div class="col-sm-4">
														ROE(%) >
													</div>
													<div class="col-sm-4">
														<input type="text" placeholder="Enter some value" name="roe" id="roe"
															class="roe"><br>
	
													</div>
												</p>
											</div>
	
										</label>
										<label for="step2selectall" class="radiolabel step2selectallradio">
											<input type="radio" id="step2selectall" name="step2chooseopt" value="selectall" />
											Select All
											<p class="text-italic">Fundamental wizard will be applied for all the <b class="first-step-selectall-p"></b> stocks
											</p>
										</label>
									</div>
								</div>
								<div class="collapse" id="technical_settings">
									<div class="card card-body">
										<h4>
											<label>Select Technical Wizard Filters</label>
										</h4>
										<label for="step4default" class="radiolabel step4defaultradio">
											<input type="radio" id="step4default" name="step4chooseopt" value="default" />
											Default Filters <i class="text-muted">(recommended)</i>
											<p class="text-italic">Technical wizard will be applied with the following default
												filters</p>
											<div id="step4default-div">
												Relative Strength Index (RSI) > 45<br>
												Current Price > 70% of 52 week high<br>
												(9-Day Moving Average) MA9 > (26-Day Moving Average) MA26<br>
											</div>
										</label>
										<label for="step4custom" class="radiolabel step4customradio">
											<input type="radio" id="step4custom" name="step4chooseopt" value="custom" /> Custom
											Filters <span id="funderror2" style="color: red;"></span>
											<p class="text-italic">Choose your own filters to apply for technical wizard</p>
											<div id="step4custom-div">
												<p class="col-sm-12 row">
													<div class="col-sm-6">
														Relative Strength Index (RSI) >
													</div>
													<div class="col-sm-6">
														<input type="text" placeholder="Enter some value" name="rsi"
															class="rsi" id="rsi">
													</div>
												</p>
												<p class="col-sm-12 row">
													<div class="col-sm-6">
														Current Price >
													</div>
													<div class="col-sm-6">
														<input type="text" placeholder="Enter some value" name="52wh" id="52wh"
															class="52wh">
														<br />% of 52 week high
													</div>
												</p>
												<p class="col-sm-12 row">
													<div class="col-sm-12">
														<input type="checkbox" name="ma926" id="ma926" class="ma926">
														(9-Day Moving Average) MA9 > (26-Day Moving Average) MA26
													</div>
												</p>
											</div>
										</label>
										<label for="step4selectall" class="radiolabel step4selectallradio">
											<input type="radio" id="step4selectall" name="step4chooseopt" value="selectall" />
											Select All
											<p class="text-italic">Technical wizard will be applied for all the fundamental
												stocks</p>
										</label>
									</div>
								</div>
								<div class="collapse" id="aiml_settings">
									<div class="card card-body">
										<h4>
											<label>Select Quant Wizard Filters</label>
										</h4>
										<label for="step6default" class="radiolabel step6defaultradio">
											<input type="radio" id="step6default" name="step6chooseopt" value="default" />
											Default Filters <i class="text-muted">(recommended)</i>
											<p class="text-italic">Quant wizard will be applied with the following default
												filters</p>
											<div id="step6default-div">
												<p class="col-sm-12 row">
													<div class="col-sm-4">
														Category : i). Mid Tier ii). Top Tier
													</div>
												</p>
											</div>
										</label>
										<label for="step6custom" class="radiolabel step6customradio">
											<input type="radio" id="step6custom" name="step6chooseopt" value="custom" /> Custom
											Filters
											<span id="funderror3" style="color: red;"></span>
											<p class="text-italic">Choose your own filters to apply for Quant wizard</p>
											<div id="step6custom-div">
												<p class="col-sm-12 row">
													<div class="col-sm-2">
														Category :
													</div>
													<div class="col-sm-10 text-left cust">
														<input type="checkbox" id="bottomtier" value="bottomtier">Bottom Tier
														</input><br>
														<input type="checkbox" id="midtier" value="midtier">Mid Tier
														</input><br>
														<input type="checkbox" id="toptier" value="toptier">Top Tier
														</input><br>
													</div>
												</p>
											</div>
										</label>
										<label for="step6selectall" class="radiolabel step6selectallradio">
											<input type="radio" id="step6selectall" name="step6chooseopt" value="selectall" />
											Select All</i>
											<p class="text-italic">Quant wizard will be applied for all the technical stocks
											</p>
										</label>
									</div>
								</div>
	
								<div class="tab-pane fade in active" id="step1">
									<div class="row">
										<div class="col-lg-12 text-right">
											
	
											<a class="start fundwizard btn btn-primary  next" href="#step2"
												data-toggle="tab" data-step="2">Start
												<span class="glyphicon glyphicon-chevron-right"></span></a>
	
										</div>
									</div>
									<div class="view well fixed-card-div mg-t-20">
										<div class="wrapper">
											<table class="table sortable unselectable all_data">
												<thead>
													<th class="sticky-col first-col">Company Name</th>
													<th class="non-sticky">Sector Name</th>
													<th class="non-sticky">Market Cap Category</th>
													<th class="non-sticky reformat">Market Cap ( {{ format|safe}})</th>
													<th class="non-sticky">Current Price ({{symbol|safe}})</th>
												</thead>
												<tbody>
													{% if stocks %}
													<script>
														$('.step1stocks').html('<b> Total Stocks : ' + {{stocksCount}} + '</b>')
													</script>
													{% for key,stock in stocks.items %}
													<tr>
														<td class="company sticky-col first-col">{{stock.Company}} ({{stock.Security_Code}})</td>
														<td>{{stock.gics}}</td>
														<td>{{stock.Market_Cap_Category}}</td>
														<td>{{stock.Market_Cap}}</td>
														<td>{{stock.Current_Price}}</td>
													</tr>
													{% endfor %}
													{% endif %}
												</tbody>
											</table>
										</div>
										
									</div>
								</div>
								<div class="tab-pane fade" id="step2">
									<div class="btn-groups text-right" role="group" aria-label="">
	
										<div class="btn-groups  btn-group-l" role="group" aria-label="">
									
											<a class=" startwizard btn btn-primary" href="#" data-toggle="tab"
												data-step="1"  onclick="location.reload(true)">Start Over</a>
	
											<a class=" techwizard btn btn-primary next2 next" href="#step3"
												data-toggle="tab" data-step="3">Next<span
													class="glyphicon glyphicon-chevron-right"></span></a>
	
										</div>
	
									</div>
									<div class="view well fixed-card-div mg-t-20">
										<div class="wrapper">
											<table class="table  sortable unselectable" id="FundamentalTable">
												<thead>
													<tr>
														<th class="sticky-col first-col">Company Name</th>
														<th class="non-sticky">Sector Name</th>
														<th class="non-sticky">Market Cap Category</th>
														<th class="non-sticky reformat">Market Cap ({{ format | safe}})</th>
														<th class="non-sticky">Current Price ({{symbol|safe}})</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
	
									</div>
								</div>
	
								<div class="tab-pane fade" id="step3">
									<div class="btn-groups text-right " role="group" aria-label="">
	
										<div class="btn-groups btn-group-l" role="group" aria-label="">
									
											<a class="startwizard btn btn-primary" href="#" data-toggle="tab"
												data-step="1"  onclick="location.reload(true)">Start Over</a>
	
											<a class="aimlwizard btn  btn-primary next4 next" href="#step4"
												data-toggle="tab" data-step="4">Next<span
													class="glyphicon glyphicon-chevron-right"></span></a>
										
										</div>
	
									</div>
									<div class="view well fixed-card-div mg-t-20">
										<div class="wrapper">
											<table class="table sortable unselectable" id="technicalTable">
												<thead>
													<tr>
														<th class="sticky-col first-col">Company Name</th>
														<th class="non-sticky">Sector Name</th>
														<th class="non-sticky">Market Cap Category</th>
														<th class="non-sticky reformat">Market Cap ( {{ format|safe}})</th>
														<th class="non-sticky">Current Price ({{symbol|safe}})</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
	
									</div>
								</div>
	
								<div class="tab-pane fade in" id="step4">
	
									<div class="btn-groups text-right mg-t-10 " role="group" aria-label="">
	
	
										<div class="btn-groups btn-group-l" role="group" aria-label="">
										
											<a class="startwizard btn btn-primary" href="#" data-toggle="tab"
												data-step="1"  onclick="location.reload(true)">Start Over</a>
	
											<a class="btn btn-primary next6 next wizardsummary" href="#step5"
												data-toggle="tab" data-step="5">Next<span
													class="glyphicon glyphicon-chevron-right"></span></a>
										
										</div>
	
									</div>
									<div class="view well fixed-card-div mg-t-20">
										<div class="wrapper">
											<table class="table sortable unselectable" id="aimlTable">
												<thead>
													<th class="sticky-col first-col">Company Name</th>
													<th class="non-sticky">Sector Name</th>
													<th class="non-sticky">Market Cap Category</th>
													<th class="non-sticky reformat">Market Cap ( {{ format|safe}})</th>
													<th class="non-sticky">Current Price ({{symbol|safe}})</th>
												</thead>
												<tbody>
	
												</tbody>
											</table>
										</div>
	
									</div>
								</div>
								<div class="tab-pane fade in" id="step5">
									<div class="btn-groups text-right mg-t-10" role="group" aria-label="">
	
	
										<div class="btn-groups btn-group-l" role="group" aria-label="">
											<a class="startwizard btn btn-primary" href="#" data-toggle="tab"
												data-step="1"  onclick="location.reload(true)">Start Over</a>
	
											<button class="btn btn-primary  saveportfolio">Save Portfolio</button>
											<a href="#portfolioNameModal" style="display: none;" class="nameModal btn-success"
												data-toggle="modal"></a>
	
										</div>
									</div>
									<div class="view well fixed-card-div1 mg-t-20">
										<div class="scroll-div1 noxaxis">
											<div class="user-profile">
												<div class="card-header">
													<h4 class="card-title text-center">Portfolio Profile</h4>
												</div>
												<div class="user-table table-responsive pd-l-50 pd-r-50">
													<table class="table unselectable">
														<thead>
															<tr>
																<td>Username</td>
																<td># of Stocks</td>
																<td># of Sectors</td>
	
															</tr>
														</thead>
														<tr>
															<td>{{user|safe}}</td>
	
														
	
															<td class="td_stockcount"></td>
	
															<td class="td_sectorcount"></td>
														</tr>
													</table>
												</div>
											</div>
											<!-- Equal weighted Portfolio Returns. -->
											<div class="row row-sm d-flex">
												<div class="col-xl-12 pd-r-0">
													<div class="equal-weighted-returns">
														<div class="card-header mg-t-0">
															<h4 class="card-title text-center">Cumulative Returns</h4>
														</div>
														<div class="graphs mg-t-20">
														
															<div id="Portfolio_Returns" class='container1'>
															</div>
														</div>
														<div class="row row-sm">
															<div class="col-sm-12 ustable">
																<div class="card-header">
																	<h4 class="card-title text-center">Performance Metrics</h4>
																</div>
																<div id="metrics" class="mg-t-0 table-responsive">
																	<table
																		class="table table-hover unselectable  table-striped m-b-0 summary_table1">
																		<thead class="thead-dark">
																			<tr>
																				<th></th>
																				<th>Cumulative Return </th>
																				<th>Annualized Volatility (Risk) </th>
																				<th>Sharpe<sup>[1]</sup></th>
																				<th>Max Drawdown<sup>[2]</sup></th>
																			</tr>
																		</thead>
																		<tbody id="tbody">
	
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
	
	
											</div>
											<div class="row row-sm d-flex">
												<!-- Returns by stock and sector. -->
												<div class="col-xl-8">
													<div class="card-header">
														<h4 class="card-title text-center">Top 10 Holdings</h4>
													</div>
													<table class="table unselectable  sortable top10_table table-responsive summary_table2">
														<thead>
															<tr>
																<th style="width:10%" class="sticky-col first-col">Company</th>
																<th class="non-sticky">Investment Amount({{symbol|safe}})</th>
																<th class="non-sticky">Actual Return(%)</th>
																<th class="non-sticky">Actual Return({{symbol|safe}})</th>
															</tr>
														</thead>
														<tbody id="tbody2">
	
														</tbody>
													</table>
												</div>
												<div class="col-xl-4 pd-l-0">
													<div class="col-sm-12">
														<div class="card-header">
															<h4 class="card-title text-center">Portfolio Investment Amount By
																Sector</h4>
														</div>
														<div id="Exposure"></div>
													</div><!-- col -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mg-t-20 footer-div">
				<div class="col-md-12 stocklist pd-t-5 pd-b-5" >
					<div class="foot-atozlinks" style="text-align:center !important;margin-bottom:0px;">
					<ul class="list14">
						<li class="title">Stock List</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=A" class="stock-name" target="_blank" title="A">A</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=B" class="stock-name" target="_blank" title="B">B</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=C" class="stock-name" target="_blank" title="C">C</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=D" class="stock-name" target="_blank" title="D">D</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=E" class="stock-name" target="_blank" title="E">E</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=F" class="stock-name" target="_blank" title="F">F</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=G" class="stock-name" target="_blank" title="G">G</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=H" class="stock-name" target="_blank" title="H">H</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=I" class="stock-name" target="_blank" title="I">I</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=J" class="stock-name" target="_blank" title="J">J</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=K" class="stock-name" target="_blank" title="K">K</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=L" class="stock-name" target="_blank" title="L">L</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=M" class="stock-name" target="_blank" title="M">M</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=N" class="stock-name" target="_blank" title="N">N</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=O" class="stock-name" target="_blank" title="O">O</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=P" class="stock-name" target="_blank" title="P">P</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=Q" class="stock-name" target="_blank" title="Q">Q</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=R" class="stock-name" target="_blank" title="R">R</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=S" class="stock-name" target="_blank" title="S">S</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=T" class="stock-name" target="_blank" title="T">T</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=U" class="stock-name" target="_blank" title="U">U</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=V" class="stock-name" target="_blank" title="V">V</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=W" class="stock-name" target="_blank" title="W">W</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=X" class="stock-name" target="_blank" title="X">X</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=Y" class="stock-name" target="_blank" title="Y">Y</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=Z" class="stock-name" target="_blank" title="Z">Z</a>
						</li>
						<li>
						<a href="/stocks/getstocksbyname?startswith=others" class="stock-name" target="_blank"
							title="Others">Others</a>
						</li>
					</ul>
					</div>
				</div>
				<div class="container">
					<div class="footer-contents pt-2 pb-2">
					<div class="row">
						<div class="col-xl-12 col-lg-12">
						<div class="footer-widget">
							
							<div class="footer-text text-justify">
							<p class="text-italic tx-6  ">Disclaimer: Aishva Financial Services Private Limited is a company
								incorporated under the
								Companies Act 1956. Aishva Financial Services Private Limited is a registered investment
								advisor with the Securities and Exchange Board of India and through its online product,
								www.72pi.ai, intends to provide curated content about the capital markets and provide
								financial modeling tools to its customers. The investments discussed or recommended through
								www.72pi.ai may not be suitable for all investors and hence, you must rely on your own
								examination and judgement of the stock and company before making investment decisions. Data
								provided through www.72pi.ai is for information purposes only and should not be construed as
								an offer or solicitation of an offer to buy or sell any securities. Information and
								discussions made available through www.72pi.ai contain forward looking statements that
								involve risks, uncertainties and assumptions that could cause actual results to differ
								materially from those contemplated by the relevant forward-looking statement. Aishva
								Financial Services Private Limited or www.72pi.ai or its employees / directors or any of its
								affiliates are not responsible for any losses that may arise to any person who has made
								investments based on the contents of the www.72pi.ai or information in emails or in
								documents. Past Performance Is No Guarantee of Future Results.</p>
							</div>
						</div>
						</div>
					</div>
					<div class="footer-cta pt-3 pb-2">
						<div class="row">
						<div class="col-lg-12">
							<div class="row">
							<div class="col-xl-3 col-md-3">
								<div class="single-cta">
								<div class="cta-text ">
									<div class="d-flex">
									<i class="fa fa-map-marker " aria-hidden="true"></i>
									<h4 class="mg-t-10 mg-l-10">Find us</h4>
									</div>
									<div class="mg-l-30">
									<span class="">1st Floor, TK House, Plot 11, Shilpa Hills,
										Khanamet, HITEX Road, Hyderabad 500081</span>
									</div>
								</div>
								</div>
								<div class="single-cta">
								<div class="cta-text">
									<div class="d-flex">
									<i class="fa fa-phone"></i>
									<h4 class="mg-t-10 mg-l-10">Call us</h4>
									</div>
									<div class="mg-l-30">
									<span> +91-8919293838</span>
									</div>
								</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-3">
								<div class="single-cta">
								<div class="cta-text">
									<div class="d-flex">
									<i class="fa fa-envelope-open"></i>
									<h4 class="mg-t-10 mg-l-10">Mail us</h4>
									</div>
									<div class="mg-l-40">
									<div class="">
										<span>For Investor queries :</span>
										<span class="text-italic">
										<a href="mailto:info@72pi.ai" class="mail-to">info@72pi.ai</a>
										</span>
									</div>
									<div class="mg-t-10">
										<span>For grievances :</span>
										<span class="text-italic">
										<a href="mailto:support@72pi.ai" class="mail-to">support@72pi.ai</a>
										</span>
									</div>
			
									</div>
								</div>
								</div>
								<div class="single-cta">
								<div class="cta-text">
									<div class="d-flex">
									<i class="fa fa-globe"></i>
									<h4 class="mg-t-10 mg-l-10">Website</h4>
									</div>
									<div class="mg-l-40">
									<span class="text-italic"><a href="http://www.72pi.ai" class=""
										target="_blank">http://www.72pi.ai</a></span>
									</div>
								</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-3">
								<div class="single-cta">
								<div class="cta-text">
									<div class="d-flex">
									<i class="fa fa-link"></i>
									<h4 class="mg-t-10 mg-l-10">Useful Links</h4>
									</div>
									<div class="mg-l-40">
									<ul class="mg-t-0 useful-links-ul">
										<li>
										<a href="{% url 'privacypolicy' %}" target="_blank" class="privacypolicy">Privacy Policy</a>
										</li>
										<li>
										<a href="{% url 'termsofuse' %}" target="_blank" class="terms">Terms & Conditions of Use</a>
										</li>
										<li>
										<a href="{% url 'aboutus' %}" class="aboutus-footer">About Us</a>
										</li>
										<li><a href="{% url 'customerContactUs' %}" class="contactus">Contact Us</a></li>
										<li><a href="{% url 'faq' %}" target="_blank" class="faq">FAQ</a></li>
										<li><a href="{% url 'customerFeedback' %}" class="feedback">Feedback</a></li>
									</ul>
									</div>
								</div>
								</div>
							</div>
							<div class="col-xl-3 col-md-3 pd-r-0 pd-l-0 my-auto">
								<div class="newsletter-div my-auto">
									<form>
										<div class="d-flex justify-content-end my-auto">
										  <input type="text" class="form-control" id="newsletteremail" placeholder="Enter Email for free Newsletters">
										  <button class="subscribe-btn mg-l-5 newslettersubscribe">Subscribe</button>
										</div>
									  <p class="mg-t-0 text-center newsletterres"></p>
									</form>
								</div>
							</div>
							</div>
						</div>
						</div>
					</div>
					</div>
				</div>
				<div class="copyright-area">
					<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 text-center text-lg-left pd-l-0">
						<div class="copyright-text text-white pd-b-10">
							Powered </i> by <a href="https://goldenhillsindia.com" target="_blank" class="mail-tag">Aishva Financial
							Services Private Limited</a> | Copyright &copy;
							<script>document.write(new Date().getFullYear());</script> All rights reserved
							| Investment Adviser SEBI Regn. Nos: INA200015103 | Data feed provided by C-MOTS Internet Technologies Pvt
							Ltd.
						</div>
						</div>
			
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="portfolioNameModal" class="modal">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title">Name your portfolio</h4>
	                    <p class="responsemsg"></p>
	                </div>
	                <div class="modal-body text-center" style="color:black">
	                    <input type="text" class="form-control portName" id="portName" placeholder="Portfolio Name">
	                    <p class="text-warning "><small>Please complete this action to create portfolio</small></p>
	                </div>
	                <div class="modal-footer text-center">
	                    <input type="button" class="btn btn-default  closeport" data-dismiss="modal"
	                        value="Cancel">
	                    <input type="button" class="btn btn-default saveport" value="Create" style="background-color:#5627D8;color:white" >
	                </div>
	            </div>
	        </div>
		</div>

		<a href="#startover" style="display: none;" class="startpage btn-success" data-toggle="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i> <span>Clone Portfolio</span></a>
		<!-- Error Detection  Modal HTML -->
		 <div id="startover" class="modal">
			 <div class="modal-dialog">
				 <div class="modal-content">
					<div class="modal-header text-center pd-t-20 pd-b-20" style="color:black">
						<h4 class="text-danger">No Stocks</h4>
					</div>
						 <div class="modal-body text-center pd-t-20 pd-b-20" style="color:black">
							 <p class="text-danger tx-16">No Stocks were filtered, as per default filters. Please change index/filters.</p>
						 </div>
						 <div class="modal-footer text-center pd-b-0 pd-t-0">
							<a class="startwizard btn btn-primary startover-modal" href="#" data-toggle="tab"
							data-step="1"  onclick="location.reload(true)" >Start Over</a>
						 </div>
				 </div>
			 </div>
		 </div>
		 <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-titles mg-t-10 text-center"><label>Wizard</label></h3>
              <div class="modal-body pd-t-0">
				<p>
					Wizard is an automated tool used to identify investment opportunities (sectors and stocks) using
					Fundamental, Technical and Quant filters. Number of stocks in each sector and market cap category are
					presented. As we progress through the filters, we can identify the preferred sectors and the preferred
					stocks in those sectors. It can be used to identify where the momentum is in the market. For the stocks that
					clear the filters, Year-to-date portfolio performance metrics are presented to understand the volatility,
					drawdown, allocation and Sharpe ratio of the portfolio compared to benchmark indices Nifty 50, Nifty Midcap
					100 and Nifty Smallcap 100.
				</p>
				</div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
	</body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="{% static 'js/table_sort.js' %}"></script>
		
	<script>
		 $(document).ready(function() { 
            var url = $("#video-div").attr('src'); 
            $("#videoModal").on('hide.bs.modal', function() { 
                $("#video-div").attr('src', ''); 
            }); 
            $("#videoModal").on('show.bs.modal', function() { 
                $("#video-div").attr('src', url); 
            }); 
        });
		if('{{symbol}}'=='$'){
			flag='en-US';
			$('.reformat').html('Market Cap (M)');
		}else{
			$('.reformat').html('Market Cap (Cr)');
			flag='hi-IN';
		}
		$('.all_data tr td:nth-child(5)').each(function() {
				$(this).html(parseFloat($(this).text()).toLocaleString(flag, { maximumFractionDigits: 0}))
		})
		   $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
		})
		$(document).on("click", ".banner-btn", function () {
            $('#videoModal').modal('show');
          
        })

	$(document).ready(function()
	{
		$('.se-pre-con').fadeOut();

	})
		$(document).on("change", ".marketindex", function () {
			var indexName=$(".marketindex option:selected").val();
			indexName = indexName.replace('&','pi72pi');
			window.location.href = "{% url 'portfolioCreationWizard' %}?index-name="+indexName;
			return false; 
		   });

		   $('.startover-modal').click(function(){
			   $('#startover').modal('hide');
			   $('.se-pre-con').fadeIn();
		   })
		var selectedIndex = '{{selectedIndex}}';
		selectedIndex = selectedIndex.replace('&amp;','&');
		if(selectedIndex)
		{
			$(".marketindex").val(selectedIndex);
			$('.first-step-selectall-p').html(selectedIndex)
		}
		else
		{
			console.log("Unable to set index in dropdown");
		}
	    $('.step2').hide();
	    $('.step3').hide();
	    $('.step4').hide();
	    $('.step5').hide();
	    $(function () {
	        $('#step2default').attr('checked', true);
	        $('.step2defaultradio').css('border', '2px solid orange');
	        $("#step2default-div").show();
	        $("#step2custom-div").hide();

	        $('#step4default').attr('checked', true);
	        $('.step4defaultradio').css('border', '2px solid orange');
	        $("#step4default-div").show();
	        $("#step4custom-div").hide();

	        $('#step6default').attr('checked', true);
	        $('.step6defaultradio').css('border', '2px solid orange');
	        $(" #step6default-div").show();
	        $("#step6custom-div").hide();

	    

	        $("input[name='step2chooseopt']").click(function () {
	            if ($("#step2default").is(":checked")) {
	                $("#step2default-div").show();
	                $("#step2custom-div").hide();
	                $('.step2defaultradio').css('border', '2px solid orange');
	                $('.step2customradio').css('border', 'none');
	                $('.step2selectallradio').css('border', 'none');


	            } else if ($("#step2custom").is(":checked")) {
	                $("#step2custom-div").show();
	                $("#step2default-div").hide();
	                $('.step2customradio').css('border', '2px solid orange')
	                $('.step2defaultradio').css('border', 'none');
	                $('.step2selectallradio').css('border', 'none');


	            } else {
	                $("#step2custom-div").hide();
	                $("#step2default-div").hide();
	                $('.step2selectallradio').css('border', '2px solid orange')
	                $('.step2defaultradio').css('border', 'none');
	                $('.step2customradio').css('border', 'none');

	            }
	        });

	        $("input[name='step4chooseopt']").click(function () {
	            if ($("#step4default").is(":checked")) {
	                $("#step4default-div").show();
	                $("#step4custom-div").hide();
	                $('.step4defaultradio').css('border', '2px solid orange');
	                $('.step4customradio').css('border', 'none');
	                $('.step4selectallradio').css('border', 'none');


	            } else if ($("#step4custom").is(":checked")) {
	                $("#step4custom-div").show();
	                $("#step4default-div").hide();
	                $('.step4customradio').css('border', '2px solid orange')
	                $('.step4defaultradio').css('border', 'none');
	                $('.step4selectallradio').css('border', 'none');

	            } else {
	                $("#step4custom-div").hide();
	                $("#step4default-div").hide();
	                $('.step4selectallradio').css('border', '2px solid orange')
	                $('.step4defaultradio').css('border', 'none');
	                $('.step4customradio').css('border', 'none');
	            }
	        });

	        $("input[name='step6chooseopt']").click(function () {
	            if ($("#step6default").is(":checked")) {
	                $("#step6default-div").show();
	                $("#step6custom-div").hide();
	                $('.step6defaultradio').css('border', '2px solid orange');
	                $('.step6customradio').css('border', 'none');
	                $('.step6selectallradio').css('border', 'none');

	            } else if ($("#step6custom").is(":checked")) {
	                $("#step6custom-div").show();
	                $("#step6default-div").hide();
	                $('.step6customradio').css('border', '2px solid orange')
	                $('.step6defaultradio').css('border', 'none');
	                $('.step6selectallradio').css('border', 'none');


	            } else {
	                $("#step6custom-div").hide();
	                $("#step6default-div").hide();
	                $('.step6selectallradio').css('border', '2px solid orange')
	                $('.step6defaultradio').css('border', 'none');
	                $('.step6customradio').css('border', 'none');
	            }
	        });

	        $('')
	    });

	    $(".radiolabel input[type='text']").keyup(function () {
	        var $this = $(this);
	        $this.val($this.val().replace(/[^-?\d.]/g, ''));
	    });
	
	    $('.closeport').on('click', function () {

	        $('#portfolioNameModal').hide();

	    })


	    $('.startwizard').on('click', function () {
	        document.getElementById("funderror").innerHTML = "";
	        document.getElementById("funderror2").innerHTML = "";
	        document.getElementById("funderror3").innerHTML = "";
	        var presentId = $(this).parents('.tab-pane').attr("id");
	        $('.' + presentId).removeClass('active');
	        $('.step1').addClass('active');
	        $('.step2').hide();
	        $('.step3').hide();
	        $('.step4').hide();
	        $('.step5').hide();
	        jQuery('.collapse').collapse('hide');
	        $('.fundamentalset').attr('disabled', false);
	        $('.technicalset').attr('disabled', false);
	        $('.aimlset').attr('disabled', false);



	    });


	    $('.next').on('click', function () {
	        var nextId = $(this).parents('.tab-pane').next().attr("id");
	        var presentId = $(this).parents('.tab-pane').attr("id");

	        if (presentId == 'step1') {
	            var valid = 1
	            if ($('input[name="step2chooseopt"]:checked').val() == 'custom') {
	                valid = 0;
	                $('#step2custom-div').find('input[type=text]').each(function () {
	                    if ($(this).val() != "") valid += 1;

	                });

	            }
	            if (valid) {
	                jQuery('.collapse').collapse('hide');

	                $('.' + presentId).removeClass('active')
	                $('.' + nextId).addClass('active')
	                $('.step2').show();
	                $('.step3').hide();
	                $('.step4').hide();
	                $('.step5').hide();
	                $('.fundamentalset').attr('disabled', true);
	            } else {
	                document.getElementById("funderror").innerHTML = "Please enter atleast one value";
	                return false
	            }
	        } else if (presentId == 'step2') {
	            var valid = 1
	            if ($('input[name="step4chooseopt"]:checked').val() == 'custom') {
	                valid = 0;
	                $('#step4custom-div').find('input[type=text]').each(function () {
	                    if ($(this).val() != "") valid += 1;

	                });

	            }
	            if (valid) {
	                jQuery('.collapse').collapse('hide');

	                $('.' + presentId).removeClass('active')
	                $('.' + nextId).addClass('active')
	                $('.step2').show();
	                $('.step3').show();
	                $('.step4').hide();
	                $('.step5').hide();
	                $('.technicalset').attr('disabled', true);
	            } else {
	                document.getElementById("funderror2").innerHTML = "Please enter atleast one value";
	                return false
	            }

	        } else if (presentId == 'step3') {
	            var valid = 1


	            if ($('input[name="step6chooseopt"]:checked').val() == 'custom') {
	                valid = 0;
	                if ($('.cust  input:checked').length > 0) {

	                    valid = 1
	                }
	            }
	            if (valid) {
	                jQuery('.collapse').collapse('hide');

	                $('.' + presentId).removeClass('active')
	                $('.' + nextId).addClass('active')

	                $('.step2').show();
	                $('.step3').show();
	                $('.step4').show();
	                $('.step5').hide();
	                $('.aimlset').attr('disabled', true);
	            } else {
	                document.getElementById("funderror3").innerHTML = "Please enter atleast one value";
	                return false
	            }

	        } else if (presentId == 'step4') {
	            jQuery('.collapse').collapse('hide');

	            $('.' + presentId).removeClass('active')
	            $('.' + nextId).addClass('active')
	            $('.step2').show();
	            $('.step3').show();
	            $('.step4').show();
	            $('.step5').show();
	        } else if (presentId == 'step5') {
	            jQuery('.collapse').collapse('hide');

	            $('.' + presentId).removeClass('active')
	            $('.' + nextId).addClass('active')
	            $('.step2').show();
	            $('.step3').show();
	            $('.step4').show();
	            $('.step5').show();
	        }
	        $('[href=#' + nextId + ']').tab('show');
	        return false;
	    })


	    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

	        var step = $(e.target).data('step');
	        var percent = (parseInt(step) / 5) * 100;

	        $('.progress-bar').css({
	            width: percent + '%'
	        });

	        $('.progress-bar').text("Step " + parseInt(step) + " of 5");
	        $(this).closest("li").addClass('active')
	    })
	    jQuery('.collapsebtn').click(function (e) {
	        jQuery('.collapse').collapse('hide');
	    });

	    $('.first').click(function () {
	        $('#myWizard a:first').tab('show')
	    });
	    $('#step1 .table tr td:nth-child(4)').each(function () {
	        $(this).html(parseFloat($(this).text()).toLocaleString(flag, {
	            maximumFractionDigits: 0
	        }));
	    })

	    $(document).on("click", ".fundwizard", function () {
	        var e = document.getElementsByName("step2chooseopt");
	        var fundoption = "";
	        for (i = 0; i < e.length; i++) {
	            if (e[i].checked)
	                fundoption = e[i].value;
	        }
	        var fundamentalfilters = [];
	        if (fundoption == "custom") {
	            var filters = {};
	            var pscore = document.getElementById("pscore").value;
	            var divyield = document.getElementById("dyield").value;
	            var roe = document.getElementById("roe").value;
	            if (pscore)
	                filters['Piotroski_Score'] = pscore;
	            if (divyield)
	                filters['Div_Yield'] = divyield;
	            if (roe)
	                filters['ROE'] = roe;
	            fundamentalfilters.push(filters);
	        } else if (fundoption == "default") {
	            var filters = {};
	            filters['Piotroski_Score'] = 5;
	            filters['Div_Yield'] = 0.10;
	            filters['ROE'] = 10;
	            fundamentalfilters.push(filters);
	        } else {
	            //fundoption == "selectall";
	            console.log('You have selected all bse stocks for fundamantal wizard!')
			}
			$('.se-pre-con').fadeIn(1);
	        $.ajax({
	            type: "POST",
	            url: "{% url 'fundaMentalWizardFiltering' %}",
	            dataType: 'json',
	            csrfmiddlewaretoken: "{{ csrf_token }}",
	            data: {
	                'fundamentalfilters': JSON.stringify(fundamentalfilters)
	            },
	            success: function (response) {
					if ((response.resMsg3).length != 0) {
						step_create_table(response.resMsg3, 'step2tbody')
						step_create_table(response.resMsg4, 'mktstep2tbody')
						var stocks = response.resMsg1;
						$('.step2stocks').html("<b> Total Stocks : " + stocks.length + "</b>")
						$('#FundamentalTable tr:not(:first)').remove();
						for (var i = 0; i < stocks.length; i++) {
							tr = $('<tr/>');
							tr.append("<td  class='company sticky-col first-col'>" + stocks[i]['fs_name'] + "</td>");
							tr.append("<td>" + stocks[i]['gics'] + "</td>");
							tr.append("<td>" + stocks[i]['market_cap_category'] + "</td>");
							tr.append("<td>" + parseFloat(stocks[i]['market_cap'])
								.toLocaleString(flag, {
									maximumFractionDigits: 0
								}) + "</td>");
							tr.append("<td>" + parseFloat(stocks[i]['price']).toLocaleString(flag, {
								maximumFractionDigits: 0
							}) + "</td>");
							$('#FundamentalTable').append(tr);
						}
						$('.se-pre-con').fadeOut(1);
					}
					else {
						$('.se-pre-con').fadeOut(1);
						$('#startover').modal('show');
					}

	            },
	            error: function (response) {
	                console.log("Error detected while applying fundamental wizard");
	            }
	        });
	        event.preventDefault();
	    });
	    $(document).on("click", ".company", function () {
	        var stockURL = "{% url 'StockInfoFromStockList' %}?stock-name=" + this.innerText;
	        window.open(stockURL, '_blank');
	        return false;
	    });
	    $(document).on("click", ".techwizard", function () {
	        var e = document.getElementsByName("step4chooseopt");
	        var techoption = "";
	        for (i = 0; i < e.length; i++) {
	            if (e[i].checked)
	                techoption = e[i].value;
	        }
	        var technicalfilters = [];
	        if (techoption == "custom") {
	            var filters = {};
	            var rsi = document.getElementById("rsi").value;
	            var _52wh = document.getElementById("52wh").value;
	            if (rsi)
	                filters['RSI'] = rsi;
	            if (_52wh)
	                filters['52wh'] = _52wh / 100;
	            technicalfilters.push(filters);
	        } else if (techoption == "default") {
	            var filters = {};
	            filters['RSI'] = 45;
	            filters['52wh'] = 0.7;
	            technicalfilters.push(filters);
	        } else {
	         
	            console.log('You have selected all fundamental stocks for technical wizard!')
			}
			$('.se-pre-con').fadeIn(1);
	        $.ajax({
	            type: "POST",
	            url: "{% url 'technicalWizardFiltering' %}",
	            dataType: 'json',
	            csrfmiddlewaretoken: "{{ csrf_token }}",
	            data: {
	                'technicalfilters': JSON.stringify(technicalfilters)
	            },
	            success: function (response) {
					if ((response.resMsg3).length != 0) {

						step_create_table(response.resMsg3, 'step3tbody')
						step_create_table(response.resMsg4, 'mktstep3tbody')
						var stocks = response.resMsg1;



						$('.step3stocks').html("<b> Total Stocks : " + stocks.length + "</b>")
						$('#technicalTable tr:not(:first)').remove();
						for (var i = 0; i < stocks.length; i++) {
							tr = $('<tr/>');
							tr.append("<td  class='company sticky-col first-col'>" + stocks[i]['fs_name'] + "</td>");
							tr.append("<td>" + stocks[i]['gics'] + "</td>");
							tr.append("<td>" + stocks[i]['market_cap_category'] + "</td>");
							tr.append("<td>" + parseFloat(stocks[i]['market_cap'])
								.toLocaleString(flag, {
									maximumFractionDigits: 0
								}) + "</td>");
							tr.append("<td>" + parseFloat(stocks[i]['price']).toLocaleString(flag, {
								maximumFractionDigits: 0
							}) + "</td>");
							$('#technicalTable').append(tr)


						}
						$('.se-pre-con').fadeOut(1);
					}
					else {
						$('.se-pre-con').fadeOut(1);
						$('#startover').modal('show');
					}
	            },
	            error: function (response) {
	                console.log("Error detected while applying technical wizard");
	            }
	        });
	        event.preventDefault();
	    });

	    $(document).on("click", ".aimlwizard", function () {
	        var e = document.getElementsByName("step6chooseopt");
	        var aimloption = "";
	        for (i = 0; i < e.length; i++) {
	            if (e[i].checked)
	                aimloption = e[i].value;
	        }
	        var aimlfilters = [];
	        if (aimloption == "custom") {
	            var filters = {};
	            var bottomtier = document.getElementById("bottomtier").checked;
	            var midtier = document.getElementById("midtier").checked;
	            var toptier = document.getElementById("toptier").checked;
	            filters['bottomtier'] = bottomtier;
	            filters['midtier'] = midtier;
	            filters['toptier'] = toptier;
	            aimlfilters.push(filters);
	        } else if (aimloption == "default") {
	            var filters = {};
	            filters['bottomtier'] = false;
	            filters['midtier'] = true;
	            filters['toptier'] = true;
	            aimlfilters.push(filters);
	        } else {
	       
	            console.log('You have selected all technical stocks for aiml wizard!')
			}
			$('.se-pre-con').fadeIn(1);
	        $.ajax({
	            type: "POST",
	            url: "{% url 'aiMLWizardFiltering' %}",
	            dataType: 'json',
	            csrfmiddlewaretoken: "{{ csrf_token }}",
	            data: {
	                'aimlfilters': JSON.stringify(aimlfilters)
	            },
	            success: function (response) {
					if ((response.resMsg3).length != 0) {
						step_create_table(response.resMsg3, 'step4tbody')
						$('.td_sectorcount').html((response.resMsg3).length)
						step_create_table(response.resMsg4, 'mktstep4tbody')
						var stocks = response.resMsg1;
						$('.step4stocks').html("<b> Total Stocks : " + stocks.length + "</b>")
						$('.td_stockcount').html(stocks.length)

						$('#aimlTable tr:not(:first)').remove();
						for (var i = 0; i < stocks.length; i++) {
							tr = $('<tr/>');
							tr.append("<td  class='company sticky-col first-col'> " + stocks[i]['fs_name'] + "</td>");
							tr.append("<td>" + stocks[i]['gics'] + "</td>");
							tr.append("<td>" + stocks[i]['market_cap_category'] + "</td>");
							tr.append("<td>" + parseFloat(stocks[i]['market_cap'])
								.toLocaleString(flag, {
									maximumFractionDigits: 0
								}) + "</td>");
							tr.append("<td>" + parseFloat(stocks[i]['price']).toLocaleString(flag, {
								maximumFractionDigits: 0
							}) + "</td>");
							$('#aimlTable').append(tr)

							// For Portfolio Summary table
							step_create_table(response.resMsg3, 'step5tbody')
							step_create_table(response.resMsg4, 'mktstep5tbody')
							$('.step5stocks').html("<b> Total Stocks : " + stocks.length + "</b>");


						}
						$('.se-pre-con').fadeOut(1);
					}
					else {
						$('.se-pre-con').fadeOut(1);
						$('#startover').modal('show');
					}
	            },
	            error: function (response) {
	                console.log("Error detected while applying technical wizard");
	            }
	        });
	        event.preventDefault();
	    });
	    $(document).on("click", ".wizardsummary", function () {
			$('.se-pre-con').fadeIn(1);
	        var aimlfilters = []
	        $.ajax({
	            type: "POST",
	            url: "{% url 'wizardPortfolioSummary' %}",
	            dataType: 'json',
	            csrfmiddlewaretoken: "{{ csrf_token }}",
	            data: {
	                'aimlfilters': JSON.stringify(aimlfilters)
	            },
	            success: function (json) {
	           
	                graph(json.output_cumulative_return)
	                create_table(json.table_data)
	                exposuregraphs(json.investment_output)
	                top10holdings(json.returns_by_sector)
					$('.se-pre-con').fadeOut(1);
	            },
	            error: function (response) {
	                console.log("Error detected while applying technical wizard");
	            }
	        });
	        event.preventDefault();
	    });
	    step_create_table({{ sectorwisestockscount | safe}}, 'step1tbody')
	    step_create_table({{marketcapwisestockscount | safe}}, 'mktstep1tbody')

	    function step_create_table(output, tbodyid) {
	        var tabledata = new Array();
	        for (i = 0; i < output.length; i++) {
	            tabledata.push(output[i])
	        }
	    
	        $("#" + tbodyid).empty();
	        var table = document.getElementById(tbodyid);
	        var columnCount = tabledata[0].length;
	      
	        var row = table.insertRow(0);
	        for (var i = 0; i < tabledata.length; i++) {
	            row = table.insertRow(-1);
	            for (var j = 0; j < columnCount; j++) {
	                var cell = row.insertCell(-1);
	                cell.innerHTML = tabledata[i][j];
	            }
	        }
	        if (tbodyid == 'mktstep1tbody') {
	            $(".tables_div2").css({
	                'height': (($(".tables_div1").height() + 21) + 'px')
	            });
	            $(".tables_div3").css({
	                'height': (($(".tables_div1").height() + 21) + 'px')
	            });
	            $(".tables_div4").css({
	                'height': (($(".tables_div1").height() + 21) + 'px')
	            });
	            $(".tables_div5").css({
	                'height': (($(".tables_div1").height() + 21) + 'px')
	            });

	        }
	    }



	    
	    var symbol = '{{symbol|safe}}'

	    function create_table(output) {
	        var tabledata = new Array();
	        for (i = 0; i < output.length; i++) {
	            tabledata.push([output[i][0], (output[i][1] * 100).toFixed(1) + '%', (output[i][2] * 100).toFixed(1) +
	                '%', (output[i][3]).toFixed(2), (output[i][4] * 100).toFixed(1) + '%'
	            ])
	        }

	        $("#tbody").empty();
	        var table = document.getElementById("tbody");
	        var columnCount = tabledata[0].length;
	        var row = table.insertRow(0);
	        for (var i = 0; i < tabledata.length; i++) {
	            row = table.insertRow(-1);
	            for (var j = 0; j < columnCount; j++) {
	                var cell = row.insertCell(-1);
	                cell.innerHTML = tabledata[i][j];
	            }
	        }
	    }

	    function graph(output) {
	        var graph_data = output
	        for (i = 0; i < graph_data.length; i++) {
	            for (j = 0; j < graph_data[i]['data'].length; j++) {
	                var temp = graph_data[i]['data'][j][0]
	                var date = new Date(temp)
	                var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
	                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
	                graph_data[i]['data'][j][0] = now_utc;
	            }
	        }
	        temp = graph_data
	        if (graph_data[0]['data'].length > 0) {
	            Highcharts.chart('Portfolio_Returns', {
	                chart: {
	                    type: 'line',
	                    backgroundColor: "transparent",
	                    height: 300,

	                },
	                title: {
	                    text: ' ',
	                    style: {
	                        color: '#1C273C',
	                        fontSize:'13px',
	                        fontWeight: 'normal'
	                    },
	                },
	                credits: {
	                    enabled: false
	                },
	                exporting: {
	                    buttons: {
	                        contextButton: {
	                            enabled: false
	                        },

	                    }
	                },
	                xAxis: {
	                    type: 'datetime',
	                    dateTimeLabelFormats: { // don't display the dummy year
	                        day: '%e-%b-%y',
	                        week: '%e-%b-%y',
	                        month: '%b-%y',
	                        year: '%Y'

	                    },
	                    labels: {
	                        style: {
	                            color: '#031b4e',
	                            fontSize:'13px',
	                            fontWeight: 'normal'
	                        },
	                    },
	                    tickLength: 6,
	                    tickWidth: 1,
	                    min: graph_data[0]['data'][0][0],
	                    startOnTick: true,
	                    endOnTick: false,

	                },
	                yAxis: {
	                    gridLineWidth: 0,
	                    lineWidth: 1,
	                    tickLength: 6,
	                    tickWidth: 1,
	                    labels: {
	                        formatter: function () {
	                            return (this.value * 100).toFixed(0) + '%';
	                        },
	                        style: {
	                            color: '#031b4e',
	                            fontSize:'13px',
	                            fontWeight: 'normal'
	                        },
	                    },
	                    title: {
	                        text: "Return",
	                        style: {
	                            color: '#031b4e',
	                            fontSize:'13px',
	                            fontWeight: 'normal'
	                        },
	                    },
	                    plotLines: [{
	                        color: '#F2F2F2',
	                        width: 2,
	                        value: 0
	                    }]
	                },
	              
					tooltip: {
                                  
                                    formatter: function() {
                                            var s = [];
                                            var count=0
                                            $.each(this.points, function(i, point) {
                                                if(count==0)
                                                s.push( 'Date: <b>'+ Highcharts.dateFormat('%d-%b-%Y',new Date(point.x))+'</b><br>');
                                                    count=1
                                            
                                          
                                                s.push( point.series.name +' : <b>'+
                                                    (point.y*100).toFixed(1) +'%</b><br>');
                                           
                                           
                                            
                                            });
                                            
                                            return s.join('<br>');
                                        },
                                    shared: true,
                                    style: {
                                        color: '#031b4e',
                                        fontSize:'13px',
                                        fontWeight: 'normal'
                                    },
                                }, 
	                plotOptions: {
	                    series: {
	                        marker: {
	                            enabled: false,
	                            symbol: "circle"
	                        }
	                    }
	                },
	                legend: {
	                    itemStyle: {
	                        color: '#031B4E',
	                        fontSize: '14px'

	                    },
	                },
	                series: graph_data,

	            });
	        }
	    }

	    function exposuregraphs(investment_output) {
	        var pointPadding = -1; //Change to see correct results.
	        var pointWidth = 30; //Change to see correct results.
	        var heightOffset = 55; //Guestimate

	        // var updateLegend = function (chart) {
	        //     var center = chart.series[0].center;

	        //     chart.legend.group.attr({
	        //         translateX: center[0] + center[2] / 1.6
	        //     });
	        // }

	        //#Exposure charts
	        Highcharts.chart('Exposure', {
	            chart: {
	                type: 'pie',
	                height: 350,
	                backgroundColor: 'transparent',
	         
	            },
	            credits: {
	                enabled: false
	            },
	            exporting: {
	                buttons: {
	                    contextButton: {
	                        enabled: false
	                    },
	                }
	            },
	            title: {
	                style: {
	                    color: '#031b4e',
	                    fontSize: '12px',
	                    fontWeight: 'bold',
	                },
	                text: null,
	            

	            },
	          
	            tooltip: {
	                formatter: function () {
	                    return 'Sector : <b>' + this.point.name + '</b><br>' + 'Investment Amount(%) : ' +
	                        '<b>' + (this.point.y).toFixed(2) + '%</b><br>' + 'Investment Amount : <b>{{symbol|safe}}' + (
	                            this.point.Exposure).toFixed(2) + '<br></b>';
	                }
	            },
	            plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    innerSize: "60%",
	                    size: '130',
	                    depth: "45%",
	                    showInLegend: true,
	                    dataLabels: {
	                        enabled: false,
	                        formatter: function () {
	                            return '<b>' + this.point.name + '</b><br>';
	                        },
	                    }
	                },
	            },
	            series: [{
	                name: 'By Sector',
	                data: investment_output,
	            }],
	        })
	    }


	    function top10holdings(returns_output) {
	        var top10_returns = returns_output;
	        var top10_tabledata = new Array();
	        for (i = 0; i < top10_returns.length; i++) {

	            top10_tabledata.push([top10_returns[i][0], symbol + parseFloat(top10_returns[i][1]).toLocaleString(flag, {
	                    maximumFractionDigits: 0
	                }), (top10_returns[i][3] * 100).toFixed(1) + '%', symbol + parseFloat(top10_returns[i][2])
	                .toLocaleString(flag, {
	                    maximumFractionDigits: 0
	                })
	            ])

	        }
			create_table1('tbody2', top10_tabledata);
			$('.summary_table2 tbody tr td:nth-child(1)').each(function(){
		
			$(this).addClass('sticky-col first-col company')
		})
	    }

	    function create_table1(tbody_id, tabledata) {

	        $("#" + tbody_id).empty();

	        var table = document.getElementById(tbody_id);

	        //Get the count of columns.
	        var columnCount = tabledata[0].length;
	        var row = table.insertRow(0);
	        //Add the data rows.
	        for (var i = 0; i < tabledata.length; i++) {
	            row = table.insertRow(-1);
	            for (var j = 0; j < columnCount; j++) {
	                var cell = row.insertCell(-1);
	                cell.innerHTML = tabledata[i][j];
	            }
	        }
		}
		
	    $(document).on("click", ".saveportfolio", function () {
	        $(".nameModal").click();
	        $('#portfolioNameModal').css('display', 'block')
	        $(".saveport").click(function () {
	            var portfolioName = document.getElementById("portName").value;
	            if (/([^\s])/.test(portfolioName)) {
					$('.se-pre-con').fadeIn(1);
	                $.ajax({
	                    type: "POST",
	                    url: "{% url 'saveWizardPortfolio'%}",
	                    dataType: 'json',
	                    csrfmiddlewaretoken: "{{ csrf_token }}",
	                    data: {
	                        'portfolioName': portfolioName,
	                    },
	                    success: function (response) {
							  $('.se-pre-con').fadeOut(1);
	                        if (response.res_Status) {
	                            $('.responsemsg').css('color', 'green');
	                            $('.responsemsg').html(response.res_Msg);
	                            localStorage.setItem("{{username}}", response.portfolio);
	                            setTimeout(function () {
	                                $(".closeport").click();
	                                location.href = "{% url 'indexpage' %}";
	                            }, 1000);
	                        } else {
	                            $('.responsemsg').css('color', 'red');
	                            $('.responsemsg').html(response.res_Msg);
	                        }
	                    },
	                    error: function (response) {
	                        console.log("Error detected while creating wizard portfolio");
	                    }
	                });
	                event.preventDefault();
	            } else {
	                $('.responsemsg').css('color', 'red');
	                $('.responsemsg').html('Please choose name to your portfolio');
	            }
	        });

		});
		
		function checkWidth() {
         
            if ($(window).width() < 580) {
                $('.table thead th:nth-child(1)').removeClass('sticky-col first-col');
                $('.table tbody td:nth-child(1)').removeClass('sticky-col first-col');
            } 
            else{
                $('.table thead th:nth-child(1)').addClass('sticky-col first-col');
                $('.table tbody td:nth-child(1)').addClass('sticky-col first-col');
            }        }
		checkWidth();       
		$(window).resize(checkWidth);
	
	
		$(window).on('load', function () {
			$("#startover").modal({
				backdrop: 'static',
				keyboard: false,
				show: false // added property here
			});
		});

		$("body").css({visibility:'visible'})
		$(document).on("click", ".newslettersubscribe", function () {
        var email = document.getElementById("newsletteremail");
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if (filter.test(email.value)) {
        $.ajax({
                type: "POST",
                url: "{% url 'newsLetterSubscription' %}",
                dataType : 'json',
                csrfmiddlewaretoken: "{{ csrf_token }}",
                data: {'email': email.value},
                success:function (response) {
                  $('.newsletterres').css('color', 'yellow');
                  $('.newsletterres').html(response.msg);
                },
                error:function (response){
                  $('.newsletterres').css('color', 'red');
                  $('.newsletterres').html(response.msg);
                }
              });
        }else{
        email.focus;
        $('.newsletterres').css('color', 'red');
        $('.newsletterres').html("Please provide valid email!");
        return false;
        }
     });
	 $("body").css({visibility:'visible'});

	</script>
</html>
{% endblock %}
