{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>  
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <style>
      .subnav-content ,.country_dropdown{
    display: none!important
}
  </style>
  </head>
<body>
    <div class="container grid-lg section-gap mg-t-50">
        <div class="cards">
            <div class="card-body">
             <div class="columns">
                 <div class="column col-12">
                     <h1 class="title">
                         Relative Strength of Sectors
                     </h1> 
                     <div class="block-blog_description">
                         <div class="rich-text">
                             <p><br></p>
                            <div id="g1"></div><p></p>
                             <p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since August 2020, Nifty Midcap100 has been outperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g2"></div><p></p>
                             <p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since June 2020, Nifty Smallcap100 has been outperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g3"></div><p></p>
                             <p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since April 2020, Nifty Auto has been outperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g4"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since March 2020, Nifty Bank has been underperforming Nifty 50, but it is showing relative strength around 1.9<br></p>
                             <hr><p></p><div id="g5"></div>
                             <p></p><p><b>Relative Weakness compared to Nifty 50</b></p><p>Nifty Energy has been underperforming Nifty 50 since October 2020, after 5 months of consolidation</p><p></p><hr>
                             <p></p>
                             <div id="g6"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since mid-March 2020, Nifty Financial Services has been underperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g7"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since mid-April 2020, Nifty FMCG has been underperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g8"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since June 2020, Nifty Infrastructure has been underperforming Nifty 50, it is showing relative strength around 0.26</p>
                             <p></p><hr><p></p>
                             <div id="g9"></div>
                             <p></p><p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since December 2019, Nifty IT has been outperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g10"></div><p></p>
                             <p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since August 2020, Nifty Media has been outperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g11"></div><p></p>
                             <p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since May 2020, Nifty Metal has been outperforming Nifty 50, it is showing relative strength around 0.19</p>
                             <p></p><hr><p></p>
                             <div id="g12"></div><p></p>
                             <p><b>Relative Strength</b> <b>compared to Nifty 50</b></p><p>Since March 2020, Nifty Pharma has been outperforming Nifty 50</p><p></p><hr>
                             <p></p>
                             <div id="g13"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since March 2020, Nifty Private Bank has been underperforming Nifty 50, but it is showing relative strength around 1.04</p>
                             <p></p><hr><p></p>
                             <div id="g14"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since January 2020, Nifty PSU Bank has been underperforming Nifty 50</p><p></p><hr><p></p>
                             <div id="g15"></div><p></p>
                             <p><b>Relative Weakness compared to Nifty 50</b></p><p>Since February 2020, Nifty Realty has been underperforming Nifty 50, but it is showing relative strength around 0.018</p>
                            </div></div>
                     <p></p>
     
                                
                 </div>
             </div>
            </div>
            </div>
     </div>
     <script src="https://code.highcharts.com/highcharts.js"></script>
     <script>
        function date_format(normal_date) 
        {
            for (var i = 0; i < normal_date['data'].length; i++) {
                var temp = normal_date['data'][i][0]
                var date = new Date(temp)
                var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                normal_date['data'][i][0] = now_utc;
            }

            return normal_date
        }
        var output={{output|safe}};
        var title={{title|safe}}
        var average={{average|safe}};
        var pos_1sd={{pos_1sd|safe}};
        var pos_2sd={{pos_2sd|safe}};
        var pos_3sd={{pos_3sd|safe}};
        var neg_1sd={{neg_1sd|safe}};
        var neg_2sd={{neg_2sd|safe}};
        var neg_3sd={{neg_3sd|safe}};
        var minimum={{minimum|safe}};
        var maximum={{maximum|safe}};

        for(var i=0;i<average.length;i++)
        {
            if(i==14)
                 graph(date_format(output[i]),"g"+(i+1),average[i],pos_1sd[i],pos_2sd[i],pos_3sd[i],neg_1sd[i],neg_2sd[i],neg_3sd[i],title[i],minimum[i],maximum[i],3);
            else
                 graph(date_format(output[i]),"g"+(i+1),average[i],pos_1sd[i],pos_2sd[i],pos_3sd[i],neg_1sd[i],neg_2sd[i],neg_3sd[i],title[i],minimum[i],maximum[i],2);
            
        }
       
        function graph(graph_data, chart_name, average, _1st, _2nd, _3rd, _N1st, _N2nd, _N3rd,title,min,max,round) 
        {
         
            var average = (parseFloat(average).toFixed(round));
            var _1st = (parseFloat(_1st).toFixed(round));
            var _2nd = (parseFloat(_2nd).toFixed(round));
            var _3rd = (parseFloat(_3rd).toFixed(round));
            var _N1st = (parseFloat(_N1st).toFixed(round));
            var _N2nd = (parseFloat(_N2nd).toFixed(round));
            var _N3rd = (parseFloat(_N3rd)).toFixed(round);
     

            Highcharts.chart(chart_name, {
                chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                    height: 300,
                    spacingTop:20,

                },
                title: {
                    text: title,
                    style: {
                            color: '#5627d8',
                            fontSize:'14px',
                            fontWeight: 'bold',

                        },
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'

                    },
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                    },
                    tickLength: 6,
                    tickWidth: 1,

                    startOnTick: true,
                },
                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                   min:min,max:max,
                    labels: {
                        formatter: function () {
                           
                            return (this.value).toFixed(round);
                        },
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                    },
                    title: {
                        text: null,
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'bold'
                        },
                    },
                    plotLines: [{
                        color: 'green',
                        dashStyle: "Dash",
                        width: 2,zIndex:10,
                        value: average,
                        label: {
                            text: 'μ = ' + average,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: '#5627D8',
                        dashStyle: "Dash",
                        width: 1,
                        value: _1st,zIndex:10,
                        label: {
                            text: 'μ+σ = ' + _1st,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'black',
                        dashStyle: "Dash",
                        width: 1,
                        value: _2nd,zIndex:10,
                        label: {
                            text: 'μ+2σ = ' + _2nd,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'red',
                        dashStyle: "Dash",
                        width: 1,
                        value: _3rd,zIndex:10,
                        label: {
                            text: 'μ+3σ = ' + _3rd,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: '#5627D8',
                        dashStyle: "Dash",
                        width: 1,
                        value: _N1st,
                        zIndex:10,
                        label: {
                            text: 'μ-σ = ' + _N1st,
                            align: 'left',
                            y: -5, /*moves label down*/
                        
                        }
                    },
                    {
                        color: 'black',
                        dashStyle: "Dash",
                        width: 1,zIndex:10,
                        value: _N2nd,
                        label: {
                            text: 'μ-2σ = ' + _N2nd,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'red',
                        dashStyle: "Dash",
                        width: 1,zIndex:10,
                        value: _N3rd,
                        label: {
                            text: 'μ-3σ = ' + _N3rd,
                            align: 'left',
                            y: -5, /*moves label down*/
                            
                        }
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return "Date : " + '<b>' +
                            Highcharts.dateFormat('%d-%b-%Y',
                                new Date(this.x)) + '<br></b>'
                            + this.series.name + " : " + '<b>' + (this.point.y).toFixed(round) + '</b>';
                    },
                    style: {
                        color: '#031b4e',
                        fontSize:'13px',
                        fontWeight: 'normal'
                    },
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    }
                },
                legend:
                {
                    itemStyle: {
                        color: '#031B4E',
                        fontSize: '15px'

                    },
                },
                legend: {
                    enabled: false
                },
                series: [graph_data],

            });

        }
        $("body").css({visibility:'visible'})
     </script>
</body>

</html>
{% endblock %}