
{% block content %}

<script>
    $(document).ready(function() {
        $("html").on("contextmenu",function(){
           return false;
        }); 
    }); 
     
    </script>
<body oncontextmenu="return false">
    <embed src="{{page.book_file.url}}#toolbar=0" type="application/pdf"   height="100%" width="100%" style="pointer-events:none;">
</body>
<script>$("body").css({visibility:'visible'})</script>

   
{% endblock %}
