{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}
{% block content %}
<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" /> 
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>Reports - 72PI</title>
        <meta name="keywords" content="72pireports, stockreports, 72piresearchreports, researchreports, 72piresearch, 72pistockresearch, stockresearch"/>
        <meta name="description" content="Research reports provided by 72pi research team on selected list of companies, to help subscribers in understanding their business model" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.2">
        <link rel="stylesheet" href="{% static 'css/reports.css' %}?v=1.2">
    </head>
    <body>
        <div class="col-lg-12 section-gap main researchmain-div">
            <div class="row page-title  mg-t-20">
				<div class="col-sm-6">
					<p class="text-white tx-20">
                        <a href="{% url 'home' %}" style="color:black"><i class="fa fa-home"></i></a>
                        <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        Products <i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>Reports & Insights<i class="fa fa-angle-double-right mg-l-5 mg-r-5"></i>
                        <a href="{% url 'researchview' %}" class="nav-sub-link">Reports</a>
                    </p>
				</div>
				<div class="row col-sm-6 justify-content-end">
						<div class="description_btn">
							<button>How to Use this Page ?</button>
						</div>
						
				</div>
			</div>
            <div class="disclaimer-text">
                <p class="text-italic">
                    Our Website is a financial data, modeling and content aggregator portal for equities market in India and in USA. We do not provide personalised recommendations or views on our Website as to whether a stock or investment approach is suited to the financial needs of a specific individual. Past performance is not necessarily a guide to future performance.
                </p>
            </div>
            <div class="row mg-t-20 pd-l0 pd-r-50">
                <div class="col-sm-5">
                    <h2 style="font-size:35px">Reports</h2>
                </div>
                <div class="col-sm-7 mg-t-10 mg-sm-t-0 mg-lg-t-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <select id="sort-select" class="float-right form-control">
                                <option value="company">Company</option>
                                <option value="sector">Sector</option>
                            </select>
                        </div>
                        <div class="col-sm-8 mb-3 mg-t-10 mg-sm-t-0 mg-lg-t-0">
                            <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()"
                                placeholder="Search by Company">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mg-t-10 pd-l-0 pd-r-0" id="myItems">
                {% if documents %}
                {% for document in documents %}
                <div class="col-sm-6 researchdiv">
                    <div class="card mg-b-20">
                        <div class="card-body" style="padding-bottom:2px;padding-top:10px;">
                            <div class="row">
                                <div class="col-sm-4 text-center imgdiv">
                                    {% image document.image fill-140x100 as tmp_image %}
                                    <img src="{{ tmp_image.url }}" alt="Image not availabale"
                                        class="logo-img mg-t-5 img-fluid">
                                </div>
                                <div class="col-sm-8 pd-t-10 contentdiv">
                                    <h4 class="card-title mg-l-10"><a href="{{document.get_url}}"
                                            target="_blank">{{ document.title }}</a></h4>
                                    <h6 class="sector-title mg-t-5 mg-l-10">{{ document.sector }}</h6>
                                    <div class="col-sm-12 mg-t-10">
                                        <div class="row  flexdiv">
                                            <div class="col-sm-8">
                                                <p class="text-muted text-italic tx-12 text-uppercase">
                                                    {{ document.posted_at|date:"d-M-Y h:i A"}}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="{{document.get_url}}" target="_blank" class=" text-warning"><i
                                                        class="fa fa-download"></i> PDF</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h3 class="text-center">Coming Soon.....</h3>
                {% endif %}
            </div>
        </div>
         <div id="description" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <h3 class="modal-title mg-t-10 text-center"><label>Reports</label></h3>
              <div class="modal-body">
         <p>
            Research reports are provided on selected list of companies, for understanding the company’s business model, their relative valuation against peers and the technical view of that stock as of that date. We also list the strengths, risks/challenges, investment highlights, company outlook, industry outlook, financial and trading data of the company; this data helps in understanding a company and its stock performance. 
         </p>     </div>
              <div class="modal-footer">
              <input type="button" class="btn btn-default btn-danger closeexist" data-dismiss="modal" value="Close">
              </div>
            </div>
            </div>
        </div>
    </body>
    <script>
      $(document).on("click", ".description_btn", function () {
            $('#description').modal('show');
          
        })
        $('#sort-select').change(function () {
                    $("#myFilter").attr("placeholder", 'Search by ' + $("#sort-select option:selected").text());

                })

                function myFunction() {

                    var input, filter, cards, cardContainer, h5, title, i;
                    input = document.getElementById("myFilter");
                    filter = input.value.toUpperCase();
                    cardContainer = document.getElementById("myItems");
                    cards = cardContainer.getElementsByClassName("card");
                    for (i = 0; i < cards.length; i++) {
                        if ($("#sort-select option:selected").text() == 'Company')
                            title = cards[i].querySelector(".card-body h4.card-title");
                        else
                            title = cards[i].querySelector(".card-body .sector-title");
                        if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                            cards[i].style.display = "";
                        } else {
                            cards[i].style.display = "none";
                        }
                    }
                }

                $("body").css({visibility:'visible'})
    </script>
</html> 
{% endblock %}
