{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static 'css/off_beat_street.css' %}?v=1.2">
<title>Offbeat - 72PI</title>
<meta charset="UTF-8" /> 
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
</head>
   <body>
    <div class="container section-gap mg-t-50 newsdiv">
        <div class="cards">
            <div class="card-body">
                <div class="columns">
                    <div class="column col-12">
                        <a href="{{page.get_url}}" target="_blank">
                            {{ page.title }}
                        <a>
                        <div class="posted">{{ page.posted_at }}</div>    
                        <p class="newscontent text-justify mg-t-20">
                            {{ page.short_description }}
                        </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>$("body").css({visibility:'visible'})</script>
   </body>
{% endblock %}