{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <style>
      .subnav-content ,.country_dropdown{
    display: none!important
}
  </style>
  </head>
<body>
    <div class="container grid-lg section-gap mg-t-50">
        <div class="cards">
            <div class="card-body">
             <div class="columns">
                    <h2 class="title"></h2>
                 <div class="column col-12">
                    <div id="trailing12M"></div>
                    <p class="graph-text mg-t-10"></p>
                 </div>
            </div>
            </div>
     </div>
     </div>
     <script src="https://code.highcharts.com/highcharts.js"></script>
     <script>
         if(localStorage.getItem("country-val")=='US')
         {
             $('.title').html('Trailing 12M PE of S&P 500');
             $('.graph-text').html('');
         }else{
            $('.title').html('Trailing 12M PE of Nifty 50');
            $('.graph-text').html('<p>The above chart shows trailing 12M PE of NIFTY 50 for the last 15 years. In general, Nifty has rallied after trading close to its 15x and has corrected after trading closing to 30x. Currently nifty is trading at 34.3x trailing 12M PE multiple, which shows that the earnings are not reflective of current market levels. We <b>”remain cautious”</b> at these levels<br></p>')

         }
        function date_format(normal_date) 
        {
            console.log(normal_date)
            for (var i = 0; i < normal_date['data'].length; i++) {
                var temp = normal_date['data'][i][0]
                var date = new Date(temp)
                var now_utc = Date.UTC(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(),
                    date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
                normal_date['data'][i][0] = now_utc;
            }

            return normal_date
        }
        var output={{output|safe}};
        var average={{average|safe}};
        var pos_1sd={{pos_1sd|safe}};
        var pos_2sd={{pos_2sd|safe}};
        var pos_3sd={{pos_3sd|safe}};
        var neg_1sd={{neg_1sd|safe}};
        var neg_2sd={{neg_2sd|safe}};
        var neg_3sd={{neg_3sd|safe}};
        var minimum={{minimum|safe}};
        var maximum={{maximum|safe}};
        graph(date_format(output),'trailing12M',average,pos_1sd,pos_2sd,pos_3sd,neg_1sd,neg_2sd,neg_3sd,minimum,maximum);
    
       
        function graph(graph_data, chart_name, average, _1st, _2nd, _3rd, _N1st, _N2nd, _N3rd,min,max) 
        {
         
            var average = (parseFloat(average).toFixed(1));
            var _1st = (parseFloat(_1st).toFixed(1));
            var _2nd = (parseFloat(_2nd).toFixed(1));
            var _3rd = (parseFloat(_3rd).toFixed(1));
            var _N1st = (parseFloat(_N1st).toFixed(1));
            var _N2nd = (parseFloat(_N2nd).toFixed(1));
            var _N3rd = (parseFloat(_N3rd)).toFixed(1);
     
          
            Highcharts.chart(chart_name, {
                chart: {
                    type: 'line',
                    backgroundColor: "transparent",
                    height: 300,
                    spacingTop:20,
                

                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    buttons: {
                        contextButton: {
                            enabled: false
                        },

                    }
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e-%b-%y',
                        week: '%e-%b-%y',
                        month: '%b-%y',
                        year: '%Y'

                    },
                    labels: {
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                    },
                    tickLength: 6,
                    tickWidth: 1,

                    startOnTick: true,
                },
                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 1,
                    tickLength: 6,
                    tickWidth: 1,
                    min:min,max:max,
                    labels: {
                        formatter: function () {
                           
                            return (this.value).toFixed(1);
                        },
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'normal'
                        },
                    },
                    title: {
                        text: null,
                        style: {
                            color: '#031b4e',
                            fontSize:'13px',
                            fontWeight: 'bold'
                        },
                    },
                    plotLines: [{
                        color: 'green',
                        dashStyle: "Dash",
                        width: 2,zIndex:10,
                        value: average,
                        label: {
                            text: 'μ = ' + average,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: '#5627D8',
                        dashStyle: "Dash",
                        width: 1,
                        value: _1st,zIndex:10,
                        label: {
                            text: 'μ+σ = ' + _1st,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'black',
                        dashStyle: "Dash",
                        width: 1,
                        value: _2nd,zIndex:10,
                        label: {
                            text: 'μ+2σ = ' + _2nd,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'red',
                        dashStyle: "Dash",
                        width: 1,
                        value: _3rd,zIndex:10,
                        label: {
                            text: 'μ+3σ = ' + _3rd,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: '#5627D8',
                        dashStyle: "Dash",
                        width: 1,
                        value: _N1st,
                        zIndex:10,
                        label: {
                            text: 'μ-σ = ' + _N1st,
                            align: 'left',
                            y: -5, /*moves label down*/
                        
                        }
                    },
                    {
                        color: 'black',
                        dashStyle: "Dash",
                        width: 1,zIndex:10,
                        value: _N2nd,
                        label: {
                            text: 'μ-2σ = ' + _N2nd,
                            align: 'left',
                            y: -5, /*moves label down*/
                        }
                    },
                    {
                        color: 'red',
                        dashStyle: "Dash",
                        width: 1,zIndex:10,
                        value: _N3rd,
                        label: {
                            text: 'μ-3σ = ' + _N3rd,
                            align: 'left',
                            y: -5, /*moves label down*/
                            
                        }
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return "Date : " + '<b>' +
                            Highcharts.dateFormat('%d-%b-%Y',
                                new Date(this.x)) + '<br></b>'
                            + this.series.name + " : " + '<b>' + (this.point.y).toFixed(1) + '</b>';
                    },
                    style: {
                        color: '#031b4e',
                        fontSize:'13px',
                        fontWeight: 'normal'
                    },
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false,
                            symbol: "circle"
                        }
                    }
                },
                legend:
                {
                    itemStyle: {
                        color: '#031B4E',
                        fontSize: '15px'

                    },
                },
                legend: {
                    enabled: false
                },
                series: [graph_data],

            });

        }
        $("body").css({visibility:'visible'})
     </script>
</body>

</html>
{% endblock %}