{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
<meta charset="UTF-8" /> 
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">
<style>
    .rich-text p,.rich-text ul li{
        color:#383838 !important;
        text-align:justify !important;
        font-weight:400 !important;
        
    }
    .title{
        color:#252729 !important;
    }
    .posted{
        color:#999999 !important;
        font-size:10px !important;
    }
    .analytics-header,
    .signals-header,
    .stocklist{
        display: none;
    }
    body{
        line-height:1.8em;
    }
    hr{
        border-bottom:2px solid black !important;
        margin-top:2rem !important;
        margin-bottom:2rem !important;

    }
   .rich-text p{
        font-size:18px !important;
    }
    .subnav-content{display:none !important}
</style>
    <body>
        <div class="container grid-lg section-gap mg-t-50">
           <div class="cards">
           <div class="card-body">
            <div class="columns">
                <div class="column col-12">
                    <h1 class="title">
                        {{ page.title }}
                    </h1>
                    <div class="posted">{{ page.posted_at }}</div>
                    <p class="content">
                        {{ page.body }}
                    </p>
                </div>
            </div>
           </div>
           </div>
        </div>
    </body>
    <script>$("body").css({visibility:'visible'})</script>

    
{% endblock %}