{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<style>
   .basefooter{
        display: none;
      }
      body{
        background-color:#EEEFF4 !important;
        line-height:1.8em;
        color:black
      }
</style>

  <link rel="stylesheet" href="{% static 'css/base-styles.css' %}"> 
  

  <body>
      <div class="col-lg-4 section-gap" style="margin:3% auto 0% auto;">
        <div class="card">
          <div class="card-headers text-center ">
            <div class="card-title tx-24 pd-t-20">{% trans "Password Reset" %}</div>
            <hr class="mg-b-0 mg-t-0">
          </div>

          <div class="card-body login-card-body mg-t-10">
            {% if user.is_authenticated %}
            {% user_display user as user_display %}
            <p class="text-warning"><strong>{% trans "Warning" %}:</strong> {% blocktrans %}Hey, you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
            {% endif %}
            <p>{% trans "To reset your password, please enter the registered email address." %}</p>
            <p>{% trans "Will send you an email with instructions." %}</p><br>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" target="_top">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="col-md-12 col-sm-12 col-xl-12  mg-b-10  d-flex ">
                    <div class="col-md-12 col-xl-12 logincol pd-l-0 pd-r-0">
                        <button type="submit" class="btn btn-primary icons float-left">{% trans 'Reset Password' %}</button>
                   
                        <a href="{% url 'wagtailadmin_login' %}"  class="btn btn-danger icons float-right">Cancel</a>
                   </div>
                 </div>
            </form>
    
            <p class="footertxt">{% blocktrans %}Please contact us if you have any trouble in resetting your password.{% endblocktrans %}</p>
         
    
          </div>
        </div>
      </div>
      <footer class="footer-area section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-12">
              <div class="single-footer-widget">
                <h6>Features</h6>
                <ul class="footer-nav">
                  <li><a href="{% url 'portfolioconstruction' %}" target="_blank">Portfolio Construction</a></li>
                  <li><a href="{% url 'portfolioanalyzer' %}" target="_blank">Portfolio Analyzer</a></li>
                  <li><a href="{% url 'portfoliooptimization' %}" target="_blank">Portfolio Optimization</a></li>
                  <li><a href="{% url 'mlprediction' %}" target="_blank">ML Prediction</a></li>
                </ul>
              </div>
            </div>
            
            <div class="col-lg-5 col-md-12">
              <div class="single-footer-widget newsletter">
                <h6>Newsletter</h6>
                <!-- <p>You can trust us. we only send promo offers, not a single spam.</p> -->
                <div id="mc_embed_signup">
                  <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
  
                    <div class="form-group row" style="width: 100%">
                      <div class="col-lg-8 col-md-12">
                        <input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                        <div style="position: absolute; left: -5000px;">
                          <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>
                      </div> 
                    
                      <div class="col-lg-4 col-md-12 pd-l-0">
                       
  
                        <button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
                      </div> 
                    </div>	
                   
                    <div class="info"></div>
                  </form>
                </div>		
              </div>
            </div>
            <div class="col-lg-2 col-md-12">
              <div class="single-footer-widget">
                <h6>Help</h6>
                <ul class="footer-nav">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Report a bug</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3  col-md-12">
              <div class="single-footer-widget mail-chimp">
                <h6 class="mb-20 text-center">Product Owner</h6>
                <div class="text-center">
                    <img  height="150px" width="200px" src="{% static 'images/Founder.jpg' %}"/>
                </div>
                <div class="text-center mg-t-10">
                   <a href="https://in.linkedin.com/in/suresh-raju-4966282" target="_blank" style="color:white;font-size:12px">Connect me</a>
  
                </div>
                
              </div>
            </div>
          </div>
          <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <!-- Privacy Policy Trust & Security About Us Contact Us -->
              Powered </i> by <a href="https://goldenhillsindia.com" target="_blank">Goldenhills Capital India Pvt Ltd</a> | Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="footer-ul col-lg-8 col-sm-12 ">
              <ul class="d-flex text-white">  
                <li>
                  <a href="{% url 'privacypolicy' %}" target="_blank">Privacy Policy</a>
                </li>
                <li>
                  <a href="">Trust & Security</a>
                </li>
                <li>
                  <a href="">Terms of Use</a>
                  
                </li>
                <li>
                  <a href="{% url 'aboutus' %}" target="_blank">About Us</a>
                </li>
              </ul>
            </div>
  
            
          </div>
        </div>
      </footer>
  </body>



<script>
    $('.password_reset input').addClass('form-control')
    $('.password_reset input').addClass('new-login-input')
    $('#id_email').focus();

</script>

{% endblock %}