{% load socialaccount %}
<style>
  .li{display:inline-block !important;  margin:auto 10px !important;
 }
  #google {
    color: #fff;
    background-color: #dd4b39 !important;
}
#facebook{
  color: #fff;
    background-color: #3b5998 !important;
}
.btn{
  padding:.375rem .75rem !important;
  min-height:28px !important;
}
</style>
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}

<li class="li">
 <a title="{{brand.name}}" class="socialaccount_provider {{provider.id}} {{brand.id}} " href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">
    <i class="fa fa-google"></i>&nbsp;&nbsp;{{brand.name}}
  </a>
</li>
{% endfor %}
{% endif %}
<li class="li">
  <a title="{{provider.name}}"class="socialaccount_provider {{provider.id}} mg-b-10 btn icon bg1 " 
  href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" id="{{provider.id}}">
  <i class="fa fa-{{provider.id}} pr-1"></i>
  {{provider.name}}
  </a>
</li>
{% endfor %}

