<!DOCTYPE html>
<html>

<body>
  <span style="opacity: 0;display:none;"> {{ randomness }} </span>
  <div bgcolor="#F5F5F5"
    style="margin:0px;background-color:#f5f5f5;font-family:Helvetica,Arial,sans-serif;line-height:125%;font-size:16px;color:#000000;padding:0px">


    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="background-color:#f5f5f5">
      <tbody>
        <tr>
          <td align="center">
            <table cellspacing="0" cellpadding="0" border="0" width="724" align="center"
              style="border-width:0 12px 0 12px;border-style:solid;border-color:#f5f5f5">
              <tbody>
                <tr>
                  <td>
                    <table
                      style="font-size:16px;font-family:Helvetica,Arial,sans-serif;color:#000000;background-color:#f5f5f5;line-height:125%"
                      cellspacing="0" cellpadding="0" bgcolor="#F5F5F5" width="100%">

                      <tbody>

                        <tr>
                          <td align="center" valign="top">
                            <table cellpadding="0" cellspacing="0" width="100%"
                              style="background-color:#ffffff;min-width:100%;border:0px solid none">
                              <tbody>
                                <tr>
                                  <td>

                                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                      style="min-width:100%">
                                      <tbody>
                                        <tr bgcolor="#5313FE" width="100%" valign="middle"
                                          style="background-position:center;background-size:cover;background-repeat:no-repeat">
                                          <td style="width:70%">
                                            <div>
                                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                      <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              style="font-weight:normal;line-height:35px;font-family:Arial,Helvetica,sans-serf;color:#2854a1;text-align:center;white-space:normal;margin:auto 1px;">
                                                              <div
                                                                id="m_6607463693493766480m_139663537664482359overlayHealineText05ff226527-e4e6-4b47-9d04-8b71f89937bd">

                                                                <div style="text-align:center">
                                                                  <div color="#ffffff"
                                                                    style="color:#ffffff;  display: table;">
                                                                    <p
                                                                      style="font-size:30px;font-weight:bold;vertical-align:middle;text-align:center">
                                                                      Our Knowledge and Expertise is Yours with 72PI
                                                                    </p>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>

                                          </td>
                                          <td style="width:30%">
                                            <div>
                                              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                  <tr>
                                                    <td>
                                                      <table width="100%" border="0" cellpadding="0" cellspacing="0" valign="middle">
                                                        <tbody>
                                                          <tr>
                                                            <td
                                                              style="font-weight:normal;line-height:35px;font-family:Arial,Helvetica,sans-serf;color:#2854a1;text-align:center;white-space:normal;margin:auto 1px;">
                                                              <div
                                                                id="m_6607463693493766480m_139663537664482359overlayHealineText05ff226527-e4e6-4b47-9d04-8b71f89937bd">
                                                                <div style="text-align:right;padding-right:20px">
                                                                  <div color="#ffffff"
                                                                    style="color:#ffffff;display: table;">
                                                                    <a href="https://www.72pi.ai/" target="_blank">
                                                                      <img
                                                                      src="https://www.72pi.ai/static/homepage/img/Transparent1.png"
                                                                        width="135"
                                                                        style="padding-left:40px;vertical-align: middle;"/>
                                                                    </a>

                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>

                                          </td>

                                        </tr>
                                      </tbody>
                                    </table>

                                  </td>
                                </tr>
                                <tr>
                                  <td style="margin-top:5%;padding:3% 5% 2.5% 5%;font-family:Helvetica,Arial,sans-serif"
                                    align="left">
                                    <span style="font-size:22px;line-height:42px;color:#000000;font-weight:bold">
                                      Portfolio Up 41% in 5 months from Jun 1 to Oct 30, 2020
                                    </span>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" width="100%"
                              style="background-color:#ffffff;min-width:100%;border:0px solid none">
                              <tbody>
                                <tr>
                                  <td style="padding:0% 5% 2.5% 5%;font-family:Helvetica,Arial,sans-serif" align="left">
                                    <span style="font-size:14px;line-height:20px;color:#000000;font-weight:normal">
                                      Top signals from 72pi.ai that produced the highest returns:
                                      <br><br>
                                      <span>Laurus Labs +241% </span><br>

                                      <span>Tata Elxsi +43% </span><br>

                                      <span>Reliance Industries +41% </span><br>

                                      <span>Dr Lal Pathlabs +29% </span><br>

                                      <span>Kotak Mahindra Bank +24%</span>
                                      <br><br>
                                      72Pi.ai is an online website designed to provide our subscribers with investment
                                      signals. Research and tools that are used by institutional clients are packaged
                                      into this product to empower individual's investing success.
                                      <br><br>

                                      <ul
                                        style="margin:0;padding:0px 25px 0px 25px!important;font-family:Helvetica,Arial,sans-serif">
                                        <li
                                          style="padding-bottom:20px!important;font-family:Helvetica,Arial,sans-serif">

                                          Sharing our portfolio and its performance along with an array of quantitative,
                                          fundamental and technical insights.
                                        </li>
                                        <li
                                          style="padding-bottom:20px!important;font-family:Helvetica,Arial,sans-serif">
                                          Our portfolio analytics toolbox helps your create, analyse, optimize and
                                          rebalance investment portfolios to address your unique investment goals and
                                          risk profile with an aim to target superior risk-adjusted returns across
                                          market cycles.
                                        </li>
                                      </ul>
                                      <div style="font-weight: bold;font-size:16px;color:#5313FE">
                                        Register for a free newsletter and get the 30-day free trial access to our
                                        product.
                                      </div>
                                      <div style="margin-top:15px;text-align: center;font-weight: bold;font-size:16px;color:#5313FE">
                                        Visit <a href="https://www.72pi.ai/" target="_blank"
                                          style="color:orange;text-decoration:none;font-style:italic"> www.72pi.ai </a>
                                          today.
                                      </div>

                                    </span>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="left" valign="top" style="padding:0% 0%">
                    <table cellpadding="0" cellspacing="0" width="100%" style="background-color:#f5f5f5;min-width:100%">
                      <tbody>
                        <tr>
                          <td style="padding:0% 0%">
                            <table cellpadding="0" cellspacing="0" align="center">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding:2.5% 0% 2.5%">
                                    <table style="display:inline-block">
                                      <tbody>
                                        <tr>
                                          <td style="padding:0px 10px">
                                            <a style="font-size:1px" href="https://www.facebook.com/72pisignals/"
                                              target="_blank">
                                              <img
                                                src="https://ci4.googleusercontent.com/proxy/Jn-xxsnZK6pEnKMxpoJ5nWCask1jK9_spHM6UrrlXkk8cSEYGdEPm5Ca2Gvz7Ijw1HHFS51c8-lQK-y-1vjjOph-NDyMtMcwdviIsiDrxCPYffmMBiBYyLN2g7RrscWOfYGQEs8p-d-9LipezDxb47cfAkpwwDMDyvs2vXFh9jcLJaS-WV0a0a4ZDDOMnbgskkwbOAqSHdE6wFKvgB7AnxvoYJoi=s0-d-e1-ft#https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-misc.s3.amazonaws.com/mailspin/prod/03_18_2020_19_35_00_FB.png"
                                                alt="Facebook" width="8" height="auto"
                                                style="display:block;width:8px;height:auto" class="CToWUd"></a>
                                          </td>
                                          <td style="padding:0px 10px">
                                            <a style="font-size:1px" href="https://twitter.com/72pisignals"
                                              target="_blank">
                                              <img
                                                src="https://ci5.googleusercontent.com/proxy/srFKc1xniLSHz9WBHibElDY6rGHdf4DrjIdEjdZgJ0KAcf-_I3btCkv-DTCJVeQ35VtDzxIGhbN85IwFE7B6Uex_DPBg0bscq-qjATL9fVQZA-9OfAnFpGHicRHF6NDCeJynKXAHOv1eZ3svek4Doz9ApSfc-yEA_x-aXYLp8b2Vb37JY9MjlWp2vkfuuGcn5xNryYHOM8Wo9gA28YrY958lhXSJ=s0-d-e1-ft#https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-misc.s3.amazonaws.com/mailspin/prod/03_18_2020_19_34_30_TW.png"
                                                alt="Twitter" width="21" height="auto"
                                                style="display:block;width:21px;height:auto" class="CToWUd"></a>
                                          </td>
                                          <td style="padding:0px 10px">
                                            <a style="font-size:1px" href="https://www.instagram.com/72pisignals/"
                                              target="_blank">
                                              <img
                                                src="https://ci3.googleusercontent.com/proxy/08TtqQi5cAlerHKjaI5K2j6KyszgWnRVlRqu849Hg1j4qFcubGo3uQ0rfWwxL73qzz5XqfEkTtron4sEGEGG8YOeCOkVOE2KczszmG9z6TegtJe7FpJevC2RiBVuNn4JeDE5PN-FumuXVW2gk8ypcIChDE8bNTjD153bmahOzjyIcDpvIsAUj1g7NNWQWvaqzy4ly5LYwRQUnpNhMN5kFfsL0SpN=s0-d-e1-ft#https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-misc.s3.amazonaws.com/mailspin/prod/03_18_2020_19_33_42_IG.png"
                                                alt="Instagram" width="20" height="auto"
                                                style="display:block;width:20px;height:auto" class="CToWUd"></a>
                                          </td>
                                          <td style="padding:0px 10px">
                                            <a style="font-size:1px" href="https://www.linkedin.com/company/72pi/"
                                              target="_blank"><img
                                                src="https://ci4.googleusercontent.com/proxy/6XlKQtAQiZcpAch5Vkopv0AgSAHybSAgiBXy1bfUcY5exAkXdmOGKuYDbJxKjRws_atu-N8Tnscw0a-nRy7aWrrS62klZDzOAoj5V_3tXwRCTsGCdxDG9SUUB5AlZGSZSsojJvSZoT-xPc2wHLwILpcy_CrdpX0tvUY3j4Hyg_HqcnHeeKbqacQ3T9n_aiXy6vR3LpfaLurLmD2kkK6nUlnOps5k=s0-d-e1-ft#https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-misc.s3.amazonaws.com/mailspin/prod/03_18_2020_19_34_15_LN.png"
                                                alt="LinkedIn" width="18" height="auto"
                                                style="display:block;width:18px;height:auto" class="CToWUd"></a>
                                          </td>

                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                        </tr>
                        <tr>
                          <td style="padding:0% 0% 5%;text-align:center;font-family:Helvetica,Arial,sans-serif"
                            align="center">
                            <div style="font-family:Helvetica,Arial,sans-serif">
                              <div
                                style="text-align:center;margin-bottom:30px;word-break:break-word;border-collapse:collapse!important;vertical-align:top;color:#505050;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0px 0 5px 0;padding:0;line-height:155%">
                                <a href="https://72pi.ai/aboutus/" style="text-decoration:none" target="_blank">
                                  About Us
                                </a>
                                <span style="font-weight:bold;display:inline-block;margin:0 7px;color:#d8deeb">|</span>
                                <a href="https://72pi.ai/customer/contactus/" style="text-decoration:none"
                                  target="_blank">
                                  Contact Us
                                </a>
                                <span style="font-weight:bold;display:inline-block;margin:0 7px;color:#d8deeb">|</span>
                                <a href="https://72pi.ai/privacy-policy/" style="text-decoration:none" target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=http:///privacy-policy/&amp;source=gmail&amp;ust=1604149031038000&amp;usg=AFQjCNEvFTfpip0V8AL_b2yfOlYCvCFXYg">
                                  Privacy Policy
                                </a>
                                <span style="font-weight:bold;display:inline-block;margin:0 7px;color:#d8deeb">|</span>
                                <a href="#" style="text-decoration:none" target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=http:///privacy-policy/&amp;source=gmail&amp;ust=1604149031038000&amp;usg=AFQjCNEvFTfpip0V8AL_b2yfOlYCvCFXYg">
                                 Unsubscribe
                                </a>


                              </div>
                              <br>
                              <br>
                              <span style="font-size:12px;line-height:16px;color:#000000;font-weight:normal">
                                <p style="text-align:justify;">
                                  Disclaimer: Data provided through <a href="https://72pi.ai/"
                                    target="_blank">www.72pi.ai</a> is for information purposes only and should not be
                                  construed as an offer or solicitation of an offer to buy or sell any securities.
                                  Information and discussions made available through <a href="https://72pi.ai/"
                                    target="_blank">www.72pi.ai</a> contain forward looking statements that involve
                                  risks, uncertainties and assumptions that could cause actual results to differ
                                  materially from those contemplated by the relevant forward-looking statement.
                                </p>
                                <br>

                                <div
                                  style="text-align:center;word-break:break-word;border-collapse:collapse!important;vertical-align:top;color:#39455d;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:19px;font-size:12px;margin:0px 0 5px 0;padding:0;line-height:155%;margin-bottom:15px">
                                  Powered by <a href="https://goldenhillsindia.com" style="text-decoration:none"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://goldenhillsindia.com&amp;source=gmail&amp;ust=1604149031038000&amp;usg=AFQjCNHPWeyaff9McI4lAikEiAic6TA1UA">Aishva
                                    Financial Services Private Limited </a> | Copyright © All rights reserved

                                </div>
                                <div
                                  style="text-align:center;word-break:break-word;border-collapse:collapse!important;vertical-align:top;color:#39455d;font-family:Helvetica,Arial,sans-serif;font-weight:normal;line-height:19px;font-size:12px;margin:0px 0 5px 0;padding:0;line-height:155%;margin-bottom:15px">
                                  Call us : +91-8919293838 , Mail us : <a href="mailto:info@72pi.ai">info@72pi.ai</a>

                                </div>
                              </span>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <span style="opacity: 0;display:none;"> {{ randomness }} </span>
</body>

</html>