{% load static %}
{% autoescape off %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        body {
            background-color: white !important;
        }

        .base-header {
            display: block !important
        }

        .analytics-header,
        .subnav-content,
        .mainfooter{
            display: none !important
        }
     
    </style>
</head>

<body>
 <div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa;padding-bottom:20px">
        
      <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"  style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
       <tbody><tr>
                        <td align="center" valign="top"  style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%"  style="border-collapse:collapse;border:0;max-width:600px!important">
                                <tbody>
                                 
                                <tr>
                                    <td valign="top"  style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
        <tbody>
            <tr>
                <td valign="top" style="padding-top:9px">       
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_3348764347423078889mcnTextContentContainer">
                        <tbody>
                              <tr>            <td style="border-bottom:5px solid orange;padding:5px;text-align:center;color:#74669F"><h1>72PI Account Invitation</h1></td> </tr>
                              <tr>
                            <td valign="top" style="padding-top:20px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
    
                               Hello,<br>
                                    <br>
                                    You ({{ email }}) have been invited to join 72PI.<br>
                                    <br>
                                    
                                    If you'd like to join, please click on join now option<br>
                                    <br>
                                    <a href="{{ invite_url }}" class="btn btn-info btn-sm" target="_blank">Join Now</a><br>
                                    <br>
                                    (or) copy and paste the below url in the browser
                                    <a href="{{ invite_url }}" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank">{{ invite_url }}</a>
                                    <br>
                                    <span style="color:#EA6B66"><strong>Note - Your account will be created with the email, to which you have received invitation.
                                          This invite is valid for 72 hrs.</strong></span><br>
                                    
                                    <br>
                                    <b style="color:green">Happy Investing!</b><br>
                                    
                                    <br>
                                    Thanks<br>
                                    Team - 72PI
                            </td>
                        </tr>
                    </tbody></table>
                            
    
                            
                </td>
            </tr>
        </tbody>
    </table></td>
                                </tr>
                                
                            </tbody>
                        </table>
                            
                            
                        </td>
                    </tr>
      </tbody>
      </table>

</div>
                   
</body>
</html>
{% endautoescape %}